<div style = "line-height:22px">
	<div class = "row">
		<div class="col-md-1"><label>Name</label></div>
		<div class ="col-md-11">{{ plan.name }}</div>
	</div>    
	<div class = "row">
		<div class="col-md-1"><label>Id</label></div>
		<div class ="col-md-11">{{ plan.planid }}</div>
	</div>
	
	{% if types|length > 1 %}
	<div class="row">
		<div class="col-md-12">
			This plan exists for the following types: {{ types|join(', ') }}<br>
			Do you want to delete the plan or do you want to remove it from {{ session.type }}? 
		</div>
	</div>
	{% endif %}
</div>

{% if types|length > 1 %}
<button type="button" class="btn btn-primary" onclick="removeplantype({{ plan.id }},'{{session.type}}');">Remove from {{ session.type }}</button>
{% endif %}
<button type ="button" class ="btn btn-danger" onclick = "deleteplan({{ plan.id }});">Delete</button>