{% set planAllow = "smartPlanAllowed" %}
{% if session.type == "smartenroll" %}
{% set planAllow = "smartEnrollAllowed" %}
{% elseif session.type == "powerview" %}
{% set planAllow = "powerviewAllowed" %}
{% elseif session.type == "irio" %}
{% set planAllow = "irioAllowed" %}
{% endif %}
{% if page == "planlist" %}
{% set tablename = "plans" %}
{% else %}
{% set tablename = page %}
{% endif %}
{% set extraparameters = ',page:"' ~ page ~ '"' %}
{% set lengthMenu = "[100, 200, 500]" %}
{% if session.roleType != "adviser" %}

    {% if writeable %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlist.html.twig' %}
        
        {% set header = '<th>Id</th><th>Plan Name</th><th>Plan ID</th><th>Date Created</th><th>Actions</th>' %}
        {% set extracolumndefs = ',{ 
					"targets": [4],
					"orderable": false,
					"className": "action-buttons text-right"
				}' %}
    {% else %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistreadonly.html.twig' %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th>" %}
    {% endif %}


{% else %}
    {% if writeable %}
        {% set unsearchableArray = [4] %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th><th>Access</th>" %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistadviser.html.twig' %}
    {% else %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th>" %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistadviser.html.twig' %}
    {% endif %}    
{% endif %}

{% set types = "a.id,a.name,a.planid,a.createdDate" %}
{% set url = path('_plans_search_datatables') %}

{% if writeable  and session.roleType != "adviser" and page == "planlist" %}
    <p>Click the edit button on a plan below to edit that plan, or <a href="javascript:addplan()">Add a New Plan</a> to setup a new plan for use with SmartPlan Enterprise!</p>
    <hr/>
{% endif %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<button class ="btn btn-primary" onclick = "exportToCsv()">Export to csv</button>
<script>
    function exportToCsv()
    {
        var page = "{{path('_plans_plansList_csv')}}";
        $.post(page).done(function(data)
        {
            downloadCsv(data,"planslist.csv");
        });
    }
</script>


