<div id ="addplandiv">
	{% if associate == 1 and writeable %}
		<button button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#recordkeeperPlansList" onclick="updateplans()">Choose your plan</button>
		<br /><br />
		<div id="recordkeeperPlansList" class="collapse">
			<img style="margin:0 auto;" src = "{{ asset('images/load-icon.gif') }}" id = "load-icon" />
			{% set tablename = "recordkeeperPlans" %}
			{% set table = "recordkeeperPlans" %}
			{% set findby = "a.userid" %}
			{% set findbyvalues = session.userid %}
			{% if currentaccount.connectionType starts with  "SRT" %}
			{% set types = "a.id,a.name,a.plantypecd" %}
			{% else %}
			{% set types = "a.id,a.name,a.planid" %}
			{% endif %}

			{% set template = 'PlansPlansBundle:PlansHome:Search/recordkeeperplans.html.twig' %}
			{% set header = "<th>Id</th><th>Name</th><th>Plan Id</th>" %}

			{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
		</div>
	{% endif %}
	<form id="addplanform">
	<div class="form-group">
		<label for="planname">Plan Name</label>
		<input {% if associate == 1  or not writeable %}readonly{% endif %} type="text" value="{{ name|default('') }}" class="form-control"  data-bv-notempty placeholder="Plan Name" id="planname" name="name">
	</div>
	<div class="form-group">
		<label for="displayedplanid">Plan ID</label>
		<input {% if associate == 1  or not writeable %}readonly{% endif %} type="text" value="{{ planid|default('') }}" class="form-control" data-bv-notempty placeholder="Plan ID" id="planid" name="planid" style="display:none" >
		<input {% if associate == 1  or not writeable %}readonly{% endif %} type="text" value="{{ planid|default('') }}" class="form-control" data-bv-notempty placeholder="Plan ID" id="displayedplanid" name="displayedplanid" onkeyup="$('#planid').val(this.value);" onpaste="$('#planid').val(this.value);" onchange="$('#planid').val(this.value);">
	</div>
	<input type="text" id="plantypecd" name="plantypecd" value="" style="display:none" />
	<input type="hidden" id="doAssociate" name="doAssociate" value="0">
	<button type="submit" class="btn btn-success">{{ button_text|default('Save') }}</button>
	</form>
</div>
<script>
var loadedplans = 0;
function updateplans()
{
	if (loadedplans == 0)
	{
		$('#recordkeeperPlansContainer').hide();
		loadedplans = 1;
		
		if ("{{ currentaccount.connectionType }}".indexOf("SRT") == 0) {
			var recordkeeperurl = "{{ path('_recordkeepers_srt_update_plans') }}";
		}
		else if ("{{ currentaccount.connectionType }}" == "Relius") {
			var recordkeeperurl = "{{ path('recordkeepers_relius_update_plans') }}";
		}
		else if ("{{ currentaccount.connectionType }}" == "ExpertPlan") {
			var recordkeeperurl = "{{ path('_recordkeepers_expert_update_plans') }}";
		}
		else if ("{{ currentaccount.connectionType }}" == "Envisage") {
			var recordkeeperurl = "{{ path('_recordkeepers_envisage_update_plans') }}";
		}
		if (recordkeeperurl) {
			$.ajax(
			{
				type: "POST",
				url: recordkeeperurl
			})
			.done(function( msg ) 
			{
				restartTablerecordkeeperPlans();
				$('#load-icon').hide();
				$('#recordkeeperPlansContainer').show();
			});
		}
	}
}

function selectplan(planname, planid, plantypecd) {
	$('#planname').val(planname);
	$('#planid').val(planid);
	$('#plantypecd').val(plantypecd);
	$("#recordkeeperPlansList").collapse("hide"); 
	{% if currentaccount.connectionType starts with "SRT" or currentaccount.connectionType == "Envisage" %}
	$('#displayedplanid').val(plantypecd);
	{% else %}
	$('#displayedplanid').val(planid);
	{% endif %}
	$('#doAssociate').val("1");
}
</script>