{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Fiduciary Report'})) }}
{% set types = "a.id,a.name,a.partnerid,a.planid" %}
{% set findby = "a.userid,^a.deleted" %}
{% set findbyvalues = userid ~",0" %}
{% set table = "plans" %}
{% set tablename = table %}
{% set header = "<th>Id</th><th>Name</th><th>Partner Id</th><th>Planid</th><th>Actions</th>" %} 

{% set template = 'AdminStatsAdminStatsBundle:FiduciaryReport:Search/planlist.html.twig' %}
<p>Start Date: <input type="text" id="start-picker"> End Date: <input type="text" id="end-picker"></p>
<br>

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<script>
$('#start-picker').datepicker();
$('#end-picker').datepicker();
function viewStats(planid,type)
{   
   
    if ($('#start-picker').val() != "" && $('#end-picker').val() != "")
    {
        
        var querystring = "start=" + $('#start-picker').val() + "&end=" + $('#end-picker').val() + "&planid=" + planid;
        if (type == "html")
        ajaxModal('{{ path('_adminstats_FiduciaryReport_report') }}?' + querystring,'Fiduciary Report','large'); 
        if (type == "csv")
        window.location = "{{ path('_adminstats_FiduciaryReport_csv') }}?" + querystring;
        if (type == "pdf")
        window.location = "{{ path('_adminstats_FiduciaryReport_pdf') }}?" + querystring;
        if (type == "email")
        {
            querystring = querystring +"&emails=" + $("#emailList").val();
            $.get("{{ path('_adminstats_FiduciaryReport_email') }}?" + querystring , function( data ) 
            {
                
                showalert("emailSentAlert");
            });
        }
        if (type == "emailForm")
        ajaxModal('{{ path('_adminstats_FiduciaryReport_email_form') }}?' + querystring,'Sent email');
        //window.location = "{{ path('_adminstats_FiduciaryReport_email') }}?" + querystring;    
    }
    else
    modalMessage("Date must be filled");
}
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
