<img src ="{{ stats.plan.providerLogoImage }}" style ="max-width:100%; display:inline !important;" />
<br/><br/>
<div class="stats-wrapper" style="text-align:center; font-family:helvetica; overflow-y: scroll;">
<p><b>Plan: {{stats.planName}}</b></p>
<p>From: {{stats.start}}    To: {{stats.end}}</p>
</div>
{% for stat in stats.data %}
<div class="stat-container" style="padding-bottom:15px; border-radius:5px;  margin-bottom:10px; border: 1px solid {{stats.reportsStylesHeader}};font-family:helvetica;">
    <div style="background-color:{{stats.reportsStylesHeader}}; z-index:-10; padding:10px; color: {{stats.reportsStylesFont}}; text-align: center;"> <div style = "text-align:left;display:inline-block;width:50%">{{ stat.participant.name }}</div><div style = "text-align:right;display:inline-block;width:49%">Enrolled on: {{ stat.participant.enrollmentDate | default("") }}</div></div>
    <div style="padding:10px">
<table width ="100%" cellspacing ="0" cellpadding ="0" class="table table-striped" id = "reporting{{ stat.id }}" style="background-color:#fff; margin:0px; font-size: 10px;">
    <thead>
        <tr>
            {% for header in stats.header %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in stat.stats %}
        <tr class="fiduciary-alt">
            <td>{{ row.date }}</td>
            <td>{{ row.time }}</td>
            <td> {{ row.videoPlayed }} </td>
            <td>{{ row.playDuration }}</td>
            <td>{{ row.videoLength }}</td>
            <td>{{ row.percentageViewed }}%</td>
        </tr>
        {% endfor %}
    </tbody>     
</table>
    </div>
</div>
    <script>       

$("#reporting{{ stat.id }}").dataTable(
{
"dom": 'rt',
paging:false

});


</script>
{% endfor %}