    #vwise-video {
        min-height: 0 !important;
    }

    #vwise-grey-overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(00, 00, 00, 0.5);
        width: 400%;
        height: 200%;
        z-index: 100;
        transform: translateX(-5%);
    }

    #rollover-overlay{
        display: block;
        position: absolute;
        background: transparent;
        top: 50%;
        left: 50%;
        width: 100%;
        min-height: 50%;
        max-width: 1560px;
        margin-left: -50%; /*Half the value of width to center div*/
        margin-top: -50%;
        z-index: 200;
    }

    #vwise-rollover-modal-inner .card {
        border: 2px solid #3e4249 !important;
    }

    #vwise-rollover-modal-inner .card .card-body {
        min-height: 400px;
    }

    .vwise-close{
        position: absolute;
        right: 30px;
        background: url({{ absolute_url(asset('w/img/close.png')) }}) center right no-repeat;
        background-size: contain;
        line-height: 30px;
        font-size: 120px;
        color: rgba(74,74,74,0.6);
        letter-spacing: 4px;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 10000;
        font-weight: unset !important;
        text-shadow: unset !important;
        opacity: unset !important;
        transform: translate(100%,-100%);
    }

    .white {
        position: absolute;
        right: 30px;
        background: url({{ absolute_url(asset('w/img/close_white.png')) }}) center right no-repeat;
        background-size: contain;
        line-height: 30px;
        font-size: 120px;
        color: rgba(74,74,74,0.6);
        letter-spacing: 4px;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 10000;
        font-weight: unset !important;
        text-shadow: unset !important;
        opacity: unset !important;
        transform: translate(100%,-100%);
    }

    #vwise-rollover-modal-inner .btn-rollover, .btn-rollover:hover {
        color: #e6e6e6;
        background-color: #2c5c9d;
        border-color: #2c5c9d;
    }

    #vwise-rollover-modal-inner .equal {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    #vwise-rollover-modal-inner div[class*='col-'] {
        flex:1 1 auto;
        display: flex;
    }
    #vwise-rollover-modal-inner .panel {
        flex:1 0 100%;
        padding-bottom: 100px;
        position: relative;
    }

    #vwise-rollover-modal-inner .bottom-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-40%);

    }

    #vwise-rollover-modal-inner .absInput {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-150%);

    }

    #vwise-rollover-modal-inner .rolloverPhoneNumber{
        font-size: 29px;
        color: #2c5c9d;
        font-weight: bold;
    }

    #vwise-rollover-modal-inner .rolloverDetails {
        font-size: 18px;
        color: #939393;
        font-weight: 500;
    }

    #vwise-rollover-modal-inner input {
        margin: 0 auto;
        text-align: center;
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:80%;
        border:none;
        border-bottom:1px solid #757575;

    }

    #vwise-rollover-modal-inner .text-center {
        text-align: center;
    }

    #vwise-rollover-modal-inner .title {
        padding-top:15px;
        font-size: 1.17em;
        font-weight: bold;
    }

    @media all and (max-width: 1079px) {
        #vwise-rollover-modal-inner .desktopContent {
            display: none;
        }
        #rollover-overlay{
            min-height: 700px;
            margin-top: 0;

        }
    }

    @media all and (min-width: 1080px) {
        #vwise-rollover-modal-inner .mobileContent {
            display: none;
        }
    }

    #vwise-rollover-modal-inner .nav-tabs > li, .nav-pills > li {
        float:none !important;
        display:inline-block !important;
        *display:inline !important; /* ie7 fix */
        zoom:1 !important; /* hasLayout ie7 trigger */
    }

    #vwise-rollover-modal-inner .nav-tabs {
        text-align:center !important;
    }

    #vwise-rollover-modal-inner .nav {
        display: block !important;
    }

    #vwise-rollover-modal-inner .tab-content {
        opacity: 0.5 !important;
    }

    .mobileContent .row {
        display: block !important;
    }
