{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Settings - Home'})) }}


<h3>Settings Home</h3>

<li class="list-group-item" >
	Tired of having to build the same or similar information into your plans over and over? Wouldn't you like to just touch a button and magically pull some of that info onto the page? No problem. Just build your 'Settings' here. 	
</li>



{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}



 
    