    <script src = "https://gateway.smartplanenterprise.com/jwplayer.js"></script>
    <script src = "https://gateway.smartplanenterprise.com/jwplayer.html5.js"></script>
    <script type="text/javascript">jwplayer.key="XkrCEtJjpENgHzaccwWpBjoFwSongLK34QgYqsXxD8g=";</script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ asset('videoplayer/ie-emulation-modes-warning.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.js') }}"></script>
    <style>
    .videoplayer_container
    {
      min-width:400px !important;
      max-width:800px!important;
      margin:0px auto !important;
    }
  .video-btn {
    background-color:rgb(17,51,85) !important;border:none !important;

  }
    .center-vid {margin:0px auto !important;}



    </style>