  {% if poster is not defined %}
  {% set poster = "https://gateway.smartplanenterprise.com/video_hero.jpg" %}
  {% endif %}

  <div id="myElement" class = "center-vid">
      

      
  </div>

  
  <script type="text/javascript">
    var playedVideo = 0;
    var $element = $('<video id="main-vid" src="{{ mp4url }}" poster = "{{ poster }}" controls="controls" width="100%" height="100%" preload="auto" ></video>');
    var mediaelement = new MediaElement($element.get(0), {});
    
    mediaelement.addEventListener('ended', function(e) 
    {
        videoEndAction();

    }, false);
    mediaelement.addEventListener('loadeddata', function(e) 
    {
        if (playedVideo == 0)
        {
            //setTimeout(function(){ mediaelement.play() }, 1000);
            mediaelement.play()
            playedVideo++;
        }
    }, false);
    
    mediaelement.addEventListener('error', function(e) 
    {   

        if (mediaelement.currentTime == 0 && playedVideo)
        {
            mediaelement.load();
            videoEndAction();
        }

    }, false);

    $('#myElement').html(mediaelement);
    
    function videoEndAction()
    {     
        {% if link is defined %}
        window.location = "{{ link | raw }}";
        {% else %}
        mediaelement.load();
        {% endif %}
    }
    
  </script>
