{{ include ('PlansPlansBundle:Outreach:Videoplayer/header.html.twig') }}  
{{ include ('PlansPlansBundle:Outreach:Videoplayer/videoplayer.html.twig') }}  
{{ include ('PlansPlansBundle:Outreach:Videoplayer/footer.html.twig') }}  
