<div class="row">
    {% for section in sections %}
    <div class="form-group col-md-6">
        <label for="{{ section.name }}">{{ section.description }}</label>
        {% if section.type is defined and section.type == "number" %}
        <input type = "text" value = "{{ section.data }}" onchange = "customParseInt(this.id,'unsigned');{% if section.max is defined %}maxLimit(this.id,{{ section.max }}){% endif %}"id = "section{{ section.name }}" name = "{{ section.name }}" class = "form-control" />
        {% else %}
        <select class="form-control" name="{{ section.name }}" id ="{{ section.name }}" {% if not writeable %}disabled{% endif %}>
        {% if section.showoption %}<option></option>{% endif %}
        {% for data in section.data %}
        <option value = "{{ data.value }}" {{ data.selected }}> {{ data.description }} </option>
        {% endfor %}
        </select>
        {% endif %}
    </div>
        
    {% endfor %}
</div>
