<script>
    $(function() {
        $('#apiForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitApi(this);
        });
    });
</script>  
<form data-toggle="validator" action="" method="POST" id="apiForm">
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="id" value="{{ api is defined ? api.id : ''}}">
    <div class="form-group">
        <label for="controller">Controller</label>
        <input type="text" class="form-control" id="controller" name="controller" value="{{ api is defined ? api.controller : ''}}" required>
    </div>
    <div class="form-group">
        <label for="method">Method</label>
        <input type="text" class="form-control" id="method" name="method" value="{{ api is defined ? api.method : ''}}" required>
    </div>
    <div class="checkbox">
        <label>
            <input type="hidden" name="enabled" value="0">
            <input name="enabled" type="checkbox" {{ api is defined and api.enabled ? 'checked="checked"' : '' }} value="1"> Enabled
        </label>
    </div>
    <button type="submit" class="btn btn-{{ button.class}}">{{ button.description }}</button>
</form>