{{ include ('ManageManageBundle:ApiUI:index.html.twig', {'currentpage':"Apis"}) }}
<a href="javascript:ajaxModal('{{ path('_manage_API_add') }}','Add')"><input type="button" value="Add API" class="btn btn-info"></a>
<br><br>

{% set table = "Apis" %}
{% set tablename = table %}
{% set types = "a.id,a.controller,a.method,a.enabled" %}
{% set header = "<th>Id</th><th>Controller</th><th>Method</th><th>Enabled</th><th>Action</th>" %}
{% set unsearchableArray = [4] %} 
{% set template = 'ManageManageBundle:ApiUI:ApiUI/api.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div></div>
<script>
    function deleteApi(id) {
        var page = "{{ path('_manage_API_delete') }}";
        var querystring = "id=" + id;

        $.post(page, querystring).done(function(data) 
        {
            restartTableApis();
        });
    }
    function submitApi(form) {
        var page = "{{ path('_manage_API_save') }}";
        var querystring = $(form).serialize();

        $.post(page, querystring).done(function(data) 
        {
            closeLightBox();
            restartTableApis();
        });
        return false;
    }
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}