{% for asset in items %}
{% if loop.index > 1 %},{% endif %}
[
    {{ asset.id }},

    "{{ asset.name }}",
    "{{ asset.url }}",
    "<span class =\"glyphicon glyphicon-edit\" onclick = \"ajaxModal('{{ path('_manage_outreach_assetmanager_edit') }}?id={{asset.id}}','Edit Asset')\"></span><span class =\"glyphicon glyphicon-remove\" onclick = \"ajaxModal('{{ path('_manage_outreach_assetmanager_delete') }}?id={{asset.id}}','Delete Asset')\"></span>"
]
{% endfor %}