{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Dashboard'})) }}
{% if writeable %}
<h3>Happenings <span class = "pull-right"><button type = "button" class = "btn btn-info" onclick = "ajaxModal('{{ path('_manage_portal_add_portal_news') }}','Add')">Add</button></span></h3>


<div id = "portalnews">

</div>

{{ include ('ManageManageBundle:Portal:javascript/index.js.twig') }}
{% else %}
{% for news in newsArray %}
<b>{{ news.title }}</b><br/>
{{ news.description }}<br/>
<hr/>
{% endfor %}
{% endif %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}