{% block header %}{% endblock %}
<link type="text/css" rel="stylesheet" href="{{ asset('spe/css/responsive.css?v='~random()) }}" media="all" >
{% block body %}{% endblock %}
{% block additional_js %}{% endblock %}
{% block default_js %}{% endblock %}