{% set navigationBarClass = "nav navbar-nav" %}
{% set navigationElementClass = "" %}
{% set navigationElementLiClass = "highlight" %}
{% set navbarHeader = "navbar-header" %}
{% set navbarToggle = "navbar-toggle" %}
{% set subNavTitle = "title" %}
{% set libraryLi = "highlight" %}
{% set libraryLink = "" %}
{% set navBarCollapseClass = "collapse navbar-collapse navigation-block" %}
{% if customNavigation == "moa" %}
{% set navigationBarClass = navigationBarClass  ~ " moaNavigationBar" %}
{% set navigationElementClass = "moaNavigationElement" %} 
{% set navigationElementLiClass = "moaNavigationElementLi text-center" %} 
{% set navbarHeader = navbarHeader ~ " moaNavBarHeader" %}
{% set navbarToggle = navbarToggle ~ " moaNavBarToggle" %}
{% set subNavTitle = subNavTitle ~ " moaSubNavTitle" %}
{% set libraryLi = "moaLibraryLi" %}
{% set libraryLink = "moaLibraryLink" %}
{% set navBarCollapseClass = navBarCollapseClass ~ " moaNavBarCollapse" %}
{% endif %}
<script type="text/javascript" src="{{ asset('js/yearpickeroverride.js') }}"></script>
<div class="{{ navbarHeader }}">
    <button type="button" class="{{ navbarToggle }}" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-label="Navigation"> <span class="sr-only">{{ 'toggle_navigation'| trans ({}, 'global') }}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <h1 class="{{ subNavTitle }}"></h1>
</div>
<div class="{{ navBarCollapseClass }}" id="bs-example-navbar-collapse-1">
    <ul id="mainNav" class="{{ navigationBarClass }}">
    <a href="#content-area" class="skip-main">Skip to main content</a>
    <li id="plan-basic" class ="{{ navigationElementLiClass }}" ><a data-controller="PlanBasicsController" href="#" aria-label="Plan basics" class ="{{ navigationElementClass}}">{{ 'plan_basic'| trans ({}, 'navigation') }} </a></li>
        <li>
            <div class="SPEMenu">
                <ul>
                    {% if (app.session.get('module').ATBlueprint != 1) %}
                        <li id="retirement-needs" class="{{ navigationElementLiClass }}"><a data-controller="RetirementNeedController" href="#" aria-label="Retirement needs" class ="{{ navigationElementClass}}">{{ 'retirement_needs'| trans ({}, 'navigation') }}</a></li>
                    {% else %}
                        <li id="retirement-needs" class="{{ navigationElementLiClass }}"><a data-controller="ATBlueprintController" href="#" aria-label="AT Blueprint" class ="{{ navigationElementClass}}">{{ 'at_blueprint'| trans ({}, 'navigation') }}</a></li>
                    {% endif %}
                    {% if (app.session.get('common').flexPlan is not defined or app.session.get('common').flexPlan == 0) and app.session.get('module').riskBasedQuestionnaire and (app.session.get('module').ATBlueprint != 1) %}
                        <li id="risk-profile" class="{{ navigationElementLiClass }} lockable"><a data-controller="RiskProfileController" href="#" aria-label="Risk profile" class ="{{ navigationElementClass}}">{% if app.session.get('module').investmentsGraph  %}{{ 'ADP_risk_profile'| trans ({}, 'navigation') }}{% else %}{{ 'risk_profile'| trans ({}, 'navigation') }}{%endif %}</a></li>
                    {% else %}
                        <li id="risk-profile" style="display:none;" class="{{ navigationElementLiClass }}"><a id='riskProfileClick' data-controller="RiskProfileController" href="#" class ="{{ navigationElementClass}}"><label for="riskProfileClick">{% if app.session.get('module').investmentsGraph  %}{{ 'ADP_risk_profile'| trans ({}, 'navigation') }}{% else %}{{ 'risk_profile'| trans ({}, 'navigation') }}{%endif %}</label></a></li>
                    {% endif %}

                    {% if app.session.get('common').flexPlan is defined and app.session.get('common').flexPlan == 1 %}
                        <li id="contributions" class="{{ navigationElementLiClass }} lockable"><a data-controller="ContributionsController" href="#" aria-label="Contributions" class ="{{ navigationElementClass}}" >{{ 'contributions'| trans ({}, 'navigation') }}</a></li>
                        <li id="investments" class="{{ navigationElementLiClass }} lockable"><a data-controller="InvestmentsController" href="#" aria-label="Investments" class ="{{ navigationElementClass}}">{{ 'investments'| trans ({}, 'navigation') }}</a></li>
                    {% else %}
                        <li id="investments" class="{{ navigationElementLiClass }} lockable"><a data-controller="InvestmentsController" href="#" aria-label="Investments" class ="{{ navigationElementClass}}">{{ 'investments'| trans ({}, 'navigation') }}</a></li>
                        {% if (app.session.get('module').ATBlueprint != 1) %}
                            <li id="contributions" class="{{ navigationElementLiClass }} lockable"><a data-controller="ContributionsController" href="#" aria-label="Contributions" class ="{{ navigationElementClass}}">{{ 'contributions'| trans ({}, 'navigation') }}</a></li>
                        {% endif %}
                    {% endif %}
                    <li id="my-profile" class="{{ navigationElementLiClass }} lockable"><a data-controller="MyProfileController" href="#" aria-label="My profile" class ="{{ navigationElementClass}}" >{{ 'my_profile'| trans ({}, 'navigation') }}</a></li>
                </ul>
            </div>
        </li>
        {% if app.session.get('library')|length %}
            <li id="library" class="{{ libraryLi }}"><a data-controller="LibraryController" data-action="library" href="#" aria-label="Library" class="{{libraryLink }}">{{ 'library'| trans ({}, 'navigation') }}</a></li>            
        {% endif %}
    </ul>
</div>
{% if customNavigation == "moa" %}
<script>
var moaElementHtml = '<div class ="moaElement"><div class="clear"/><div class ="caretCustom"/></div>';
function moaAddActiveColors()
{
    $(".moaElement" ).each( function( index, element )
    {
        if ($(this).parent().parent().hasClass("active") && !$(".navbar-toggle").is(":visible") )
            $(this).parent().addClass('moaActiveLink');
        else
            $(this).parent().removeClass('moaActiveLink');
    });
}
$( ".{{navigationElementClass}}" ).mouseover(function() 
{
    $(".moaElement" ).each( function( index, element )
    {
       if (!$(this).parent().parent().hasClass("active") || $(".navbar-toggle").is(":visible"))
        $(this).html("");
    });   
    moaAddActiveColors();
    if (!$(".navbar-toggle").is(":visible"))
    {
        $(this).append(moaElementHtml);
        $(this).addClass('moaActiveLink');
    }
});
$( ".{{navigationElementClass}}" ).mouseout(function() 
{
    $(".moaElement" ).each( function( index, element )
    {
       if (!$(this).parent().parent().hasClass("active") || $(".navbar-toggle").is(":visible"))
        $(this).html("");
    }); 
    moaAddActiveColors();
});
$( ".navbar-header" ).click(function() 
{
    $(".moaElement" ).html("");
    moaAddActiveColors();
});
$(".moaLibrary").click(function() 
{
     setTimeout(function(){  $(".moaLibrary").removeClass("active");; }, 100);
   
});
</script>
<style>
#mainNav li.lock a, #mainNav li.full-lock a {cursor: default !important; color:#3d3d3d !important;}
</style>
{% endif %}