{% extends "SpeAppBundle:Layout:base.html.twig" %}

{% block body %}

<div class="loading-block">

    <div id="app-loader">
        <div class="block">
            <div class="title">{{ 'welcome_to_smartplan' | trans ({}, 'loading') }}</div>
            <div class="msg">{{ 'message_line_1'| trans ({}, 'loading') }}<br> {{ 'message_line_2'| trans ({}, 'loading') }}</div>
            <div><img style="color:#FFF;" src="{{ asset('spe/images/global/loading.gif') }}" alt="loading" title="loading" /></div>
            <div>{{ 'retrieving_information'| trans ({}, 'loading') }}</div>
        </div>
    </div>

    <noscript id="noscript">
        <div id="app-loader">
            <div class="block">
                <div class="title">{{ 'welcome_to_smartplan'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'noscript_line_1'| trans ({}, 'loading') }}<br /><span style="font-weight: bold;">{{ 'noscript_line_2'| trans ({}, 'loading') }}</span> {{ 'noscript_line_3'| trans ({}, 'loading') }}</div>
                <div class="msg" id="jsMsg">{{ 'noscript_line_4'| trans ({}, 'loading') }} <span style="font-weight: bold;">{{ 'noscript_line_2'| trans ({}, 'loading') }}</span>,<br>{{ 'noscript_line_5'| trans ({}, 'loading') }} <a href="http://enable-javascript.com" target="_blank" rel="noopener noreferrer" aria-label="Enable javascript">{{ 'noscript_line_6'| trans ({}, 'loading') }}</a> {{ 'noscript_line_7'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'noscript_line_8'| trans ({}, 'loading') }}<br>{{ 'noscript_line_9'| trans ({}, 'loading') }}</div>
                <h2>{{ 'thank_you'| trans ({}, 'loading') }}</h2>
            </div>
        </div>
    </noscript>

    {% if app.request.get('server') == 1 %}
        <script type="text/javascript">
            var ips = [];
            ips.push('{{ app.request.server.get('SERVER_ADDR') }}');
        </script>
    {% endif %}
    
</div>

{% endblock %}

{% block additional_js %}
<script type='text/javascript'>
        var height = 300;// IMPORTANT: If body's height is set to 100% with CSS this will not work.
        parent.postMessage("resize::"+height,"*");   
</script>

{% endblock %}