<div class="loading-block">
    

    <div id="app-loader">
        <div class="block">
            <div class="title">{{ loadingTitle }}</div>
            <div class="msg">{{ 'message_line_1'| trans ({}, 'loading') }}<br> {{ 'message_line_2'| trans ({}, 'loading') }}</div>
            <div><img style="color:#FFF;" src="{{ asset('spe/images/global/loading.gif') }}" alt="loading" title="loading" /></div>
            <div>{{ 'retrieving_information'| trans ({}, 'loading') }}</div>
        </div>
    </div>

    <div id="nocookie" style="display: none;">
        <div id="app-loader">
            <div class="block">
                <div class="title">{{ 'welcome_to_smartplan'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'nocookie_line_1'| trans ({}, 'loading') }} <br><b>{{ 'nocookie_line_2'| trans ({}, 'loading') }}</b> {{ 'nocookie_line_3'| trans ({}, 'loading') }}</div>
                <div class="msg" id="ckMsg">{{ 'nocookie_line_4'| trans ({}, 'loading') }}<br /><br />{{ 'nocookie_line_5'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_6'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_7'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_8'| trans ({}, 'loading') }}<br /><br />{{ 'nocookie_line_9'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_10'| trans ({}, 'loading') }}<br /></div>
                <div class="msg">{{ 'nocookie_line_11'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_12'| trans ({}, 'loading') }}</div>
                <h2>{{ 'thank_you'| trans ({}, 'loading') }}</h2>
            </div>
        </div>
    </div>

    <noscript id="noscript">
        <div id="app-loader">
            <div class="block">
                <div class="title">{{ 'welcome_to_smartplan'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'noscript_line_1'| trans ({}, 'loading') }}<br /><b>{{ 'noscript_line_2'| trans ({}, 'loading') }}</b> {{ 'noscript_line_3'| trans ({}, 'loading') }}</div>
                <div class="msg" id="jsMsg">{{ 'noscript_line_4'| trans ({}, 'loading') }} <b>{{ 'noscript_line_2'| trans ({}, 'loading') }}</b>,<br>{{ 'noscript_line_5'| trans ({}, 'loading') }} <a href="http://enable-javascript.com" target="_blank" aria-label="Enable javascript">{{ 'noscript_line_6'| trans ({}, 'loading') }}</a> {{ 'noscript_line_7'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'noscript_line_8'| trans ({}, 'loading') }}<br>{{ 'noscript_line_9'| trans ({}, 'loading') }}</div>
                <h2>{{ 'thank_you'| trans ({}, 'loading') }}</h2>
            </div>
        </div>
    </noscript>

    <script language="javascript" type="text/javascript">
        document.cookie = 'ck=1; SameSite=None; Secure';
        var cookie = document.cookie;
        if(cookie){
            loading = true;
        }
        else {
            loading = false;
            document.getElementById('nocookie').style.display = 'block';
        }
        $.post( "/loadingScreenTransacts", function( data )
        {
        });
    </script>

    {% if app.request.get('server') == 1 %}
        <script type="text/javascript">
            var ips = [];
            ips.push('{{ app.request.server.get('SERVER_ADDR') }}');
        </script>
    {% endif %}
    
</div>
