{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}

<h3>List</h3>
{% set tablename = "printMaterials" %}
{% set table = "printMaterials" %}
{% set types = "a.id,a.name" %}
{% set header = "<th>Id</th><th>Name</th>" %}

{% set template = "SharedPrintMaterialsBundle:Default:Search/printmaterials.html.twig" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}