<script>
$( "#riskBasedFundForm" ).submit(function( event ) 
{
  event.preventDefault();
  $.post( "{{ path(label) }}", $("#riskBasedFundForm").serialize())
  .done(function( data ) 
  {
      closeLightBox();
      riskBasedFundsTable.fnDraw(false);
  });
});    
</script>
