<script>
    var searchFunds = Array();
    var counter = 0;
    {% for fund in portfoliofunds %}
    searchFunds[counter] = Array();
    searchFunds[counter]['name'] = "{{ fund.name }}";
    searchFunds[counter]['ticker'] = "{{ fund.ticker }}";
    searchFunds[counter]['id'] = "{{ fund.id }}";
    counter++;
    {% endfor %}
    {% for fund in allfunds %}
    searchFunds[counter] = Array();
    searchFunds[counter]['name'] = "{{ fund.name }}";
    searchFunds[counter]['ticker'] = "{{ fund.ticker }}";
    searchFunds[counter]['id'] = "{{ fund.id }}";
    counter++;
    {% endfor %}
</script>

<script>

$(function () {
    if ($('#total-percentage').val() != 100) {
        $('#save-btn').prop('disabled', true);
    }
    $(".track-input").change(function () {
        var totalscore = 0;
        var portfoliofundshtml = $("#portfoliofunds").html();
        var portfoliofundssplit = portfoliofundshtml.split("*id*");
        var portfoliofunds = new Array();
        for (i = 1, j = 0; i < portfoliofundssplit.length; i = i + 2, j++)
            portfoliofunds[j] = portfoliofundssplit[i];
        for (i = 0; i < portfoliofunds.length; i++) {

            var newscore = parseFloat($("#setportfolio_fund_" + portfoliofunds[i]).val());

            totalscore = totalscore + newscore;
        }
        $('#total-percentage').val(totalscore);
        if (totalscore != 100) {
            $('#save-btn').prop('disabled', true);
        } else {
            $('#save-btn').prop('disabled', false);
        }
    });


    $("#portfoliofunds").sortable(
        {
            connectWith: ".list-group",
            placeholder: "list-group-item list-group-item-info",
            stop: function () {
                var allfundsstring = "";
                var allfundshtml = $("#allfunds").html();
                var allfundshtmlsplit = allfundshtml.split("*id*");
                var allfunds = new Array();
                for (i = 1, j = 0; i < allfundshtmlsplit.length; i = i + 2, j++)
                    allfunds[j] = allfundshtmlsplit[i];
            }
        })
});
function saveportfoliofunds() {
    var portfoliofundsstring = "";
    var ids = "";
    var values = "";
    if (pagetype == "settings") {
        var page = "{{ path('_settings_investments_portfolio_setfunds_save') }}";
    }
    if (pagetype == "plans") {
        var page = "{{ path('_plans_investments_portfolio_setfunds_save') }}";
    }
    var totalscore = 0;
    var portfoliofundshtml = $("#portfoliofunds").html();
    var portfoliofundssplit = portfoliofundshtml.split("*id*");
    var portfoliofunds = new Array();
    for (i = 1, j = 0; i < portfoliofundssplit.length; i = i + 2, j++) {
        portfoliofunds[j] = portfoliofundssplit[i];
    }
    for (i = 0; i < portfoliofunds.length; i++) {

        var newscore = parseFloat($("#setportfolio_fund_" + portfoliofunds[i]).val());

        totalscore = totalscore + newscore;
        if (newscore > 0) {
            if (i == 0) {
                ids = portfoliofunds[i];
                values = $("#setportfolio_fund_" + portfoliofunds[i]).val();
            }
            else {
                ids = ids + "," + portfoliofunds[i];
                values = values + "," + $("#setportfolio_fund_" + portfoliofunds[i]).val();
            }
        }
    }

    if (totalscore == 100 || portfoliofunds.length == 0) {
        if (totalscore == 100)
            querystring = "portfolioid={{ portfolioid }}&ids=" + ids + "&values=" + values;
        else
            querystring = "portfolioid={{ portfolioid }}";// if they want to empty all portfolio funds

        $.post(page, querystring).done(function (data) {
            closeLightBox();
        });
    }
    else {
        alert('total score must equal 100');
    }
}
</script>