 <template>
  <v-card class="set-radius" :elevation="0">
      <v-row class="vid-row">
            <!-- video -->
          <video-player v-if="videoTime" class="set-radius video-player" video="RPCongratulations" :vidnum="this.$store.state.RP.profileResults.RP_video"></video-player>
          </v-row>
    
  </v-card>
</template>

<script>
    import VideoPlayer from "../Global/VideoPlayer";
export default {
    components: { VideoPlayer },
  data() {
    return {
        videoTime: false,
    };
  },
  created() {
      this.$parent.$parent.validated = false;
      this.$store.dispatch('calculateRiskProfileScore').then(() => {
          this.videoTime = true;
          this.$parent.$parent.validated = true;
      })
  }
};
</script>


<style scoped >
.vid-row {
    margin: 0 !important;
}
</style>
