<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10" :elevation="0">
    <step-audio-player></step-audio-player>
    <v-row class="ma-0 title  secondary--text text--darken-1">
      <path-content section="risk" step="RP" label="RP1"></path-content>
    </v-row>
    <v-row class="ma-0 body-1">
      <v-col class="text-left display-1 pl-0" cols="12">
        {{ RP.data[$route.params.id].text }}
      </v-col>
    </v-row>
    <v-row class="risk-profile mt-0 align-center justify-center" style="position:relative" :class="fourRadios ? 'four-radios' : 'five-radios'">
      <hr :class="fourRadios ? 'fourkert' : threeRadios ? 'threekert' : 'likert'">
      <v-radio-group v-model="RP.profileAnswers[$route.params.id]" row>
        <v-radio v-for="(n, index) in radioNames" :key="n" :label="n" :class="fourRadios ? 'four-radio' : threeRadios ? 'three-radio' : 'five-radio'" :value="index" />
      </v-radio-group>
    </v-row>
  </v-card>
</template>
<script>
  import PathContent from "../Content/PathContent";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer, PathContent},
    data() {
      return {
        radioNames: [],
        pointValues: [],
        fourRadios: false,
        threeRadios: false
      }
    },
    computed: {
      RP() {
        return this.$store.state.RP;
      },
    },
    created() {
      this.$parent.$parent.validated = false;
      if (this.RP.profileAnswers[this.$route.params.id] !== undefined) {
        this.$parent.$parent.validated = true;
      }
      this.radioNames = this.RP.data[this.$route.params.id].options;
      if(this.radioNames.length == 4){
        this.fourRadios = true;
      }else if(this.radioNames.length == 3){
        this.threeRadios = true;
      }
      this.pointValues = this.RP.data[this.$route.params.id].points;
      this.$store.watch( this.$store.getters.getProfileAnswers, n => {
        this.RP.pointArray[this.$route.params.id] = n[this.$route.params.id];
        this.$parent.$parent.validated = true;
      })
    },
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";

  .five-radio {
    flex-direction: column;
    margin: 0 10px;
    width: 145px;
  }
  .four-radio {
    flex-direction: column;
    margin: 0 10px;
    width: 170px;
  }
  .three-radio{
    flex-direction: column;
    margin: 0 10px;
    width: 265px;
  }
  .set-height{
    height: 168px!important
  }
  .risk-profile ::v-deep .v-input--radio-group__input .v-icon {
    color: $gray-3;
    background-color: #fff;
    border-radius: 50%;
  }

  .likert{
    /*background-image: linear-gradient(to right, blue, purple);*/
    background-color: var(--v-primary-base);
    height:10px;
    width: 675px;
    position: absolute;
    top: 28px;
    z-index: 0;
  }
  .fourkert{
    background-color: var(--v-primary-base);
    height:10px;
    width: 595px;
    position: absolute;
    top: 28px;
    z-index: 0;
  }
  .threekert{
    background-color: var(--v-primary-base);
    height:10px;
    width: 576px;
    position: absolute;
    top: 28px;
    z-index: 0;
  }
  @media only screen and (max-width: 960px) {
    .risk-profile ::v-deep .v-input--radio-group__input {
      flex-direction: column!important
    }

    .five-radio {
      flex-direction: row!important;
      height: 80px!important;
      width: 150px
    }
    .four-radio {
      flex-direction: row!important;
      height: 144px !important;
      width: 250px;
    }
    .three-radio {
      flex-direction: row!important;
      height: 155px!important;
      width: 150px
    }
    .likert{
      background-color: var(--v-primary-base);
      margin-top: -166px;
      left: 50%;
      top:50%;
      margin-left: -68px;
      width: 10px;
      height: 320px;
    }
    .fourkert{
      background-color: var(--v-primary-base);
      margin-top: -220px;
      left: 50%;
      top: 50%;
      margin-left: -121px;
      width: 10px;
      height: 429px;
    }
    .threekert{
      background-color: var(--v-primary-base);
      margin-top: -166px;
      left: 50%;
      top: 50%;
      margin-left: -71px;
      width: 10px;
      height: 320px;
    }
  }
  @media only screen and (max-width: 369px) {
    .four-radio {
      flex-direction: row!important;
      height: 165px !important;
      width: 203px;
    }
    .fourkert{
      margin-top: -245px;
      left: 50%;
      top: 50%;
      margin-left: -97px;
      width: 10px;
      height: 486px;
    }
  }
</style>

