<template>
    <v-card :elevation="0">
        <disclaimer :message="'riskProfile'" :messageActive="'riskProfileActive'" ></disclaimer>
        <v-row class="vid-row">
            <video-player class="set-radius" video="riskStarting" :dir="dir"></video-player>
        </v-row>
    </v-card>
</template>

<script>
    import VideoPlayer from "../Global/VideoPlayer";
    import Disclaimer from "../Global/Disclaimer";
    export default {
        components: {VideoPlayer, Disclaimer},
        props: ['dir'],
        data() {
            return {
                image_src: require("../../assets/img/vid-placeholder.png")
            };
        }
    };
</script>


<style scoped>
    .main-container ::v-deep .layout {
        height: 0 !important
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */

    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: -4px;
    }

    .vid-row {
        margin: 0 !important;
    }
</style>
