<template>
  <v-card class="px-3 py-6 pa-lg-12 pa-md-12 set-radius" :elevation="0">
    <v-row class="page-row align-center text-center">
      <div class="width-100">
        <path-content section="risk" step="RP" label="RP2"></path-content>
        <path-content section="risk" step="RP" label="RP3"></path-content>
        <v-row class="ma-0 body-1 pb-4">
          <v-col class="text-center pl-0" cols="12">
            <v-btn v-on:click="$parent.$parent.next()" color="primary" rounded :disabled="$parent.$parent.validated == 0">
                {{ this.translate('risk', 'Welcome', 'GetStarted') }}
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-row>
  </v-card>
</template>


<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";

</style>

<script>
  import PathContent from "../Content/PathContent";
  export default {
    components: { PathContent },
    data: () => ({
      validated: 0,
    }),
  }

</script>
