<template>
    <v-card class="page pb-10 kinetik" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title  secondary--text pb-3">
            <v-col class="text-left" cols="12">
                RISK PROFILE
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                Do you want investment advice?
            </v-col>
        </v-row>
        <v-row class="title">
            <v-col class="text-left" cols="12">
                Would you like to blah blah
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-radio-group @change="changed" v-model="$store.state.RP.kinetikAccepted" :mandatory="false" >
                <v-row class="ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-1" value="1" label="Yes, I want investment advice"></v-radio>
                    </v-col>
                </v-row>
                <v-row class="ma-0">
                    <v-col>
                        <v-radio name="radio-2" value="0" label="No, thanks. I don't want investment advice for my retirement plan"></v-radio>
                    </v-col>
                </v-row>
            </v-radio-group>
        </v-row>
    </v-card>
</template>

<script>
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer},
        data: () => ({
        }),
        created() {
            if (this.$store.state.RP.kinetikAccepted == null) {
                this.$parent.$parent.updateValidation(false);
            } else {
                this.$parent.$parent.updateValidation(true);
            }
        },
        methods: {
            changed() {
                this.$parent.$parent.updateValidation(false);
                this.$store.dispatch('getRiskProfile', { kinetikAccepted: this.$store.state.RP.kinetikAccepted }).then(() => {
                    this.$parent.$parent.generateStepArrayForKinetik(this.$store.state.RP.total);
                    this.$parent.$parent.updateValidation(true);
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .realignment ::v-deep .v-label{
        color: #000;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
</style>
