<template>
    <v-card class="page pb-10 rtq-advice set-radius" :elevation="0">
        <v-row class="title  secondary--text pb-3">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionRetireExpress', 'heading') }}
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionRetireExpress', 'enroll_in_retire_express') }}
            </v-col>
        </v-row>
        <v-row class="title">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionRetireExpress', 'retire_express_desc') }}
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-radio-group @change="changed" v-model="$store.state.RP.retireExpressAccepted" :mandatory="false" >
                <v-row class="ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-1" value="1" :label="translate('risk', 'RTQStadionRetireExpress', 'yes')"></v-radio>
                    </v-col>
                </v-row>
                <v-row class="ma-0">
                    <v-col>
                        <v-radio name="radio-2" value="0" :label="translate('risk', 'RTQStadionRetireExpress', 'no')"></v-radio>
                    </v-col>
                </v-row>
            </v-radio-group>
        </v-row>
        <v-divider></v-divider>
        <v-row class="body-1 gray pt-6 ma-0">
            <span v-html="this.translate('risk', 'RTQStadionRetireExpress', 'please_see_terms')"></span>
        </v-row>
    </v-card>
</template>

<script>
    export default {
        data: () => ({
        }),
        created() {
            if (this.$store.state.RP.retireExpressAccepted == null) {
                this.$parent.$parent.updateValidation(false);
            } else {
                this.$parent.$parent.updateValidation(true);
            }
        },
        methods: {
            changed() {
                if (this.$store.state.RP.retireExpressAccepted == 1) {
                    this.$store.state.path.sections.investments.active = false;
                } else {
                    this.$store.state.path.sections.investments.active = true;
                }

                this.$parent.$parent.updateValidation(true);
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .rtq-advice ::v-deep .accent--text {
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }
    .rtq-advice ::v-deep .v-label {
        color: #000 !important;
    }
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .realignment ::v-deep .v-label{
        color: #000;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
</style>
