<template>
    <v-card class="page pb-10 realignment set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title secondary--text pb-3">
            <v-col class="text-left" cols="12">
                RISK PROFILE: STADION STORYLINE
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                Heading 1
            </v-col>
        </v-row>
        <v-row class="title">
            <v-col class="text-left" cols="12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod.
                </v-col>
        </v-row>
        <v-row class="body-1 pt-4">
            <v-col class="text-left" cols="12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Molestie at elementum eu facilisis sed odio. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Risus ultricies tristique nulla aliquet. Gravida rutrum quisque non tellus orci ac. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. At volutpat diam ut venenatis. Ut etiam sit amet nisl purus in mollis. Amet volutpat consequat mauris nunc. Dolor sit amet consectetur adipiscing. Non enim praesent elementum facilisis. Amet nisl purus in mollis nunc sed id semper. Pharetra massa massa ultricies mi quis hendrerit.

            </v-col>
        </v-row>
        <v-row class="body-1 pt-4">
            <v-col class="text-left" cols="12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Molestie at elementum eu facilisis sed odio. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Risus ultricies tristique nulla aliquet. Gravida rutrum quisque non tellus orci ac. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. At volutpat diam ut venenatis. Ut etiam sit amet nisl purus in mollis. Amet volutpat consequat mauris nunc. Dolor sit amet consectetur adipiscing. Non enim praesent elementum facilisis. Amet nisl purus in mollis nunc sed id semper. Pharetra massa massa ultricies mi quis hendrerit.

            </v-col>
        </v-row>
        <v-row class="body-1 pt-4">
            <v-col class="text-left" cols="12">
                SMM-108011-987
            </v-col>
        </v-row>
    </v-card>
</template>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .realignment ::v-deep .v-label{
        color: #000;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
</style>
<script>
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer}
    }
</script>