<template>
    <v-card class="page pb-10 realignment set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title  secondary--text text--darken-1 pb-3">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'heading') }}
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'review_results') }}
            </v-col>
        </v-row>
        <v-row class="title font-weight-medium">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'your_portfolio') }}
            </v-col>
        </v-row>
        <v-row class="body-1 pt-6">
            <v-col class="text-left" cols="12">
                <div id="sdnGraphContainer">
                    <img :src ="$store.state.RP.stadion.graph.imageUrl" />
                    <img :src ="$store.state.RP.stadion.graph.imageUrl2" />
                    <img :src ="$store.state.RP.stadion.graph.imageUrl3" />
                    <img :src ="$store.state.RP.stadion.graph.imageUrl4" />
                    <img :src ="$store.state.RP.stadion.graph.imageUrl5" />
                </div>
                <div id="sdnKeyContainer">
                    <img :src ="$store.state.RP.stadion.graph.keyImageUrl1" />
                    <img :src ="$store.state.RP.stadion.graph.keyImageUrl2" />
                    <img :src ="$store.state.RP.stadion.graph.keyImageUrl3" />
                </div>
            </v-col>
        </v-row>
        <v-row class="headline pt-6">
            <v-col class="text-left" cols="12">
              Risk level: <span class="font-weight-bold">{{ $store.state.RP.profileResults.RP_label }}</span>
            </v-col>
        </v-row>
        <v-row class="body-1 pt-2">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'satisfied_with_results') }}
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row class="body-2 gray pt-6">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'disclaimer1') }}
            </v-col>
        </v-row>
        <v-row class="body-2 gray pt-6">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'disclaimer2') }}
            </v-col>
        </v-row>
        <v-row class="body-2 gray pt-6">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionResults', 'disclaimer3') }}
            </v-col>
        </v-row>
    </v-card>
</template>


<script>
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer},
        data: () => ({
        }),
        created(){
            this.$parent.$parent.validated = false;
            this.$store.dispatch('getStadionGraphs').then(() => {
                this.$parent.$parent.validated = true;
            })
        }
    }

</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .realignment ::v-deep .v-label{
        color: #000;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
    #sdnGraphContainer {
        margin-top: 38px;
    }
    #sdnGraphContainer img {
        display:block;
        max-height: 184px;
    }
    #sdnKeyContainer {
        margin-top:28px;
    }
    #sdnKeyContainer img {
        display:block;
    }
    @media (min-width:768px) {
        #sdnGraphContainer {
            width: 1000px;
        }
        #sdnGraphContainer img {
            display: inline;
            margin-left:5px;
        }
        #sdnGraphContainer img:first-child {
            margin-left: 14px;
        }
        #sdnKeyContainer img {
            display: inline;
        }
        #sdnKeyContainer img:first-child {
            margin-left:13px;
        }
    }
</style>