<template>
    <v-card class="page pb-10 rtq-results set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title  secondary--text text--darken-1 pb-3">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionTerms', 'heading') }}
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionTerms', 'heading') }}
            </v-col>
        </v-row>
        <v-row class="body-1 ">
            <v-col class="text-left" cols="12">
                {{ this.translate('risk', 'RTQStadionTerms', 'toa') }}
            </v-col>
        </v-row>
        <v-row v-if="showAgreement" class="body-1 border-row ma-0 pa-6 mt-6" >
            <v-col class="text-left fixed-height " cols="12">
                {{ this.translate('risk', 'RTQStadionTerms', $store.state.RP.stadion.disclaimer.agreementText) }}
            </v-col>
        </v-row>
        <v-row class="body-1 pt-6 align-end">
            <v-col cols="12" >
                <input type="checkbox" id="agreeToTerms" v-model="agreeToTerms" name="agreeToTerms">
                <label for="agreeToTerms" v-html="agreeTermsLabel"></label>
            </v-col>


        </v-row>
        <v-divider></v-divider>
        <v-row class="body-1 gray pt-6 ma-0">
            {{ this.translate('risk', 'RTQStadionTerms', 'aggreement_desc2') }}
        </v-row>
    </v-card>
</template>

<script>
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer},
        data () {
            return {
                showAgreement: false,
                agreeToTerms: false,
                agreeTermsLabel: ""
            }
        },
        created(){
            this.$parent.$parent.validated = false;
            this.$store.dispatch('getStadionDisclaimerText').then(() => {
                this.showAgreement = true;
                this.agreeTermsLabel = this.translate('risk', 'RTQStadionTerms', 'aggreement_checkbox_description1') +
                ' <a href="http://cdn.stadionmoney.com/Retirement/vWise/Stadion_Form_ADV_Part_2A.pdf" target="_blank">' +
                    this.translate('risk', 'RTQStadionTerms', 'aggreement_checkbox_formDescription') + '</a>, ' +
                    '<a href="' + this.translate('risk', 'RTQStadionTerms', this.$store.state.RP.stadion.disclaimer.qdialink) + '" target="_blank">' +
                    this.translate('risk', 'RTQStadionTerms', 'aggreement_checkbox_qdiaLinkDescription') + '</a>, ' +
                    (this.$store.state.RP.stadion.disclaimer.flyerlink !== null ? '<a href="' + this.translate('risk', 'RTQStadionTerms', this.$store.state.RP.stadion.disclaimer.flyerlink) + '" target="_blank">' + this.translate('risk', 'RTQStadionTerms', 'aggreement_checkbox_flyerDescription') + '</a>, ' : "") +
                    this.translate('risk', 'RTQStadionTerms', 'aggreement_checkbox_description2', {'%percentage%': this.$store.state.RP.stadion.disclaimer.percentage});
            })

        },
        watch: {
            'agreeToTerms': function(val) {
                this.$parent.$parent.validated = val;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .border-row{
        border: 1px solid #000;
        border-radius: 5px;
    }
    .fixed-height{
        height: 300px;
        overflow-y: auto
    }
    .fixed-height:after {
        content: "";
        display: block;
        height: 50px;
        width: 100%;
    }
    .rtq-results ::v-deep .v-label{
        color: #000;
    }
    .rtq-results ::v-deep .v-input__slot{
        align-items: flex-start;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
</style>
