<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <v-row class="ma-0 mt-n3">
      <path-content section="risk" step="Finish" label="RiskProfile"></path-content>
    </v-row>
    <v-row class="ma-0 justify-center">
      <v-card :elevation="7" class="pa-3" max-width="900">
        <v-row class="ma-0 title">
          <v-col class="text-center pl-0 pb-0" cols="12">
            {{ this.translate('risk', 'Finish', 'RiskTolerance') }}:
          </v-col>
        </v-row>
        <v-row class="justify-center align-center width-100" style="min-height: 200px" v-if="!rpLoaded">
          <v-progress-circular
                  indeterminate
                  color="primary"
          ></v-progress-circular>
        </v-row>
        <v-row v-if="rpLoaded" class="ma-0 headline">
          <v-col class="text-center pl-0 pt-0" cols="12" lg="8" offset-lg="2" md="8" offset-md="2">
            {{ $store.state.RP.profileResults.RP_label }}
          </v-col>
        </v-row>
        <v-row v-if="rpLoaded" class="py-3 justify-center brand">
            <component :is="getRiskComponent(investorType)"></component>
        </v-row>
        <v-row class="justify-center body-1 px-0 px-sm-6 px-lg-12 px-md-12 px-xl-12">
          <v-col cols="12">
            {{ this.translate('risk', 'Finish', 'Satisfied') }}
          </v-col>
        </v-row>
        <v-row class="pb-3 body-1 justify-center">
          <v-btn text @click="emitReset" rounded color="primary">
            {{ this.translate('risk', 'Finish', 'ChangeMyAnswers') }}
          </v-btn>
        </v-row>
      </v-card>
    </v-row>
  </v-card>
</template>

<script>
  import SpeRiskGauge0 from "../../assets/img/spe-risk-gauge-0.vue";
  import SpeRiskGauge1 from "../../assets/img/spe-risk-gauge-1.vue";
  import SpeRiskGauge2 from "../../assets/img/spe-risk-gauge-2.vue";
  import SpeRiskGauge3 from "../../assets/img/spe-risk-gauge-3.vue";
  import SpeRiskGauge4 from "../../assets/img/spe-risk-gauge-4.vue";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  import PathContent from "../Content/PathContent";
  export default {
    data() {
      return {
        rpLoaded: false
      };
    },
    components: {StepAudioPlayer, SpeRiskGauge0, SpeRiskGauge1, SpeRiskGauge2, SpeRiskGauge3, SpeRiskGauge4, PathContent},
    computed: {
      investorType() {
        return this.$store.state.RP.profileResults.RP_InvestorType;
      },
    },
    methods: {
        getRiskComponent(index){
          return 'SpeRiskGauge' + index;
        },
      emitReset() {
        this.$emit('resetRP')
      }
    },
    created(){
      this.$parent.$parent.validated = false;
      this.$store.dispatch('calculateRiskProfileScore').then(() => {
        this.$parent.$parent.validated = true;
        this.rpLoaded = true;
      })
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";

  .page-row {
    min-height: $comp-card-min-height
  }
  @media only screen and (max-width: 960px) {
    .riskSVG{
      max-width: 550px!important
    }
  }
  @media only screen and (max-width: 599px) {
    .riskSVG{
      max-width: 100%!important
    }
  }
</style>
