{% if associate == 1 %}
    
    
<form id = "riskTypeForm">
<input type = "text" name = "id" id = "id" value = "{{ planid }}" style = "display:none" />
<input type = "text" name = "userid" value = "{{ userid }}" style = "display:none" />

<span id = "associate-loading-icon"></span>
</form>


    
{% endif %}

<div class="row" id = "additionalContent">
  {% if riskcounter > 0 %}
  <div class="col-md-6 form-group" id="investment-type-controls">
    <label for="investment-type">Investment Type</label>
    <p>Be careful, updating investments will immediately remove all current associations.  This cannot be undone!</p>
    <select class="form-control" id = "riskType">
    {% for riskTypeEntry in riskTypes %}
    <option value = "{{ riskTypeEntry.value }}" {% if riskTypeEntry.value == riskType  %}selected{%  endif  %} >{{ riskTypeEntry.title}}</option>
    {% endfor %}
    </select>
    <br/>
    <button type = "button" id = "riskTypeButton" class="btn btn-primary">Update Investments</button>
  </div>

  {% endif %}
  <div class="col-md-6 form-group">
    <label>Autoscoring</label>
    <p>If checked, score ranges will be evenly distributed across the enabled investments.</p>
    <div class="checkbox"><label for="autoscoring"><input type="checkbox" id ="autoscoring" {% if currentplan.investmentsAutoScoring %}checked{% endif %} {% if not writeable %}disabled {% endif %} /> Enable Autoscoring</label></div>
  </div>
</div>

<hr id="affix-limit" />


