{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Associate'})) }}
<div class="alert alert-success" id="saved-alert" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes successfully saved.</div>
<div class="alert alert-danger" id="danger-alert" style = "display:none"></div>
{% if session.masterRoleType == "vwise_admin"%}
<button type ="button" onclick ="showPortfoliosXml()" class = "btn btn-primary">Test Portfolios Call</button> <button type ="button" onclick ="showRiskBasedFundsXml()" class = "btn btn-primary">Risk Based Funds Call</button>
<br/><br/>
<div id ="testplandiv"></div>
{% endif %}
{% if investmentsGraph == 1 %}
    {% set writeable = false %}
    <div class="alert alert-warning" role="alert"><b>Warning:</b> Investments Graph is activated. Risk Profile Configuration cannot be changed.</div>
{% endif %}
<h2>Risk Profile Configuration</h2>
{% if not modules.investmentSelectorRiskBasedPortfolio %}
{{ include('PlansPlansBundle:Associate:riskbasedinvestmentsoff.html.twig') }} 
{% if writeable %}
<hr/>
<button type="button" class="btn btn-success" id = "savebutton">Save</button>
{% endif %}
{{ include('PlansPlansBundle:Associate:javascript/riskbasedinvestmentsoff.js.twig') }}
{% elseif  totalInvestments > 0 or not associate %}
{{ include('PlansPlansBundle:Associate:additional.html.twig') }}            
{{ include('PlansPlansBundle:Associate:pagedescription.html.twig') }}
{{ include('PlansPlansBundle:Associate:investments.html.twig') }}
{% if writeable %}
<button type="button" class="btn btn-success" id = "savebutton">Save</button>
{% endif %}

{{ include('PlansPlansBundle:Associate:javascript/index.js.twig') }}
{{ include('PlansPlansBundle:Associate:javascript/associate.js.twig') }}
{% else %}
{{ include('PlansPlansBundle:Associate:integratednoinvestments.html.twig') }}
{{ include('PlansPlansBundle:Associate:javascript/integratednoinvestments.js.twig') }}
{{ include('PlansPlansBundle:Associate:javascript/associate.js.twig') }}
{% endif %}


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}       