<div class="panel panel-default investment" id="investment{{ investment.id }}">
	{% if associate and not investment.valid %}<input type = "text" name = "invalidInvestments" style = "display:none" />{% endif %}
	<input type = "text" value = "{{ investment.id }}" name = "investmentIds" style = "display:none">
	<div class="panel-body{% if associate and not investment.valid %} alert-danger{% endif %}" id = "investmentPanel{{investment.id }}" {% if associate and not investment.valid %}data-toggle="tooltip" title="This fund is no longer returned in the list of investments available to this plan."{% endif %}>
		{% if associate and not investment.valid %}<button type="button" class="close" onclick = "closeinvestment('{{ investment.id }}')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>	<span class="glyphicon glyphicon-exclamation-sign"></span> {%endif %}{{ investment.name }}<div class="pull-right scoring-range" {% if investment.profile == "ALL" or  not currentplan.investmentsAutoScoring or riskProfileChecked == "" %}style = "display:none"{% endif %} id = "showscore{{ investment.id }}"><em><strong><span id = "investmentMin{{ investment.id }}">{{ investment.minscore }}</span> - <span id = "investmentMax{{ investment.id }}">{{ investment.maxscore }}</span></strong></em></div>
		<div class = "clear"></div>

		<div class="pull-right form-inline manual-scoring" {% if not currentplan.investmentsAutoScoring and  investment.profile != "ALL" and  riskProfileChecked == "checked" %}style = "display:block"{% endif %} id = "manualscore{{ investment.id }}">
			<input placeholder="min"  type="number" class="form-control" id = "manualscoremin{{ investment.id }}" value = "{{ investment.minscore }}" min="{{ minscore }}" max="{{ maxscore }}" onchange = "changeScore('{{ investment.id }}',$('#manualscoremin{{ investment.id }}').val(),$('#manualscoremax{{ investment.id }}').val(),true)" /> - <input placeholder="max" type="number" class="form-control" value = "{{ investment.maxscore }}"  id = "manualscoremax{{ investment.id }}" min="{{ minscore }}" max="{{ maxscore }}" onchange = "changeScore('{{ investment.id }}',$('#manualscoremin{{ investment.id }}').val(),$('#manualscoremax{{ investment.id }}').val(),true)" />
		</div>
		 
	</div>
</div>


