<script>
$(function() {
	$( "#startdatepicker" ).datepicker({
		  dateFormat: "yy-mm-dd"
		});
});
$(function() {
	$( "#enddatepicker" ).datepicker({
		  dateFormat: "yy-mm-dd",
		  minDate: new Date($('#startdatepicker').val())		  		  
		});
	});
	
$( "#apply_date" ).click(function() 
{
	var sdt = $("#startdatepicker").val();
	var edt = $("#enddatepicker").val();
   
    var reloadstring = "?sdt="+sdt+"&edt="+edt;


    if ($("#gaMetrics").length > 0)
    reloadstring = reloadstring + "&gaMetrics=" + $("#gaMetrics").val();
    window.location = reloadstring;
});
{% if not badPlan %}
$(function () {
    $('#chart_container').highcharts({
        title: {
            text: '{{ graphTitle }}',
            x: -20 //center
        },
        subtitle: {
            text: '{{ subtitle }}',
            x: -20
        },
        xAxis: {

        	{{ xAxis | raw }},
                            labels: {
                                rotation: 70
                            }
        },
        yAxis: {
            title: {
                text: '{{ subtitle }}'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },      
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ subtitle }}',
            {{ series | raw }}
        }]
    });
});		
{% endif %}
</script>