{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plans Media'})) }}
<h2>Media</h2>
{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}

<h3>Smart Conversion</h3>
<form class ="medialist">
	{% for key, lists in mediaList %}
		{% if loop.index % 2 == 1 %}
			<div class = "row">
		{% endif %}
		<div class="col-md-6">
			<label>{{ lists.description }}</label>
			{% for list in lists %}
				{% for row in list %}
				<div class="checkbox">
					<input type = "radio"  name = "{{key}}_sc" value ="{{ row.source }}"  {{ row.checked_sc }} />  {{ row.transcriptFile }} en <a href="javascript:ajaxModal('/admin/plans/outreach/videoplayer/videoonlywithoutlibrary/?mp4=https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{row.transcriptFile}}.mp4','Video Preview','large',true)" > <span class="glyphicon glyphicon-facetime-video"></span> </a>
                                        <br/>
                                        {{ row.title}}
					{% for language in row.languages %}
					{{ language.language}} <a href="javascript:ajaxModal('/admin/plans/outreach/videoplayer/videoonlywithoutlibrary/?mp4=https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{language.transcriptFile}}.mp4','Video Preview','large',true)" > <span class="glyphicon glyphicon-facetime-video"></span> </a>
					{% endfor %}
				</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% if loop.index % 2 != 1 %}
			</div>
		{% endif %}
	{% endfor %}
	<div class="row">
		<div class="col-md-4">
			<label for="exampleInputEmail2">End Date</label>
			<input type="text" class="form-control" id="datepicker" name="enddate_sc" placeholder="End Date" value="{{ media.enddate_sc|date('Y-m-d') }}" />
		</div>
	</div>
	<br />

	<button type="submit" class ="btn btn-success">Save</button>
</form>
<hr />
<h3>Smart Enroll</h3>
<p>Choose file to play when conversion period is over.</p>
<form class ="medialist">
	{% for key, lists in mediaList %}
	{% if loop.index % 2 == 1 %}
	<div class = "row">
		{% endif %}
		<div class="col-md-6">
			<label>{{ lists.description }}</label>
			{% for list in lists %}
				{% for row in list %}
				<div class="checkbox">
					<input type = "radio"  name = "{{key}}" value ="{{ row.source }}"  {{ row.checked }} />  {{ row.transcriptFile }} en <a href="javascript:ajaxModal('/admin/plans/outreach/videoplayer/videoonlywithoutlibrary/?mp4=https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{row.transcriptFile}}.mp4','Video Preview','large',true)" > <span class="glyphicon glyphicon-facetime-video"></span> </a>
					{% for language in row.languages %}
					{{ language.language}} <a href="javascript:ajaxModal('/admin/plans/outreach/videoplayer/videoonlywithoutlibrary/?mp4=https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{language.transcriptFile}}.mp4','Video Preview','large',true)" > <span class="glyphicon glyphicon-facetime-video"></span> </a>
					{% endfor %}
				</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% if loop.index % 2 != 1 %}
	</div>
	{% endif %}
	{% endfor %}
	<button class ="btn btn-success" onclick = "saveMediaList()">Save</button>
</form>

<script>
$(document).ready(function() {
	$('#datepicker').datepicker({ dateFormat: "yy-mm-dd" }); 
	$('form.medialist').submit(function(event) {
		event.preventDefault();

		var querystring = $(this).serialize();
		var page = "{{ path('_plans_media_saved') }}";
		$.post(page, querystring).done(function(data) 
		{
			showalert('saved-alert');
		});   
	});
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
