<script>
function loadPortalnews()
{
  $( "#portalnews" ).load( "{{path('_manage_portal_loadnews') }}" );
  closeLightBox();
}
$( document).ready(function()
{
  loadPortalnews();
  $( "#portalnews" ).sortable(
  {
    stop: function()
    {
      savePortalOrder();
    }
  });
});
function savePortalOrder()
{

  var portalNewsSplit = $("#portalnews").html().split("*id*");
  var idstring = "";
  for (j = 1; j < portalNewsSplit.length; j = j + 2)
  if (idstring == "")
  idstring = portalNewsSplit[j];
  else
  idstring = idstring + "," + portalNewsSplit[j];

  var querystring = "ids=" + idstring;
  var page = "{{ path('_manage_portal_save_portal_order') }}";

  $.post(page, querystring).done(function(data) 
  {
    
  });
}
function addPortalNews()
{
  var querystring = $('#portalnewsadd').serialize();
  page = "{{ path('_manage_portal_add_portal_news_saved') }}";
  $.post(page, querystring).done(function(data) 
  {
    loadPortalnews();
  });
}

</script>