{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Kitchen Sink'})) }}
{% set header = "<th>id</th><th>Company</th><th>Partner Id</th><th>Account Report</th>" %}
{% set unsearchableArray = [3] %}
{% set url = path('_manage_kitchenSink_getAccounts')  %}
<h3>Account List Selector </h3>
<input type ="checkbox" id ="includeDeletedPlans"> Include Deleted Plans
<br/><br/>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<div id ="planlistselector">
    
</div>
<div id ="plandetails">
    
</div>
<div id ="kitchenSinkLoaderBody" style ="display:none"><img src = "/images/load-icon.gif" id ="kitchenSinkLoader" /></div>
<script>
function showplanList(userid)
{
    $.post( "{{path('_manage_kitchenSink_getPlans') }}",{userid:userid,deleted:$("#includeDeletedPlans").is(":checked") ? 1 : 0}, function( data ) {
      $( "#planlistselector" ).html( data );
        $('body,html').animate({
        scrollTop: $("#planlistselector").offset().top
      });
    });   
}
function showplandata(planid)
{
    $("#plandetails").html("");
     $.post( "{{path('_manage_kitchenSink_showPlanData') }}",{planid:planid}, function( data ) {
        $("#plandetails").html(data);
        $('body,html').animate({
        scrollTop: $("#plandetails").offset().top
        });
     }); 
}
function showuserdata(userid)
{
    $.post( "{{path('_manage_kitchenSink_showUserData') }}",{userid:userid,deleted:$("#includeDeletedPlans").is(":checked") ? 1 : 0}, function( data ) {
        $("#plandetails").html(data);
        $('body,html').animate({
        scrollTop: $("#plandetails").offset().top
        });
    });       
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}