<h3>Plan Data</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"  style ="cursor:pointer" onclick ="$('#mixedPanelBody').toggle()" >Multiple Tables</h3>
    </div>
    <div class="panel-body" id="mixedPanelBody">
        {% for call in calls %}
            <input type ="checkbox" name="mixedTypes" value="{{ call.name }}" checked> {{ call.description }}
        {% endfor %}
        <br/><br/>
        <button type ="button" class ="btn btn-primary" onclick = "runMultiple()">Run</button><br/><br/>
        <div id="mixedCsvData" style ="display:none"></div>
        <div id ="mixedCsvButtonBody" style ="display:none">
            <br/><button class ="btn btn-primary" onclick ="exportCSVMixed()" >Download Csv</button><br/><br/>
        </div>
        <div id ="mixedPlanData"></div>
    </div>
</div>   
{% for call in calls %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" id ="planDataTitle{{loop.index}}" style ="cursor:pointer" >{{ call.description }}</h3>
    </div>
    <div class="panel-body" id ="planData{{loop.index}}" style ="display:none">
    </div>
</div>   
<div id ="csvButtonBody{{loop.index}}" style ="display:none">
    <button class ="btn btn-primary" onclick ="exportCSV{{loop.index}}()">Download Csv</button><br/><br/>
</div>
<div id ="csvContentsAll{{loop.index}}" style ="display:none"></div>
<script>
var alreadyRunningText= "A report is already being ran";
var mixedTypes;
$( "#planDataTitle{{loop.index}}" ).click(function() 
{
    $("#planData{{loop.index}}" ).toggle();    
    if ($( "#planData{{loop.index}}" ).is(":visible"))
    {
        if (!$("#kitchenSinkLoader").is(":visible"))
        {
            $.post( "{{ path('_manage_kitchenSink_resetPageNumber') }}", function( html ) 
            {
                $( "#planData{{loop.index}}").html($("#kitchenSinkLoaderBody").html());
                $("#csvContentsAll{{loop.index}}").html("");
                process{{loop.index }}();            
            });
        }
        else
        {
            $( "#planData{{loop.index}}").html(alreadyRunningText);
        }
    }
});
function process{{loop.index }}()
{
    $.post( "{{ path(call.route) }}", function( data ) 
    {
        var html = data.html;
        $( "#planData{{loop.index}}" ).append( html );
        $( "#planData{{loop.index}}" ).find(".progress").remove();
        if ("loader" in data)
        {
            $( "#planData{{loop.index}}" ).prepend(data.loader);
        }
        if (data.csv)
        {
            $("#csvContentsAll{{loop.index}}").append(data.csv + "\n");
        }
        if (!$("#planData{{loop.index}}").find(".processedFinished").length)
        {
            process{{loop.index }}();
        }
        else
        {            
            $("#planData{{loop.index}}" ).prepend($("#csvButtonBody{{loop.index}}").html());
            $("#planData{{loop.index}}").find("#kitchenSinkLoader").hide();
        }
    }) 
    .fail(function() 
    {
        $( "#planData{{loop.index}}" ).html("Failed to process");
    });     
}
function exportCSV{{loop.index}}()
{
    var csvContents = $("#csvContentsAll{{loop.index}}").html().trim();
    downloadCsv(csvContents,"{{ call.description }}.csv");
}
function runMultiple()
{
    mixedTypes = new Array();
    $("[name=mixedTypes]:checked").each(function() 
    {  
         mixedTypes.push(this.value);
    });
    if (mixedTypes.length > 0)
    {
        if (!$("#kitchenSinkLoader").is(":visible"))
        {
            $("#mixedPlanData").html($("#kitchenSinkLoaderBody").html());
            $("#mixedPlanCsv").html("");
            $("#mixedCsvData").html("");
            $.post( "{{ path('_manage_kitchenSink_resetPageNumber') }}", function( html ) 
            {
                processMultiple();
            });
        }
        else
        {
            $( "#planData{{loop.index}}").html(alreadyRunningText);
        }
    }
    else
    {
        modalMessage("At least one Type has to be checked");
    }
}
function processMultiple()
{      
    $.post("{{ path('_manage_kitchenSink_showPlanData_plansMixed') }}",{types:mixedTypes}, function( data ) 
    {
        $("#mixedPlanData").append(data.html + "<br/>");
        $( "#mixedPlanData" ).find(".progress").remove();
        if ("loader" in data)
        {
            $( "#mixedPlanData" ).prepend(data.loader);
        }
        if (data.csv)
        {
            $("#mixedCsvData").append(data.csv + "\n");
        }
        $("#mixedPlanData").find("#kitchenSinkLoaderBody").hide();
        if (!$("#mixedPlanData").find(".processedFinished").length)
        {
            processMultiple();
        }
        else
        {
            $("#mixedPlanData").prepend($("#mixedCsvButtonBody").html());
            $("#mixedPlanData").find("#kitchenSinkLoader").hide();
        }
    });
}
function exportCSVMixed()
{
    var csvContents = $("#mixedCsvData").html().trim();
    downloadCsv(csvContents,"MixedReport.csv");
}
</script>
{% endfor %}
