{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Email Campaigns'})) }}

{{    include("TemplatesTemplatesBundle:Default:alert.html.twig") }}

{% if managepage is not defined %}
    <h2>Email Campaigns</h2>
{%  endif  %}
<form role="form" id="plan-campaigns" method="post" action="{{  path('utilities_upload_logos') }}" enctype="multipart/form-data">



    <div class="row">

        <div class="col-md-12">



            {% if managepage is defined %}
                <div class="row">
                    <div class="col-md-9">
                        <input type = "text" value = "{{ currentplan.id }}" id = "currentplanid" class = "form-control" placeholder = "Enter Smartplan Id" />
                    </div>
                    <div class="col-md-3">
                        <button type = "button" class="btn btn-success" id = "currentplanidButton">Change Plan</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if managepage is not defined %}
        <hr />
        <h3>Plan Defaults</h3>

        {% for image in images %}
        <div class="form-group col-md-6">
            <div class="form-group">
                <label for="{{ image.section }}">{{ image.description }}</label>

                <img id = "{{ image.section }}SRC"  src="{{ image.url }}" {% if image.url == "" %}style = "display:none"{% endif %} />
                <input type = "text" value = "{{ image.url }}" name = "{{ image.section }}SRC" id = "{{ image.section }}SRCText" style = "display:none" />
                <input type = "text" name = "returnpage" value = "{{ path('_plans_branding') }}" style = "display:none" />
                {% if writeable %}
                <input type="file" name="{{ image.section }}" id = "{{ image.section }}File" />
                <p class="help-block" style ="line-height:50px;display:none" id ="{{ image.section }}Dimensions"><input type ="text" class = "form-control" value ="{{image.width}}" style ="width:100px;display:inline" id = "{{ image.section }}Width" name ="{{ image.section }}Width" onkeyup ="resizeLogoUsingWidth('{{ image.section }}',this.value)" /> x <input type ="text" class ="form-control" value = "{{image.height}}"  style ="width:100px;display:inline" id = "{{ image.section }}Height" name = "{{ image.section }}Height" onkeyup ="resizeLogoUsingHeight('{{ image.section }}',this.value)" /></p>
                <button type = "button" class="btn btn-sm btn-danger" value = "0" id = "{{ image.section }}Remove" {% if image.url == "" %}style = "display:none"{% endif %}>Revert</button>
                {% endif %}

            </div>
        </div>
        {% endfor %}
        {% if adviserplan is  null %}
            {% set plansTable = "plans" %}
            <input type = "text" name = "id" value = "{{ currentplan.id }}"  style = "display:none" readonly = "true" />
        {% else %}
            {% set plansTable = "accountsUsersPlans" %}
            <input type = "text" name = "id" value = "{{ adviserplan.id }}"  style = "display:none" readonly = "true" />
            <input type = "text" name = "adviserplan" value = "true"  style = "display:none" readonly = "true" />
        {% endif %}
        <input type = "text" name = "returnpage" value = "{{ path('_plans_outreach') }}" style = "display:none" />
        <div class="form-group col-md-12">
            <label for="login-page-url">Participant Login Page URL</label>
            <input type="url" class="form-control" name = "participantLoginWebsiteAddress" value = "{{ currentplan.participantLoginWebsiteAddress }}" data-bv-notempty placeholder="Participant Login Page URL" {%  if not writeable %}disabled{% endif %}>
            <p class="help-block">This the address of the page where the participant can login to the plan sponsor website. Please provide a full URL ex. "https://google.com"</p>
        </div>       
        
        
    </div>

    </div>
    {%  if writeable  %}		
        <button type = "submit" class="btn btn-success">Save</button>
    {%  endif %}
    <hr />
{% endif %}

</form>

{% if outreach is defined %}
<form id="outreach-form">
    <div class="row">
        <div class="col-md-12">
            <label>Human Resources First Name:</label>
            <input {% if not outreachwrite %}disabled {% endif %}type="text" class="form-control" name="HRFirst" id="HRFirst" value="{{ currentplan.HRFirst }}">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <label>Human Resources Last Name:</label>
            <input {% if not outreachwrite %}disabled {% endif %}type="text" class="form-control" name="HRLast" id="HRLast" value="{{ currentplan.HRLast }}">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <label>Human Resources Email:</label>
            <input {% if not outreachwrite %}disabled {% endif %}type="text" class="form-control" name="HREmail" id="HREmail" value="{{ currentplan.HREmail }}">
        </div>
    </div>
    <br>
    {% if showParticipantDetails %}
    <p>Get Participant Details <input {% if not outreachwrite %}disabled {% endif %} {% if currentplan.participantDetails == 1 or currentplan.participantDetails == 2 %}checked {% endif %}data-size="small" type="checkbox" name="participantDetails"/></p>
    {% endif %}

    {% if outreachwrite %}
    <button type="button" class="btn btn-success" onclick="saveHR()">Save HR Details</button>
    {% endif %}
</form>
{% endif %}

{% if managepage is not defined %}
{{ include ("PlansPlansBundle:Branding:javascript/index.js.twig") }}
{% endif %}

{{ include('SharedOutreachBundle:Default:javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

