{{ campaign.title }}

<br/><br/>
<button class ="btn btn-info" onclick = "copyCampaign()" id ="copyCampaignbutton">Copy Campaign</button>
<div id ="copyCampaignbuttonLoader" style = "display:none"><img src = "{{ asset('images/load-icon.gif') }}" /></div>
<script>
function copyCampaign()
{
    var page = "{{ path('_manage_campaigns_copy_saved') }}";
    var querystring = "id={{campaign.id}}";
    var button = "copyCampaignbutton";
    loadAjax(button);
    $.post(page, querystring).done(function(data) 
    {
        ajaxLoaded(button);
        closeLightBox();
        campaignsTable.fnDraw(false);
    }).fail(function(data) 
      {
          alert('an error occured');
          console.log(data.responseText);
      });
}
</script>