<div style = "line-height:25px">
    <strong>From Name: </strong><br/>
    {{ properties.fromName }}<br/>
    <strong>From Email: </strong><br/>
    {{ properties.fromEmail }}<br/>
    <strong>Subject: </strong><br/>
    {{ properties.subject }}
</div>
