<div class="col-lg-5 forms-left">
    <p>{{ section.description }}: <span class="infoTip">?</span></p>
    <div class="form-help-box hide">{{ section.help }}</div>
</div>
<div class="col-lg-7 forms-right">
    <p>
        <select id = "campaigns{{ section.name}}" name = "{{section.name}}" {% if section.type == "select" %}required="required" {% endif %}>
        <option value = "">- Choose one</option>
        {% for key,value in section.value %}
        {% if key != "selectedIndex" %}
        <option value = "{{key}}" {% if section.value.selectedIndex == key %}selected{% endif %} >{{ value }}</option> 
        {% endif %}
        {% endfor %}
        </select>
    </p>

</div>
{% if section.name == "templateid" %}
<div class="col-lg-5 forms-left">
    <p>Select Plan: <span class="infoTip">?</span></p>
    <div class="form-help-box hide"></div>
</div>
<div class="col-lg-7 forms-right">
    <p>
        <a href ="javascript:selectPlan()">Select your plan</a>
    </p>
</div>
{% endif %}