<table class="table table-striped" id = "listUsers">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.firstName }}
            </td>
            <td>
                {{ user.lastName }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
<script>
$(document).ready(function() 
{
    $('#listUsers').DataTable();
} );

</script>