{% extends 'WidgetsBundle:PowerViewBase:desktop.html.twig' %}

{% block title %}PowerView Redirect Prototype{% endblock %}



{% block video %}
{% if data.maxMatch > 0 %}{{ '1134a_PWV' | trans({}, 'widget') }}
{% else %}{{ '1134b_PWV' | trans({}, 'widget') }}
{% endif %}
{% endblock %}

{% block contentID %}redirect{% endblock %}


{% block slides %}

{{ include('WidgetsBundle:PowerViewSlides:slideGroup_Intro.html.twig') }}


	{% if data.maxMatch > 0 %}

		{{ include('WidgetsBundle:PowerViewSlides:slideGroup_A.html.twig') }}

		{{ content.section('cta', 'half-background out-right bg-primary', '39', '1000', 'out-right', 'fade-out') }}


			{{ content.article('', 'cta rev fade-out', '41', '1000', 'fade-out', 'fade-out') }}
		    {{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_1.html.twig') }}
		  {{ content.articleClose }}

			{{ content.article('', 'cta rev fade-out', '44', '1000', 'fade-out', 'fade-out') }}
		    {{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_2.html.twig') }}
		  {{ content.articleClose }}

			{{ content.article('', 'cta rev fade-out', '47', '1000', 'fade-out', 'fade-out') }}
		    {{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_3.html.twig') }}
		  {{ content.articleClose }}

		{{ content.sectionClose }}

		{{ content.section('cta_prompt', 'full-background bg-primary fade-out no-video confirmation', '51', '1000', 'fade-out', 'fade-out') }}
		  {{ content.articleSimple('', 'col wide single rev') }}
		    {{ include('WidgetsBundle:PowerViewSlides:redirectForm2.html.twig') }}
		  {{ content.articleClose }}
		{{ content.sectionClose }}


	{% else %}

	{{ include('WidgetsBundle:PowerViewSlides:slideGroup_B.html.twig') }}

	{{ content.section('cta', 'half-background out-right bg-primary', '37', '1000', 'out-right', 'fade-out') }}


		{{ content.article('', 'cta rev fade-out', '37.5', '1000', 'fade-out', 'fade-out') }}
			{{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_1.html.twig') }}
		{{ content.articleClose }}


		{{ content.article('', 'cta rev fade-out', '39.5', '1000', 'fade-out', 'fade-out') }}
			{{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_2.html.twig') }}
		{{ content.articleClose }}

		{{ content.article('', 'cta rev fade-out', '41.5', '1000', 'fade-out', 'fade-out') }}
			{{ include('WidgetsBundle:PowerViewSlides:RedirectCTA_3.html.twig') }}
		{{ content.articleClose }}

	{{ content.sectionClose }}

	{{ content.section('cta_prompt', 'col wide single rev fade-out no-video confirmation', '48.5', '1000', 'fade-out', 'fade-out') }}
		{{ content.articleSimple('', '') }}
			{{ include('WidgetsBundle:PowerViewSlides:redirectForm2.html.twig') }}
		{{ content.articleClose }}
	{{ content.sectionClose }}

		{% endif %}

{% endblock %}
