{% extends 'WidgetsBundle:PowerViewBase:mobile.html.twig' %}

{% block title %}PowerView Redirect Mobile Prototype{% endblock %}


{% block slides %}

	{{ include('WidgetsBundle:PowerViewMobileSlides:slideGroup_Intro.html.twig') }}


	{% if data.maxMatch > 0 %}
		{{ include('WidgetsBundle:PowerViewMobileSlides:emp_match.html.twig') }}
	{% endif %}

	{{ include('WidgetsBundle:PowerViewMobileSlides:sameRateContribution.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:RedirectCTA.html.twig') }}


{% endblock %}
