<script>

$(document).ready(function(){
	startWidget();
        
    function loadEmployers(id, reanswerq1) {
        $.post('/widgets/survey/getEmployerGroup', {id: id}, function(group) {
            if (group.isEmployer && group.surveyEmployers.length === 1) {
                var employer = group.surveyEmployers.shift();
                loadTypes(employer.id, true);
            }
            else {
                $('#employersSelect option').not('[data-placeholder]').remove();
                $.each(group.surveyEmployers, function(key, value) {
                    $('#employersSelect').append('<option value="1" data="'+value.employerName+'" data-id="'+value.id+'">'+value.employerName+'</option>');
                });
                $('#q3').fadeIn().toggleClass('active');
                $('#q3 #reanswer-q2').toggle(!reanswerq1);
                $('#q3 #reanswer-q1').toggle(reanswerq1);
                buttonSwitch = reanswerq1 ? 1 : 0;
            }
        });
    }
    
    function loadTypes(id, reanswerq1) {
        var query = { surveyEmployerId: id };
        var page = "/widgets/survey/getTypes";
        $.post(page, query).done(function(types) {
            for(var i = 0; i < types.length; i++) {
                var count = i + 1;
                $('#planTypes').append('<div class="input-row"><input id="q4-a' + count +'" type="radio" name="plan-type" data="' + types[i]['type'] + '" data-one="' + types[i]['planid'] + '" value="' + count + '" /><label for="q4-a' + count +'"><span></span>' +  types[i]['type'] + '</label></div>');
            }
            $('#q4').fadeIn().toggleClass('active');  
            $('#q4 #reanswer-q1').toggle(reanswerq1);
            $('#q4 #reanswer-q3').toggle(!reanswerq1);
        });
    }
    
    /* Language Selector */
    var buttonSwitch;
    var choices = [];
	var LS = $('#languageSelect');     

	var openLS = function() {
		$(LS).addClass('open');
		$(LS).find('.menu .options').slideDown();
	};


	var closeLS = function() {
		$(LS).removeClass('open');
		$(LS).find('.menu .options').slideUp();
	};

	$(document).on('click', '#languageSelect:not(.open)', function(){
		openLS();
		setTimeout(closeLS, 10000); // auto close after 10 seconds
	});

	$(document).on('click', '#languageSelect.open', function(){
		closeLS();
	});

	$(document).on('click', '#intro h1, #intro p', function(){
		if ($('#languageSelect').hasClass('open')) {
			closeLS(); // close if user clicks elsewhere in the form\
		}
	});
        
        (function(){
            var langUrl = window.location.href;
            var language = langUrl.split('&lang=');
            
            if(language.length > 0 && language[1] === 'es'){
                $('#languageSelect .currentLanguage').html( 'Spanish <span></span>');
            }else if(language.length > 0 && language[1] === 'en'){
                $('#languageSelect .currentLanguage').html( 'English <span></span>');
            }
        })();
        
        

	$('#languageSelect .options li').click(function(){
		$('#languageSelect .options li.selected').removeClass('selected');
		$(this).addClass('selected');
                var lang = $(this).attr('data');
                var path = window.location.href;
                               
                pathFix(path, lang);
                 
	});
        
        function pathFix(url, lang){
            var popped = url.split('&lang=');
            window.location.href = popped[0] + '&lang=' + lang;
        }
        
  $(window).on('change', 'input', function(){
    var pageHeight = $('.form-page.active').height();
    var visibleHeight = $('#vwise_survey').height();
    if ( pageHeight > (visibleHeight + 50) ) {
      $('#scrollBuddy').fadeIn().addClass('active');
    }
  });

  /* Hide scroll indicator and scroll to Button section */
  $(document).on('click', '#scrollBuddy', function(){
    $('#wl-frame body').animate({
      scrollTop: $(".form-page.active .button").offset().top - 100
    }, 1000);
    $(this).fadeOut().removeClass('active');
  });

  /* Hide when new page shows */
  $(document).on('click', '.form-page.active .button', function(){
    $('#scrollBuddy').fadeOut().removeClass('active');
  });        
        
/* END Language Selector */


  /* Survey Actions */
  /* Scroll to Top action */
  
  
  var goUP = function() {
    $('#wl-frame body').animate({
      scrollTop: $("#survey").offset().top
    }, 1000);
  };
        

  $(document).on('click', '#start-survey', function(){
    goUP();
    $('#intro').hide();
    $('#spinner').fadeIn();
    setTimeout(function(){
      $('#spinner').hide();
      $('#q1').fadeIn(1000).toggleClass('active');
    },1000);
  });

  /* Continue/Submit Question Button Actions */

    $(document).on('click', '#submit-q1', function(){
        goUP();
        var id = $( 'input:radio[name=employer-type]:checked' ).val();
        var choice = $( 'input:radio[name=employer-type]:checked' ).attr('data');
        choices.push(choice);
    
        if ( id == 0 || id == null ) {
            $('#q1 h1').addClass('error');
        } else {
            $('#q1').hide().toggleClass('active');

            if (employersGroups[id] && employersGroups[id].children.length > 0) {
                $('#childGroups').empty();
                $.each(employersGroups[id].children, function(key, value) {
                    var html =  '<div class="input-row">';
                    html +=     '<input id="q2-a'+key+'" type="radio" name="employer-cat" data="'+value.groupName+'" value="'+value.id+'" />';
                    html +=     '<label for="q2-a'+key+'"><span></span>';
                    html +=     value.groupName;
                    html +=     '</label>';
                    html +=     '</div>';
                    $('#childGroups').append(html);
                });
                $('#q2').fadeIn().toggleClass('active');
            }
            else {
                loadEmployers(id, true);
            }
        }
    });

    $(document).on('click', '#submit-q2', function(){
        goUP();
        var answer = $( 'input:radio[name=employer-cat]:checked' ).val();
        var choice = $( 'input:radio[name=employer-cat]:checked' ).attr('data');
        choices.push(choice);
        $('#q3 #reanswer-q2').show(); 

        if ( answer == 0 || answer == null ) {
            $('#q2 h1').addClass('error');
        } else {
            $('#q2').hide().toggleClass('active');
            loadEmployers(answer, false);
        }
    });

    $(document).on('click', '#submit-q3', function() {
        goUP();
        var answer = $('#employersSelect').find('option:selected').val();
        var choice = $('#employersSelect').find('option:selected').attr('data');
        var id = $('#employersSelect').find('option:selected').attr('data-id');
        choices.push(choice);

        if ( answer === '' || answer === null || answer === undefined ) {
            $('#q3 h1').addClass('error');
        } else {
            $('#q3').hide().toggleClass('active');
            loadTypes(id, false);
        }
    });

  $(document).on('click', '#submit-q4', function(){
    goUP();
    var answer = $( 'input:radio[name=plan-type]:checked' ).val();
    var choice = $( 'input:radio[name=plan-type]:checked' ).attr('data');
    choices.push(choice); 
    
    if ( answer == 0 || answer == null ) {
      $('#q4 h1').addClass('error');
    } else {
      $('#q4').hide().toggleClass('active');
      $('#spinner').fadeIn();
      setTimeout(function(){
        $('#spinner').hide();
        $('#result').fadeIn(1000);
        
    if(choices.length > 2){
        var title = choices.slice(Math.max(choices.length - 2, 1));
        $('#employertitle').text(title[0]);
        $('#plantype').text(title[1]);
    }else{
        var title = choices;
        $('#employertitle').text(title[0]);
        $('#plantype').text(title[1]);
    }
        
      },2000);
    }
  });

  /* END Continue/Submit Question Button Actions */
  /* Back/Reanswer Question Button Actions */

  $(document).on('click', '#reanswer-q1', function(){
    goUP();
    choices.pop();
    $("option:selected").prop("selected", false);
    $('#planTypes').html('');
    $('.active').hide().toggleClass('active');
    $('#q1').css('display', 'none');
    $('#q2').css('display', 'none');
    $('#q3').css('display', 'none');  
    $('#q1').fadeIn().toggleClass('active');
  });

  $(document).on('click', '#reanswer-q2', function(){
    goUP();
    choices.pop();
    $("option:selected").prop("selected", false);
    $('#planTypes').html('');
    $('.active').hide().toggleClass('active');
    $('#q2').fadeIn().toggleClass('active');
  });

  $(document).on('click', '#reanswer-q3', function(){
    goUP();
    choices.pop();
    $("option:selected").prop("selected", false);
        $('#planTypes').html('');
    var answer = $( 'input:radio[name=employer-cat]:checked' ).val();

    
    if(buttonSwitch === 1){
        $('#q3 #reanswer-q2').hide();  
        $('#q3 #reanswer-q1').show();
    }else{
        $('#q3 #reanswer-q2').show();  
        $('#q3 #reanswer-q1').hide();        
    }
    
    buttonSwitch = 0;

    if ( answer === 0 || answer === null || answer === 'undefined') {
      $('.active').hide().toggleClass('active');
      $('#q2').fadeIn().toggleClass('active');
    } else {
      $('.active').hide().toggleClass('active');
      $('#q3').fadeIn().toggleClass('active');
    }
  });
  

  /* END Back/Reanswer Question Button Actions */
  /* Results & CTA Screen Actions */

  $(document).on('click', '#confirm', function(){
    goUP();
      var querystring = JSON.stringify(choices);
      var plan = $( 'input:radio[name=plan-type]:checked' ).attr('data-one');
      var page = "/widgets/survey/saveResults";
      var partner = $('#params-misc').attr('data-partner');

            $.post(page, {json: querystring , plan: plan, partner: partner}).done(function(data){  
                
            $('#result').hide().toggleClass('active');
            $('.close').hide();
            $('#spinner, #smartplan-launch').fadeIn();
            setTimeout(function(){
                parent.window.location = data;
            },3000);
        });
    });

  $(document).on('click', '#unconfirmed', function(choices){
    goUP();
    choices = [];
            $("option:selected").prop("selected", false);
            $('#result').hide().toggleClass('active');
            $('#moreOptions').fadeIn().toggleClass('active');
	});

  $(document).on('click', '#restart', function(){
		location.reload();
	});
        
/* END Results & CTA Screen Actions */
/* END Survey Actions */
 
        $('#backToIntro').click(function(){
            $('#q1').hide();
            $('#q2').hide();
            $('#q3').hide();
            $('#q4').hide();
            $('#intro').fadeIn().toggleClass('active');
        });
 
	$('.close').click(function(){
		closeWidget();
	});

});
</script>
