Section: <br/><br/>
<select class ="form-control" id ="sectionId">
    {% for section in sections %}
        <option value ="{{ section.id }}">{{ section.description }}</option>
    {% endfor %}   
</select>
<br/><br/>
<button class ="btn btn-info" onclick ="Paths.addSection()">Add</button>
<script>
Paths.addSection = function()
{
    this.ajaxPost("{{ path('_paths_configure_addsection_saved') }}",{ appSectionListId: $("#sectionId").val()});
    window.location = "";
};
</script>