{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Configure'})) }}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
<div class ="row">
        <div class="col-sm-4 jumbotron" style ="padding:30px">
            <h3>Path ID: {{ path.path }}</h3>
            <h2>Section</h2>
            <br>
            <p>EDIT SECTIONS 
            {% if path.sections is not empty %}
                <ul id="sortable" class="list-group" style ="cursor:pointer">
                {% for section in path.sections %}
                    <li class="list-group-item" data-id="{{ section.section.id }}">
                        <span data-id="{{ section.section.id }}">{{ section.section.description }}</span>
                        <span class="glyphicon glyphicon-arrow-right pull-right" onclick ="Paths.editSection({{ section.id }})" style="margin-left:10px"></span>
                        <span class="glyphicon glyphicon-trash pull-right" style="margin-left:10px" onclick ="Paths.deleteSection({{ section.id }})"></span> 
                        <input type="checkbox" value="{{ section.id }}" {% if section.active %}checked{% endif %} class="pull-right" style ="margin-left:10px" />

                    </li>
                {% endfor %}
                </ul>
            {% else %}
                No Sections yet
            {% endif %}
            <br/><br/>
            {% if showAddButton %}
            <button class ="btn btn-info" onclick ="Paths.addSectionModal()">Add Section</button>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h2>Section Builder</h2>
            {% block sectionContent %}
            {% endblock %}
        </div>
</div>
<script>
Paths.addSectionModal = function()
{
    ajaxModal('{{ path('_paths_configure_addsection') }}','Add Section');
};

Paths.cancel = function() {
    window.location.href = '{{ path('_paths_index') }}';
};
Paths.editSection = function(sectionId)
{
    window.location = "{{ path('_paths_configure_editsection') }}?sectionId=" + sectionId;
    //$("#editSection").html(this.ajaxPostValue("{{ path('_paths_configure_editsection') }}",{sectionId:sectionId}));
};

$("#sortable").sortable({
    update: function(event, ui) {
        Paths.saveReorder();
    }
});

Paths.saveReorder = function() {
    var listElement = $('#sortable').children();
    var listValues = [];
    $.each(listElement, function( index, value ) {
        listValues.push($(value).data('id'));
    });
    $.post("{{ path('_paths_section_form_reorder_saved') }}", { pathId: "{{ path.id }}", sectionList: listValues }, function(data)
    {
    });
};
Paths.deleteSection = function(id)
{
    ajaxModal("{{ path('_paths_section_form_delete') }}?id=" + id,"Delete Section");
};
Paths.deleteSectionSaved = function(id)
{
    this.ajaxPost("{{ path('_paths_section_form_delete_saved') }}", { id: id });
    window.location = "";
};


$('input[type=checkbox]').change(function () {
    var id = $(this).val()
    var active = $(this).is(':checked') ? 1 : 0;
    $.post("{{ path('_paths_section_form_active_saved') }}", { id: id, active: active }, function(data)
    {
    });
});

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
