{% for user in items %}
{% if loop.index > 1 %},{% endif %}
[
{% set checked = render(controller('PlansPlansBundle:AccessControl:checkUserExists', {'planid':request.planid,"accountsUsersId":user.id})) %}
{{ user.id }},
"{{ user.firstname }}",
"{{ user.lastname}}",
"{{ user.email}}",
"<input type = \"checkbox\" {{checked}} onclick =\"saveUser(this,'{{request.planid}}','{{user.id}}')\" />"
]
{% endfor %}
