{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% set loopcounter = 0 %}
<script>
{% block javascriptVariables %}{% endblock %}
</script>

<script>
    $( document ).ready(function()
    {
        $("#btnClick").click(function () {
            $('html, body').animate({ scrollTop: 0 }, 0);
            $('#saved-alert').show();
            $('#use-default-contact').hide();
            setTimeout(function() {
                $('#saved-alert').slideUp();
                $('#use-default-contact').slideDown();
            },3000);
        });

    });
</script>

<div id="use-default-contact">{% block usedefault %}{% endblock %}</div>
<form  id="contactinfo">
    <input type = "text" name = "userid" value = "{{ userid }}" id = "userid" style = "display:none" readonly = "true" />
    {% block extrafields %}{% endblock %}
    {{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}
        <h3>Contact Information</h3>

        {% for key in contact|keys %}
        {% set loopcounter = loop.index %}
        {% if loop.index % 2 == 1 %}
        <div class="row">
        {% endif %}
            <div class="form-group col-md-6">
            <label for = "{{ key }}">{{ contact[key]['description'] }}</label>
            <input type  = "text"  class = "form-control" {% if not writeable %}disabled{% endif %} id = "contact_{{ key }}" name = "{{ key }}" value = "{{ contact[key]['value'] }}" />
            </div>
        {% if loop.index % 2 == 0 %}
        </div>
        {% endif %}

        {% endfor %}

      {% if loopcounter % 2 == 1 %}
      </div>
      {% endif %}

            {% if writeable %}
            <button type = "button" id ="btnClick" onclick = "updatetable(table,'contactinfo',findby)" class="btn btn-primary">Save</button>
            {% endif %}

</form>
{% block additionalContent %}{% endblock %}
{% block javascript %}{% endblock %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}