{% set pagename = "Settings- Video Ads" %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}

{% block vadfrequency %}
{% if writeable %}
<h3>vAd frequency  </h3>
 

Always On &nbsp; <input type = "radio" name = "occurancetype" id = "occurancetypeon" {{ checkedon }}> &nbsp; Show only once per period &nbsp; <input type = "radio" name = "occurancetype" id = "occurancetypeperiod" {{ checkedperiod }}>

<div id = "vadperiod" {% if checkedon == "checked" %}style = "display:none"{% endif %}>
	<br/>
	<label for = "Days">Days</label> <input type  = "number" value = "{{ days }}"  id = "vadFrequencydays" onchange = "customParseInt(this.id,'unsigned')" placeholder = "Days" class = "form-control vad_input"  />  <label for = "Hours">Hours</label> <input type = "number" value = "{{ minutes }}"  id = "vadFrequencyminutes" onchange = "customParseInt(this.id,'unsigned')" placeholder = "Hours" class = "form-control vad_input"   />
</div>
<br/>
<br/>
<input type = "button" onclick = "updateFrequency()" value = "save" id = "savevadbutton" class = "btn btn-primary" />
		
<form id = "savevad" >
<input type = "text" name = "userid" value = "{{ userid }}" id = "userid" style = "display:none">
<input type = "text" name = "vadFrequency" id = "vadFrequency" value = "0" style = "display:none"/>
</form>	
{% endif %}
{{ include('SharedvadsBundle:Default:javascript/index.js.twig') }}
{% endblock %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
