{% set type = render(controller('PlansPlansBundle:PlanIdentification:getRecordkeeperType')) %}


{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ plan.id }},
	"<a href = \"javascript:selectplan($('#planname{{loop.index}}').val(),$('#planid{{loop.index}}').val(),$('#plantypecd{{loop.index}}').val())\">{{ plan.name }}</a><input type = \"text\" value = \"{{ plan.name }}\" id = \"planname{{loop.index}}\" style = \"display:none\"/><input type = \"text\" value = \"{{ plan.planid }}\" id = \"planid{{loop.index}}\" style = \"display:none\"/><input type = \"text\" value = \"{{ plan.plantypecd }}\" id = \"plantypecd{{loop.index}}\" style = \"display:none\"/>" ,
	{% if type starts with "SRT" %}
	"{{ plan.plantypecd }}"
	{% else %}
	"{{ plan.planid }}"
	{% endif %}
	
]
{% endfor %}

