{{ include ('ManageManageBundle:ApiUI:index.html.twig', {'currentpage':"TTL"}) }}
<form id ="apiTokenForm">

<input type ="number" min ="0" step = "1" class ="form-control" id = "tokenTTL" placeholder ="Enter TTL" value ="{{ token.ttl }}" />
<br/><br/>
<button class ="btn btn-primary" type ="submit">Save</button>
</form>

</div></div>
<script>
$( "#apiTokenForm" ).submit(function( event ) 
{
    event.preventDefault();
    $.post( "{{ path("_manage_API_ttl_savetoken") }}",{ ttl: $("#tokenTTL").val() }, function( data ) 
    {
      modalMessage("Saved TTL");
    });  
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}