{% set reportName = "Conversion Report" %}
{% block processReport %}
$.get( "{{ path('_manage_reports_conversionreport_getreport') }}?" + querystring, function( data ) 
{
    $("#reportResult").html(data);
}).fail(function() {
    modalMessage("An Error occured");
    $("#reportResult").hide();
    $("#accountlist").show();
  });
{% endblock %}
{% extends "ManageManageBundle:Reports:template.html.twig" %}