{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Path Partners'})) }}
{% set table = "accounts" %}
{% set tablename = "accounts" %}
{% set url = path('_paths_partner_getpartners') %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<br/><br/>
<div class ="pull-right">
    <button class="btn btn-warning" onclick ="Paths.cancel()">Cancel<button>
    <button class="btn btn-primary" onclick ="Paths.save()">Save</button>
</div>
{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
<script>
Paths.cancel = function()
{
    window.location = "";
};
Paths.save = function()
{
    this.savePath("{{ path('_paths_partner_savepaths') }}");
};
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}