<select {% if data.disabled is defined and data.disabled == 'true' %}disabled {% endif %}id="{{ data.field }}" name="{{ data.field }}">
    <option value="">{{ 'select' | trans ({}, 'personal') }}</option>
    {% for option in data.options %}                       
    <option value="{{ option.value }}" {% if data.value == option.value %}selected{% endif %}>{{ option.translation }}</option>
    {% endfor %}
</select>