<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius custom-choice" :elevation="0">
      <disclaimer :message="'customReview'" :messageActive="'customReviewActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="CChoice_Review" label="CChoice_Review1"></path-content>
    <path-content section="investments" step="CChoice_Review" label="CChoice_Review2"></path-content>
    <v-row class="body-1 border-row align-center mb-3 sample-check ma-0">
      <v-col class="text-left" cols="12">
        <v-checkbox
          v-model="topAcknowledge"
          :disabled="true"
          class="sample-check">
          <template slot="label">
            <div>
              <strong>{{this.translate('investments', 'CChoice_Review', 'CChoice_Review3')}}</strong>
            </div>
          </template>
        </v-checkbox>
      </v-col>
    </v-row>
    <v-row class="tabled-data ma-0">
      <v-data-table v-model="selected" :headers="headers" :items="funds" height="400px" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.fundSheet="{ item }">
          <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;<span class="primary--text">PDF</span>
        </template>
        <template v-slot:item.allocation="{ item }">
          {{item.allocation}}%
        </template>
        <template v-slot:item.acknowledgment="{ item }">
          <v-checkbox
                  v-on:change="updateAcknowledgment"
                  v-model="item.acknowledgment"
                  :label="label"
          ></v-checkbox>
        </template>
      </v-data-table>
    </v-row>
  </v-card>
</template>


<script>
  import Disclaimer from "../Global/Disclaimer";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  import PathContent from "../Content/PathContent";
  export default {
    components:{
      StepAudioPlayer,
      Disclaimer,
      PathContent
    },
    data() {
      return {
        singleSelect: false,
        selected: [],
        topAcknowledge: true,
        remainingFunds: 0,
        funds: [],
        sumAllocations: 0,
      }
    },
    computed:{
      headers(){
        return [{
          text: this.translate('investments', 'CChoice_Review', 'CChoice_Review4'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'CChoice_Review', 'CChoice_Review5'),
            value: 'fundSheet'
          },
          {
            text: this.translate('investments', 'CChoice_Review', 'CChoice_Review6'),
            value: 'allocation'
          },
          {
            text: this.translate('investments', 'CChoice_Review', 'CChoice_Review7'),
            value: 'acknowledgment'
          },

        ]
      },
      label(){
        return this.translate('investments', 'CChoice_Review', 'CChoice_Review8')
      },
    },
    methods: {
      updateAcknowledgment() {
        var acknowledged = 0;
        for(var k in this.funds) {
          acknowledged += (this.funds[k].acknowledgment ? 1 : 0);
        }
        this.remainingFunds = this.funds.length - acknowledged;
        if (this.remainingFunds === 0) {
          this.$parent.$parent.validated = true;
        } else {
          this.$parent.$parent.validated = false;
        }
      }
    },
    created() {
      this.$parent.$parent.validated = false;
      for (var k in this.$store.state.investments.allocations) {
        this.funds.push({name: this.$store.state.investments.funds[k].name,
          allocation: parseInt(this.$store.state.investments.allocations[k]),
          acknowledgment: false
        });
      }
      this.remainingFunds = this.funds.length;
      this.sumAllocations = this.funds.reduce((acc, item) => acc + item.allocation, 0)
    },
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";

  .custom-choice ::v-deep .v-text-field__details {
    display: none;
  }
  .custom-choice ::v-deep td {
    padding-top: 8px;
    font-size: 1rem;
  }
  .sample-check ::v-deep .v-input--is-label-active label {
    text-decoration: none;
    color: #000
  }
  .custom-choice ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  .custom-choice ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  .border-row{
    border: 1px solid black;
    border-radius: 4px;
  }
  @media only screen and (max-width: 599px) {
    .custom-choice ::v-deep tr td{
      padding: 32px 16px
    }
    .custom-choice ::v-deep tr td:first-child{
      padding-top: 40px
    }
    .custom-choice ::v-deep tr td:last-child{
      padding-bottom: 40px
    }
  }
</style>


 