<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pl-sm-10 pt-md-9 pr-md-8 pl-md-10 pt-lg-9 pr-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pl-xl-10 pb-0 set-radius custom-choice" :elevation="0">
    <disclaimer :message="'customChoice'" :messageActive="'customChoiceActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based7"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based8"></path-content>
    <v-row>
      <v-data-table :items-per-page="-1" v-model="selected" :headers="assetAndRiskCol ? riskAssetHeaders : assetCol ? assetHeaders : riskCol ? riskHeaders : headers" :items="Object.values($store.state.investments.funds)" height="400px" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.customUrl="{ item }">
          <template v-if="item.customUrl">
            <a href="#" style="text-decoration: none;" @click.prevent="openPopUp(item.customUrl)">
              <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;<span class="primary--text">PDF</span>
            </a>
          </template>
        </template>
        <template v-slot:item.currentElection="{ item }">
          <v-text-field v-on:input="allocationChange(item)" :aria-label="item.currentElection === null ? '0' : item.currentElection" v-model="$store.state.investments.allocations[item.id]" outlined class="align-center title font-weight-regular" append-icon="%" :placeholder="item.currentElection === null ? '0' : item.currentElection">
          </v-text-field>
        </template>
      </v-data-table>
    </v-row>
    <v-row :class="sumAllocations != 100 ? '' : 'primary white-color'" class="display-1">
      <v-col cols="12" lg="6" sm="6" md="6">
        {{this.translate('investments', 'Risk_Based', 'Risk_Based9')}}
      </v-col>
      <v-col cols="12" lg="6" sm="6" md="6">
        <v-row class="justify-end ma-0">
          {{sumAllocations}}%
        </v-row>
        <v-row class="justify-end subtitle-1 ma-0">
          {{this.translate('investments', 'Invest_Sel', 'Invest_Sel10')}}
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>


<script>
  import PathContent from "../Content/PathContent";
  import helpers from "../../helpers";
  import Disclaimer from "../Global/Disclaimer";
  import StepAudioPlayer from "../Global/StepAudioPlayer";

  export default {
    components: {StepAudioPlayer, PathContent, Disclaimer },
    data() {
      return {
        singleSelect: false,
        selected: [],
        sumAllocations: 0,
        assetCol: false,
        riskCol: false,
        assetAndRiskCol: false
      }
    },
    computed:{
      riskAssetHeaders(){
        return [{
          text: this.translate('investments', 'Invest_Sel', 'Invest_Sel6'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel7'),
            value: 'risk'
          },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel8'),
            value: 'assetClass'
          },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel9'),
            value: 'customUrl'
          },
          {
            text: this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info11'),
            value: 'currentElection'
          },
        ]
      },
      riskHeaders(){
        return [{
          text: this.translate('investments', 'Invest_Sel', 'Invest_Sel6'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel7'),
            value: 'risk'
          },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel9'),
            value: 'customUrl'
          },
          {
            text: this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info11'),
            value: 'currentElection'
          },
        ]
        },
      assetHeaders(){
        return [{
          text: this.translate('investments', 'Invest_Sel', 'Invest_Sel6'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel8'),
            value: 'assetClass'
          },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel9'),
            value: 'customUrl'
          },
          {
            text: this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info11'),
            value: 'currentElection'
          },
        ]
        },
        headers(){
          return [{
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel6'),
            align: 'left',
            sortable: false,
            value: 'name',
          },
            {
              text: this.translate('investments', 'Invest_Sel', 'Invest_Sel9'),
              value: 'customUrl'
            },
            {
              text: this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info11'),
              value: 'currentElection'
            },
          ]
        },
    },
    methods: {
        getHeader(){
          Object.keys(this.$store.state.investments.funds).forEach(key => {
            if(this.$store.state.investments.funds[key].assetClass){
              this.assetCol = true;
            }
            if(this.$store.state.investments.funds[key].risk){
              this.riskCol = true;
            }
          });
          if(this.assetCol && this.riskCol){
            this.assetAndRiskCol = true;
          }
        },
      allocationChange(item) {
        this.sumAllocations = 0;
        for (var k in this.$store.state.investments.allocations) {
          if (this.$store.state.investments.allocations.hasOwnProperty(k)){
            if (isNaN(parseInt(this.$store.state.investments.allocations[k]))) {
              delete this.$store.state.investments.allocations[k];
              delete this.$store.state.investments.allocationsParsed[k];
              continue;
            }
            this.$store.state.investments.allocationsParsed[k] = {};
            this.$store.state.investments.allocationsParsed[k]['id'] = k;
            this.$store.state.investments.allocationsParsed[k]['percent'] = parseInt(this.$store.state.investments.allocations[k]);
            this.sumAllocations += parseInt(this.$store.state.investments.allocations[k]);
          }
        }
        if (this.sumAllocations === 100) {
          this.$parent.$parent.validated = true;
        } else {
          this.$parent.$parent.validated = false;
        }

        if(this.selected.includes(item) && this.$store.state.investments.allocations[item.id] < 1 || !this.$store.state.investments.allocations[item.id] ){
          this.selected = this.selected.filter(items => items.name != item.name)
        }else if(this.selected.includes(item)){}else{
          this.selected.push(item)
        }


      },
      openPopUp(link) {
        helpers.openPopUpLink(link);
      }
    },
    created() {
      this.$parent.$parent.validated = false;
      this.$store.dispatch('getInvestmentFunds').then(() => {
        for (var k in this.$store.state.investments.allocations) {
          if (this.$store.state.investments.allocations.hasOwnProperty(k)){
            this.sumAllocations += parseInt(this.$store.state.investments.allocations[k]);
          }
        }
        if (this.sumAllocations === 100) {
          this.$parent.$parent.validated = true;
        }
        this.getHeader();
      });
    },

  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .custom-choice ::v-deep .v-input {
    width: 110px
  }
  .custom-choice ::v-deep .v-text-field__details {
    display: none;
  }
  .custom-choice ::v-deep .v-label {
    color: #000;
    left: 50%!important;
    margin-left: -10px
  }
  .custom-choice ::v-deep td {
    padding-top: 8px;
    font-size: 1rem;
  }
  .custom-choice ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  .custom-choice ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  @media only screen and (max-width: 599px) {
    .custom-choice ::v-deep tr td{
      padding: 32px 16px
    }
    .custom-choice ::v-deep tr td:first-child{
      padding-top: 40px
    }
    .custom-choice ::v-deep tr td:last-child{
      padding-bottom: 40px
    }
  }
</style>


 