<template>
    <v-card class="set-radius" :elevation="0">
        <v-row class="vid-row">
            <!-- video -->
            <video-player class="set-radius" video="investmetnsEnding"></video-player>
        </v-row>

    </v-card>
</template>

<script>
    import VideoPlayer from "../Global/VideoPlayer";
    export default {
        components: { VideoPlayer },
        data() {
            return {
            };
        }
    };
</script>


<style scoped >
    .vid-row {
        margin: 0 !important;
    }
</style>
