<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 inv-funds" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Invest_Sel" label="Invest_Sel15"></path-content>
    <path-content section="investments" step="Invest_Sel" label="Invest_Sel16"></path-content>
    <v-row>
      <v-data-table v-model="selected" :headers="headers" :items="funds" height="400px" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.fundSheet="{ item }">
          <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;<span class="primary--text">PDF</span>
        </template>
      </v-data-table>
    </v-row>
    <v-row class="primary pa-3">
      <v-row class="width-100">
        <v-col cols="0" lg="6" md="6" sm="6"></v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="display-1 text-center pb-0">
          {{funds.length}}
        </v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="display-1 text-center pb-0">
          {{sumAllocations}}
        </v-col>
      </v-row>
      <v-row class="width-100">
        <v-col cols="0" lg="6" md="6" sm="6"></v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="body-2 text-center pt-0">
          {{this.translate('investments', 'Invest_Sel', 'Invest_Sel17')}}
        </v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="body-2 text-center pt-0">
          {{this.translate('investments', 'Invest_Sel', 'Invest_Sel18')}}
        </v-col>
      </v-row>
    </v-row>
  </v-card>
</template>
<script>
  import PathContent from "../Content/PathContent";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer, PathContent },
    data () {
      return {
        singleSelect: false,
        selected: [],
        funds: [],
        sumAllocations: 0,
      }
    },
    computed:{
      headers(){
        return [{
          text: this.translate('investments', 'Invest_Sel', 'Invest_Sel6'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Invest_Sel', 'Invest_Sel9'),
            value: 'fundSheet'
          },
          {
            text: this.translate('investments', 'TDF', 'TDF6'),
            value: 'allocation'
          },
        ]
      },
    },
    created() {
      this.funds = [{name: this.$store.state.investments.sections.investmentSelectorDefault.translation.investment, fundSheet: this.$store.state.investments.sections.investmentSelectorDefault.translation.link , allocation: 100}];
      this.sumAllocations = this.funds.reduce((acc, item) => acc + item.allocation, 0)
    }
  }
</script>
<style scoped lang="scss">
@import "../../styles/sass/base/_variables.sass";
@import "../../styles/styles.css";
  .inv-funds ::v-deep .v-input {
    width: 110px
  }
  .inv-funds ::v-deep .v-text-field__details {
    display: none;
  }
  .inv-funds ::v-deep .v-label {
    color: #000;
    left: 50%!important;
    margin-left: -10px;
  }
  .inv-funds ::v-deep td {
    padding: 24px 16px;
  }
  .inv-funds ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  .inv-funds ::v-deep .v-data-table tr td {
    font-size: 1rem;
  }
  .inv-funds ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  .inv-funds ::v-deep .v-data-table tr td:nth-child(3), .inv-funds ::v-deep .v-data-table tr th:nth-child(3) {
    text-align: end!important;
  }
  @media only screen and (max-width: 599px) {
    .inv-funds ::v-deep tr td:first-child{
      padding-top: 40px
    }
  }
</style>