
  <template>
  <v-card class=" invest-type pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
    <disclaimer :message="'investmentSelector'" :messageActive="'investmentSelectorActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Invest_Sel" label="Heading_Invest_Select"></path-content>
    <path-content section="investments" step="Invest_Sel" label="Description_Invest_Select"></path-content>
    <v-row class="ma-0">
      <v-radio-group v-model="investmentsChoice" class="width-100 card-cont">
        <v-row v-for="(section, index) in investmentSections" v-bind:key="index" :class="selectedName == section.name ? 'card-row' : 'card-row sp-border'" >
          <v-card v-if="typeof section.defaultValue !== 'undefined'" class="pa-4 width-100" max-width="800px" :class="selectedName == section.name ? 'white-bg my-8 elevation-7 set-radius' : 'gray-5-bg sp-elevation'" :tile="selectedName == section.name ? false : true" @click.native="selectCard(section)">
            <v-row>
              <v-col cols="12" lg="1" md="1" sm="1" xl="1" class="text-center">
                <v-radio ref="typeRadio" class="justify-start justify-lg-center justify-md-center justify-sm-center justify-xl-center" :aria-label="section.name" v-on:change="sectionSelected" :path="section.path" :name="section.name" :value="index">
                </v-radio>
              </v-col>
              <v-col cols="12" lg="11" md="11" sm="11" xl="11" class="mt-n1 pb-0">
                <label :for="section.name" class="display-1">
                    <path-content section="investments" :step="section.translation.pathStep" :label="section.translation.pathTitle"></path-content>
                </label>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2" lg="1" md="1" sm="1" xl="1"></v-col>
              <v-col cols="12" lg="11" md="11" sm="11" xl="11" class="body-1">
                <strong v-if="typeof section.translation.error !== 'undefined'">{{ section.translation.error }}</strong>
                <strong v-else-if="typeof section.translation.investment !== 'undefined'"><span v-if="typeof section.translation.label !== 'undefined'">{{ section.translation.label }} </span>({{ section.translation.investment }}): </strong>

                    <!--{{this.translate('investments', section.translation.step, section.translation.pathLabel)}} -->
                    <!--{{section.translation.step}}, {{section.translation.pathLabel}}-->
                    <path-content section="investments" :step="section.translation.pathStep" :label="section.translation.pathLabel"></path-content>

              </v-col>
            </v-row>
          </v-card>
        </v-row>
      </v-radio-group>
    </v-row>
  </v-card>
</template>

<script>
  import PathContent from "../Content/PathContent";
  import Disclaimer from "../Global/Disclaimer";
  import StepAudioPlayer from "../Global/StepAudioPlayer";

  export default {
    name: "InvestmentType",
    components: {StepAudioPlayer, PathContent, Disclaimer },
    data () {
      return {
        radios: 'radio-1',
        cardSelected: false,
        selectedName: '',
      }
    },
    computed: {
      investments() {
        return this.$store.state.investments;
      },
      investmentSections() {
        Object.keys(this.$store.getters.investmentSections).forEach(key => {
          if(this.$store.getters.investmentSections[key].name == 'qdia' || this.$store.getters.investmentSections[key].name == 'QDIA'){
            this.$store.getters.investmentSections[key].translation.description =  this.translate('investments', 'investmentSelector', 'QDIADescription')
          }
        })
        return this.$store.getters.investmentSections;
      },
      investmentsChoice: {
        get() {
          if (this.investments.choice !== null) {
            return this.investments.choice;
          }
          if ("investmentQDIA" in this.investmentSections) {
            return "investmentQDIA";
          }
          if ("investmentSelectorDefault" in this.investmentSections) {
            return "investmentSelectorDefault";
          }
          for (let key in this.investmentSections) {
            if (this.investmentSections.hasOwnProperty(key)) {
              if (this.investmentSections[key].checked) {
                return key;
              }
            }
          }
        },
        set(choice) {
          this.investments.choice = choice;
        }
      },
    },
    methods: {
      sectionSelected(item) {
        if(this.cardSelected){
          this.investments.currentPath = item.path
          this.$parent.$parent.updateSteps(item.componentName);
          this.cardSelected = false
        }else{
          this.investments.currentPath = item.path;
          this.$parent.$parent.updateSteps(this.investments.choice);
        }

      },
      selectCard(item){
        Object.keys(this.$refs.typeRadio).forEach(key => {
          if(this.$refs.typeRadio[key].name == item.name){
            this.$refs.typeRadio[key].isActive = true
            this.cardSelected = true
            this.selectedName = item.name
            this.sectionSelected(item)
          }else{
            this.$refs.typeRadio[key].isActive = false
          }
        });
      }
    },
    mounted() {
      if (this.investmentsChoice)
      {
        this.selectCard(this.investmentSections[this.investmentsChoice])
      }
      this.$watch('investmentsChoice', (val) =>
      {
        if (val)
        {
          this.selectCard(this.investmentSections[val]);
        }
      })

    },
  }
</script>

<style scoped lang="scss">
@import "../../styles/sass/base/_variables.sass";
@import "../../styles/styles.css";
.sp-elevation{
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14)!important;
}
.invest-type ::v-deep .v-input--selection-controls {
  margin-top: 0!important;
}
.card-row{
  max-width: 800px;
  width: 100%!important;
}
.card-cont ::v-deep .v-input--radio-group__input{
  align-items: center!important;
}
.sp-border{
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

</style>


