<template>
    <v-card class="page pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 realignment set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title secondary--text text--darken-1">
            <v-col class="text-left" cols="12">
                Investments
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                Realignment
            </v-col>
        </v-row>
        <v-row class="title font-weight-medium">
            <v-col class="text-left" cols="12">
                Would you like to apply your contributions <em>and</em> current plan balance to my new investment mix?
                </v-col>
        </v-row>
        <v-row class="body-1">
            <v-col class="text-left" cols="12">
                Lorem ipsum dolor yada
            </v-col>
        </v-row>
        <v-row class="body-1">

            <v-radio-group v-model="$store.state.investments.realignment" :mandatory="true" >
                <v-row class="ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-1" value="1" label="Yes"></v-radio>
                    </v-col>
                </v-row>
                <v-row class="ma-0">
                    <v-col>
                        <v-radio name="radio-2" value="0" label="No"></v-radio>

                    </v-col>
                </v-row>
            </v-radio-group>
        </v-row>
    </v-card>
</template>

<script>
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer},
        data: () => ({
        })
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    
    .page {
        padding: $comp-card-padding;
        min-height: $comp-card-min-height;
        padding-right: 25%
    }
    .realignment ::v-deep .v-label{
        color: #000;
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
        .page {
            padding: $mobile-comp-card-padding
        }
    }
</style>
