<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius risk-based-funds" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based11"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based12"></path-content>
    <v-row>
      <v-radio-group v-model="radios" class="width-100">
      <v-data-table v-model="selected" :headers="headers" :items="funds" height="400px" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.fundSheet="{ item }">
          <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;<span class="primary--text">PDF</span>
        </template>
        <template v-slot:item.name="{ item }">
          <v-radio :value="'radio-' + item.id" class="d-inline-flex"></v-radio>{{ item.name }}
        </template>  
      </v-data-table>
      </v-radio-group>
      </v-row>
      <v-row class="border-row align-end">
        <v-col cols="1" class="pr-0">
        <v-checkbox class="justify-end" v-model="checkbox1"></v-checkbox>
        </v-col>
        <v-col cols="11" class="pl-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </v-col>
      </v-row>
  </v-card>
</template>


<script>
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer},
    data() {
      return {
        singleSelect: false,
        selected: [],
        radios: 'radio-1',
        funds: [{
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 1
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 2
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 3
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 4
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 5
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 6
          },
          {
            name: 'Wells Emerging Markets Equity Fund',
            risk: 'Aggressive',
            allocation: 0,
            id: 7
          },
        ],
      }
    },
    computed: {
      headers(){
        return [{
          text: this.translate('investments', 'Risk_Based', 'Risk_Based17'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Risk_Based', 'Risk_Based15'),
            value: 'risk'
          },
          {
            text: this.translate('investments', 'Risk_Based', 'Risk_Based16'),
            value: 'fundSheet'
          },
          {
            text: this.translate('investments', 'Risk_Based', 'Risk_Based14'),
            value: 'allocation'
          },
        ]
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .border-row {
    border: 1px solid var(--v-primary-base)
  }
  .risk-based-funds ::v-deep .v-text-field__details {
    display: none;
  }
  .risk-based-funds ::v-deep .v-label {
    color: #000;
    left: 50%!important;
    margin-left: -10px;
  }
  .risk-based-funds ::v-deep td {
    padding: 24px 16px;
  }
  .risk-based-funds ::v-deep .v-input__control {
    width: 100%
  }
  .risk-based-funds ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  .risk-based-funds ::v-deep .v-data-table tr td {
    font-size: 1rem;
  }
  .risk-based-funds ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  @media only screen and (max-width: 599px) {
    .risk-based-funds ::v-deep tr td{
      padding: 32px 16px
    }
    .risk-based-funds ::v-deep tr td:first-child{
      padding-top: 40px
    }
    .risk-based-funds ::v-deep tr td:last-child{
      padding-bottom: 40px
    }
  }
</style>


 