<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 risk-based-funds" :elevation="0">
    <disclaimer :message="'portfolioSelector'" :messageActive="'portfolioSelectorActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based11"></path-content>
    <path-content section="investments" step="Risk_Based" label="Risk_Based12" :replace="replaceRules"></path-content>
    <v-row>
      <v-radio-group v-model="$store.state.investments.selectedPortfolio" class="width-100">
      <v-data-table v-model="selected" :headers="headers" :items="portfolios" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.name="{ item }">
          <v-radio :value="item.name" :aria-label="item.name" class="d-inline-flex"></v-radio>{{ item.name }}
        </template>  
      </v-data-table>
      </v-radio-group>
      </v-row>

  </v-card>
</template>


<script>
  import PathContent from "../Content/PathContent";
  import Disclaimer from "../Global/Disclaimer";
  import StepAudioPlayer from "../Global/StepAudioPlayer";

  export default {
    components: {StepAudioPlayer, PathContent, Disclaimer },
    data() {
      return {
        singleSelect: false,
        selected: [],
        portfolios: [],
      }
    },
    computed:{
      tolerance(){
        return this.$store.state.RP.profileResults.RP_label
      },
      fund(){
        return this.$store.state.RP.profileResults.recommendedPortfolioName
      },
      replaceRules(){
        return {
          "%riskTolerance%": this.tolerance,
          "%riskBasedFund%": this.fund
        }
      },
      headers() {
        return [{
          text: this.translate('investments', 'Risk_Based', 'Risk_Based13'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Risk_Based', 'Risk_Based14'),
            value: 'allocation'
          },
        ]
      },
    },
    created() {
      this.$store.dispatch('getAllInvestmentPortfolios').then(() => {
        this.$store.state.investments.selectedPortfolio = this.$store.state.investments.sections.investmentSelectorRiskBasedPortfolio.translation.investment;
        for (var k in this.$store.state.investments.allPortfolios) {
          this.portfolios.push( {id: this.$store.state.investments.allPortfolios[k].id, name: this.$store.state.investments.allPortfolios[k].name, allocation: "100%"} );
        }
      });
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .border-row {
    border: 1px solid var(--v-primary-base)
  }
  .risk-based-funds ::v-deep .v-text-field__details {
    display: none;
  }
  .risk-based-funds ::v-deep .v-label {
    color: #000;
    left: 50%!important;
    margin-left: -10px;
  }
  .risk-based-funds ::v-deep td {
    padding: 24px 16px;
  }
  .risk-based-funds ::v-deep .v-input__control {
    width: 100%
  }
  .risk-based-funds ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  .risk-based-funds ::v-deep .v-data-table tr td {
    font-size: 1rem;
  }
  .risk-based-funds ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  @media only screen and (max-width: 599px) {
    .risk-based-funds ::v-deep tr td{
      padding: 32px 16px
    }
    .risk-based-funds ::v-deep tr td:first-child{
      padding-top: 40px
    }
    .risk-based-funds ::v-deep tr td:last-child{
      padding-bottom: 40px
    }
  }
</style>


 