<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius risk-based-portfolios" :elevation="0">
    <disclaimer :message="'riskBasedReview'" :messageActive="'riskBasedReviewActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
    <path-content section="investments" step="Risk_Based" label="Heading_Risk_Review"></path-content>
    <path-content section="investments" step="Risk_Based" label="Desc_Risk_Review"></path-content>
    <v-row class="body-2">
      <v-col class="text-left pb-0" cols="12">
        {{this.translate('investments', 'Risk_Based', 'H2_Level', {
            '%riskTolerance%' : rpLabel
        })}}
      </v-col>
    </v-row>
    <v-row class="body-2">
      <v-col class="text-left pt-0" cols="12">
        {{this.translate('investments', 'Risk_Based', 'H2_Portfolio', {
            '%riskBasedPortfolio%': portfolio
        })}}
      </v-col>
    </v-row>
    <v-row>
      <v-data-table v-model="selected" :headers="headers" :items="funds" height="400px" item-key="name" class="width-100" hide-default-footer>
        <template v-slot:item.fundSheet="{ item }">
          <template v-if="item.customUrl">
            <a href="#" style="text-decoration: none;" @click.prevent="openPopUp(item.customUrl)">
              <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;<span class="primary--text">PDF</span>
            </a>
          </template>
        </template>
      </v-data-table>
    </v-row>
    <v-row class="primary white-color pa-3">
      <v-row class="width-100">
        <v-col cols="0" lg="6" md="6" sm="6"></v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="display-1 text-center pb-0">
          {{funds.length}}
        </v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="display-1 text-center pb-0">
          {{sumAllocations}}
        </v-col>
      </v-row>
      <v-row class="width-100">
        <v-col cols="0" lg="6" md="6" sm="6"></v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="body-2 text-center pt-0">
          {{this.translate('investments', 'Risk_Based', 'Label_Total_Funds')}}
        </v-col>
        <v-col cols="6" lg="3" md="3" sm="3" class="body-2 text-center pt-0">
          {{this.translate('investments', 'Risk_Based', 'Label_Total_Allocation')}}
        </v-col>
      </v-row>
    </v-row>
  </v-card>
</template>


<script>
  import PathContent from "../Content/PathContent";
  import Disclaimer from "../Global/Disclaimer";
  import helpers from "../../helpers";
  import StepAudioPlayer from "../Global/StepAudioPlayer";

  export default {
    components: {StepAudioPlayer, PathContent, Disclaimer },
    data() {
      return {
        singleSelect: false,
        selected: [],
        radios: 'radio-1',
        funds: [],
        sumAllocations: 0,
      }
    },
    computed: {
      rpLabel(){
        return this.$store.state.RP.profileResults.RP_label
      },
      portfolio(){
        return this.$store.state.investments.selectedPortfolio
      },
      headers(){
        return [{
          text: this.translate('investments', 'Risk_Based', 'Heading_Funds'),
          align: 'left',
          sortable: false,
          value: 'name',
        },
          {
            text: this.translate('investments', 'Risk_Based', 'Heading_Fund_Sheet'),
            value: 'fundSheet'
          },
          {
            text: this.translate('investments', 'Risk_Based', 'Heading_Allocation'),
            value: 'percent'
          },
        ]
      },
    },
    methods: {
      openPopUp(link) {
        helpers.openPopUpLink(link);
      }
    },
    created() {
      this.$store.dispatch('getInvestmentPortfolioByName').then(() => {
        this.funds = [];
        for (var k in this.$store.state.investments.portfolio.funds) {
          this.funds.push({
            id: this.$store.state.investments.portfolio.funds[k].id,
            name: this.$store.state.investments.portfolio.funds[k].name,
            percent: parseInt(this.$store.state.investments.portfolio.funds[k].percent),
            customUrl: this.$store.state.investments.portfolio.funds[k].customUrl,
          });
          this.$store.state.investments.allocationsParsed = this.funds;
          this.sumAllocations += parseInt(this.$store.state.investments.portfolio.funds[k].percent);
        }
      });
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .border-row {
    border: 1px solid var(--v-primary-base)
  }
  .risk-based-portfolios ::v-deep .v-text-field__details {
    display: none;
  }
  .risk-based-portfolios ::v-deep .v-input--selection-controls .v-input__control {
    flex-grow: 1;
  }
  .risk-based-portfolios ::v-deep .v-input--selection-controls.v-input {
    flex: 1 1 auto;
  }
  .risk-based-portfolios ::v-deep .v-label {
    color: #000;
    left: 50%!important;
    margin-left: -10px;
  }
  .risk-based-portfolios ::v-deep td {
    padding: 24px 16px;
  }
  .risk-based-portfolios ::v-deep th {
    font-size: 1rem;
    font-weight: 600
  }
  .risk-based-portfolios ::v-deep .v-data-table tr td {
    font-size: 1rem;
  }
  .risk-based-portfolios ::v-deep tr td:first-child {
    font-size: 1.1rem;
    font-weight: 600
  }
  @media only screen and (max-width: 599px) {
    .risk-based-portfolios ::v-deep tr td{
      padding: 32px 16px
    }
    .risk-based-portfolios ::v-deep tr td:first-child{
      padding-top: 40px
    }
    .risk-based-portfolios ::v-deep tr td:last-child{
      padding-bottom: 40px
    }
  }
</style>


 