<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
        <disclaimer :message="'targetDateReview'" :messageActive="'targetDateReviewActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="investments" step="Risk_Based" label="Risk_Based1"></path-content>
        <path-content section="investments" step="TDF" label="TDF_Heading"></path-content>
        <path-content section="investments" step="TDF" label="TDF2"></path-content>
        <v-row>
            <v-simple-table class="width-100 border-row">
                <template v-slot:default>
                    <thead>
                    <tr class="py-10">
                        <th class="text-left body-1 width-50">{{fund}}</th>
                        <th class="body-1 width-25">{{sheet}}</th>
                        <th class="body-1 ">{{allocation}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, i) in funds" :key="item.name">
                        <td class="body-1 font-weight-medium py-6">
                            <v-radio-group v-model="checkbox1"><v-radio :label="item.name" :aria-label="item.name" :value="true"></v-radio></v-radio-group>
                        </td>
                        <td class="body-1">
                            <template v-if="item.customUrl">
                                <v-btn text rounded class="primary--text pl-0 set-radius" @click.prevent="openPopUp(item.customUrl)">{{download}}</v-btn>
                            </template>
                        </td>
                        <td class="body-1">100%</td>
                    </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </v-row>
    </v-card>
</template>


<script>
    import PathContent from "../Content/PathContent";
    import data from '../../api/data'
    import helpers from "../../helpers";
    import Disclaimer from "../Global/Disclaimer";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        name: "TargetDateFund",
        components: {StepAudioPlayer, PathContent, Disclaimer },
        data() {
            return {
                checkbox1: true,
                funds: [],
            }
        },
        computed:{
            fund(){
                return this.translate('investments', 'TDF', 'TDF4')
            },
            sheet(){
                return this.translate('investments', 'TDF', 'TDF5')
            },
            allocation(){
                return this.translate('investments', 'TDF', 'TDF6')
            },
            download(){
                return this.translate('investments', 'TDF', 'TDF7')
            },
        },
        methods: {
            openPopUp(link) {
                helpers.openPopUpLink(link);
            }
        },
        created() {
            data.getTargetDateFunds().then(response => {
                this.funds = response.data;
            });
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .border-row {
        border-bottom: 1px solid $gray-2
    }
</style>


 