{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},
	"{{ account.apiUserId }}",
	"{{ account.apiId }}",
	"{{ account.enabled }}",
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_API_editApiUserAuth') }}?id={{ account.id }}','Edit User Auth')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_API_deleteApiUserAuth') }}?id={{ account.id }}','Delete User Auth')\"></span></a>"
]
{% endfor %}