{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},
	"{{ account.accountId }}",
	"{{ account.username }}",
	"{{ account.password }}",
	"{{ account.enabled }}",
	"{{ account.rateLimit }}",
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_API_editApiUser') }}?id={{ account.id }}','Edit User')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_API_deleteApiUser') }}?id={{ account.id }}','Delete User')\"></span></a>"
]
{% endfor %}