{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'HubSpot Diagnostic Tool'})) }}

<form id="hubSpotContactEmailForm" class="form-inline" action="{{ path('_manage_hubSpotDiagnosticTool_showContact') }}" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <button class="btn btn-primary">Search</button>
</form>
<div id="contactContainer" style="margin-top:20px;">
    
</div>
<script>
    $("#hubSpotContactEmailForm").on('submit', function(event) {
        event.preventDefault();
        $('#contactContainer').empty();
        $.post('{{ path('_manage_hubSpotDiagnosticTool_showContact') }}', $(this).serialize(), function(response) {
            $('#contactContainer').html(response);
        });
    });
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}