{% if listMemberships is empty %}
    <div class="alert alert-warning" role="alert">No list memberships founds</div>
{% else %}
<ul class="list-group">
    {% for list in listMemberships %}
    <li class="list-group-item">{{ list.name }}</li>
    {% endfor %}
</ul>
{% endif %}