
<form class="form-inline" onsubmit="return addNotificationRecipient(this);">
	<div class="form-group">
        <input type="text" name="firstName" class="form-control" placeholder="First Name" style="margin-bottom:10px;">
        <input type="text" name="lastName" class="form-control" placeholder="Last Name" style="margin-bottom:10px;">
		<input type="email" name="email" class="form-control" placeholder="email@domain.com" style="margin-bottom:10px;">
	</div>
	<button type="submit" class="btn btn-primary" style="margin-bottom:10px;">Add</button>
</form>
<hr>
<h3>Manage Subscribers</h3>
<form>
{% set table = "PlansAdviceNotificationRecipients" %}
{% set tablename = table %}
{% set findby = "a.userid,^a.planid" %}
{% set findbyvalues = userid ~ ',' ~ planid %}
{% set types = "a.id,a.firstName,a.lastName,a.email" %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Action</th>" %}
{% set unsearchableArray = [4] %} 
{% set template = 'PlansPlansBundle:Advice:Search/plansAdviceNotificationRecipients.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</form>

<script>
	function deleteNotificationRecipient(id) {
		var page = "{{ path('_plans_advice_notificationRecipients_delete') }}";
		var querystring = $.param({id:id});

		$.post(page, querystring).done(function(data) 
		{
			restartTablePlansAdviceNotificationRecipients();
		});
	}
	
	function addNotificationRecipient(form) {
		var page = "{{ path('_plans_advice_notificationRecipients_add') }}";
		var querystring = $(form).serialize();

		$.post(page, querystring).done(function(data) 
		{
            $(form).find('[name="firstName"]').val("");
            $(form).find('[name="lastName"]').val("");
            $(form).find('[name="email"]').val("");
			
			restartTablePlansAdviceNotificationRecipients();
		});
		return false;
	}
    
    function submitNotificationRecipient(id) {
        var page = "{{ path('_plans_advice_notificationRecipients_update') }}";
        var querystring = $("#recipient_" + id + "_firstName,#recipient_" + id + "_lastName,#recipient_" + id + "_email").find("input").serialize();
        querystring = querystring + '&id=' + id;
        
        $.post(page, querystring).done(function(data) 
		{
            if (data === 'invalidemail') {
                toggleValidationState(id, true);
            }
            if (data === 'success') {
                $("#recipient_" + id + "_firstName").find('> span').text($("#recipient_" + id + "_firstName").find('input').val());
                $("#recipient_" + id + "_lastName").find('> span').text($("#recipient_" + id + "_lastName").find('input').val());
                $("#recipient_" + id + "_email").find('> span').text($("#recipient_" + id + "_email").find('input').val());
                toggleValidationState(id, false);
                toggleEditFields(id, false);
            }
		});
    }
    
    function toggleEditFields(id, show) {
        $("#recipient_" + id + "_firstName").find("> span").toggle(!show);
        $("#recipient_" + id + "_firstName").find("> .form-group").toggle(show);
        
        $("#recipient_" + id + "_lastName").find("> span").toggle(!show);
        $("#recipient_" + id + "_lastName").find("> .form-group").toggle(show);
        
        $("#recipient_" + id + "_email").find("> span").toggle(!show);
        $("#recipient_" + id + "_email").find("> .form-group").toggle(show);

        $("#recipient_" + id + "_editButton").toggle(!show);
        $("#recipient_" + id + "_submitButton").toggle(show);
    }
    
    function toggleValidationState(id, show) {
        $("#recipient_" + id + "_email").find(".form-group").toggleClass('has-feedback has-error', show);
        $("#recipient_" + id + "_email").find(".form-control-feedback").toggle(show);
        $("#recipient_" + id + "_email").find(".help-block").toggle(show);
    }
</script>