<script>
    $(function() {
        $('#apiWhitelistForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitApiWhitelist(this);
        });
    });
</script>  
<form data-toggle="validator" action="" method="POST" id="apiWhitelistForm">
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="id" value="{{ ip is defined ? ip.id : ''}}">
    <div class="form-group">
        <label for="ip">Name</label>
        <input type="text" class="form-control" id="ip" name="ip" value="{{ ip is defined ? ip.ip : ''}}" placeholder="1.2.3.4" required>
    </div>
    <button type="submit" class="btn btn-{{ button.class}}">{{ button.description }}</button>
</form>