<form role="form" id="interface-form" method="post" action="">

    <input type = "text" name = "id" id = "id" value = "{{ id }}" style = "display:none" />

    <h2>Color Scheme</h2>
    <p class="well well-sm"><span class="glyphicon glyphicon-info-sign"></span> Choose the interface color for this plan, by selecting one of the color schemes shown below.</p>
    {% for color in colors %}
        <div class="radio color">
            <label>
                <input type = "radio" name = "interfaceColor" value = "{{ color.value }}" {% if not writeable %}disabled{% endif %} {{ color.checked }} /> {{ color.title }}
                <div class="color-example-group">
                    {%  if color.colors is defined  %}
                        {%  set colorArray = color.colors  %}
                        {%  for colorElement in colorArray %}
                            <div class="color-example" style="width:20%;background:#{{ colorElement }};"></div>
                        {%  endfor %}
                    {%  endif  %}
                </div>
            </label>
        </div>
        <div class="clearfix"></div>
    {% endfor %}
    <hr />
    <h2>Navigation Layout</h2>
    <p class="well well-sm"><span class="glyphicon glyphicon-info-sign"></span> Choose between the main navigation appearing along the left side or the top of the window.</p>
    <br/>

    {% for layout in layouts %}
        <div class="radio">
            <label>
                <input type = "radio" name = "interfaceLayout" value = "{{ layout.value }}" {% if not writeable %}disabled{% endif %} {{ layout.checked }} /> {{ layout.title }}<br/>
                <img class="nav-example-img" src="{{  asset('images/' ~ layout.image) }}" alt="Side Nav" />
            </label>
        </div>
        <br/>
    {% endfor %}

</form>

{% if writeable %}
    <button type = "button" onclick = "Interface.saveInterface()"  id = "interfaceFormbutton" class="btn btn-success">Save</button>
{% endif %}

<script>
    var Interface = Interface || {};
    Interface.saveInterface = function()
    {
        Admin.ajaxPost("{{ path(savePath) }}",$("#interface-form").serializeArray());
        showalert("saved-alert");
    }
</script>