{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
    'pagename': 'Interface'
})) }}
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{% if plan is not defined or plan.appVersion == 1 %}
    {{ include('Shared/Interface/classic.html.twig') }}
{% endif %}
{% if plan is not defined %}<hr>{% endif %}
{% if plan is not defined or plan.appVersion == 2 %}
    {{ include('Shared/NewInterface/index.html.twig') }}
{% endif %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}