<input id="bSSN" name="bSSN" type="hidden" value="<%- model.ssn %>">
<input class="normal" type="tel" name="bssnPublic" id="bssnPublic" value="<% if(model.BeneficiaryTaxID) { %><%- model.BeneficiaryTaxID %><% } else if(model.ssn) { %><%- model.ssn %><% } %>"/>


