<script>
    var highChartData = new Array();
    var counter = 0;
    var totalPercent = {{ totalPercent }};
    var json = {};

    function computePieChart() {
        var chart = {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        };
        var title = {
            text: 'Sample Investor Profile'
        };
        var tooltip = {
            pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
        };
        var plotOptions = {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                    style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
        };
        var series= [{
            type: 'pie',
            name: 'Asset Allocation',
            data: highChartData,
            states: {
                hover: {
                    enabled: false
                }
            },
            point: {
                events: {
                    mouseOver: function () {
                        //bug in highcharts, mouseOut doesn't fire if you simply go to a different section of graph only outside of graph
                        //this.series.setData(highChartData);
                        this.graphic.attr("fill",this.hoverColor);
                    },
                    mouseOut: function () {
                    //bug in highcharts, mouseOut doesn't fire if you simply go to a different section of graph only outside of graph
                    //this.series.setData(highChartData);
                    this.graphic.attr("fill", this.color);
                    }
                }
            }
        }];
        var navigation =  {
            buttonOptions: {
                enabled: false
            }
        };
        var credits = {
            enabled: false
        };

        {% if forDefaults is not defined %}
        if (totalPercent < 100) {
            highChartDataObject = new Object;
            highChartDataObject.name = "Unallocated";
            highChartDataObject.y = 100-totalPercent;
            highChartDataObject.color = "black";
            highChartDataObject.hoverColor = "black";
            highChartData[counter++] = highChartDataObject;
        }


        if (totalPercent != 100) {
            $('#alert-warning').show();
            $('#save-btn-form').prop("disabled",true);
        } else {
            $('#alert-warning').hide();
            $('#save-btn-form').prop("disabled",false);
        }
        {% endif %}

        json.chart = chart;
        json.title = title;
        json.tooltip = tooltip;
        json.series = series;
        json.plotOptions = plotOptions;
        json.navigation = navigation;
        json.credits = credits;
        $('#container').highcharts(json);


    }

    String.prototype.unescapeHtml = function () {
        var temp = document.createElement("div");
        temp.innerHTML = this;
        var result = temp.childNodes[0].nodeValue;
        temp.removeChild(temp.firstChild);
        return result;
    }

    function redrawChart() {
        counter = 0;
        highChartData = new Array();
        totalPercent = 0;

        {% for fund in arrayOfGroupValues %}
        {% set toUseSuffix = objectHash[fund.id].id is defined ? objectHash[fund.id].id : 'undeclared-' ~ fund.id | trans %}

        if (parseInt($('#percent-id-{{ toUseSuffix }}').val()) != 0) {
            highChartDataObject = new Object;
            highChartDataObject.name = "{{ fund.value }}".unescapeHtml();
            highChartDataObject.y = parseInt($('#percent-id-{{ toUseSuffix }}').val());
            highChartDataObject.color = $('#display-lbl-{{ toUseSuffix }}').colorpicker('getValue');
            highChartDataObject.hoverColor = $('#hover-lbl-{{ toUseSuffix }}').colorpicker('getValue');
            highChartData[counter++] = highChartDataObject;
        }

        $('#square-id-{{ toUseSuffix }}').css('background-color', $('#display-lbl-{{ toUseSuffix }}').colorpicker('getValue'));

        $("#square-id-{{ toUseSuffix }}").mouseenter(function() {
            $("#square-id-{{ toUseSuffix }}").css("background-color", $('#hover-lbl-{{ toUseSuffix }}').colorpicker('getValue'));
        }).mouseleave(function() {
            $("#square-id-{{ toUseSuffix }}").css("background-color", $('#display-lbl-{{ toUseSuffix }}').colorpicker('getValue'));
        });

        totalPercent += parseInt($('#percent-id-{{ toUseSuffix }}').val());

        {% endfor %}


        computePieChart();
    }



</script>