{% for page in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ page.id }},
	"{{page.name}}",
        "<textarea style = \"width:100%;height:20px;resize:none\" id =\"videopageheader{{page.id}}\"  onclick = \"select_all(this.id)\"><meta name=\"videopage{{page.id}}\" content=\"1\"></textarea>",
        "<textarea style = \"width:100%;height:20px;resize:none\"  id =\"videopageinsert{{page.id}}\" onclick = \"select_all(this.id)\"><vwise_videopage{{page.id}}/></textarea>",
        "<a href = \"{{path('_manage_videoLandingPage_edit') }}?id={{page.id}}\"  class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-edit\" ></span></a> <a href = \"{{ path('_manage_videoLandingPage_preview',{"name": page.name}) }}?id={{page.id}}\"  target = \"_BLANK\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-eye-open\"></span></a>"
]
{% endfor %}