<form id ="translationQueue">
{% for field in inputFields %}
<input class ="form-control" name ="{{ field.name }}" placeholder ="{{ field.description }}" {% if field.required %}required{% endif %} />
<br/>
{% endfor %}
<br/>
<button class ="btn btn-info"  type ="submit">Add Translation</button>
</form>
<script>
$( "#translationQueue" ).on( "submit", function( event ) 
{
    event.preventDefault();
    $.post( "{{ path('_manage_translationQueue_add_saved') }}",$( this ).serialize(),  function( data ) 
    {
        closeLightBox();
        TranslationQueueTable.fnDraw(false);
    });    
});
</script>
