<form id ="translationQueue">
{% for field in inputFields %}
<b>{{ field.description }}</b>: <br/>{{field.value}}
<hr/>
{% endfor %}
<input type ="hidden" name="id" value ="{{ id }}" />
<button class ="btn btn-warning"  type ="submit">Delete</button>
</form>
<script>
$( "#translationQueue" ).on( "submit", function( event ) 
{
    event.preventDefault();
    $.post( "{{ path('_manage_translationQueue_delete_saved') }}",$( this ).serialize(),  function( data ) 
    {
        closeLightBox();
        TranslationQueueTable.fnDraw(false);
    });    
});
</script>