<form id ="translationQueue">
{% for field in inputFields %}
{{ field.description }}: 
<input class ="form-control" name ="{{ field.name }}" placeholder ="{{ field.description }}" value ="{{field.value}}" {% if field.required %}required{% endif %} />
<br/>
{% endfor %}
<br/>
<button class ="btn btn-success"  type ="submit">Save</button>
<input type ="hidden" name="id" value ="{{ id }}" />
</form>
<script>
$( "#translationQueue" ).on( "submit", function( event ) 
{
    event.preventDefault();
    $.post( "{{ path('_manage_translationQueue_edit_saved') }}",$( this ).serialize(),  function( data ) 
    {
        closeLightBox();
        TranslationQueueTable.fnDraw(false);
    });    
});
</script>