{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Translation Queue'})) }}
{% set tablename = "TranslationQueue" %}
{% set table = tablename %}
{% set unsearchableArray = [6] %}
{% set header = "<th>id</th><th>Source Key</th><th>Domain</th><th>Language</th><th>Content</th><th>Active</th><th>PartnerId</th><th>Actions</th>" %}
{% set url = path("_manage_translationQueue_list") %}
<h3>Upload List</h3>
<a href="{{ asset('translationQueueSample.csv') }}">Sample</a>
<br/><br/>
<form id ="uploadCsv" method= "post" action = "{{ path('_manage_translationQueue_uploadCsv') }}" enctype="multipart/form-data">
    <input type="text" id ="partnerid" class="form-control" placeholder="Partnerid" />
    <br/>
    <input type ="file" name ="csvFile" required />
    <br/>
    <button type ="submit" class ="btn btn-primary">Upload CSV</button>
</form>
<hr/>
<button class ="btn btn-info" onclick ="addTranslationQueue()">Add Translation</button> 
<br/><br/>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function addTranslationQueue()
{
    ajaxModal("{{ path('_manage_translationQueue_add') }}","Add Translation");
}
function editTranslationQueue(id)
{
    ajaxModal("{{ path('_manage_translationQueue_edit') }}?id=" + id,"Edit Translation");
}
function deleteTranslationQueue(id)
{
    ajaxModal("{{ path('_manage_translationQueue_delete') }}?id=" + id,"Delete Translation");
}
</script>
<script>
    $("#uploadCsv").submit(function(event)
    {
        event.preventDefault();
        var formData = new FormData($("#uploadCsv")[0]);
        formData.append("partnerid", $("#partnerid").val());
        $.ajax(
            {
                url:$(this).attr("action"),
                type: 'POST',
                data: formData,
                async: false,
                success: function (data)
                {
                    TranslationQueueTable.fnDraw(false);
                    modalMessage('List uploaded');
                },
                error: function (data)
                {
                    TranslationQueueTable.fnDraw(false);
                    modalMessage('List failed to upload');
                },
                cache: false,
                contentType: false,
                processData: false

            });
    });
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
