@CHARSET "ISO-8859-1";

// Begin Fonts

@font-face {
	font-family: 'HelveticaNeueLT-Roman';
	src: url('../fonts/2D36FE_0_0.eot');
	src: url('../fonts/2D36FE_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D36FE_0_0.woff2') format('woff2'),
	url('../fonts/2D36FE_0_0.woff') format('woff'),url('fonts/2D36FE_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica53';
	src: url('..fonts/helvetica53/2D7090_1_0.eot');
	src: url('..fonts/helvetica53/2D7090_1_0.eot?#iefix') format('embedded-opentype'),
	url('..fonts/helvetica53/2D7090_1_0.woff2') format('woff2'),
	url('../fonts/helvetica53/2D7090_1_0.woff') format('woff'),url('fonts/helvetica53/2D36FE_1_0.ttf') format('truetype');
}
 
@font-face {
	font-family: 'HelveticaNeueLTStd-Hv-85';
	src: url('../fonts/fonts/2D36FE_1_0.eot');
	src: url('../fonts/fonts/2D36FE_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D36FE_1_0.woff2') format('woff2'),
	url('../fonts/2D36FE_1_0.woff') format('woff'),
	url('../fonts/2D36FE_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica-55';
	src: url('../fonts/2D2B74_0_0.eot');
	src: url('../fonts/2D2B74_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D2B74_0_0.woff2') format('woff2'),
	url('../fonts/2D2B74_0_0.woff') format('woff'),
	url('../fonts/2D2B74_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLT-extended';
	src: url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.eot');
	src: url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.woff2') format('woff2'),
	url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.woff') format('woff'),
	url('..fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.ttf') format('truetype');
}
 
@font-face {
	font-family: 'Helvetica-85-heavy';
	src: url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_0_0.eot');
	src: url('..fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_0_0.eot?#iefix') format('embedded-opentype'),
	url('..fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.woff2') format('woff2'),
	url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.woff') format('woff'),
	url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica-55-roman';
	src: url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.eot');
	src: url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.woff2') format('woff2'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.woff') format('woff'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.ttf') format('truetype');
}

// end fonts

