@charset 'utf-8';



/* CSS DOCUMENT */
html { height:100%; min-height:100%; font-family:'Lato';}
body {margin: 0 auto; overflow-x:hidden; font-family:'Lato';}
.preloader { position:fixed; width:100%; height:100%; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; z-index:999999; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { width:1024px; max-width:100%; margin: 0 auto; }

/*******Login Form**************/

#login-form h1 {font-family:"Helvetica",Helvetica,Arial,sans-serif;  font-size:36px;margin-top: 20px;
margin-bottom: 10px; line-height:1.5; font-weight:300;}

#login-form {width:70%; margin: 0px auto;}

#login-form a {background-color:none !important;color:white;text-transform: none !important}

#_submit{border: 1px solid #fff; border-radius: 0px; display: block; width: 325px; height: 60; max-width: 90%; margin: 35px auto 0px; padding: 11px 0px; text-transform: uppercase; font-size: 16px; color: #fff; background: rgba(20,93,171,0.55); }
#login-form a:hover {background-color:none !important;color:white;text-decoration: underline}
#login-form a:active {border:0px !important}
.headq {font-family:'Helvetica53'; margin-top:50%;font-size: 20px !important;}

.forgot {background-color: transparent !important;cursor:pointer;}
.forgot:hover {text-decoration: underline;}

/********* Page Template *********/
#main-container { height:100%; height: auto !important; min-height:100%; }

header {}
.header-container { text-align:center; margin-top:20px; margin-bottom:20px;}
.header-container ul { display:inline-block; vertical-align:middle; }
.header-container ul li { display:inline-block; vertical-align:middle; border-left:1px solid #e4e4e4; }
.header-container .logo { display:inline-block; vertical-align:middle; width:auto; margin-right:25px; border-left:0px; }
.header-container .logo a { width:auto; }
.header-container ul li a { display:table-cell; vertical-align:middle; text-transform:uppercase; font-weight:300; font-size: 17px; line-height:20px; color:#000; padding: 10px 35px; }

#main-wrapper {}

footer { position:relative; z-index:99; margin-top:20px;}
footer p { height:33px; font-family:'HelveticaNeueLT-Roman'; font-size:12px; text-align:center; color:#000000; }

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; z-index:999999; background:#fff; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; animation: rotatee 2.0s infinite linear; -webkit-animation: rotatee 2.0s infinite linear; -moz-animation: rotatee 2.0s infinite linear; -ms-animation: rotatee 2.0s infinite linear; -o-animation: rotatee 2.0s infinite linear; }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color: #0a9fd8; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;  animation: bouncee 2.0s infinite ease-in-out; -webkit-animation: bouncee 2.0s infinite ease-in-out; -moz-animation: bouncee 2.0s infinite ease-in-out; -ms-animation: bouncee 2.0s infinite ease-in-out; -o-animation: bouncee 2.0s infinite ease-in-out;  }
.s-dot2 { top: auto; bottom: 0px; animation-delay: -1.0s; -webkit-animation-delay: -1.0s; -moz-animation-delay: -1.0s; -ms-animation-delay: -1.0s; -o-animation-delay: -1.0s; }
@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bouncee { 0%, 100% { -webkit-transform: scale(0.0) } 50% { -webkit-transform: scale(1.0) } }
@keyframes bouncee { 0%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 50% { transform: scale(1.0); -webkit-transform: scale(1.0); } }
.lt-ie9 .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.lt-ie9 .preloader .spinner { display:none; }
/********* END Page Template *********/

.blockwrap1 {
  display: inline-block;
  width: 45%;
}

.tippytop a {

  display: block;
  width: 325px;
  height: 60;
  max-width: 90%;
  margin: 35px auto 0px;
  padding: 11px 0px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background: rgba(20,93,171,0.55);
}

/*fonts*/
@font-face {
	font-family: 'HelveticaNeueLT-Roman';
	src: url('../fonts/2D36FE_0_0.eot');
	src: url('../fonts/2D36FE_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D36FE_0_0.woff2') format('woff2'),
	url('../fonts/2D36FE_0_0.woff') format('woff'),url('fonts/2D36FE_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica53';
	src: url('..fonts/helvetica53/2D7090_1_0.eot');
	src: url('..fonts/helvetica53/2D7090_1_0.eot?#iefix') format('embedded-opentype'),
	url('..fonts/helvetica53/2D7090_1_0.woff2') format('woff2'),
	url('../fonts/helvetica53/2D7090_1_0.woff') format('woff'),url('../fonts/helvetica53/2D7090_1_0.ttf') format('truetype');
}
 
@font-face {
	font-family: 'HelveticaNeueLTStd-Hv-85';
	src: url('../fonts/fonts/2D36FE_1_0.eot');
	src: url('../fonts/fonts/2D36FE_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D36FE_1_0.woff2') format('woff2'),
	url('../fonts/2D36FE_1_0.woff') format('woff'),
	url('../fonts/2D36FE_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica-55';
	src: url('../fonts/2D2B74_0_0.eot');
	src: url('../fonts/2D2B74_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D2B74_0_0.woff2') format('woff2'),
	url('../fonts/2D2B74_0_0.woff') format('woff'),
	url('../fonts/2D2B74_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLT-extended';
	src: url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.eot');
	src: url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.woff2') format('woff2'),
	url('../fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.woff') format('woff'),
	url('..fonts/neuehelveticaextended2/webfonts/2D5F0F_0_0.ttf') format('truetype');
}
 
@font-face {
	font-family: 'Helvetica-85-heavy';
	src: url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_0_0.eot');
	src: url('..fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_0_0.eot?#iefix') format('embedded-opentype'),
	url('..fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.woff2') format('woff2'),
	url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.woff') format('woff'),
	url('../fonts/neuehelvetica85heavywebfont/webfonts/2D5F0C_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica-55-roman';
	src: url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.eot');
	src: url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.woff2') format('woff2'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.woff') format('woff'),
	url('../fonts/neuehelvetica55roman/webfonts/2D5F0D_0_0.ttf') format('truetype');
}
/*end of fonts*/

/*Home*/
.pages-container { position:relative; }
.vwise-home {min-height:700px; }
.vwise-home .banner img { margin-bottom:15px; }
.home-banner-content { width:76%; max-width:1454px; margin:0 auto; padding-top:70px; text-align:center; }
.home-banner-content h1 { padding-bottom:15px; font-family:'HelveticaNeueLTStd-Hv-85'; font-size:85px; line-height:85px; color:#fff; margin-bottom:30px;}
.home-banner-content p { font-family:'HelveticaNeueLT-Roman'; font-size:16px; line-height:18px; color:#fff; }
.home-banner-content a { display:block; width:325px; height:60; max-width:90%; margin:35px auto 0px; padding:11px 0px; text-transform:uppercase; font-size:16px; color:#fff; background:rgba(20,93,171,0.55);}
.home-banner-content a:hover { background:rgba(14, 60, 110, 0.55); }
label {display: block; font-size: 46px; padding: 10px 0px; color:#ffffff; font-family:'helvetica53'}






/*slider*/
.banner-slider .b-s-nav ul li.active a, .banner-slider .b-s-nav ul li a:hover {
background: rgba(7,75,115,0.9);
}

.banner-slider .b-s-nav ul li.active a, .banner-slider .b-s-nav ul li a:hover {
background: rgba(7,75,115,0.9);
}

.banner-slider .b-s-nav ul li a {
display: table-cell;
vertical-align: middle;
width: 215px;
height: 50px;
font-size: 13px;
line-height: 13px;
text-transform: uppercase;
color: #fff;
background: rgba(7,75,115,0.6);
}

.b-s-nav {}

.scrollguy {
margin-top:10%;
margin-right:auto;
margin-left:auto;
width:5%;
text-align:center;
margin-bottom:15px;
}

.explore {
font-family: 'Helvetica53';
color: rgba(255,255,255,0.5);
font-size: 26px;
}

.arrow1{
  font-family:'Lato';
  font-size:100px;
  color:white;
  text-align:right;
  float:left;
  margin-top:20%;
  width:12%
}

.arrow2{
  font-family:'Lato';
  font-size:100px;
  color:white;
  text-align:left;
  float:right;
  margin-top:20%;
  width:12%
}

.vmax {font-size: 83px; padding: 10px 0px; color:#000000; margin-bottom:20px;}



/*parallax*/

// setting base styles to image containers
.last,
[class*="bg_"] {
  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg_indx_1 {
	background:url('../../images/vwise_img/about_hero.png');
	background-position: Top center; 
	background-size:cover;
	padding-bottom:100px;
}

.bg_indx_sction_1 {
	
}

.bg_indx_2 {
	background:url('../../img/vwise/contact_hero.jpg');
	background-position: top center; 
	background-repeat:no-repeat;
	background-size:cover;
}

.learn-button {
	height:58px;
	width: 323px;
	line-height:100px;
	font-family:'Helvetica53'
}

.head-sums {
	font-family:'Helvetica-55' !important;
	font-size:28px !important;
	color:#ffffff !important;
	letter-spacing:+0.56px !important;
	line-height:32px !important;
}

.slide-tabs {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.55);
  height:150px;
  width:160px;
  border-radius:10px;
}

.activetab {
  background: none repeat scroll 0% 0% rgba(14, 60, 110, 0.55);
  height:150px;
  width:160px;
  border-radius:10px;
}

.slide-tabs a {
  background:none;
  margin-top:15px;
}

.activetab a {
  background:none;
  margin-top:15px;
}

.slide-tabs img {
  background:none;
  height:75px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
}

.activetab img {
  background:none;
  height:75px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
}

.slide-tabs a,
.slide-tabs img {
  display:block;
}

.active a,
.activetab img {
  display:block;
}

.slide-tabs a:hover {
  background:none;
  margin-top:15px;
  text-decoration:none;
  color:#fff;
}

.activetab a:hover {
  background:none;
  margin-top:15px;
  text-decoration:none;
  color:#fff;
}

.slide-tabs:hover {
  background:rgba(14, 60, 110, 0.55); 
  height:150px;
  width:160px;
  border-radius:10px;
}

.platformbutton {width: 50%;
text-align: center;
display: block;
position: absolute;
left: 25%;
margin-top:-1.5%}

.service {font-size:40px; vertical-align:super;}


.home-2,
.home-3 {text-align:center; margin-top:5%;}

.home-1{text-align:center;   padding-top: 70px !important;}

.home-1 {padding-bottom:5%; padding-top:5%;}
.home-3 {
padding-bottom:12%;
padding-top:3%;
}

.home-1,
.home-3 h1 {color:#fff}
.home-2 h1 {color:#000; margin-bottom:5%;}

.home-1 h1,
.home-2 h1,
.home-3 h1{
  padding-bottom: 15px;
  font-family: 'HelveticaNeueLTStd-Hv-85';
  font-size: 85px;
  line-height: 85px;
}

.home-2 p {
    font-family: 'HelveticaNeueLT-Roman';
  font-size: 21px;
  line-height: 28px;
  color: #000000;
}

.home-learn {
  width: 325px;
  height: 60;
  max-width: 90%;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background-color:  rgba(20,93,171,0.55);
  border: 1px solid #fff;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
margin: 50px auto;
}

.home-learn a {
color:#fff;
}

.small-learn {
  display: block !important;
  width: 293px !important;
  max-width: 90% !important;
  margin: 35px auto 0px !important;
  padding: 11px 0px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  color: #fff !important;
  background: rgba(20,93,171,0.45) !important;
  border: 1px solid #fff !important;
  font-family: 'Helvetica53';
}

label a {color:#fff}
label a:hover {color:#fff; text-decoration:none;}

@media (min-width: 300px) and (max-width: 599px) {

    .banner-content h1,
    .home-1 h1, .home-2 h1, .home-3 h1{font-size:29px; line-height: normal;}

  .arrow1, .arrow2 {font-size:60px; line-height: normal; margin-top:50%;}
  .head-sums, .home-2 p {font-size:12px !important; line-height:normal !important;}
  
  .small-learn {width:200px !important; font-size:10px !important;}
  
  .slide-tabs {width: 70px; height:40px;}
  .activetab {width: 70px; height:40px;}
  
  .slide-tabs img {height:40px; margin-bottom:0px; margin-top:-20px; display:none; }
  .activetab img {height:40px;margin-bottom: 0px; margin-top:-20px; display:none;}
  
  .slide-tabs a:hover {height:40px; font-size:8px; margin-top:3px;}
  .activetab a:hover {height:40px; font-size:8px; margin-top:3px;}
  
  .slide-tabs a {height:40px; font-size:8px; margin-top:3px;}
  .activetab a {height:40px; font-size:8px; margin-top:3px;}
  
  .slide-tabs:hover {width: 70px; height:40px;}
  
  .flex-control-nav li {
    display:inline-block;
    margin-bottom:10px !important;
  }

  .scrollguy img {height: 40px}
  
  .explore {font-size:18px;}
  
  .tippytop {margin-top:20px;}
  
  .home-2 img {margin-bottom:4%; vertical-align: top;}
 
  .home-3 label {font-size:30px !important;}
  
  .home-learn {font-size:11px;}
  
}

@media (min-width: 600px) and (max-width: 800px) {

    .banner-content h1,
    .home-1 h1, .home-2 h1, .home-3 h1{font-size:29px; line-height: normal;}

  .arrow1, .arrow2 {font-size:60px; line-height: normal; margin-top:35%;}
  .head-sums, .home-2 p {font-size:15px !important; line-height:normal !important;}
  
  .small-learn {width:200px !important; font-size:10px !important;}
  
  .slide-tabs {width: 80px; height:60px;}
  .activetab {width: 80px; height:60px;}
  
  .slide-tabs img {height:40px; margin-bottom:0px; margin-top:-20px }
  .activetab img {height:40px;margin-bottom: 0px; margin-top:-20px}
  
  .slide-tabs a {height:40px; font-size:8px}
  .activetab a {height:40px; font-size:8px;}
  
  .slide-tabs:hover {width: 80px; height:60px;}
  
  .flex-control-nav li {
    display: inline-block;
    margin: 0px;
  }

  .scrollguy img {height: 40px}
  
  .explore {font-size:18px;}
  
  .tippytop {margin-top:20px;}
  
}

@media (min-width: 801px) and (max-width: 1024px) {

	.banner-content h1,
  .home-1 h1, .home-2 h1, .home-3 h1{font-size:29px; line-height: normal;}

  .arrow1, .arrow2 {font-size:60px; line-height: normal; margin-top:50%;}
  .head-sums, .home-2 p {font-size:15px !important; line-height:normal !important;}
  
  .small-learn {width:200px !important; font-size:10px !important;}
  
  .slide-tabs {width: 80px; height:60px;}
  .activetab {width: 80px; height:60px;}
  
  .slide-tabs img {height:40px; margin-bottom:0px; margin-top:-20px }
  .activetab img {height:40px;margin-bottom: 0px; margin-top:-20px}
  
  .slide-tabs a {height:40px; font-size:8px}
  .activetab a {height:40px; font-size:8px;}
  
  .slide-tabs:hover {width: 80px; height:60px;}
  
  .flex-control-nav li {
    display: inline-block;
    margin: 0px px;
  }

  .scrollguy img {height: 40px}
  
  .explore {font-size:18px;}
  
  .tippytop {margin-top:20px;}
  
  .home-2 img {margin-bottom:4%;}
  
}





 .resetButton {border: 1px solid #fff !important; border-radius: 0px !important; display: block !important; width: 325px !important; height: 60 !important; max-width: 90% !important; margin: 35px auto 0px !important; padding: 11px 0px !important; text-transform: uppercase !important; font-size: 16px !important; color: #fff !important;  background: rgba(20,93,171,0.55) !important; }

 .alertGreen {border: 1px solid #fff !important; border-radius: 0px !important;  width: 325px !important; height: 60 !important; max-width: 90% !important; margin: 35px auto 0px !important; padding: 11px 0px !important; text-transform: uppercase !important; font-size: 16px !important; color: #fff !important;  background: rgba(3,252,161,0.55) !important;}

 .form-group label {display:none;}

