{% for item in items %}
{% if loop.index > 1 %},{% endif %}
{% if item.activePlantypecd is defined %}
    {% set planid = item.id %}
{% else %}
    {% set planid = item.planid %}
{% endif %}
{{ render(controller('PlansPlansBundle:PlansHome:displayPlan', {
              'planid': planid,
              'writeable': '1',
              'isadviser': '0'
    })) }}
{% endfor %}
