<script type="text/javascript">

$(document).ready(function() {
    $( "#loginform" ).submit(function( event ) {
        event.preventDefault();
        login();
    });
    $( "#requestPassword" ).submit(function( event ) {
        event.preventDefault();
        var querystring = $("#requestPassword").serialize();
        var page = "{{ path("_sendEmail_check") }}";    
        $.post(page, querystring).done(function(data) 
        {
            if (data != "")
            {
                $('#lockedOutMessage').html(data);
                $('#lockedOutAlert').fadeIn(500);
            }
            else
            {
                $('#lockedOutAlert').hide();
                sendEmail();
            }
        });
    });
});

function login() {
    $("#loginButton").attr("disabled", "disabled");
    var page = "{{ path("_index_migrationpassword") }}";
    var email = $("#username").val();
    var querystring = "email=" + email;
    $.post(page, querystring).done(function(data) {
        querystring = $("#loginform").serialize();
        page = "{{ path("fos_user_security_check") }}";
        $.post(page, querystring).done(function(data) {
            page = "{{ path("_setSessionVariables") }}";
            $.post(page, querystring).done(function(data) {
                if (data == "1") {
                    window.location = '{{ path('_portal_index') }}';
                } else {
                    var fadeout = true;
                    if (data == "0")
                    $("#loginErrorMessage").text("Invalid Login");
                    if (data.indexOf("Exceeded") != -1)
                    {
                        $("#loginErrorMessage").html(data);
                        fadeout = false;
                    }
                    if (data == "3")
                    $("#loginErrorMessage").text("Password is expired");
                    $('.log-status').addClass('wrong-entry');
                    $('#loginAlert').fadeIn(500);
                    if (fadeout)
                    {
                        setTimeout( "$('#loginAlert').fadeOut(3000);",6000 );
                    }
                    $("#loginButton").removeAttr("disabled");
                }
            });
        });
    });
}

function sendEmail() {
    querystring = $("#requestPassword").serialize();
    page = "{{ path("_sendEmail") }}";
    $.post(page, querystring).done(function(data) {
        if (data.indexOf("does not exist") > -1) {
            // TODO email does not exist code goes here
            $('#emailAlert').fadeIn(500);
            setTimeout( "$('#emailAlert').fadeOut(3000);",3000 );
        } else if (data.indexOf("last 24 hours") > -1) {
            // TODO email sent within 24 hours code goes here
            $('#twentyFourAlert').fadeIn(500);
            setTimeout( "$('#twentyFourAlert').fadeOut(3000);",3000 );
        } else {
            // TODO email sent code goes here
            $('#emailSent').fadeIn(500);
            setTimeout( "$('#emailSent').fadeOut(3000);",3000 );
        }
    });
}
</script>
