{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
 <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">





        <tr>
<td width = "50%">

</td>
<td width = "90" bgcolor = "ebebeb">
<img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "100" />
</td>
<td >

<table width = "620" height = "105" valign = "middle" cellpadding="0" cellspacing="0">

<tr>
<td bgcolor = "ebebeb" width = "10">
<img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "10" />
</td>
<td width = "10">
<img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "105" width = "10" />
</td>


<td align = "left">
{{ leftImage | raw }}</td>


<td align = "right">
{{ rightImage | raw }}

</td>

<td width = "10" >
<img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "105" width = "10" />
</td>

<td bgcolor = "ebebeb" width = "10">
<img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "10" />
</td>
</tr>
</table><a href = "{{ link }}"><img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/{% block footerimg %}index.png{% endblock %}" border = "0"/></a></td>
<td width = "90" bgcolor = "ebebeb"><img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "100" /></td>
<td width = "50%">
</td>
</tr>
</table>{% endblock %}
