<div id="contributions" class="reportBox">
    <div class="boxTitle">{{ "auto_escalate" | trans ({}, "my_profile") }}</div>
    <div class="clear"></div>
    <table class="table">
        <thead>
            <tr class="rowDark">
                {% for header in autoIncrease.header %}
                <th>{{ header.translation.title | trans ({}, header.translation.title_source) }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for autoIncreaseRow in autoIncrease.autoIncreases %}
            <tr class="rowLight">
                {% for header in autoIncrease.header %}
                {% if header.field == "amount" %}
                <td>{{ autoIncreaseRow.amountFormatted }}</td>     
                {% endif %}
                {% if header.field == "source" %}
                <td>{{ autoIncreaseRow.sourceTranslated.key | trans ({},autoIncreaseRow.sourceTranslated.source) }}</td>
                {% endif %}
                 {% if header.field == "startDate" %}
                <td>
                    {% if autoIncreaseRow.startDate is not empty %}
                    {{ autoIncreaseRow.startDate | date("m/d/Y") }}
                    {% endif %}
                </td>
                {% endif %}
                 {% if header.field == "frequency" %}
                <td>
                    {% if autoIncreaseRow.frequency is not empty %}
                    {{ autoIncreaseRow.frequency }}
                    {% endif %}
                </td>
                {% endif %}
                 {% if header.field == "occurrences" %}
                <td>
                    {% if autoIncreaseRow.occurrences is not empty %}
                    {{ autoIncreaseRow.occurrences }}
                    {% endif %}
                </td>
                {% endif %}
                 {% if header.field == "endDate" %}
                <td>
                    {% if autoIncreaseRow.endDate is not empty %}
                    {{ autoIncreaseRow.endDate | date("m/d/Y") }}
                    {% endif %}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>