<form id = "addCategory">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" />
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>





<script>
$( document ).ready(function() 
{
    $( "#addCategory" ).submit(function( event ) 
    {
        event.preventDefault();
        addCategorySaved();
    });
});
</script>