<form id = "addTemplate">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" />
    <input type ="text" name ="categoryid" value ="{{category.id }}" style ="display:none" />
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>


<script>
$( document ).ready(function() 
{
    $( "#addTemplate" ).submit(function( event ) 
    {
        event.preventDefault();
        addTemplateSaved();
    });
});
</script>