<form id = "deleteCategory">
     {{ category.name }}<br/><br/>
    <input type ="text" name ="id" style ="display:none" value ="{{ category.id }}" />
    <button type ="submit" class ="btn btn-warning">Delete</button>
</form>


<script>
$( document ).ready(function() 
{
    $( "#deleteCategory" ).submit(function( event ) 
    {
        event.preventDefault();
        deleteCategorySaved();
    });
});
</script>