<form id = "editCategory">
    <input type ="text" name ="id" style ="display:none" value ="{{ category.id }}" />
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" value ="{{ category.name }}" />
    <br/>
    <button type ="submit" class ="btn btn-primary">Save</button>
</form>


<script>
$( document ).ready(function() 
{
    $( "#editCategory" ).submit(function( event ) 
    {
        event.preventDefault();
        editCategorySaved();
    });
});
</script>