<div class="row">    
    <div class="col-md-12">
        <button type ="button" class ="btn btn-info" onclick = "ajaxModal('{{path('_manage_outreach_new_addcategory')}}','Add category')">Add Category</button>
        <br/><br/>
    </div>    
</div>
{% for category in categories %}
{% set templates = "" %}
{% if category.templates is defined %}
{% set templates  = category.templates %}    
<div class="breadcrumb"><strong>{{  category.name }}</strong>  <span class = "pull-right"><span class = "glyphicon glyphicon-edit" title = "Edit" onclick = "ajaxModal('{{path('_manage_outreach_new_editcategory')}}?id={{category.id}}','Edit Category')" style = "cursor:pointer"></span> <span class = "glyphicon glyphicon-plus" title = "Add Template" style = "cursor:pointer"onclick = "ajaxModal('{{path('_manage_outreach_new_addtemplate')}}?id={{category.id}}','Add Template')"  ></span> <span  class = "glyphicon glyphicon-remove" title = "Delete" style = "cursor:pointer" onclick = "ajaxModal('{{path('_manage_outreach_new_deletecategory')}}?id={{category.id}}','Delete Category')"></span> </span></div>
{% if templates | length > 0 %}
<table id="introducing-smartplan" class="table table-striped" >
    <thead>
        <tr>
            <th>Templates</th>
            <th class="action-buttons text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for template in templates %}
        <tr>
            <td>{{  template.name }}</td>
            <td class="action-buttons text-right">
               <a href = "{{path('_manage_outreach_new_edittemplate')}}?id={{template.id}}" class = "glyphicon_link" title = "Edit" ><span class ="glyphicon glyphicon-edit"></span></a>
               <a href = "javascript:ajaxModal('{{path('_manage_outreach_new_preview_form')}}?id={{template.id}}','Preview','large')" class = "glyphicon_link" title = "Preview" ><span class ="glyphicon glyphicon-folder-open"></span></a>
               <a href = "javascript:ajaxModal('{{path('_manage_outreach_new_email_form')}}?id={{template.id}}','Send Test Email','large')" class = "glyphicon_link" title = "Email"><span class ="glyphicon glyphicon glyphicon-envelope"></span></a>
               <a href = "javascript:ajaxModal('{{path('_manage_outreach_delete_template_form')}}?id={{template.id}}','Delete Template')" class = "glyphicon_link" title = "Delete"><span class ="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endfor %}
