{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>

<td width = "50%"></td>

<td width = "575">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align = "left">

{{ leftImage | raw}}

</td>
<td align = "right">
{{ rightImage | raw}}
</td>
</tr>
</table>


<a href = "{{ link }}" border = "0"><img src = "https://0ed9ebea9644ab60353b-d08680d0047e9412856f5df273d94289.ssl.cf1.rackcdn.com/{% block footerimg %}index.jpg{% endblock %}" width = "575" alt = "template"  border = "0"/></a>
</td>

<td width = "50%"></td>

</tr>
</table>

{% endblock %}
