{% set pagename = "Settings - Contact" %}

{% block javascriptVariables %}
var table = "defaultPlan";
var findby = "userid"
{% endblock %}

{% block additionalContent %}
<hr/>
<h3>List <button class ="btn btn-primary pull-right" onclick="contact.sync()">Sync All</button></h3>

{% set table = "plans" %}
{% set tablename = "plans" %}
{% set url = path('_settings_contact_planlist') %}
{% set header ="<th>id</th><th>Planid</th><th>Actions</th>" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
var contact = 
{
    sync: function()
    {
        ajaxModal('{{ path('_settings_contact_sync') }}','Sync All Plans');
    },
    syncSaved: function()
    {
        if (Admin.ajaxPost('{{ path('_settings_contact_sync_saved') }}'))
        {
            closeLightBox();
            plansTable.fnDraw(false); 
        }       
    },
    syncPlan: function(id)
    {
        ajaxModal('{{ path('_settings_contact_syncplan') }}?id=' + id,'Sync Plan');
    },
    syncPlanSaved: function(id)
    {
        if (Admin.ajaxPost('{{ path('_settings_contact_syncplan_saved') }}',{id:id}))
        {
            closeLightBox();
            plansTable.fnDraw(false); 
        }
    } 
};
</script>
{% endblock %}
{% extends 'SharedContactBundle:Default:index.html.twig' %}
