<form id ="deleteheader">
   <input type ="hidden" name ="id" value ="{{ header.id}}" />
   {{ header.name }}<br/><br/>
   <button class ="btn btn-warning">Delete</button>
</form>
<script>
$( "#deleteheader" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_delete_header_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>