<form id ="editheader">
   <input type ="hidden" name ="id" value ="{{ header.id}}" />
   <input type ="text" placeholder ="Name" name ="name" value ="{{ header.name }}" class ="form-control" /><br/>
   <button class ="btn btn-primary">Save</button>
</form>
<script>
$( "#editheader" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_edit_header_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>