<h3>Add</h3>
<form id ="addMapping">
    <div class="row" >
        <div class="col-md-5">
            <input type ="text" placeholder ="from" value = "" name ="from" class ="form-control" required />
        </div>
        <div class="col-md-5">
            <input type ="text" placeholder ="to" value = "" name ="to" class ="form-control" required />
        </div>
        <div class="col-md-2">
            <button class ="btn btn-info" type ="submit" >Add</button>
        </div>
        <input type ="hidden" value ="{{ app.request.get('id') }}" name ="headerid" />
    </div>
</form>
<br/><hr/>
<h3>List</h3>
<div id ="mappingList">
    {{ include("ManageManageBundle:FileConverter:getmappings.html.twig") }}
</div>
<script>
$( "#addMapping" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_add_mapping') }}',$(this).serialize()).done(function(html) 
    {
        $( "#addMapping" ).find("[name=to]").val("");
        $( "#addMapping" ).find("[name=from]").val("");
        reloadMappingList();
    });     
});
function deleteMapping(id)
{
    $.post('{{ path('_manage_fileConverter_delete_mapping') }}',{id:id}).done(function(html) 
    {
        reloadMappingList();
    }); 
}
function reloadMappingList()
{
    $.post('{{ path('_manage_fileConverter_get_mappings') }}',{id : {{ app.request.get('id') }} }).done(function(html) 
    {
        $("#mappingList").html(html);
    });     
}
</script>