{% if converters | length == 0 %}
Nothing here but us chickens!
{% else %}
{% for converter in converters %}
<div class ="breadcrumb">    
    {{ converter.name }}
    <span class="pull-right">
        <span class="glyphicon glyphicon-edit" title="Edit" onclick="ajaxModal('{{ path('_manage_fileConverter_edit') }}?id={{ converter.id}}','Edit Converter')" style="cursor:pointer"></span>
        <span class="glyphicon glyphicon-plus" title="Add Header" style="cursor:pointer" onclick="ajaxModal('{{ path('_manage_fileConverter_add_header') }}?id={{ converter.id}}','Add Header')"></span> 
        <span class="glyphicon glyphicon-remove" title="Delete" style="cursor:pointer" onclick="ajaxModal('{{ path('_manage_fileConverter_delete') }}?id={{ converter.id}}','Delete Converter')"></span> 
        {% if converter.headers | length > 0 %}
        <span class="glyphicon glyphicon-upload" title="Convert" style="cursor:pointer" onclick="ajaxModal('{{ path('_manage_fileConverter_upload_file') }}?id={{ converter.id}}','Upload File')"></span>
        {% endif %}
    </span>
</div>
{% if converter.headers | length > 0 %}
<table class ="table table-striped">
    <thead>
        <tr>
            <th>Headers</th>
            <th class ="action-buttons text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for header in converter.headers %}
        <tr>
            <td>{{ header.name }}</td>
            <td class = "action-buttons text-right">
                <span class="glyphicon glyphicon-edit" title="Edit" onclick="ajaxModal('{{ path('_manage_fileConverter_edit_header') }}?id={{header.id}}','Edit Header')" style="cursor:pointer"></span>
                <span class="glyphicon glyphicon-th-list" title="Mappings" onclick="ajaxModal('{{ path('_manage_fileConverter_edit_mappings') }}?id={{header.id}}','Set Mappings','large')" style="cursor:pointer"></span>
                <span class="glyphicon glyphicon-remove" title="Delete" onclick="ajaxModal('{{ path('_manage_fileConverter_delete_header') }}?id={{header.id}}','Delete Header')" style="cursor:pointer"></span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}
{% endif %}
