{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'File Converter'})) }}
<button type="button" class="btn btn-info" onclick="ajaxModal('{{ path('_manage_fileConverter_add') }}','Add Converter')">Add Converter</button>
<br/><br/>
<div id ="fileConverters">
    {{ include("ManageManageBundle:FileConverter:getfileconverters.html.twig") }}
</div>
<script>
function reloadFileConverters()
{
    $.post('{{ path('_manage_fileConverter_getFileConverters') }}').done(function(html) 
    {
        closeLightBox();
        $("#fileConverters").html(html);
    });    
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

