{% if modelDialogSizeClass is not defined %}
{% set modelDialogSizeClass  = '' %}
{% endif %}
<script type="text/template" id="add-beneficiary-tpl">        <!--relius old & others modal-->
    <div class="beneficiary-add">
        <div class="modal-content" aria-modal="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><label for="addBeneficiaryModal">{{ 'add_beneficiary' | trans ({}, 'beneficiary') }}</label></h4>
            </div>
            <div class="modal-body">
                {% include "SpeAppBundle:Template:Beneficiary/" ~app.session.get('account')['beneficiaryType'] ~ "/model_inner.html.twig" %}
            </div>
            <div class="modal-footer">
                <input type="hidden" id="uniqueId" value="<%- model.uniqid %>">
                <button type="button" class="btn btn-default action" data-dismiss="modal" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" id="updateBeneficiary" data-type="{{app.session.get('account')['beneficiaryType']}}" aria-label="Save">{{ 'save' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</script>


<div class="modal fade" id="addBeneficiaryModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog {{modelDialogSizeClass}}"></div>
</div>