{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Conversions'})) }}
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-{{ type }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}
<form id="conversionsForm" action="{{ path('_plans_conversions_save') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="supportContactFirstName">Support Contact First Name</label>
        <input type="text" class="form-control" id="supportContactFirstName" name="supportContactFirstName" value="{{ currentplan.supportContactFirstName }}">
    </div>
    <div class="form-group">
        <label for="supportContactLastName">Support Contact Last Name</label>
        <input type="text" class="form-control" id="supportContactLastName" name="supportContactLastName" value="{{ currentplan.supportContactLastName }}">
    </div>
    <div class="form-group">
        <label for="supportContactEmail">Support Contact Email</label>
        <input type="text" class="form-control" id="supportContactEmail" name="supportContactEmail" value="{{ currentplan.supportContactEmail }}">
    </div>
    <div class="form-group">
        <label for="customerServiceNumber">Support Contact Phone</label>
        <input type="text" class="form-control" id="customerServiceNumber" name="customerServiceNumber" value="{{ currentplan.customerServiceNumber }}">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="lastDayForLoans">Last Day For Loans</label>
                <input type="text" class="form-control datepicker" id="lastDayForLoans" name="lastDayForLoans" value="{{ currentplan.lastDayForLoans is empty ? "" : currentplan.lastDayForLoans|date('Y-m-d') }}">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="freezeTransactionsDate">Freeze Transaction Date</label>
                <input type="text" class="form-control datepicker" id="freezeTransactionsDate" name="freezeTransactionsDate" value="{{ currentplan.freezeTransactionsDate is empty ? "" : currentplan.freezeTransactionsDate|date('Y-m-d') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="takeoverDate">Takeover Date</label>
                <input type="text" class="form-control datepicker" id="takeoverDate" name="takeoverDate" value="{{ currentplan.takeoverDate is empty ? "" : currentplan.takeoverDate|date('Y-m-d') }}">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="freezeEndDate">Freeze End Date</label>
                <input type="text" class="form-control datepicker" id="freezeEndDate" name="freezeEndDate" value="{{ currentplan.freezeEndDate is empty ? "" : currentplan.freezeEndDate|date('Y-m-d') }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="soxNoticeFile">SOX Notice</label>
        <input type="file" id="soxNoticeFile" name="soxNoticeFile" accept="application/pdf">
        {% if currentplan.soxNoticeURL %}
            <p class="help-block">Current: <a target="_blank" href="{{ currentplan.soxNoticeURL }}">File</a></p>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Transition Period Over </label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="transitionPeriodOver" value="1" {% if currentplan.transitionPeriodOver %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="transitionPeriodOver" value="0" {% if not currentplan.transitionPeriodOver %}checked{% endif %}> No
            </label>
        </div>
        {% if transitionPeriodOverChanges|length > 0 %}
            <table class="table table-condensed table-bordered" style="margin-top:20px;">
                <tr>
                    <th colspan="3">"Transition Period Over" Toggle History</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>Changed To</th>
                    <th>Timestamp</th>
                </tr>
                {% for entry in transitionPeriodOverChanges %}
                    <tr>
                        <td>{{ entry.email is not empty ? entry.email : 'Unknown' }}
                        <td>{{ entry.change.changedTo ? 'Yes' : 'No' }}</td>
                        <td>{{ entry.change.timestamp|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
    
<script>
    $('#conversionsForm').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            url: "{{ path('_plans_conversions_save') }}",
            type: "POST",
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function() {
                location.reload();
            }
        });
    });
    
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd"
    });
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}