{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
        'pagename': 'Manage Outreach Embed Code'
    })) }}
  
  <script type="text/javascript">
  function select_all()
  {
  var text_val=eval("document.form1.type");
  text_val.focus();
  text_val.select();

  }
</script>


Click anywhere in the box to select all of the code<br/>
PC Copy = Ctrl/C<br/>
Mac Copy = Command/C <br/>
<form name=form1 method=post action=''>
<textarea name=type rows=95 cols=95 onClick="select_all();">
{{ emailContents }}
</textarea>