<div id="retireNeeds" class="reportBox">
    <div class="boxTitle">Retirement Needs</div>
    <div class="clear"></div>
    <div class="rowDark">
        <div style="float:left">{{ "recommended_monthly_plan_contribution" | trans ({}, "my_profile") }}:</div>
        <div style="float:right">{{retirementNeeds.recommendedMonthlyPlanContribution }}</div>
        <div class="clear"></div>
    </div>
    <!-- Detailed Report -->
    <div class="info">{{ "to_view_your_retirement_needs_answers" | trans ({}, "my_profile") }}</div>
    <div class="info">
        <select name="RNQuestionSet" class="question" style="width:400px;" onchange ="myProfile.loadRetirementNeedsAnswer(this.value)">
            <option value="">Select Question</option>
            {% for question in retirementNeeds.questions %}
            <option value="{{ question.value }}">{{ question.key | trans ({}, question.source) }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="info answer" id ="retirementNeedsAnswer"></div>
    <div class="clear"></div>
    {% if retirementNeeds.trustedContactEnabled %}
        <div class="info">{{ "trusted_contact" | trans ({}, "global") }}: {{ retirementNeeds.translations.trustedContactStatus.key | trans ({}, retirementNeeds.translations.trustedContactStatus.source) | capitalize }}</div>
    {% endif %}
</div>