{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Qdia'
    })) }}

        <h3 class="panel-title">Current Fund</h3>
   
    <ul class="list-group" id = "fundList">
    	<li class="list-group-item" >
	 		<h4>Name</h4> {{ searchFund.name }}<br/>
    	</li>
		{% if searchFund.ticker != "" %}
		<li class="list-group-item" >
			<h4>Ticker</h4>{{ searchFund.ticker }}
		</li>
		{% endif %}

		 {% if qdiaFund is not null %}
		 {% if qdiaFund.video != "" and qdiaFund.youtubeid != "" %}
		 <li class="list-group-item" >
		 	<h4>Video</h4><a href = "https://www.youtube.com/embed/{{ qdiaFund.youtubeid }}?rel=0&wmode=transparent" class = "videopreview">{{ qdiaFund.videoname }}</a>
		 </li>
		 {% endif %}
		 {% if qdiaFund.url != "" %}
		 <li class="list-group-item" >
		 	<h4>Url</h4> <a href = "{{ qdiaFund.url }}" target = "_blank">{{ qdiaFund.url }}</a>
		 </li>
		 {% endif %}
		 {% endif %}
		 {% if writeable %}
		 <form action="{{ path('_plans_investments_qdia_save_fund') }}" method="POST">
		 <li class="list-group-item" >
			 <h4>Path</h4>
			 <select name="pathId" class="form-control">
			 	<option value="default">Default (All Paths)</option>
				{% for key, path in paths %}
					{% if path is not null %}
					<option value="{{ path.id }}" {% if searchFund.pathId == path.id %}selected{% endif %}>
						{{ key }}
					</option>
					{% endif %}
			 	{% endfor %}
			 </select>
		 </li>

		 <li class="list-group-item" >
			 <input type="submit" value="Save" class="btn btn-primary">
		 	 <input type = "button" onclick = "unselectFund()" value = "Unselect" class="btn btn-danger" />
		 </li>
		 </form>
		 {% endif %}

    </ul>
</div>
{{ include ("PlansPlansBundle:Investments:javascript/qdia.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}








