{% set pagename = "Plans - Investments/Reorder Funds" %}
{% set parentPage = "_plans_investments" %}
{% extends 'SharedInvestmentsBundle:Default:reorderfund.html.twig' %}

{% block globalvariables %}
var pagetype = "plans";
{% endblock %}