{% set extraparameters = ",editurl:'" ~ path('_plans_investments_riskBasedFunds_edit') ~ "',deleteurl:'" ~  path('_plans_investments_riskBasedFunds_delete') ~ "'"%}
{% set addurl = path('_plans_investments_riskBasedFunds_add') %}
{% set findby = "a.planid" %}
{% set findbyvalues = investments.planid  %}
{% set table = "plansRiskBasedFunds" %}
{% extends 'SharedInvestmentsBundle:Default:riskbasedfunds.html.twig' %}

