{% set pagename = "Plans - Investments/Portfolio Funds" %}
{% set parentPage = "_plans_investments" %}
{% extends 'SharedInvestmentsBundle:Default:setportfoliofunds.html.twig' %}

{% block globalvariables %}
var pagetype = "plans";
{% endblock %}