<form id ="addTag">
    <input type ="text" class ="form-control" name ="name" placeholder ="Enter Tag" />
    <br/><br/>
    <button class ="btn btn-info">Add</button>
</form>
<script>
$( "#addTag" ).on( "submit", function( event ) 
{
    event.preventDefault();
    $.post("{{path('_manage_system_messages_tags_add_saved')}}", $( this ).serialize()).done(function(data) 
    {
        closeLightBox();
        SystemMessagesTagsTable.fnDraw(false);
    });
});    
    
</script>
