{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'System Messages'})) }}
<a href ="{{path('_manage_system_messages_tags') }}"><button class ="btn btn-primary">Manage Tags</button></a>
<br/><br/>
<h3>View Messages</h3>
{% set table = "SystemMessages" %}
{% set tablename = "SystemMessages" %}
{% set header = '<th>Id</th><th>Name</th><th>Tags</th><th>Expiration Date</th><th>Actions</th>' %}
{% set types = "sm.id,sm.message,MAX(smtags.name),sm.expirationDate" %}
{% set template =  'ManageManageBundle:SystemMessages:Search/messagelist.html.twig' %}
{% set url = path('_manage_system_messages_datatables')  %}
{% set unsearchableArray = [4] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}