<form id ="sendMessageForm">
    <strong>Message</strong><textarea id ="tagmessage" class ="form-control" style ="width:100%;height:200px;resize:none" required></textarea>
    <hr/>
    <strong>Set Tags</strong>
    <br/><br/>
    {% set table = "SystemMessagesTags" %}
    {% set tablename = "SystemMessagesTagsMessage" %}
    {% set header = '<th>Id</th><th>Name</th><th>Actions</th>' %}
    {% set types = "a.id,a.name" %}
    {% set template =  'ManageManageBundle:SystemMessages:Search/taglistmessage.html.twig' %}
    {% set unsearchableArray = [2] %}
    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
    <strong>Add Tag</strong>
    <br/>
    <div class="row">
        <div class="col-md-11"><input type ="text" placeholder ="Enter tag" id ="newtag" class="form-control" /></div>  
        <div class="col-md-1"><button class ="btn btn-info" type ="button" onclick = "addtag()">Add</button></div>
    </div>
    <hr/>
    <strong>Expiration Date</strong>
    <input type="date" id="expirationDate" required class ="form-control">
    <hr/>
    <button class ="btn btn-primary" type ="submit" id ="sendMessageButton">Send Message</button>
    <img src ="{{ asset('images/load-icon.gif') }}" style ="display:none" id ="sendMessageLoader" />
    <div class="alert alert-danger" id ="messageFailed" role="alert" style ="display:none;margin-top:5px">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Failed to Send Message
    </div>    
</form>
<script>
var tags = new Object();
function toggletag(id,checked)
{
    if (checked)
    {
        tags['tag' + id] = id;
    }
    else
    {
        delete tags['tag' + id];
    }
}
function addtag()
{
    $.post("{{path('_manage_system_messages_tags_add_saved')}}", {name:$("#newtag").val()}).done(function(data) 
    {
        if ("id" in data)
        {
            toggletag(data.id,true);
            $("#newtag").val("");
            SystemMessagesTagsMessageTable.fnDraw(false);    
        }
    });    
}
$( "#sendMessageForm" ).submit(function( event ) 
{
    $("#sendMessageLoader").show();
    $("#sendMessageButton").hide();
    $("#messageFailed").hide();
    event.preventDefault();
    var params = { "message": $("#tagmessage").val(),"tags": tags,"expirationDate":$("#expirationDate").val() };
    $.post("{{sendMessagePostUrl}}", params).
    success(function(data) 
    {
        closeLightBox();
        modalMessage("Sent");
    })
    .fail(function(data) 
    {
        $("#messageFailed").show();
    })
    .always(function(data) 
    {
        $("#sendMessageLoader").hide();
        $("#sendMessageButton").show();
    });    
});
</script>
