<form id ="addPlayListVideo">
Language: <br/>
<select name ="languageId" class ="form-control" required>
    {% for language in languages %}     
    <option value ="{{ language.id }}">{{ language.name }}</option>
    {% endfor %}
</select>
<br/>            
Url: 
<input type ="text" class ="form-control" name="url" required /> <br/>
Subtitle Url:
<input type ="text" class ="form-control" name="subtitleUrl" required  /> <br/>
<button class ="btn btn-info" type ="submit">Add Video</button>
</form>
    
<script>
$( "#addPlayListVideo" ).submit(function( event ) 
{
    event.preventDefault();
    var params = $(this).serializeArray();
    Paths.addPlayListVideoSaved(params);
});
Paths.addPlayListVideoSaved = function(params)
{
    this.ajaxPost("{{ path('_paths_playListSections_addVideoSaved') }}",params);
    this.refreshVideoList();
};
</script>