<button class ="btn btn-warning" onclick ="Paths.deletePlayListVideoSaved()">Delete</button>
<script>
Paths.deletePlayListVideoSaved = function()
{
    this.ajaxPost("{{ path('_paths_playListSections_deleteVideoSaved') }}",{id: {{ video.id }} });
    this.refreshVideoList();
};     
</script>
