<form id ="editPlayListVideo">
Language: <br/>
<select name ="languageId" class ="form-control" required>
    {% for language in languages %}     
    <option value ="{{ language.id }}" {% if video.languageId == language.id %}selected{% endif %}>{{ language.name }}</option>
    {% endfor %}
</select>
<br/>            
Url: 
<input type ="text" class ="form-control" name="url" required value="{{ video.url }}" /> <br/>
Subtitle Url:
<input type ="text" class ="form-control" name="subtitleUrl" required value ="{{ video.subtitleUrl }}"  /> <br/>
<input type ="hidden" name ="id" value ="{{ video.id }}" />
<button class ="btn btn-primary" type ="submit">Save Video</button>
</form>   
<script>
$( "#editPlayListVideo" ).submit(function( event ) 
{
    event.preventDefault();
    var params = $(this).serializeArray();
    Paths.editPlayListVideoSaved(params);
});
Paths.editPlayListVideoSaved = function(params)
{
    this.ajaxPost("{{ path('_paths_playListSections_editVideoSaved') }}",params);
    this.refreshVideoList();
};
</script>