{% if videos is not empty %}
<table class ="table table-striped">
    <thead>
        <tr>
            <th>
                Url
            </th>
            <th>
                Subtitle Url
            </th>
            <th>
                Language
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {% for video in videos %}
        <tr>
            <td>
                {{ video.url }}
            </td>
            <td>
                {{ video.subtitleUrl }}
            </td>
            <td>
                {{ video.language.description }}
            </td>
            <td>
                <button class ="btn btn-primary" onclick="Paths.editPlayListVideo({{ video.id }})">Edit</button> <button class ="btn btn-warning" onclick="Paths.deletePlayListVideo({{ video.id }})">Delete</button>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
   No Videos
{% endif %}
