{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'PlayList Video Manager'})) }}
<table class ="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <td>
                {{ section.description }}
            </td>
            <td>
                <button class="btn btn-primary" onclick ="Paths.setVideos('{{ section.name }}')">Set Videos</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
<script>
Paths.setVideos = function(name)
{
    window.location = "{{ path('_paths_playListSections_setVideos') }}?name=" + name;
};
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
