{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Set Videos'})) }}
<div id ="videoList">
{{ include('PathsPathsBundle:Default:playListSections/getVideos.html.twig' ) }}
</div>
<br/><br/>
<button class ="btn btn-info" onclick ="Paths.addPlayListVideo()">Add Video</button>
{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
<script>
Paths.addPlayListVideo = function()
{
    ajaxModal("{{ path('_paths_playListSections_addVideo') }}", "Add Video");
};
Paths.editPlayListVideo = function(id)
{
    ajaxModal("{{ path('_paths_playListSections_editVideo') }}?id=" + id, "Edit Video");
};
Paths.deletePlayListVideo = function(id)
{
    ajaxModal("{{ path('_paths_playListSections_deleteVideo') }}?id=" + id, "Delete Video");
};
Paths.getVideoList = function()
{
    $("#videoList").html(this.ajaxPostValue("{{ path('_paths_playListSections_getVideos') }}"));
};
Paths.refreshVideoList = function()
{
    closeLightBox();
    this.getVideoList();
};
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
