<h2>{{ 'moa_signup_edocuments_header' | trans ({}, 'my_profile')  }}</h2>

{{ 'moa_signup_edocuments_description' | trans ({}, 'my_profile')  }}
<br/><br/>
<div>
    <textarea style="width:100%;height:300px;resize:none" id="moaDisclaimer">{{ 'moa_disclaimer_body' | trans ({}, 'my_profile') | raw | replace({"<br>": "\n"}) }}</textarea>
</div>
<br/>
<div id="mainForm" >
    <input type ="radio" name="moaAccept" value="1"> <b style="padding-left:5px">{{ 'yes' | trans ({}, 'global') | lower | capitalize  }}</b>, {{ 'moa_signup_edocuments_accept' | trans ({}, 'my_profile')  }}

    <form id="form" style="padding-left:20px;padding-top:10px;">
        <div class="row">
            <div class="col-md-6">
                <div style="padding-bottom:3px">{{ 'moa_signup_edocuments_email' | trans ({}, 'my_profile')  }}</div>
                <input type="email" class="form-control" name="emailInput" id="emailInput" placeholder="Enter email" required="required">
            </div>
            <div class="col-md-6">
                <div style="padding-bottom:3px">{{ 'moa_signup_edocuments_confirm_email' | trans ({}, 'my_profile')  }}</div>
                <input type="email" class="form-control" name="emailConfirmInput" id="emailConfirmInput" placeholder="Enter email">
                <span id="emailErrText" style="display:none;color:red">{{ 'moa_signup_edocuments_email_match_error' | trans ({}, 'my_profile')  }}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1" style="width:0px">
                <input type="checkbox" class="form-check-input" id="popupcheckbox">
            </div>
            <div class="col-md-11">
                <label class="form-check-label" for="popupcheckbox">
                    <span>{{ 'moa_disclaimer_checkbox' | trans ({}, 'my_profile') }}</span>
                </label>
            </div>
        </div>
        <br>
        <button id="submit-btn" type="submit" style="display:none"></button>
    </form>
    <input type ="radio" name="moaAccept" value="0"> <b style="padding-left:5px">{{ 'no' | trans ({}, 'global') | lower | capitalize  }}</b>, {{ 'moa_signup_edocuments_decline' | trans ({}, 'my_profile')  }}
    <div id="container-main" style="background-color: #ffffff">
        <div class="actions" style="position:static;float:right">
            <a class="actionBtn right">
                <span class="center action-button disabledButton" id="moaOkButton" onclick="moaPopupOk()" style="float:right" >{{ 'ok' | trans ({}, 'global') }}</span>
            </a>
        </div>
    </div>
    <br><br>
</div>
<script>
    $( "#form" ).submit(function( event ) {
        event.preventDefault();
        $('#emailErrText').hide();
        if (confirmEmail() && checkCheckbox()) {
            $.post("/myProfile/disclaimerAccepted", { email : $('#emailInput').val(), edelivery: true }).done(function(data)
            {
                bootbox.hideAll()
            });
        }
    });
    $("#mainForm").children().attr("disabled",true);
    $("#emailInput,#emailConfirmInput,#popupcheckbox").attr("disabled",true);
    (function($) {
        $.fn.hasScrollBar = function() {
            return this.get(0).scrollHeight > this.height();
        }
    })(jQuery);
    $(function()
    {
       // 
        setTimeout(function(){ checkMoaScrollBarVisible(); }, 1000);
    });
    function checkMoaScrollBarVisible()
    {
        if (!$('#moaDisclaimer').hasScrollBar())
            enableMoaInputs();
    }
    function enableMoaInputs()
    {
        $("#mainForm").children().attr("disabled",false);
        $("#emailInput,#emailConfirmInput,#popupcheckbox").attr("disabled",false);
        $("#moaOkButton").removeClass("disabledButton");       
    }
    $('#moaDisclaimer').on('scroll', function() 
    {
        var offset = 300; // height of textarea

        if (this.scrollHeight <= (this.scrollTop+offset)) 
        {
            enableMoaInputs();
        }
    });
    function moaPopupOk() 
    {
        if (!$("#moaOkButton").hasClass("disabledButton"))
        {
            if (parseInt($("[name=moaAccept]:checked").val())) 
            {
                $('#submit-btn').click();
            }
            else if(parseInt($("[name=moaAccept]:checked").val()) == 0)
            {
                $.post("/myProfile/ECOMMModalSubmit", { email : "", edelivery : false }).done(function(data)
                {
                    bootbox.hideAll()
                });            
            }
        }
    }
    function confirmEmail() {
        var email = $('#emailInput').val();
        var confemail = $('#emailConfirmInput').val();
        if(email != confemail) {
            $('#emailConfirmInput').css("outline", "1px solid red");
            $('#emailErrText').show();
            return false;
        }
        $('#emailConfirmInput').css("outline", "0px");
        return true;
    }

    function checkCheckbox() {
        if ($('#popupcheckbox').prop("checked")) {
            return true;
        }
        $('#popupcheckbox').css("outline", "1px solid red");
        return false;
    }
</script>