[
	{{ profile.id }},
	"{{ profile.participantName | default("") }}",
	"{{ profile.participant.email | default("") }}",
	"<a href = \"javascript:ajaxModal('{{ profile.profileLink | url_encode }}','Investor Profile','large',true)\" ><input type = \"button\" class=\"btn btn-primary\" value = \"Link\" /></a>",
	"<a href = \"javascript:ajaxModal('{{ path('_plans_profiles_search_moreinfo') | url_encode }}?id={{ profile.id }}','More info','medium')\" ><span class = \"glyphicon glyphicon-plus\"></span></a>"

]