{
	"data":
	[
		{% for cron in crons %}
		{% if loop.index > 1 %},{% endif %}
		[
		{% for section in sections %}
		{% if loop.index > 1 %},{% endif %}"{% if cron[section.field] is defined and cron[section.field] is not null %}{{ cron[section.field] }}{% endif %}"
		{% endfor %}
		,"<input type = \"checkbox\" {% if cron.active %}checked{% endif %} onclick = \"changeActive('{{ cron.id }}',this)\" />"
		,"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"ajaxModal('{{ path('_manage_cron_edit') }}?id={{cron.id }}','Edit Cron')\"></span><span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\" onclick = \"deleteCron('{{ cron.id }}')\"><span class=\"glyphicon glyphicon-remove-circle\"></span></span>"
		]
		{% endfor %}
	]
}

					
