<!doctype html>
<style>
	.i-icon {
		background-image: url('{{ absolute_url(asset('/w/img/icon-info.png')) }}') !important;
		font-size:15px !important;
		line-height: 0 !important;
		padding-left: 20px !important;
	}
</style>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'irio_title' | trans ({}, 'widget') }}</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/w/css/iml.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/noUiSlider.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/irio.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/irioSrt.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
	</head>
	<body class="{{ data.lang }}">
                {% set irioVersion = "iframe" %}
                {% set hideSalaryForm = false %}
                {% set salaryFormFile = "salaryForm" %}
                {% set viewOnly = false %}
                {% set allocateFlatDollarDescription1 = 'this_is_a_flatdollar' | trans ({}, 'widget') %}
                {% set allocateFlatDollarDescription2 = 'flatdoor_new_contribution_amount_of' | trans ({}, 'widget') %}
                {% set ctaBodyFile = "srt/ctaBody" %}
                <script> var widgetSessionId = "{{ jsSessionId }}";</script>
                {{ include("WidgetsBundle:Default:widgetHost.js.twig") }}
		<header></header>
		<div id="vwise-irio-modal">
			<div class="veil">
				<div class="outer">
					<div class="inner">

										{{ include("WidgetsBundle:Irio:salaryConfirmation.html.twig") }}

										{{ include("WidgetsBundle:Irio:maxReached.html.twig") }}

										{{ include("WidgetsBundle:Irio:analysis.html.twig") }}

										{{ include("WidgetsBundle:Irio:congrats.html.twig") }}

										{{ include("WidgetsBundle:Irio:allocate.html.twig") }}

										{{ include("WidgetsBundle:Irio:allocateConfirm.html.twig") }}

										{{ include("WidgetsBundle:Irio:cta.html.twig") }}

										{{ include("WidgetsBundle:Irio:success.html.twig") }}

										{{ include("WidgetsBundle:Irio:thankYou.html.twig") }}

										{{ include("WidgetsBundle:Irio:disclosure.html.twig") }}

										{{ include("WidgetsBundle:Irio:blocked.html.twig") }}

					</div>
				</div>
			</div>
		</div>
                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                <span class="data_newDeferralFlatDollarRaw" style ="display:none"></span>
                {% endif %}
		<footer></footer>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/w/js/iml.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/nouislider.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/wNumb.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/autoNumeric-min.js"></script>
		<script src="/w/js/irio-data.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/irio.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
		<script>
		$.get('/widgets/ajax/calculate', function(data){
			var object = JSON.parse(data);
			figure = object.projectedIncome;
            irioFigure({figure: figure, age: object.age, retireAge: object.retireAge});
		});
                var irioVersion = "{{ irioVersion }}";
                function calculateIrioSliderDefault()
                {
                    return calculateIrioSliderMax()/2;
                }
                function languageSwitchIrio()
                {
                    if ( $LS.hasClass('open') )
                    {
                        var lang = $('.currentLanguage').text().trim() == 'Spanish' ? 'es' : 'en';
                        window.location = UpdateQueryString('lang', lang);
                        closeLS();
                    }
                    else
                    {
                      openLS();
                      setTimeout(closeLS, 10000); // auto close after 10 seconds
                    }
                }
		</script>
		{{ include('WidgetsBundle:GoogleAnalytics:googleaddIrio.html.twig') }}
	</body>
</html>

