{% for user in items %}
{% if loop.index > 1 %},{% endif %}
[
    {% set dateField = user.uploadDate %}
    {{ user.id }},
    "{{ include('TemplatesTemplatesBundle:Default:displaydate.html.twig') }}",
    "{{ user.firstName }}",
    "{{ user.lastName }}",
    "{{ user.email }}",
    "{{ user.enrolled }}"
]
{% endfor %}