<script>
var Paths =   
{    
    ajaxPost: function(url,params)
    {
        return Admin.ajaxPost(url,params);
    },
    ajaxPostValue: function(url,params)
    {
        return Admin.ajaxPostValue(url,params);
    },
    addPathModal : function()
    {
        ajaxModal('{{ path('_paths_add_form') }}','Add Path');
    },
    refreshPathList: function()
    {
        closeLightBox();
        PathManagerTable.fnDraw(false); 
    },
    editForm: function(params)
    {
        this.ajaxPost("{{ path('_paths_edit_form_saved') }}",params);
        this.refreshPathList();  
    },
    setActive : function(element)
    {
        var params = {active: element.is(":checked") ? 1: 0, id: element.data("pathid") };
        this.editForm(params);
    },
    goToConfigurator : function(id)
    {
        window.location = '{{ path('_paths_configure') }}?id=' + id;
    },
    editPathModal : function(id)
    {
        ajaxModal('{{ path('_paths_edit_form') }}?id=' + id,'Edit Path');
    },
    deletePathModal: function(id)
    {
        ajaxModal('{{ path('_paths_delete_form') }}?id=' + id,'Delete Path');
    },
    savePath: function(url)
    {
        var paths = new Array();
        $(".pathsSelect").each(function(i)
        {
            var path = new Object();
            path.id = $(this).data("id");
            path[$(this).data("field")]  = $(this).val();
            paths.push(path);
        });

        var dialog = bootbox.dialog({ 
        message: '<h3 style ="text-align:center">Saving <br/><img src ="/images/load-icon.gif" /></h3>', 
        closeButton: false 
        });
        if (this.ajaxPost(url,{ paths: paths} ))
        {
          setTimeout(function(){ dialog.modal('hide'); }, 1000);

        }        
    },
    addVideo: function(playListId)
    {
        ajaxModal('{{ path('addPlayListVideo') }}?playListId=' + playListId,"Add Video");
    },
    editVideo: function(id)
    {
        ajaxModal('{{ path('editPlayListVideo') }}?id=' + id,"Edit Video");      
    },
    deleteVideo: function(id)
    {
        ajaxModal('{{ path('deletePlayListVideo') }}?id=' + id,"Edit Video");      
    },
    saveVideoOrder:  function(params)
    {
        this.ajaxPost('{{ path('saveVideoOrder') }}',params);
    },
    loadPlayList:  function(playListId)
    {
        $("#playList" + playListId).html(this.ajaxPostValue(" {{ path('loadPlayListTable') }}",{id: playListId } ));
    },            
    manageLocales: function(id)
    {
        ajaxModal('{{ path('playListManageLocales') }}?id=' + id,"Manage Locales", "large");
    },
    setAccounts: function(id)
    {
        window.location = "{{ path('_paths_accountPaths') }}?id=" + id;
    },
    copyPath: function(id)
    {
        ajaxModal('{{ path('_paths_copyPath') }}?id=' + id,'Copy Path');
    },
    copyPathSaved: function()
    {
        this.ajaxPost('{{ path('_paths_copyPath_saved') }}');
        this.refreshPathList();
    }
}
</script>