<select id="bRelationship" name="bRelationship">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Spouse' ? 'selected' : '' %> value="Spouse">{{ 'spouse' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Son' ? 'selected' : '' %> value="Son">{{ 'son' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Daughter' ? 'selected' : '' %> value="Daughter">{{ 'daughter' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Mother' ? 'selected' : '' %> value="Mother">{{ 'mother' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Father' ? 'selected' : '' %> value="Father">{{ 'father' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Sister' ? 'selected' : '' %> value="Sister">{{ 'sister' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Brother' ? 'selected' : '' %> value="Brother">{{ 'brother' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.relationship == 'Other' ? 'selected' : '' %> value="Other">{{ 'other' | trans ({}, 'beneficiary') }}</option>
</select>
