{% for profile in profiles %}
{{ profile.planName }} <br/>

{% if profile.participant is not null %}
{% set participant = profile.participant %}
Participant Email: {{  participant.email }}<br/>

{% endif %}
<hr/>

{% endfor %}