{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': title})) }}

<a href = "{{ path('_manage_accounts') }}">Return to Accounts</a>
<br/>
<br/>

<div id = "step1">
	<form role="form" id="upload-form" method="post" action="{{ path('_manage_plan_upload_write_temp_file') }}" enctype="multipart/form-data">
		<input type = "text" name = "id" value = "{{ id }}" style = "display:none" />
		<input type="file" name="upload-file" />
		<br/>
		<button type = "submit" class = "btn btn-primary" >Upload</button>
	</form>
</div>


<div id = "step2" style = "display:none">
	<strong>Map fields to your files below.  Unmapped columns will not be imported.</strong>
	<table class="table table-striped" id = "uploadTable" >
		<thead>
			<tr>
			{% for section in sections %}

				<th>
					<select name = "uploadOption" id = "uploadOption{{ loop.index }}">
						<option></option>
						{% for sectionOption in sections %}
						<option value = "{{ sectionOption.field }}">{{ sectionOption.description }}</option>
						{% endfor %}
					</select>
				 </th>
			
			{% endfor %}
			</tr>
		</thead>
		<tbody>
		</tbody>

	</table>

	<div id = "noticesDiv" style = "display:none">
		{% if skipDuplication is not defined %}
		<h4>Duplicate Data</h4>
		<table id = "noticesTable" class="table table-striped">
			<thead id = "noticesTableTHead">


			</thead>
			<tbody>

			</tbody>
		</table>
		{% endif %}
	</div>
	<div id = "loader" style = "display:none"><img src = "{{ asset('images/load-icon.gif') }}" /><br/><br/></div>
	<button type = "submit" class = "btn btn-primary" id = "processButton" >Process</button>
	
</div>

<script>
var counter = 0;
var sections = Array();
var sectionsTotal = 0;
var errorData = Array();

var sectionsHash = Array();



$( document ).ready(function()
{



	{% for sectionOption in sections %}
	sectionsHash[{{ loop.index }}] = 0;
	{% endfor %}

	{% for sectionOption in sections %}
	if (sectionsHash[{{ loop.index }}] == 0)
	{
		sectionsHash[{{ loop.index }}] = 1;
		$( "#uploadOption{{ loop.index }}").val("{{ sectionOption.field }}");
	}
	{% endfor %}

	{% for section in sections %}
	$( "#uploadOption{{ loop.index }}" ).change(function() 
	{
		resetSections();
		setSections();
		for (i = 1; i < sectionsTotal + 1; i++)
		setOptions(i);
	});
	setOptions({{ loop.index }});
	{% endfor %}

	$( "#processButton" ).click(function() 
	{
		$("#loader").show();
		var selectedText = "";
		var processString = "";
		$("#processButton").hide();
		{% for section in sections %}	
		{% if loop.index > 1 %}
		processString = processString  + "," + $("#uploadOption{{ loop.index }}").val();
		{% else %}
		processString = processString + $("#uploadOption{{ loop.index }}").val();
		{% endif %}
		{% endfor %}
		var page = "{{ path(processPage) }}";
		var querystring = "header=" + processString + "&id={{ id }}";
		$.post(page, querystring).done(function(data) 
		{
			$("#noticesDiv").show();
			$("#loader").hide();
			var htmlstring = "";
			{% if skipDuplication is not defined %}
			{% for sectionOption in sections %}
			selectedText = $( "#uploadOption{{ loop.index }}").find(":selected").text();
			if (selectedText != "")
			{
				selectedText = selectedText.replaceAll(" ","&nbsp;");
				htmlstring = htmlstring +'<td><b>' + selectedText + "</b></td>";
			}
			{% endfor %}
			htmlstring = "<tr>" + htmlstring + "</tr>";
			$("#noticesTableTHead").html(htmlstring);
			$('#noticesTable').dataTable(
			{
	        	"ajax": "{{ path('_manage_plan_upload_errorXml') }}?id={{ id }}",
	        	"dom": 'T<"clear">lfrtip',        "tableTools": {            "sSwfPath": "/swf/copy_csv_xls_pdf.swf" ,"aButtons": [ "csv","print" ]       }
	    	} );
	    	modalMessage("Data Saved, check duplicate data");
	    	{% else %}
	    	modalMessage("Data Saved");
	    	{% endif %}
		});
	});

});


function redirectToAccounts()
{
	window.location = "{{ path('_manage_accounts') }}";
}
function setSections()
{
	sectionsTotal = 0;
	{% for section in sections %}
	if ($("#uploadOption{{ loop.index }}").val() != "")
	sections[$("#uploadOption{{ loop.index }}").val()] = 1;	
	sectionsTotal++;
	{% endfor %}
}
function resetSections()
{
	{% for section in sections %}
	sections['{{ section.field }}'] = 0;
	{% endfor %}
}
function printSections()
{
	{% for section in sections %}
	alert(sections['{{ section.field }}']);
	{% endfor %}
}
function setOptions(id)
{
	var valuestring = "<option></option>";
	{% for section in sections %}
	if (sections['{{section.field}}'] == 0 )
	valuestring = valuestring + '<option value = "{{ section.field }}">{{ section.description }}</option>';
	if ($("#uploadOption" + id).val() == "{{ section.field }}")
	valuestring = valuestring + '<option value = "{{ section.field }}" selected>{{ section.description }}</option>';
	{% endfor %}
	$("#uploadOption" + id).html(valuestring);
}
$( "#upload-form" ).submit(function( event ) 
{
  event.preventDefault();
  var formData = new FormData($(this)[0]);  
  $.ajax({
  url:$(this).attr("action"),
  type: 'POST',
  data: formData,
  async: false,
  success: function (data) 
  {
   $('#uploadTable tbody').html(data);
   $("#step2").show();
   $("#step1").hide();

  },
    cache: false,
    contentType: false,
    processData: false
  });
});






</script>


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}