{% set title = "Risked Based Funds Upload" %}
{% set processPage = '_manage_plan_upload_riskbasedfundsupload_process' %}
{% set skipDuplication = true %}
{% extends ('ManageManageBundle:PlanUpload:base.html.twig') %}
