{% set reportName = "Irio Performance Report" %}
{% set defaultTab = "advisers" %}

{% block processReport %}
{% set planUrl = path('_manage_report_irioPerformance_getreport') %}
{% set ctaType = "irio" %}
{% include "ManageManageBundle:Reports:Common/performanceReportProcessReport.js.twig" %}
{% endblock %}
{% block javascript %}
<script>
{% include "ManageManageBundle:Reports:Common/javascript.html.twig" %}
</script>
{% endblock %}
{% extends "ManageManageBundle:Reports:template.html.twig" %}