<style>
    
    .nav .flex-next,
    .nav .flex-prev {
        height: 10vh;
        width: 10vh;
        position: fixed;
        left: 53%;
        bottom: auto; 
        background: url({{asset('/w/img/next.svg')}}) center right no-repeat;
        background-size: contain;
        text-indent: -9999px;
    }
    .nav .flex-next {
        transition: left 1s, bottom 1s; }
    .nav .flex-prev {
        left: calc(47% - 10vh);
        transform: scaleX(-1); }
    .nav.lonely .flex-next {
        left: 43%;
        bottom: 24vw; }
    .nav.lonely .flex-prev {
        display: none !important; }
    .nav.hidden {
        display: none !important; }
    
    .rothSliderContainer {
        padding: 6vw;
        height: 100%;
        width: 100vw;
        position: fixed;
        z-index: 20000;
        top:0;
    }
    
    .rothSliderContainer .flexslider {
        height:100%;
        background-color: #FFFFFF;
        text-align:center;
        color:#222222;
        padding:60px 20px;
        position:relative;
    }
    
    .rothSliderContainer .flexslider h1,.rothSliderContainer .flexslider h1 small {
        color:#0C8AE0;
        line-height:100%;
        margin-bottom:5vw;
        font-weight:bold;
        font-size:7vw;
        line-height:110%;
    }
    
    .rothSliderContainer .flexslider h1 small {
        font-size:smaller;
    }
    
    .rothSliderContainer .flexslider h2 {
        color:#28333A;
        font-size:5vw;
        font-weight:bold;
        margin-bottom:5vw;
        line-height:110%;
    }
    .rothSliderContainer .flexslider h5 {
        color:#28333A;
        margin-bottom:5vw;
        font-size:3.5vw;
        font-weight:bold;
        text-transform: none;
        line-height:110%;
    }
    .rothSliderContainer .flexslider p {
        font-size: 3.5vw;
        line-height: 6vw; 
        line-height:150%;
    }

    /* Control Nav */
    /*.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}  old */

    .flex-control-nav { 
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: 0; 
        padding: 0; 
        list-style: none;

        position: fixed;
        bottom: 5vh;
        left: 0;
    }
    .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
    .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #CCCCCC; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
    .flex-control-paging li a:hover { background: #CCCCCC; }
    .flex-control-paging li a.flex-active { background: #009EE6; cursor: default; }

    .rothSliderContainer .flexslider .nav {
        margin: 0; 
        padding: 0; 
        list-style: none;
        position: fixed;
        bottom: 9vh;
        width: 110%;
        height: 10vh;
        left: 0;
        z-index: 10;
    }
    .rothSliderContainer .flexslider .nav .flex-prev, .rothSliderContainer .flexslider .nav .flex-next {
        height: 10vh;
        width: 10vh;
        position: fixed;
        bottom: auto;
        background: url({{asset('/w/img/next-blue.svg')}}) center right no-repeat;
        background-size: contain;
        text-indent: -9999px;
    }
    .rothSliderContainer .flexslider .nav .flex-next {
        left: 53%;
    }
    .rothSliderContainer .flexslider .nav .flex-prev {
        left: calc(47% - 10vh);
        transform: scaleX(-1);
    }

    .close-blue {display:none;}
    .rothSliderContainer .close-blue {
        display:block;
        position: absolute;
        background: url({{asset('/w/img/close-mobile-blue.svg')}}) center right no-repeat;
        background-size: contain;
        color: #fff;
        cursor: pointer;
        z-index: 1000;
        top: 8vw;
        right: 8vw;
        height:6vw;
        width:6vw;
    }

    #ctaContent .confirmation {
        display:block;
    }

    #ctaContent button {
        display:block;
        width:50vw;
    }
</style>