.tooltip {
  div {
    font-family: $secondary-font;
    background: $secondary-dk;
    color: $primary-lt;
    font-size: 1.1vw;
    max-width: 20vw;
    padding: 1vw 1.55vw;
    border-radius: $radius;
    &:after {
      content: '';
      position: absolute;
      width: .15vw;
      height: .15vw;
      border: .5vw solid transparent;
      z-index: 11;
    }
  }
  &.top div:after {
    left: 50%;
    bottom: -1vw;
    margin-left: -.5vw;
  }
}
