{% for group in items %}
{% if loop.index > 1 %},{% endif %}
[
{% set checked = render(controller('ManageManageBundle:Groups:setGroupsForAccountChecked', {'group': request.table,'userid':request.userid,"id":group.id})) %}
{{ group.id }},
"{{ group.firstName }}",
"{{ group.lastName}}",
"{{ group.emailAddress}}",
"{{group.phoneNumber}}",
"<input type = \"checkbox\" {{checked }} id =\"groupcheckbox_{{group.id}}\" onclick =\"saveGroup('{{request.table}}','{{request.userid}}','{{group.id}}')\" />"
]
{% endfor %}
