<h3>Express Fork {% if locale == 'es' %}(Spanish){% endif %}</h3>
<div class="row">
    <div class="col-sm-6">
        <form role="form" id="fork-form" class="form-horizontal" method="post" action="">
            <input type="hidden" name="locale" id="locale" value="{{ locale }}">
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" data-tagname="title" name="localeContent[title]" id="title" value="{{ localeContent.title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="boxOneColor" class="col-sm-3 control-label">Box 1 Color</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" data-tagname="box_1_color" name="forkContent[boxOneColor]" id="boxOneColor" value="{{ forkContent.boxOneColor }}">
                </div>
                <label for="boxOneTitle" class="col-sm-1 control-label">Title</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" data-tagname="box_1_title" name="localeContent[box_1_title]" id="boxOneTitle" value="{{ localeContent.box_1_title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="boxOneDescription" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" data-tagname="box_1_description" name="localeContent[box_1_description]" id="boxOneDescription">{{ localeContent.box_1_description }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="boxTwoColor" class="col-sm-3 control-label">Box 2 Color</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" data-tagname="box_2_color" name="forkContent[boxTwoColor]" id="boxTwoColor" value="{{ forkContent.boxTwoColor }}">
                </div>
                <label for="boxTwoTitle" class="col-sm-1 control-label">Title</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" data-tagname="box_2_title" name="localeContent[box_2_title]" id="boxTwoTitle" value="{{ localeContent.box_2_title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="boxTwoDescription" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" data-tagname="box_2_description" name="localeContent[box_2_description]" id="boxTwoDescription">{{ localeContent.box_2_description }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="buttonOneColor" class="col-sm-5 control-label">Button 1 Color</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" data-tagname="button_1_color" name="forkContent[buttonOneColor]" id="buttonOneColor" value="{{ forkContent.buttonOneColor }}">
                </div>
            </div>
            <div class="form-group">
                <label for="buttonOneText" class="col-sm-5 control-label">Text</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" data-tagname="button_1_text" name="localeContent[button_1_text]" id="buttonOneText" value="{{ localeContent.button_1_text }}">
                </div>
            </div>
            <div class="form-group">
                <label for="buttonTwoColor" class="col-sm-5 control-label">Button 2 Color</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" data-tagname="button_2_color" name="forkContent[buttonTwoColor]" id="buttonTwoColor" value="{{ forkContent.buttonTwoColor }}">
                </div>
            </div>
            <div class="form-group">
                <label for="buttonTwoText" class="col-sm-5 control-label">Text</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" data-tagname="button_2_text" name="localeContent[button_2_text]" id="buttonTwoText" value="{{ localeContent.button_2_text }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="customHtml" class="control-label">HTML</label>
                    <textarea class="form-control" data-tagname="custom_html" name="forkContent[customHtml]" id="customHtml" rows="10">{{ forkContent.customHtml }}</textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <div style="overflow:hidden;">
            <iframe id="iframePreview" style="transform: scale(0.4); transform-origin: top left; width: calc(1/0.4 * 100%); height: 800px;" src="{{ path('shared_general_forkContent_preview', {mode:mode}) }}"></iframe>
        </div>
    </div>
</div>