<!DOCTYPE HTML>
<html>
    <head>
        <title>Smartplan Enterprise</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
        {{ encore_entry_link_tags('preview') }}
    </head>
    <body>
        <div id="preview"></div>
        {{ encore_entry_script_tags('preview') }}
    </body>
</html>