
<table class="table">
	<tr class="active">
		<td>
			Display Name
		</td>
	</tr>
	<tr>
		<td>
			{{ message.description }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button readonly type="button" class="btn btn-danger" onclick = "deletemessage({{ message.id }})">Delete</button>
		</td>
	</tr>
</table>