{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% if pagename == "Settings- Video Ads" %}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
{% endif %}

<div id = "videoad"></div>

<h3>Code</h3>

 

<div class="row" >
	<div class="col-md-1"> 
		<button type="button" class="btn btn-success" onclick = "showvad()">Preview</button>
	</div>
	<div class="col-md-11"> 
		<input type="text" class="form-control vad_readonly" value = "{{ vadsUrl }}" readonly id = "vadcode"  />
	</div>

</div>
   
 






    
 

{% block vadfrequency %}{% endblock %}


<div id = "preview" style = "display:none" value = "0">
  <iframe id = "iframeBody2"   src = "{{ asset('images/alpha.png') }}"  frameborder = "0"   iframeborder  = "0"  style ="position:fixed;bottom:0px;right:0px;background-color:transparent;z-index:1111;height:260px;" SCROLLING=NO > allowtransparency="true"></iframe>
</div>

{{ include('SharedvadsBundle:Default:javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}


