<form id ="addRiskProfileQuestion">
    {% for language in languages %}
    <h3>{{ language.description }}</h3>
    <input type ="text" class ="form-control" id ="question_{{ language.id}}"  placeholder ="Enter Content" required />
    <br/>
    <input type ="text" class ="form-control" id ="audiofile_{{language.id}}"   placeholder ="Enter Audiofile (Example 0501)" />
    <hr/>
    {% endfor %}
    Show Points? <input type ="checkbox" id ="question_showPoints" /><br/><br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>
<script>
$( "#addRiskProfileQuestion" ).submit(function( event )
{
    event.preventDefault(); 
    var questions = new Array();;
    {% for language in languages %}
    var question = new Object();
    question['question'] = $("#question_{{language.id}}").val();
    if ($("#audiofile_{{language.id}}").val() != "")
    {
        question['audio'] = $("#audiofile_{{language.id}}").val(); 
    }
    question['languageId'] = {{ language.id }};
    questions.push(question);
    {% endfor %}
    var params = new Object();
    params.id = {{ questionnaire.id }};
    params.showPoints = $("#question_showPoints").is(':checked');
    params.questions = questions;
    $.post("{{ path('_manage_risk_profile_creator_questionnaire_addQuestionSaved') }}", params).done(function(data) 
    {
        closeLightBox();
        reloadRiskProfileQuestions();
    });      
});        
</script>