Delete Question?
<br/><br/>
<button class ="btn btn-danger" onclick ="removeQuestion()">Remove</button>
<script>
 function removeQuestion()
 {
    $.post("{{ path('_manage_risk_profile_creator_questionnaire_deleteQuestionSaved') }}",{id: {{app.request.query.get("id")}} }).done(function(data) 
    {
        closeLightBox();
        reloadRiskProfileQuestions();
    });      
} 
</script>