<form id ="editRiskProfileQuestion">
    {% for language in languages %}
    {% set locale = locales[language.id] %}
    <h3>{{ language.description }}</h3>
    <input type ="text" class ="form-control" id ="question_{{ locale.id}}" value ="{{ locale.question }}"  placeholder ="Enter Content" required />
    <br/>
    <input type ="text" class ="form-control" id ="audiofile_{{locale.id}}" value ="{{ locale.audio }}"  placeholder ="Enter Audiofile (Example 0501)" />
    <hr/>
    {% endfor %}
    Show Points? <input type ="checkbox" id ="question_showPoints" {% if question.showPoints %}checked{%endif %} /><br/><br/>
    <button type ="submit" class ="btn btn-success">Save</button>
</form>
<script>
$( "#editRiskProfileQuestion" ).submit(function( event )
{
    event.preventDefault(); 
    var locales = new Array();;
    {% for locale in locales %}
    var locale = new Object();
    locale.id = {{ locale.id }};
    locale.question = $("#question_{{locale.id }}").val();
    if ($("#audiofile_{{locale.id }}").val() != "")
    {
        locale.audio = $("#audiofile_{{locale.id }}").val();
    }
    locales.push(locale);
    var question = new Object();
    question.id = {{ app.request.query.get("id") }};
    question.showPoints = $("#question_showPoints").is(':checked');
    {% endfor %}
    $.post("{{ path('_manage_risk_profile_creator_questionnaire_editQuestionSaved') }}", {locales:locales,question:question}).done(function(data) 
    {
        closeLightBox();
        reloadRiskProfileQuestions();
    });          
});        
</script>