{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Risk Profile Creator - ' ~ questionnaire.name})) }}
<a href ="{{ app.request.session.get("questionnaireUrl") }}">Return To Questionnaire list</a><br/><br/>
<button type ="button" class ="btn btn-info" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_questionnaire_addQuestion') }}?id={{ questionnaire.id }}','Add Question','large')" >Add New Question</button>
<h3>Current Questions</h3>
<div id ="currentRiskProfileQuestions">
    {{ include("ManageManageBundle:RiskProfileCreatorQuestionnaire:loadquestions.html.twig") }}        
</div>
<script>
function reloadRiskProfileQuestions()
{
    $.post("{{ path('_manage_risk_profile_creator_questionnaire_loadQuestions') }}", {id: {{ questionnaire.id }}}).done(function(html) 
    {
         $("#currentRiskProfileQuestions").html(html);
    }); 
}
function saveRiskProfileQuestionsOrder()
{
    var questions = $(".riskProfileQuestionListItem");
    var questionsIds = new Array();
    $.each( questions, function( key, element ) 
    {
        questionsIds.push(element.value);
    });
    
    $.post("{{ path('_manage_risk_profile_creator_questionnaire_saveQuestionOrder') }}", {ids: questionsIds}).done(function(html) 
    {
    }); 
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}