{% if questions | length > 0 %}
{% set divLength = (100/ (languages | length)) -20 %}
<ul class="list-group" style ="margin-bottom:0px">
    <li class="list-group-item" style ="border-bottom:0px">
        <div class="row">
            {% for language in languages %}
            <div class="col-md-4" style ="width:{{ divLength }}%">
                <div style ="font-size:larger">{{ language.description }}</div>
            </div>
            {% endfor %}
        </div>
    </li>
</ul>
<ul class="list-group" id ="riskProfileQuestionList" style ="cursor:grab">
    {% for question in questions %}
    <li class="list-group-item">
        <input type ="hidden" class ="riskProfileQuestionListItem" value ="{{ question.id }}" />
        <div class="row">
            {% for language in languages %}
            <div class="col-md-4" style ="width:{{ divLength }}%;word-wrap: break-word;">
                {% set locale = question.questionsLocale[language.id] %}
                <strong>Content:</strong><br/> {{ locale.question }}
                {% if locale.audio is not null %}
                <br/><strong>Audio</strong><br/>
                 {{ locale.audio }}
                {% endif %}
            </div>
            {% endfor %}
            <div class ="pull-right" style="margin-top:-7px;padding-right:5px">
                <button type ="button" class ="btn btn-primary" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_questionnaire_editQuestion') }}?id={{ question.id }}','Edit Question','large')">Edit</button>
                <button type ="button" class ="btn btn-primary" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_answer') }}?id={{ question.id }}','Manage Answers','large')">Manage Answers</button>
                <button type ="button" class ="btn btn-primary" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_answer_reorder') }}?id={{ question.id }}','Reorder Answers','large')">Reorder Answers</button>
                <button type ="button" class ="btn btn-danger" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_questionnaire_deleteQuestion') }}?id={{ question.id }}','Delete Question','large')">Delete</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<input type ="button" class ="btn btn-primary" onclick ="saveRiskProfileQuestionsOrder()" value ="Save Order" />
{% else %}
No Questions
{% endif %}
<script>
$( function() {
  $( "#riskProfileQuestionList" ).sortable();
  $( "#riskProfileQuestionList" ).disableSelection();
} );
</script>