{% set pagename = "Cities" %}
{% extends 'PlansPlansBundle:Analytics:template.html.twig' %}
{% block metricesSelectBox %}Metrics:    <select id="gaMetrics">
          <option value="ga:sessions" {% if gaMetrics == "sessions" %}selected{% endif %}>Sessions</option>
          <option value="ga:visits" {% if gaMetrics == "visits" %}selected{% endif %}>Visits</option>  
          <option value="ga:pageviews" {% if gaMetrics == "pageviews" %}selected{% endif %}>Page Views</option>               
        </select>{% endblock %}
{% block extrahtml %}
{% if not badPlan  %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
 google.load('visualization', '1', {'packages': ['geochart']});
 google.setOnLoadCallback(drawMarkersMap);

  function drawMarkersMap() {
  var data = new google.visualization.DataTable();

  data.addColumn('number', 'Lat'); // Latitude Value
  data.addColumn('number', 'Lon'); // Longitude Value
  data.addColumn('string', 'City'); // 
  data.addColumn('number', 'Value'); //       
  data.addRows([{{ dataArray | raw }}]);

  var options = {
    region: 'US',
    displayMode: 'markers',
    colorAxis: {colors: ['#7CB5EC', '1A5AA2']}
  };

  var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
  chart.draw(data, options);
};
</script>

    <div id="chart_div" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endif %}
{% endblock %}
