{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% if badPlan is not defined %}
{% set badPlan = false %}
{% endif %}
<div id="blank" style="min-height: 40px"></div>

<div id="date_div">
{% block metricesSelectBox %}{% endblock %}
<!-- Start Date Input Box -->
Start Date: <input type="text"  id="startdatepicker" value="{{ startDate }}">

<!-- End Date Input Box -->
&nbsp;&nbsp;&nbsp;&nbsp;End Date: <input type="text" id="enddatepicker" value="{{ endDate }}">

<!-- Apply Dates Button -->
&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="apply_date" class="btn btn-primary">Apply</button>
</div>

<!--  Chart Container -->
<div id="blank" style="min-height: 40px"></div>
{% if  badPlan  %}
<h4>There is no data for this plan</h4>
{% endif %}
<div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="blank" style="min-height: 40px"></div>

{% include('PlansPlansBundle:Analytics:javascript/index.js.twig') %}
{% block extrahtml %}{% endblock %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}