<!-- FOOTER CONTACT SECTION // COPYRIGHT -->

	<section id="contact" style="vertical-align: middle">

		<div class="row">
			<div class="col-lg-1 col-sm-6">
				<a href="https://www.vwise.com" rel="noopener noreferrer" target="_blank"><img src="https://vwise.com/wp-content/uploads/2016/10/vWiseLogoRGB_white.png" width="120"></a>
			</div>
			<div class="col-lg-11 col-sm-6  text-right">
				<span class="footer-copyright">© <script> document.write(new Date().getFullYear());</script> vWise, Inc. All Rights Reserved. </span>
				<span class="footer-icons"><a href="https://www.facebook.com/vwiseinc/" rel="noopener noreferrer" target="_blank"><i class="fa fa-facebook sr-contact"></i></a></span>
				<span class="footer-icons"><a href="https://twitter.com/vwiseinc?lang=en" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter sr-contact"></i></a></span>
				<span class="footer-icons"><a href="https://www.instagram.com/vwiseinc/" rel="noopener noreferrer" target="_blank"><i class="fa fa-instagram sr-contact"></i></a></span>
				<span class="footer-icons"><a href="https://www.linkedin.com/company/vwise-inc-" rel="noopener noreferrer" target="_blank"><i class="fa fa-linkedin sr-contact"></i></a></span>
			</div>
		</div>

	</section>

                        {{ include ('TemplatesTemplatesBundle:Default:messageModule.html.twig') }}
		

	<!-- jQuery -->
	<script src="{{ basepath }}js/jquery-2.1.3.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{{ asset('scrollreveal/scrollreveal.min.js') }}"></script>
	<script src="{{ asset('magnific-popup/jquery.magnific-popup.min.js') }}"></script>

	<!-- Theme JavaScript -->
	<script src="{{ asset('js/login/adminspelogin.min.js') }}"></script>

	<!-- Login -->
	<script src="{{ asset('js/login/customlogin.js') }}"></script>
        <script src="{{ asset('js/global.js') }}"></script>
</body>

</html>
