<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Please Login - SmartPlan Enterprise </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ basepath }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


    <!-- Plugin CSS -->
    <link href="{{ asset('magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ asset('css/adminspelogin.css') }}" rel="stylesheet">

    <!-- Login -->
    <link href="{{ asset('css/customlogin.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('vwiseassets/img/vwise/vwise_flavi.png') }}">
    <link rel="icon" href="{{ asset('vwiseassets/img/vwise/vwise_flavi.png') }}" type="image/x-icon">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<!-- NAVBAR/ RESPONSIVE -->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid padded10">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header align-middle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="https://vwise.com/" rel="noopener noreferrer" target="_blank"><img src="{{ asset('images/vwiselogo.png') }}" width="155" ></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="https://vwise.com/" rel="noopener noreferrer" target="_blank">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://vwise.com/vwiseteamabout/" rel="noopener noreferrer" target="_blank">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://vwise.com/vwisenews/" rel="noopener noreferrer" target="_blank">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://vwise.com/vwiseresources/" rel="noopener noreferrer" target="_blank">Resources</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://vwise.com/vwisecontactus/" rel="noopener noreferrer" target="_blank">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
