<!-- LOGIN BODY -->

    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <div class="login-form">
                    <div class="login-page">
                        <div class="form">
                            <form class="reset-form" id="requestPassword" method="POST">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <h1 id="homeHeading">Reset Password</h1>
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Email Address" id="username" name="username">
                                    <i class="fa fa-user"></i>
                                </div>
                                <span class="alert" id="emailAlert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email address does not exist</span>
                                <span class="alert" id="twentyFourAlert"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size: 20px;"></i> Password for this user has already been requested within the last 24 hours</span>
                                <span class="sent" id="emailSent"><i class="fa fa-check-circle-o" aria-hidden="true" style="font-size:21px;"></i> Email Sent!</span>
                                <span class="alert" id="lockedOutAlert"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:21px;"></i> <span id ="lockedOutMessage"></span></span>
                                <button>Reset</button>
                                <p class="message">Nevermind? <a href="#">Back to Login</a></p>
                            </form>
                            <form class="login-form" id="loginform" method="POST">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <h1 id="homeHeading">Please Login</h1>
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Email Address" id="username" name="_username">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="form-group log-status">
                                    <input type="password" class="form-control" placeholder="Password" id="password" name="_password">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <span class="alert" id ="loginAlert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span id ="loginErrorMessage"></span></span>
                                <button id ="loginButton">Log in</button>
                                <p class="message">Forgot password? <a href="#">Click Here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- end of Login body -->
