{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Ameritas FTP Credentials'})) }}

<hr />
<form id ="ftpForm">

    <div class="row">
        <div class="col-md-2">
            Host IP
        </div>
        <div class="col-md-10">
            <input type="text" min ="0" step = "1" class ="form-control" id = "ip" placeholder ="Enter IP" value ="{{ credentials.ip }}" />
        </div>
        <div class="col-md-2">
            Username
        </div>
        <div class="col-md-10">
            <input type="text" min ="0" step = "1" class ="form-control" id = "user" placeholder ="Enter Username" value ="{{ credentials.user }}" />
        </div>
        <div class="col-md-2">
            Password
        </div>
        <div class="col-md-10">
            <input type="text" min ="0" step = "1" class ="form-control" id = "pass" placeholder ="Enter Password" value ="{{ credentials.pass }}" />
        </div>
    </div>
    <br/><br/>
    <button class ="btn btn-primary" type ="submit">Save</button>
</form>

<script>
    $( "#ftpForm" ).submit(function( event )
    {
        event.preventDefault();
        $.post( "{{ path("_manage_ameritasftp_saved") }}",{ ip: $("#ip").val(), user: $("#user").val(), pass: $("#pass").val() }, function( data )
        {
            if (data === "success") {
                modalMessage("Saved Ameritas FTP Credentials");
            }
        });
    });
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}