{% if showMainTitle is defined and showMainTitle %}<div class="head-title">{{ 'anticipate_pension'| trans ({}, 'retirement_needs') }}</div>{% endif %}
<div class="title">{{ title }}</div>
<div class="details">$
    <input id="q3p" name="RN_EstimatedPensionIncome" type="text" value="{{ data.RN_EstimatedPensionIncome }}" size="15" class="currency">
    <p class="para">{{ 'estimated_pension_income_note_ESS'| trans ({}, 'retirement_needs') }}{% if pensionUrl != '' %}{{ 'estimated_pension_link_ESS' | trans ({}, 'retirement_needs') }} <a href="{{ app.session.get('retirement_needs').pensionEstimatorURL }}" target="_blank">{{ 'click_here' | trans ({}, 'retirement_needs') }}.</a>{% endif %}</p>
</div>
