{% if estimatedSocialSecurityIncomeReplace == "24,636" %}
{% set note = note | replace({"24,636" :  app.session.get('serverConfig').estimatedSocialSecurityIncomeMax | number_format}) %}
{% else %}
{% set note = note | replace({"31,000" :  app.session.get('serverConfig').estimatedSocialSecurityIncomeMax | number_format}) %}    
{% endif %}
{% set note = note  |  replace({'25' :  (app.session.get('retirement_needs').socialSecurityMultiplier * 100) }) %}
{% if showMainTitle is defined and showMainTitle %}<div class="head-title">{{ 'anticipate_social_security'| trans ({}, 'retirement_needs') }}</div>{% endif %}
<div class="title">{{ 'estimated_social_security_income' | trans ({}, 'retirement_needs') }}</div>
<div class="details">$
    <input id="q3" name="RN_EstimatedSocialSecurityIncome" type="text" value="{{ data.RN_EstimatedSocialSecurityIncome }}" size="15" class="currency">
    <p class="para">{{ note  }}{% if showCalc is defined and showCalc %}<a href="https://www.ssa.gov/oact/quickcalc/" target="_blank">https://www.ssa.gov/oact/quickcalc/{% endif %}</a></p>
</div>