<div class="title">{{ 'estimated_retirement_income'| trans ({}, 'retirement_needs') }}</div>
<div class="details">$
    <input id="q2" name="RN_EstimatedRetirementIncome" type="text" value="{{ data.RN_EstimatedRetirementIncome }}" size="15" class="currency">
    <p class="para">{{ 'estimated_retirement_income_note' | trans ({}, 'retirement_needs') | replace({'[REPLACEMENT_INCOME_PERCENT]': (app.session.get('retirement_needs').replacementIncomePercent is defined ? app.session.get('retirement_needs').replacementIncomePercent~'%' : '')}) }} </p>
</div>