{% set audioFile = beneficiary.audioFile %}
{% if beneficiary.showAudioFile %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% endif %}
<div class="beneficiary">
    <div class="head-title">{{ beneficiary.title }}</div>
    <div class="action-top actions">
        <a class="actionBtn right add-beneficiary">
            <span class="center action-button" onclick ="myProfileUi.beneficiaryAdd()">{{ 'add_beneficiary' | trans ({}, 'beneficiary') }}</span>
        </a>
    </div>
    <div class="details">
        {% if not  beneficiaryList is empty %}
        <div class="details table-wrapper">
            <div class="table-header">
                <div class="row">
                    {% for header in beneficiary.listHeader %}
                    <div class="col-xs-{{ header.length }}">{{ header.translation }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="table-body">
                {% for beneficiaryRow in beneficiaryList %}
                
                <div class="row">
                    {% for header in beneficiary.listHeader %}
                    {% if header.field == "name" %}
                    <div class="cols col-xs-{{ header.length}}" style="word-wrap: break-word;">{{ beneficiaryRow.firstName }} {{ beneficiaryRow.lastName}}</div>                       
                    {% endif %}
                    {% if header.field == "type" %}
                    <div class="cols col-xs-{{ header.length}}"> {{ beneficiaryRow.type | trans ({}, 'beneficiary') }} </div>
                    {% endif %}
                    {% if header.field == "relationship" %}
                    <div class="cols col-xs-{{ header.length}}">{{ beneficiaryRow.relationship | trans ({}, 'beneficiary') }}</div>
                    {% endif %}
                    {% if header.field == "percent" %}
                    <div class="cols col-xs-{{ header.length}}">{{ beneficiaryRow.percent }}%</div>
                    {% endif %}
                    {% if header.field == "actions" %}
                    <div class="cols col-xs-{{ header.length }}">
                        <div class="action">
                            <span style="margin-right:0" title="Edit" class="b-edit" onclick ="myProfileUi.beneficiaryEdit('{{ beneficiaryRow.id }}')">{{ "edit" | trans ({}, 'global') }}</span>
                            |
                            <span  title="Delete" class="b-delete" onclick ="myProfileUi.beneficiaryDelete('{{ beneficiaryRow.id }}')">{{ "delete" | trans ({}, 'global') }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if header.field == "dob" %}
                    <div class="cols col-xs-{{ header.length}}" style="word-wrap: break-word;">{{ beneficiaryRow.dob }}</div>
                    {% endif %}
                    {% if header.field == "spouse" %}
                    <div class="cols col-xs-{{ header.length}}">{% if beneficiaryRow.isSpouse %}{{ "yes" | trans ({}, 'global') }}{% else %}{{ "no" | trans ({}, 'global') }}{% endif %}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
         <div class="row">
             <div class="cols col-sm-12">
                {{ beneficiary.emptyListMessage }} 
             </div>
         </div>
        {% endif %}

    </div>
    <div class="clearfix"></div>

    <div class="instruction"></div>

    <div class="bottom-spacer"></div>

    <div class="actions">
        <a class="actionBtn right proceed">
            <span class="center action-button" id="beneficiaryProceed" onclick ="myProfileUi.beneficiaryProceed()">{{ 'proceed' | trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
{% include "SpeAppBundle:Template:myprofile/ui/index.js.twig" %}  
<script>
$('body').trigger('spe:disclosure:show', { title: 'beneficiary'});
myProfileUi.beneficiaryAdd = function()
{
    bootbox.confirm(
    {
        title: this.translations.beneficiary.add_beneficiary,
        message: this.ajaxPostValue("/myProfileBeneficiaryAdd"),
        size: this.data.beneficiary.modalSize,
        buttons: 
        {
            cancel: 
            {
                label: this.translations.global.cancel
            },
            confirm: 
            {
                label: this.translations.alert.ok
            }
        },
        callback: function(result)
        {
            if (result)
            {
                var addBene =  myProfileUi.addBeneficiary();
                if (addBene)               
                    $('body').trigger('spe:router:redirect','myProfile');               
                return addBene;
            }
        }
    });
};
myProfileUi.beneficiaryEdit = function(id)
{
    bootbox.confirm(
    {
        title: this.translations.beneficiary.add_beneficiary,
        message: this.ajaxPostValue("/myProfileBeneficiaryEdit",{id:id}),
        size: this.data.beneficiary.modalSize,
        buttons: 
        {
            cancel: 
            {
                label: this.translations.global.cancel
            },
            confirm: 
            {
                label: this.translations.alert.ok
            }
        },
        callback: function(result)
        {
            if (result)
            {
                var editBene =  myProfileUi.editBeneficiary();
                if (editBene)               
                    $('body').trigger('spe:router:redirect','myProfile');               
                return editBene;
            }
        }
    });
};
myProfileUi.beneficiaryDelete = function(id)
{
    var parent = this;
    bootbox.confirm(
    {
        title: this.translations.alert.confirm,
        message: this.translations.alert.are_you_sure,
        buttons: 
        {
            cancel: 
            {
                label: this.translations.global.cancel
            },
            confirm: 
            {
                label: this.translations.alert.ok
            }
        },
        callback: function(result)
        {
            if (result)
            {
                parent.ajaxPost("/myProfileBeneficiaryDelete",{id:id});
                $('body').trigger('spe:router:redirect','myProfile');
            }
        }
    });
};
myProfileUi.beneficiaryProceed = function()
{
    if (this.data.beneficiary.showPrimaryPercentError)
        errorMessage(this.translations.alert.primary_beneficiaries_percentages_must_equal_100);
    else if (this.data.beneficiary.showSecondaryPercentError)
        errorMessage(this.translations.alert.secondary_beneficiaries_percentages_must_equal_100);
    else if (!this.data.beneficiary.optional && jQuery.isEmptyObject(this.data.beneficiaryList))
        errorMessage(this.data.beneficiary.emptyBeneficiaryError);       
    else
        this.goToMyProfileReport();    
};
myProfileUi.init();
{% if beneficiary.autoShow %}
myProfileUi.beneficiaryAdd();
{% endif %}
</script>
