<div class="head-title">{{ 'your_investor_profile' | trans ({}, 'my_profile') }}</div>
    <div class="action-top actions">
        <a class="actionBtn right printProfile" onclick ="myProfileUi.printProfile()"><span class="center action-button">{{ 'print' | trans ({}, 'global') }}</span></a>
</div>
    <div class="details sendProfile">
    <p>{{ 'congratulations_on_completing_your_investor_profile' | trans ({}, 'my_profile') }}</p>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:5px;">{{ 'name' | trans ({}, 'my_profile') }}</div>
        <div class="col-sm-12"><input class="normal" type="text" id="name" value="{{ name }}"></div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12" style="margin-bottom:5px;">{{ 'email' | trans ({}, 'my_profile') }}</div>
        <div class="col-sm-12"><input class="normal" type="text" id="email" value="{{ email }}"></div>
    </div>

        </div>

<div class="bottom-spacer"></div>
<div class="actions">
    <a class="actionBtn right" id ="emailProfile" onclick ="myProfileUi.emailProceed()"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
</div>

<script>     
myProfileUi.printProfile = function()
{
    var w = 880,
        h = screen.height/1.5,
        l = (screen.width/2)-(w/2),
        t = (screen.height/2)-(h/2),
        url = window.location.origin+'/profile/report/'+this.data.profileId,
        win = window.open(url,'Investor_Profile','width='+ w +',height='+ h +',top='+ t +',left='+ l +',scrollbars=1, resizable=1,location=1');
    win.focus();

    setTimeout(function() {
        win.window.print();
    }, 5000);
    _gaq.push(['_trackEvent', 'Profile', 'Print' ]);
};
myProfileUi.emailProceed = function(email)
{
    if (!this.isEmail($("#email").val()))
        this.emailAlert(this.translations.alert.please_enter_email_address);

    else if(this.ajaxPost("/sendProfileEmail",{email:$("#email").val()}))
    {
        _gaq.push(['_trackEvent', 'Profile', 'Send Email']);
        this.data.rollover.enabled ? this.goToRollover() : this.goToThankYou();
    }
};

</script>