{% set audioFile = audio.investorProfile  %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<h1 class="head-title" role="heading" aria-level="1">{{ 'your_investor_profile' | trans ({}, 'my_profile') }}</h1>
<div id ="profileArea" style ="display:none">
    <div id ="profileContents">

    </div>
    {% if not viewOnly %}
    <div id="profileButtons">
        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right"> <span class="center action-button" id="profileSaveButton" onclick ="{% if ECOMMModal.show %}$('#emailTransactionModal').modal('show'){% else %}myProfileUi.goToTransact(){% endif %}">{{ 'save_finish' | trans ({}, 'global') }}</span> </a>
            <a style="margin-right:15px" class="actionBtn right" id="profileCancelButton" onclick ="myProfileUi.cancel()"> <span class="center action-button">{{ 'cancel' | trans ({}, 'global') }}</span> </a>
        </div>
    </div>
    {% endif %}
</div>
{% include "SpeAppBundle:Template:myprofile/ui/index.js.twig" %}        
<script>
myProfileUi.init();
myProfileUi.loadInvestorProfile();
$('body').trigger('spe:disclosure:hide');
$('body').trigger('spe:disclosure:show', { title: 'investorProfile'});
{% if showNoElectionsModal %}
$('#dontForgetModel1').modal('show');
{% endif %}
{% if showNoDeferralsModal %}
$('#dontForgetModel2').modal('show');
{% endif %}
</script>

<div class="modal fade" id="emailTransactionModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'simply_fill_out_fields_below_and_click_continue' | trans ({}, 'my_profile') }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">{{ 'email' | trans ({}, 'my_profile') }}</div>
                    <div class="col-sm-12"><input class="normal omniEmailTxt" type="email" id="email" value="{{ ECOMMModal.email }}" /></div>
                </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <label><input style="position:relative;top:2px;" type="checkbox" {% if ECOMMModal.checked %}checked{% endif %} id="e-delivered"> {{ 'statements_will_be_delivered_electronically' | trans ({}, 'my_profile') }}</label>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary continueToSaveProfile" onclick ="myProfileUi.ECOMMModalSubmit()">{{ 'continue' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
            
            <!-- Dont forget Modal 1 -->
<div class="modal fade" id="dontForgetModel1" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label>{{ 'dont_forget_model_title' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'dont_forget_model_body_1' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" data-dismiss="modal" aria-label="accept">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Dont forget Modal 2 -->
<div class="modal fade" id="dontForgetModel2" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label>{{ 'dont_forget_model_title' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'dont_forget_model_body_2' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" data-dismiss="modal" aria-label="accept">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>