<script>
var myProfileUi =   
{
    data: null,
    translations: null,
    transactions: null,
    ajaxPost: function(url,params)
    {
        var success =false;
        jQuery.ajax
        ({
            url:   url,
            data: params,
            method: "POST",
            success: function(result) 
            {
                success = true;
            },
            async: false
        });
        return success;        
    },
    ajaxPostValue: function(url,params)
    {
        var value =false;
        jQuery.ajax
        ({
            url:   url,
            data: params,
            method: "POST",
            success: function(result) 
            {
                value = result;
            },
            async: false
        });
        return value;        
    },
    loadInvestorProfile: function()
    {
        if (this.ajaxPost("/silentSaveProfile"))
        {
            $.get( "/profile/report/" + this.data.profileId +"?fromAdmin=1&ajax=1", function( data )
            {
              $( "#profileContents" ).html( data );
              $( "#profileArea" ).show();
              $("#container-main").find(".loader").hide();
            });
        }
    },
    cancel: function()
    {
        bootbox.confirm(
        {
            title: this.translations.alert.confirm,
            message: this.translations.alert.my_profile_cancel,
            buttons: {
                cancel: 
                {
                    label: this.translations.global.cancel
                },
                confirm: 
                {
                    label: this.translations.alert.ok
                }
            },
            callback: function(result)
            {
                if (result)
                {
                    $('body').trigger('spe:router:redirect','investments');
                    _gaq.push(['_trackEvent', 'Profile', 'Cancel']);
                }
            }
        });
    },
    cssFix: function()
    {
        if (!$(".content-area").hasClass("text"))
            !$(".content-area").addClass("text");//random weird ui bug        
    },
    init: function()
    {      
        this.cssFix();
        this.data = this.ajaxPostValue("/myProfile/data");
        this.translations = this.data.translations;
        this.transactions = this.data.transactions;

    },
    preflightCheck: function()
    {
        {% if moaDisclaimer is defined and moaDisclaimer == 'true' %}
        var dialog = bootbox.dialog({
            message: "{{ include('SpeAppBundle:Template:myprofile/ui/omnimoa/moapopup.html.twig') | raw | e('js') }}",
            size: 'large',
            closeButton: false
        });
        {% endif %}
    },
    goToTransact: function()
    {       
        this.cssFix();
        $('.content-area').html(this.ajaxPostValue("/myProfile/transact"));
        $('body').trigger('spe:disclosure:hide');
    },
    goToThankYou: function()
    {
        require(['spe/view/PlayerView'], function (playerView) 
        {
            var methods = 
            {
                thankYou: function()
                {
                    window.myProfileUi.thankYou();
                }
            };
            playerView.play([window.myProfileUi.translations.video.thankYou_0820],"video",methods.thankYou.bind(this));
        });        
    },
    thankYou: function()
    {
        this.cssFix();
        $('.content-area').html(this.ajaxPostValue("/myProfile/thankyou"));
    },
    goToRollover: function()
    {
        require(['spe/view/PlayerView'], function (playerView) 
        {
            var methods = 
            {
                rollover: function()
                {
                    window.myProfileUi.rollover();
                }
            };
            playerView.play([window.myProfileUi.translations.video.rollover_0810_SPe],"video",methods.rollover.bind(this));
        }); 
    },
    rollover: function()
    {
        this.cssFix();
        $('.content-area').html(this.ajaxPostValue("/myProfile/rollover"));        
    },
    goToMyProfileReport: function()
    {
        $('.content-area').html(this.ajaxPostValue("/myProfileReport"));
        this.preflightCheck();
    },
    emailAlert: function(message)
    {
        errorMessage(message);
    },
    isEmail: function(email)
    {
            var email_reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(!email_reg.test(email)){
                return false;
            }
            return true;
    },
    ECOMMModalSubmit: function()
    {
        var params = new Object();
        params.email = $("#emailTransactionModal").find("#email").val();
        params.edelivery = $("#emailTransactionModal").find("#e-delivered").is(":checked");
        this.ajaxPost("/myProfile/ECOMMModalSubmit",params);
        this.goToTransact();       
    },
    saveRolloverOption: function(params)
    {
        this.ajaxPost("/saveRolloverOption",params);
        this.goToThankYou();
    },
    rolloverCallUs: function()
    {
        this.saveRolloverOption({callUs: 1});
    },
    rolloverEmailMe: function()
    {       
        this.saveRolloverOption({emailMe: $("#emailMe").val()});
    },
    rolloverCallMe: function()
    {       
        this.saveRolloverOption({callMe: $("#callMe").val()});
    }
};        
</script>
