<div class="rolloverHeadTitle pad-bottom-10">
    {{ 'congratulations_on_completing_your_enrollment' | trans ({}, 'my_profile') }}<br>
    {{ 'there_is_just_one_more_thing' | trans ({}, 'my_profile') }}
</div>
<div class="title">{{ 'learn_about_your_rollover_options' | trans ({}, 'my_profile') }}</div>
<div class="row pad-bottom-10">
    <div class="col-sm-5">
        <div class="details">{{ 'discover_your_rollover_options' | trans ({}, 'my_profile') }}</div>
    </div>
</div>
<div class="details">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default" style="background-color:transparent">
                <div class="panel-body text-center">
                    <img src="/spe/images/global/phone_forwarded.png" alt="Call us" title="Call us" height="40" class="center-block">
                    <div class="title">{{ 'call_us' | trans ({}, 'my_profile') }}</div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="details rolloverDetails">{{ 'speak_with_a_retirement_consultant_now' | trans ({}, 'my_profile') }}</div>
                        </div>
                    </div>
                    <div class="rolloverInput">
                        <div class="rolloverPhoneNumber">{{ 'call_us_phone_number' | trans ({}, 'my_profile') }}</div>
                        <div class="rolloverNote">{{ 'call_us_toll_free' | trans ({}, 'my_profile') }}</div>
                    </div>
                    <button type="button" class="btn btn-default saveRolloverOption" aria-label="Select save rollover option" onclick ="myProfileUi.rolloverCallUs()">SELECT</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="background-color:transparent">
                <div class="panel-body text-center">
                    <img src="/spe/images/global/phone_incoming.png" alt="Call me" title="Call me" height="40" class="center-block">
                    <div class="title">{{ 'call_me' | trans ({}, 'my_profile') }}</div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_call' | trans ({}, 'my_profile') }}</div>
                        </div>
                    </div>
                    <div class="rolloverInput">
                        <input class="normal" type="text" id="callMe" value="" aria-label="Your phone number" placeholder="{{ 'your_phone_number' | trans ({}, 'my_profile') }}">
                        <div class="errorMessage rolloverNote"></div>
                    </div>
                    <button type="button" class="btn btn-default saveRolloverOption" href="#callMe" aria-label="Select call me" onclick ="myProfileUi.rolloverCallMe()">SELECT</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="background-color:transparent">
                <div class="panel-body text-center">
                    <img src="/spe/images/global/email.png" alt="Email me" title="Email me" height="40" class="center-block">
                    <div class="title">{{ 'email_me' | trans ({}, 'my_profile') }}</div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_email' | trans ({}, 'my_profile') }}</div>
                        </div>
                    </div>
                    <div class="rolloverInput">
                        <input class="normal" type="text" id="emailMe" aria-label="Your email" value="{{ email }}" placeholder="email@domain.com">
                        <div class="errorMessage rolloverNote"></div>
                    </div>
                    <button type="button" class="btn btn-default saveRolloverOption" href="#emailMe" aria-label="Select email me" onclick ="myProfileUi.rolloverEmailMe()">SELECT</button>
                </div>
            </div>
        </div>
    </div>
</div>