
<div class="head-title">{{ 'thank_you' | trans ({}, 'my_profile') }}</div>
<div class="details">
    <p>{{ 'thank_you_details' | trans ({}, 'my_profile') }}</p>
    <p>{{ 'you_should_receive_copy_of_your_investor_profile' | trans ({}, 'my_profile') }}</p>
</div>
<script>
$('body').trigger('spe:disclosure:show', { title: 'thankyou'});

{% if redirectUrl is not null %}
    setTimeout(function(){
        window.top.location.href = decodeURIComponent('{{ redirectUrl }}');
    }, 2000);
{% endif %}
</script>