<div class="col-sm-6">
    <div id="transactionWidget{{id }}" class="updateModule row">
        <div  class="loadIcon col-xs-3 wait" >
            <div  class="spin" style="display: block;"><img src="/images/spinner.gif" alt="updating"></div>
        </div>
        <div class="updateMessage col-xs-9" style ="display:none">
            <div class="updateTitle"></div>
            <div  class="messageFull" style="width:250px;word-wrap: break-word;"><span class="message"></span> <span class="confirmation"></span></div>
        </div>
        <div class="clear"></div>
    </div>
</div>