{% set audioFile =audio.investorProfileTransact  %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<div class="head-title">{{ 'saving_transactions' | trans ({}, 'my_profile') }}</div>
<div class="details profileUpdates" id ="profileUpdates" style="display:none">
    
</div>
<div class="actions">
        <a class="actionBtn right" onclick ="myProfileUi.confirmationCodesProceed()"> <span class="center action-button">Proceed</span></a>
</div>
<script>
myProfileUi.transact = function()
{
    if (this.data.lockNavigation)
        $("#mainNav").find('.highlight').not('#library').addClass('full-lock');
    this.ajaxPost("/saveMyProfile");
    var parent = this;
    var transactions = [];
    $.each(this.transactions, function(key,transaction ) 
    {  
        $("#profileUpdates").append(parent.ajaxPostValue("/myProfile/transact/segment",transaction));    
        var item = $("#transactionWidget" + transaction.id);
        item.find(".spin").hide();
        item.find(".updateMessage").show();
        item.find(".updateTitle").html(transaction.sectionTitle);
        $("#profileUpdates").show();
    });
    $.each(this.transactions, function(key,transaction ) 
    {            
        var item = $("#transactionWidget" + transaction.id);
        item.find(".loadIcon").addClass("update");
        item.find(".spin").show();
        var transactionResponse = parent.ajaxPostValue("/updateTransaction",{id:transaction.id});
        var transactionObject = JSON.parse(transactionResponse);
        transaction.success = transactionObject.success > 0;
        transaction.title = transaction.success ? transaction.sectionTitleSuccess:transaction.sectionTitleFail;
        transaction.message = transactionObject.message;
        transaction.confirmation = transactionObject.confirmation;             
        if (transaction.success)
            item.find(".loadIcon").addClass("confirm");
        else
            item.find(".loadIcon").addClass("error");
        item.find(".spin").hide();
        item.find(".updateMessage").show();
        item.find(".updateTitle").html(transaction.title);
        item.find(".message").html(transaction.message);
        item.find(".confirmation").html(transaction.confirmation);
        transactions.push(transaction);
    });
    EventTracking.myProfileSaveAndFinish(transactions);
};
myProfileUi.confirmationCodesProceed = function()
{    
    $('.content-area').html(this.ajaxPostValue("/myProfile/email"));
};
myProfileUi.transact();
</script>