<script>
function associate(planid,plantypecd)
{
  var riskType = $("#riskType").val();
  var	querystring = "planid=" + planid + "&plantypecd=" + plantypecd + "&riskType=" + riskType;
  
  if (connectionType.indexOf("SRT") == 0 && riskType == "RBP")
  var recordkeeperurl = "{{ path('_recordkeepers_srt_update_portfolios') }}";	

  else if (connectionType.indexOf("SRT") == 0 && riskType == "RBF")
  var recordkeeperurl = "{{ path('_recordkeepers_srt_update_riskBasedFunds') }}";

  else  if (connectionType == "Relius" && riskType == "RBP")
  var recordkeeperurl = "{{ path('recordkeepers_relius_update_portfolios') }}";	

  else  if (connectionType == "Relius" && riskType == "RBF")
  var recordkeeperurl = "{{ path('recordkeepers_relius_update_risk_based_funds') }}";

  else  if (connectionType == "ExpertPlan" && riskType == "RBP")
  var recordkeeperurl = "{{ path('_recordkeepers_expert_update_portfolios') }}";

  else
  {
    alert("This account does not support association");
    return;
  }

  var returnsite = "{{ path('_plans_associate') }}";

  $.post(recordkeeperurl, querystring).done(function(data) 
  {
      $("#associate-loading-icon").html("");
      window.location = returnsite;
  });
  $("#additionalContent").hide();
  $("#associate-loading-icon").html('<div class="alert alert-info" role="alert"><img src = "{{ asset('images/load-icon.gif') }}" />Please wait! While we load your investments </div>');
}
</script>