<script>
$(document).ready(function()
{
	$( "#savebutton" ).click(function() 
	{
		var querystring = "table=plansModules&findby=planid&planid={{ currentplan.id }}";
		var page = "{{ path('classesclass_update') }}";
		{% for investmentType in riskBasedInvestmentsOff %}
		if ($("#{{ investmentType.name }}").is(":checked"))
		querystring = querystring + "&{{ investmentType.name }}=1";
		else
		querystring = querystring + "&{{ investmentType.name }}=0";
		{%  endfor  %}
  		$.post(page, querystring).done(function(data) 
		{
  	      $('html, body').animate({ scrollTop: 0 }, 0);
  	      $('#saved-alert').show();
  	      setTimeout(function(){
  	      $('#saved-alert').slideUp();
  	      },3000);			
		});
	});
});
</script>