<script type="text/javascript">
    function sendGoogleAnalyticsRequest() {
        _gaq.push(['_setAccount', 'UA-29981405-32']);
        _gaq.push(['_setDomainName', 'auto']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_setCustomVar', 1, 'Userid', '{{ data.currentplan.userid }}', 1]);
        _gaq.push(['_setCustomVar', 2, 'Smartplanid', '{{ data.currentplan.id }}', 1]);
        _gaq.push(['_setCustomVar', 3, 'Uniqid', '{{ data.uniqid }}', 1]);
        _gaq.push(['_setCustomVar', 4, 'Host', '{{ app.request.host }}', 1]);
        _gaq.push(['_setCustomVar', 5, 'Type', '{{ googletype }}', 1]);
    }

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>