{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Video Landing Pages - Edit'})) }}
{% set previewlink =  path('_manage_videoLandingPage_preview',{"name": videoLandingPages.name})  ~"?id="  ~ videoLandingPages.id %}
{% set parentPage = path('_manage_videoLandingPage') %}
{% set parentDescription = "Return to Landing Pages" %}
{% set name = videoLandingPages.name %}
{% set html = videoLandingPages.html %}
{% include 'TemplatesTemplatesBundle:Default:codeform.html.twig' %}
<script>
$( document ).ready(function() 
{
    $( "#editPage" ).submit(function( event ) 
    {
        event.preventDefault();
        editLandingPageSaved({{ videoLandingPages.id }});
    });
});

function editLandingPageSaved(id)
{
    var querystring = $( "#editPage" ).serialize() + "&id=" + id;
    var page = "{{ path('_manage_videoLandingPage_edit_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplate();
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}