<form id ="riskProfileQuestionnaireAdd">
    <input type ="text" value ="" class ="form-control" placeholder ="Enter name" name ="name" required />
    <br/>
    {{ include("ManageManageBundle:RiskProfileCreator:hiddenformfields.html.twig") }}
    <button type ="submit" class ="btn btn-info">Add</button>
</form>
<script>
$( "#riskProfileQuestionnaireAdd" ).submit(function( event )
{
    event.preventDefault();  
    $.post("{{ path('_manage_risk_profile_creator_addquestionnaire_saved') }}", $(this).serialize()).done(function(data) 
    {
         closeLightBox();
         reloadCurrentQuestionnaires();
    });   
});       
</script>