<table class="table">
    <thead>
        <tr>
            <th style="width:1%">Selected</th>
            <th style="width:1%">Stadion</th>
            <th style="width:1%">SmartEnroll</th>
            <th style="width:1%">SmartExpress</th>
            <th></th>
        </tr>
    </thead>
    {% for questionnaire in questionnaires.Current %}
    {% set  RiskProfileQuestionnaire = questionnaire.RiskProfileQuestionnaire %}
    {% set link = questionnaire.Link %}
    <tr>
        <td>
            <input type ="radio" name ="riskProfileQuestionnaireId" required  value ="{{RiskProfileQuestionnaire.id}}" {% if link.selected %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="stadion"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.isStadion %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="smartenrollSelected"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.smartenrollSelected %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="smartexpressSelected"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.smartexpressSelected %}checked{% endif %}  /> 
        </td>
        <td>
            {{ RiskProfileQuestionnaire.name }}
            <div class ="pull-right">
                <button type ="button" class ="btn btn-primary" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_editQuestionnaire') }}?id={{  RiskProfileQuestionnaire.id }}','Edit Questionnaire','large')" >Edit</button> 
                <a href ="{{ path('_manage_risk_profile_creator_questionnaire_index') }}?id={{  RiskProfileQuestionnaire.id }}"><button type ="button" class ="btn btn-primary">Set Questions</button></a> 
                <a href ="{{ path('_manage_risk_profile_creator_setscoringxml') }}?id={{  RiskProfileQuestionnaire.id }}"><button type ="button" class ="btn btn-primary">Set Scoring Xml</button></a> 
                <button type ="button" class ="btn btn-danger" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_deleteQuestionnaire') }}?id={{  RiskProfileQuestionnaire.id }}','Delete Questionnaire','large')">Delete</button>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
