<form id ="riskProfileQuestionnaireDelete">
    <h3>Delete {{ questionnaire.name }}</h3>
    <input type ="hidden" name ="id" value ="{{ questionnaire.id }}" />
    <button type ="submit" class ="btn btn-danger" id ="riskProfileQuestionnaireDeleteSaveButton">Save</button>
    <div id = "riskProfileQuestionnaireDeleteLoader" style = "display:none"><img src = "{{ asset('images/load-icon.gif') }}" /><br/><br/></div>
</form>
<script>
$( "#riskProfileQuestionnaireDelete" ).submit(function( event )
{
    $("#riskProfileQuestionnaireDeleteSaveButton").hide();
    $("#riskProfileQuestionnaireDeleteLoader").show();
    event.preventDefault();  
    $.post("{{ path('_manage_risk_profile_creator_deleteQuestionnaireSaved') }}", $(this).serialize()).done(function(data) 
    {
         closeLightBox();
         reloadCurrentQuestionnaires();
         $("#riskProfileQuestionnaireDeleteSaveButton").show();
         $("#riskProfileQuestionnaireDeleteLoader").hide();
    });   
});       
</script>