<h3>{{ questionnaireTitle }}</h3>
<table class="table">
    <thead>
        <tr>
            <th style="width:1%">Selected</th>
            <th style="width:1%">Stadion</th>
            <th style="width:1%">SmartEnroll</th>
            <th style="width:1%">SmartExpress</th>
            <th></th>
        </tr>
    </thead>
    {% for questionnaire in questionnaires %}
    {% set  RiskProfileQuestionnaire = questionnaire.RiskProfileQuestionnaire %}
    {% set link = questionnaire.Link %}
    <tr>
        <td>
            <input type ="radio" name ="riskProfileQuestionnaireId" required  value ="{{RiskProfileQuestionnaire.id}}" {% if link.selected %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="stadion"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.isStadion %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="smartenrollSelected"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.smartenrollSelected %}checked{% endif %} /> 
        </td>
        <td>
            <input type ="radio" name ="smartexpressSelected"  value ="{{RiskProfileQuestionnaire.id}}" {% if link.smartexpressSelected %}checked{% endif %}  /> 
        </td>
        <td>
            {{ RiskProfileQuestionnaire.name }}
        </td>
    </tr>
    {% endfor %}
</table>