{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Risk Profile Creator'})) }}
<a href ="{{ app.request.session.get("questionnaireUrl") }}">Return To Questionnaire list</a><br/><br/>
<textarea id ="scoringXml">{{ questionnaire.scoringXml | raw }}</textarea>
<br/>
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{% set alertId = "validationFailed"  %}
{% set alertContent = "Validation Failed" %}
{% set glyphicon = "remove" %}
{% set alertType = "danger" %}    
<br/>
<strong>Custom Scoring Type</strong>
<select id ="customScoringType" class ="form-control">
    <option value ="">No Custom Scoring</option>
    {% for type in types %}
    <option value ={{ type.value }} {% if questionnaire.customScoringType == type.value %}selected{% endif %}>{{ type.description }}</option>
    {% endfor %}
</select>
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
<div style ="padding-top:5px">
    <button class ="btn btn-primary" onclick ="saveXml()">Save</button>
</div>

<script>
var editor = CodeMirror.fromTextArea($("#scoringXml")[0], 
{
   lineNumbers: true,
    mode: "xml",
    htmlMode: true,
    gutters: ["CodeMirror-lint-markers"],
    lint: true
});     
editor.setSize("100%","500px");
var widgets = [];

function saveXml()
{
    removeLineWidgets();   
    var xml = editor.getValue();    
    var page = "{{ path('_manage_risk_profile_creator_validatexml') }}";
    var i = 0;
    $.post(page, {xml:xml,id:{{questionnaire.id}},customScoringType:$("#customScoringType").val()}).done(function(data) 
    {
        if (!data.success)
        {
          showAlertForWithoutScrollUp('validationFailed'); 
          $.each(data.errors, function( index, error) 
          {
            var errorLine = error.line -2;
            if (errorLine < 0)
            {
                errorLine = 0;
            }
            $("#scoringErrors").append('<div id ="scoringErrors' + i + '" onclick ="removeLineWidgets()" style ="cursor:pointer;color:orange;font-weight:bold">' + error.message + '</div>');
            widgets.push(editor.addLineWidget(errorLine, $("#scoringErrors" + i)[0], {coverGutter: false, noHScroll: true}));
            i++;
          });           
        }
        else
        {
            showAlertForWithoutScrollUp('saved-alert'); 
        }
    });
}

function removeLineWidgets()
{
    for (var i = 0; i < widgets.length; ++i)
    {
        editor.removeLineWidget(widgets[i]);
    }
    widgets.length = 0;
    $("#scoringErrors").html("");
}
</script>    
<div id ="scoringErrors"></div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}