<form id ="riskProfileQuestionnaireEdit">
    <input type ="text" class ="form-control" placeholder ="Enter name" name ="name" required value ="{{ questionnaire.name}}" />
    <br/>
    <input type ="hidden" name ="id" value ="{{ questionnaire.id }}" />
    <button type ="submit" class ="btn btn-success">Save</button>
</form>
<script>
$( "#riskProfileQuestionnaireEdit" ).submit(function( event )
{
    event.preventDefault();  
    $.post("{{ path('_manage_risk_profile_creator_editQuestionnaireSaved') }}", $(this).serialize()).done(function(data) 
    {
         closeLightBox();
         reloadCurrentQuestionnaires();
    });   
});       
</script>
