{% if planid is defined %}
<input type ="hidden"  value ="{{ planid }}" name ="planid"  />
{% endif %}
{% if userid is defined %}
<input type ="hidden"  value ="{{ userid }}" name ="userid" />
{% endif %}
