{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Risk Profile Creator'})) }}
<form id ="riskProfileSelectQuestionnaire">
    <h2>Select Questionnaire </h2>
    {% if questionnaires.Default is not null %}
    {{ include("ManageManageBundle:RiskProfileCreator:displayparent.html.twig",{"questionnaireTitle": "Default Questionnaires","questionnaires":questionnaires.Default}) }}
    {% endif %}
    {% if questionnaires.Account is not null %}
    {{ include("ManageManageBundle:RiskProfileCreator:displayparent.html.twig",{"questionnaireTitle": "Account Questionnaires","questionnaires":questionnaires.Account}) }}
    {% endif %}
    <h3>Current Questionnaires</h3>
    <button type ="button" class ="btn btn-info" onclick ="ajaxModal('{{ path('_manage_risk_profile_creator_addquestionnaire') }}?{{urlParams}}','Add Questionnaire','large')" >Add New Risk Profile Questionnaire</button>
    <br/><br/>
    <div id ="currentQuestionnaires">
        {{ include("ManageManageBundle:RiskProfileCreator:currentquestionnaires.html.twig") }}    
    </div>
    {{ include("ManageManageBundle:RiskProfileCreator:hiddenformfields.html.twig") }}
    <button class ="btn btn-primary">Save</button>
</form>
<script>
$( "#riskProfileSelectQuestionnaire" ).submit(function( event )
{
    event.preventDefault();  
    $.post("{{ path('_manage_risk_profile_creator_saveSelected') }}", $(this).serialize()).done(function(data) 
    {
         modalMessage("Saved");
    });   
});
function reloadCurrentQuestionnaires()
{
    $.post("{{ path('_manage_risk_profile_creator_loadCurrentQuestionnaires') }}", "{{urlParams | raw}}").done(function(html) 
    {
         $("#currentQuestionnaires").html(html);
    }); 
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}