
{% for key in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ key.id }},
	"{{ key.name }}",
	"{{ key.value }}",
	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"ajaxModal('{{ path('_manage_LNCLNKeys_edit') }}?id={{ key.id }}','Edit Key')\"></span> "
]
{% endfor %}