<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
	<table class="table">
		<tr class="active">
			<td>
				Display Name
			</td>
			<td>
				Internal Name
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divDisplayName">
					<input value = "" placeholder = "Asset Allocation" id = "displayName" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divInternalName">
					<input value = "" placeholder = "assetAllocation" id = "internalName" class = "form-control"  />
				</div>

			</td>
		</tr>
		<tr class="active">
			<td>
				Directory
			</td>
			<td>
				Type
			</td>
		</tr>
		<tr>
			<td>
				<select class="form-control" id="directorySelect">
                    {% for directory in directories %}
						<option>{{ directory.directory }}</option>
                    {% endfor %}
				</select>
			</td>
			<td>
				<select class="form-control" id="typeSelect">
                    {% for t in type %}
						<option>{{ t.displayname }}</option>
                    {% endfor %}
				</select>
			</td>
		</tr>
		<tr class="active">
			<td colspan = "2">
				Video Name
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<div class="form-group" id="divVideoName">
					<input value = "" placeholder = "2501" id = "videoName" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr class="active">
			<td colspan = "2">
				Runtime
			</td>
		</tr>
		<tr>
			<td colspan = "2">
                            
				<div class="form-group" id="divVideoName">
					<input value = "" placeholder = "1:00" id = "runtime" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-info" onclick = "addvideo()">Add</button>
		</td>
		</tr>
	</table>