
<table class="table">
	<tr class="active">
		<td>
			Display Name
		</td>
	</tr>
	<tr>
		<td>
			{{ video.displayname }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deletevideo({{ video.id }})">Delete</button>
		</td>
	</tr>
</table>