
<table class="table">
	<tr class="active">
		<td>
			Thumbnail
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group" id="divThumbnail">
				<input value = "{{ video.thumbnail }}" placeholder = "ASSET_ALLOCATION.jpg" id = "thumbnail" class = "form-control"  />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "editthumbnail({{ video.id }})">Edit Thumbnail</button>
		</td>
	</tr>
</table>