<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
<table class="table">
	<tr class="active">
		<td>
			Display Name
		</td>
		<td>
			Internal Name
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group" id="divDisplayName">
				<input value = "{{ currentvideo.displayname }}" placeholder = "Asset Allocation" id = "displayName" class = "form-control"  />
			</div>
		</td>
		<td>
			<div class="form-group" id="divInternalName">
				<input value = "{{ currentvideo.name }}" placeholder = "assetAllocation" id = "internalName" class = "form-control"  />
			</div>
		</td>
	</tr>
	<tr class="active">
		<td>
			Directory
		</td>
		<td>
			Type
		</td>
	</tr>
	<tr>
		<td>
			<select class="form-control" id="directorySelect">
				{% for item in directories %}
					<option {% if item.directory == directory %} selected {% endif %}>{{ item.directory }}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<select class="form-control" id="typeSelect">
				{% for t in types %}
					<option {% if t.type == type %} selected {% endif %}>{{ t.displayname }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr class="active">
		<td colspan = "2">
			Video Name
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<div class="form-group" id="divVideoName">
				<input value = "{{ currentvideo.video }}" placeholder = "2501" id = "videoName" class = "form-control"  />
			</div>
		</td>
	</tr>
        <tr class="active">
                <td colspan = "2">
                        Runtime
                </td>
        </tr>
        <tr>
                <td colspan = "2">

                        <div class="form-group" id="divVideoName">
                                <input value = "{{ currentvideo.runtime }}" placeholder = "1:00" id = "runtime" class = "form-control"  />
                        </div>
                </td>
        </tr>
	<tr>
		<td colspan = "2">
		<button type="button" class="btn btn-success" onclick = "editvideo({{ currentvideo.id }})">Save</button>
		</td>
	</tr>
</table>