<div align="center" class="embed-responsive embed-responsive-16by9">
	<video controls autoplay>
		<source src="{{ mp4link }}" type="video/mp4">
		<source src="{{ webmlink }}" type="video/webm">
		Your browser does not support the video tag.
	</video>
</div>