{{ include('AccountAccountBundle:Default:javascript/fieldvalidation.js.twig')}}   
<script>
function adduser()
{
	var page = "{{ path('_account_check_creds') }}";
	var querystring = "email=" + $("#user_email").val();
        
        if (validationString() == "")
        {
            if ($("#userRole").val() == "")
            alert('Role Must be selected');
            else
            {
                    $.post(page, querystring).done(function(data) 
                    {
                            if (data == "0")
                            {
                                    if ($("#user_email").val() != "" && $("#user_password").val() != "")
                                    {
                                        var page = "{{ path('_account_user_addUser')}}";
                                        var querystring = serialize("useradd");
                                        $.post(page, querystring).done(function(data) 
                                        {
                                            if (data.errors.length == 0)
                                            {
                                                lastitemAdded = data.id;
                                                addTemplates();
                                            }
                                            else
                                            jsonResponseModal(data.errors,"alert");
                                        });
                                    }
                                    else
                                    alert('Email and password must not be blank')
                            }
                            else
                            {
                                    alert('email already exists');
                            }
                    });
            }
        }
        else
        alert(validationString());
}
function addTemplates()
{
	
	var page = "{{ path('_account_user_add_templates') }}";
	var querystring = "userid={{ parentid }}&clientid=" + lastitemAdded;
	$.post(page, querystring).done(function(data) 
	{
		accountsUsersId = lastitemAdded;
		addAdditionalRoles();
        redrawUsers();
	});
	
}

function changePrimaryRole(value)
{

	var splitString = value.split("|");
	$("#defaultRoleOption").hide();
	
	var id = splitString[0];
	var type = splitString[1];
	$("#roleid").val(id);
	$("#roleType").val(type);
	var counter  = 0;
	{% for role in roleList %}
	if (type == "{{ role.type }}")
	{
		$("#additionalRole{{ role.id }}{{ role.type }}Div").show();
		counter++;
	}
	else
	$("#additionalRole{{ role.id }}{{ role.type }}Div").hide();
	{% endfor %}
	$("#additionalRole" + id + type + "Div").hide();
	if (counter > 1)
	$("#additionalRolesList").show();
	else
	$("#additionalRolesList").hide();
}

</script>