<script>
function deleteUser()
{
	deleteform('accountsUsers','id','{{ clientid }}', '',deleteAdditionalRoles);
}
function deleteAdditionalRoles()
{
	deleteform('accountsUsersAdditionalRoles','accountsUsersId','{{ clientid }}', '',deleteAdviserData);
}
function deleteAdviserData()//deletes adviserPlans, outreach templates deny, outreach categories deny for advisers
{
	
	var page = "{{ path('_account_user_delete_adviser_data') }}";
	var querystring = "adviserid={{ clientid }}";

	$.post(page, querystring).done(function(data) 
	{
		redrawUsers();
	});

}
</script>