<script>
var accountsUsersId;

function addAdditionalRoles()
{
	var querystring = "ids=";
	var page = "{{ path('_account_user_addAdditionalRoles') }}";
	var counter  = 0;
	var roles = $("input[name=additionalRoles]");
	for (var i = 0; i < roles.length;i++)
	{	
		if (roles[i].checked)
		{
			if (counter > 0)
			querystring = querystring + ",";
			querystring = querystring +  roles[i].value;
			counter++;
		}
	}
	querystring = querystring + "&accountsUsersId=" + accountsUsersId;
	$.post(page, querystring).done(function(data) 
	{
        $('#ajaxModule').animate({ scrollTop: 0 }, 100);
        $('#saved-alert-inner').show();
        setTimeout(function() {
            $('#saved-alert-inner').slideUp();
        },3000);
	});

}

function redrawUsers()
{
    closeLightBox();
    accountsUsersTable.ajax.reload();
}
function updateRoleType(type)
{
	$("#roleType").val(type);
}
</script>

