<script>
$( "#contributionsForm" ).submit(function( event ) 
{
    event.preventDefault();
    saveContributions("start");
});
$( "#saveContribution" ).click(function() 
{
    $("#contributionsForm").submit();
}); 
$("input[name=contribution_type]").change(function() 
{
    var mode = $(this).val();
    var params;
    if (mode == "pctContribution")
    {
        params = contributionsData("dlrContribution");
    }
    else
    {
        params = contributionsData("pctContribution");
    }
    $.post( "/contributions/calculateData",params, function( data ) 
    {                
        $.each(data.deferrals, function( index, deferral ) 
        {
            var currentPercent = roundToNearestStep(deferral.currentPercent,deferral.percentStep);
            var currentDollar = roundToNearestStep(deferral.currentDollar,deferral.dollarStep);   
            if (currentPercent < deferral.minPercent)
            {
                currentPercent = ceilToNearestStep(deferral.minPercent,deferral.percentStep);
            }
            if (currentDollar < deferral.minDollar)
            {
                currentDollar = ceilToNearestStep(deferral.minDollar,deferral.dollarStep);               
            }           
            if (currentPercent > deferral.maxPercent)
            {
                currentPercent = floorToNearestStep(deferral.maxPercent,deferral.percentStep);
            }
            if (currentDollar > deferral.maxDollar)
            {
                currentDollar = floorToNearestStep(deferral.maxDollar,deferral.dollarStep);               
            }           
            $("#" + deferral.percentField).val(currentPercent);
            $("#" + deferral.dollarField).val(currentDollar);
            updateContributionData(data);
            $(".dlrContribution").hide();
            $(".pctContribution").hide();
            updateSlider(deferral.field,deferral.currentPercent);
            $("." + mode).show();   
            $(".aggCon").toggle();
        }); 
        inputChanged = true;
    });
});
$("#get_paid,#yearly_pay").change(function() 
{
    checkContributionInputs();
});
$("#yearly_pay").keyup(function() 
{
    checkContributionInputs();
});
{% for deferral in deferrals %}
$(".slider{{ deferral.field}}").slider
(
    {
        value: {{ deferral.currentPercent }},
        min:{{ deferral.minPercent}},
        max:{{ deferral.maxPercent}},
        slide: function(event, ui)
        {
            $("#{{ deferral.percentField}}").val(ui.value); 
            _gaq.push(['_trackEvent', 'Contributions', 'Value Changed', '{{ deferral.gaslider}}', ui.value]);
            inputChanged = true;
        },
        change: function(event, ui)
        {
        },
        stop: function(event, ui)
        {
        }
    }       
);
{% endfor %}
$(".contributionInput").keyup(function() 
{
    inputChanged = true;
});
$(".contributionInput").change(function() 
{
    inputChanged = true;
});
$(".percentInput").change(function() 
{
    if (parseFloat($(this).val()) < parseFloat($(this).attr("min")))
    {
        $(this).val($(this).attr("min"));
    }
    if (parseFloat($(this).val()) > parseFloat($(this).attr("max")))
    {
        $(this).val($(this).attr("max"));
    }
});
$(".deferralInput").keyup(function() 
{
    showAcaModal();
});
$(".deferralInput").change(function() 
{
    showAcaModal();
});
</script>