{% if common.flexPlan %}
$('body').trigger('spe:router:redirect', { to: 'investments', complete : 'contributions' });
{% else %}
$('body').trigger('spe:router:redirect', { to: 'myProfile', complete : 'contributions' });   
{% endif %}