<script>
function saveContributionsAjax()
{
    var saveData = new Object();
    saveData['request'] = JSON.stringify(contributionsData());
    $.post( "/contributions/save",saveData, function( data ) 
    {
        {% if  common.ACAon %}
        data['C_ACAoptOut'] = parseInt(data['C_ACAoptOut']);
        {% endif %}
        var contributions = data;
        SectionSetData("contributions",contributions);
        contributions = SectionGetData("contributions");
        if (IRSLimitExceeded)
        {
            errorMessage('{{ 'max_warning' | trans ({}, 'alert') | e("js") }}');
        }
        _gaq.push(['_trackEvent', 'Contributions', 'Save' ]);
        window.EventTracking.savedContributions(contributions);
        var autoIncrease = false;
        {% if common.autoIncrease.enabled == "true" and common.ACAon %}
        if (!data['C_ACAoptOut'])
        {
            autoIncrease = true;
        }
        {% endif %}
        {% if common.autoIncrease.enabled == "true" and not common.autoIncreaseDependentOnAutoEnroll %}
            autoIncrease = true;
        {% endif %}
        if (autoIncrease)
        {
            $.post( "/silentSaveProfile", function( data )
            {
                $.post( "/contributions/AutoIncrease", function( data )
                {
                    $('.content-area').html( data );
                });
            });            
        }
        if (!autoIncrease)
        {
            {{ include("SpeAppBundle:Template:contributions/finishcontributions.js.twig") }}
        }
    });     
}
function saveContributions(section)
{
    if (section == "catchup")
    {
        _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'Catchup  - Proceed']);
        catchup = true;
    }
    var skip = new Object();
    var sections = ['catchup','aca','matching'];
    var found = false;
    $.each( sections, function( key, value ) 
    {
        if (section == value || found)
        {
            skip[value] = true;
            found = true;
        }
    });
    var error = false;
    var saveData = contributionsData();
    $.post( "/contributions/calculateData",saveData, function( data ) 
    {
        IRSLimitExceeded = data.IRSLimitExceeded;
        $.each(data.deferrals, function( index, deferral ) 
        {
            if ($('[name=contribution_type]:checked').val() == "dlrContribution" && (deferral.currentDollar < deferral.minDollar || deferral.currentDollar > deferral.maxDollar) && deferralOption(deferral.field))
            {
                $("#contributionMinMaxDollarErrorMin").text(deferral.minDollar);
                $("#contributionMinMaxDollarErrorMax").text(deferral.maxDollar);
                errorMessage($("#contributionMinMaxDollarErrorHtml").text());
                error = true;
                return false;
            }
            if ($('[name=contribution_type]:checked').val() == "pctContribution" && (deferral.currentPercent < deferral.minPercent || deferral.currentPercent > deferral.maxPercent) && deferralOption(deferral.field))
            {
                $("#contributionMinMaxPercentErrorMin").text(deferral.minPercent);
                $("#contributionMinMaxPercentErrorMax").text(deferral.maxPercent);
                errorMessage($("#contributionMinMaxPercentErrorHtml").text());
                error = true;
                return false;
            }
        });
        if (!error && (data.totalContributionPercent > {{ maxDeferral }} || data.totalContributionPercent < {{ minDeferral }}) && saveData.transDeferralCount)
        {
            if (data.mode == "percent")
            {
                errorMessage('{{ 'please_enter_valid_percentage' | trans ({}, 'alert') | e("js") }} {{ 'aggregate_min' | trans ({}, 'alert') | e("js") }}: {{ minDeferral }}% {{ 'aggregate_max' | trans ({}, 'alert') | e("js") }}: {{ maxDeferral }}%');
            }
            else
            {
                errorMessage('{{ 'please_enter_valid_percentage' | trans ({}, 'alert') | e("js") }} {{ 'aggregate_min' | trans ({}, 'alert') | e("js") }}: $' + data.minDeferralDollarDisplay + '  {{ 'aggregate_max' | trans ({}, 'alert') | e("js") }}: $' + data.maxDeferralDollarDisplay);
            }
            error = true;
        }
        {% if common.showMatchDescriptions  %}
        if (!error && (data.totalContributionPercent < {{maxMatch.percent }} && data.matchingAmountMonthly <  data.maxMatch.monthly) && !("matching" in skip) )
        {
            bootbox.confirm(
            {
                title: "{{ 'maximize_your_savings' | trans ({}, 'contributions') | e("js") }}",
                message: "{{ 'maximize_saving_body_1' | trans ({}, 'contributions') | e("js") }} {{ maxMatch.percent }}{{ 'maximize_saving_body_2' | trans ({}, 'contributions') | e("js") }}" + data.maxMatch.monthlyDisplay + " {{ 'maximize_saving_body_3' | trans ({}, 'contributions') | e("js") }}",
                buttons: {
                    confirm: {
                        label: '{{ 'no_thanks' | trans ({}, 'contributions') | e("js") }}',
                        className: 'btn-default'
                    },
                    cancel: {
                        label: '{{ 'maximize_my_savings' | trans ({}, 'contributions') | e("js") }}',
                        className: 'btn-primary'
                    }
                },
                callback: function (result) 
                {
                   if (result)
                   {
                       saveContributions("matching");
                   }
                }
            });
            error = true;
        }
        {% endif %}
        {% if  common.ACAon %}
        if (!error && acaConfirmed && !("aca" in skip))
        {
            $("#cArrangementModal").modal("show");
            error = true;
        }
        {% endif %}
        if (!error && !saveData.transDeferralCount)
        {            
            errorMessage("{{ 'check_one_contribution' | trans ({}, 'alert') | e("js") }}");
            error = true;
        }
        {% if catchupChange %}
        if (!error && !("catchup" in skip))
        {
            $("#paycheckAmountModal").modal("show");
            error = true;
        }
        {% endif %}
        if (!error)
        {
            saveContributionsAjax();
        }       
    });
}
function deferralOption(field)
{
   return (!$("#" + field + "Option").length || $("#" + field + "Option").is(":checked"))
}
function contributionsData(contributionType)
{
    var contributionsData = new Object();
    var saveData = new Object();
    if (contributionType == null)
    {
        contributionType = $('[name=contribution_type]:checked').val();
        contributionsData['blockPercents'] = false;
    }
    else
    {
        contributionsData['blockPercents'] = true;
    }
    contributionsData['transDeferralCount'] = 0;
    if (contributionType == "pctContribution")
    {
        saveData["contribution_mode"] =  "DEFERPCT";
        {% for deferral in deferrals %}
        saveData["{{ deferral.percentField }}"] = null;            
        if (deferralOption("{{deferral.field}}"))
        {
            saveData["{{ deferral.percentField }}"]  = $("#{{ deferral.percentField }}").val();    
            contributionsData['transDeferralCount']++;
        }
        {% endfor %}
    }
    else
    {
        saveData["contribution_mode"] =  "DEFERDLR";
        {% for deferral in deferrals %}
        saveData["{{ deferral.percentField }}"] = null;            
        if (deferralOption("{{deferral.field}}"))
        {
            saveData["{{ deferral.dollarField }}"]  = $("#{{ deferral.dollarField }}").val();   
            contributionsData['transDeferralCount']++;
        }
        {% endfor %}
    }    
    saveData['C_GetPaid'] = $("#get_paid").val();
    saveData['C_MonthlyContributionTotal'] = $("#estimatedMonthlyContribution").html();
    {% if  common.ACAon %}
    saveData['C_ACAoptOut'] = ACAoptOut;
    {% endif %}
    saveData['C_MonthlyContributionTotalEmployer'] = $("#total_value_display_matching").html();
    if (catchup)
    {
        saveData['catchup_mode'] = $("[name=catchupMode]:checked").val();
        saveData['C_CatchUpContributionValue'] = $(".catchupValue").val();
        saveData['updateCatchUp'] = 1;
    }
    contributionsData['saveData'] = saveData;
    contributionsData['currentYearlyIncome'] = $("#yearly_pay").val();
    return contributionsData;
}
function checkContributionInputs()
{
    if ($("#yearly_pay").val() != 0 && $("#get_paid").val() != "")
    {
        $("#contributionsAmounts").show();
        $("#saveContribution").show();
    }
    else
    {
        $("#contributionsAmounts").hide();
        $("#saveContribution").hide();

    }
    if ($("#yearly_pay").val() != 0)
    {
        $("#contributionYearlyIncomeError").hide();
    }
    else
    {
        $("#contributionYearlyIncomeError").show();
    }
}
function updateSlider(id,value)
{
    if ($.isNumeric(value))
    {
        $(".slider" + id).slider({value:value});
    }
}
function calculateData()
{
    var timeout = 500;
    if ($("#contributionHiddenValue").length > 0)
    {
        if (inputChanged)
        {
            inputChanged = false;
            $.post( "/contributions/calculateData",contributionsData(), function( data ) 
            {
                updateContributionData(data);
                animateGraph(data.graphHeight,data.graphHeight2,data.graphHeightYou,data.graphHeightEmployer);
                setTimeout(calculateData,timeout);
            }); 
        }
        else
        {
            setTimeout(calculateData,timeout);
        }
    }
}
function animateGraph(height,height2,heightYou,heightEmployer)
{
    if ($('#total_bar').height() !=  Math.round(height))
    {
        $('#total_bar').animate({height: height + 'px'}, 500);
    }
    $('#target_bar').animate({height: height2 + 'px'}, 500);
    if ($('.savings_amt').height() != Math.round(heightYou))
    {
        $('.savings_amt').animate({height: heightYou + 'px'}, 500);
    }
    if ($('.match_amt').height() != Math.round(heightEmployer))
    {
        $('.match_amt').animate({height: heightEmployer + 'px'}, 500);
    }
}
function updateContributionData(data)
{
    $("#projectedSavings").html(data.totalSavingsDisplay);
    $(".match_amt_display").html(data.matchingAmountDisplay);
    $(".savings_amt_display").html(data.projectedSavingsDisplay);
    $("#estimatedMonthlyContribution").html(data.estimatedMonthlyContributionDisplay);
    $("#total_value_display_matching").html(data.matchingAmountMonthlyDisplay);
}
function roundToNearestStep (num, step) 
{
    return Math.round(num *(1/step))/(1/step);
}
function ceilToNearestStep(num,step)
{
    return Math.ceil(num *(1/step))/(1/step);
}
function floorToNearestStep(num,step)
{
    return Math.floor(num *(1/step))/(1/step);
}
function acaProceed()
{
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA - Proceed']);
    $('.modal').modal('hide');
}
function setMinDeferralValues()
{
    {% for deferral in deferrals %}
    $("#{{ deferral.percentField}}").val("{{ deferral.minPercent | e("js")}}");  
    $("#{{ deferral.dollarField}}").val("{{ deferral.minDollar | e("js")}}");   
    updateSlider("{{deferral.field}}","{{ deferral.minPercent | e("js")}}")
    {% endfor %}
    inputChanged = true;
}
function acaOptOut()
{
    ACAoptOut = 1;
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA - Opt Out']);
    $('.modal').modal('hide');
}
function acaOptOutSave()
{
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA - Opt Out']);
    acaOptOut();
    saveContributions("aca");
}
function acaBack()
{
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA - Go Back']);
    $('body').trigger('spe:router:reload');
}
function acaCancel()
{
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA Opt Out - Cancel']);
    $('body').trigger('spe:router:reload');    
}
function showAcaModal()
{
    {% if  common.ACAon %}
    if (!acaConfirmed)
    {
        $('#acaMessage').modal('show');
    }
    {% endif %}
}
function acaConfirm()
{
    acaConfirmed = true;
    $('.modal').modal('hide');
    $(".ACAoptOutNotice").show();
     _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'ACA Opt Out - Confirm']);
}
function noDeferralAccept()
{
    $('#contributionWarning').modal('hide');
}
function catchupCancel()
{
    _gaq.push(['_trackEvent', 'Contributions', 'Popup', 'Catchup  - Cancel']);
}        
</script>