<div class="graph-bar" style="height:auto">
   <div style="height:100%">
      <table class="bar-chart">
         <tbody>
            <tr>
               <td style="vertical-align: bottom;height:177px;padding-right:5px;width:50%;">
                  <div class="total_amt">$<span id ="projectedSavings">{{ totalSavingsDisplay}}</span></div>
                  <div id="total_bar" style="height:0px">
                      <div {% if not common.showMatchDescriptions  %}style ="display:none"{% endif %}>
                        <div class="match">
                          <table>
                             <tbody>
                                <tr>
                                    <td><span class ="match_amt">{{ 'employer' | trans ({}, 'contributions') }} $<span class="match_amt_display">{{ matchingAmountDisplay }}</span></span></td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                       <div class="savings">
                          <table>
                             <tbody>
                                <tr>
                                    <td><span class="savings_amt">{{ 'you' | trans ({}, 'contributions') }} $<span class="savings_amt_display">{{ projectedSavingsDisplay }}</span></span></td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                      </div>
                  </div>
               </td>
               <td style="vertical-align: bottom;height:177px;padding-left:5px;width:50%;">
                  <div class="target_amt">${{ targetSavings | number_format}}</div>
                  <div id="target_bar" style="height: 0px;"></div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="name">{{ 'projected_savings' | trans ({}, 'contributions') }}</div>
               </td>
               <td>
                  <div class="name">{{ 'target_savings' | trans ({}, 'contributions') }}</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
