<form id ="contributionsForm">
    <div id="contributions-main">
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
       <div class="details contribution row">
          <div class="col-md-6">
             <div class="title">{{ 'contributions_selector' | trans ({}, 'contributions') }}</div>
             <div class="desc">{{ 'contributions_selector_desc_1' | trans ({}, 'contributions') }} ${{ limit402 | number_format }} {{ 'contributions_selector_desc_2' | trans ({}, 'contributions') }} ${{ limit402Monthly | number_format }} {{ 'contributions_selector_desc_3' | trans ({}, 'contributions') }}</div>
             <table class="selector">
                <tbody>
                   <tr>
                      <td class="text left-cell">{{ 'current_yearly_income' | trans ({}, 'contributions') }}</td>
                      <td class="value right-cell"> $<input id="yearly_pay" value="{{currentYearlyIncome}}" type="text" class ="contributionInput"></td>
                   </tr>
                   <tr>
                      <td class="text">{{ 'how_ofter_do_you_get_paid' | trans ({}, 'contributions') }}</td>
                      <td class="value">
                         <select id="get_paid" name="get_paid" class ="contributionInput">
                            <option value="">{{ 'please_choose' | trans ({}, 'contributions') }}</option>
                            {% for frequency in payFrequency %}
                            <option value="{{ frequency.value }}" {% if frequency.selected %}selected {% endif %}>{{ frequency.key | trans ({}, 'contributions') }}</option>    
                            {% endfor %}
                         </select>
                      </td>
                   </tr>
                   <tr>
                      <td colspan="2">
                         <div class="divider"></div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text">{{ 'target_monthly_contribution' | trans ({}, 'contributions') }}</td>
                      <td class="value">${{ targetMonthlyContribution | number_format }}</td>
                   </tr>
                   <tr>
                      <td class="text">{{ 'your_estimated_monthly_contribution' | trans ({}, 'contributions') }}</td>
                      <td class="value"><span id="total_value_display">$<span id ="estimatedMonthlyContribution">{{ estimatedMonthlyContributionDisplay }}</span></span></td>
                   </tr>
                   {% if common.showMatchDescriptions  %}
                   <tr>
                      <td class="text">{{ 'your_employer_estimated_monthly_contribution' | trans ({}, 'contributions') }}
                         <img class="hint" title="{{ 'employer_matching_your_employer_matches' | trans ({}, 'alert') }} {{ common.matchPercent }}% {{ 'of_your_contributions_up_to' | trans ({}, 'alert') }} {{ common.matchCap }}% {{ 'of_your_salary' | trans ({}, 'alert') }}." alt="" src="../images/hint.png"> : </td>
                      <td class="value"><br>$<span id="total_value_display_matching">{{ matchingAmountMonthlyDisplay}}</span></td>
                   </tr>
                   <tr>
                   {% endif %}
                      <td colspan="2">
                         <div class="alert" style ="display:none" id="contributionYearlyIncomeError">{{ 'please_fill_out_current_yearly_income_field' | trans ({}, 'alert') }}</div>
                      </td>
                   </tr>
                   <tr>
                      <td colspan="2">
                         <div class="divider"></div>
                      </td>
                   </tr>
                </tbody>
             </table>
             <div class="clearfix"></div>
             <div class="contribution_amt" id="contributionsAmounts" style ="display:none">
                <div class="name">
                   <span class="label">{{ 'contribution_amounts' | trans ({}, 'contributions') }}</span>
                   <span id="total_value_display" class="answer">
                   {% if common.mode == "dlr" or common.mode == "option" %}$ <input id="contribution_type_dlr" name="contribution_type" type="radio" value ="dlrContribution" {% if mode == "dollar" %}checked{% endif %}>{% endif %}
                   {% if common.mode == "pct" or common.mode == "option" %}% <input id="contribution_type_pct" name="contribution_type" value ="pctContribution"  type="radio" {% if mode ==  "percent"  %}checked{% endif %}>{% endif %}
                   </span>
                    {# update condition to non data_source if more than one recordkeeper, probably will remove conditional entirely #}
                    {% if common.data_source == "dst" %}
                    <div class="aggCon answer" style="margin-right:20px;{% if common.mode == "dlr" %}display:none{%endif %}"><span>{{ 'min' | trans ({}, 'contributions') }} {{ minDeferral }}%</span>&nbsp; &nbsp;<span>{{ 'max' | trans ({}, 'contributions') }} {{ maxDeferral}}%</span></div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                {% for deferral in deferrals %}
                {% set deferralCurrentDollar  = deferral.currentDollar %}
                {% if mode != "dollar" %}
                {% set deferralCurrentDollar = 0 %}
                {% endif %}
                <div class="tax">
                   {{ include("SpeAppBundle:Template:contributions/sliderdescription.html.twig",{sliderdescription:deferral.description,slidercheckboxid:deferral.field}) }}
                   <div class="cont_dlr dlrContribution"style ="display:none">$ <input  step="{{ deferral.dollarStep}}" id ="{{ deferral.dollarField }}" value ="{{ deferralCurrentDollar }}"  type="number" class ="contributionInput deferralInput"></div>
                   <!-- contributions slider -->
                   <div class="cont_pct pctContribution" style ="display:none">
                      <div class="note" style="visibility: visible"><span>{{ 'min' | trans ({}, 'contributions') }} {{ deferral.minPercent}}%</span><span>{{ 'max' | trans ({}, 'contributions') }} {{deferral.maxPercent}}%</span></div>
                      <div class="slide_container">
                         <div class="slider_box">
                            <div id="slider1" class="slider-element ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider{{deferral.field}}"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
                         </div>
                      </div>
                      <div class="pctValue"><input step="{{ deferral.percentStep }}" id="{{ deferral.percentField }}"  min="{{ deferral.minPercent }}" class="allowed contributionInput percentInput deferralInput" max="{{ deferral.maxPercent}}"  value="{{ deferral.currentPercent }}"   type="number" onkeyup="updateSlider('{{ deferral.field}}',this.value)" onchange="updateSlider('{{ deferral.field}}',this.value)"> %</div>
                   </div>
                   <!-- End contributions slider -->
                </div>
                <div class="clearfix"></div>
                {% endfor %}
             </div>
             <div class="clearfix"></div>
          </div>
          <div class="col-md-6">
             <div class="title">{{ 'will_you_have_enough_at_retirement' | trans ({}, 'contributions') }}</div>
                {{ include("SpeAppBundle:Template:contributions/graphbar.html.twig") }}
             <div class="desc">{{ 'contributions_desc' | trans ({}, 'contributions') }}</div>
             <div class="ACAoptOutNotice" style="display: none;">{{ 'default_arrangement_opt_out_required' | trans ({}, 'contributions') }}</div>
          </div>
          <div class="clearfix"></div>
       </div>
       <div class="bottom-spacer"></div>
       <div class="actions">
          <a id="saveContribution" class="actionBtn right" style="display:none"><span class="center action-button">{{ 'save' | trans ({}, 'contributions') }}</span></a>
          <div class="clearfix"></div>
       </div>
    </div>

</form>
<input type ="hidden" id ="contributionHiddenValue" />
<span style ="display:none" id ="contributionMinMaxDollarErrorHtml">
    {{ 'please_enter_valid_dollar_amount' | trans ({}, 'alert') }} {{ 'min' | trans ({}, 'contributions') }} $<span id ="contributionMinMaxDollarErrorMin"></span> {{ 'max' | trans ({}, 'contributions') }} $<span id ="contributionMinMaxDollarErrorMax"></span> 
</span>
<span style ="display:none" id ="contributionMinMaxPercentErrorHtml">
    {{ 'please_enter_valid_percentage' | trans ({}, 'alert') }} {{ 'min' | trans ({}, 'contributions') }} <span id ="contributionMinMaxPercentErrorMin"></span>% {{ 'max' | trans ({}, 'contributions') }} <span id ="contributionMinMaxPercentErrorMax"></span>%
</span>
{{ include("SpeAppBundle:Template:contributions/modals.html.twig") }}
{{ include("SpeAppBundle:Template:contributions/index.js.twig") }}