<script>
var inputChanged = false;
var IRSLimitExceeded = false;
var catchup = false;
$("#yearly_pay").autoNumeric('init',{lZero: 'deny', mDec: 0, aPad: false, vMin: 0});
checkContributionInputs();
calculateData();
animateGraph({{ graphHeight }},{{ graphHeight2 }},{{  graphHeightYou }},{{  graphHeightEmployer }});
$("." + $('[name=contribution_type]:checked').val()).show();
{% if  common.ACAon %}
var ACAoptOut = 0;
var acaLightBoxShown = true;
var acaConfirmed = 0;
$('#contributionNotice').modal('show');
{% endif %}
{% if not common.planAllowsDeferrals %}
$('#contributionWarning').modal('show');
_gaq.push(['_trackEvent', 'Contributions', 'Popup - Plan does not allow contribution']);
{% endif %}
$('body').trigger('spe:disclosure:hide');
$('body').trigger('spe:disclosure:show', { title: 'deferrals'});
</script>