<div class="modal fade" id="contributionNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'contributions_notice_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">{{ 'contributions_notice_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" onclick ="acaOptOut();setMinDeferralValues()">{{ 'opt_out' | trans ({}, 'contributions') }}</button>
                <button type="button" class="btn btn-primary action" onclick ="acaProceed()">{{ 'proceed' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="acaMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">{{ 'aca_message_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" onclick ="acaConfirm()">{{ 'confirm' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" onclick = "$('body').trigger('spe:router:reload')">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cArrangementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'confirm' | trans ({}, 'global') }}</h4>
            </div>
            <div class="modal-body">{{ 'carrangement_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" onclick ="acaBack()">{{ 'go_back' | trans ({}, 'contributions') }}</button>
                <button type="button" class="btn btn-primary action" onclick ="acaOptOutSave()">{{ 'opt_out' | trans ({}, 'contributions') }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="contributionWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'contributions_warning_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">{{ (app.session.get('rkp')['rkp'] == 'dst' and app.session.get('rkp')['plan_data'].partStatus == 'S' ? 'contributions_suspended_warning_body' : 'contributions_warning_body') | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" onclick ="noDeferralAccept()">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paycheckAmountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'paycheck_amount_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">
                {{ 'paycheck_amount_body_1' | trans ({}, 'contributions') }} ${{ common.limit_50y | number_format }} {{ 'paycheck_amount_body_2' | trans ({}, 'contributions') }}
                <div style="margin:20px 0;">
                    <span class="mode_str"></span> {% if common.planCatchupSetting == 1 %}${% endif %} <input type="text" class="catchupValue"> {% if common.planCatchupSetting == 0 %}%{% endif %}
                    {% if common.planCatchupSetting != 2 %}<input type ="radio" name ="catchupMode" value ="{% if common.planCatchupSetting  == 0 %}DEFERPCT{% else %}DEFERDLR{% endif %}" style ="display:none" checked />
                    {% else %}
                    <div class ="pull-right">
                        $ <input type ="radio" name ="catchupMode" value ="DEFERDLR" checked /> % <input type ="radio" name ="catchupMode" value ="DEFERPCT" />
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" data-dismiss="modal" onclick ="saveContributions('catchup');$('#paycheckAmountModal').modal('hide')">{{ 'save' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" data-dismiss="modal" onclick ="catchupCancel()">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>