{%  if (common.contributionsSliderCheckbox == "true")  %}
<div class="label">
    <div class="row">
        <div class="col-md-1" style ="width:5%;margin-right:0px;padding-right:5px"><input type ="checkbox"  id="{{ slidercheckboxid}}Option" checked /></div> 
        <div class="col-md-11">
            <span id ="{{ slidercheckboxid}}Label">{{ sliderdescription | trans ({}, 'contributions') }}</span>
            <div style ="font-size:smaller">{{ 'contribute_to_this_source' | trans ({}, 'contributions') }}</div>
        </div> 
    </div>
</div>
{% else %}
<div class="label">{{ sliderdescription | trans ({}, 'contributions') }}</div>
{% endif %}
