<script>
function sendtestemail()
{
  var emails = $("#testemail").val();
  var page = "{{ path('shared_outreach_sendTestEmail') }}";
  var querystring = "id={{ templateid }}&emails=" + emails + "&title=" + encodeURIComponent($("#emailTitle").val());
  
  
  {% if adviserid is not null %}
  querystring = querystring + "&adviserid={{ adviserid }}";
  {% endif %}
  {% if currentplan is defined %}
  querystring = querystring + "&planid={{ currentplan.id }}";
  {% endif %}

  $.post(page, querystring).done(function(data) 
  {
    showalert('saved-alert');
  });


}

</script>