{% extends('PathsPathsBundle:Default:configure/configure.html.twig') %}
{% block sectionContent %}
<h3>Questions</h3>
Questions can be configured through Risk profile configurator: 
<br/><br/>
<h4>
<a href ="{{ path('_manage_risk_profile_creator') }}">Default</a> 
<a href ="{{ path('_paths_partner') }}" />Accounts</a>
<a href ="{{ path('_paths_plans') }}" />Plans</a> 
</h4>
<h3>Content</h3>
{{ render(controller('PathsPathsBundle:Content:index')) }}
<h3>Starting Videos</h3>
{{ render(controller('PathsPathsBundle:PlayList:load', {'playlist': 'riskStarting'})) }}
<h3>Ending Videos</h3>
{{ render(controller('PathsPathsBundle:PlayList:load', {'playlist': 'riskEnding'})) }}
{% endblock %}