{% if investmentsYearsToRetirement.min is defined %}
    {% set min = investmentsYearsToRetirement.min %}
{% else %}
    {% if maxvalue > 0 %}
        {% set min = maxvalue %}
    {% else %}
        {% set min = 0 %}
    {% endif %}
{% endif %}

{% set previousmin = 0 %}
{% if prevmin is defined %}
        {% set previousmin = prevmin.min %}
{% else %}
    {% if maxvalue is defined %}
        {% set previousmin = maxvalue %}
    {% endif %}
{% endif %}

<script>
    $(document).ready(function() {
        $('#investmentsYearsToRetirementForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                max: {
                    validators: {
                        between: {
                            min: {{ previousmin + 1 }},
                            max:  100,
                            message: 'The value must be between {{ previousmin + 1}} and 100.'
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitInvestmentsYearsToRetirement();

        });
    });
</script>

<form class="form-inline" action="" method="POST" id="investmentsYearsToRetirementForm">
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="id" value="{{investmentsYearsToRetirement.id is defined ? investmentsYearsToRetirement.id : ''}}">
    <div class="form-group">
        <label for="investmentsYearsToRetirementMin">Year Range</label>
        <input type="text" readonly class="form-control" id="investmentsYearsToRetirementMin" name="min" value="{{ action == "add" ? min : previousmin}}">
        <input type="text" class="form-control" id="investmentsYearsToRetirementMax" name="max" value="{{ action == 'edit' ? investmentsYearsToRetirement.min : '' }}" required/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>