<style>
    .border-bottom {
        border-bottom: 0px;
    }
</style>

<script>
    $(function() {
        $('#cp2').colorpicker({
            color: '{{ headerColor }}'
        });

        $('#color-picker-tr').css("background-color", $('#cp2').colorpicker('getValue').toString('rgba'));
        $('#cp2').colorpicker().on('changeColor', function(e) {
            $('#color-picker-tr').css("background-color", e.color.toString('rgba'));
        });
    });
</script>

{% if not enabled %}
    <div class="alert alert-warning" role="alert"><b>Warning:</b> Association page is disabled unless Investments Graph is enabled.</div>
{% endif %}

<form action="" method="POST" id="investmentsScoresYearsForm" {% if enabled %}onsubmit="return submitInvestmentsScoresYears();"{% endif %}>
    <table class="table table-striped" id="investorProfileTable">
        <thead>
            <tr id="color-picker-tr">
                <th class="border-bottom">Years To My Retirement</th>
                <th class="border-bottom" colspan='{{investmentsScores|length}}'>My Investor Score</th>
            </tr>
            <tr>
                <th></th>
                {% set previous = false %}
                {% for score in investmentsScores %}
                    {% if previous %}
                        <th>{{ previous.min == 0 ? 0 : previous.min + 1 }}-{{score.min}} points</th>
                    {% endif %}
                    {% set previous = score %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% set yearPrevious = false %}
            {% for year in investmentsYears %}
                {% if yearPrevious %}
                    {% set heading = yearPrevious.min~'-'~year.min~' years' %}
                    {{  include("SharedInvestorProfileBundle:Default:scoreyeartemplate.html.twig") }}
                {% endif %}
                {% set yearPrevious = year %}
            {% endfor %}

            {% if yearPrevious %}
                {% set heading = yearPrevious.min~'+ years' %}
                {{  include("SharedInvestorProfileBundle:Default:scoreyeartemplate.html.twig") }}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <span>Header Color: </span>
                    <input {% if not enabled %}disabled {% endif %}class="form-control small-input" id="cp2" type="text" value="{{ headerColor }}" />
                </td>
                <td colspan="{{investmentsScores|length + 1}}">
                    <button {% if not enabled %}disabled {% endif %}type="submit" class="btn btn-primary">Save</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>