<style>
    .row {
        padding-bottom: 10px;
    }
    .float-right {
        float: right;
    }
    .small-input {
        width: 125px;
    }
</style>

<script>
    $(function() {
        $('#low-rr-color').colorpicker({
            color: '{{ configurationColors.leftColor }}'
        });
        $('#high-rr-color').colorpicker({
            color: '{{ configurationColors.rightColor }}'
        });
        $('#middle-rr-color').colorpicker({
            color: '{{ configurationColors.middleColor }}'
        });

        $('#low-rr-color').colorpicker().on('changeColor', function(e) {
            $('#gradient').css('background', 'linear-gradient(to right, ' + e.color.toString('rgba') + ', ' + $('#middle-rr-color').colorpicker('getValue') + ', ' + $('#high-rr-color').colorpicker('getValue') + ')');
            $('body').append('<style>#gradient:before { border-right: 20px solid ' + e.color.toString('rgba') + '; }</style>');
        });
        $('#high-rr-color').colorpicker().on('changeColor', function(e) {
            $('#gradient').css('background', 'linear-gradient(to right, ' + $('#low-rr-color').colorpicker('getValue') + ', ' + $('#middle-rr-color').colorpicker('getValue') + ', ' + e.color.toString('rgba') + ')');
            $('body').append('<style>#gradient:after { border-left: 20px solid ' + e.color.toString('rgba') + '; }</style>');
        });
        $('#middle-rr-color').colorpicker().on('changeColor', function(e) {
            $('#gradient').css('background', 'linear-gradient(to right, ' + $('#low-rr-color').colorpicker('getValue') + ', ' + e.color.toString('rgba') + ', ' + $('#high-rr-color').colorpicker('getValue') + ')');
        });
    });
</script>

<form action="" method="POST" id="investmentsOptionsForm" onsubmit="return saveOptions();">
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <strong>Investment Graph Enabled:</strong>
        </div>
        <div class="col-md-1">
            <select name="graph-enabled" class="form-control">
                <option value="0" {%if investmentsGraph == "0"%}selected{%endif%}>No</option>
                <option value="1" {%if investmentsGraph == "1"%}selected{%endif%}>Yes</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <strong>Change Risk/Reward Bar Color Scheme</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div style="width:80%">
                {{ include('SharedInvestorProfileBundle:Default:riskrewardbar.html.twig') }}
            </div>
            <br>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        Change Low Color:
                    </div>
                    <div class="col-md-4">
                        Change Middle Color:
                    </div>
                    <div class="col-md-4">
                        Change High Color:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control small-input" id="low-rr-color" type="text" value="{{ configurationColors.leftColor }}" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control small-input" id="middle-rr-color" type="text" value="{{ configurationColors.middleColor }}" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control small-input" id="high-rr-color" type="text" value="{{ configurationColors.rightColor }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>