<style>
    .row {
        padding-bottom: 2px;
    }
    .center{display:inline-block}
    .outer{text-align:center}
</style>
{% include 'SharedInvestorProfileBundle:Default:javascript/piechart.js.twig' with {'forDefaults' : 'true' } %}

<form class="form-inline" data-toggle="validator" action="" id="assignColorAndPercentsForm">
    <input type="hidden" name="action" value="{{action is defined ? action : ''}}">
    <div style="display: none" id='alert-warning' class="alert alert-info" role="alert"><b>Info:</b> The sum of the percents must add up to 100%.</div>

        {% for fund in arrayOfGroupValues %}
            {% set toUseSuffix = objectHash[fund.id].id is defined ? objectHash[fund.id].id : 'undeclared-' ~ fund.id | trans %}
            {% set y = objectHash[fund.id].min is defined ? objectHash[fund.id].min : 0 %}
            <script>
                {% if y != 0 %}
                highChartDataObject = new Object;
                highChartDataObject.name = "{{ fund.value }}";
                highChartDataObject.y = 1;
                highChartDataObject.color = "{{ objectHash[fund.id].color is defined ? objectHash[fund.id].color : 'black' }}";
                highChartDataObject.hoverColor = "{{ objectHash[fund.id].hoverColor is defined ? objectHash[fund.id].hoverColor : 'black' }}";
                highChartData[counter++] = highChartDataObject;
                {% endif %}
            </script>
            <div class="row">
                <div class="col-sm-6">
                    <span class="percentage-label">Set Default Colors for: <strong>{{ fund.value }}</strong></span>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-6">
                            Display Color
                        </div>
                        <div class="col-xs-6">
                            Hover Color
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input style="display:none;" type="number" min="0" max="100" class="form-control" id="percent-id-{{ toUseSuffix }}" name="percent-id-{{ toUseSuffix }}" />
                    <script>
                        $('#percent-id-{{ toUseSuffix }}').val(1/{{ arrayOfGroupValues|length }}*100);
                    </script>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <input style="width:125px" name="display-cp-{{ toUseSuffix }}" class="form-control" id="display-lbl-{{ toUseSuffix }}" type="text" value="{{ objectHash[fund.id].color is defined ? objectHash[fund.id].color : 'black' }}" />
                        </div>
                        <div class="col-xs-6">
                            <input style="width:125px" name="hover-cp-{{ toUseSuffix }}" class="form-control" id="hover-lbl-{{ toUseSuffix }}" type="text" value="{{ objectHash[fund.id].hoverColor is defined ? objectHash[fund.id].hoverColor : 'black' }}" />
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <script>
                $(function() {
                    $('#display-lbl-{{ toUseSuffix }}').colorpicker();
                    $('#hover-lbl-{{ toUseSuffix }}').colorpicker();
                });

                $('#display-lbl-{{ toUseSuffix }}').colorpicker().on('changeColor', function(e) {
                    redrawChart();
                });
                $('#hover-lbl-{{ toUseSuffix }}').colorpicker().on('changeColor', function(e) {
                    redrawChart();
                });

            </script>
        {% endfor %}
</form>

<div class="outer">
    <div class="center" style="width: 90%">
        <div id="container" style="width: 500px; height: 300px"></div>
    </div>
</div>

<button style="margin-top: 10px" type="submit" onclick="return updateDefaultColors();" id="save-btn-form" class="btn btn-primary">Save</button>

<script>
    $(function() {
        computePieChart();
        redrawChart();
    });
</script>