<style>
    .square {
        width: 12px;
        height: 12px;
        display: inline-block;
    }
    .row {
        padding-bottom: 2px;
    }
    .center{display:inline-block}
    .outer{text-align:center}
</style>
{{ include('SharedInvestorProfileBundle:Default:javascript/piechart.js.twig') }}

<form class="form-inline" data-toggle="validator" action="" id="assignColorAndPercentsForm">
    <input type="hidden" name="action" value="{{action is defined ? action : ''}}">
    <input type="hidden" name="id" value="{{scoreMinId is defined ? scoreMinId : ''}}">
    <input type ="form-control" placeholder ="Enter label" value ="{% if scoreMin is not null %}{{ scoreMin.label }}{% endif %}" name ="label" class ="form-control" style ="width:100%" /><br/><br/>
    <div style="display: none" id='alert-warning' class="alert alert-info" role="alert"><b>Info:</b> The sum of the percents must add up to 100%.</div>

        {% for fund in arrayOfGroupValues %}
            {% set toUseSuffix = objectHash[fund.id].id is defined ? objectHash[fund.id].id : 'undeclared-' ~ fund.id | trans %}
            {% set y = objectHash[fund.id].min is defined ? objectHash[fund.id].min : 0 %}
            <script>
                {% if y != 0 %}
                highChartDataObject = new Object;
                highChartDataObject.name = "{{ fund.value }}".unescapeHtml();
                highChartDataObject.y = {{ y }};
                highChartDataObject.color = "{{ objectHash[fund.id].color is defined ? objectHash[fund.id].color : 'black' }}";
                highChartDataObject.hoverColor = "{{ objectHash[fund.id].hoverColor is defined ? objectHash[fund.id].hoverColor : 'black' }}";
                highChartData[counter++] = highChartDataObject;
                {% endif %}
            </script>
            <div class="row">
                <div class="col-sm-6">
                    <span class="percentage-label">Percentage for <strong>{{ fund.value }}</strong></span>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-6">
                            Display Color <div class="square" id="square-id-{{ toUseSuffix }}"></div>
                        </div>
                        <div class="col-xs-6">
                            Hover Color
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-sm-6">
                <input type="number" min="0" max="100" class="form-control" id="percent-id-{{ toUseSuffix }}" name="percent-id-{{ toUseSuffix }}" value="{{ objectHash[fund.id].min is defined ? objectHash[fund.id].min : 0 }}" /> %
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <input style="width:125px" name="display-cp-{{ toUseSuffix }}" class="form-control" id="display-lbl-{{ toUseSuffix }}" type="text" value="{{ objectHash[fund.id].color is defined ? objectHash[fund.id].color : (defaultColorsMap[fund.id] is defined ? defaultColorsMap[fund.id].color : 'black')}}" />
                        </div>
                        <div class="col-xs-6">
                            <input style="width:125px" name="hover-cp-{{ toUseSuffix }}" class="form-control" id="hover-lbl-{{ toUseSuffix }}" type="text" value="{{ objectHash[fund.id].hoverColor is defined ? objectHash[fund.id].hoverColor : (defaultColorsMap[fund.id] is defined ? defaultColorsMap[fund.id].hoverColor : 'black') }}" />
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <script>
                $(function() {
                    $('#display-lbl-{{ toUseSuffix }}').colorpicker();
                    $('#hover-lbl-{{ toUseSuffix }}').colorpicker();
                });

                $('#display-lbl-{{ toUseSuffix }}').colorpicker().on('changeColor', function(e) {
                    redrawChart();
                });
                $('#hover-lbl-{{ toUseSuffix }}').colorpicker().on('changeColor', function(e) {
                    redrawChart();
                });

                $('#percent-id-{{ toUseSuffix }}').change( function () {
                    redrawChart();
                });
                $('#square-id-{{ toUseSuffix }}').css('background-color', $('#display-lbl-{{ toUseSuffix }}').colorpicker('getValue'));

                $("#square-id-{{ toUseSuffix }}").mouseenter(function() {
                    $("#square-id-{{ toUseSuffix }}").css("background-color", $('#hover-lbl-{{ toUseSuffix }}').colorpicker('getValue'));
                }).mouseleave(function() {
                    $("#square-id-{{ toUseSuffix }}").css("background-color", $('#display-lbl-{{ toUseSuffix }}').colorpicker('getValue'));
                });

            </script>
        {% endfor %}
</form>

<div class="outer">
    <div class="center" style="width: 90%">
        <div id="container" style="width: 500px; height: 300px"></div>
    </div>
</div>

<div class="outer">
    <div class="center" style="width: 90%">
        {{ include('SharedInvestorProfileBundle:Default:riskrewardbar.html.twig') }}
    </div>
</div>

<button style="margin-top: 10px" type="submit" onclick="return updateColorAndPercents();" id="save-btn-form" class="btn btn-primary">Save</button>

<script>
    $(function() {
        computePieChart();
    });
</script>