<script>
    var errMessage = '';

    $('.proceed').click(function() {
        self.checkValidation();
        if(self.hasError(errMessage)){
            return false;
        }
        $.post("/retirementneeds/nextpage", $("#retirement-needs-form").serialize(), function(data) {
            window.EventTracking.proceedRetirementNeeds(self.getFormDataAsObject());
            if (data == "done") {
                $('body').trigger('spe:router:redirect', { to: 'riskProfile', complete : 'retirementNeeds' })
                return;
            }
            $('#retirement-needs-page').html(data);

        });
    });

    $('.back').click(function() {
        $.post("/retirementneeds/prevpage", $("#retirement-needs-form").serialize(), function(data) {
            $('#retirement-needs-page').html(data);
        });
    });

    $(".currency").autoNumeric('init',{lZero: 'deny', mDec: 0, aPad: false, vMin: 0});

    function validator(n) {
        if(!n || isNaN(n))
            return false;
        return true;
    }

    function setMessage(msg) {
        errMessage += msg + '<br>';
    }

    function showErrMsg(msg, customTitle)
    {
        var title = "{{ 'error'| trans ({}, 'alert') }}";
        if(customTitle)
            title = customTitle;
        bootbox.dialog({
            title: title,
            message: msg,
            closeButton: false,
            size: 'medium',
            buttons : {
                ok: {
                    label: 'OK',
                    callback: function() {
                        this.modal('hide');
                    }
                }
            }
        });
    };

    function hasError(msg)
    {
        if(self.shouldDisplayError(msg)){
            this.errMessage = '';
            return true;
        }
        return false;
    }


    function shouldDisplayError(msg)
    {
        if(msg != ''){
            self.showErrMsg(msg);
            return true;
        }
        return false;
    }

    function stripCommas(dollar)
    {
        try {
            return dollar.replace(/,/g , '');
        } catch (err) {
            return false;
        }
    }
    
    function getFormDataAsObject() 
    {
        var array = $("#retirement-needs-form").serializeArray();
        var object = {};
        for (var i = 0; i < array.length; i++) {
            var key = array[i].name;
            var value = array[i].value;
            if (key in object) {
                if (!Array.isArray(object[key])) {
                    object[key] = [object[key]];
                }
                object[key].push(value);
                continue;
            }
            object[key] = value;
        }
        return object;
    }


</script>