{% set audioFile = 'retirementNeeds_0408'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="7"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="title">{{ 'results'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">
        <p class="para">{{ 'results_desc'| trans ({}, 'retirement_needs') }}</p>
        <div class="rn_results_display">
            <div class="pad-bottom-10"> <span>{{ 'annual_income_needed_in_retirement'| trans ({}, 'retirement_needs') }}:</span> <span id="annualIncomeDisplay" class="display_value">$ {{ data.RN_InflationAdjustedReplacementIncome | number_format(0, '.', ',') }}</span> </div>
            <div class="pad-bottom-10"> <span>{{ 'estimated_savings_at_retirement'| trans ({}, 'retirement_needs') }}:</span> <span id="estimatedSavingsDisplay" class="display_value">$ {{ data.RN_EstimatedSavingsatRetirement }}</span> </div>
            <div class="pad-bottom-10"> <span>{{ 'recommended_monthly_plan_contribution'| trans ({}, 'retirement_needs') }}:</span> <span id="monthlyContributionDisplay" class="display_value">$ {{ data.RN_RecommendedMonthlyPlanContribution }}</span> </div>
            {% if(app.session.get('common')['showMatchDescriptions']) %}
                <div class="rn-result-message">
                    <span></span>
                    <span class="display_value">
                    <div style="color: #fa6522;">{{ 'your_employer_will_help_you_reach_this_goal'| trans ({}, 'retirement_needs') }}</div>
                    <div><small>({{ 'more_in_a_few_minutes'| trans ({}, 'retirement_needs') }}!)</small></div>
                </span>
                </div>
            {% endif %}
        </div>
        <input id="annualIncome" name="RN_AnnualIncomeNeededInRetirement" type="hidden" value="{{ data.RN_InflationAdjustedReplacementIncome }}">
        <input id="estimatedSavings" name="RN_EstimatedSavingsatRetirement" type="hidden" value="{{ data.RN_EstimatedSavingsatRetirement }}">
        <input id="monthlyContribution" name="RN_RecommendedMonthlyPlanContribution" type="hidden" value="{{ data.RN_RecommendedMonthlyPlanContribution }}">
        <input id="yearsInRetire" type="hidden" value="{{ data.RN_YearsYouWillLiveInRetirement }}">
        <input id="yearsBeforeRetire" type="hidden" value="{{ data.RN_NumberOfYearsBeforeRetirement }}">
        <input id="totalAssets" type="hidden" value="{{ data.RN_TotalAssets }}">
        <input id="pctValue" name="RN_PctValue" type="hidden" value="{{ data.RN_IncomePct }}">
        <br>
        <div> <span class="para">{{ 'percentage_of_income_from_plan'| trans ({}, 'retirement_needs') }}</span> <span id="pct"></span> </div>
        <div class="slide_container row">
            <div class="col-lg-5">
                <div class="slider_box">
                    <div class="slider-element" style=" margin-right: 4px;">0% </div>
                    <div id="incomePlanSlider" class="slider-element ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"> <a class="ui-slider-handle ui-state-default ui-corner-all"  style="left: 35%;"></a> </div>
                    <div class="slider-element" style=" margin-left: 4px;"> 100%</div>
                    <div class="arrow">
                        <div class="slide upArrow up"> </div>
                        <div class="slide downArrow down"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="para">{{ 'results_note'| trans ({}, 'retirement_needs') | replace({ '[PERCENT_OF_INCOME_FROM_PLAN]':app.session.get("module").percentageOfIncomeFromPlan  }) }}</div>
            </div>
        </div>
    </div>
    <input id="cq" type="hidden" value="7">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="6" dir="back" class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="7" dir="save" class="actionBtn right proceed" >
            <span class="center action-button">{{ 'save'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    function checkValidation() {
        // no validation needed
    }

    $('body').trigger('spe:disclosure:show', { title: 'targetMonthlyContribution'});
    self.calculateResult({{ data.RN_IncomePct }} + 40);
    var IPSlider = $("#incomePlanSlider").slider({
        value: parseInt({{ module.percentageOfIncomeFromPlan }}),
        min: 0,
        max: 100,
        step: 1,
        slide: function(event, ui) {
            $('#pctValue').val(parseInt(ui.value));
            $('#pct').html(ui.value + "%");
            self.calculateResult(parseInt(ui.value) + 40);
        },
        stop:function(event, ui){
            _gaq.push(['_trackEvent', 'Retirement Needs', 'Value Changed', 'Percentage of income from Plan' , IPSlider.slider("option", "value")]);
        }
    });

    $('.upArrow').click(function() {
        if (IPSlider.slider("value") === 100)
            return;
        var newVal = IPSlider.slider("value")+1;
        IPSlider.slider("value", newVal);
        $('#pctValue').val(parseInt(newVal));
        $('#pct').html(newVal + "%");
        self.calculateResult(parseInt(newVal) + 40);
    });

    $('.downArrow').click(function() {
        if (IPSlider.slider("value") === 0)
            return;
        var newVal = IPSlider.slider("value")-1;
        IPSlider.slider("value", newVal);
        $('#pctValue').val(parseInt(newVal));
        $('#pct').html(newVal + "%");
        self.calculateResult(parseInt(newVal) + 40);
    })

    function calculateResult(incomePct) {
        var pct = Math.round(incomePct) - 40,
            month = $('#monthlyContributionDisplay'),
            savings = $('#estimatedSavingsDisplay'),
            value_factors = ("{{ common.retirementNeedsVersion }}" == 'by age') ?
                [1.06, 2.18, 3.37, 4.46, 5.98, 7.39, 8.9, 10.49, 12.18, 13.97, 15.87, 17.88, 20.02, 22.28, 24.67, 27.21, 29.91, 32.76, 35.79, 38.99, 42.39, 46, 49.82, 53.86, 58.16, 62.71, 67.53, 72.64, 78.06, 83.8, 89.89, 96.34, 13.18, 110.43, 118.12, 126.27, 134.9, 144.06, 153.76, 164.05, 174.95, 186.51, 198.76, 221.74, 225.51, 240.1, 255.56, 271.96, 289.34, 307.76] :
                [5.98,13.97,24.67,38.99,58.16,83.8,118.12,164.05],
            payout_factors = ("{{ common.retirementNeedsVersion }}" == 'by age') ?
                [1.00, 1.94, 2.83, 3.67, 4.47, 5.21, 5.92, 6.58, 7.21, 7.80, 8.36, 8.89, 9.38, 9.85, 10.29, 10.71, 11.11, 11.48, 11.83, 12.16, 12.47, 12.76, 13.04, 13.30, 13.55, 13.78, 14.00, 14.21, 14.41, 14.59, 14.76, 14.93, 15.08, 15.23, 15.37, 15.50, 15.62, 15.74, 15.85, 15.95, 16.05, 16.22, 16.31, 16.38, 16.46, 16.52, 16.59, 16.65, 16.71] :
                [4.47,7.80,10.29,12.16,13.55,14.59,15.37,15.95],
            yearsInRetire = $('#yearsInRetire').val() ? parseFloat($('#yearsInRetire').val()) : 0,
            yearsBeforeRetire = $('#yearsBeforeRetire').val() ? parseFloat($('#yearsBeforeRetire').val()) : 0, // == C7
            anualIncome = $('#annualIncome').val() ? parseFloat($('#annualIncome').val()) : 0, // == C8
            totalAssets = $('#totalAssets').val() ? parseFloat($('#totalAssets').val()) : 0; // == C9
        $('#pct').html(pct+'%');

        // Cell numbers refer to the model here: https://docs.google.com/spreadsheet/ccc?key=0AnlxSfsd1fvkdEFJcVJLUUFQZWxYd1lmaUJfX0VKR1E
        var r = .06, // APR == C32
            Y = yearsBeforeRetire; // == C7

        var monthly =  anualIncome * payout_factors[("{{ common.retirementNeedsVersion }}" == 'by age') ? yearsInRetire : ((yearsInRetire / 5) - 1)]; // == C13
        monthly = monthly - totalAssets * Math.pow(1 + r,Y); // == C14
        monthly = monthly / value_factors[("{{ common.retirementNeedsVersion }}" == 'by age') ? yearsBeforeRetire : ((yearsBeforeRetire / 5) - 1) ]; // == C15
        monthly = monthly / 12; // == C16
        monthly = monthly * (pct/100); // == C17
        if (monthly < 0) {monthly = 0;}

        var c = monthly * 12, // == C17 * 12
            P = totalAssets, // == C9
            total_contributions = Math.ceil( P * Math.pow(1 + r, Y) + ( c * ( ( Math.pow(1 + r, Y + 1) - (1 + r) ) / r) ) ); // What will your total savings be when you retire?

        // Update display & hidden fields
        // Estimated Savings at Retirement display
        $('#pctValue').val(pct);
        savings.html('$ '+ total_contributions.toLocaleString('en-US', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            }));
        $('#estimatedSavings').val(total_contributions);
        //Recommended Monthly Plan Contribution Display
        month.html('$ '+ monthly.toLocaleString('en-US', {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            }));
        $('#monthlyContribution').val(monthly);

    }

</script>