{% set audioFile = 'retirementNeeds_0407'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="6"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>

    {% if(app.session.get('common')['retirementNeedsVersion'] == 'by age') %}
        <div class="title">{{ 'at_what_age_anticipate_no_longer_requiring_income'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            <input type="hidden" id="q7" value="{{ data.RN_YearsYouWillLiveInRetirement }}">
            <input type="hidden" id="pctValue">
        </div>
    {% else %}
        <div class="title">{{ 'years_you_will_live_in_retirement'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            <div class="col">
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 5 %}checked {% endif %}class="yearsInRetire" type="radio" value="5" name="RN_YearsYouWillLiveInRetirement"> 5 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 10 %}checked {% endif %} class="yearsInRetire" type="radio" value="10" name="RN_YearsYouWillLiveInRetirement"> 10 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 15 %}checked {% endif %} class="yearsInRetire" type="radio" value="15" name="RN_YearsYouWillLiveInRetirement"> 15 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 20 %}checked {% endif %} class="yearsInRetire" type="radio" value="20" name="RN_YearsYouWillLiveInRetirement"> 20 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 25 %}checked {% endif %}class="yearsInRetire" type="radio" value="25" name="RN_YearsYouWillLiveInRetirement"> 25 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 30 %}checked {% endif %} class="yearsInRetire" type="radio" value="30" name="RN_YearsYouWillLiveInRetirement"> 30 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 35 %}checked {% endif %} class="yearsInRetire" type="radio" value="35" name="RN_YearsYouWillLiveInRetirement"> 35 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_YearsYouWillLiveInRetirement is defined and data.RN_YearsYouWillLiveInRetirement == 40 %}checked {% endif %} class="yearsInRetire" type="radio" value="40" name="RN_YearsYouWillLiveInRetirement"> 40 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <input type="hidden" id="q7" value="{{ data.RN_YearsYouWillLiveInRetirement }}">
            <input type="hidden" id="pctValue">
        </div>
    {% endif %}

    <div class="clearfix"> </div>
    <input id="cq" type="hidden" value="6">
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="5" dir="back" class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="7" dir="next" class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    $('body').trigger('spe:disclosure:hide', { title: 'targetMonthlyContribution'});
    function checkValidation() {
        var q7 = parseInt($('#q7').val()),
            lifeExpectancy = {{ data.RN_LifeExpectancy }};

        if ("{{ common.retirementNeedsVersion }}" == 'by age') {
            var lifeExpectancy = parseInt($('#life_expectancy').val());
            var retirementAge = parseInt({{ data.RN_RetirementAge }});
            q7 = lifeExpectancy - retirementAge;
            if (!self.validator(q7) || isNaN(lifeExpectancy) || lifeExpectancy < retirementAge) {
                self.setMessage("{{ 'please_enter_the_age_you_anticipate_no_longer_requiring'| trans ({}, 'alert') }}");
            }
        } else {
            if (!self.validator(q7)) {
                self.setMessage("{{ 'please_enter_number_years_retirement'| trans ({}, 'alert') }}");
            }
        }
    }


    $(document).ready(function() {
        $('.yearsInRetire').click(function() {
            var years = $("input[name='RN_YearsYouWillLiveInRetirement']:checked").val();
            $('#q7').val(years);

        });
    });


</script>