{% set audioFile = 'retirementNeeds_0402-0403'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="2"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    {% set type = app.session.get('retirement_needs').retirementNeedsFlow %}
    {% set pensionUrl = app.session.get('retirement_needs').pensionEstimatorURL %}
    {% if type == 1 %}
        <!-- Current Social Security -->
        {% include 'SpeAppBundle:Template:retirementneeds/page2/estimatedRetirementIncome.html.twig' %}
        {{ include('SpeAppBundle:Template:retirementneeds/page2/estimatedSocialSecurityIncome.html.twig', {'estimatedSocialSecurityIncomeReplace': "24,636",'note': 'estimated_social_security_income_note'| trans ({}, 'retirement_needs')}) }}
    {% elseif type == 2 %}
        <!-- Enhanced Social Security -->
        {% include 'SpeAppBundle:Template:retirementneeds/page2/estimatedRetirementIncome.html.twig' %}
        {{ include('SpeAppBundle:Template:retirementneeds/page2/estimatedSocialSecurityIncome.html.twig', {'estimatedSocialSecurityIncomeReplace': '31,000','note': 'estimated_social_security_income_note_ESS'| trans ({}, 'retirement_needs'),'showCalc':true}) }}
    {% elseif type == 3 %}
        <!-- Pension Only -->
        {% include 'SpeAppBundle:Template:retirementneeds/page2/estimatedRetirementIncome.html.twig' %}
        {{ include('SpeAppBundle:Template:retirementneeds/page2/estimatedPensionIncome.html.twig', {'title': 'estimated_pension_income_3' | trans ({}, 'retirement_needs')}) }}
    {% elseif type == 4 %}
        <!-- Enhanced Social Security and Pension -->
        {% include 'SpeAppBundle:Template:retirementneeds/page2/estimatedRetirementIncome.html.twig' %}
        {{ include('SpeAppBundle:Template:retirementneeds/page2/estimatedSocialSecurityIncome.html.twig', {'estimatedSocialSecurityIncomeReplace': '31,000','note': 'estimated_social_security_income_note_ESS'| trans ({}, 'retirement_needs'),'showCalc':true,'showMainTitle':true}) }}
        {{ include('SpeAppBundle:Template:retirementneeds/page2/estimatedPensionIncome.html.twig', {'title': 'estimated_pension_income_4' | trans ({}, 'retirement_needs'),'showMainTitle':true}) }}
    {% endif %}
    <input id="cq" type="hidden" value="2">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    function checkValidation() {
        var RNF = {
            CurrentSocialSecurityOnly: 1,
            EnhancedSocialSecurityOnly: 2,
            PensionOnly: 3,
            EnhancedSocialSecurityAndPension:4
        };

        q2 = self.stripCommas($('#q2').val());
        if (!self.validator(q2)) {
            self.setMessage("{{ 'please_enter_estimated_retirement_income'| trans ({}, 'alert') }}");
        }

        var retirementNeedsFlow = {{ data.retirementNeedsFlow }};
        if (retirementNeedsFlow == RNF.CurrentSocialSecurityOnly) {
            q3 = self.stripCommas($('#q3').val());
        } else if (retirementNeedsFlow == RNF.EnhancedSocialSecurityOnly) {
            q3 = self.stripCommas($('#q3').val());
        } else if (retirementNeedsFlow == RNF.PensionOnly) {
            q3p = self.stripCommas($('#q3p').val());
        } else if (retirementNeedsFlow == RNF.EnhancedSocialSecurityAndPension) {
            q3 = self.stripCommas($('#q3').val());
            q3p = self.stripCommas($('#q3p').val());
        }

        if (retirementNeedsFlow != RNF.PensionOnly) {
            if (isNaN(parseFloat(q3)) ||  q3 === ""){
                self.setMessage("{{ 'please_enter_estimated_social_security_income'| trans ({}, 'alert') }}");
            }else if(q3 > {{ serverConfig.estimatedSocialSecurityIncomeMax }}){
                self.setMessage("{{ 'please_enter_upto_estimated_social_security_income'| trans ({}, 'alert') }}");
            }
        }
        if ((retirementNeedsFlow == RNF.PensionOnly) || (retirementNeedsFlow == RNF.EnhancedSocialSecurityAndPension)) {
            if (isNaN(parseFloat(q3p)) ||  q3p === ""){
                self.setMessage("{{ 'please_enter_estimated_pension_income'| trans ({}, 'alert') }}");
            }
        }

    }
</script>