{% set audioFile = 'retirementNeeds_0406'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="5"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="row">

        {% if common.data_source == 'educate' %}
        <div class="col-md-4">
            <span class="title plan_bal block">{{ 'current_plan_balance'| trans ({}, 'retirement_needs') }}</span>
            <span class="plan_bal title block">$ <input class="totalAssetEducate currency" size="15" id="q6a" type="text" name="common_planBalance" value="{{ common.planBalance }}"></span>
        </div>
        <div class="col-md-4">
            <span class="title other_asset block">+ {{ 'other_assets'| trans ({}, 'retirement_needs') }}</span>
            <span class="title other_asset block">$ <input class="totalAssetEducate currency" size="15" id="q6b" type="text" name="RN_OtherAssets" value="{{ data.RN_OtherAssets }}"></span>
        </div>
        {% else %}
        <div class="col-md-4">
            <span class="title plan_bal block">{{ 'current_plan_balance'| trans ({}, 'retirement_needs') }}</span>
            <span class="plan_bal title block" style="font-size:22px;">$ <input disabled size="15" style="font-size:22px;width:80%; background-color:#efefef;" id="q6a" type="text" name="common_planBalance" value="{{ common.planBalance }}" class="currency"></span>
        </div>
        <div class="col-md-4">
            <span class="title other_asset block">+ {{ 'other_assets'| trans ({}, 'retirement_needs') }}</span>
            <span class="title other_asset block" >$ <input class="totalAssets currency" id="q6b" type="text" size="15" data-plan-balance="{{ common.planBalance }}" name="RN_OtherAssets" value="{{ data.RN_OtherAssets }}" /></span>
        </div>
        {% endif %}

        <div class="col-md-4">
            <span class="title total_asset block">= {{ 'total_assets'| trans ({}, 'retirement_needs') }}</span>
            <span id="q6c" class="total_asset">$ <input disabled size="15" style="font-size:22px;width:80%; background-color:#efefef;border:0px;" type="text" name="RN_TotalAssets" value="{{ data.RN_TotalAssets }}" class="currency" /></span>
            <input id="totalAssets" name="RN_TotalAssets" value="{{ data.RN_TotalAssets }}" type="hidden">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="details">
        <p class="para">{{ 'asset_desc'| trans ({}, 'retirement_needs') }}</p>
    </div>
    <div class="title">{{ 'asset_types'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">
        <p class="para">{{ 'asset_help'| trans ({}, 'retirement_needs') }}</p>
        <div class="col">
            <div class="RNassetType">
                <label><input id="at6" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_4"> {{ 'asset_type_option_4'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at1" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_2"> {{ 'asset_type_option_2'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at2" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_3"> {{ 'asset_type_option_3'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at0" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_1"> {{ 'asset_type_option_1'| trans ({}, 'retirement_needs') }}</label>
            </div>
        </div>
        <div class="col">
            <div class="RNassetType">
                <label><input id="at7" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_8"> {{ 'asset_type_option_8'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at4" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_6"> {{ 'asset_type_option_6'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at5" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_7"> {{ 'asset_type_option_7'| trans ({}, 'retirement_needs') }}</label>
            </div>
            <div class="RNassetType">
                <label><input id="at3" name="RN_AssetTypes[]" class="assetTypes" type="checkbox" value="asset_type_option_5"> {{ 'asset_type_option_5'| trans ({}, 'retirement_needs') }}</label>
            </div>
        </div>
    </div>
    <input id="cq" type="hidden" value="5">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="4" dir="back" class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="6" dir="next" class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    {% for checkedBoxes in data.RN_AssetTypes %}
        $( "input[value='{{ checkedBoxes }}']" ).prop('checked', true);
    {% endfor %}

    function checkValidation() {
        // no validation here
    }

    $('.totalAssetEducate, .totalAssets').on("keyup paste", function(){
        var planBalance = $('#q6a').val(),
            assets = $('#q6b').val();
        planBalance = planBalance.replace(/,/g,"");
        assets = assets.replace(/,/g,"");

        if (isNaN(planBalance) || planBalance == '') {planBalance = "0";}
        if (isNaN(assets) || assets == '') {assets = "0";}

        var tav = parseFloat(planBalance) + parseFloat(assets);
        $('#q6c').val(tav).html("$ " + tav.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $('#totalAssets').val(tav);

    });
</script>