{% set audioFile = 'retirementNeeds_0401'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="1"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="title">{{ 'current_year_income'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">$
        <input id="q1" name="RN_CurrentYearlyIncome" type="text" value="{{ data.RN_CurrentYearlyIncome }}" size="15" class="currency">
    </div>
    <input id="cq" type="hidden" value="1">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    function checkValidation() {
        q1 = self.stripCommas($('#q1').val());
        if (!self.validator(q1)) {
            self.setMessage("{{ 'please_enter_yearly_income'| trans ({}, 'alert') }}");
        }
        
        var maximumAnnualIncome = {{ module.maximumAnnualIncome|default(0) }};
        if(maximumAnnualIncome > 0 && q1 > maximumAnnualIncome) {
            self.setMessage("{{ 'enter_a_lower_salary'| trans ({}, 'alert') }}" + "{{ module.maximumAnnualIncome }}");
        }
    }
</script>
