{% set audioFile = 'retirementNeeds_0404'| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
<form id="retirement-needs-form">
    <input style="display:none" name="page" value="3"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="title">{{ 'replacement_income'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">$
        <input id="q4" name="RN_ReplacementIncome" type="text" value="{{ data.RN_ReplacementIncome }}" size="15" class="currency">
        <p class="para">{{ 'replacement_income_note'| trans ({}, 'retirement_needs') }}</p>
    </div>
    <input id="cq" type="hidden" value="3">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="2" dir="back" class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="4" dir="next" class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    function checkValidation() {
        q4 = self.stripCommas($('#q4').val());
        if (!self.validator(q4)) {
            self.setMessage("{{ 'please_enter_replacement_income'| trans ({}, 'alert') }}");
        }
    }
</script>