<div id="firstAudio">
    {% set audioFile = 'retirementNeeds_0405a'| trans ({}, 'audio')   %}
    {% set audioId = "first" %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    {% set audioPosition = 'static' %}
    {% set autoplay = false %}
</div>

<div id="secondAudio" style="display:none">
    {% set audioFile = 'retirementNeeds_0405b'| trans ({}, 'audio')   %}
    {% set audioId = "second" %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    {% set audioPosition = 'static' %}
    {% set autoplay = false %}
</div>

<form id="retirement-needs-form">
    <input style="display:none" name="page" value="4"/>
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>

    {% if(app.session.get('common')['retirementNeedsVersion'] == 'by age') %}
        <div class="title">{{ 'i_plan_to_retire_at_age'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            {% set age = common.dateOfBirth ? date().diff(date(common.dateOfBirth)).y : 0 %}
            <input data-age="{{ age }}" required type="number" size="15" id="retirement_age" min="{{ age }}" step="1" value="{{ data.RN_RetirementAge ? data.RN_RetirementAge : '' }}">
            <input id="q5" type="hidden" value="{{ data.RN_NumberOfYearsBeforeRetirement }}">
            <input id="RI" type="hidden" value="{{ data.RN_ReplacementIncome }}" >
        </div>
    {% else %}
        <div class="title">{{ 'number_of_years_before_retirement'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            <div class="col">
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 5 %}checked {% endif %}class="yearsBeforeRetirement" type="radio" value="5" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 5 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 10 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="10" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 10 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 15 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="15" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 15 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 20 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="20" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 20 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 25 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="25" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 25 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 30 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="30" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 30 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 35 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="35" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 35 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input {% if data.RN_NumberOfYearsBeforeRetirement is defined and data.RN_NumberOfYearsBeforeRetirement == 40 %}checked {% endif %} class="yearsBeforeRetirement" type="radio" value="40" name="RN_NumberOfYearsBeforeRetirement" label="Years Before Retirement"> 40 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <input id="q5" type="hidden" value="{{ data.RN_NumberOfYearsBeforeRetirement }}">
            <input id="RI" type="hidden" value="{{ data.RN_ReplacementIncome }}" >
        </div>
    {% endif %}

    <div class="clearfix"> </div>
    <div class="title">{{ 'inflation_adjusted_replacement_income'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">$
        <input id="q5a" type="text" name="RN_InflationAdjustedReplacementIncome" value="{{ data.RN_InflationAdjustedReplacementIncome }}" size="15" class="currency">
        <p class="para">{{ 'number_of_years_before_retirement_note'| trans ({}, 'retirement_needs') | replace({'[INFLATION]': (app.session.get('retirement_needs').inflation is defined ? app.session.get('retirement_needs').inflation : '')}) }}</p>
    </div>
    <input id="cq" type="hidden" value="4">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="3" dir="back" class="actionBtn left back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="5" dir="next" class="actionBtn right proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</form>
{% include 'SpeAppBundle:Template:retirementneeds/javascript.js.twig' %}

<script>
    var triggered = false;
    function checkValidation() {
        var q5 = $('#q5').val(),
            q5a = self.stripCommas($('#q5a').val()),
            retirementAge = {{ data.RN_RetirementAge }};

        if ("{{ common.retirementNeedsVersion }}" == 'by age') {
            retirementAge = $('#retirement_age').val();
            if (!self.validator(q5)) {
                self.setMessage("{{ 'please_enter_the_age_of_retirement'| trans ({}, 'alert') }}");
            }
        } else {
            if (!self.validator(q5)) {
                self.setMessage("{{ 'please_select_number_year'| trans ({}, 'alert') }}");
            }
        }
        if (!self.validator(q5a)) {
            self.setMessage("{{ 'please_enter_inflation_income'| trans ({}, 'alert') }}");
        }
    }

    function updateYearsBeforeRetirement() {
        {% if common.retirementNeedsVersion == 'by age' %}
            var retireAge = $('#retirement_age').val();
            var age = $('#retirement_age').data('age');
            var inflation_factors = [1.03, 1.06, 1.09, 1.13, 1.16, 1.19, 1.23, 1.27, 1.3, 1.34, 1.38, 1.43, 1.47, 1.51, 1.56, 1.6, 1.65, 1.7, 1.75, 1.81, 1.86, 1.92, 1.97, 2.03, 2.09, 2.16, 2.22, 2.29, 2.36, 2.43, 2.5, 2.58, 2.65, 2.73, 2.81, 2.9, 2.99, 3.07, 3.17, 3.26, 3.36, 3.46, 3.56, 3.67, 3.78, 3.9, 4.01, 4.13, 4.26, 4.38];
            if(isNaN(retireAge) || retireAge < age || retireAge <= 50){
                $('#q5a, #q5').val('');
                return;
            }
            var years = retireAge - age;
            var idx = years;
        {% else %}
            var inflation_factors = [1.16, 1.34, 1.56, 1.81, 2.09, 2.43, 2.81, 3.26];
            var years = $("input[name='RN_NumberOfYearsBeforeRetirement']:checked").val();
            var idx = (years / 5) - 1;
            if (!triggered) {
                $('#firstAudio').hide();
                $('#secondAudio').show();
                $('#second').click();
                triggered = true;
            }
        {% endif %}
        var RI = {{ data.RN_ReplacementIncome }};
        var q5a = RI * inflation_factors[idx];
        if (!q5a || isNaN(q5a)) {
            q5a = 0;
        }
        $('#q5').val(years);
        $('#q5a').val(Math.round(q5a).toLocaleString('us', {minimumFractionDigits: 0, maximumFractionDigits: 0}));
    }

    $(document).ready(function() {
        {% if data.RN_InflationAdjustedReplacementIncome is not null %}
            var q5a = {{ data.RN_InflationAdjustedReplacementIncome }};
            $('#q5a').val(q5a.toLocaleString('us', {minimumFractionDigits: 0, maximumFractionDigits: 0}));
        {% endif %}
        $('.yearsBeforeRetirement').click(updateYearsBeforeRetirement);
        $('#retirement_age').on('change keyup', updateYearsBeforeRetirement).trigger('change');
    });

</script>