{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Audit'})) }}
<style>
    #ajaxModuleContent table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>

<form action="{{path('_manage_audit_search')}}" method="POST" style="margin-bottom:20px;" id="auditSearchForm">
    <div class="form-group">
        <label for="userid">Account:</label>
        <select class="form-control" name="userid" id="userid" onchange="updateUserOptions();updatePlansOptions();">
            <option value="">All</option>
            {% for account in accounts %}
                <option value="{{account.id}}">{{account.company}} (ID: {{account.id}})</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group" id="usersFilter" style="display:none;">
        <label for="accountsUsersId">User:</label>
        <select class="form-control" name="accountsUsersId" id="accountsUsersId"></select>
    </div>

    <div class="form-group">
        <label for="tablename">Table:</label>
        <select class="form-control" name="tablename" id="tablename" onchange="updatePlansOptions();">
            <option value="">All</option>
            {% for table in tablenames %}
                <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group" id="plansFilter" style="display:none;">
        <label for="planid">Plan:</label>
        <select class="form-control" name="planid" id="planid"></select>
    </div>
    <p>Start Date: <input type="text" id="start-picker"> End Date: <input type="text" id="end-picker"></p>

    <button type="button" class="btn btn-primary" onclick="submitSearch()">Search</button>
    <button type="button" class="btn btn-info" onclick="resetForm()">Reset</button>
</form>

<div class="table-responsive" id="auditTableContainer" style="display:none;">
    <table id="auditTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id for User</th>
            <th>Type</th>
            <th>Section</th>
            <th>Page</th>
            <th>Time</th>
            <th>Table</th>
            <th>Keys</th>
        </tr>
        </thead>
    </table>
</div>


<script>
    $('#start-picker').datepicker();
    $('#end-picker').datepicker();
    var dataTable = null;
    
    $(function() {
        updateUserOptions();
        updatePlansOptions();
    });
    
    function initializeDataTable() {
        dataTable = $('#auditTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{ path('_manage_audit_search') }}",
                "type": "POST",
                "data": function (d) {
                    d.userid = $("#userid").val();
                    d.accountsUsersId = $("#accountsUsersId").val();
                    d.tablename = $("#tablename").val();
                    d.startDate = $('#start-picker').val();
                    d.endDate = $('#end-picker').val();
                    d.planid = $('#planid').val();
                }
            },
            "dom": 'rltip',
            columns: [
                {data: "accountsUsersId"},
                {data: "type"},
                {data: "section"},
                {data: "page"},
                {
                    data: "time",
                    render: function (data, type, full, meta) {
                        return data.date;
                    }
                },
                {data: "tablename"},
                {data: "keys"}
            ],
            "oLanguage": {
                "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />'
            }
        });
    }

    function submitSearch() {
        if (!$('#start-picker').val() && !$('#end-picker').val()) {
            alert("Please enter a start and/or end date");
            return;
        }
        $('#auditTableContainer').show();
        if (!dataTable) {
            initializeDataTable();
            return;
        }  
        dataTable.ajax.reload();
        return false;
    }   

    function resetForm() {
        $('#auditSearchForm')[0].reset();
    }
    
    function updateUserOptions() {
        $('#usersFilter').hide();
        $('#accountsUsersId').html('<option value="">All</option>').val('');
        var userid = $('#userid').val();
        if (userid) {
            $('#usersFilter').show();
            $.getJSON('{{ path('_manage_audit_getAccountsUsers') }}', {userid: userid }, function(data) {
                $.each(data, function(key, val) {
                    $('#accountsUsersId').append('<option value="'+val.id+'">'+val.name+'</option>');
                });
            });
        }
    }
    
    function updatePlansOptions() {   
        $('#plansFilter').hide();
        $('#planid').html('<option value="">All</option>').val('');
        var table = $('#tablename').val();
        var userid = $('#userid').val();
        if (table === 'plans' && userid) {
            $('#plansFilter').show();
            $.getJSON('{{ path('_manage_audit_getPlans') }}', {userid:userid}, function(data) {
                $.each(data, function(key, val) {
                    $('#planid').append('<option value="'+val.id+'">'+val.name+'</option>');
                });
            });
        }
    }

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}