{% set pagename = "Plan Identification" %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plan Identification'})) }}

{% if session.masterRoleType == "vwise_admin"%}
<button type ="button" onclick ="showPlansXml()" class = "btn btn-primary">Test Plans Call</button>
<button type ="button" onclick ="$('#confirmupdatePlansidUrl').toggle()" class ="btn btn-warning"  style = "float:right">Realign plan ids</button>

<div id ="confirmupdatePlansidUrl" style = "display:none">
    <hr/>
    <h3>Are you sure you want to realign plan ids</h3>    <br/><br/><button type ="button" onclick ="updatePlansidUrl()" class ="btn btn-danger"  >Realign plan ids</button>
 <hr/>
</div>
<br/><br/>
<div id ="testplandiv"></div>
<div id ="updatePlansidUrl"></div>
{% endif %}

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-{{ type }}">{{ flash_message }}</div>
    {% endfor %}
{% endfor %}
<div class="alert alert-success" id="saved-alert" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes successfully saved.</div>
<div class="alert alert-success" id="partial-alert" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes to Initial Plan saved.</div>
<div class="alert alert-danger" id="failed-alert" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes failed to save, planid already exists</div>
<h2>Plan Identification</h2>
<br />
{% if associate == 1 and writeable %}
<button button type="button" class="btn btn-primary" data-toggle="modal" data-target="#plans-modal" onclick = "updateplans()">Choose your plan</button>
<br /><br />
{% endif %}


<form role="form" id="plan-identification" method="post" action = "" >
  <input type = "text"  name = "id"  value = "{{ smartplanid }}" style = "display:none" readonly = "true" />
  <div class="form-group">
    <label for="plan-name">Plan Name</label>
    <input {% if associate == 1  or not writeable %}disabled{% endif %} type="text" value = "{{ planname }}" class="form-control"  data-bv-notempty placeholder="Plan Name" id = "planname" name = "name" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="plan-id">Plan ID</label>
    <input {% if associate == 1  or not writeable %}disabled{% endif %} type="text" value = "{{ planid }}" class="form-control"  data-bv-notempty placeholder="Plan ID" id = "planid" name = "planid" style = "display:none" >
    <input {% if associate == 1  or not writeable %}disabled{% endif %} type="text" value = "{{ planid }}" class="form-control"  data-bv-notempty placeholder="Plan ID" id = "displayedplanid" onkeyup = "$('#planid').val(this.value);" onpaste = "$('#planid').val(this.value);" onchange = "$('#planid').val(this.value);" autocomplete="off">
  </div>
  <input type = "text" id = "plantypecd" value = "{{ currentplan.activePlantypecd }}" style = "display:none" />
  {% if connectionType == "Educate" %}
  <div class="form-group">
    <label for="plan-redirect-url">Redirect Address</label>
    <input type="url" class="form-control" name = "redirectWebsiteAddress" value = "{{  redirectwebsiteaddress  }}" data-bv-notempty placeholder="Plan Redirect URL" id = "redirectWebsiteAddress" {% if not writeable %}disabled{% endif %} autocomplete="off">
    <p class="help-block">ex. "http://google.com"</p>
  </div>
  {% endif %}
  {% if currentmember.enrollmentRedirectEnabled %}
  <div class="form-group">
    <label for="enrollmentRedirectAddress">Enrollment Redirect</label>
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="enrollmentRedirectOn" value="1" aria-label="Toggle Enrollment Redirect" {% if currentplan.enrollmentRedirectOn %}checked="checked"{% endif %}>
      </span>
      <input type="text" class="form-control" id="enrollmentRedirectAddress" name="enrollmentRedirectAddress" value="{{ currentplan.enrollmentRedirectAddress }}" aria-label="Enrollment Redirect" autocomplete="off">
    </div>
  </div>
  {% endif %}
    {% if isVwiseAdmin %}
      <div class="form-check">
        <input {% if initialPlan %}checked {% endif %}type="checkbox" class="form-check-input" id="initialPlan">
        <label class="form-check-label" for="initialPlan">Initial Plan</label>
      </div>
      <div class="form-check">
        <input {% if appVersion == 2 %}checked {% endif %}type="checkbox" class="form-check-input" id="spe2">
        <label class="form-check-label" for="spe2">SmartPlan 2.0</label>
      </div>
    {% endif %}
  {% if writeable %}
  <button type = "button" class="btn btn-success" id = "plan-identificationButton">Save</button>
  {% endif %}

</form>

<script>
$(document).ready(function() 
{
  $( "#plan-identificationButton" ).click(function() 
  {

    $('#plan-identification').bootstrapValidator('validate');

  });


  $('#plan-identification').bootstrapValidator(
  {

  }).on('success.form.bv', function(e) 
  {
    // Prevent form submission
    e.preventDefault();
    var planid = $('#planid').val();
    var plantypecd = $('#plantypecd').val();
    var initialPlan = ($('#initialPlan').is(':checked') ? 1 : 0);
    var spe2 = ($('#spe2').is(':checked') ? 2 : 1);
    associate(planid,plantypecd, initialPlan, spe2);
  });
});


</script>
<div class="modal fade" tabindex="-1" role="dialog" id="plans-modal" aria-labelledby="plans-modal-title" aria-hidden="true" id="plan-list-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="plans-modal-title">Choose your plan</h3>
      </div>

        <div class="modal-body">
        <img src = "{{ asset('images/load-icon.gif') }}" id = "load-icon" />
{% if associate == 1 and writeable %}
{% set tablename = "recordkeeperPlans" %}
{% set table = "recordkeeperPlans" %}
{% set findby = "a.userid" %}
{% set findbyvalues = userid %}
{% if connectionType starts with  "SRT" %}
{% set types = "a.id,a.name,a.plantypecd" %}
{% else %}
{% set types = "a.id,a.name,a.planid" %}
{% endif %}

{% set template = 'PlansPlansBundle:PlanIdentification:Search/recordkeeperplans.html.twig' %}
{% set header = "<th>Id</th><th>Name</th><th>Plan Id</th>" %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{% endif %}
      </div>
    </div>
  </div>
</div>

{{ include ("PlansPlansBundle:PlanIdentification:javascript/index.js.twig") }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
        


 
