{% extends('ManageManageBundle:KitchenSink:reports/basereport.html.twig') %}
{% block content %}
<table class="table table-striped">
    <tr>
        <td align ="left"><b>Key</b></td>
        <td align ="right"><b>Value</b></td>
    </tr>
    {% for key, value in row %}
    <tr>
        <td align ="left">
            {{ key }} 
        </td>
        <td align="right">
            {{ value | e("js") }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}