{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[	
	{{ account.id }},
	"{{ account.company }}",
	"{{ account.partnerid | default ("No Partner Id Exists for this account") }}"
]
{% endfor %}