{% if app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}
<div id="allocate_confirm" class="modal simple" style="display:none;">
        <div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:1000;border-radius:4px;">
                <div class="spinner">
                        <img src="{{ absolute_url("/") | raw }}/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
                </div>
        </div>
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <h1>{{ 'one_quick_note' | trans ({}, 'widget') }}</h1>
        <p>{{ 'changing_your_allocation_warning' | trans ({}, 'widget') }}</p>
        <h3 class="color-primary">
                <div class="checkbox">
                        <input name="aca_checkbox" type="checkbox" value="1" />
                        <label></label>
                </div>
                {{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}
        </h3>
        <div class="buttons">
                <button class="back" type="button">{{ 'back' | trans ({}, 'widget') }}</button>
                <button class="confirm {% if irioVersion == "iframe" %}bg-primary{% endif %}" type="button" disabled="disabled" id ="acacontinue">{{ 'continue' | trans ({}, 'widget') }}</button>
        </div>
        <small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
</div>
{% endif %}
