{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}
        <div id="allocate" class="modal simple" style="display:none;">
                <div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:9000;border-radius:4px;">
                                        <div class="spinner">
                                                <img src="{{ absolute_url("/") | raw }}/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
                                        </div>
                                </div>
                                <form id="allocateForm">
                        <input type="hidden" name="maxMatch" value="{{ data.maxMatch }}" /><input type="hidden" id="rothCurrent" value="{{ data.rothCurrent }}" />
                        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
                        <h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
                        <p>
                                {{ 'retirement_target_will_be' | trans ({}, 'widget') }} $<span class="data_selectedAmount"></span>.
                                <br>{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                                        {{ allocateFlatDollarDescription1 }} $<span class="data_selectedDeferralFlatDollar"></span> {{ allocateFlatDollarDescription2 }} $<span class="data_newDeferralFlatDollar"></span>.
                                                {% else %}
                                {{ 'this_is_a' | trans ({}, 'widget') }} <span class="data_selectedDeferral"></span>% {{ 'new_contribution_rate_of' | trans ({}, 'widget') }} <span class="data_newDeferral"></span>%.{% endif %}
                        </p>{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                                <h3 class="color-primary">{{ 'allocate_contribution' | trans ({}, 'widget') }} $<span id="newDeferral" class="data_newDeferralFlatDollar"></span></h3>
                                        {% else %}
                        <h3 class="color-primary">{{ 'allocate_contribution' | trans ({}, 'widget') }} <span id="newDeferral"class="data_newDeferral"></span>%</h3>{% endif %}

                                        <div id="slider">
                                                <div id="allocate_pretax" class="allocate-val">
                                                        <h5>
                                                                {{ 'pretax' | trans ({}, 'widget') }}
                                                                <i class="icon-info" {% if irioVersion == "api" %}title="{{ 'tooltip_pretax' | trans ({}, 'widget') }}"{% endif %} data-interface="tooltip" data-position="top" data-title="none" data-theme="dark" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0"></i>
                                                        </h5>
                                                        <h1 class="rev">
                                                                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                                                        $<output></output>
                                                                {% else %}
                                                                        <output></output>%
                                                                {% endif %}
                                                        </h1>
                                                </div>

                                                <div id="allocate_slider" data-min="0" data-max="5"></div>

                                                <div id="allocate_roth" class="allocate-val">
                                                        <h5>
                                                                {{ 'roth' | trans ({}, 'widget') }}
                                                                <i class="icon-info" {% if irioVersion == "api" %}title="{{ 'tooltip_roth' | trans ({}, 'widget') }}"{% endif %} data-interface="tooltip" data-position="top" data-title="none" data-theme="dark" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0"></i>
                                                        </h5>
                                                        <h1 class="rev">
                                                                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                                                        $<output></output>
                                                                {% else %}
                                                                        <output></output>%
                                                                {% endif %}
                                                        </h1>
                                                </div>
                                        </div>

                        <div class="buttons">
                                <button class="back" type="button">{{ 'back' | trans ({}, 'widget') }}</button>
                                {% if not viewOnly %}<button class="confirm bg-primary" type="button">{{ 'accept' | trans ({}, 'widget') }}</button>{% endif %}
                        </div>
                        <small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
                </form>
        </div>
{% endif %}
