<div id="analysis" class="modal bg-primary" style="display:none;">
        {% if logo is defined %}
        <img class="logo" src="{{ logo }}" alt="Sponsor Name">
        {% endif %}
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <div class="col summary">
                <div class="intro">
                        <h1>{{ 'great' | trans ({}, 'widget') }}</h1>
                        <p>{{ 'below_you_will_find' | trans ({}, 'widget') }}</p>
                </div>
                <div class="estimates">
                        <label>{{ 'current_plan_balance' | trans ({}, 'widget') }}&nbsp;<i class="icon-info i-icon" title="{{ 'tooltip_current_balance' | trans ({}, 'widget') }}"></i></label>
                        <div class="figure"><sup>$ </sup><span class ="data_balance"></span></div>
                        <label>{{ 'projected_retirement_balance' | trans ({}, 'widget') }}</label>
                        <div class="figure"><sup>$ </sup><span class ="data_projectedIncome"></span></div>
                </div>
                <div class="projected-monthly color-primary">
                        <label>{{ 'monthly_projected_retirement_income' | trans ({}, 'widget') }}</label>
                        <div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncome"></span><sub> {{ 'starting_at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub></div>
                </div>
        </div>
        <div class="col options" id="irioOptions">
                <div class="intro">
                        <h1>{{ 'increase_your_monthly_income' | trans ({}, 'widget') }}</h1>
                        <p>{{ 'achieving_your_goals' | trans ({}, 'widget') }}</p>
                </div>
                <small>{{ 'confirm_selection_next' | trans ({}, 'widget') }}</small>
                <div class="option" id ="irioOption1">
                        <div class="figure" {% if irioVersion == "api" %}style="display:inline-block !important;"{% endif %}><sup>$ </sup><span class="data_projectedMonthlyIncomeOne"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
                        <button class="color-primary increase-monthly" id="auto-enroll" value="1" >{{ 'select' | trans ({}, 'widget') }}</button>
                </div>
                <div class="option" id ="irioOption2">
                        <div class="figure" {% if irioVersion == "api" %}style="display:inline-block !important;"{% endif %}><sup>$ </sup><span class="data_projectedMonthlyIncomeTwo"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
                        <button class="color-primary increase-monthly" id="no-auto-enroll" value="2" >{{ 'select' | trans ({}, 'widget') }}</button>
                </div>
                <div class="option" id ="irioOption3">
                        <div class="figure" {% if irioVersion == "api" %}style="display:inline-block !important;"{% endif %}><sup>$ </sup><span class="data_projectedMonthlyIncomeThree"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
                        <button class="color-primary increase-monthly" value="3" >{{ 'select' | trans ({}, 'widget') }}</button>
                </div>
                <small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
        </div>
        <div class="clear"></div>
        <div class="details bg-secondary">
                <h4>{{ 'add_more_details' | trans ({}, 'widget') }}</h4>
                <form id="details-form" style="display:none;">
                        <div class="form-group">
                                <label>{{ 'other_retirement_account_balance' | trans ({}, 'widget') }}</label>
                                <input name="other_balance" type="text" placeholder="0.00" class="currency details-input" />
                        </div>
                        <div class="form-group">
                                <label>{{ 'spouses_retirement_account_balance' | trans ({}, 'widget') }}</label>
                                <input name="spouse_balance" type="text" placeholder="0.00" class="currency details-input" />
                        </div>
                        <div class="form-group">
                                <label>{{ 'spouses_annual_income' | trans ({}, 'widget') }}</label>
                                <input name="spouse_income" type="text" placeholder="0.00" class="currency details-input" />
                        </div>
                        <div class="form-group">
                                <label>{{ 'spouses_age' | trans ({}, 'widget') }}</label>
                                <input name="spouse_age" type="text" placeholder="0" class="age details-input" />
                        </div>
                </form>
        </div>
</div>
