<div id="blocked" class="modal simple" style="display:none;">
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <div class="modal-content">
                <h1>Uh oh!</h1>
                <p>
                        Our records indicate you have a current contribution change pending.<br />
                        We are unable to process an additional request at this time.
                </p>
        </div>
</div>