<div id="congrats" class="modal simple" style="display:none;">
        <div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:1000;border-radius:4px;">
                <div class="spinner">
                        <img src="{{ absolute_url("/") | raw }}/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
                </div>
        </div>
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
        <p>
                {{ 'retirement_target_will_be' | trans ({}, 'widget') }} $<span class="data_selectedAmount"></span>.<br />
                                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                        {{ 'this_is_a' | trans ({}, 'widget') }} $<span class="data_selectedDeferralFlatDollar"></span> {{ 'new_contribution_amount_of' | trans ({}, 'widget') }} $<span class="data_newDeferralFlatDollar"></span>.
                                {% else %}
                {{ 'this_is_a' | trans ({}, 'widget') }} <span class="data_selectedDeferral"></span>% {{ 'new_contribution_rate_of' | trans ({}, 'widget') }} <span class="data_newDeferral"></span>%.{% endif %}
        </p>
        <h3 class="color-primary">{{ 'advantage_of_this_opportunity' | trans ({}, 'widget') }}</h3>
        <div class="buttons">
                <button class="back">{{ 'back' | trans ({}, 'widget') }}</button>
                {% if not viewOnly %}<button class="{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}confirm{% elseif app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}allocate_aca{%else %}connected{% endif %} bg-primary">{{ 'accept' | trans ({}, 'widget') }}</button>{% endif %}
        </div>
        <small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
</div>