<div id="cta" class="modal simple" style="display:none;">
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <div class="prev">{{ 'back' | trans ({}, 'widget') }}</div>
        {{ include("WidgetsBundle:Irio:" ~ ctaBodyFile   ~".html.twig") }}
        <h3 class="color-primary">{{ 'send_instructions_to' | trans ({}, 'widget') }}</h3>
        <form class ="emailTemplateForm">
                <div class="form-group">
                        <label>{{ 'email' | trans ({}, 'widget') }}</label>
                        <input type="email" name ="email" placeholder="name@domain.com" />
                </div>
                <div class="form-group">
                        <label>{{ 'text' | trans ({}, 'widget') }}</label>
                        <input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
                </div>
                <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />

                <div class="form-group">
                        <button class="bg-primary {% if irioVersion == "api" %}accept-button{% endif %}"  type="submit">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
                </div>
        </form>
        <small>{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>
</div>