<div id="disclosure" class="modal simple" style="display:none;">
        <div class="modal-content">
                {{ include('WidgetsBundle:Default:fine-print.html.twig') }}
        </div>
        <button class="transparent" id="close-disclosure" type="button">{{ 'close_msg' | trans ({}, 'widget') }}</button>
</div>