{% extends "WidgetsBundle:Irio:base.html.twig" %}
{% block content %}
    <div class="veil">
        <div class="outer">
            <div class="inner">
                <div class="modal simple">
                    <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
                    <p style ="text-align:center;width:50%">
                    {{ 'no_plan_error' | trans ({}, 'widget') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
