<!doctype html>
<style>
	.i-icon {
		background-image: url('{{ absolute_url(asset('/w/img/icon-info.png')) }}') !important;
		font-size:15px !important;
		line-height: 0 !important;
		padding-left: 20px !important;
	}
</style>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'irio_title' | trans ({}, 'widget') }}</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
                {% include('WidgetsBundle:Irio:irio.css.twig') %}
                {% include('WidgetsBundle:Irio:irio.js.twig')  %}
	</head>
	<body>
		<header></header>
                {{ include('WidgetsBundle:Irio:iriobody.html.twig') }}
		<footer></footer>
	</body>
</html>
