<div id ="ajaxContentIrio">
{% include('WidgetsBundle:Irio:irio.css.twig') %}
<div id ="irioBody">
{% include('WidgetsBundle:Irio:irio.js.twig')  %}
{{ include('WidgetsBundle:Irio:iriobody.html.twig') }}
</div>
</div>
<script>
function launchIrio(params)
{
    if (!window.jQuery)
    {
         setTimeout(function(){ launchIrio(); }, 100);
    }
    else
    {
        $("#irioLoader").hide();     
        $("body").find("#widgetLoaderCSS").remove();
        $.ajax({
            url: "{{ absolute_url( path('api_irio_render')) }}",
            xhrFields: {
               withCredentials: true
            },
            data:params,
            type:"POST"
         }).done(function( data ) {
            $( "#ajaxContentIrio" ).html( data );
            setTimeout(function(){ $( "#ajaxContentIrio" ).show() }, 100) ;   
         });  
    }
}
function showIrioPanel()
{
    if (window.jQuery) 
    { 
        $("#irioLoader").show();
        clearInterval(irioPanelInterval );       
    }
}
 var irioPanelInterval = setInterval(function(){ showIrioPanel(); }, 100);
</script>