{{ include("WidgetsBundle:Default:widgetHost.js.twig") }}
<script>
    var widgetSessionId = "test";
    {% if app.request.session.get("REQUEST").sid is defined %}
     widgetSessionId = "{{ app.request.session.get("REQUEST").sid}}";
    {% endif %}
</script>
{% set javafiles = ["/w/js/nouislider.min.js","/w/js/wNumb.min.js","/w/js/autoNumeric-min.js","/w/js/functions.js","/w/js/irio-data.js","/w/js/irio.js"] %}
{% for javafile in javafiles %}
<script>
{{ fileGetContents(absolute_url(javafile)) | raw }}
</script>
{% endfor %}