<style>
{{ fileGetContents("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400") | raw }}
</style>
{% set cssfiles = ["/w/css/noUiSlider.css","/w/css/irio.css","/w/css/irioAmeritas.css","/w/css/white-label.css"] %}
{% for cssfile in cssfiles %}
<link href="{{absolute_url(cssfile) | raw }}" rel="stylesheet">
{% endfor %}

