<style>
        @media screen and (max-width: 380px) {
                .close span {
                        color: rgba(0,0,0,0);
                }

        }

        .i-icon {
                background-image: url('{{ absolute_url(asset('/w/img/icon-info.png')) }}') !important;
                font-size:15px !important;
                line-height: 0 !important;
				padding-left: 20px !important;
        }
</style>
{% set irioVersion = "api" %}
{% set logo = absolute_url("/") | raw ~ '/w/img/Ameritas_RP_Logo_WHITE_320X40.png' %}
{% set viewOnly = data.viewOnly %}
{% set mixedDeferral =  app.request.session.get("mixedDeferral") is not null and  app.request.session.get("mixedDeferral")   %}
{% set hideSalaryForm =  mixedDeferral %}
{% set salaryFormFile = "salaryFormAmeritas" %}
{% set allocateFlatDollarDescription1 = 'this_is_a' | trans ({}, 'widget') %}
{% set allocateFlatDollarDescription2 = 'new_contribution_rate_of' | trans ({}, 'widget') %}
{% set ctaBodyFile = "ameritas/ctaBody" %}
<div class="veil">
        <div class="outer">
                <div class="inner">

                    {{ include("WidgetsBundle:Irio:salaryConfirmation.html.twig") }}

                    {{ include("WidgetsBundle:Irio:mixedDeferral.html.twig") }}
                    
                    {{ include("WidgetsBundle:Irio:maxReached.html.twig") }}

                    {{ include("WidgetsBundle:Irio:analysis.html.twig") }}

                    {{ include("WidgetsBundle:Irio:congrats.html.twig") }}

                    {{ include("WidgetsBundle:Irio:allocate.html.twig") }}

                    {{ include("WidgetsBundle:Irio:allocateConfirm.html.twig") }}

                    {{ include("WidgetsBundle:Irio:cta.html.twig") }}

                    {{ include("WidgetsBundle:Irio:success.html.twig") }}

                    {{ include("WidgetsBundle:Irio:thankYou.html.twig") }}

                    {{ include("WidgetsBundle:Irio:disclosure.html.twig") }}

                    {{ include("WidgetsBundle:Irio:blocked.html.twig") }}

                </div>
        </div>
</div>
                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                <span class="data_newDeferralFlatDollarRaw" style ="display:none"></span>
                {% endif %}
<script>
$.ajax({
    url: "{{ absolute_url('/widgets/ajax/calculate')}}",
    xhrFields: {
       withCredentials: true
    }
 }).done(function( data ) {
        var object = JSON.parse(data);
        figure = object.projectedIncome;
irioFigure({figure: figure, age: object.age, retireAge: object.retireAge});
 });      
$("body").addClass("{{ data.lang }}");
var irioVersion = "{{irioVersion}}";
function calculateIrioSliderDefault()
{
    var maxVal =  calculateIrioSliderMax();
    var rothVal = parseInt($('#rothCurrent').val());
    var pretaxVal = Math.max(maxVal - rothVal, 0);
    return pretaxVal;
}
</script>
{{ include('WidgetsBundle:GoogleAnalytics:googleaddIrio.html.twig') }}
