<div id="max-reached" class="modal single-col bg-primary" style="display:none;">
        {% if logo is defined %}
        <img class="logo" src="{{ logo }}" alt="Sponsor Name">
        {% endif %}
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <div class="col summary">
                <div class="intro">
                        <h1>{{ 'wow' | trans ({}, 'widget') }}</h1>
                </div>
                <p>{{ 'our_records_show' | trans ({}, 'widget') }}</p>
                <div class="estimates">
                        <label>{{ 'current_plan_balance' | trans ({}, 'widget') }}&nbsp;<i class="icon-info i-icon" title="{{ 'tooltip_current_balance' | trans ({}, 'widget') }}"></i></label>
                        <div class="figure"><sup>$ </sup><span class="data_balance"></span></div>
                        <label>{{ 'projected_retirement_balance' | trans ({}, 'widget') }}</label>
                        <div class="figure"><sup>$ </sup><span class="data_projectedIncome"></span></div>
                </div>
                <div class="projected-monthly color-primary">
                        <label>{{ 'monthly_projected_retirement_income' | trans ({}, 'widget') }}</label>
                        <div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncome"></span><sub> {{ 'starting_at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub></div>
                </div>
                <button class="color-primary" onclick="closeWidget()">{{ 'close_msg' | trans ({}, 'widget') }}</button>
        </div>
</div>
