<div id ="mixedDeferral" class="modal simple"  {% if not mixedDeferral %}style ="display:none"{% endif %}>
    <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
    <h1>{{ 'will_i_have_enough' | trans ({}, 'widget') }}</h1>
    <p style ="text-align:center;width:50%">
    {{ 'will_i_have_enough_desc1' | trans ({}, 'widget') }}
    <br/><br/>
    {{ 'will_i_have_enough_desc2' | trans ({}, 'widget') }}
    </p>
</div>