<div id="salary-confirmation" class="modal single-col bg-primary" {% if hideSalaryForm %}style ="display:none"{% endif %} >
        <div class="close">
                <span>{{ 'close_msg' | trans ({}, 'widget') }}</span>
        </div>
        <div class="col summary">
                {{ include('WidgetsBundle:Default:' ~ salaryFormFile ~ '.html.twig') }}
        </div>
        {{ include('WidgetsBundle:Default:languageForm.html.twig') }}
</div>
