<div id="success" class="modal simple" style="display:none;">
    <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
    <h1>{{ 'success' | trans ({}, 'widget') }}</h1>
    <p>
            {{ 'your_confirmation' | trans ({}, 'widget') }} <span class="data_confirmationCode"></span> {{ 'for_future_reference' | trans ({}, 'widget') }}
    </p>
    <h3 class="color-primary">{{ 'send_a_confirmation_to' | trans ({}, 'widget') }}</h3>
    <form class ="emailTemplateForm">
            <div class="form-group">
                    <label>{{ 'email' | trans ({}, 'widget') }}</label>
                    <input type="email" name ="email" placeholder="name@domain.com" />
            </div>
            <div class="form-group">
                    <label>{{ 'text' | trans ({}, 'widget') }}</label>
                    <input type="text" name ="text" placeholder="xxx-xxx-xxxx" />
            </div>
            <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />

            <div class="form-group">
                    <button class="bg-primary {% if irioVersion == "api" %}accept-button{% endif %}" type="submit">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
            </div>
    </form>
    <small>{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>
</div>