<div id="thank-you" class="modal simple" style="display:none;">
        <div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
        <h1>{{ 'thankyou_msg' | trans ({}, 'widget') }}</h1>
        <h3 class="color-primary">{{ 'email_text_msg' | trans ({}, 'widget') }}</h3>
</div>