<form id ="addform">
Type: 
<select class ="form-control" name ="pathTypeId">
   {% for type in types %}
       <option value ="{{ type.id }}">{{ type.description }}</option>
   {% endfor %}
</select>
<br/>
Path:
<input class ="form-control" type ="text" value ="" name ="path" required>
<br/>
Description:
<input  class ="form-control"  type ="text" value ="" name ="description" required>
<br/>
Available to all plans
<input type ="checkbox" name="general" />
<br/><br/>
<button type = "submit" class="btn btn-info">Add</button>
</form>
<script>
$( "#addform" ).on( "submit", function( event ) 
{
  event.preventDefault();
  Paths.addForm( $( this ).serializeArray());
});    
Paths.addForm = function(params)
{
    this.ajaxPost("{{ path('_paths_add_form_saved') }}",params);
    this.refreshPathList();
};
</script>
