Are you sure you want to delete this awesome path?
<br/><br/>

<button type = "submit" class="btn btn-warning" onclick ="Paths.deleteForm({{id }})">Delete</button>
<script>
Paths.deleteForm = function(id)
{
    this.ajaxPost("{{ path('_paths_delete_form_save') }}",{ id: id  });
    this.refreshPathList();
};
</script>