<form id ="editform">
Type: 
<select class ="form-control" name ="pathTypeId">
   {% for type in types %}
       <option value ="{{ type.id }}" {% if type.id == path.type.id %}selected{% endif %}>{{ type.description }}</option>
   {% endfor %}
</select>
<br/>
Path:
<input class ="form-control" type ="text" value ="{{ path.path }}" name ="path" required>
<br/>
Description:
<input  class ="form-control"  type ="text" value ="{{ path.description }}" name ="description" required>
<br/>
Available to all plans
<input type ="checkbox" name="general" {% if path.general %}checked{% endif %} />
<br/><br/>
<input type ="hidden" name ="id" value ="{{ path.id }}"/>
<button type = "submit" class="btn btn-success">Save</button>
</form>
<script>
$( "#editform" ).on( "submit", function( event ) 
{
  event.preventDefault();
  Paths.editForm( $( this ).serializeArray());
});    
</script>