{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Path Manager'})) }}
{% set table = "PathManager" %}
{% set tablename = "PathManager" %}
{% set url = path('_paths_getPaths') %}
{% set header = "<th>id</th><th>PathId</th><th>Active</th><th>Edit</th><th>Set Accounts</th><th>Copy Path</th><th>Configure</th><th>Delete</th>" %}
{% set unsearchableArray = [2,3,4,5,6] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<button class ="btn btn-info" onclick ="Paths.addPathModal()">Create new path</button>
{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
