{% if paths is not empty %}
<select class ="pathsSelect" data-id="{{ entity.id }}"  data-field="{{ type.type }}PathId">
    <option></option>
    {% if disabled %}
    <option value ="-1" {% if  disabledValue %}selected{% endif %}>Disabled</option>
    {% endif %}
    {% for path in paths %}
        <option value ="{{ path.id }}" {% if selectedPath is not null and selectedPath.id == path.id %}selected{%endif %}>{{ path.path }}</option>
    {% endfor %}
</select>
{% endif %}