<script>

function hasWhiteSpace(s)
{
    return s.indexOf(' ') >= 0;
}

function addmessage()
{
    $('div').removeClass("has-error");
    $('#errormsg').hide();
    $('#nowhitespace').hide();
    var internalName = $.trim($("#internalName").val());
    var displayName = $.trim($("#displayName").val());
    var group = $.trim($("#groupSelect").val());
    var page = "{{ path('_manage_plans_messagingPanes_addmessageSaved') }}";
    var querystring = "";
    querystring = "internalName=" + internalName + "&displayName=" + displayName + "&group=" + group;

    if (internalName == "" || displayName == "" || hasWhiteSpace(internalName)) {
        $('#errormsg').show();
        if (internalName == "" || hasWhiteSpace(internalName)) {
            $('#divInternalName').addClass('has-error');
            if (hasWhiteSpace(internalName)) {
                $('#nowhitespace').show();
            }
        }
        if (displayName == "") {
            $('#divDisplayName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            messagesPanesTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function editmessage(id)
{
    $('div').removeClass("has-error");
    $('#errormsg').hide();
    $('#nowhitespace').hide();
    var internalName = $.trim($("#internalName").val());
    var displayName = $.trim($("#displayName").val());
    var group = $.trim($("#groupSelect").val());
    var page = "{{ path('_manage_plans_messagingPanes_editmessageSaved') }}";
    var querystring = "";
    querystring = "internalName=" + internalName + "&displayName=" + displayName + "&group=" + group + "&id=" + id;

    if (internalName == "" || displayName == "" || hasWhiteSpace(internalName)) {
        $('#errormsg').show();
        if (internalName == "" || hasWhiteSpace(internalName)) {
            $('#divInternalName').addClass('has-error');
            if (hasWhiteSpace(internalName)) {
                $('#nowhitespace').show();
            }
        }
        if (displayName == "") {
            $('#divDisplayName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            messagesPanesTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function deletemessage(id)
{
    var page = "{{ path('_manage_plans_messagingPanes_deletemessageSaved') }}";
    var querystring = "id=" + id;
    $.post(page, querystring).done(function(data) {
        messagesPanesTable.fnDraw(false);
        closeLightBox();
    });
}

function addgroup()
{
    $('div').removeClass("has-error");
    var groupname = $.trim($("#groupname").val());
    var page = "{{ path('_manage_plans_messagingPanes_groups_addgroupSaved') }}";
    var querystring = "";
    querystring = "groupname=" + groupname;

    if (groupname == "") {
        $('#errormsg').show();
        $('#divGroupName').addClass('has-error');
    } else {
        $.post(page, querystring).done(function(data) {
            messagesPanesGroupsTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function editgroup(id)
{
    $('div').removeClass("has-error");
    var groupname = $.trim($("#groupname").val());
    var page = "{{ path('_manage_plans_messagingPanes_groups_editgroupSaved') }}";
    var querystring = "";
    querystring = "groupname=" + groupname + "&id=" + id;

    if (groupname == "") {
        $('#errormsg').show();
        $('#divGroupName').addClass('has-error');
    } else {
        $.post(page, querystring).done(function(data) {
            messagesPanesGroupsTable.fnDraw(false);
            closeLightBox();
        });
    }
}


function deletegroup(id)
{
    var page = "{{ path('_manage_plans_messagingPanes_groups_deletegroupSaved') }}";
    var querystring = "id=" + id;
    $.post(page, querystring).done(function(data) {
        messagesPanesGroupsTable.fnDraw(false);
        closeLightBox();
    });
}

</script>