<button class ="btn btn-primary" onclick ="ajaxModal('{{ path('_account_system_messages_viewMessage') }}?id={{ message.smid }}','View Full Message')">View Full Message</button>
<button class ="btn btn-danger" onclick ="ajaxModal('{{ path('_account_system_messages_deleteMessage') }}?id={{ message.ausmid }}','Delete Message')">Delete Message</button>