{% for email in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ email.id }},
	"{{ email.email }}",
    "<a href = \"javascript:deleteBatchFileNotificationEmail('{{ email.id }}')\">Delete</a>"
]
{% endfor %}

