{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Accounts'})) }}
<a href = "{{ path('_manage_accounts') }}">Return to Accounts List</a>
<br/>
<br/>
{% if writeable %}
<a href = "javascript:ajaxModal('{{ path('_account_user_add') }}?id={{userid }}','Add User','large')">
    <button type="button" class="btn btn-info">Add User</button>
</a>
<br/>
<br/>
{% endif %}
{% set tablename = "accountsUsers" %}
{% set unsearchableArray = [0,5] %}
{% set header = "<th>id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Role Type</th><th>Actions</th>" %}
{% set data = '{ userid: "' ~ userid~ '" }' %}
{% set unseeableArray =  [0] %}
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
