{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ plan.id }},
	"{{ plan.name }}",
	"{{ plan.planid }}",
        "<span class=\"glyphicon glyphicon-book\" aria-hidden=\"true\" title = \"Plans UI\" onclick = \"ajaxModal('{{ path('_manage_plans_ui') }}?id={{ plan.id }}','Plans UI')\"></span> {% if request.roleType == "vwise_admin" %}<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\" title = \"Copy Plan to Another Account\" onclick = \"ajaxModal('{{ path('_manage_accounts_copyPlanToAnotherAccount') }}?id={{ plan.id }}','Copy Plan to Another Account','large')\"></span>{% endif %}  <span class =\"glyphicon glyphicon-cog\" onclick = \"ajaxModal('{{ path('_manage_report_styles') }}?planid={{ plan.id }}&userid={{ plan.userid }}','Report Styles')\" title = \"Report Styles\"></span> <span  class = \"glyphicon glyphicon-th-list\" onclick = \"ajaxModal('{{ path('_manage_outreach_setSponsorConnectTemplates') }}?id={{ plan.id }}','Smart Connect Template Configuration','large')\" title = \"Manage Sponsor Templates\"></span><a href = \"{{ path('_manage_risk_profile_creator') }}?planid={{ plan.id }}\" class = \"glyphicon_link\"><span class=\"glyphicon glyphicon-th-large\" aria-hidden=\"true\" title = \"Risk Profile Creator\"></span></a>"
]
{% endfor %}

