{% set alertId = "campaignScheduledAlert"%}
{% set alertContent = "Campaign Scheduled" %}
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{% set alertId = "campaignScheduledErrorAlert"%}
{% set alertContent = "An error occurred" %}
{% set glyphicon = "remove" %}
{% set alertType = "danger" %}    
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{% set alertId = "campaignScheduledPastDate"%}
{% set alertContent = "Cannot schedule in the past" %}
{% set glyphicon = "remove" %}
{% set alertType = "danger" %}    
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}

{% set sponsorRequest = sponsorConnect %}
{{ include("PlansPlansBundle:SponsorConnect:schedule.html.twig") }}
<br/><br/>

<strong>Send now</strong> <input type ="checkbox" id ="sendnow"  />  <br/><br/>

<button class ="btn btn-primary" style ="margin-right:10px" onclick ="createCampaign()" id ="sponsorCreateCampaignRequest" >Create</button>  <button class ="btn btn-danger" onclick ="closeLightBox()" id ="sponsorCreateCampaignRequestCancel">Cancel</button>
<input type ="text" style ="display:none" id ="querystring" value ="{{querystring | raw}}"  />

<img src ="{{ asset('images/load-icon.gif') }}" id ="sponsorCreateCampaignRequestLoader" style ="display:none" />
<script>

 $(function () 
{
    $('#scheduledate').datepicker({ dateFormat: "yy-mm-dd",minDate: 0 });
    $('#scheduletime').timepicker({ timeFormat: 'HH:mm:ss',dynamic: false });
});   
function  createCampaign()   
{
    var querystring =$("#querystring").val() +"&sponsorconnectid={{sponsorConnect.id}}&time=" + $("#scheduledate").val() + " " + $("#scheduletime").val() + "&sendnow=" + $("#sendnow").prop("checked");   
    var page = "{{path('_plans_sponsor_connect_scheduleSponsorConnect_saved') }}";
    loadAjax("sponsorCreateCampaignRequest");
    $("#sponsorCreateCampaignRequestCancel").hide();
    $.post(page, querystring).done(function(data) 
    {
        if (data == "bad date")
        {
            showalert('campaignScheduledPastDate');
            showSponsorConnectButtons()
        }
        else if (data == "Success")
        {
            showalert('campaignScheduledAlert');
            sponsorConnectRequestsTable.fnDraw(false);
        }
        else
        {
            showalert('campaignScheduledErrorAlert');
            showSponsorConnectButtons();
        }
  
    }).fail(function() 
    {
        showalert('campaignScheduledErrorAlert');
        
    }).always(function() 
    {
        $("#sponsorCreateCampaignRequestLoader").hide();
        
    });
    
}
function showSponsorConnectButtons()
{
    ajaxLoaded('sponsorCreateCampaignRequest');
    $("#sponsorCreateCampaignRequestCancel").show(); 
}
</script>