/**
 * @license
 * MyFonts Webfont Build ID 2973452, 2015-02-16T11:55:01-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaNeueLT-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-55-roman/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1988 - 2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
 * Licensed pageviews: 500,000
 * 
 * Webfont: HelveticaNeueLTStd-Hv by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-85-heavy/
 * Copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2973452
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d5f0c");

  
@font-face {font-family: 'HelveticaNeueLT-Roman';src: url('webfonts/2D5F0C_0_0.eot');src: url('webfonts/2D5F0C_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D5F0C_0_0.woff2') format('woff2'),url('webfonts/2D5F0C_0_0.woff') format('woff'),url('webfonts/2D5F0C_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-Hv';src: url('webfonts/2D5F0C_1_0.eot');src: url('webfonts/2D5F0C_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D5F0C_1_0.woff2') format('woff2'),url('webfonts/2D5F0C_1_0.woff') format('woff'),url('webfonts/2D5F0C_1_0.ttf') format('truetype');}
 