/** Confirmation & CTA Slide Styles
  *
  * Import this file using
  * @import "mobile/modules/cta";
  *
  */

  .cta {
  	text-align:center;

    &.left {

      :not(button) {
        text-align: left;
      }
    }

    h2 {
    	font-weight: $bold;
    	font-size: 9vw;
    	line-height: 9.5vw;
    }

    h3 {
    	font-size: 6vw;
    }

    ul {
      font-size: 18px;
  		font-size: 5.5vw;
      font-weight: $light;
      margin: 3vw 0 0;
      padding-left: 25px;
  		padding-left: 6.5vw;
    }

    li {
    	margin-bottom: 3vw;
    }

    img {
      &.button {
      	margin: 0 auto;
      	display:block;
      }
    }

  }



  .confirmation {
  	text-align:center;
    display: none;
    h1 {
    	margin-bottom:30px;
    	margin-bottom: 5vw;
    }

    h2 {
    	margin-bottom:10px;
    	margin-bottom: 4vw;
    }

    h3 {
    	margin-bottom:20px;
    	margin-bottom: 2vw;
    	font-size: 6.5vw;
    }

    h5 {
      margin-top: 5vw;
    }

    &.cta {
      h3 {
        font-size: 4.5vw;
      }
    }

    &.allocate-contribution {
      h2 {
        text-align: left;
      }
      .allocate-val {
        width: 49%;
        display: inline-block;
        margin: 3vh auto;
        text-align: left;
        &#allocate_roth {
          text-align: right;
        }
        h5 {
          margin: 5vh 1vh 1vh;
          > i {
            padding: .75vh 1.5vh;
          }
        }
        h1 {
          font-weight: 100;
          font-size: 9vw;
        }

      }
    }
  }

  .es {
    #redirect {
      .cta {
        h2 {
          font-size: 8vw;
        }
      }
    }
  }
