.noUi-target {
  background: $primary-lt;
  box-shadow: none;
  border: .05vw solid $primary-lt;
  height: 2.55vh;
  border-radius: 0;
  margin: 0 auto 8vh;
  width: 90%;

  &:before,
  &:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: 2.55vh;
    height: 2.55vh;
    top: -0.25vh;
  }
  &:before {
    left: -2.55vh;
    border-radius: 2.55vw 0 0 2.55vw;
  }
  &:after {
    right: -2.55vh;
    border-radius: 0 2.55vw 2.55vw 0;
  }
}



.noUi-handle {
  background-image: url('/w/img/slider-handle.svg');
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border:none;
  border-radius: 0;
  cursor: pointer;
}

.noUi-horizontal {
  .noUi-handle {
    width: 3.5vh;
    height: 7vh;
    top: -1vh;
    left: -2.75vw;
    &:before,
    &:after {
      display: none;
    }
  }
}


.noUi-pips {
  color: $primary-lt;
  &.noUi-pips-horizontal {
    padding: 0;
    height: 3.5vh;
    top: -1vw;
  }
}

.noUi-value {
  display: none;
}

.noUi-marker {
  background: $primary-lt;
  &.noUi-marker-horizontal {
    margin-left: -.05vw;
    border-left: .1vw solid $primary-lt;
    width: 0;
    height: 1vh;
    top: 0;
    &.noUi-marker-normal {
      border-color: $primary-lt;
      opacity: .5;
    }
    &.noUi-marker-large {
      border-color: $primary-lt;
      border-width: .18vw;
      margin-left: -.09vw;
      height: 2vh;
      top: -1vh;
    }
  }
}
