.tooltip {
  div {
    font-family: $secondary-font;
    background: $secondary-dk;
    color: $primary-lt;
    font-size: 2.5vw;
    max-width: 30vh;
    padding: 1vh 1.55vh;
    border-radius: $radius;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 1.75vh solid transparent;
      z-index: 11;
    }
  }
  &.top,
  &.top-right,
  &.top-left {
    div {
      &:after {
        left: 50%;
        bottom: -3vh;
        margin-left: -1.75vh;
      }
    }
  }
  &.top-left {
    margin-left: -1.5vh;
    div {
      &:after {
        left: 10%;
      }
    }
  }
  &.top-right {
    margin-left: 1.5vh;
    div {
      &:after {
        left: 90%;
      }
    }
  }
}
