/* 
---------------------------------------------------------
---------------------------------------------------------

* Navigation Slider

---------------------------------------------------------
---------------------------------------------------------
*/

.indexcity {
  z-index: 9999;
  position: absolute;
}
.left {
  left: 0 !important;
}
.right {
  right: 0 !important;
}
.x {
  display: block;
  position: absolute;
  top: 19px;
  right: -1px;
  width: 26px;
  height: 26px;
  transition: transform .25s ease-in-out;
}
.x:hover {
  opacity: 0.3;
}
.x:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 0;
  border-top: 2px solid #fff;
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 0;
  border-top: 2px solid #fff;
  transform: rotate(-45deg);
  transform-origin: center;
}
.navbar-nav>li>a {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 20px;
}
.navbar-titled {
  margin-top: 59px;
  font-size: 20px;
  font-weight: 100;
}
.navbar-toggle {
  z-index: 9999;
  position: absolute;
  float: left;
  padding: 9px 5px;
}
.navbar-copyright {
  bottom: 0;
  padding: 10px 0;
  font-size: 0.85em;
}
.dropdown-slide {
  color: #fff;
  font-size: 1.3em;
  font-weight: 100;
  padding: 5px 0 5px 0;
  text-decoration: none !important;
  border-bottom: 1px #a3a3a3 solid;
}
.navbar-inverse .navbar-toggle {
  border-color: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #969696;
}
.navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
#nav-toggle {
  position: absolute;
  left: 50%;
  top: 50%;
}
#nav-toggle {
  cursor: pointer;
  padding: 13px 35px 16px 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 26px;
  background: #818181;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  bottom: -7px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: #fff;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: #fff;
}
@media only screen and (max-width: 1028px) {
  .navbar-collapse {
    background-color: rgba(49, 49, 49, 0.98);
    position: fixed;
    top: 0;
    transition: all 0.8s ease-out;
    height: 100%;
    width: 88%;
    left: -700px;
  }
}