{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Tickets'})) }}
{% set showuserid = 1 %}
{{ include ('SupportSupportBundle:Default:jiratables.html.twig') }}
{{ include ('AdminStatsAdminStatsBundle:Jira:javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
