{% extends('PathsPathsBundle:Default:configure/configure.html.twig') %}
{% block sectionContent %}
    <h3>Content</h3>
    {{ render(controller('PathsPathsBundle:Content:index')) }}
    <h3>Starting Videos</h3>
    {{ render(controller('PathsPathsBundle:PlayList:load', {'playlist': 'goodbyeStarting'})) }}
    <h3>Ending Videos</h3>
    {{ render(controller('PathsPathsBundle:PlayList:load', {'playlist': 'goodbyeEnding'})) }}
{% endblock %}