<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>SmartPlan</title>

<style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; background-color:#ebebeb; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 10px 10px !important; display:block; }
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {display:block; text-decoration: none;text-decoration:none!important; cursor:pointer!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         .logo_left img, .logo_right img {
         max-width:90% !important;
          max-height: 90% !important;
    }
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #0a8cce; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #0a8cce !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 420px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         img[class=banner] {width: 420px!important;height:220px!important;}
         img[class=colimg2] {width: 440px!important;height:220px!important;}


         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #0a8cce; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #0a8cce !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:140px!important;}
         img[class=colimg2] {width: 280px!important;height:140px!important;}
         td[class=mobile-hide]{display:none!important;}
         td[class="padding-bottom25"]{padding-bottom:25px!important;}

         }
		 .margin_10 {margin-left:10px !important;}
</style>
</head>
<body>
<!-- Start of header -->
<table bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="header" width="100%">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
<tbody>
<tr>
<td width="100%">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
<tbody>
<tr>
<td><!--VWS Header -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" height="105" style="margin-top: 0px !important; padding-top: 0px !important;" width="100%">
<tr height="105">
<td bgcolor="white" style="-webkit-text-size-adjust: none;" width="12"></td>
<!--LEFT LOGO-->
<td align="left" bgcolor="white" class="logo_left" style="-webkit-text-size-adjust: none;"><img src="{{ data.logoUrl }}" style="max-width: 240px; margin-left:10px;"></td>
<!--RIGHT LOGO-->
<td align="right" bgcolor="white" class="logo_right" style="-webkit-text-size-adjust: none;"></td>
<td bgcolor="white" style="-webkit-text-size-adjust: none;" width="12"></td>
</tr>
</table>

<!-- end of logos --></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- End of Header -->
<!-- Start Full Text -->
<table bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="full-text" width="101%">
<tbody>
<tr>
<td>
<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
<tbody>
<tr>
<td width="100%">
<table align="center" bgcolor="#235ba1" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
<tbody>
<!-- content -->
<!-- spacing -->
<tr>
<td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" width="100%">&nbsp;</td>
</tr>
<!-- End of spacing -->
<tr>

<td st-content="fulltext-content" style="font-family:Helvetica, arial, sans-serif; font-size: 27px; font-weight:600; color: #ffffff; text-align:left; line-height: 40px; display:inline-block;">

<a href="{{ data.loginUrl }}" style="text-shadow: none; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 15px; -webkit-text-size-adjust: none; text-decoration: none !important; color:#ffffff;" target="_blank"><p>Hi {{ data.name }},<br>
  Click here to check the progress of your<br>
  retirement plan account:</p>
</a></td>
</tr>
<!-- spacing -->
<tr>
<td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" width="100%">&nbsp;</td>
</tr>
<tr>
    <td width="100%" align="center" class="devicewidth">
        <a href="{{ data.loginUrl }}" target="_blank" style="text-shadow: none;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-decoration: none;-webkit-text-size-adjust: none;color: #333!important;">
               <img src="https://44fc3a2d1dc04efe1f02-4e2999b3e1a2f52bb8d17ee2268e655c.ssl.cf1.rackcdn.com/1132/1132_video_image.png"style=
                                    "border: 0; display: block; line-height: 0px;  width: 100%">
       </a>
      </td>
 </tr>
<!-- End of spacing -->
<!-- End of content --></tbody>
</table>
<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="tablet-button" height="40" width="70%" st-button="edit" valign="middle">
<tbody>
   <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="30"></td>
                              </tr>
  <!-- Spacing -->
<tr>
<td class="margin_10" align="center" height="35" style=" margin:10px!important; background-color:#fa6522; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:20px; font-family:Helvetica, arial, sans-serif; text-align:center; color:#ffffff; font-weight: 100; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px;letter-spacing:5px;" valign="middle" width="auto"><span style="color: #ffffff; font-weight: 300;"><a href="{{ data.loginUrl }}" style="margin: 5px; color: #ffffff; text-align:center;text-decoration: none; line-height:30px;" target="_blank">Click here to get started</a></span></td>
</tr>
   <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="30"></td>
                              </tr>
  <!-- Spacing -->
</tbody>
</table>
<!-- Start of Postfooter -->

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="postfooter" >
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 16px;color: #000000" st-content="postfooter">
                                    <a href="{{ data.forgotUrl }}" style="text-decoration: none; color: #235ba1;"><span style="text-decoration: none; color: #000000;">Forgot username &amp; password?</span> Click here</a>
                                 </td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="20"></td>
                              </tr>
                              <!-- Spacing -->
                                   <tr>
                                 <td align="center" width="90%" valign="middle" class="margin_10" style="font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666" st-content="postfooter">
                                   <span style="text-decoration: none; color: #666666;">Don’t forget to come back here after you have reset your username or password.</span>
                                 </td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              <!-- Spacing -->


                           </tbody>
                        </table>
                     </td>
                  </tr>
<!-- ID -->
                              <tr>
                                <td height="13" bgcolor="#ffffff"  width="100%"><p style="font-size:9px; text-align:right; margin:10px !important; color:#f2f2f2; line-height:9px; mso-line-height-rule: exactly;">1132_PWV_051016</p></td>
                              </tr>
<!-- ID End -->
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- End of postfooter -->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" id="backgroundTable2" st-sortable="seperator" width="100%">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
<tbody>

</tbody>
</table>
</td>
</tr>

</tbody>
</table>
<!-- end of full text -->

</body>
</html>
