<form id ="riskBasedFundForm">
    <input type ="text" name ="name" class ="form-control" />
    {% if investments.planid != 0 %}
    <input type ="hidden" name ="planid" value ="{{investments.planid}}" />
    {% endif %}
    <input type ="hidden" name ="userid" value ="{{investments.userid}}" />
    <input type ="hidden" name ="profile" value ="ALL" />
    <br/>
    <button class ="btn btn-info" type ="submit">Add</button>  
</form>
{{ include("SharedInvestmentsBundle:Default:javascript/riskbasedfund.js.twig") }}