<form id ="riskBasedFundForm">
    {{ riskBasedFund.name }}
    <input type ="hidden" name ="id" value ="{{ riskBasedFund.id }}" /><br/>
    <br/>
    <button class ="btn btn-warning" type ="submit">delete</button>  
</form>
{{ include("SharedInvestmentsBundle:Default:javascript/riskbasedfund.js.twig") }}