<form id ="riskBasedFundForm">
    <input type ="text" name ="name" class ="form-control" value ="{{ riskBasedFund.name }}" />
    <input type ="hidden" name ="id" value ="{{ riskBasedFund.id }}" />
    <br/>
    <button class ="btn btn-primary" type ="submit">Save</button>  
</form>
{{ include("SharedInvestmentsBundle:Default:javascript/riskbasedfund.js.twig") }}