{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename })) }}
    <h1>{{ pagename }}</h1>

    {% if writeable %}
    
    <ul class="nav nav-pills" role="tablist">
        <li class="active" id = "fundListPill">
            <a href = "javascript:togglePills(fundSections,'fundList')">Fund List</a>
        </li>
        
        <li id = "addFundPill">
            <a href = "javascript:togglePills(fundSections,'addFund')">Add Fund</a>
        </li>
        <li>
            <a href = "{% block fundorderurl %}{% endblock %}">Change Fund Application Order</a>
        </li>
         {% if writeable %}
        <li>
            {% block adddefaultfunds %}{% endblock %}
        </li>
        {% endif %}
        {% if qdiaReadable is defined and qdiaReadable %}
        <li>
           <a href = "javascript:window.location=qdiaUrl">QDIA</a>
        </li>
        {% endif %}
    </ul>
    
    {% elseif qdiaReadable is defined and qdiaReadable %}
   
        <ul class="nav nav-pills" role="tablist">
            <li class="active" id = "fundListPill">
                <a href = "javascript:togglePills(fundSections,'fundList')">Fund List</a>
            </li>
            <li>
               <a href = "javascript:redirect(qdiaUrl)">QDIA</a>
            </li>
        </ul>
    
    {% endif %}
    <ul class="list-group" id = "fundList">
        {% set header = "<th>Id</th><th>Display</th><th>Name</th><th>Ticker</th><th>Link</th><th>Actions</th>"%}
        {% set types = "a.id,a.display,a.name,a.ticker,a.link" %}
        {% set unsearchableArray = [5] %}
        {% if investments.planid != 0 %}
        {% set tablename = "plansFunds" %}
        {% set table = "plansFunds" %}
        {% set findby = "a.planid" %}
        {% set findbyvalues = investments.planid  %}
        {% set template = "PlansPlansBundle:Investments:Search/fundlist.html.twig" %}
        {% else %}
        {% set tablename = "defaultFunds" %}
        {% set table = "defaultFunds" %}
        {% set findby = "a.userid" %}
        {% set findbyvalues = investments.userid %}
        {% set template = "SettingsSettingsBundle:Investments:Search/fundlist.html.twig" %}
        {% endif %}
        {% if not writeable %}
        {% set template = "SharedInvestmentsBundle:Default:search/fundlistreadonly.html.twig" %}
        {% endif %}
        <br/>
        {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
    </ul>

    <ul class = "list-group" id = "addFund" style = "display:none">
        <form id = "addfund">
            {% block planidfund %}{% endblock %}
            <input type = "text" class="form-control" name = "userid"  value = "{{ investments.userid }}" style = "display:none" /><br/>
            <input type = "text" class="form-control" name = "name" id = "addfundname" value = ""  placeholder = "Name" /><br/>
            <input type = "text" class="form-control" name = "ticker" id = "addfundticker" value = ""  placeholder = "Ticker" /><br/>
            <input type = "text" class="form-control" name = "link" value = "" id = "addfundlink"  placeholder = "Link"  /><br/>
            <input type = "text" class="form-control" name = "fundId" value = "" id = "addfundid"  placeholder = "Fund Id"  /><br/>
            <button type = "button" class="btn btn-info" onclick = "reorderfunds()">Add Fund</button>
            
        </form>
    </ul>


    <!-- Portfolios -->  
    <hr/>
    <h3>Portfolios</h3>
    
    {% if writeable %}
    
    <ul class="nav nav-pills" role="tablist">
        <li class="active" id = "portfolioListPill">
            <a href = "javascript:togglePills(portfolioSections,'portfolioList')">Portfolio List</a>
        </li>
        
        <li id = "addPortfolioPill">
            <a href = "javascript:togglePills(portfolioSections,'addPortfolio')">Add Portfolio</a>
        </li>
        <li>
            <a href = "{% block portfolioorderurl %}{% endblock %}">Change Portfolio Application Order</a>
        </li>
        {% if writeable %}
        <li>
            {% block adddefaultportfolios %}{% endblock %}
        </li>
        {% endif %}
    </ul>
   
    {% endif %}

    <ul class="list-group" id = "portfolioList">
    <br/>
    {% set header = '<th>Id</th><th>Name</th><th>Actions</th><th></th>'%}
    {% set types = "a.id,a.name" %}
    {% set unsearchableArray = [2,3] %}
    {% if investments.planid != 0 %}
    {% set tablename = "plansPortfolios" %}
    {% set table = "plansPortfolios" %}
    {% set template = "PlansPlansBundle:Investments:Search/portfoliolist.html.twig" %}    
    {% else %}
    {% set tablename = "defaultPortfolios" %}
    {% set table = "defaultPortfolios" %}
    {% set template = "SettingsSettingsBundle:Investments:Search/portfoliolist.html.twig" %}
    {% endif %}
    {% if not writeable %}
     {% set unsearchableArray = [2] %}
    {% set header = '<th>Id</th><th>Name</th><th>See Funds</th>'%}
    {% set template = "SharedInvestmentsBundle:Default:search/portfoliolistreadonly.html.twig" %}
    {% endif %}

    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
    </ul>
    <ul class = "list-group" id = "addPortfolio" style = "display:none">
        
        <form id = "addportfolio">
            {% block planidportfolio %}{% endblock %}
            <input type = "text" name = "userid" value = "{{ investments.userid }}" style = "display:none" /><br/>
           
            <input type = "text" placeholder = "name" class = "form-control" name = "name" id = "addportfolioname" value = ""  /><br/>
        </form>
        
        <button type = "button" class="btn btn-info" onclick = "reorderportfolios()">Add Portfolio</button>
    </ul>
</div>



{% if writeable %}
<script>
    {% block globalvariables %}{% endblock %}
    var fundSections = ["fundList", "addFund"];//pills
    var portfolioSections = ["portfolioList", "addPortfolio"];//pills
</script>
{% endif %}
{{ include ("SharedInvestmentsBundle:Default:javascript/index.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}