{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename })) }}

{% if investmentsGraph is defined and investmentsGraph == 1 %}
    {% set writeable = false %}
    <div class="alert alert-warning" role="alert"><b>Warning:</b> Investments Graph is activated. Portfolios cannot be changed.</div>
{% endif %}
    <h2>{{ pagename }}</h2>

    {% if writeable %}
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" id = "portfolioListPill">
            <a href = "javascript:togglePills(portfolioSections,'portfolioList')">Portfolio List</a>
        </li>
        
        <li id = "addPortfolioPill">
            <a href = "javascript:togglePills(portfolioSections,'addPortfolio')">Add Portfolio</a>
        </li>
        <li>
            <a href = "{% block portfolioorderurl %}{% endblock %}">Change Portfolio Application Order</a>
        </li>
        {% if writeable %}
        <li>
            {% block adddefaultportfolios %}{% endblock %}
        </li>
        {% endif %}
    </ul>
   
    {% endif %}

    <ul class="list-group" id = "portfolioList">
    <br/>
   
    
    
    {% set header = '<th>Id</th><th>Name</th><th>Actions</th><th></th>'%}
    {% set types = "a.id,a.name" %}
    {% set unsearchableArray = [2,3] %}
    {% if investments.planid != 0 %}
    {% set findby = "a.planid" %}
    {% set findbyvalues = investments.planid  %}
    {% set tablename = "plansPortfolios" %}
    {% set table = "plansPortfolios" %}
    {% set template = "PlansPlansBundle:Investments:Search/portfoliolist.html.twig" %}    
    {% else %}
    {% set findby = "a.userid" %}
    {% set findbyvalues = investments.userid %}
    {% set tablename = "defaultPortfolios" %}
    {% set table = "defaultPortfolios" %}
    {% set template = "SettingsSettingsBundle:Investments:Search/portfoliolist.html.twig" %}
    {% endif %}
    {% if not writeable %}
     {% set unsearchableArray = [2] %}
    {% set header = '<th>Id</th><th>Name</th><th>See Funds</th>'%}
    {% set template = "SharedInvestmentsBundle:Default:search/portfoliolistreadonly.html.twig" %}
    {% endif %}

    {% include 'classesclassBundle:Search:searchdatatables.html.twig' %}
    </ul>
    <ul class = "list-group" id = "addPortfolio" style = "display:none">
        
        <form id = "addportfolio">
            {% block planidportfolio %}{% endblock %}
            <input type = "text" name = "userid" value = "{{ investments.userid }}" style = "display:none" /><br/>
           
            <input type = "text" placeholder = "name" class = "form-control" name = "name" id = "addportfolioname" value = ""  />
            <br/>
            <input type ="text" placeholder ="id"  class ="form-control" id ="customid" />
            <br/>
        </form>
        
        <button type = "button" class="btn btn-info" onclick = "reorderportfolios()">Add Portfolio</button>
    </ul>
</div>



{% if writeable %}
<script>
    {% block globalvariables %}{% endblock %}
    var fundSections = ["fundList", "addFund"];//pills
    var portfolioSections = ["portfolioList", "addPortfolio"];//pills
</script>
{% endif %}
{{ include ("SharedInvestmentsBundle:Default:javascript/index.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}    