{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}




    <h3>Change Portfolio Order</h3>
 
  {{ render(controller('classesclassBundle:Default:searchTemplate', {'options': investments.portfoliolist})) }}

<hr/>
    <input type = "button" onclick = "javascript:retrieveids()" value = "save" class="btn btn-primary" />



<script>
//javascript variables passed in by child template
//include does not work with block
{% block globalvariables %}{% endblock %}
</script>

{{ include ("SharedInvestmentsBundle:Default:javascript/reorderportfolio.js.twig") }}


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
