{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Risk Based Funds' })) }}
<a href ="{{ path('_plans_associate') }}?type=RBF">Associate</a><br/><br/>
<button class ="btn btn-info" onclick ="ajaxModal('{{ path('_plans_investments_riskBasedFunds_add') }}','Add Risk Based Fund')">Add Risk Based Fund</button>
<br/><br/>
{% set tablename = "riskBasedFunds" %}
{% set header = '<th>Id</th><th>Name</th><th>Actions</th>'%}
{% set types = "a.id,a.name" %}
{% set unsearchableArray = [2] %}
{% set template = "SharedInvestmentsBundle:Default:search/riskbasedfunds.html.twig" %}    
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
