{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Vwise Email Templates'})) }}
    
<table class="table table-striped">
    <tr>
      <th>
        Name
      </th>
      <th>
        Preview
      </th>
      <th>
        View in new Window
      </th>      
      <th>
        Embed Code
      </th>
      <th>
        Send Sample
      </th>
      <th>
        Preview Video
      </th>
    </tr>
    {% for template in templates %}
    <tr>
        <td> 
          {{ template.templatename }}
        </td>

        <td>
          <a href = "javascript:ajaxModal('{{ path('_manage_outreach_vwise_render_template',{'type': template.type,'id': template.id})}}','Preview','large',true)">Preview</a>
        </td>

        <td>
          <a href = "{{ path('_manage_outreach_vwise_render_template',{'type': template.type,'id': template.id})}}" target = "_blank">View in new Window</a>
        </td>


        <td>
          <a href = "javascript:ajaxModal('{{ path('_manage_outreach_vwise_embed_code') }}?id={{ template.id }}','Embed Code','medium')">Embed Code</a>
        </td>


        <td>
          <a href = "javascript:ajaxModal('{{ path('_manage_outreach_vwise_send_test_email_form') }}?id={{ template.id }}','Send Sample','medium')">Send Sample</a>
        </td>

        {% if template.video != "" %}
        <td>
          <a href = "javascript:ajaxModal('{{ path('_plans_outreach_videoplayer_videoonly') }}?video={{ template.video }}','Preview Video','large',true)">Preview Video</a>
        </td>
        {% else %}
        <td>
          No Video
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
   
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}   


    
    

 