{% set alertContent = "Email Sent successfully" %}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig") }}
<label>Title</label>
<input  type = "text" class = "form-control" id = "emailTitle" value = "{{ template.templatename }}" />
<label>Email Addresses</label>
<textarea id = "testemail" style = "width:100%; height:200px" placeholder = "enter email addresses seperated by comma" ></textarea>
<br/>
<br/>
<button type = "button" onclick  = "sendtestemail()"  class="btn btn-primary">Send Test</button>
  
{% include ('ManageManageBundle:Outreach:Vwise/javascript/testemail.js.twig') %}