{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plan Deployment'})) }}

<form id = "errorNotificationEmailForm">
  <input type = "text"  name = "id"  value = "{{ plan.id }}" style = "display:none" readonly = "true" />
  <label for="errorNotificationEmail">Error Notification email</label>
  <div class = "row">
    
    <div class="form-group col-md-10">
      <input type = "text" name = "errorNotificationEmail" value = "{{ plan.errorNotificationEmail }}" {% if not writeable %}disabled{% endif %}  class="form-control" />
    </div>
    <div class="form-group col-md-2">
      {% if writeable %}
      <input type = "button" onclick = "updatetable('plans','errorNotificationEmailForm','id')"  value = "Save" id = "errorNotificationEmailFormbutton" class="btn btn-primary"/>
      {% endif %}
    </div>
  </div>
</form>

<form id = "profileNotificationEmailForm">
  <input type = "text"  name = "id"  value = "{{ plan.id }}" style = "display:none" readonly = "true" />
  <label for = "profileNotificationEmail">Profile Notification email</label>
  <div class = "row">
    <div class="form-group col-md-10">
      <input type = "text" name = "profileNotificationEmail" value = "{{ plan.profileNotificationEmail }}"  class="form-control" {% if not writeable %}disabled{% endif %} />
    </div>
    <div class="form-group col-md-2">
      {% if writeable %}
      <input type = "button" onclick = "updatetable('plans','profileNotificationEmailForm','id')" value = "Save" id = "profileNotificationEmailFormbutton"  class="btn btn-primary"/>
      {% endif %}
    </div>
  </div>
</form>

{% if vwisemember %}
	<h3>Option</h3>
	<ul class="list-group">
		<li class="list-group-item" >
			<span>Show full name in Profile Notification email <input data-size="small" type="checkbox" name="my-checkbox" {% if plan.profileNotificationShowEmail == 1 %}checked{% endif %}></span>
		</li>
	</ul>
{% endif %}

{% if showDeploymentUrl == 1 %}

	  <h3>Preview</h3>
	<ul class="list-group">
		<li class="list-group-item" >
			<a href = "javascript:ajaxModal('{{ deploymentUrl | url_encode }}','Plan Preview','extra large',true)" >Preview</a>
		</li>
	</ul>
{% endif %}

	  <h3>Plan Deployment Information</h3>

	<ul class="list-group">
        {% if showDeploymentUrl == 1 %}
		<li class="list-group-item" >
			<b>Deployment Url: </b>
			<a href="{{ deploymentUrl }}">{{ deploymentUrl }}</a>
		</li>
        {% endif %}
		<li class="list-group-item" >
			<b>ID: </b>
			{{ plan.planid }}
		</li>
		<li class="list-group-item" >
			<b>Smartplanid: </b>
			{{ plan.id }} 
		</li>
		<li class="list-group-item" >
			<b>Production Partner ID: </b>
			{{ member.partnerid }}
		</li>
		{% if irioAllowed %}
		<li class="list-group-item" >
			<b>IRIO Url: </b>
			<a href="{{ irioUrl }}">{{ irioUrl }}</a>
		</li>
		{% endif %}
		{% if powerviewAllowed %}
		<li class="list-group-item" >
			<b>Powerview Url: </b>
			<a href="{{ powerviewUrl }}">{{ powerviewUrl }}</a>
		</li>
		{% endif %}
	</ul>


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

<script>
    $("[name='my-checkbox']").bootstrapSwitch();
    $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {

        var page = "{{ path('_plans_deploy_toggle') }}";
        $.post(page, {state: state}).done(function(data)
        {

        });
    });
</script>