<strong>Select {{dropdowntitle }}</strong>
<select name ="{{ dropdownname}}" id ="planupload_filterdropdown_{{dropdownname}}" class = "form-control" onchange ="changeFilter()">
<option>Select {{ dropdowntitle }}</option>
{% for record in records %}
<option value = "{{ record.value }}">{{ record.description }}</option>
{% endfor %}
</select>
<br/>