{{ include('ManageManageBundle:PlanUploadNew:mapping.html.twig') }}
<button class ="btn btn-success" onclick ="editMapping()">Save Template</button>
<script>
function editMapping()
{
    var list = generateList("includeList");
    var returnParams = 
    { 
        list: list,
        id: '{{ app.request.query.get("id")}}',
        name: $("#mappingName").val()
    };
    $.post( "{{ path('_manage_plan_upload_new_edit_mapping_saved') }}", returnParams )
    .done(function( data ) {
        showalert(data);
        if (data === "saved-alert") {
            $("#ajaxModule").modal("hide");
        }
        reloadMappingSections();
        if (selectedMapping.id == {{ app.request.query.get("id")}})
        $("#mappingComplete").hide();
    });
}        
</script>
