<script>
$( function() {
    $( "#includeList" ).sortable();  
    refreshFieldOptions();
});
function generateList(id)
{
   var list = [];
   var i = 0;
    $( "#" + id + " li" ).each(function() {
        
       list[i] = new Object();
       list[i].description = $(this).find("[name='description[]']").val();
       var tableField = $(this).find("[name='tableField[]']").val();
       list[i].table = tableField.substr(0, tableField.indexOf('/'));
       list[i].field = tableField.substr(tableField.indexOf('/') + 1);
       list[i].required = $(this).find("#required").val();
       i++;
     });
    return list;
}

function refreshFieldOptions() {
    $("#includeList select[name='tableField[]']").each(function(i,s) {
        var currentValue = $(s).val();
        $(s).empty();
        
        {% set allOptions = '<option value="">Select One...</option>' %}
        {% for includeField in includeFields %} 
            {% set allOptions = allOptions ~ '<option value="'~includeField.table~'/'~includeField.field~'">' %}
            {% set allOptions = allOptions ~ includeField.description ~ (includeField.required == 1 ? '*' : '') %}
            {% set allOptions = allOptions ~ '</option>' %}
        {% endfor %}
            
        $(s).append('{{allOptions}}');
 
        $("#includeList select[name='tableField[]'] option:selected").each(function() {
            if ($(this).attr("value")) {
                var table = $(this).attr("value").substr(0, $(this).attr("value").indexOf('/'));
                if (table === 'fundsGroupsValues') {
                    $(s).find("option[value^='"+table+"/']").remove();
                }
                else {
                    $(s).find("option[value='"+$(this).attr("value")+"']").remove();
                }
            }
        });
        
        $(s).val(currentValue);
    });
}

function addHeader() {
    $('#includeList').append($('#mappingItemTemplate').html());
    refreshFieldOptions();
}

function deleteHeader(el) {
    $(el).closest("li").remove();
    refreshFieldOptions();
}

</script>
