<strong>Name</strong> <input type ="text" class ="form-control" value ="{{ name }}" id ="mappingName" />

<strong>Headers</strong> 
<form class="form-horizontal">
<ul id="includeList" class="list-group">
    {% for key,field in theCsvHeader %}
        <li class="list-group-item">
            <div class="form-group" style="margin-bottom:0;">
                <div class="col-sm-5">
                    <input type="text" name="description[]" value="{{ field.description }}" class="form-control" placeholder="Column Header">
                </div>
                <div class="col-sm-5">
                    <select class="form-control" name="tableField[]" id="tableField_{{key}}" onchange="refreshFieldOptions();">
                        <option value="">Select One...</option>
                        {% for includeField in includeFields %} 
                            {% set selected = field.field is defined and field.table is defined and field.field == includeField.field and field.table == includeField.table ? 'selected' : '' %}
                            <option value="{{includeField.table}}/{{includeField.field}}" {{ selected }} >
                                {{includeField.description}}{{ includeField.required == 1 ? '*' : '' }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-danger" onclick="deleteHeader(this);">Delete</button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
</form>

<script style="display:none" type="text/template" id="mappingItemTemplate">
    <li class="list-group-item">
        <div class="form-group" style="margin-bottom:0;">
            <div class="col-sm-5">
                <input type="text" name="description[]" value="" class="form-control" placeholder="Column Header">
            </div>
            <div class="col-sm-5">
                <select class="form-control" name="tableField[]" onchange="refreshFieldOptions();">
                    <option value="">Select One...</option>
                    {% for includeField in includeFields %} 
                        <option value="{{includeField.table}}/{{includeField.field}}">
                            {{includeField.description}}{{ includeField.required == 1 ? '*' : '' }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-sm btn-danger" onclick="deleteHeader(this);">Delete</button>
            </div>
        </div>
    </li>
</script>

<button type="button" class="btn btn-default" onclick="addHeader();">Add Header</button>





<div style ="clear:both"></div><br/>
