{% for section in mappingSections %}
<div id ="{{ section.id }}" style ="display:none" class ="mappingList">
    <h3>
        Templates
        <button type ="button" class ="btn btn-info" onclick ="ajaxModal('{{ path('_manage_plan_upload_new_add_mapping') }}?{{section.urlparams}}','Add {{section.categoryDesc}} Mapping','large')">
            Create New Template
        </button>
    </h3>
    
    {% if section.list | length == 0 %}
     No items
     <br/><br/>
    {% else %}
    <table class ="table table-striped" style ="margin-bottom:0px">
        <tbody>
            {% for item in section.list %}   
            <tr>
                <td>
                    {{ item.name }}
                </td>
                <td align ="right">
                    <button type="button" class="btn btn-success" onclick="useMapping({{item.id}})">Use</button> 
                    <button type="button" class="btn btn-primary" onclick="downloadMapping({{item.id}})">Download Template</button>
                    <button type="button" class="btn btn-primary" onclick="ajaxModal('{{ path('_manage_plan_upload_new_edit_mapping') }}?id={{item.id}}','Edit {{section.categoryDesc}} Mapping','large')">Edit</button>                   
                    <button type="button" class="btn btn-warning" onclick="ajaxModal('{{ path('_manage_plan_upload_new_delete_mapping') }}?id={{item.id}}','Delete {{section.categoryDesc}} Mapping','small')">Delete</button>
                </td>
            </tr>           
            {% endfor %}
        </tbody>
    </table>
    <br/>
    {% endif %}
</div>
{% endfor %}
