<li class="ui-state-{% if field.required%}highlight{% else %}default{%endif%} mappingEntry" style ="color:black;padding:10px;font-size:10px">
    <input type ="text" id ="table" value ="{{ field.table }}" style ="display:none"  /> 
    <input type ="text"  id = "field" value ="{{ field.field }}" style ="display:none" />
    <input type ="text"  id="required" value ="{{ field.required }}" style ="display:none" />
    {{ field.table }}/{{ field.field }}
    <input type ="text"  id ="description" value ="{{ field.description }}" class ="form-control" />
</li>