{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}
{%  set alertId = "deletealert" %}
{%  set alertContent = "Mapping has been deleted" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}
{%  set alertId = "validationfailurefield" %}
{%  set alertType = "danger" %}
{%  set glyphicon = "remove" %}
{%  set alertContent = "Required fields have not been mapped" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}
{%  set alertId = "validationfailurename" %}
{%  set alertContent = "Name cannot be blank" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}
{%  set alertId = "validationfailureheader" %}
{%  set alertContent = "All columns require a header" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}