Revert to this snapshot<br/><br/>
<button type=="button" class ="btn btn-primary" onclick ="revert('{{ app.request.query.get('category')}}','{{ app.request.query.get('timevalue')}}')">Proceed</button>