{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plan Upload Revert'})) }}
<a href ="{{ path('_manage_plan_upload_new') }}?id={{app.request.query.get("id")}}">Plan Upload</a> / <a href ="{{ path('_manage_plan_upload_new_snapshot_management') }}" target = "_blank">Snapshot Management</a><br/><br/>
Select Category:<br/>
<select id ="category" class ="form-control" onchange ="updateCategory()" >
<option></option>
{% for category in categories %}
<option value ="{{ category.value}}">{{ category.description }}</option>
{% endfor %}    
</select>
{% for category in categories %}
<div id ="{{category.value}}" style ="display:none" class ="category">
<h3>{{ category.description }}</h3>
<b>Times</b><br/><br/>
{% if category.snapshot is defined %}
{% for snapshotDay in category.snapshot %}
<a href = "javascript:ajaxModal('{{ path('_manage_plan_upload_new_revert_modal') }}?category={{category.value}}&timevalue={{snapshotDay.timevalue}}','Revert')">{{ snapshotDay.time }}</a>   <br/>
{% endfor %}
{% endif %}
</div>
{% endfor %}
<script>
function updateCategory()
{
    $(".category").hide();
    $("#" + $("#category").val()).show();
}
function revert(category,timevalue)
{
    var post = $.post( "{{ path('_manage_plan_upload_new_revert_saved') }}",{id:"{{ app.request.query.get("id") }}",category:category,timevalue:timevalue} );
    post.success(function() 
    {
        modalMessage( "Revert Successful" );
    });
    post.fail(function() 
    {
        modalMessage( "Revert Failed" );
    });
    post.always(function() 
    {
        closeLightBox();
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
