{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Snapshot Management'})) }}
{% for snapshot in snapshotTables %}
<a href = "javascript:ajaxModal('{{ path('_manage_plan_upload_new_snapshot_management_modal') }}?snapshot={{ snapshot}}','Delete Snapshot')">{{ snapshot }}</a><br/><br/>
{% endfor %}
<script>
function deleteSnapshot(snapshot)
{
    var post = $.post( "{{ path('_manage_plan_upload_new_snapshot_management_delete_snapshot') }}",{snapshot:snapshot} );
    post.success(function() 
    {
        modalMessage( "Snapshot Deleted" );
    });
    post.fail(function() 
    {
        modalMessage( "Snapshot failed to delete" );
    });
    post.always(function() 
    {
        closeLightBox();
        setTimeout(function()
        { 
            window.location = ""; 
        }, 
           2000
        );
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}