{{ include('TemplatesTemplatesBundle:Default:alert.html.twig', {'alertId':'tableColumnMappingError', 'alertContent':'An error occurred', 'alertType':'danger'}) }}

<div id="tableColumnMappingsCurrent">
    {{ render(controller('ManageManageBundle:PlanUploadNew:tableColumnMappingsCurrent', {'table': table, 'column': column})) }}
</div>

<h4>Create New Mapping</h4>
<form id="tableColumnMappingForm" class="form-inline" action="" method="POST" onsubmit="return saveTableColumnMapping();" >
    <input type="hidden" id="tableColumnMappingTable" name="table" value="{{table}}">
    <input type="hidden" id="tableColumnMappingColumn" name="column" value="{{column}}">
    <div class="form-group">
        <label for="tableColumnMappingFrom">Map:</label>
        <input id="tableColumnMappingFrom" class="form-control" type="text" name="key" value="{{from}}">
    </div>
    <div class="form-group">
        <label for="tableColumnMappingTo">To:</label>
        {% if validOptions|length > 0 %}
            <select id="tableColumnMappingTo" class="form-control" name="value">
                {% for val in validOptions %}
                    <option value="{{val}}">{{val}}</option>
                {% endfor %}
            </select>
        {% else %}
            <input id="tableColumnMappingTo" class="form-control" type="text" name="value" value="">
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
    
<script>
function saveTableColumnMapping() {
    var formData = $("#tableColumnMappingForm").serialize();
    $.ajax({
        url:'{{ path('_manage_plan_upload_new_table_column_mappings_saved') }}',
        type: 'POST',
        data: formData,
        async: true,
        success: function (data) {
            if (data == "success") {
                $("#tableColumnMappingsCurrent").load('{{ path('_manage_plan_upload_new_table_column_mappings_current', {'table':table,'column':column}) }}');
            }
            else {
                $("#tableColumnMappingError").show();
            }
        },
        error: function (data) {
            $("#tableColumnMappingError").show();
        }  
        
    }); 
    return false;
}
</script>