
<h3>Validation Failed</h3>

{% if errors['global'] is defined %}
<div class="alert alert-warning" role="alert">
    {% for message in errors['global'] %}
        {{ message }}<br/>
    {% endfor %}
</div>
{% endif %}

{% if errors['table'] is defined %}
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{header.description}}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for rowNumber,errorFields in errors['table'] if counter < limit %}
            <tr>
                {% for colNumber,header in headers %}
{#                {% for colNumber,col in csv[rowNumber] if colNumber < headers|length %}#}
                    {% set colMessages = errorFields['column'][colNumber] is defined ? errorFields['column'][colNumber] : [] %}
                    {% set rowMessages = errorFields['row'] is defined ? errorFields['row'] : [] %}
                    {% set allMessages = colMessages | merge(rowMessages) | join('<br/>') %}
                    <td {% if allMessages is not empty %} class="bg-danger" data-html="true" data-toggle="popover" data-content="{{allMessages}}" {% endif %}>
                        {{ csv[rowNumber][colNumber] }}<br>
                        {% if allMessages is not empty and header.field is not empty and header.field not in ['planid','ticker','name'] %}
                            <button type="button" class="btn btn-danger btn-xs" onclick="ajaxModal('{{path('_manage_plan_upload_new_table_column_mappings', {'table': header.table, 'column': header.field, 'from': csv[rowNumber][colNumber]})}}', 'Mapping for {{header.field}}')">
                                Create Mapping
                            </button>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% set counter = counter + 1 %}
        {% endfor %}
        </tbody>
        <tfoot>
            {% if counter < errors['table']|length %}
            <tr>
                <td colspan="1">
                    <button type="button" class="btn btn-default" onclick="validateFile({{limit + 5}})">Load More Errors</button>
                </td>
                <td colspan="{{headers|length-1}}">
                    <button type="button" class="btn btn-default" onclick="validateFile({{ errors['table']|length }})">See All Errors</button>
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
    </div>
{% endif %}

<button class ="btn btn-primary" type ="button" onclick = "showValidationStep()">Try again</button>