<h3>Add Media</h3>
<form id = "addMedia">
	{% for media in mediaSections %}
	{% if media.type == "text" %}
	<label>{{ media.description }}</label>
	<input type = "text" class = "form-control" placeholder = "{{  media.description }}" name = "{{ media.field }}" /><br/>
	{% endif %}

	{% if media.type == "select" %}
	<label>{{ media.description }}</label>
	<select name = "{{ media.field }}" class = "form-control" >
		{% for value,description in media.options %}
		<option value = "{{ value }}">{{ description }}</option>
		{% endfor %}
	</select>
	<br/>
	{% endif %}
	{% endfor %}
	<hr/>
	<h3>English Media Localization</h3>
	{{ include ("ManageManageBundle:Media:addmedialocalizationsegment.html.twig") }}
	<input type = "text" name = "language" value = "{{ english.language_name }}" style = "display:none" />
</form>
<input type = "button"  value = "Add"  class="btn btn-info" onclick = "addMedia()"  />

<script>
function addMedia()
{
	var querystring =  "placeholder=" + serialize("addMedia");
	var page = "{{ path('_manage_media_addmedia_saved') }}";
	$.post(page, querystring).done(function(data) 
	{
		searchingTable.ajax.reload();
		closeLightBox();
	});
}

</script>