<h3>Edit Media</h3>
<form id = "editMedia">
	{% for media in mediaSections %}
	{% if media.type == "text" %}
	<label>{{ media.description }}</label>
	<input type = "text" class = "form-control" placeholder = "{{  media.description }}" name = "{{ media.field }}" value = "{{ media.value }}" /><br/>
	{% endif %}

	{% if media.type == "select" %}
	<label>{{ media.description }}</label>
	<select name = "{{ media.field }}" class = "form-control" >
		{% for value,description in media.options %}
		<option value = "{{ value }}" {% if media.value == value %}selected{% endif %}>{{ description }}</option>
		{% endfor %}
	</select>
	<br/>
	{% endif %}
	{% endfor %}

</form>
<input type = "button"  value = "Save"  class="btn btn-success" onclick = "editMedia()"  />
{% set url = path('_manage_media_listMediaLocalizations',{'id': id} )%}
{% set tablename = "mediaLocalizations" %}
{% set table = "mediaLocalizations" %}
{% set header = "<th>id</th><th>Language</th><th>Master&nbsp;File</th><th>Captions&nbsp;File</th><th>Version</th><th>Duration</th><th>Ready</th><th>Created&nbsp;At</th><th>Updated&nbsp;At</th><th>Actions</th>" %}
<hr/>
<h3>Media Localizations</h3>
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}

<button class = "btn btn-info" onclick = "$('#addMediaLocalization').toggle()">Add</button>

<div id = "addMediaLocalization" style = "display:none">
	<hr/>
	<form id = "addMediaLocalizationForm">
		{{ include ("ManageManageBundle:Media:addmedialocalizationsegment.html.twig") }}
	</form>
	<button type = "button" class = "btn btn-info" onclick = "addMediaLocalization()">Add</button>
</div>

<script>
function editMedia()
{
	var querystring =  "placeholder=" + serialize("editMedia") + "&id={{ id}}";
	var page = "{{ path('_manage_media_editmedia_saved') }}";
	$.post(page, querystring).done(function(data) 
	{
		searchingTable.ajax.reload();
		closeLightBox();
	});
}
function saveMediaLocalization(id)
{
	var querystring = "id=" + id;
	{% for media in mediaLocalizationSections %}
	querystring = querystring + "&{{ media.field }}=" + $("#{{ media.field }}" + id).val();
	{% endfor %}
	var page = "{{ path('_manage_media_save_localization') }}";
	$.post(page, querystring).done(function(data) 
	{
		
	});	
}
function deleteMediaLocalization(id)
{
	var page = "{{ path('_manage_media_delete_localization') }}";
	querystring = "id=" + id;
	$.post(page, querystring).done(function(data) 
	{
				
		mediaLocalizationsTable.ajax.reload();
	});	
}
function addMediaLocalization()
{
	var querystring =  "placeholder=" + serialize("addMediaLocalizationForm");
	querystring = querystring + "&id={{ id}}";
	var page = "{{ path('_manage_media_add_localization') }}";
	$.post(page, querystring).done(function(data) 
	{
		mediaLocalizationsTable.ajax.reload();
	});
}
</script>