{% set session = app.request.session %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/customcolors.css') }}">
<div id ="americanTrustContainer">
    {% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}
    {% include 'SpeAppBundle:Template:player.html.twig' %}
    {% include 'SpeAppBundle:Template:ATBlueprint/outlook/base.css.twig' %}

        <h1>{{ personalInfo.firstName }}'s Blueprint</h1>

        {% block info %}
        {% endblock %}

        <div style="width: 100%; height: 10px; border-bottom: 2px solid rgb(110, 110, 110); text-align: center">
          <span style="font-size: 15px; background-color: #efefef; padding: 0 10px;">
            {% block top %}
              {% endblock %}
          </span>
        </div>
    <input type ="hidden" id ="showCustomHeader" />
</div>

