{% extends 'SpeAppBundle:Template:ATBlueprint/outlook/base.html.twig' %}
{% set incomeNeeded = blueprint.ReplacementIncomeNeeded %}
{% if blueprint.AtIndexTrend > 1 %}
    {% set agesGoal = blueprint.RetirementAge - blueprint.AtAgeIndex %}
{% else %}
    {% set agesGoal = blueprint.RetirementAge + blueprint.AtAgeIndex %}
{% endif %}
{% set agesGoal = agesGoal|number_format(0, '.', ',') %}
{% block info %}
    {% set audioFile = 'AT_audio_0307_ATb'| trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    <div class="row">
        <div class="col-md-12" align="center" >
            <h1>{{ 'improve_your_outlook' | trans ({}, 'atblueprint') }}</h1>
            <font size="2px">{{ 'increase_your_deferral_rate' | trans ({'%originalDeferralPct%': outlook.originalDeferralPercent,'%monthlyRetirementGoal%': incomeNeeded|number_format(0, '.', ','), '%age%': agesGoal}, 'atblueprint') | raw }}</font>
        </div>
    </div>
    <br><br>
{% endblock %}

{% block top %}
    <script>
        $('#percent-btn').click( function () {
            if ($('#percent-btn').attr('class') != 'btn-selected') {
                $('#percent-btn').toggleClass('btn-unselected btn-selected');
                $('#dollar-btn').toggleClass('btn-selected btn-unselected');
                // switch to income
                $('.percent-view').show();
                $('.dollar-view').hide();
            }
        });

        $('#dollar-btn').click( function () {
            if ($('#dollar-btn').attr('class') != 'btn-selected') {
                $('#dollar-btn').toggleClass('btn-unselected btn-selected');
                $('#percent-btn').toggleClass('btn-selected btn-unselected');
                // switch to age
                $('.percent-view').hide();
                $('.dollar-view').show();
            }
        });

        $(document).ready(function () {
            $('.unselected-panel').click( function () {
                $("#custom-deferral").val(0);
                var currentSelected = $('.selected-panel').attr('id');
                $('#' + currentSelected).toggleClass('selected-panel unselected-panel');
                $(this).toggleClass('selected-panel unselected-panel');

            });

            var currentPercent = {{ outlook.deferralPercent == null ? '0' : outlook.deferralPercent }};
            $('#' + currentPercent + 'percent').toggleClass('selected-panel unselected-panel'); // set default
            var currentSelected = $('.selected-panel').attr('id');
            if (typeof currentSelected == 'undefined') {
                $("#custom-deferral").val(currentPercent);
            }
        })

        $('#custom-deferral').change( function() {
            var currentSelected = $('.selected-panel').attr('id');
            $('#' + currentSelected).toggleClass('selected-panel unselected-panel');
        });

    </script>


    {{ 'view_deferral_rates' | trans ({}, 'atblueprint') }}: <span id="percent-btn" class="btn-selected">%</span><span id="dollar-btn" class="btn-unselected">$</span>
    <br><br>
    <div class="row">
        <div id="{{ blueprint.DefRatePct * 100}}percent" class="unselected-panel">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="currentPerMonth">${{ blueprint.AtIndexTrendDol|default(0) |number_format(0, '.', ',') }}/mo</h1>
                        <p>{{ 'at_retirement' | trans ({}, 'atblueprint') }}</p>
                    </div>
                    <div class="panel-body">
                        <h1 class="percent-view">{{ blueprint.DefRatePct * 100}}%</h1>
                        <h1 style="display:none;" class="dollar-view">${{blueprint.DefRateDol |number_format(0, '.', ',')}}/mo</h1>
                        <p>{{ 'deferral' | trans ({}, 'atblueprint') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ blueprint.DefRate1PctPct * 100}}percent" class="unselected-panel">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="currentPerMonth">${{ blueprint.AtIndexTrend1Dol|default(0) |number_format(0, '.', ',') }}/mo</h1>
                        <p>{{ 'at_retirement' | trans ({}, 'atblueprint') }}</p>
                    </div>
                    <div class="panel-body">
                        <h1 class="percent-view">{{ blueprint.DefRate1PctPct * 100}}%</h1>
                        <h1 style="display:none;" class="dollar-view">${{blueprint.DefRate1PctDol |number_format(0, '.', ',')}}/mo</h1>
                        <p>{{ 'deferral' | trans ({}, 'atblueprint') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ blueprint.DefRate3PctPct * 100}}percent" class="unselected-panel">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="currentPerMonth">${{ blueprint.AtIndexTrend3Dol|default(0) |number_format(0, '.', ',') }}/mo</h1>
                        <p>{{ 'at_retirement' | trans ({}, 'atblueprint') }}</p>
                    </div>
                    <div class="panel-body">
                        <h1 class="percent-view">{{ blueprint.DefRate3PctPct * 100}}%</h1>
                        <h1 style="display:none;" class="dollar-view">${{blueprint.DefRate3PctDol |number_format(0, '.', ',')}}/mo</h1>
                        <p>{{ 'deferral' | trans ({}, 'atblueprint') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <select id="custom-deferral" style="width:275px" class="selectpicker">
        <option value="0" selected disabled>{{ 'choose_custom_deferral_rate' | trans ({}, 'atblueprint') }}:</option>
        {% for i in 0..blueprint.DefRateMaxPct|default(0)*100 %}
            <option value="{{ i }}">{{ i }}%</option>
        {% endfor %}
        <option value="{{ blueprint.DefRateMaxPct|default(0) * 100 }}">{{ 'max_allowed' | trans ({}, 'atblueprint') }}</option>
    </select>

    <div class="actions" style="position: static; padding-top:15px">
        <a class="actionBtn left">
            <span class="center action-button" onclick="goToMainPage()">{{ 'back' | trans ({}, 'global') }}</span>
        </a>
        <a class="actionBtn right">
            <span class="center action-button" onclick="saveNewOutlook()">{{ 'proceed' | trans ({}, 'global') }}</span>
        </a>
    </div>

{% endblock %}