<style>
    .table-responsive {
        overflow-x: auto !important;
    }
</style>
<p>{{ 'popup_information' | trans ({}, 'atblueprint') }}:</p>

<div class="row" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-spacing: 2px;">
    <div class="col-md-4" style="padding-left:0px">
        <div class="col-md-6">
            {{ 'current_age' | trans ({}, 'atblueprint') }}: <b>{{ data.currentAge }}</b>
        </div>
        <div class="col-md-6">
            {{ 'retirement_age' | trans ({}, 'atblueprint') }}: <b>{{ data.retirementAge }}</b>
        </div>
    </div>

    <div class="col-md-8" style="padding-left:0px;padding-right:0px">
        <div class="col-md-6">
            {{ 'starting_age_social_security' | trans ({}, 'atblueprint') }}: <b>{{ data.socialSecurityStartingAge }}</b>
        </div>
        <div class="col-md-6">
            {{ 'monthly_social_income' | trans ({}, 'atblueprint') }}: <b>{{ data.monthlySocialSecurityIncome }}</b>
        </div>
    </div>


</div>
<br>

<div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'account_name' | trans ({}, 'atblueprint') }}</th>
            <th class="text-center">{{ 'current_balance' | trans ({}, 'atblueprint') }}</th>
            <th class="text-right">{{ 'monthly_income' | trans ({}, 'atblueprint') }}</th>
            <th class="text-right">{{ 'projected_annual_additions' | trans ({}, 'atblueprint') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                {% if account.isIncome == 'true' %}
                <td class="text-center">N/A</td>
                <td class="text-right">${{ account.monthlyIncome|number_format(2, '.', ',') }}</td>
                {% else %}
                <td class="text-center">${{ account.currentBalance|number_format(2, '.', ',') }}</td>
                <td class="text-right">N/A</td>
                {% endif %}
                <td class="text-right">${{ account.projectedAnnualAdditions|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>{{ 'totals' | trans ({}, 'atblueprint') }}</th>
                <th class="text-center">${{ totalBalance|number_format(2, '.', ',') }}</th>
                <th class="text-right">${{ totalIncome|number_format(2, '.', ',') }}</th>
                <th class="text-right">${{ totalAnnualAdditions|number_format(2, '.', ',') }}</th>
            </tr>
        </tfoot>
    </table>
</div>


<button style="margin-right: 10px" class="btn btn-success btn-custom" onclick ="closeLightBox();personalInformationBridgePage();" id="update-profile-btn" >{{ 'update_your_profile' | trans ({}, 'atblueprint') }}</button>

<br><br>


<hr style="height: 0px">
{{ 'range_of_potential_outcomes' | trans ({}, 'atblueprint') | raw }}
<br>

<div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'monthly_income' | trans ({}, 'atblueprint') }}</th>
            <th class="text-center">{{ 'projected_progress' | trans ({}, 'atblueprint') }}</th>
            <th class="text-right">{{ 'retirement_age' | trans ({}, 'atblueprint') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'best_outcome' | trans ({}, 'atblueprint') }}</td>
            <td>${{ blueprint.AtIndexTrendHighDol|number_format(2, '.', ',') }}</td>
            <td class="text-center">{{ projectedProgress.high }}%</td>
            <td class="text-right">{{ retirementAge.best|number_format(1, '.', ',') }}</td>
        </tr>
        <tr>
            <td>{{ 'worst_outcome' | trans ({}, 'atblueprint') }}</td>
            <td>${{ blueprint.AtIndexTrendLowDol|number_format(2, '.', ',') }}</td>
            <td class="text-center">{{ projectedProgress.low }}%</td>
            <td class="text-right">{{ retirementAge.worst|number_format(1, '.', ',') }}</td>
        </tr>
        </tbody>
    </table>
</div>
