{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}
{% for cta in ctas %}
{{ cta.title }} <input type ="checkbox" {{ cta.checked }} value ='{{ cta.id}}'  class ="ctalistmanage" />
<br/>
{% endfor %}
<hr/>
<button type ="button" class ="btn btn-success" onclick ="saveCtaList()">Save</button>

<script>
function saveCtaList()
{
    var elementString = "";
    var elements = $(".ctalistmanage");
    for (var i = 0; i < elements.length;i++)
    if (elements[i].checked)
    {
        if (elementString != "")
        elementString = elementString + ",";
        elementString = elementString + elements[i].value;
    }
    var querystring ="userid={{userid}}&ctaids=" + elementString;
    var page = "{{ path('_manage_cta_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        showalert('saved-alert');
    }); 
}
</script>