.video-container::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  z-index: 2;
  display: block;
  position: absolute;
  left: 50%;
}



video {
	position: absolute;
	width:100%;
	height:auto;
	left:-25%;
}

.container.hold .video-controls {
  display: none !important;
}


.video-controls.show {
  bottom: 0;
  transition: bottom .5s;
}


.video-controls {
	display:block;
	width:100%;
	position: absolute;
	left:0;
	bottom:-5vw;
	background:rgba($primary-dk, .75);
	height:5vw;
	line-height:5vw;
	margin:0;
	padding:0 2.5vw;
	z-index: 20;
	overflow:hidden;
  transition: bottom .5s;

	.play {
		width: 2.5vw;
		height: 2.5vw;
		display: inline-block;
		cursor:pointer;
		position: absolute;
		top:1.25vw;
    background-image: url('/w/img/play.svg');
    background-repeat: no-repeat;
    background-size: cover;
	}

  .pause {
		width:2.5vw;
		height:2.5vw;
		text-align:left;
		display:inline-block;
		cursor:pointer;
		position: absolute;
		top:1.25vw;
    background-image: url('/w/img/pause.svg');
    background-repeat: no-repeat;
    background-size: cover;

	}

	input[name=seek],
  .progress-bar {
		height:2.5vw;
		display:inline-block;
		width: 63vw;
		background-color: $transparent;
		vertical-align: middle;
		margin-left:4vw;
		cursor:pointer;
		z-index:10;
	}

  #seekBar,
  #progressBar {
    opacity: 0;
  }

  .progress-bar {
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
    height: .25vw;
    background-color: $primary-md;
    border-radius: .25vw;
  }
  .progress-value {
    display: block;
    height: .25vw;
    width: 0;
    //background-color: $primary-lt;
    opacity: .8;
    border-radius: .25vw;
    transition: width .5s;
  }

  .indicator {
    width: 6vw;
    position: absolute;
    top: 0;
    right: 2.5vw;
    color: $primary-lt;
    font-weight: $light;
    font-size: 1.25vw;
  }

}
