<script>
	function useDefaultContact()
	{
		{% for key in defaultContact|keys %}
		$("#contact_{{ key }}").val($("#defaultContact_{{ key }}").html());
		{% endfor %}
	}
</script>
<div style = "display:none">
	{% for key in defaultContact|keys %}
	<div id = "defaultContact_{{key}}">{{ defaultContact[key]['value'] | raw }}</div>
	{% endfor %}
</div>
