{% for sponsorConnect in items %}
{% if loop.index > 1 %},{% endif %}
[
    
    {{ sponsorConnect.id }},
    {{ sponsorConnect.userid }},
    {{ sponsorConnect.planid }},
    "{{sponsorConnect.toEmailAddress }}",
    "{{sponsorConnect.fromEmailAddress }}",
    
    "{{sponsorConnect.requestStatus }}",
    "{{sponsorConnect.requestDate.date|date("Y-m-d H:i:s") }}",
    "{{sponsorConnect.scheduleDate.date|date("Y-m-d H:i:s") }}",
    "<span class =\"glyphicon glyphicon-eye-open\" title = \"Preview Template\" onclick = \"ajaxModal('{{path('_manage_outreach_new_preview')}}?id={{sponsorConnect.templateid}}&planid={{sponsorConnect.planid }}','Preview','large','true')\"></span>
    <span onclick = \"ajaxModal('{{path('_manage_outreach_new_embed_code')}}?id={{sponsorConnect.templateid}}&planid={{sponsorConnect.planid}}','Code')\" class =\"glyphicon glyphicon-collapse-down\" title =\"Code\"></span>
    <span class = \"glyphicon glyphicon-book\" title =\"Other Properties\" onclick = \"ajaxModal('{{path('_plans_sponsor_connect_view_properties')}}?id={{sponsorConnect.id}}','Properties')\"></span>
    {% if sponsorConnect.requestStatus == "request" %}<span class =\"glyphicon glyphicon-calendar\" title = \"Schedule Campaign\" onclick = \"ajaxModal('{{path('_plans_sponsor_connect_scheduleSponsorConnect')}}?id={{sponsorConnect.id}}','Schedule Campaign')\" ></span>{% endif %}
    {% if sponsorConnect.requestStatus == "in progress" %}<span class =\"glyphicon glyphicon-edit\" title \"Edit Campaign\" style = \"cursor:pointer\" onclick = \"window.location='{{ path('_manage_campaigns_createcampaign_edit') }}?id={{sponsorConnect.campaignid}}'\"></span>{% endif %}
    {% if sponsorConnect.requestStatus == "request" or sponsorConnect.requestStatus == "in progress"%}<span class =\"glyphicon glyphicon-remove\" title = \"Cancel Sponsor Request\" onclick = \"ajaxModal('{{path('_plans_sponsor_connect_cancelSponsorRequestCommSpecialist')}}?id={{sponsorConnect.id}}','Cancel Smart Connect Request')\" ></span>{% endif %}
    "
]
{% endfor %}