<template>
        <v-row class="justify-center ma-0 width-100" v-if="messaging[message] && (messaging[messageActive] == 1 || messaging[messageActive] == '1')" :class="showMessage ? 'px-lg-10 px-md-8 px-xl-10 px-4 py-lg-6 py-md-5 py-xl-6 py-3' : ''">
            <v-icon v-if="!showMessage" @click="showMessage = !showMessage" class="overlay-icon primary--text">mdi-message-text</v-icon>
            <v-card v-if="showMessage" :elevation="7" class="black-bg white-color width-100">
                <v-row>
                    <v-col cols="1" class="text-center">
                        <v-icon class="white-color">mdi-message-text</v-icon>
                    </v-col>
                    <v-col cols="10">
                        {{messaging[message]}}
                    </v-col>
                    <v-col cols="1" class="text-center">
                        <v-icon class="white-color close-icon" @click="showMessage = !showMessage">mdi-close</v-icon>
                    </v-col>
                </v-row>
            </v-card>
        </v-row>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        props: {
            message: {
                type: String
            },
            messageActive: {
                type: String
            }
        },
        data() {
            return {
                image_src: require("../../assets/img/vid-placeholder.png"),
                showMessage: true
            };
        },
        computed: {
            ...mapState(['messaging'])
        }
    };
</script>


<style scoped>
    .overlay-icon{
        position: absolute!important;
        right: 45px;
        top: 48px;
    }
    @media only screen and (max-width: 599px) {
        .overlay-icon{
            top: 25px;
        }
    }
    @media only screen and (max-width: 440px) {
        .close-icon{
            margin-left: -20px!important;
        }
    }
</style>
