<template>
  <v-footer 
  app
  inset
  padless 
  absolute 
  overflow 
  :class="currentRoute ? 'footer-no-pad' : 'footer' "
  class="gray-5-bg">
    <v-container 
    fluid 
    class="fill-height main-content">
      <v-layout>
        <!-- modal -->
        <v-dialog 
        v-model="dialog" 
        max-width="350">
          <v-card>
            <v-card-title 
            class="dialog-header" 
            primary-title>
              <div class="flex-grow-1"></div>
              <v-btn
              rounded
              text
              class="set-radius"
              @click="dialog = false; snackbar = true;">
                <v-icon 
                class="close-button" 
                color="white"
                dark>mdi-close-circle-outline</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-title>{{cardTitle }}</v-card-title>
            <v-card-text>
              {{this.translate('myprofile', 'My_Profile', 'My_Profile88', {
                "%selected%": this.selected, "%alsoSelected%": this.selected
              }) }}</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" rounded class="set-radius" text @click="dialog = false;snackbar=true; changeLanguage">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile89') }}
              </v-btn>
              <v-btn 
              color="blue darken-1" 
              text
              rounded
              class="set-radius"
              @click="dialog = false;snackbar=true; changeLanguageReload"
              to="/">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile90') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!-- modal -->
        <v-dialog v-model="disclosureDialog" width="315">
          <v-card class="set-radius">
            <v-card-title class="dialog-header primary pr-4">
              <div class="flex-grow-1"></div>
              <v-icon class="white-color mt-n2" @click="disclosureDialog = false">mdi-close-circle-outline</v-icon>
            </v-card-title>
            <v-card-title>Language change </v-card-title>
            <v-card-text>
              asking the user if they want to start over in the new language or continue from the  page they’re on
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn rounded color="primary" text @click="disclosureDialog = false;changeLanguage(false)">
                Continue
              </v-btn>
              <v-btn rounded color="primary" text @click="disclosureDialog = false;changeLanguage(true)">
                Start Over
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!-- snackbar -->
        <v-snackbar 
        v-model="snackbar" :timeout="1000" bottom right>
          <v-icon color="#fff">mdi-check</v-icon> {{this.translate('myprofile', 'My_Profile', 'My_Profile91', {
          "%selected%": this.selected
          }) }}
        </v-snackbar>
        <!-- links -->
        <v-row>
          <v-col class="footer-list pl-md-11 pl-lg-2 pl-0" cols="12" lg="6" md="6" sm="12" xs="12">
            <template 
            :links="footerLinks" 
            v-for="(link, i) in links">
              <v-btn 
              :key="i + 'first'"
              rounded
              text>
                <router-link 
                :key="link.index" 
                :to="link.route"
                :disabled="disableLinks"
                :event="!disableLinks ? 'click' : ''">
                  {{link.name}}
                </router-link>
              </v-btn>
              <span 
              class="bar" :key="i + 'second'"> | </span>
            </template>
          <v-btn
          rounded
          text>
            @VWISE
          </v-btn>
          </v-col>
          <!-- language select -->
          <v-col class="footer-list pr-lg-11 pr-xl-11 pr-md-11" cols="12" lg="2" md="2" sm="12"  xs="12" offset-lg="4" offset-md="4" offset-sm="0" offset-xs="0">
            <v-select 
            class="lang" 
            :items="langItems"
            :placeholder="langItems[0]"
            v-model="selected"
            aria-label="Language select"
            single-line
            @change="changeLanguageDialog();snackbar=true;"></v-select>
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
  import PathContent from "../Content/PathContent";

  var langaugesStrings = ['English', 'Español'];//update with translation
  var languages = new Object();
  var language = new Object();
  language.description = langaugesStrings[0];
  language.value = "en";
  languages[language.value] = language;
  language = new Object();
  language.description = langaugesStrings[1];
  language.value = "es";
  languages[language.value] = language;

  export default {
    components: { PathContent },
    data: function () {
    return {
      dialog: false,
      selected: languages[this.$store.state.common.locale].description,
      snackbar: false,
      disclosureDialog: false
        }
    },
    computed: {
      currentRoute () {
        return this.$route.name == 'pathChoice'
      },
      disableLinks() {
        return this.$store.state.disableLinks
      },
      cardTitle(){
        return this.translate('myprofile', 'My_Profile', 'My_Profile95');
      },
      langItems(){
        let a = this.translate('myprofile', 'My_Profile', 'My_Profile92');
        let b = this.translate('myprofile', 'My_Profile', 'My_Profile93');
        return [a,b]
       },
      links() {
        return [{
          'name': this.translate('myprofile', 'My_Profile', 'My_Profile94'),
          'route': '/riskprofile'
        }, {
          'name': this.translate('myprofile', 'My_Profile', 'My_Profile96'),
          'route': '/investments'
        }, {
          'name': this.translate('myprofile', 'My_Profile', 'My_Profile97'),
          'route': '/contributions'
        }, {
          'name': this.translate('myprofile', 'My_Profile', 'My_Profile98'),
          'route': '/myprofile'
        }]
      },

    },
    methods: {
      changeLanguageDialog: function() {
        this.disclosureDialog = true;
      },
      changeLanguage: function(refresh) {
        for (var key in languages)
        {
          if (languages[key].description == this.selected) {
            this.$store.state.common.locale = languages[key].value;

            this.$store.dispatch('changeLocale',languages[key].value).then(() =>{

              this.$store.dispatch('setPath',this.$store.state.path.type.type).then(() =>{
                this.$store.dispatch('getRiskProfile').then(() => {
                  this.$store.dispatch('getInvestmentSections').then(() => {
                    if (this.$router.currentRoute.name.startsWith("RPQuestionComponent"))
                      this.$router.push({name:"RPWelcome" });
                    else {
                      if(refresh)
                        this.$router.push({name: "PlanBasics"});
                    }
                  });
                });
              });
            });
          }
        }
      },
      changeLanguageReload: function()
      {
        for (var key in languages)
        {
          var selected = "";
          if (languages[key].description === this.selected) {
            //window.location = window.location.toString().split("&lang=")[0] + "&lang=" + languages[key].value;
            this.$store.state.common.locale = languages[key].value;
            this.$store.dispatch('changeLocale',languages[key].value).then(() =>{
              this.$router.push({name: 'pathChoice'});
            })

          }
        }
      },
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  
  .close-button {
    min-width: 10px!important;
    height: 10px!important;
  }
  .main-content{
    max-width: 1211px !important;
  }
  footer
  .dialog-text {
    color:  var(--v-secondary-lighten3);
    font-size: 18px
  }
  .dialog-header{
    background-color: var(--v-primary-base);
    padding-right: 0!important;
  }
  .footer {
    padding-left: 256px!important;
    left: 0!important;
  }
  .footer-no-pad {
    padding-left: 0!important;
    left: 0!important;
  }
  footer a,
  footer a:disabled,
  .bar, footer ::v-deep .v-btn.v-btn--flat.v-btn--text, .reset-btn .v-btn__content, .v-btn.back {
    text-decoration: none;
    color: $gray-4!important
  }
  footer .v-btn {
    padding: 0!important;
    color: $gray-4!important
  }
  .v-snack__content {
    background-color: $blue-2
  }
  .lang {
    margin-top: -10px;
  }
  @media only screen and (max-width: 1263px) {
    .footer {
      padding-left: 0!important
    }
    .lang {
    margin-top: -10px;
    width: 165px
    }
  }
  @media only screen and (max-width: 960px) {
    .footer {
      padding-left: 0!important;
      text-align: center;
    }
    .footer-list,
    .lang {
      text-align: center;
      margin: auto
    }
  }
</style>
