<template>
    <v-card :elevation="1" class="px-3 py-6 pa-lg-12 pa-md-12 set-radius path-choice width-100">
        <v-row class="width-100 justify-center ma-0">
            <div v-if="show">
                <component
                        :is="html"
                        v-on:selectStandard="$emit('selectStandard')"
                        v-on:selectExpress="$emit('selectExpress')"
                ></component>
            </div>
        </v-row>
    </v-card>
</template>

<script>
    export default {
        name: "Fork",
        props: {
            fork: Object,
            show: {
                type: Boolean,
                default: true
            },
        },
        computed: {
            title() {
                if (this.fork.title) {
                    return this.fork.title;
                }
                return 'Get started with your retirement planning';
            },
            boxOneTitle() {
                if (this.fork.box_1_title) {
                    return this.fork.box_1_title;
                }
                return 'Guided';
            },
            boxTwoTitle() {
                if (this.fork.box_2_title) {
                    return this.fork.box_2_title;
                }
                return 'Express';
            },
            boxOneDescription() {
                if (this.fork.box_1_description) {
                    return this.fork.box_1_description;
                }
                return 'Want more guidance? We can help you quickly and easily enroll in or manage your plan.';
            },
            boxTwoDescription() {
                if (this.fork.box_2_description) {
                    return this.fork.box_2_description;
                }
                return 'Short on time? Enroll in your plan with just a few clicks.';
            },
            customHtml() {
                if (this.fork.custom_html) {
                    return this.fork.custom_html;
                }
                return '';
            },
            html() {
                let content = `
                    <v-row class="display-3 justify-center text-center py-4 path-title pb-12">
                        [title]
                    </v-row>
                    <v-row class="ma-0 justify-center py-4">
                        <v-card :elevation="3" class="info-card set-radius">
                            <v-row class="ma-0">
                                <v-col :style="boxOneStyles" cols="12" lg="6" md="6" class="card-col pa-12 left-card-col side-box-shadow">
                                    <v-row class="py-4 ma-0 display-2 secondary--text text--darken-3 no-flex-wrap align-center">
                                        [box_1_title]
                                    </v-row>
                                    <!--
                                    <v-row class="ma-0 headline secondary--text text--darken-2">
                                        Approx. 3-5 mins
                                    </v-row>
                                    -->
                                    <v-row class="py-4 ma-0">
                                        [box_1_description]
                                    </v-row>
                                    <v-row class="ma-0">
                                        [button_1]
                                    </v-row>
                                </v-col>
                                <v-col :style="boxTwoStyles" cols="12" lg="6" md="6" :class="boxTwoClasses" class="pa-12 card-col right-card-col">
                                    <v-row class="py-4 ma-0 display-2 secondary--text text--darken-3">
                                        [box_2_title]
                                    </v-row>
                                    <!--
                                    <v-row class="ma-0 headline secondary--text text--darken-2">
                                        Approx. 10-15 mins
                                    </v-row>
                                    -->
                                    <v-row class="py-4 ma-0">
                                        [box_2_description]
                                    </v-row>
                                    <v-row class="ma-0">
                                        [button_2]
                                    </v-row>
                                </v-col>
                                <div class="or gray-1-bg secondary--text text--darken-2 text-center pt-3">OR</div>
                            </v-row>
                        </v-card>
                    </v-row>
                `;
                if (this.customHtml) {
                    content = this.customHtml;
                }
                content = content.replace('[title]', this.title);
                content = content.replace('[box_1_title]', this.boxOneTitle);
                content = content.replace('[box_1_description]', this.boxOneDescription);
                content = content.replace('[button_1]', '<v-btn :class="buttonTwoClasses" :color="buttonTwoColor" rounded outlined @click="$emit(\'selectStandard\')">{{ buttonTwoText }}</v-btn>')
                content = content.replace('[box_2_title]', this.boxTwoTitle);
                content = content.replace('[box_2_description]', this.boxTwoDescription);
                content = content.replace('[button_2]', '<v-btn :color="buttonOneColor" rounded @click="$emit(\'selectExpress\')">{{ buttonOneText }}</v-btn>')
                return {
                    template: '<div>' + content + '</div>',
                    computed: {
                        buttonOneColor() {
                            if (this.fork.button_1_color) {
                                return this.fork.button_1_color;
                            }
                            return 'primary';
                        },
                        buttonTwoColor() {
                            if (this.fork.button_2_color) {
                                return this.fork.button_2_color;
                            }
                            return 'primary';
                        },
                        buttonOneText() {
                            if (this.fork.button_1_text) {
                                return this.fork.button_1_text;
                            }
                            return 'GET STARTED';
                        },
                        buttonTwoText() {
                            if (this.fork.button_2_text) {
                                return this.fork.button_2_text;
                            }
                            return 'GET STARTED'
                        },
                        boxOneStyles() {
                            if (this.fork.box_1_color) {
                                return { 'background-color': this.fork.box_1_color };
                            }
                            return {};
                        },
                        boxTwoStyles() {
                            if (this.fork.box_2_color) {
                                return { 'background-color': this.fork.box_2_color };
                            }
                            return {};
                        },
                        boxTwoClasses() {
                            return {
                                'gray-1-bg': !this.fork.box_2_color
                            };
                        },
                        buttonTwoClasses() {
                            return {
                                'long-road': !this.fork.button_2_color
                            }
                        }
                    },
                    props: {
                        fork: {
                            type: Object,
                            default: () => { return this.fork }
                        },
                    },
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";


    .path-choice{
        max-width:1284px!important
    }
    .path-choice ::v-deep .right-card-col{
        border-radius: 0 8px 8px 0;
    }
    .path-choice ::v-deep .left-card-col{
        border-radius: 8px 0 0 8px;
    }
    .path-choice ::v-deep .long-road{
        color: var(--v-primary-base)!important;
        border-color: var(--v-primary-base)!important
    }
    .path-choice ::v-deep .side-box-shadow{
        box-shadow: 4px 0 3px 0 rgba(0,0,0,.2)!important;
        z-index: 1
    }
    .path-choice ::v-deep .or{
        position: absolute;
        left: 50%;
        margin-left: -25px;
        margin-top: 136px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 32px;
        width: 50px;
        height: 50px;
        color: #fff;
        border-bottom-left-radius:32px!important;
        border-bottom-right-radius:32px!important;
        z-index:2;
        box-shadow: inset 4px 0 1px 0 rgba(0,0,0,.2)!important;
    }
    .path-choice ::v-deep .mdi-run{
        font-size: 35px!important;
        color: var(--v-secondary-darken3)
    }
    .path-choice ::v-deep .no-flex-wrap{
        flex-wrap: nowrap
    }
    .path-choice ::v-deep .info-card {
        position: relative;
        z-index: 1;
        max-width: 800px;
    }
    @media only screen and (max-width: 959px) {
        .path-choice ::v-deep .or{
            margin-top:275px;
            box-shadow: inset 0px 4px 1px 0 rgba(0, 0, 0, 0.2) !important;
        }
        .path-choice ::v-deep .side-box-shadow{
            box-shadow: 0 4px 3px 0 rgba(0,0,0,.2)!important;
        }
        .path-choice ::v-deep .info-card{
            max-width: 500px
        }
        .path-choice ::v-deep .path-title{
            max-width: 800px;
        }
    }
    @media only screen and (max-width: 532px) {
        .path-choice ::v-deep .or{
            margin-top: 298px
        }
    }

</style>