<template>
    <div v-if="pathType === 'smartexpress'">
        <v-btn class="back" color="primary" rounded text @click.prevent="$router.push({path: '/'})">
            {{ this.translate('contributions', 'Express', 'Take_Guided') }}
        </v-btn>
    </div>
</template>

<script>
    export default {
        name: "LeftSideActions",
        computed: {
            pathType() {
                return this.$store.state.path.type.type;
            }
        }
    }
</script>

<style scoped>

</style>