<template>
    <v-navigation-drawer
            v-model="drawer"
            app
            clipped
            fixed
            floating
            class="reg-nav pt-xl-6 pt-lg-6 pt-md-6 pl-11 gray-5-bg">
        <!-- nav links -->
        <v-stepper
                class="main-nav gray-5-bg"
                vertical
                v-model="currentSectionIndex">
            <template v-for="(link, i) in sections">
                <v-stepper-step
                        :step="i + 1"
                        :key="i + 1"
                        :complete="isCompleted(link)"
                        :class="isCompleted(link) ? 'green-icon' : ''"
                        :complete-icon="'mdi-check'"
                        @click="isEnabled(link) ? $router.push({'name': link.name}) : ''">
                    {{link.section.description}}
                </v-stepper-step>
                <v-stepper-content
                        :key="i + link.name"
                        :step="i + 1">
                </v-stepper-content>
            </template>
        </v-stepper>
    </v-navigation-drawer>
</template>

<script>
    export default {
        data: () => ({
            drawer: null
        }),
        methods: {
            isEnabled(link) {
                if (this.disableNavigation) {
                    return false;
                }
                if (this.navigationLocked && !link.complete) {
                    return false;
                }
                if (this.$store.state.path.currentSection === link.section.section) {
                    return false;
                }

                return link.enabled;
            },
            isCompleted(link) {
                return !this.disableNavigation && link.complete;
            }
        },
        computed: {
            currentSectionIndex: {
                get() {
                    return this.$store.state.currentSectionIndex;
                },
                set(index) {
                    this.$store.state.currentSectionIndex = index;
                }
            },
            sections() {
                return this.$store.getters.getActivePathSections;
            },
            disableNavigation() {
                return this.$store.state.disableNavigation
            },
            navigationLocked() {
                return this.$store.state.common.navigationLocked;
            }
        }
    }
</script>
<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .reg-nav ::v-deep .v-navigation-drawer__content aside {
        transform: none !important
    }
    .reg-nav ::v-deep .v-stepper--vertical .v-stepper__content{
        padding: 8px 60px 8px 23px;
    }
    .reg-nav ::v-deep .v-stepper__step{
        cursor: pointer!important;
    }
    .reg-nav ::v-deep .v-stepper__step__step{
        background-color: $gray-7!important;
        cursor: pointer!important;
    }
    .reg-nav ::v-deep .v-stepper__step--active .v-stepper__step__step{
        background-color: var(--v-primary-base)!important
    }
    .green-icon ::v-deep .v-stepper__step__step{
        background-color: $bright-green!important;
    }
    .reg-nav ::v-deep .v-stepper__step .v-stepper__step--active{
        background-color: var(--v-primary-base)!important
    }
    .reg-nav ::v-deep .v-stepper__label{
        color: $gray-4!important
    }
    .reg-nav ::v-deep .v-stepper{
        background: $gray-5!important
    }
    .reg-nav{
        left: 50%;
        margin-left: -745px;
    }
    @media only screen and (max-width: 1486px) {
        .reg-nav{
            left:0;
            margin-left:0
        }
    }
</style>
