<template>
    <v-navigation-drawer
            v-model="left"
            fixed
            floating
            class="secondary lighten-5">
        <v-stepper class="main-nav secondary lighten-5" vertical v-model="currentSectionIndex">
            <template v-for="(link, i) in sections">
                <v-stepper-step
                        :editable="isEnabled(link)"
                        :step="i  + 1"
                        :key="i + 1"
                        @click="isEnabled(link) ? $router.push({'name': link.name}) : ''">
                    {{link.section.description}}
                </v-stepper-step>
                <v-stepper-content
                        :key="i + link.name"
                        :step="i + 1">
                </v-stepper-content>
            </template>
        </v-stepper>
    </v-navigation-drawer>
</template>

<script>
    export default {
        props: {
            links: Array
        },
        data: () => ({
            left: false,
        }),
        methods: {
            isEnabled(link) {
                if (this.disableNavigation) {
                    return false;
                }
                if (this.navigationLocked && !link.complete) {
                    return false;
                }
                if (this.$store.state.path.currentSection === link.section.section) {
                    return false;
                }

                return link.enabled;
            }
        },
        computed: {
            currentSectionIndex: {
                get() {
                    return this.$store.state.currentSectionIndex;
                },
                set(index) {
                    this.$store.state.currentSectionIndex = index;
                }
            },
            sections() {
                return this.$store.getters.getActivePathSections;
            },
            disableNavigation() {
                return this.$store.state.disableNavigation
            },
            navigationLocked() {
                return this.$store.state.common.navigationLocked;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .main-nav ::v-deep .v-stepper--vertical .v-stepper__content{
        padding: 8px 60px 8px 23px;
    }
    .v-navigation-drawer__content aside {
        transform: none !important
    }


</style>
