<template>
    <div id="progressbar">
        <div id="target-line" v-if="showTarget" :style="{ left: targetPosition + '%' }"></div>
        <div id="target-label" v-if="showTarget" :class="byPercent ? 'title pct-target' : 'target-label'" :style="{ left: targetPosition + '%' }">
            <span v-if="!byPercent && targetLabel">{{ targetLabel }}</span><br>
            <span :class="byPercent ? '' : 'title'"><span v-if="!byPercent">$</span>{{ targetAmount }}</span><span v-if="byPercent">%</span>
        </div>
        <v-tooltip bottom color="black">
            <template v-slot:activator="{ on }">
                <div id="bar-2" :style="{ width: secondPosition + '%', 'background-color': color2 }" v-on="on"><div class="headline pt-4" v-if="byPercent && value2">{{value2}}%</div></div>
                <div id="bar-1" :style="{ width: firstPosition + '%', 'background-color': color1 }" v-on="on">
                    <div class="headline pt-4" v-if="byPercent && value1 && !widthTooSmallForLabel">
                        <span v-if="!showThirty">{{value1}}</span><span v-if="showThirty">{{parseFloat(firstPosition).toFixed(2)}}</span>%
                    </div>
                </div>
                <span class="headline" style="position:relative;top:16px" v-if="byPercent && !showTarget">{{translate('contributions', 'Contr', 'Contr_Goal')}}: {{max}}%</span>
            </template>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <v-icon class="caption" :color="color1">mdi-circle</v-icon>
                                {{ label1 }}: <span v-if="!byPercent">${{ parseFloat(value1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</span><span v-if="byPercent"><span v-if="!showThirty">{{parseFloat(value1)}}</span><span v-if="showThirty">{{firstPosition.toFixed(2)}}</span>%</span></td>
                        </tr>
                        <tr v-if="showBothValues">
                            <td>
                                <v-icon class="caption" :color="color2">mdi-circle</v-icon>
                                {{ label2 }}: <span v-if="!byPercent">${{ parseFloat(value2).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</span><span v-if="byPercent">{{ parseFloat(value2) }}%</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </v-tooltip>
    </div>
</template>

<script>
    export default {
        name: "ProgressBar",
        props: {
            target: Number,
            value1: Number,
            value2: Number,
            targetLabel: String,
            targetAmount: String,
            label1: String,
            label2: String,
            color1: String,
            color2: String,
            tooltipTitle: String,
            newMax: Number,
            showTarget: Boolean,
            byPercent: Boolean,
            showBothValues: Boolean,
            showThirty: Boolean
        },
        computed: {
            max() {
                if(this.newMax){
                    return this.newMax
                }else{
                    return Math.max(1.1 * this.target, parseFloat(this.value1) + parseFloat(this.value2))
                }
            },
            firstPosition() {
                if (this.max === 0) return 0;
                if (Number(this.newMax) == 100) return parseFloat(this.value1);
                return 100 * parseFloat(this.value1) / this.max;
            },
            secondPosition() {
                if (this.max === 0) return 0;
                if (Number(this.newMax) == 100) return parseFloat(this.value2);
                return 100 * parseFloat(this.value2) / this.max;
            },
            targetPosition() {
                if (this.max === 0) return 0;
                return 100 * this.target / this.max;
            },
            widthTooSmallForLabel(){
                if(Number(this.firstPosition) < 13){
                    return true;
                }else{
                    return false;
                }
            },
        }
    }
</script>

<style scoped>
    #progressbar {
        position:relative;
        border: 1px solid black;
    }
    #progressbar::after {
        display: block;
        content: "";
        clear: both;
    }
    .target-label {
        position: absolute;
        transform: translate(-50%, -50%);
        top: -29px;
        border-radius: 6px;
        padding: 5px;
        transition: left 1s ease-in-out;
        width: 150px;
    }
    #target-line {
        position:absolute;
        width:1px;
        background-color:black;
        height:100%;
        transition: left 1s ease-in-out;
    }
    #bar-1 {
        background-color:red;
        color: white
    }
    #bar-2 {
        background-color:blue;
        color: white
    }
    #bar-1, #bar-2 {
        width: 0;
        height: 64px;
        float:left;
        transition: width 1s ease-in-out;
    }
    .pct-target{
        position: absolute;
        transform: translate(-50%, -50%);
        transition: left 1s ease-in-out;
        left: 30%;
        top: -65px;
        background-color: white;
        color: black;
        padding: 0;
        border-radius: 0;
        height: 0;
    }
</style>