<template>
    <audio-player :file="file" v-if="file !== null" :auto-play="autoplay"></audio-player>
</template>

<script>
    import AudioPlayer from "./AudioPlayer";
    export default {
        name: "StepAudioPlayer",
        components: {AudioPlayer},
        computed: {
            currentStep() {
                return this.$store.state.path.currentStep;
            },
            autoplay() {
                return !! parseInt(this.$store.state.module.autoPlayAudio);
            },
            file() {
                if (this.currentStep.stepContents.length > 0) {
                    let length = this.currentStep.stepContents.length;
                    let latest = this.currentStep.stepContents[length - 1];
                    return latest.content;
                }
                return null;
            }
        }
    }
</script>

<style scoped>

</style>