<template>
    <div class="body-1 plan-name">{{this.translate('myprofile', 'My_Profile', 'My_Profile99')}}</div>
    <div class="display-1 hidden-md-and-down">{{this.translate('myprofile', 'My_Profile', 'My_Profile100', {
        "%name%": 'Bartholemew'
        })}}</div>
</template>

<script>
  import PathContent from "../Content/PathContent";
  export default {
    components: { PathContent },
    props: {
      links: Array
    },
    data: () => ({

    }),
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";

</style>
