<template>
    <div style="width:100%">
        <div id="vwise-video" class="set-radius"></div>
        <div id="vwise-disclaimer" style="display: none;">
            <button @click="hideDisclaimer">Close Disclaimer</button>
            <div id="vwise-overlay"></div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        name: "VideoPlayer.vue",
        data() {
            return {
                disclaimerObj: {},
                videoIndex: 0,
                videoPlaylist: []
            }
        },
        props: {
            video: {
                type: String
            },
            vidnum: {
                type: String
            },
            dir: {
                type: String,
                default: 'next'
            },
            libraryname: {
                type: String,
            }
        },
        computed: {
            ...mapState(['path'])
        },
        methods: {
            createPlaylist: function(playlist) {
                var self = this;
                var returnObj = [];
                var disclaimerTemp = {};
                this.videoPlaylist = [];
                for (var i = 0; i < playlist.length; i++) {

                    playlist[i].locales.forEach(function (item, index) {
                        var execute = true;
                        if(item.languageId === self.$store.state.common.localeId) {
                            if (playlist[i].module) {
                                var selection = self.$store.state.common.SPE2Modules[playlist[i].module];
                                try {
                                    if (playlist[i].moduleSelection !== selection.toString())
                                        execute = false;
                                } catch (e) {
                                    execute = false;
                                }
                            }
                            if (execute) {
                                returnObj.push({
                                    sources: [{file: item.url, default: true}],
                                    image: "/spe/player/poster.jpg",
                                    description: item.videoId,
                                    tracks: [{
                                        file: item.subtitleUrl,
                                        label: "English",
                                        kind: "captions",
                                    }],
                                    title: playlist[i].step,
                                    name: playlist[i].name
                                });
                                disclaimerTemp[playlist[i].step] = playlist[i].disclaimer;
                            }
                        }
                    });
                }
                if(this.path.playLists[this.video] && this.path.playLists[this.video].videos && returnObj.length ){
                    for(let i = 0; i < returnObj.length; i++){
                        this.videoPlaylist.push(returnObj[i].name)
                    }
                    this.$emit('getCurrentVideo', this.videoPlaylist);
                }
                this.disclaimerObj = disclaimerTemp;
                return returnObj;
            },
            nextStep() {
                let dir = ['next', 'prev'].indexOf(this.dir) > -1 ? this.dir : 'next';
                if (this.video === "planBasics") {
                    this.$parent.$parent.$parent[dir]()
                } else {
                    this.$parent.$parent.$parent.$parent[dir]();
                }
            },
            hideDisclaimer() {
                document.getElementById("vwise-disclaimer").style.display = "none";
            }

        },
        mounted() {
            this.$parent.$parent.$parent.$parent.videoPage = true;
            let playlist = [];
            let index = null;
            if (this.video === "library") {
                var arr = [];
                for (var i = 0; i < this.$store.state.library.length; i++) {
                    if ('video' in this.$store.state.library[i]) {
                        var baseUrl = "https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/library/";
                        for (var k in this.$store.state.library[i].video) {
                            if (this.libraryname === k) {
                                index = Object.keys(this.$store.state.library[i].video).indexOf(k);
                            }
                            arr.push({ locales: [{ languageId: this.$store.state.common.localeId, url: baseUrl + this.$store.state.library[i].video[k].directory + "/m4v/" + this.$store.state.library[i].video[k].video + ".mp4",
                                    subtitleUrl: baseUrl + this.$store.state.library[i].video[k].directory + "/vtt/" + this.$store.state.library[i].video[k].video + "_en.vtt" }]})
                        }

                        playlist = this.createPlaylist(arr);
                        break;
                    }
                }
            }
            else if (this.video === "RPCongratulations") {
                var baseUrl = "https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/";
                var RPObject = [{ locales: [{ languageId: this.$store.state.common.localeId, url: baseUrl + "m4v/" + this.vidnum + ".mp4", subtitleUrl: baseUrl + "vtt/" + this.vidnum + "_en.vtt" }]}];
                playlist = this.createPlaylist(RPObject);
            }
            else if (this.video in this.$store.state.path.playLists && this.$store.state.path.playLists[this.video].videos) {
                playlist = this.createPlaylist(this.$store.state.path.playLists[this.video].videos);
            }
            if (playlist.length) {
                jwplayer.key = "XkrCEtJjpENgHzaccwWpBjoFwSongLK34QgYqsXxD8g=";
                jwplayer("vwise-video").setup({
                    playlist: playlist,
                    aspectratio: "16:9",
                    width: "100%",
                    primary: "html5",
                    image: "/spe/player/poster.jpg",
                    skin: "/spe/player/skins/glow.xml",
                    displaytitle: false,
                });
                if (index !== null) {
                    jwplayer("vwise-video").playlistItem(index);
                }
                jwplayer().setCurrentCaptions(0);
                jwplayer("vwise-video").play();
                jwplayer().onPlaylistComplete((e) => {
                    this.nextStep();
                });
                jwplayer().onPlaylistItem((e) => {
                    this.$store.state.libraryState = jwplayer().getPlaylistIndex(); // for library state only
                    document.getElementById("vwise-disclaimer").style.display = "none";
                    document.getElementById("vwise-video").style.borderRadius = "8px";
                    if (this.disclaimerObj[jwplayer().getPlaylistItem().title]) {
                        document.getElementById("vwise-disclaimer").style.display = "block";
                        document.getElementById("vwise-overlay").innerHTML = this.disclaimerObj[jwplayer().getPlaylistItem().title];
                    }
                    this.$emit('updateMessage')
                });

            } else {
                this.nextStep();
            }
        }
    }

</script>

<style scoped>
    #vwise-video{
        border-radius: 8px;
    }
    #vwise-overlay {
        position: absolute;
        bottom:110px;
        right: 0;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        background-color: rgba(221, 221, 221, 0.3);
        width: 100%;
        padding: 50px 0;
        z-index: 2147483646;
        font-family: Arial, sans-serif;
    }
</style>