<template>
  <v-card 
  flat 
  tile 
  :elevation="3"
  class="outer-card set-radius">
    <v-row class="align-center justify-center">
      <v-row class="title width-100 align-center justify-center">
        Welcome!
      </v-row>
      <v-row class="body-text body-1">
        <v-col lg="8" offset-lg="2">
          <div>We are in the process of retrieving your information from the plan database.</div>
          <div> Our host will be with you in just a few more seconds </div>
        </v-col>
      </v-row>
      <v-row class="form-fields">
        <v-col lg="12" class="text-center">
          <!-- progress circle -->
          <v-progress-circular :rotate="-90" :size="100" :width="10" :value="loadTime" color="primary">
          </v-progress-circular>
        </v-col>
      </v-row>
    </v-row>
  </v-card>
</template>

<script>
  import data from '../../api/data'

  export default {
    data() {
      return {
        e1: 0,
        interval: {},
        loadTime: 0,
      }
    },
    mounted() {
      this.interval = setInterval(() => {
        if (this.loadTime === 100) {
          clearInterval(this.interval);
        }
        this.loadTime += 10
      }, 1000)
    },
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  
.page {
    padding: 80px;
}
.v-card {
    width: 100%;
    height: auto
}
.form-fields {
    width: 100%;
} 
.body-text {
    color: var(--v-secondary-base);
    padding: $body-text-padding!important;
    text-align: center;
  }
  .outer-card {
    display: flex!important;
    flex-direction: column!important;
    min-height: 600px
  }
  .v-progress-circular {
    margin: 1rem;
  }
  .progress-donut {
    text-align: center;
  }
</style>

