{% for email in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ email.id }},
    "<div id=\"recipient_{{ email.id }}_firstName\"><span>{{ email.firstName }}</span><div class=\"form-group\" style=\"display:none;margin-bottom:0;\"><input type=\"text\" name=\"firstName\" class=\"form-control input-sm\" value=\"{{ email.firstName }}\"></div></div>",
    "<div id=\"recipient_{{ email.id }}_lastName\"><span>{{ email.lastName }}</span><div class=\"form-group\" style=\"display:none;margin-bottom:0;\"><input type=\"text\" name=\"lastName\" class=\"form-control input-sm\" value=\"{{ email.lastName }}\"></div></div>",
    "<div id=\"recipient_{{ email.id }}_email\"><span>{{ email.email }}</span><div class=\"form-group\" style=\"display:none;margin-bottom:0;\"><input type=\"email\" name=\"email\" class=\"form-control input-sm\" value=\"{{ email.email }}\"><span class=\"glyphicon glyphicon-exclamation-sign form-control-feedback\" aria-hidden=\"true\" style=\"display:none;\"></span><span class=\"help-block\" style=\"display:none;\">Invalid e-mail address</span></div></div>",
    "<span id=\"recipient_{{ email.id }}_editButton\" onclick=\"toggleEditFields('{{ email.id }}',true)\" class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"></span><span id=\"recipient_{{ email.id }}_submitButton\" onclick=\"submitNotificationRecipient('{{ email.id }}')\" class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\" style=\"display:none;\"></span><span onclick=\"deleteNotificationRecipient('{{ email.id }}')\" class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>"
]
{% endfor %}

