<article class="connected-thank-you">
    <div class="widget-title">{{ 'thankyou_msg' | trans ({}, 'widget') }}</div>
    <div class="widget-text">{{ 'email_text_msg' | trans ({}, 'widget') }}</div>
    <button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
</article>
<script>
    setTimeout(redirect.bind(null, true), 2000);
</script>