<article id="" class="select-contribution">
<form id="matchForm">
    <div class="widget-title">{{ 'how_much_are_you_ready_to_contribute' | trans ({}, 'widget') }}</div>
    <div id="contributionDisplay"></div>
    <div id="contributionSlider"></div>
    <div class="widget-text">{{ 'estimated_monthly_income_at_retirement' | trans ({'%retireAge%': data.retireAge}, 'widget') }}</div>
    <div id="projectedMonthlyIncomeMax"></div>
    <button id="backButton" type="button" class="transparent return">{{ 'go_back_alt' | trans({}, 'widget') }}</button>
    <button id="selectDeferralButton" type="button" class="color-primary">{{ 'ready_to_get_in_the_game' | trans ({}, 'widget') }}</button>
</form>
</article>
<script>
    $(document).ready(function() {
        var contributionSlider = document.getElementById('contributionSlider');
        noUiSlider.create(contributionSlider, {
            start: 0,
            step: 0.5, 
            range: {
                'min': 0,
                'max': {{ data.partDeferralSetting == 'dollar' ? min(data.maxDeferralFlatDollar,data.salary) : data.maxDeferral }},
            },
            pips: { // Show a scale with the slider
                mode: 'positions',
                values: [20,40,60,80],
                density: 5,
                stepped: false
            }
        });
        
        var contributionFormat = wNumb({
            thousand: ',',
            decimals: 2,
            {% if data.partDeferralSetting == 'dollar' %}
            prefix: '$ '
            {% else %}
            postfix: ' %'
            {% endif %}
        });
        var projectedFormat = wNumb({
            thousand: ',',
            decimals: 2,
            prefix: '$ '
        });
        
        contributionSlider.noUiSlider.on("update", function() {
            $("#contributionDisplay").text(contributionFormat.to(parseFloat(contributionSlider.noUiSlider.get())));
        });
        contributionSlider.noUiSlider.on("set", function() {
            var params = {contribution: contributionSlider.noUiSlider.get()};

            $.post('{{ path('_widgets_ajax_getProjectedMonthlyIncome') }}', params).done(function(data)
            {
                $("#projectedMonthlyIncomeMax").text(projectedFormat.to(parseFloat(data)));
            });
        });
        contributionSlider.noUiSlider.set({{ data.overrideDeferral ? data.overrideDeferral : (data.partDeferralSetting == 'dollar' ? data.currentDeferralFlatDollar : data.currentDeferral) }});
        
        
        $('#selectDeferralButton').on('click', function() {
            var contribution = contributionSlider.noUiSlider.get();
            $("#spinner").fadeIn();
            var page = "{{ path('_widgets_ajax_saveNewDeferral') }}";
            $.post(page, {overrideDeferral: contribution}).done(function(data) {
                var page = "{{ path('_widgets_ajax_submitContributionAllocation') }}";
                var params = {pretax: contribution};
                $.post(page, params).done(function(data)
                {
                    var object = JSON.parse(data);

                    if (!object.successOrPostContributionsOff || (object.postContributions && !object.confirmation)) {
                        $('#spinner').hide();
                        $('#confirmation').show().find('.error').fadeIn(1000);
                    }
                    else {
                        if (object.postContributions) { 
                            $("#ctaContent").hide().load('{{ path('_widgets_offTheBench_confirmationConnected') }}', function(){
                                $("#spinner").hide();
                                $(this).fadeIn(1000);
                            }); 
                        }
                        else {
                            $("#ctaContent").hide().load('{{ path('_widgets_offTheBench_confirmationCta') }}', function(){
                                $("#spinner").hide();
                                $(this).fadeIn(1000);
                            }); 
                        }
                    }
                });
            });
        });
    });
    //# sourceURL=selectContribution.html.twig 
</script>