<div id="americanTrustContainer">
{% block content %}{% endblock %}
{% if showCustomHeader is defined %}
<input type ="hidden" id ="showCustomHeader" />
<span id ="AtArchitectTitle" style ="display:none"><span style ="font-size:14px">AT<span style ="color:#e8e8e8">Architect</span></span></span>
<script>       
turnOnCustomHeader($("#AtArchitectTitle").html(),"black");   
</script>
{% endif %}
</div>