
<div id ="architectGraph"></div>
<script>
var ATArchitectScores = new Array();
var labels = new Array();
var ageScores = new Array();
var counter = 0;
{% for row  in chart %}
ATArchitectScores[counter] = {{ row.ATArchitectScore}};     
labels[counter] = "{{ row.label}}";  
ageScores[counter] = {{ row.ageScore }};
counter++;        
{% endfor %}
if (counter) {
    $('#notavailable').hide();
    Highcharts.chart('architectGraph', {
        chart: {
            type: 'spline',
            backgroundColor: 'rgba(255, 255, 255, 0.1)'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: labels
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                formatter: function () {
                    return this.value + '%';
                }
            },
            opposite: true
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            },
            series: {
                point: {
                    events: {
                        mouseOver: function () {
                            var series = this.series.chart.series;
                            var graphData = new Array();
                            for (var i = 0; i <= 1; i++) {
                                graphData[i] = new Object();
                                graphData[i]['percent'] = series[i].yData[this.x];
                                $("#architectGraphPercent" + i).html(graphData[i]['percent']);
                            }
                        },
                        mouseOut: function () {
                            $("#architectGraphPercent0").html({{ ATReturn }});
                            $("#architectGraphPercent1").html({{ QdiaReturn }});
                        }
                    }
                }
            }
        },
        series: [{
            showInLegend: false,
            name: '{{ 'architect_performance' | trans ({}, 'atarchitect') }}',
            marker: {
                symbol: 'square'
            },
            color: "#4078D2",
            data: ATArchitectScores

        }, {
            showInLegend: false,
            name: '{{ 'age_based_performance' | trans ({}, 'atarchitect') }}',
            marker: {
                symbol: 'diamond'
            },
            color: "#417505",
            data: ageScores
        }],
        navigation: {
            buttonOptions: {
                enabled: false
            }
        },
        credits: {
            enabled: false
        }
    });
} else {
    $('#notavailable').show();
}
$("#architectGraphPercent0").html({{ ATReturn }});
$("#architectGraphPercent1").html({{ QdiaReturn }});
</script>
<div id="notavailable" align="center" style="display:none">
    <h1>{{ 'no_information_available' | trans ({}, 'atarchitect') }}</h1>
</div>

