{% set showCustomHeader = true %}
{% extends 'SpeAppBundle:Template:investments/atarchitect/base.html.twig' %}
{% block content %}
    <style>
        hr{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
    {% set audioFile = 'AT_audio_0322_ATa' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% include 'SpeAppBundle:Template:investments/atarchitect/participantname.html.twig' %}
<br><br>
<h2>{{ 'thank_you' | trans ({}, 'atarchitect') }}</h2>
<p style="font-size: 12px">{{ 'thank_you_desc1' | trans ({}, 'atarchitect') }}
    
    <br/><br/>{{ 'thank_you_desc2' | trans ({}, 'atarchitect') }}
</p>
    <hr/>
    <strong style="font-size: 20px">{{ 'my_future_contributions' | trans ({}, 'atarchitect') }}:</strong><br>
    <span style ="font-size:18px">{{ investments.suggestedInvestment.percent }}% {{ investments.suggestedInvestment.description }}</span>
    <hr style="margin-top: 0;border-bottom: 1px dashed rgb(110, 110, 110)"/>
    <strong style="font-size: 20px">{{ 'my_current_contributions' | trans ({}, 'atarchitect') }}:</strong><br>
    <span style ="font-size:18px">{{ investments.currentInvestment.percent }}% {{ investments.currentInvestment.description }}</span>
    <hr/>
<div class ="actions">
    <a class="actionBtn left">
        <span class="center action-button"  onclick ="goToArchitectPage()" >{{ 'back'| trans ({}, 'global') }}</span>
    </a>
    <a class="actionBtn right">
        <span class="center action-button"  onclick ="investmentselectorProceed()" >{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
<script>
function investmentselectorProceed()    
{
    showLoader();
    $.post( "/investments/atarchitect/3/saved").done(function( html )
    {
        hideLoader();
        {% if app.session.get("ACInitialize").WsIndividual.ArchitectIsEnrolled == "true" %}
        goToArchitectStats();
        {% else %}
        $('body').trigger('spe:router:redirect', { to: 'myProfile', complete : 'investments' });
        {% endif %}            
    });  
}
</script>
{% endblock %}