<form id ="reportStylesForm">
    {% for section in sections  %}
    <h4>{{ section.description }}</h4> 
    <input type = "text" style ="display:none" name ="id" value ="{{ planid }}" />
    <input type  = "text" class="form-control" placeholder = "{{ section.description }}: "   value = "{{ section.value }}"  id = "reportStyles_{{ section.field }}" name ="{{ section.field }}"  /> 
    <script>
    addColorPicker("reportStyles_{{ section.field }}");
    </script>  
    {% endfor %}
    <br/>
</form>
<button type ="button" class ="btn btn-success" onclick = "updatetable('plans','reportStylesForm','id',closeLightBox)">Save</button>