{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Email Results By Contact' })) }}
<style>
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#downloadButtonSpinner {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
</style>
<form id="hubSpotEmailResultsForm" target="_blank" action="{{ path('_manage_reports_hubSpotEmailResults_createReport') }}" method="POST">
    <div class="form-group">
        <label for="startDate">Start</label>
        <input type="text" class="form-control datepicker" id="startDate" name="startDate" autocomplete="off" data-bv-notempty data-bv-trigger="input">
    </div>
    <div class="form-group">
        <label for="endDate">End</label>
        <input type="text" class="form-control datepicker" id="endDate" name="endDate" autocomplete="off" data-bv-notempty>
    </div>
    <div class="form-group">
        <label for="workflowId">Workflow</label>
        <select class="form-control" id="workflowId" name="workflowId" data-bv-notempty>
            <option selected disabled>Select a workflow</option>
            {% for workflow in workflows %}
                <option value="{{ workflow.id }}" >{{ workflow.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Download</button>
    <span id="downloadButtonSpinner" class="glyphicon glyphicon-refresh" style="display: none;"></span>
</form>
<script>
$(document).ready(function()
{
    $("#hubSpotEmailResultsForm").bootstrapValidator({}).on('success.form.bv', function(e, data) {
        $('#downloadButtonSpinner').show();
        var self = this;
		e.preventDefault();
		$.post('{{ path('_manage_reports_hubSpotEmailResults_createReport') }}', $(this).serialize(), function(response) {
            if (response.success) {
                window.location = '{{ path('_manage_reports_hubSpotEmailResults_downloadReport') }}';
            }
            else {
                var message = response.data ? response.data : "An error occurred generating the report";
                modalMessage(message);
            }
        }).fail(function() {
            modalMessage("An error occurred generating the report");
        }).always(function() {
            $(self).bootstrapValidator("disableSubmitButtons", false);
            $('#downloadButtonSpinner').hide();
        });
	});
    
    $('.datepicker').datepicker({ 
        dateFormat: "yy-mm-dd", 
        onSelect: function() {
            $('#hubSpotEmailResultsForm').bootstrapValidator('revalidateField', $(this));
        } 
    }); 
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}