<script>
myProfileUi.validBeneficiary = true;    
myProfileUi.beneficiaryValidationMessage = function(message)
{
    if (this.validBeneficiary)
        errorMessage(message);
    this.validBeneficiary  = false;
};
myProfileUi.validateBeneficiaryEmpty = function(id)
{
    var div = $(id);
    {% for data in beneficiaryData %} 
        {% if data.validators is defined and  "required" in data.validators|keys %}
            if (div.find("#{{data.field }}").val() == "")
                this.beneficiaryValidationMessage(this.translations.{{ data.translationEmpty.source }}.{{ data.translationEmpty.key }});
        {% endif %}
    {% endfor %}
};
myProfileUi.validateBeneficiarySSN = function(id)
{
    var div = $(id); 
    var ssnValue = div.find("[name=ssn]").val();
    {% if "ssn" in beneficiaryData|keys %}
    if (!this.isSsn(ssnValue) && ssnValue != "")
        this.beneficiaryValidationMessage(this.translations.alert.please_enter_valid_ssn);
    {% endif %}       
};
myProfileUi.maskSSN = function(element)
{
    element.maskSSN('999-99-9999', {maskedChar:'X', maskedCharsLength:9});
};
myProfileUi.maskMiddleInitial = function(element)
{
    element.mask("a");
};
myProfileUi.maskBirthDate = function(element)
{
    element.datepicker({dateFormat: 'mm/dd/yy',changeMonth: true,changeYear: true,maxDate: 'today', minDate: new Date(1900, 0, 1),yearRange: "-130:+0"});
    element.mask('99/99/9999', {placeholder:"MM/DD/YYYY"});
};
myProfileUi.maskPhone= function(element)
{
    element.mask('999-999-9999');
};
myProfileUi.maskZip= function(element)
{
    element.mask('?99999-9999');
};
myProfileUi.validateBeneficiaryGeneral = function(id)
{
    this.validateBeneficiaryEmpty(id);
    this.validateBeneficiarySSN(id);
    this.validatePercentage(id);
};
myProfileUi.beneficiaryParams  = function(id)
{
    var div = $(id);
    var params = {};
    {% for data in beneficiaryData %}
    params['{{data.field }}'] = div.find("#{{data.field }}").val();  
    {% if data.type == "ssn" %}
    params['{{data.field }}'] = div.find("[name={{data.field }}]").val();
    {% endif %}
    {% if data.type == "checkbox" %}
    params['{{data.field }}'] = Number(div.find("[name={{data.field }}]").is(":checked"));   
    {% endif %}
    {% endfor %}
    {% if mode == "edit" %}
    params['id'] = "{{ id }}";
    {% endif %}
    return params;    
};
myProfileUi.validatePercentage = function(id)
{
    var div = $(id);
    var element  = div.find("#percent");
    var percent = parseInt(element.val());
    if (percent < element.attr("min") || percent > element.attr("max"))
        this.beneficiaryValidationMessage(this.translations.alert.please_enter_valid_percentage);
};
myProfileUi.addBeneficiaryGeneral = function(id)
{
    myProfileUi.validateBeneficiary();
    if (this.validBeneficiary)
        this.addBeneficiaryPost(this.beneficiaryParams(id));   
};
myProfileUi.addBeneficiaryPost = function(params)
{
    if (this.ajaxPost("/myProfileBeneficiaryAddSaved",params))
        params.id ? EventTracking.editBeneficiary(params): EventTracking.addBeneficiary(params);
};
myProfileUi.isSsn = function(ssn)
{
    // 1 - 9
    if(/98765432\d{1}/g.test(ssn) || /123456789/g.test(ssn)){

        return false;
    }

    //consecutive 00's
    if(/000\d{2}\d{4}$/g.test(ssn) || /^\d{3}\d{2}0000/g.test(ssn) || /^\d{3}00\d{4}$/.test(ssn)){

        return false;
    }

    // All same numbers
    if (/^(.)\1+$/g.test(ssn)) {

        return false;
    }

    //illegal first three
    if(/666\d{2}\d{4}$/.test(ssn) || /899\d{2}\d{4}$/.test(ssn)){

        return false;
    }

    if (ssn.length < 9 || ssn.length === 0) {

        return false;
    }

    return true;
};
</script>