<div class="beneficiary-add">
    <div class="container-fluid">
        {% for data in beneficiaryData %}
            <div class="col-sm-6 cols">
                <div class="row">{{ data.translation }}{% if data.validators is defined and  "required" in data.validators|keys %}*{%endif %}</div>
                <div class="row" style ="padding-left:0px">
                    {% include "SpeAppBundle:Template:myprofile/ui/beneficiary/inputs/" ~ data.type ~".html.twig" %}  
                </div>
            </div>
            {% if data.type == "checkbox" %}
            <div class ="clear"></div>
            {% endif %}
        {% endfor %}
        <div class="col-sm-6 cols">
            <div class="row">{{ 'primary_percent_remaining' | trans ({}, 'beneficiary') }}: <span id ="primaryTotalPercentOffset"></span>%</div>
            <div class="row">{{ 'contingent_percent_remaining' | trans ({}, 'beneficiary') }}: <span id ="secondaryTotalPercentOffset"></span>%</div>
        </div>
    </div>
</div>
{% include "SpeAppBundle:Template:myprofile/ui/beneficiary/index.js.twig" %}   
<script>
var primaryTotalPercentOffsetInitial = {{ data.beneficiary.primaryTotalPercentOffset}};
var secondaryTotalPercentOffsetInitial = {{ data.beneficiary.secondaryTotalPercentOffset}};
{% if beneficiaryData.type.value == "primary" %}
primaryTotalPercentOffsetInitial = primaryTotalPercentOffsetInitial + {{ beneficiaryData.percent.value  }};
{% endif %}
{% if beneficiaryData.type.value == "secondary" %}
secondaryTotalPercentOffsetInitial = secondaryTotalPercentOffsetInitial + {{ beneficiaryData.percent.value  }};   
{% endif %}
myProfileUi.validateBeneficiary = function()
{
    this.validBeneficiary = true; 
    this.validateBeneficiaryGeneral(".beneficiary-add");
    if($("#primaryTotalPercentOffset").html() < 0)        
        this.beneficiaryValidationMessage(this.translations.alert.sum_of_pct_primary_beneficiaries_must_be_100);
    if($("#secondaryTotalPercentOffset").html() < 0)        
        this.beneficiaryValidationMessage(this.translations.alert.sum_of_pct_contingent_beneficiaries_must_be_100);
};
myProfileUi.addBeneficiary = function()
{
    this.addBeneficiaryGeneral(".beneficiary-add");
    return this.validBeneficiary;
};

var currentDiv = $(".beneficiary-add");
myProfileUi.editBeneficiary = myProfileUi.addBeneficiary;
myProfileUi.maskSSN($(".beneficiary-add").find("#ssn"));
myProfileUi.maskZip(currentDiv.find("#zip"));
myProfileUi.maskBirthDate(currentDiv.find("#dob"));
myProfileUi.updatePercents = function()
{
    var percent = currentDiv.find( "#percent" ).val();
    $("#primaryTotalPercentOffset").html(primaryTotalPercentOffsetInitial);
    $("#secondaryTotalPercentOffset").html(secondaryTotalPercentOffsetInitial);
    var type = currentDiv.find("#type").val();
    if (type == "primary")
        $("#primaryTotalPercentOffset").html(primaryTotalPercentOffsetInitial-percent);
    if (type == "secondary")
        $("#secondaryTotalPercentOffset").html(secondaryTotalPercentOffsetInitial-percent);    
};
currentDiv.find( "#type,#percent" ).on("keyup keydown change",function(event)
{
    myProfileUi.updatePercents();
});
myProfileUi.updatePercents();
myProfileUi.isSpouse = function(isSpouse)
{
    var typeField = "level";
    {% if beneficiaryData.isSpouse is defined %}
    typeField = "type";           
    {% endif %}   
    var type =  currentDiv.find("#" + typeField).val();
    var percent = currentDiv.find("#percent").val();
    currentDiv.find("#" + typeField).prop("disabled",isSpouse);
    currentDiv.find("#percent").prop("disabled",isSpouse)
    if (isSpouse)
    {
        type = "primary";
        percent = 100;       
    }
    currentDiv.find("#" + typeField).val(type);
    currentDiv.find("#percent").val(percent);
    this.updatePercents();    
};
{% if beneficiaryData.isSpouse is defined %}
myProfileUi.isSpouse(currentDiv.find("#isSpouse").is(":checked"));
currentDiv.find( "#isSpouse" ).click(function() 
{
    myProfileUi.isSpouse(currentDiv.find("#isSpouse").is(":checked"));
});
{% endif %}
{% if beneficiaryData.relationship is defined %}
myProfileUi.isSpouse(currentDiv.find("#relationship").val() == "spouse");
currentDiv.find( "#relationship" ).change(function() 
{
    myProfileUi.isSpouse(currentDiv.find("#relationship").val() == "spouse");
});

{% endif %}
</script>
