<div class="beneficiary-add">
    <div class="row">
        {% set area = "left" %}
        {% include "SpeAppBundle:Template:myprofile/ui/beneficiary/srt/beneficiarySections.html.twig" %} 
        {% set area ="right" %}
        {% include "SpeAppBundle:Template:myprofile/ui/beneficiary/srt/beneficiarySections.html.twig" %}
    </div>
</div>
{% include "SpeAppBundle:Template:myprofile/ui/beneficiary/index.js.twig" %}   
<script>
myProfileUi.validateBeneficiary = function()
{
    this.validBeneficiary = true; 
    this.validateBeneficiaryGeneral(".beneficiary-add");
};
myProfileUi.addBeneficiary = function()
{
    this.addBeneficiaryGeneral(".beneficiary-add");
    return this.validBeneficiary;
};
var currentDiv = $(".beneficiary-add");
myProfileUi.editBeneficiary = myProfileUi.addBeneficiary;
myProfileUi.maskSSN(currentDiv.find("#ssn"));
myProfileUi.maskMiddleInitial(currentDiv.find("#middleInitial"));
myProfileUi.maskBirthDate(currentDiv.find("#dob"));
myProfileUi.maskPhone(currentDiv.find("#phone"));
myProfileUi.maskZip(currentDiv.find("#zip"));
currentDiv.find("#foreignaddress").click(function() 
{
  var country = currentDiv.find("#country");
  country.prop("disabled",!$(this).is(":checked"));
  if($(this).is(":checked"))
    country.val("");
  else
     country.val("US"); 
});
</script>

