<div class="beneficiary-add">
    <div class="container-fluid">
        <div class="detail" style="margin-bottom:20px;">{{ 'beneficiary_details' | trans ({}, 'beneficiary') }}</div>
        {% for data in beneficiaryData %}
            <div class="col-sm-6 cols">
                <div class="row">{{ data.translation }}{% if data.validators is defined and  "required" in data.validators|keys %}*{%endif %}</div>
                <div class="row">
                    {% include "SpeAppBundle:Template:myprofile/ui/beneficiary/inputs/" ~ data.type ~".html.twig" %}  
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include "SpeAppBundle:Template:myprofile/ui/beneficiary/index.js.twig" %}   
<script>
myProfileUi.validateBeneficiary = function()
{
    this.validBeneficiary = true; 
    this.validateBeneficiaryGeneral(".beneficiary-add");
};
myProfileUi.addBeneficiary = function()
{
    this.addBeneficiaryGeneral(".beneficiary-add");
    return this.validBeneficiary;
};
myProfileUi.editBeneficiary = myProfileUi.addBeneficiary;
myProfileUi.maskSSN($(".beneficiary-add").find("#ssn"));
</script>