<div id="contributions" class="reportBox">
    <div class="boxTitle">{{ "plan_balance_and_contributions" | trans ({}, "my_profile") }}</div>
    <div class="clear"></div>
    <!-- Monthly Salary -->
    <div class="rowDark">
        <div class="left">{{ "current_yearly_income" | trans ({}, "my_profile") }}:</div>
        <div class="right"> ${{ contributions.income | number_format }}</div>
        <div class="clear"></div>
    </div>
    <!-- Current Plan Balance -->
    <div class="rowDark">
        <div class="left">{{ "current_plan_balance" | trans ({}, "my_profile") }}:</div>
        <div class="right">${{ contributions.balance | number_format }}</div>
        <div class="clear"></div>
    </div>
    {% if contributions.preShow %}
        <div class="rowDark">
            <div class="left">{{ "pre_tax_pre_paycheck" | trans ({}, "my_profile") }}:</div>
            <div class="right"> {{ contributions.preFormatted }}</div>
            <div class="clear"></div>
        </div>
    {% endif %}
    {% if contributions.rothShow %}
        <div class="rowDark">
            <div class="left">{{ "after_tax_roth_per_paycheck" | trans ({}, "my_profile") }}:</div>
            <div class="right"> {{ contributions.rothFormatted }}</div>
            <div class="clear"></div>
        </div>
    {% endif %}
    {% if contributions.postShow %}
        <div class="rowDark">
            <div class="left">{{ "post_tax_per_paycheck" | trans ({}, "my_profile") }}</div>
            <div class="right"> {{ contributions.postFormatted }}</div>
            <div class="clear"></div>
        </div>
    {% endif %}
    {% if contributions.catchupShow %}
        <div class="rowDark">
            <div class="left">{{ "catch_up_contributions" | trans ({}, "my_profile") }}:</div>
            <div class="right"> {{ contributions.catchupFormatted }}</div>
            <div class="clear"></div>
        </div>
    {% endif %}
    <div class="rowDark">
        <div class="left">{{ "your_estimated_monthly_contribution" | trans ({}, "my_profile") }}: <img class="hint" src="/spe/images/global/hint.png" title="{{ "contribution_hint" | trans ({}, "my_profile") }}"></div>
        <div class="right">${{ contributions.monthlyContribution | number_format }}</div>
        <div class="clear"></div>
    </div>
    {% if contributions.projectedEmployer.show %}
    <div class="rowDark">
        <div class="left">{{ "your_employers_estimated_monthly_contribution" | trans ({}, "my_profile") }}: <img class="hint" src="/spe/images/global/hint.png" title="{{ "contribution_hint" | trans ({}, "my_profile")  }}"></div>
        <div class="right">${{ contributions.projectedEmployer.value | number_format }}</div>
        <div class="clear"></div>
    </div>
    {% endif %}    
</div>
