<template>
    <svg width="800px" class="riskSVG" height="84px" viewBox="0 0 800 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
        <title>RTQ / Results / Aggressive</title>
        <desc>Created with Sketch.</desc>

        <g id="RTQ-/-Results-/-Aggressive" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect id="Rectangle" class="brand" fill="brand" x="18" y="41" width="766" height="4"></rect>
            <circle id="Oval" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="17" cy="42" r="15"></circle>
            <circle id="Oval-Copy-6" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="556" cy="43" r="15"></circle>
            <circle id="Oval-Copy-3" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="197" cy="42" r="15"></circle>
            <circle id="Oval-Copy-4" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="377" cy="42" r="15"></circle>
            <circle id="Oval-Copy-5" class="brand" cx="760" cy="42" r="40"></circle>
        </g>

    </svg>
</template>

<script>
    export default {
        name: "spe-risk-gauge-4"
    }
</script>

<style  scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    .brand{
        fill: var(--v-primary-base)
    }

</style>