<template>
    <svg width="800px" class="riskSVG" height="84px" viewBox="0 0 800 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
        <title>RTQ / Results / Conservative</title>
        <desc>Created with Sketch.</desc>
        <g id="RTQ-/-Results-/-Conservative" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect id="Rectangle" class="brand" fill="brand" x="18" y="41" width="766" height="4"></rect>
            <circle id="Oval" class="brand" cx="41" cy="42" r="40"></circle>
            <circle id="Oval-Copy" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="784" cy="43" r="15"></circle>
            <circle id="Oval-Copy-5" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="604" cy="43" r="15"></circle>
            <circle id="Oval-Copy-3" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="245" cy="42" r="15"></circle>
            <circle id="Oval-Copy-4" stroke="#9B9B9B" stroke-width="2" fill="#FFFFFF" cx="425" cy="42" r="15"></circle>
        </g>
    </svg>
</template>

<script>
    export default {
        name: "spe-risk-gauge-0"
    }
</script>

<style  scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    .brand{
        fill: var(--v-primary-base)
    }
</style>