{% for adviser in items %}
{% if loop.index > 1 %},{% endif %}
{% set action = "$('#adviserid').val('" ~adviser.id ~"');updatePreview()"  %}
[
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{adviser.id}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{adviser.userid}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{adviser.email}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{adviser.firstname}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{adviser.lastname}}</span>"
]
{% endfor %}
