<script type="text/template" id="beneficiary-relius-tpl">                <!--relius new-->
    <div class="beneficiary">
    <div class="head-title">{{ 'your_plan_beneficiaries' | trans ({}, 'beneficiary') }}</div>
    <div class="action-top actions">
        <% if(model.length >= 10) { %>
            <div class="right notification">
                <h2>{{ 'maximum_number_of_beneficiaries_reached' | trans ({}, 'beneficiary') }} <img class="hint" src="/images/hint.png" title="{{ 'maximum_number_of_beneficiaries_reached_hint' | trans ({}, 'beneficiary') }}"/></h2>
            </div>
        <% } else { %>
            <a type="relius" class="actionBtn right add-beneficiary">
                <span class="center action-button">{{ 'add_beneficiary' | trans ({}, 'beneficiary') }}</span>
            </a>
        <% } %>
    </div>
    <div class="details table-wrapper">
        <% if(!_.isEmpty(model)) { %>
            <div class="table-header">
                <div class="row">
                    <div class="cols col-xs-2 col-sm-3">{{ 'name' | trans ({}, 'beneficiary') }}</div>
                    <div class="cols col-sm-2 hidden-xs">{{ 'date_of_birth' | trans ({}, 'beneficiary') }}</div>
                    <div class="cols col-xs-1 col-sm-1">{{ 'pct' | trans ({}, 'beneficiary') }}</div>
                    <div class="cols col-xs-3 col-sm-2">{{ 'type' | trans ({}, 'beneficiary') }}</div>
                    {% if app.session.get('common').data_source starts with 'omni' %}
                        <div class="cols col-xs-3 col-sm-2">{{ 'relationship' | trans ({}, 'beneficiary') }}</div>
                    {% else %}
                        <div class="cols col-xs-3 col-sm-2">{{ 'spouse' | trans ({}, 'beneficiary') }}</div>
                    {% endif %}
                    <div class="cols col-xs-2 col-sm-2">{{ 'actions' | trans ({}, 'beneficiary') }}</div>
                </div>
            </div>

        <div class="table-body">
            <% _.each(model, function(m, k){ %>
                <div class="row">
                    <div class="cols col-xs-2 col-sm-3"><%- m.BeneficiaryName %></div>
                    <div class="cols col-sm-2 hidden-xs"><%- m.BeneficiaryBirthDate %></div>
                    <div class="cols col-xs-1 col-sm-1"><%- m.BeneficiaryPercent %>%</div>
                    {% if app.session.get('common').data_source starts with 'omni' %}
                        <div class="cols col-xs-3 col-sm-2">
                            <% if(m.BeneficiaryLevel == '1'){ %>
                                {{ 'primary' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryLevel == '2'){ %>
                                {{ 'secondary' | trans ({}, 'beneficiary') }}
                            <% } %>
                        </div>
                        <div class="cols col-xs-3 col-sm-2">
                            <% if(m.BeneficiaryRelationship == '0'){ %>
                                {{ 'spouse' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '1') { %>
                                {{ 'aunt' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '2') { %>
                                {{ 'business_partner' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '3') { %>
                                {{ 'daughter' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '4') { %>
                                {{ 'father' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '5') { %>
                                {{ 'friend' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '6') { %>
                                {{ 'father_in_law' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '7') { %>
                                {{ 'grandchild' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '8') { %>
                                {{ 'grandfather' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == '9') { %>
                                {{ 'grandmother' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'A') { %>
                                {{ 'mother' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'B') { %>
                                {{ 'mother_in_law' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'C') { %>
                                {{ 'niece_nephew' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'D') { %>
                                {{ 'step_daughter' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'E') { %>
                                {{ 'step_father' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'F') { %>
                                {{ 'step_mother' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'G') { %>
                                {{ 'step_son' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'H') { %>
                                {{ 'sister_brother' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'I') { %>
                                {{ 'son' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'J') { %>
                                {{ 'uncle' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'K') { %>
                                {{ 'charity' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'L') { %>
                                {{ 'church' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'M') { %>
                                {{ 'creditor' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'N') { %>
                                {{ 'employer' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'O') { %>
                                {{ 'estate' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'P') { %>
                                {{ 'school' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'Q') { %>
                                {{ 'trust' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'R') { %>
                                {{ 'other' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'S') { %>
                                {{ 'originator' | trans ({}, 'beneficiary') }}
                            <% } else if(m.BeneficiaryRelationship == 'T') { %>
                                {{ 'domestic_partner' | trans ({}, 'beneficiary') }}
                            <% } %>
                        </div>
                    {% else %}
                        <div class="cols col-xs-3 col-sm-2"><% if(m.BeneficiaryTypeCode == 'P'){ %> {{ 'primary' | trans ({}, 'beneficiary') }} <% } else { %> {{ 'contingent' | trans ({}, 'beneficiary') }} <% } %></div>
                        <div class="cols col-xs-3 col-sm-2"><% if(m.BeneficiaryIsSpouseCode == "Y"){ %> {{ 'yes' | trans ({}, 'global') }} <% } else { %> {{ 'no' | trans ({}, 'global') }} <% } %></div>
                    {% endif %}
                    <div class="cols col-xs-2 col-sm-2">
                        <div class="action">
                            <span data-type="relius" data-uid="<%- m.uniqid %>" title="Edit" class="glyphicon glyphicon-pencil b-edit"></span>
                            <span data-delete="<%- m.delete %>" data-type="relius" data-uid="<%- m.uniqid %>" title="Delete" class="glyphicon glyphicon-trash b-delete"></span>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <% } else { %>
            <div class="row">
                <div class="col-sm-12"><h5>{{ 'you_havent_setup_any_beneficiaries_yet' | trans ({}, 'beneficiary') }}</h5></div>
            </div>
        <% } %>
    </div>
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a class="actionBtn right proceed" data-type="relius">
            <span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
    </div>
</script>