<script type="text/template" id="add-beneficiary-relius-tpl">        <!--relius new modal-->
    <div class="beneficiary-add">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'add_beneficiary' | trans ({}, 'beneficiary') }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% set mandatory = app.session.get('common').data_source starts with 'omni' ? '*' : '' %}
                    <div class="row">
                        <div class="col-sm-6 cols">
                            <div class="row">{{ 'name' | trans ({}, 'beneficiary') }}*</div>
                            <div class="row"><input id="bName" name="bName" type="text" value="<%- model.BeneficiaryName %>"></div>

                            <div class="row">{{ 'address' | trans ({}, 'beneficiary') }} 1{{ mandatory }}</div>
                            <div class="row"><input id="bAddress1" name="bAddress1" type="text" value="<%- model.BeneficiaryStreet1Address %>"></div>

                            <div class="row">{{ 'address' | trans ({}, 'beneficiary') }} 2</div>
                            <div class="row"><input id="bAddress2" name="bAddress2" type="text" value="<%- model.BeneficiaryStreet2Address %>"></div>

                            <div class="row">{{ 'city' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                            <div class="row"><input id="bCity" name="bCity" type="text" value="<%- model.BeneficiaryCityAddress %>"></div>

                            <div class="row">{{ 'state' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                            <div class="row">
                                <select id="bState" name="bState">
                                    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                    <% _.each(model.states, function(state, value) { %>
                                    <option <%- model.BeneficiaryStateAddress == value ? 'selected' : '' %> value="<%- value %>"><%- state %></option>
                                    <% }); %>
                                </select>
                            </div>

                            <div class="row">{{ 'zip' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                            <div class="row"><input id="bZip" name="bZip" type="text" value="<%- model.BeneficiaryZipAddress %>"></div>
                        </div>
                        <div class="col-sm-6 cols">
                            <div class="row">{{ 'date_of_birth' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                            <div class="row"><input id="bDob" name=bDob type="text" value="<%- model.BeneficiaryBirthDate %>"></div>

                            <div class="row">{{ 'ssn' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                            <div class="row">{% include "SpeAppBundle:Template:Beneficiary/TextFields/ssn.html.twig" %}</div>

                            {% if app.session.get('common').data_source starts with 'omni' %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">{{ 'relationship' | trans ({}, 'beneficiary') }}*</div>
                                        <div class="row">
                                            <select id="bRelationship" name="bRelationship">
                                                <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '0' ? 'selected' : '' %> value="0">{{ 'spouse' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '1' ? 'selected' : '' %> value="1">{{ 'aunt' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '2' ? 'selected' : '' %> value="2">{{ 'business_partner' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '3' ? 'selected' : '' %> value="3">{{ 'daughter' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '4' ? 'selected' : '' %> value="4">{{ 'father' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '5' ? 'selected' : '' %> value="5">{{ 'friend' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '6' ? 'selected' : '' %> value="6">{{ 'father_in_law' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '7' ? 'selected' : '' %> value="7">{{ 'grandchild' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '8' ? 'selected' : '' %> value="8">{{ 'grandfather' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == '9' ? 'selected' : '' %> value="9">{{ 'grandmother' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'A' ? 'selected' : '' %> value="A">{{ 'mother' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'B' ? 'selected' : '' %> value="B">{{ 'mother_in_law' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'C' ? 'selected' : '' %> value="C">{{ 'niece_nephew' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'D' ? 'selected' : '' %> value="D">{{ 'step_daughter' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'E' ? 'selected' : '' %> value="E">{{ 'step_father' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'F' ? 'selected' : '' %> value="F">{{ 'step_mother' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'G' ? 'selected' : '' %> value="G">{{ 'step_son' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'H' ? 'selected' : '' %> value="H">{{ 'sister_brother' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'I' ? 'selected' : '' %> value="I">{{ 'son' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'J' ? 'selected' : '' %> value="J">{{ 'uncle' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'K' ? 'selected' : '' %> value="K">{{ 'charity' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'L' ? 'selected' : '' %> value="L">{{ 'church' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'M' ? 'selected' : '' %> value="M">{{ 'creditor' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'N' ? 'selected' : '' %> value="N">{{ 'employer' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'O' ? 'selected' : '' %> value="O">{{ 'estate' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'P' ? 'selected' : '' %> value="P">{{ 'school' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'Q' ? 'selected' : '' %> value="Q">{{ 'trust' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'R' ? 'selected' : '' %> value="R">{{ 'other' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'S' ? 'selected' : '' %> value="S">{{ 'originator' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryRelationship == 'T' ? 'selected' : '' %> value="T">{{ 'domestic_partner' | trans ({}, 'beneficiary') }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5 col-sm-push-1">
                                        <div class="row">{{ 'gender' | trans ({}, 'beneficiary') }}</div>
                                        <div class="row">
                                            <select id="bGender" name="bGender">
                                                <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryGender == 'Male' ? 'selected' : '' %> value="Male">{{ 'male' | trans ({}, 'beneficiary') }}</option>
                                                <option <%- model.BeneficiaryGender == 'Female' ? 'selected' : '' %> value="Female">{{ 'female' | trans ({}, 'beneficiary') }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row"><div class="col-sm-6" style="padding-left:0;">{{ 'is_spouse' | trans ({}, 'beneficiary') }}</div></div>
                                <div class="row"><div class="col-sm-6" style="padding-left:0;"><input id="bIsSpouse" name="bIsSpouse" type="checkbox" <%- model.BeneficiaryIsSpouseCode == "Y" ? 'checked' : '' %>></div></div>
                            {% endif %}

                            {% if app.session.get('common').data_source starts with 'omni' %}
                                <div class="row">{{ 'beneficiary_type' | trans ({}, 'beneficiary') }}{{ mandatory }}</div>
                                <div class="row">
                                    <select id="bOmniType" name="bOmniType">
                                        <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                        <option <%- model.BeneficiaryType == '1' ? 'selected' : '' %> value="1">{{ 'individual' | trans ({}, 'beneficiary') }}</option>
                                        <option <%- model.BeneficiaryType == '2' ? 'selected' : '' %> value="2">{{ 'organization' | trans ({}, 'beneficiary') }}</option>
                                        <option <%- model.BeneficiaryType == '3' ? 'selected' : '' %> value="3">{{ 'trust' | trans ({}, 'beneficiary') }}</option>
                                    </select>
                                </div>
                            {% else %}
                                <div class="row">{{ 'beneficiary_type' | trans ({}, 'beneficiary') }}*</div>
                                <div class="row">
                                    <select id="bType" name="bType" <%- model.BeneficiaryIsSpouseCode ? 'disabled' : '' %>>
                                    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                    <option <%- model.BeneficiaryTypeCode == 'P' ? 'selected' : '' %> value="P">{{ 'primary' | trans ({}, 'beneficiary') }}</option>
                                    <option <%- model.BeneficiaryTypeCode == 'C' ? 'selected' : '' %> value="C">{{ 'contingent' | trans ({}, 'beneficiary') }}</option>
                                    </select>
                                </div>
                            {% endif %}

                            {% if app.session.get('common').data_source starts with 'omni' %}
                                <div class="row">{{ 'beneficiary_level' | trans ({}, 'beneficiary') }}*</div>
                                <div class="row">
                                    <select id="bOmniLevel" name="bOmniLevel" <%- model.BeneficiaryRelationship == '0' ? 'disabled' : '' %>>
                                    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
                                    <option <%- model.BeneficiaryLevel == '1' ? 'selected' : '' %> value="1">{{ 'primary' | trans ({}, 'beneficiary') }}</option>
                                    <option <%- model.BeneficiaryLevel == '2' ? 'selected' : '' %> value="2">{{ 'secondary' | trans ({}, 'beneficiary') }}</option>
                                    </select>
                                </div>
                            {% endif %}

                            {% if app.session.get('common').data_source starts with 'omni' %}
                                <div class="row">{{ 'benefit_allocation_percentage' | trans ({}, 'beneficiary') }}*</div>
                                <div class="row"><input id="bPercent" name="bPercent" type="number" max="100" min="1" step="1" value="<%- model.BeneficiaryPercent %>" <%- model.BeneficiaryRelationship == '0' ? 'disabled' : '' %>></div>
                            {% else %}
                                <div class="row">{{ 'benefit_allocation_percentage' | trans ({}, 'beneficiary') }}*</div>
                                <div class="row"><input id="bPercent" name="bPercent" type="number" max="100" min="1" step="1" value="<%- model.BeneficiaryPercent %>" <%- model.BeneficiaryIsSpouseCode ? 'disabled' : '' %>></div>
                            {% endif %}

                            <div class="row">{{ 'primary_percent_remaining' | trans ({}, 'beneficiary') }}: <span class="pRem"><%- model.rem_p %></span>%</div>
                            {% if app.session.get('common').data_source starts with 'omni' %}
                                <div class="row">{{ 'secondary_percent_remaining' | trans ({}, 'beneficiary') }}: <span class="sRem"><%- model.rem_s %></span>%</div>
                            {% else %}
                                <div class="row">{{ 'contingent_percent_remaining' | trans ({}, 'beneficiary') }}: <span class="cRem"><%- model.rem_c %></span>%</div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="bDelete" value="<%- model.BeneficiaryNumber ? 0 : 1 %>">
                <input type="hidden" id="uniqueId" value="<%- model.uniqid %>">
                <input type="hidden" id="bNumber" value="<%- model.BeneficiaryNumber %>">
                <button type="button" class="btn btn-default action" data-dismiss="modal">{{ 'cancel' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" data-type="relius" id="updateBeneficiary">{{ 'save' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</script>
