
{% block content %}

<h3 class="label">{{ 'balance' | trans ({}, 'widget') }}</h3>
<h5 class="color-primary">{{ 'your_current_retirement_plan_balance' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup>
  <span class ="data_balance"></span>
</div>

{% endblock %}
