{% block content %}

    <h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
    <h3>
        {{ 'please_contact_your_human' | trans ({}, 'widget') }} {{ 'we_will_send_you_a_helpful' | trans ({}, 'widget') }}
    </h3>

<h5>{{ 'send_instructions_to' | trans ({}, 'widget') }}</h5>
    <form class ="emailTemplateForm">
        <div class="input-group">
            <label>{{ 'email' | trans ({}, 'widget') }}</label>
                <input type="email" name ="email" placeholder="name@domain.com" />
        </div>
        <div class="input-group">
            <label>{{ 'text' | trans ({}, 'widget') }}</label>
                <input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
        </div>
        <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />
        <button id="connected-submit" type="submit" class="color-primary">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
    </form>
        <small class="sms-rates">{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>

{% endblock %}
