{% block content %}

<h1>{{ 'success' | trans ({}, 'widget') }}</h1>
<h3>{{ 'your_confirmation_number_is' | trans ({}, 'widget') }} <span class="data_confirmationCode"></span>.</h3>
<h5>{{ 'send_my_confirmation_to' | trans ({}, 'widget') }}</h5>
    <form class ="emailTemplateForm">
        <div class="input-group">
            <label>{{ 'email' | trans ({}, 'widget') }}</label>
                <input type="email" name ="email" placeholder="name@domain.com" />
        </div>
        <div class="input-group">
<label>{{ 'text' | trans ({}, 'widget') }}</label>
                <input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
        </div>
        <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />
        <button id="connected-submit" type="submit" class="color-primary">{{ 'submit' | trans ({}, 'widget') }}</button>
    </form>
        <small class="sms-rates">{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>

{% endblock %}
