
{% block content %}

<h3 class="label">{{ 'your_contribution' | trans ({}, 'widget') }}</h3>
<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup>
  <span class ="data_currentYTDTotal"></span>
</div>
<sub class="contribution-rate">
  <span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution' | trans ({}, 'widget') }}</span>
  {{ include('WidgetsBundle:Default:currentdeferral.html.twig') }}
</sub>

{% endblock %}
