
{% block content %}

<div class="bar_container">
  <h5>{{ 'your_contribution' | trans ({}, 'widget') }}</h5>
  <div class="bar" id="your-contribution">
    <div class="fill" style="width:0%;" data-start-width="0%" data-finish-width="100%" data-time-fill="{{ fillTime }}"></div>
    <div class="figure">
      $<span class="odometer" data-odo-start="0" data-odo-time="{{ odoTime }}" data-odo-finish="0"></span>
    </div>
  </div>
</div>
<div class="bar_container">
  <h5>{{ 'employer_contribution' | trans ({}, 'widget') }}</h5>
  <div class="bar" id="employer-contribution">
    <div class="fill" style="width:0%;" data-start-width="0%" data-finish-width="100%" data-time-fill="{{ fillTime }}"></div>
    <div class="figure">
      $<span class="odometer" data-odo-start="0" data-odo-time="{{ odoTime }}" data-odo-finish="0"></span>
    </div>
  </div>
</div>

{% endblock %}
