
{% block content %}

<h3 class="label">{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h3>
<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }}
<span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
<div class="figure">
  <sup>$</sup>
  <span class="odometer data_projectedMonthlyIncome" data-odo-start="0" data-odo-time="{{ odoTime }}" data-odo-finish="0"></span>
</div>

{% endblock %}
