{% block content %}

<form id ="matchForm">
  <h1>{{ 'maximize_my_contribution_to' | trans ({}, 'widget') }} <span class="data_maxMatch"></span>%</h1>
  <h2>{{ 'with_an_estimated_monthly_payout_at_age' | trans ({}, 'widget') }} <span class="data_retireAge">{{ 'anos' | trans({}, 'widget') }} {{ 'of' | trans ({}, 'widget') }} $<span class="data_projectedMonthlyIncomeMax"></span></h2>
  <h5>{{ 'this_represents_a' | trans ({}, 'widget') }} <span class="data_diffDeferral"></span>% {{ 'increase_in_your_pretax_contribution_rate' | trans ({}, 'widget') }}</h5>
  <button id="allocate{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}{% else %}finish{%endif%}" type="button" class="color-primary">{{ 'yes_maximize_my_contribution' | trans ({}, 'widget') }}</button>
  <button id="manual" type="button" class="transparent"><span id="close">{{ 'close_msg' | trans({}, 'widget') }}</span></button>
</form>

{% endblock %}
