{% if data.lang == 'es' %}

{{ content.section('contribution', 'short-right', '14', '18', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'top') }}
    {{ include('WidgetsBundle:PowerViewSlides:contribution.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_rtmt_balance', 'short-right', '19', '35', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'top') }}
  {% set dataSource = "data_projectedIncome" %}
  {% set odoTime = "20" %}
    {{ include('WidgetsBundle:PowerViewSlides:est_rtmt_balance.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_payout', 'short-right', '24', '35', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'bottom') }}
  {% set dataSource = "data_projectedMonthlyIncome" %}
  {% set odoTime = "28" %}
    {{ include('WidgetsBundle:PowerViewSlides:est_payout.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}


{% else %}

{{ content.section('contribution', 'short-right', '13', '17', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'top') }}
    {{ include('WidgetsBundle:PowerViewSlides:contribution.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_rtmt_balance', 'short-right', '18', '35', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'top') }}
  {% set dataSource = "data_projectedIncome" %}
  {% set odoTime = "19" %}
    {{ include('WidgetsBundle:PowerViewSlides:est_rtmt_balance.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_payout', 'short-right', '22', '35', 'short-right', 'fade-out') }}
  {{ content.articleSimple('', 'bottom') }}
  {% set dataSource = "data_projectedMonthlyIncome" %}
  {% set odoTime = "25" %}
    {{ include('WidgetsBundle:PowerViewSlides:est_payout.html.twig') }}
  {{ content.articleClose }}
{{ content.sectionClose }}

{% endif %}
