{{ content.section('intro', 'out-right', '1', '7', 'out-right', 'out-right') }}
	{{ content.articleSimple('', 'vertical-center') }}
		{{ include('WidgetsBundle:PowerViewSlides:intro.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('balance', 'short-right', '8', '11.5', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'vertical-center') }}
		{{ include('WidgetsBundle:PowerViewSlides:balance.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}
