{% if data.lang == 'es' %}

{{ content.section('contribution', 'short-right', '14', '23', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'top') }}
		{{ include('WidgetsBundle:PowerViewSlides:contribution.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('emp_match', 'short-right', '19', '23', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'bottom') }}
		{{ include('WidgetsBundle:PowerViewSlides:emp_match.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_rtmt_balance', 'short-right', '24', '38', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'top') }}
	{% set dataSource = "data_projectedIncome" %}
	{% set odoTime = "26" %}
		{{ include('WidgetsBundle:PowerViewSlides:est_rtmt_balance.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('est_payout', 'short-right', '29', '38', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'bottom') }}
	{% set dataSource = "data_projectedMonthlyIncome" %}
	{% set odoTime = "33" %}
		{{ include('WidgetsBundle:PowerViewSlides:est_payout.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{% else %}

	{{ content.section('contribution', 'short-right', '13', '22', 'short-right', 'fade-out') }}
		{{ content.articleSimple('', 'top') }}
			{{ include('WidgetsBundle:PowerViewSlides:contribution.html.twig') }}
		{{ content.articleClose }}
	{{ content.sectionClose }}

	{{ content.section('emp_match', 'short-right', '16', '22', 'short-right', 'fade-out') }}
		{{ content.articleSimple('', 'bottom') }}
			{{ include('WidgetsBundle:PowerViewSlides:emp_match.html.twig') }}
		{{ content.articleClose }}
	{{ content.sectionClose }}

	{{ content.section('est_rtmt_balance', 'short-right', '23', '38', 'short-right', 'fade-out') }}
		{{ content.articleSimple('', 'top') }}
		{% set dataSource = "data_projectedIncome" %}
		{% set odoTime = "24" %}
			{{ include('WidgetsBundle:PowerViewSlides:est_rtmt_balance.html.twig') }}
		{{ content.articleClose }}
	{{ content.sectionClose }}

	{{ content.section('est_payout', 'short-right', '27', '38', 'short-right', 'fade-out') }}
		{{ content.articleSimple('', 'bottom') }}
		{% set dataSource = "data_projectedMonthlyIncome" %}
		{% set odoTime = "30" %}
			{{ include('WidgetsBundle:PowerViewSlides:est_payout.html.twig') }}
		{{ content.articleClose }}
	{{ content.sectionClose }}

{% endif %}
