
{% block content %}

<form id ="redirectForm2">
  <h1>{{ 'link_on_this_website' | trans ({}, 'widget') }}</h1>
  <p><button type="button" class="transparent" onclick ="redirect(true)">{{ 'continue' | trans ({}, 'widget') }}</button></p>
</form>

{% endblock %}
