<script>
$( document ).ready(function() 
{

	$( "#videoLibrarySaveButton" ).click(function() 
	{
		refreshtable('{{ pagename }}LibraryUsers','plan-library','{{ findby }}',librarySaveAlert);
	});

	function librarySaveAlert()
	{
			showalert('saved-alert');
	}
});
</script>