<ul class="list-inline">
    <li><a data-toggle="modal" href="#planModal" data-modal-label="Edit Plan" data-href="{{ path('_manage_survey_editPlan', {'planId': plan.id }) }}">Edit</a></li>
    <li><a href="javascript:deletePlan({{ plan.id }})">Delete</a></li>
</ul>