<form action="" method="POST" id="surveyEmployerPlanForm" onsubmit="return false;">
    <input type="hidden" name="id" value="{{ plan.id }}">
    <input type="hidden" name="action" value="{{ app.request.attributes.get('_route') == '_manage_survey_addPlan' ? 'add' : 'edit' }}">
    <input type="hidden" name="surveyEmployerId" value="{{ plan.surveyEmployerId }}">
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" value="{{ plan.type }}">
    </div>
    <div class="form-group">
        <label for="planid">Plan</label>
        <input type="text" class="form-control" id="planid" name="planid" value="{{ plan.planid }}">
    </div>
    <div class="form-group">
        <label for="county">County</label>
        <input type="text" class="form-control" id="county" name="county" value="{{ plan.county }}">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" value="{{ plan.state }}">
    </div>
</form>