<h3>SPE 2 Color Scheme</h3>
<form role="form" id="new-colors-form" class="form-horizontal" method="post" action="">
    {% for hex in hexList %}
        <div class="form-group">
            <label for="{{ hex.field }}" class="col-sm-2 control-label">{{ hex.description }}</label>
            <div class="col-sm-10">
                <input class="form-control" type ="text"  value ="{{ hex.value }}" style="width:200px" name="{{ hex.field }}" id="{{hex.field}}" />
            </div>
        </div>
    {% endfor %}
    {% if writeable %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type = "button" onclick = "Interface.saveHex()" class="btn btn-success">Save</button>
            </div>
        </div>
    {% endif %}
</form>
<hr>
{% set mode = app.request.get('_route') == '_plans_interface' ? 'plan' : 'account' %}
<div id="forkContentContainer">
    {{ render(controller('SharedGeneralBundle:ForkContent:index', { 'mode': mode, 'locale': 'en'})) }}
</div>
{% if writeable %}
    <div class="row">
        <div class="col-sm-12">
            <button style="margin: 0 5px;" type="button" class="btn btn-success pull-right" onclick="Interface.cancel()">Cancel</button>
            <button style="margin: 0 5px;" type="button" class="btn btn-success pull-right" onclick="Interface.saveForkContent(1)">Publish</button>
            <button style="margin: 0 5px;" type="button" class="btn btn-success pull-right" onclick="Interface.saveForkContent(0)">Save Draft</button>
        </div>
    </div>
{% endif %}
<script>
    var Interface = Interface || {};
    Interface.saveHex = function()
    {
        Admin.ajaxPost("{{ path('shared_general_newInterface_save', {mode: mode}) }}",$("#new-colors-form").serializeArray());
        showalert("saved-alert");
    };
    Interface.saveForkContent = function(publish)
    {
        let parameters = $("#fork-form").serialize();
        parameters = parameters + '&published=' + publish;
        Admin.ajaxPost("{{ path('shared_general_forkContent_save', {mode: mode}) }}", parameters);
        showalert("saved-alert");
        if ($('#locale').val() == 'en') {
            bootbox.confirm({
                message: "Would you like to create a Spanish version?",
                callback: function (result) {
                    if (result)
                    {
                        $('#forkContentContainer').load('{{ path('shared_general_forkContent', {mode:mode}) }}', {locale: 'es'}, function() {
                            Interface.initialize();
                        });
                    }
                }
            });
        }
    };
    Interface.cancel = function()
    {
        location.reload();
    };
    Interface.updatePreview = function()
    {
        var messageObj = {};
        $('#fork-form input, #fork-form textarea').each(function() {
            messageObj[$(this).data('tagname')] = $(this).val();
        });
        document.querySelector('#iframePreview').contentWindow.postMessage(messageObj, '*');
    };
    Interface.initialize = function() {
        $("#fork-form input, #fork-form textarea").on('input', Interface.updatePreview);
        $("#iframePreview").on('load', Interface.updatePreview);
        addColorPicker("boxOneColor", {'format': 'hex'}).on('changeColor', Interface.updatePreview);
        addColorPicker("boxTwoColor", {'format': 'hex'}).on('changeColor', Interface.updatePreview);
        addColorPicker("buttonOneColor", {'format': 'hex'}).on('changeColor', Interface.updatePreview);
        addColorPicker("buttonTwoColor", {'format': 'hex'}).on('changeColor', Interface.updatePreview);
    };

    {% for hex in hexList %}
    addColorPicker("{{ hex.field }}", {'format': 'hex'});
    {% endfor %}
    Interface.initialize();
</script>