{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{% set highestId = render(controller('ManageManageBundle:Accounts:highestUserId', {'id': account.id})) %}
	{{ account.id }},
	"{{ account.company }}",
	"{{ account.partnerid | default ("No Partner Id Exists for this account") }}",
        "<a href = \"{{ path('_adminstats_FiduciaryReport_planList') }}?userid={{ account.id }}\" class = \"glyphicon_link\"><span class =\"glyphicon glyphicon-th-list\"></span></a>"
]
{% endfor %}