<form id = "editMessage" >
    <label>Title</label>
    <input type ="text"  class ="form-control" name ="title" value ="{{ message.data.title }}"   />
    <input type ="text" style ="display:none" name ="table" value ="{{ message.table }}" />
    <input type ="text" name ="id" value ="{{ message.data.id }}" style ="display:none" />
    <label>Html</label>
    <textarea class ="form-control" style = "width:100%;height:200px;resize:none" name = "html" >{{ message.data.html }}</textarea>
    <br/>
    <button type ="submit" class ="btn btn-success">Save</button>
</form>

<script>
$( document ).ready(function() 
{
    $( "#editMessage" ).submit(function( event ) 
    {
        var querystring = $( "#editMessage" ).serialize();
        var page = "{{ path('_manage_outreach_messages_edit_saved') }}";
        $.post(page, querystring).done(function(data) 
        {
          reloadMessageList();
        });
        event.preventDefault();
    });
}); 
</script>