<form id = "addMessage" >
    <label>Title</label>
    <input type ="text"  class ="form-control" name ="title" />
    <input type ="text" style ="display:none" name ="table" value ="{{ message.table }}" />
    <label>Html</label>
    <textarea class ="form-control" style = "width:100%;height:200px;resize:none" name = "html" ></textarea>
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>

<script>
$( document ).ready(function() 
{
    $( "#addMessage" ).submit(function( event ) 
    {
        var querystring = $( "#addMessage" ).serialize();
        var page = "{{ path('_manage_outreach_messages_add_saved') }}";
        $.post(page, querystring).done(function(data) 
        {
          reloadMessageList();
        });
        event.preventDefault();
    });
}); 


</script>