Delete {{ message.data.title }} ?
<br/><br/>
<button type ="button" class ="btn btn-danger" onclick = "deleteMessage()">Delete</button>
<script>
function deleteMessage()
{
    var querystring = "id={{message.data.id }}&table={{ message.table }}";
    var page = "{{ path('_manage_outreach_messages_delete_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
      reloadMessageList();
    });
}
</script>