{% set myprofile = true %}
{% include 'SpeAppBundle:Template:ATBlueprint/outlook/base.css.twig' %}
{% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}
<div class="divider"></div>
<div class ="reportBox" style ="margin-left:12px">
    <h3>{{ profile.participant.firstName }}'s Blueprint<span class ="pull-right">Powered by ATBlueprint</span></h3>
<br/>
{% include 'SpeAppBundle:Template:ATBlueprint/outlook/mainoutlookinner.html.twig' %}
</div>
