<script>
var requestStatus = "{{sponsorRequest.requestStatus}}";
$(function () 
{
    $('#scheduledate').datepicker({ dateFormat: "yy-mm-dd",minDate: 0 });
    $('#scheduletime').timepicker({ timeFormat: 'HH:mm:ss',dynamic: false });
});
$( "#notifiyEmailAddressCheckbox" ).click(function() 
{
  var checked = $( "#notifiyEmailAddressCheckbox" ).prop("checked");
  if (!checked)
  $("#notifiyEmailAddress").val("");
  $("#notifiyEmailAddress").prop("readonly", !checked);
});
$( "#sponsorConnectForm" ).submit(function( event ) 
{
  event.preventDefault();
  if ($("#scheduletime").val() == "" || $("#scheduledate").val() == "")
  {
    modalMessage("Time and date must be filled in");
    return 0;
  }
  
  var querystring = $( "#sponsorConnectForm" ).serialize();
  querystring = querystring +"&time=" + $("#scheduledate").val() + " " + $("#scheduletime").val();
  var page = "{{path('_plans_sponsor_connect_createSponsorRequest') }}";
  $("#sponsorLoading").show();
  $.post(page, querystring).done(function(data) 
  {
      if (data === "bad date")
      {
        modalMessage('Cannot schedule in the past');
        $("#sponsorLoading").hide();
      }
      if (data === "success")
      updatePage("submit");
  });  
});
function updatePage(action)
{
    var page = "{{ path('_plans_sponsor_connect_getSponsorRequest') }}";
    var querystring = "";
    $.post(page, querystring).done(function(data) 
    {       
        request = JSON.parse(data); 
        requestStatus = request.requestStatus;
        if (request.requestStatus === "request" && action ==="submit" && request.formattedDate !== "")
        {
             modalMessage("Request Sent");
             sponsorRequestUpdateAjaxData(request);
             $("#sponsorCancelButton").show();
        }
        else if (request.requestStatus === "cancelled" && action ==="cancel" && request.formattedDate !== "")
        {
            $("#sponsorLoadingCancel").hide();
            $('#messageModule').modal('hide');
            sponsorRequestUpdateAjaxData(request);
            $("#sponsorCancelButton").hide(); 
            $("#statusRequest").html(request.requestStatus);
        }
        else if (request.requestStatus === 'done' && action === 'submit' && request.formattedDate !== '') {
            modalMessage("Request Done");
        } else {
            modalMessage("Request Failed");
        }
        $("#sponsorLoading").hide();
    });     
}
function sponsorRequestUpdateAjaxData(request)
{
    $("#submitDate").html(request.formattedDate);
    $("#sponsorRequestDateHtml").html(request.datehtml);
}
function resetSponsorConnectForm()
{
    $(".sponsorConnectTextField").val("");
    $(".sponsorConnectCheckBox").prop("checked",false);
    $(".templatelist").prop('checked', false);
}
function cancelSponsorConnectForm()
{
    var querystring = "";
    var page = "{{path('_plans_sponsor_connect_cancelSponsorRequest') }}";
    $("#sponsorLoadingCancel").show();
    $.post(page, querystring).done(function(data) 
    {
        if (parseInt(data) === 1)
        updatePage("cancel");
        else 
        modalMessage('Failed to cancel');
    }); 
} 
</script>