<template>
    <v-row class="ma-0 body-1">
        <v-col class="text-left px-0" cols="12">
            {{ content }}
        </v-col>
    </v-row>
</template>

<script>
    export default {
        props: {content: String},
        name: "Explanation"
    }
</script>

<style scoped>

</style>