<template>
    <component :is="type" :content="content"></component>
</template>

<script>
    import PlainText from "./PlainText";
    import SectionTitle from "./SectionTitle";
    import StepTitle from "./StepTitle";
    import BodyText from "./BodyText";
    import Question from "./Question";
    import Explanation from "./Explanation";
    import SubHeading from "./SubHeading";
    import SectionIntroTitle from "./SectionIntroTitle";
    import SectionIntroBody from "./SectionIntroBody";
    export default {
        components: {
            PlainText,
            SectionTitle,
            StepTitle,
            BodyText,
            Question,
            Explanation,
            SubHeading,
            SectionIntroTitle,
            SectionIntroBody
        },
        props: ['section', 'step', 'label', 'replace'],
        computed: {
            content() {
                return this.translate(this.section, this.step, this.label, this.replace)
            },
            type() {
                return this.$store.state.path.sections[this.section].contents[this.step][this.label].contentType
            }
        },
        name: "PathContent"
    }
</script>

<style scoped>

</style>