<template>
    <span>
        {{ content }}
    </span>
</template>

<script>
    export default {
        props: {content: String},
        name: "PlainText"
    }
</script>

<style scoped>

</style>