<template>
    <v-row class="ma-0 title">
        <v-col role="heading" class="text-left secondary--text text--darken-1 px-0" cols="12">
            {{ content.toUpperCase() }}
        </v-col>
    </v-row>
</template>

<script>
    export default {
        props: {content: String},
        name: "SectionTitle"
    }
</script>

<style scoped>

</style>