<template>
    <v-row class="ma-0 display-1 py-lg-3 py-md-3 py-xl-3">
        <v-col class="text-left px-0 py-0" cols="12">
            {{ content }}
        </v-col>
    </v-row>
</template>

<script>
    export default {
        props: {content: String},
        name: "StepTitle"
    }
</script>

<style scoped>

</style>