{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}

<h2>Investor Profiles</h2>
<p class="well"><span class="glyphicon glyphicon-info-sign"></span> Use the table below to view basic SmartPlan Investor Profile data for your participants.  Click on any profile record to view details of that particular session.  Clicking "Export to CSV" below the table will export all profile data for your plan.</p>

<hr />

<div class="btn btn-primary filter-toggle" data-toggle="collapse" data-target="#profile-filters" aria-expanded="false" aria-controls="profile-filters" id = "profile-filtersButton">Show Profile Filters</div>
<br/>
<br/>
{{ include('SharedProfilesBundle:Default:profilefiltering.html.twig') }}
{% set tablename = "Profiles" %}
{% set table = "profiles" %}
{% set header = "<th>Id</th><th>Report Date</th><th>Participant ID</th><th>First Name</th><th>Last Name</th><th>Current Balance</th><th>Pre-Tax</th><th>Roth</th><th>Post</th><th>Profile Link</th>" %}
{% set unsearchableArray = [8] %}
{% if currentpage == "PlansProfiles" %}
{% set findby = "profiles.planid" %}
{% set findbyvalues = session.planid %}
{% endif %}
{% if currentpage == "SettingsAccountLevelReporting" %}
{% set findby = "profiles.userid" %}
{% set findbyvalues = session.userid %}
{% endif %}
{% set template  = 'SharedProfilesBundle:Default:Search/profiles.html.twig' %}


{% set customquery = "profileList" %}
{% set types = "profiles.id,profiles.reportDate,participants.firstName,participants.lastName,profiles.currentBalance,profilesContributions.pre,profilesContributions.roth,profilesContributions.pre" %}
{% set extraparameters = "" %}
{% for section in sections %}
{% if section.type == "number" or section.type == "date" %}
{% set lessthanname = "lessthan_" ~  section.name  ~ "_" ~  section.database %}
{% set equaltoname = "equalto_" ~  section.name  ~ "_" ~  section.database %}
{% set greaterthanname = "greaterthan_" ~  section.name  ~ "_" ~  section.database %}
{% set extraparameters = extraparameters ~ "," ~ lessthanname  ~ ':$( "#' ~ lessthanname ~ '").val()' %}
{% set extraparameters = extraparameters ~ "," ~ equaltoname   ~ ':$( "#' ~ equaltoname ~ '").val()' %}
{% set extraparameters = extraparameters ~ "," ~ greaterthanname  ~ ':$( "#' ~ greaterthanname ~ '").val()' %}
{% elseif section.type == "checkboxes" %}
{% set checkboxesname = "checkboxes_" ~  section.name  ~ "_" ~  section.database %}
{% set extraparameters = extraparameters ~ "," ~ checkboxesname  ~ ':getcheckboxvalue("' ~ checkboxesname ~ '")' %}

{% endif %}

{% endfor %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<button type="button" class="btn btn-primary btn-primary" onclick = "csvlinks()">
Export to CSV
</button>
{{ include('SharedProfilesBundle:Default:csvlightbox.html.twig') }}

{{ include('PlansPlansBundle:Profiles:profilelightbox.html.twig') }}
{{ include('PlansPlansBundle:Profiles:javascript/index.js.twig') }}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}


