
<div  id = "profile-filters"  class = "collapse" >

  <div class="well well-lg"> 
    <div class="row">
      <div class="col-md-12 ranges form-inline">
      <h4>Ranges</h4>
        {% for section in sections %}

        {% if section.type == "number" %}
        

        <label>{{ section.description }}</label>

        <input type = "number" name = "numberComparison" id = "greaterthan_{{ section.name }}_{{ section.database }}" value = "" class="form-control profiles_input" placeholder = "min"  /> - <input type = "number" name = "numberComparison" id = "lessthan_{{ section.name }}_{{ section.database }}" value = ""  class="form-control profiles_input" placeholder = "max"  /><br/>
        <input id = "equalto_{{ section.name }}_{{ section.database }}" value = "" title = "equal to {{ section.description }}" style = "width:50px;display:none" name = "numberComparison" />

        
        {% endif %}
        {% if section.type == "date" %}
        <label>{{ section.description }}</label>

        <input type = "text" name = "numberComparison" id = "greaterthan_{{ section.name }}_{{ section.database }}" value = "" class="form-control profiles_input" placeholder = "Starting Date" /> - <input type = "text" name = "numberComparison" id = "lessthan_{{ section.name }}_{{ section.database }}" value = ""  class="form-control profiles_input" placeholder = "Ending Date"  /><br/><input id = "equalto_{{ section.name }}_{{ section.database }}" value = "" title = "equal to {{ section.description }}" style = "width:50px;display:none" name = "numberComparison" />
        {% endif %}

        {% endfor %}
      </div>
    </div>
    <hr/>
    <div class="row">
      {% for section in sections %}
      {% if section.type == "checkboxes" %}
      <div class="col-md-6">
        <h4>{{ section.description }}</h4>
        {% for description in section.descriptions %}
        <div class="checkbox">
          <label>
            <input type = "checkbox" class = "checkBoxComparison" name = "checkboxes_{{ section.name }}_{{ section.database }}" value = "{{ section.values[loop.index-1] }}" />{{ description }}
          </label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <hr/>



    <input type = "button" onclick = "restartTableProfiles();" value = "Apply Filters"  class="btn btn-success" data-dismiss="modal"/><div class="filter-toggle btn btn-transparent" id = "filtersButton" data-toggle="collapse" data-target="#profile-filters" aria-controls="profile-filters">Hide &amp; Disable Filters</div>
  </div>
</div>
  
