<div class="modal fade" id="profileFiltering" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Profile Filtering</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" ><h3>Number Comparisons</h3>
            <table class="table table-bordered">
              <tr class="active">
                <td>
                Section
                </td>
                <td>
                Greater than
                </td>
                <td>
                Less than
                </td>
                <td>
                Equal to
                </td>
              </tr>

              {% for section in sections %}

              {% if section.type == "number" %}
              <tr>

                <td>{{ section.description }}</td>

                <td> <input id = "greaterthan_{{ section.name }}_{{ section.database }}" value = "" title = "greater than {{ section.description }}" style = "width:50px"></td>


                <td> <input id = "lessthan_{{ section.name }}_{{ section.database }}" value = "" title = "less than {{ section.description }}" style = "width:50px"></td>


                <td> <input id = "equalto_{{ section.name }}_{{ section.database }}" value = "" title = "equal to {{ section.description }}" style = "width:50px"></td>

              </tr>
              {% endif %}

              {% endfor %}
            </table>
          </li>


            <li class="list-group-item" ><h3>Selections</h3></li>
            {% for section in sections %}

            {% if section.type == "checkboxes" %}
            <li class="list-group-item" >
              {{ section.description }}<br/>
              {% for description in section.descriptions %}
              <input type = "checkbox" name = "checkboxes_{{ section.name }}_{{ section.database }}" value = "{{ section.values[loop.index-1] }}" />{{ description }}<br/>
              {% endfor %}
            </li>
            {% endif %}
            {% endfor %}

        </ul>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type = "button" onclick = "restartTableProfiles();" value = "Search" id = "filters" class="btn btn-primary" data-dismiss="modal"/>
      </div>
    </div>
  </div>
</div>