{% set defaultValue = "N/A" %}
{% set contributionsType = "dollar" %}
{% if profile.contributions.mode is defined %}
{% if profile.contributions.mode == "PCT" %}
{% set contributionsType = "percent" %}    
{% endif %}

{% endif %}

<div class = "profile-details-modal">
    <h3>{{ profile.participantName | default("") }}<br/>
    <small>{{ profile.participant.participants_email | default("") }}</small>
    </h3>

    {% set title = "Report Date" %}

    {% set value = profile.reportDate | default(defaultValue) %}
    {% if value != "0000-00-00 00:00:00" %}
    {% set value = value|date("Y-m-d") %}
    {% set type = "text" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}
    {% endif %}


    {% set title = "Current Balance" %}
    {% set value = profile.currentBalance | default(defaultValue) %}
    {% set type = "dollar" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}

    {% if profile.contributions.mode is defined %}
    
    {% set value = profile.contributions.preRothPost | default(defaultValue) %}
    {% if profile.contributions.mode == "PCT" %}
    {% set title = "Contribution %" %}
    {% set type = "percent" %}
    {% elseif profile.contributions.mode == "DLR" %}
    {% set title = "Contribution" %}
    {% set type = "dollar" %}
    {% endif %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}
    {% endif %}

    {% set title = "Pre-Tax per paycheck" %}
    {% set value = profile.contributions.pre | default(defaultValue) %}
    {% set type =  contributionsType %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}

    {% set title = "Recommended Monthly Plan Contribution" %}
    {% set value = profile.retirementNeeds.recommendedMonthlyPlanContribution | default(defaultValue) %}
    {% set type = "dollar" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}



    {% set title = "Current After-Tax Contributions" %}
    {% set value = profile.contributions.preCurrent | default(defaultValue) %}
    {% set type = contributionsType  %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}

    {% set title = "Current Roth Contributions" %}
    {% set value = profile.contributions.rothCurrent | default(defaultValue) %}
    {% set type = contributionsType  %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}



    {% set title = "Investment Type" %}
    {% set value = profile.investmentType | default(defaultValue) %}
    {% set type = "text" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}

    {% set title = "Portfolio Name" %}
    {% set value = profile.investmentPname | default(defaultValue) %}
    {% set type = "text" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}

    {% if profile.beneficiaries | length > 0 %}
    {% set title = "Beneficiaries" %}
    {% set value = "" %}
    {% set type = "text" %}
    {% for beneficiary in profile.beneficiaries %}
    {% if loop.index > 1 %}{% set value = value ~ ", " %}{% endif %}
    {% set value = value~beneficiary.profilesBeneficiaries_firstName~' ' | default(defaultValue)~beneficiary.profilesBeneficiaries_lastName | default(defaultValue) %}
    {% endfor %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}
    {% endif %}

    {% set title = "Other Assets" %}
    {% set value = profile.retirementNeeds.otherAssets | default(defaultValue) %}
    {% set type = "dollar" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}


    
    {% set title = "Asset Types" %}
    {% set value = "" %}
    {% for type in profile.retirementNeeds.assetTypes %}
    {% if loop.index > 1 %}{% set value = value ~ "," %}{% endif %}
    {% set value = value~type %}
    {% endfor %}
    {% set type = "text" %}
    {% if value != "" %}
    {{ include ('SharedProfilesBundle:Default:searchmoresection.html.twig') }}
    {% endif %}
    
    <a target="_blank" href="{{ profileLink}}">{{ profileLink }}</a>       

</div>