{% extends 'WidgetsBundle:PowerViewBase:base.html.twig' %}

{% block title %}PowerView Prototype{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/w/css/powerview.css?time={{ date().timestamp }}" />
	{{ parent() }}
{% endblock %}

{% block videoContent %}
  <div class="video-container">
    <video width="640" height="480" >
      <source src="https://66982d9743c7bbab0508-1766e9fe82e03b095186e8fa12156f44.ssl.cf1.rackcdn.com/{% block video %}{% endblock %}.mp4" type="video/mp4">
    </video>
  </div>
	{{ include('WidgetsBundle:Default:videoControls.html.twig') }}
{% endblock %}

{% import "WidgetsBundle:PowerViewBase:macros.html.twig" as content %}

{% block slideContainer %}
	{% block slides %}{% endblock %}
{% endblock %}

{% block footerContent %}
  <small>
    {{ include('WidgetsBundle:Default:fine-print.html.twig') }}
  </small>
{% endblock %}



{% block scripts %}
	{{ parent() }}
	{{ include('WidgetsBundle:Default:footer.html.twig') }}
{% endblock %}
