
{% macro section(id, classes, timeIn, timeOut, incoming, outgoing) %}
  <section id="{{ id|default('') }}" class="animate {{ classes }}" data-time-in="{{ timeIn }}" data-time-out="{{ timeOut }}" data-incoming-remove="{{ incoming }}" data-outgoing-add="{{ outgoing }}">
{% endmacro %}

{% macro sectionSimple(id, classes) %}
    <section id="{{ id|default('') }}" class="animate {{ classes }}">
    {% block content %}{% endblock %}

{% endmacro %}

{% macro sectionClose() %}
  </section>
{% endmacro %}

{% macro articleSimple(id, classes) %}
    <article id="{{ id|default('') }}" class="animate {{ classes }}">
    {{ block('content') }}

{% endmacro %}

{% macro article(id, classes, timeIn, timeOut, incoming, outgoing) %}
    <article id="{{ id|default('') }}" class="animate {{ classes }}" data-time-in="{{ timeIn }}" data-time-out="{{ timeOut }}" data-incoming-remove="{{ incoming }}" data-outgoing-add="{{ outgoing }}">
    {{ block('content') }}

{% endmacro %}

{% macro articleClose() %}
  </article>
{% endmacro %}

{% macro odometer(dataSource, odoTime) %}
    <span class="odometer {{ data }}" data-odo-start="0" data-odo-finish="0" data-odo-time="{{ odoTime }}"></span>
{% endmacro %}

{% macro barFill(fillTime) %}
    <div class="fill" style="width:0%;" data-start-width="0%" data-finish-width="100%" data-time-fill="{{ fillTime }}"></div>
{% endmacro %}
