{% extends 'WidgetsBundle:PowerViewBase:base.html.twig' %}

{% block title %}PowerView Mobile{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/w/css/powerview-mobile.css?time={{ date().timestamp }}" />
	{{ parent() }}
{% endblock %}



{% block header %}

	{% if data.logoUrl %}
		<!--<img class="logo" src="{{ data.logoUrl }}" alt="" />-->
	{% endif %}

	<div id="show-fine-print">{{ 'facts_and_assumptions' | trans ({}, 'widget') }}</div>

{% endblock %}



{% block slideContainer %}
	<div class="flexslider">
		<div class="slides">
      {% block slides %}{% endblock %}
    </div>
		{% block nav %}
			<div class="nav hidden">
				<img style="display:none;" id="prev-button" src="/w/img/next.svg" alt="{{ 'previous_msg' | trans ({}, 'widget') }}..." class="flex-prev"/>
				<h5>{{ 'tap' | trans ({}, 'widget') }}<br>{{ 'swipe' | trans ({}, 'widget') }}</h5>
				<img id="next-button" src="/w/img/next.svg" alt="{{ 'next_msg' | trans ({}, 'widget') }}..." class="flex-next" />
			</div>
		{% endblock %}
  </div>
{% endblock %}



{% block common %}


	{#{{ include('WidgetsBundle:Default:lang-list.html.twig') }}#}

	<div id="fine-print" class="bg-primary">
		<small>
			{{ include('WidgetsBundle:Default:fine-print.html.twig') }}
		</small>
		<button class="button transparent">OK</button>
	</div>

	<div id="rotate" class="bg-primary">
		<div class="message-container">
			<img src="/w/img/rotate-to-portrait.svg" alt="" />
			<p>{{ 'rotate_msg' | trans ({}, 'widget') }}</p>
		</div>
	</div>

	{{ parent() }}
{% endblock %}



{% block scripts %}
	{{ parent() }}
	{{ include('WidgetsBundle:Default:footer-mobile.html.twig') }}
{% endblock %}
