<button type ="button" class ="btn btn-info" onclick ="addRiskProfileAnswer()">Add Answer</button>
<div id ="addRiskProfileAnswer" class ="well" style ="display:none;margin-top:10px">
    <form id ="addRiskProfileAnswerForm">
        {% for language in languages %}
        <input placeholder ="{{ language.description }}" id ="addAnswer_{{language.id}}" type ="text" class ="form-control" required /><br/>                
        {% endfor %}
        Points
        <input type ="number" placeholder ="Points" min ="0" step ="1" id="addAnswer_points" class ="form-control" value ="0" required /><br/>
        Th-Points
        <input type ="number" placeholder ="thpoints" min ="0" step ="1" id ="addAnswer_thpoints" class ="form-control" value ="0" required />
        <br/>
        <button type ="submit" class ="btn btn-info">Add</button>
    </form>
    <br/>
    {{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
</div>
<div id ="loadanswers" style ="padding-top:10px">
    {{ include("ManageManageBundle:RiskProfileCreatorAnswer:loadanswers.html.twig") }}
</div>
<script>
function addRiskProfileAnswer()
{
    $("#addRiskProfileAnswer").toggle();
}
$( "#addRiskProfileAnswerForm" ).submit(function( event )
{
    event.preventDefault(); 
    var params = new Object();
    params.points = $("#addAnswer_points").val();
    params.thpoints = $("#addAnswer_thpoints").val();
    params.riskProfileQuestionnaireQuestionId = {{ questionid }};
    params.locales = new Array();
    {% for language in languages %}
    locale = new Object();
    locale.languageId =  {{ language.id }};
    locale.answer = $("#addAnswer_{{language.id}}").val();
    params.locales.push(locale);   
    {% endfor %}
    $.post("{{ path('_manage_risk_profile_creator_answer_add') }}", params).done(function(data) 
    {
        showAlertForWithoutScrollUp('saved-alert');
        loadAnswers();
        $("#addAnswer_points").val("0");
        $("#addAnswer_thpoints").val("0");
        {% for language in languages %}
        $("#addAnswer_{{language.id}}").val("");       
        {% endfor %}
    });    
});
function deleteRiskPorfileAnswer(id)
{
    $.post("{{ path('_manage_risk_profile_creator_answer_delete') }}",{id:id}).done(function(data) 
    {
        showAlertForWithoutScrollUp('deleted-alert' + id);
        setTimeout(loadAnswers, 3000);
    });
}
function loadAnswers()
{
    $.post("{{ path('_manage_risk_profile_creator_answer_loadAnswers') }}",{id:{{ questionid}}}).done(function(data) 
    {
        $("#loadanswers").html(data);
    });
}
</script>
