{% set divLength = (100/ (languages | length))  %}
{% if answers | length > 0 %}
<ul class="list-group" style ="margin-bottom:0px">
    <li class="list-group-item" style ="border-bottom:0px">
        <div class="row">
            {% for language in languages %}
            <div class="col-md-4" style ="width:{{ divLength }}%">
                <div style ="font-size:larger">{{ language.description }}</div>
            </div>
            {% endfor %}
        </div>
    </li>
</ul>
<ul class="list-group">
    {% for answer in answers %}
    <li class="list-group-item">
        <form class ="riskProfileAnswerEdit">
            <input type ="hidden" name ="id" value ="{{ answer.id }}" />
            <div class="row">
                {% for language in languages %}
                {% set locale = answer.locale[language.id] %}
                <div class="col-md-4" style ="width:{{ divLength }}%">
                    <strong>Answer</strong> <input class ="form-control" data-localeid="{{locale.id}}" name="riskProfileAnswer{{language.id}}" required  value="{{ locale.answer }}" />                    
                </div>
                {% endfor %}
            </div>
            <br/>
            <table class ="table table-striped">
                <tr>
                    <th>Points</th>
                    <th>Th-Points</th>
                </tr>
                <tr>
                    <td><input type ="number" step =="1" class ="form-control" name="riskProfileAnswerPoints" required value ="{{ answer.points}}"/></td>
                    <td><input type ="number" stel ="1" class ="form-control" name="riskProfileAnswerThPoints" required value ="{{ answer.thpoints}}"/></td>
                </tr>                  
            </table>
            <button type="submit" class ="btn btn-primary">Save</button><button type ="button" class="btn btn-danger pull-right" onclick ="$('#deletePrompt{{ answer.id }}').toggle()">Delete</button>
            <br/><br/>
            <div id ="deletePrompt{{answer.id}}" class ="well" style ="display:none">
                Are you sure you want to delete<br/><br/>
                <button type ="button" class="btn btn-danger" onclick ="deleteRiskPorfileAnswer({{ answer.id }})">Delete</button>
            </div>
            {% set alertContent = "Changes successfully saved." %}
            {% set glyphicon = "ok" %}
            {% set alertType = "success" %}                         
            {% set alertId = "saved-alert" ~ answer.id %}
            {{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
            {% set alertId = "deleted-alert" ~ answer.id %}
            {% set alertContent = "Answer Deleted" %}
            {% set glyphicon = "remove" %}
            {% set alertType = "danger" %}    
            {{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
        </form>
    </li> 
    {% endfor %}
</ul>
{% endif %}
<script>
$( ".riskProfileAnswerEdit" ).submit(function( event )
{
    event.preventDefault(); 
    var id = $(this).find("[name=id]").val();
    var locales = new Array();
    {% for langauge in languages %}
    var locale = new Object();
    var localeObject = $(this).find("[name=riskProfileAnswer{{langauge.id}}]");
    locale.answer = localeObject.val();        
    locale.id = localeObject.attr("data-localeid");
    locales.push(locale);
    {% endfor %}
    var params = new Object();
    params.id = id;
    params.points = $(this).find("[name=riskProfileAnswerPoints]").val();
    params.thpoints = $(this).find("[name=riskProfileAnswerThPoints]").val();
    $.post("{{ path('_manage_risk_profile_creator_answer_edit') }}",{params: params, locales:locales}).done(function(data) 
    {
        showAlertForWithoutScrollUp('saved-alert' + id);
    }); 
});
</script>