{% set divLength = (100/ (languages | length))  %}
{% if answers | length > 0 %}
<ul class="list-group" style ="margin-bottom:0px">
    <li class="list-group-item" style ="border-bottom:0px">
        <div class="row">
            {% for language in languages %}
            <div class="col-md-4" style ="width:{{ divLength }}%">
                <div style ="font-size:larger">{{ language.description }}</div>
            </div>
            {% endfor %}
        </div>
    </li>
</ul>
<ul class="list-group" id ="riskAnswersOrder" style ="cursor:grab">
    {% for answer in answers %}
    <li class="list-group-item">
            <input type ="hidden" class ="riskProfileAnswerListItem" value ="{{ answer.id }}" />
            <div class="row">
                {% for language in languages %}
                {% set locale = answer.locale[language.id] %}
                <div class="col-md-4" style ="width:{{ divLength }}%">
                    {{ locale.answer }}                    
                </div>
                {% endfor %}
            </div>
    </li> 
    {% endfor %}
</ul>
{% endif %}
<button class="btn btn-primary" onclick ="saveRiskProfileAnswerOrder()">Save Order</button>
<script>
$( function() {
  $( "#riskAnswersOrder" ).sortable();
  $( "#riskAnswersOrder" ).disableSelection();
} );

function saveRiskProfileAnswerOrder()
{
    var answers = $(".riskProfileAnswerListItem");
    var answersIds = new Array();
    $.each( answers, function( key, element ) 
    {
        answersIds.push(element.value);
    });
    $.post("{{ path('_manage_risk_profile_creator_answer_reorder_save') }}", {ids: answersIds}).done(function(html) 
    {
        closeLightBox();
    }); 
}
</script>
