  
  <script type="text/javascript">
  function select_all()
  {
    
    var $this = $("#emailcontents");
    $this.select();

    // Work around Chrome's little problem
    $this.mouseup(function() 
    {
        $this.unbind("mouseup");
        return false;
    });
    
  }
</script>
<div class="panel panel-primary" >
    <div class="panel-heading">
        <h3 class="panel-title">Embed Code</h3>
    </div>
    <ul class="list-group">
    	<li class="list-group-item" >
    		Click anywhere in the box to select all of the code<br/>
			PC Copy = Ctrl/C<br/>
			Mac Copy = Command/C <br/>
    	</li>
    	<li class="list-group-item" >
    		
			<textarea id="emailcontents" rows="15" cols="60" onclick="select_all()">
			{{ emailContents }}
			</textarea>
			
    	</li>
    </ul>
</div>




