
<div class="panel panel-primary" >
    <div class="panel-heading">
        <h3 class="panel-title">Send Sample</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" >
        <textarea id = "testemail" style = "width:100%; height:200px" value = "{{ currentplan.defaultEmailAddress }}">{{ currentplan.defaultEmailAddress }}</textarea>
      </li>
      <li class="list-group-item" >
        <input type = "button" onclick  = "sendtestemail()" value = "send test email" class="btn btn-primary">
      </li>
    </ul>
</div>

{{ include('PlansPlansBundle:Outreach:javascript/testemail.js.twig') }}


  
  