<script>
function sendtestemail()
{
  var emails = $("#testemail").val();
  var page = "{{ path('_plans_outreach_send_test_email') }}";
  var querystring = "id={{ templateid }}&emails=" + emails;
  {% if adviserid is not null %}
  querystring = querystring + "&adviserid={{ adviserid }}";
  {% endif %}

  $.post(page, querystring).done(function(data) 
  {

  });

}

</script>