{% set reportName = "Powerview User Activity Report" %}
{% set accountlistEnabled = false %}
{% set vwiseButton = true %}
{% set defaultTab = "advisers" %}

{% block processReport %}
querystring = querystring;
var btnHtml = '<button type ="button" class ="btn btn-primary" onclick ="downloadReport()">Download</button>';
$.get( "{{ path('_manage_reports_powerviewUserActivity_getreport') }}?" + querystring, function( data ) 
{
    if (data == "")
    $("#reportResult").html("<h3>No Results Returned</h3>");
    else
    $("#reportResult").html("<h3>Results</h3>" + btnHtml + '<div id ="reportResultInner">' + data + '</div>' + btnHtml);
});
{% endblock %}
{% block javascript %}
<script>
{% include "ManageManageBundle:Reports:Common/javascript.html.twig" %}
</script>
{% endblock %}
{% extends "ManageManageBundle:Reports:template.html.twig" %}
