{% for tag in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ tag.id }},
        "{{ tag.name }}",
        "<span class =\"glyphicon glyphicon-edit\" onclick =\"ajaxModal('{{path('_manage_system_messages_tags_edit') }}?id={{tag.id}}','Edit Tag')\"></span> <span class =\"glyphicon glyphicon-remove\" onclick =\"ajaxModal('{{path('_manage_system_messages_tags_delete') }}?id={{tag.id}}','Delete Tag')\" ></span>"               
]
{% endfor %}