{% for tag in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ tag.id }},
        "{{ tag.name }}",
        "<input type =\"checkbox\" id =\"tag{{ tag.id}}\"  onclick =\"toggletag({{ tag.id }},this.checked)\" /><script>$('#tag{{tag.id}}').attr('checked','tag{{tag.id}}' in tags);</script>"         
]
{% endfor %}
