<div id="investments" class="reportBox">
    <div class="boxTitle">Investment Selections</div>
    <div class="clear"></div>

    {{ investments.ATArchitect |raw }}
    <div class="clear"></div>
    {{ investments.ATBlueprint |raw }}

</div>
