<div id="investments" class="reportBox">
    <div class="boxTitle">Investment Selections</div>
    <div class="clear"></div>
    {% block fundHeaderSections %}
    <div class="rowLight">
        <div class="left">{{ sectionTranslation.header.key | trans ({}, sectionTranslation.header.source) }}</div>
        <div class="right">{{investments.portfolioName }}</div>
        <div class="clear"></div>
    </div>
    {% endblock %}
    <div class="rowRight">
        <div class="clear"></div><div class="clear"></div>
        <table class="table">
            <thead>
                <tr>
                    {% set fundsHeader = investments.header %}
                    {% block fundHeader %}
                    {% include"SpeAppBundle:Template:investments/general/fundheader.html.twig" %}
                    {% endblock %}
                </tr>
            </thead>

            <tbody>
                {% for fund in investments.funds %}
                    <tr>
                        {% for header in fundsHeader %}
                            {% if header.field == "percent" %}
                                <td>{{ fund.profilesInvestments.percent }}</td>    
                            {% endif %}
                            {% if header.field == "name" %}
                                <td>{{ fund.profilesInvestments.fname }}</td>    
                            {% endif %}
                            {% if header.field == "additionalFundHeader" %}
                                {% if fund.fundsGroupsValues is defined and fund.fundsGroupsValues is not null %}
                                    <td>{{ fund.fundsGroupsValues.value }}</td> 
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %} 
                            {% if header.field == "fundFact" %}
                                <td>
                                    {% if fund.profilesInvestments.fundFactLink  is not empty %}
                                    <div class="fundFactLink col-xs-2"><span class="popupLink" data-link="{{ fund.profilesInvestments.fundFactLink }}"><i class="fa fa-file-text-o"></i></span></div>          
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if header.field == "prospectus" %}
                                <td>
                                    {% if fund.profilesInvestments.prospectusLink  is not empty %}
                                    <div class="prospectusLink col-xs-2"><span class="popupLink" data-link="{{ fund.profilesInvestments.prospectusLink }}"><i class="fa fa-file-text-o"></i></span></div>          
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}                           
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="info">{{ "investment_info" | trans ({}, "my_profile") }}</div>
    <div class="clear"></div>
</div>
