{% block fundHeaderSections %}
{% endblock %}
{% block fundHeader %}
<thead>
    <tr>
        <th colspan ="2">
            {{ sectionTranslation.header.key | trans ({}, sectionTranslation.header.source) }}
        </th>
        {% for header in fundsHeader %}
        {% if header.field != "name" and header.field != "percent" %}
        <th>{{ header.translation.title | trans ({}, header.translation.title_source) }} </th>
        {% endif %}
        {% endfor %}
    </tr>
</thead>    
{% endblock %}
{% extends "SpeAppBundle:Template:myprofile/investments/investments.html.twig" %}
