<div id="investments" class="reportBox">
    <div class="boxTitle">{{ "investment_selections" | trans ({}, "investments") }}</div>
    <div class="clear"></div>
    <div class="rowLight">
        Stadion StoryLine
    </div>
</div>