#salary-confirmation select {
	text-indent: 1vw;
}

#salary-confirmation input, #salary-confirmation select, #salary-confirmation .dropdown {
    font-size: 3.0vw;
}
.bar_container h5 {
	line-height: inherit;
	top: 2.0vw;
}
