* {
	box-sizing:border-box;
}

body {
	font-family: 'Lato', sans-serif;
	margin:0;
	background:#666;
	padding-bottom:30px;
}

.clear {
	clear:both;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

h1 {
	font-weight:300;
	font-size:4vw;
}

h2 {
	font-weight:300;
	font-size:2.8vw;
}

h3 {
	font-size:2vw;
	font-weight:500;
}

h3.label {
	text-transform: uppercase;
	letter-spacing:.4vw;
	font-size:1.6vw;
	font-weight:bold;
}

h4 {
	font-size: 1.6vw;
	line-height: 1.6vw;
	text-transform: uppercase;
}

h5 {
	text-transform:uppercase;
	font-size:1.2vw;
	letter-spacing:.16vw;
	font-weight:400;
	margin:.8vw auto;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

button,
.button {
	border-radius:.32vw;
	line-height:4vw;
	font-size:1.6vw;
	border:2px solid #fff;
	background:transparent;
	color:#fff;
	padding:0 1.6vw;
	font-weight:bold;
	margin:4vw .4vw;
	cursor:pointer;
	display: inline-block;
}

button.color-primary {
	background:#fff;
}

img.button.smartplan {
  margin: 2vw 0 0;
	cursor: pointer;
	border: none;
	padding: 0;
	height: 5vw;
	width: auto;
}

small.sms-rates {
	position: absolute;
	text-align: center;
	color: #fff;
	font-size: 1vw;
	width: 100%;
	font-weight: 200;
	bottom: 1vw;
}

small {
	text-align:left;
	color:#9a9a9a;
	display:block;
	margin:30px auto;
	font-size:1.4vw;
	width:70vw;
}

[class^="icon-"] {
	padding-left: 4vw;
	margin-bottom: 2vw;
	line-height: 3vw;
	text-align: left;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 2.5vw;
	font-weight: 300;
}

.icon-progress {
	background-image: url('/w/img/icon-progress.svg');
}
.icon-changes {
	background-image: url('/w/img/icon-changes.svg');
}
.icon-info {
	background-image: url('/w/img/icon-info.svg');
}
.icon-check {
	background-image: url('/w/img/icon-check.png');
}

.center {
	text-align: center;
}

#salary-confirmation {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
}

#salary-confirmation > .slide:not(.full-background) {
    transform: scale(.85);
}

#salary-confirmation h5 {
	margin-top: 2.5vw;
}

#salary-confirmation label,
#salary-confirmation input,
#salary-confirmation select,
#salary-confirmation .dropdown {
	display:block;
	width:100%;
}

#salary-confirmation input,
#salary-confirmation select,
#salary-confirmation .dropdown {
	font-family:'Open Sans',sans-serif;
	box-shadow: 0 .6vw 0 0 rgba(0,0,0,0.10);
	border-radius: .4vw;
	height:7vw;
	font-size:3.6vw;
	color:#9B9B9B;
	font-weight:100;
	border:none;
	background:#fff;
}

#salary-confirmation input {
	padding-left:4vw;
}

#salary-confirmation select {
  text-indent: 2vw;
	background: #fff;
	appearance:none;
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
}

#salary-confirmation .dropdown > select {
	background: transparent;
	padding-left:2vw;
}

#salary-confirmation .dropdown {
	background-image: url('/w/img/select-arrow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 97% center;
	z-index: 1;
}

#salary-confirmation .currency-prefix {
	font-family:'Open Sans',sans-serif;
	position:absolute;
	color:#9B9B9B;
	margin-top:1.5vw;
	margin-left:2vw;
	font-size:2.4vw;
	font-weight:100;
	z-index: 1;
}

#salary-confirmation button {
	width:60%;
	line-height: 6vw;
  text-transform: uppercase;
  letter-spacing: .25vw;
  font-size: 1.4vw;
	margin: 4vw auto;
	display: block;
}

#salary-confirmation button:hover {
	color:#019EE3;
	background:#fff;
}


#veil {
	height:100vh;
	width:100vw;
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	background:#f5f5f5;
}

.close {
	position:absolute;
	top:3vw;
	right:3vw;
	background:url('/w/img/close.svg') center right no-repeat;
	background-size:contain;
	padding-right:3vw;
	line-height:2vw;
	font-size: 1.2vw;
	color: #444;
	letter-spacing: .4vw;
	text-transform: uppercase;
	cursor:pointer;
	z-index: 1000;
}

.header {
	margin:20px 0 20px 10vw;
	color:#444;
}

.header h5 {
	font-weight:400;
}

.container {
	margin:0 auto;
	position: relative;
	width:80vw;
	height:45vw;
	overflow:hidden;
	background:#fff;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}

.video-container::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  z-index: 2;
  display: block;
  position: absolute;
  left: 50%;
}

video {
	position: absolute;
	width:100%;
	height:auto;
	left:-25%;
}

.slide {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	transition:left 1s, top 1s, opacity 1s;
	z-index: 10;
}

.slide * {
	position:relative;
}

.slide .container-onscreen {
	left:50%;
	width:50%;
}

.slide.rev .container-onscreen {
    left: 56%;
    width: 44%;
}





.slide.col {
	display:inline-block;
	width:42%;
	margin:0 auto;
}

.slide.col.compact {
	width: 38%;
}

.slide.col.wide {
	width: 60%;
}

.slide.col.left {
	left:4%;
}

.slide.col.compact.left {
	left:12%;
}

.slide.col.right {
	left:54%;
}

.slide.col.single {
	left:29%;
}

.slide.col.wide.single {
	left: 20%;
}

.slide.full-background {
	height:100%;
	width:100%;
}

.slide.half-background {
  width: 50%;
  left: 50%;
}

.slide.rev {
	color:#fff;
}






/* Transitions */

.slide.out-left {
	left:-101%;
	opacity:0;
}

.slide.out-right {
	left:101%;
	opacity:0;
}

.slide.short-right {
	left:10%;
	opacity:0;
}

.slide.fade-out {
	opacity:0;
}

.slide.out-left,
.slide.out-right,
.slide.short-right,
.slide.fade-out {
	z-index: 5;
}



#smartplan-cta .slide.container-onscreen {
	left: 53%;
}

#smartplan-cta .slide.container-onscreen h1 {
	font-size: 2.8vw;
	line-height: 4vw;
}

#smartplan-cta .slide.container-onscreen h1 > img {
	height: 3.75vw;
	vertical-align: text-top;
}

#smartplan-cta .slide.wide.single h1 > img {
	height: 5.25vw;
	vertical-align: text-top;
}

#smartplan-cta .slide button {
	margin-top: 1vw;
}

#smartplan-cta .slide.wide.single * {
	transition: all 1s;
}

.figure {
	font-size:4vw;
	font-weight:300;
	letter-spacing:.24vw;
}

.figure sup {
	font-size:2vw;
	padding-top:.16vw;
}

.figure sub {
	font-size:1.6vw;
	vertical-align: baseline;
	font-weight: 300;
	letter-spacing: normal;
}

sub.contribution-rate {
	font-size:1.2vw;
}




.panel {
	background:#fff;
	box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.10);
  border-radius: .4vw;
  padding: 1.6vw;
  padding-bottom: .8vw;
  position: absolute;
}

.col .panel {
	width:100%;
}

.panel label {
	text-transform: uppercase;
	font-size:1.2vw;
	font-weight:600;
}

.panel .figure {
	font-weight:500;
}

.panel .figure sub {
	font-weight: 300;
}





.bar_container {
	width:92%;
	left:4%;
	height:5vw;
	margin-bottom:2vw;
}

.bar_container h5 {
	display:inline-block;
	width:30%;
	color:#fff;
	margin:0;
	font-weight:400;
	line-height:5vw;
	vertical-align: top;
}

.bar {
	display:inline-block;
	width:68%;
	height:5vw;
	border-radius:2px;
	line-height:5vw;
	overflow:hidden;
	background:rgba(0,0,0,.5);
}

.bar .fill {
	background:#fff;
	height:100%;
	position: absolute;
	transition:width 1s;
}

.bar.secondary {
	border-top:0;
	border-color:rgba(255,255,255,.6);
}

.bar.secondary .fill {
	opacity:.6;
}

.bar .figure {
	font-size: 1.8vw;
  padding:0 1vw;
  font-weight: 500;
}

.bar .figure sup {
	font-size:1.5vw;
}




.confirmation {
	position: absolute;
	text-align: center;
	width:100%;
	height:100%;
	padding-top:15%;
	z-index: 100;
}

.no-video {
	position: absolute;
	width:100%;
	height:100%;
	padding-top:15%;
}

.confirmation .compact {
	width: 80%;
	margin: 0 auto;
}

.confirmation h1,
.no-video h1 {
	margin-bottom:1vw;
}

.confirmation h3,
.no-video h3 {
	margin-bottom:1vw;
}

.input-group {
	width:35%;
	display:inline-block;
	text-align:left;
	margin:0 5px;
}

.input-group input {
	width:100%;
	border:2px solid #fff;
	line-height:3vw;
	height: 4vw;
	font-family:'Lato',sans-serif;
	border-radius:.32vw;
	padding:0 10px;
	font-size:1.5vw;
}

.input-group label {
	display:block;
	margin-bottom:.3vw;
	font-size:1.5vw;
}

input.input-error {
	border:solid 2px red !important;
}

.input-error-message {
	font-size:1.5vw;
	letter-spacing:.05vw;
	display: none;
}

.input-error-message::before {
	content: "!";
  height: 2vw;
  line-height:2vw;
  width: 2vw;
  background-color: red;
  border-radius: 100%;
  margin-right: 1vw;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}





.video-controls {
	display:block;
	width:70%;
	position: absolute;
	left:15%;
	bottom:5%;
	background:#000;
	height:49px;
	border-radius:100px;
	line-height:45px;
	margin:30px auto 0;
	padding-left:30px;
	z-index: 20;
	opacity:.75;
	display:none;
	overflow:hidden;
}

.video-controls .play {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid #fff;
	display: inline-block;
	cursor:pointer;
	position: absolute;
	top:14px;
}

.video-controls input[name=seek] {
	height:auto;
	display:inline-block;
	width:calc(100% - 80px);
	background-color:none;
	vertical-align: middle;
	margin-left:40px;
	cursor:pointer;
	z-index:10;
}

.video-controls .pause {
	width:20px;
	height:20px;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	position: absolute;
	top:14px;
}

.video-controls .pause div {
	width:5px;
	height:100%;
	margin:0 1px;
	background:#fff;
	display: inline-block;
	vertical-align: top;
}



#languageSelect {
	opacity: .75;
	color: #444;
	display: inline-block;
	margin:0 auto;
	position: absolute;
	top: 4.5vw;
	right: 10vw;
	z-index: 1000;
	min-width; 115px;
}

#languageSelect:hover,
#languageSelect.open {
	opacity: 1;
	cursor: pointer;
}

#languageSelect .menu {
	text-align: left;
	font-size: 14px;
	padding: 0 5px 5px;
	letter-spacing: 2px;
	font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#languageSelect .menu .currentLanguage {
	padding: 5px;
	border-bottom: 1px solid #444;
}

#languageSelect .menu .currentLanguage span {
	background-image: url('/w/img/caret.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	height: 20px;
	width: 20px;
	margin-left: 10px;
	vertical-align: middle;
	float: right;
	display: block;
	transform: rotate(0deg);
	transition: transform .25s;
}

#languageSelect.open .menu .currentLanguage span {
	transform: rotate(180deg);
	transition: transform .25s;
}

#languageSelect .menu .options {
	display:none;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,0);
}

#languageSelect .menu .options li {
	padding: 5px 5px 5px 10px;
	border-bottom: 1px solid #444;
	background-color: rgba(255,255,255,1);
	color:#444;
	opacity: .9;
}

#languageSelect .menu .options li:last-child {
	border-bottom: none;
}

#languageSelect .menu .options li:hover {
	opacity: 1;
}

#languageSelect .menu .options li.selected {
  display: none;
}




.spinner {
	position: absolute;
	left:50%;
	top:50%;
	height:auto;
	width:auto;
	transform: translate(-50%, -50%);
	z-index: 100;
	text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner img {
	height:8vw;
	width:auto;
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

#loading,
#error-message,
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/*
For some reason Safari doesn't properly render elements with position:fixed inside hidden iframes
The following ruleset fixes the problem for webkit browsers
See https://stackoverflow.com/a/27971913/2518200 and https://stackoverflow.com/a/43435917/2518200
*/
#loading,
#error-message {
  -webkit-transform: translateZ(0);
}

.message-container {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
	background: transparent;
}

#error-message .message-container {
	width: 65vw;
}

#error-message p {
	font-size: 2vw;
	font-weight: 300;
}

.message-container button {
	margin: 2vw auto;;
}

.no-transition {
	transition-property:none !important;
}

select::-ms-expand {
	display:none;
}

input::-ms-tooltip {
	display:none;
}



.confirmation,
#error-message,
#loading,
#spinner {
	display: none;
}
