/** interface-micro-library
  * A jQuery tooltip/popover/modal plugin
  * Developed under the MIT license http://opensource.org/licenses/MIT
  * Designed for quick creation of interface elements
  **/
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .tooltip div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #666;
    color: #fff;
    font-size: 12px;
    max-width: 340px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default;
    padding: 10px 15px; }
    .tooltip div:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      border: 5px solid transparent;
      z-index: 11; }
  .tooltip.top div:after {
    left: 50%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom div:after {
    left: 50%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left div:after {
    bottom: 50%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right div:after {
    bottom: 50%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.top-right div:after {
    left: 90%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.top-left div:after {
    left: 10%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom-right div:after {
    left: 90%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.bottom-left div:after {
    left: 10%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left-top div:after {
    bottom: 65%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.left-bottom div:after {
    bottom: 35%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right-top div:after {
    bottom: 65%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.right-bottom div:after {
    bottom: 35%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.white div {
    background: #fff;
    color: #9a9a9a; }
  .tooltip.white.top div:after, .tooltip.white.top-right div:after, .tooltip.white.top-left div:after {
    border-top-color: #fff; }
  .tooltip.white.bottom div:after, .tooltip.white.bottom-right div:after, .tooltip.white.bottom-left div:after {
    border-bottom-color: #fff; }
  .tooltip.white.left div:after, .tooltip.white.left-top div:after, .tooltip.white.left-bottom div:after {
    border-left-color: #fff; }
  .tooltip.white.right div:after, .tooltip.white.right-top div:after, .tooltip.white.right-bottom div:after {
    border-right-color: #fff; }
  .tooltip.black div {
    background: rgba(0, 0, 0, 0.8); }
  .tooltip.black.top div:after, .tooltip.black.top-right div:after, .tooltip.black.top-left div:after {
    border-top-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.bottom div:after, .tooltip.black.bottom-right div:after, .tooltip.black.bottom-left div:after {
    border-bottom-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.left div:after, .tooltip.black.left-top div:after, .tooltip.black.left-bottom div:after {
    border-left-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.right div:after, .tooltip.black.right-top div:after, .tooltip.black.right-bottom div:after {
    border-right-color: rgba(0, 0, 0, 0.8); }
  .tooltip.error div {
    background: #f56969; }
  .tooltip.error.top div:after, .tooltip.error.top-right div:after, .tooltip.error.top-left div:after {
    border-top-color: #f56969; }
  .tooltip.error.bottom div:after, .tooltip.error.bottom-right div:after, .tooltip.error.bottom-left div:after {
    border-bottom-color: #f56969; }
  .tooltip.error.left div:after, .tooltip.error.left-top div:after, .tooltip.error.left-bottom div:after {
    border-left-color: #f56969; }
  .tooltip.error.right div:after, .tooltip.error.right-top div:after, .tooltip.error.right-bottom div:after {
    border-right-color: #f56969; }
  .tooltip.success div {
    background: #94C775; }
  .tooltip.success.top div:after, .tooltip.success.top-right div:after, .tooltip.success.top-left div:after {
    border-top-color: #94C775; }
  .tooltip.success.bottom div:after, .tooltip.success.bottom-right div:after, .tooltip.success.bottom-left div:after {
    border-bottom-color: #94C775; }
  .tooltip.success.left div:after, .tooltip.success.left-top div:after, .tooltip.success.left-bottom div:after {
    border-left-color: #94C775; }
  .tooltip.success.right div:after, .tooltip.success.right-top div:after, .tooltip.success.right-bottom div:after {
    border-right-color: #94C775; }
  .tooltip.smoke div {
    background: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.top div:after, .tooltip.smoke.top-right div:after, .tooltip.smoke.top-left div:after {
    border-top-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.bottom div:after, .tooltip.smoke.bottom-right div:after, .tooltip.smoke.bottom-left div:after {
    border-bottom-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.left div:after, .tooltip.smoke.left-top div:after, .tooltip.smoke.left-bottom div:after {
    border-left-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.right div:after, .tooltip.smoke.right-top div:after, .tooltip.smoke.right-bottom div:after {
    border-right-color: rgba(90, 103, 121, 0.95); }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .popover div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #444;
    color: #fff;
    font-size: 12px;
    max-width: 250px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default; }

.popover_title {
  border-radius: 3px 3px 0px 0px;
  padding: 5px 15px; }

.popover_content {
  border-radius: 0 0 3px 3px;
  padding: 5px 15px; }

.popover_content_s {
  border-radius: 3px;
  padding: 5px 15px; }

.popover div:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  z-index: 11; }
.popover.top div:after {
  left: 50%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom div:after {
  left: 50%;
  top: -11px;
  margin-left: -5px; }
.popover.left div:after {
  bottom: 50%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right div:after {
  bottom: 50%;
  left: -11px;
  margin-bottom: -5px; }
.popover.top-right div:after {
  left: 90%;
  bottom: -11px;
  margin-left: -5px; }
.popover.top-left div:after {
  left: 10%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom-right div:after {
  left: 90%;
  top: -11px;
  margin-left: -5px; }
.popover.bottom-left div:after {
  left: 10%;
  top: -11px;
  margin-left: -5px; }
.popover.left-top div:after {
  bottom: 75%;
  right: -11px;
  margin-bottom: -5px; }
.popover.left-bottom div:after {
  bottom: 25%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right-top div:after {
  bottom: 75%;
  left: -11px;
  margin-bottom: -5px; }
.popover.right-bottom div:after {
  bottom: 25%;
  left: -11px;
  margin-bottom: -5px; }
.popover.smoke div.popover_title {
  background: #666;
  border-bottom: 1px solid #666; }
.popover.smoke div.popover_content, .popover.smoke div.popover_content_s {
  background: rgba(90, 103, 121, 0.95); }
.popover.smoke.top div:after, .popover.smoke.top-right div:after, .popover.smoke.top-left div:after {
  border-top-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.bottom div:after, .popover.smoke.bottom-right div:after, .popover.smoke.bottom-left div:after {
  border-bottom-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.left div:after, .popover.smoke.left-top div:after, .popover.smoke.left-bottom div:after {
  border-left-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.right div:after, .popover.smoke.right-top div:after, .popover.smoke.right-bottom div:after {
  border-right-color: rgba(90, 103, 121, 0.95); }
.popover.error div.popover_title {
  background: #DC5E5E;
  border-bottom: 1px solid #DC5E5E; }
.popover.error div.popover_content, .popover.error div.popover_content_s {
  background: #f56969; }
.popover.error.top div:after, .popover.error.top-right div:after, .popover.error.top-left div:after {
  border-top-color: #f56969; }
.popover.error.bottom div:after, .popover.error.bottom-right div:after, .popover.error.bottom-left div:after {
  border-bottom-color: #f56969; }
.popover.error.left div:after, .popover.error.left-top div:after, .popover.error.left-bottom div:after {
  border-left-color: #f56969; }
.popover.error.right div:after, .popover.error.right-top div:after, .popover.error.right-bottom div:after {
  border-right-color: #f56969; }
.popover.success div.popover_title {
  background: #85B369;
  border-bottom: 1px solid #85B369; }
.popover.success div.popover_content, .popover.success div.popover_content_s {
  background: #94C775; }
.popover.success.top div:after, .popover.success.top-right div:after, .popover.success.top-left div:after {
  border-top-color: #94C775; }
.popover.success.bottom div:after, .popover.success.bottom-right div:after, .popover.success.bottom-left div:after {
  border-bottom-color: #94C775; }
.popover.success.left div:after, .popover.success.left-top div:after, .popover.success.left-bottom div:after {
  border-left-color: #94C775; }
.popover.success.right div:after, .popover.success.right-top div:after, .popover.success.right-bottom div:after {
  border-right-color: #94C775; }
.popover.black div.popover_title {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
.popover.black div.popover_content, .popover.black div.popover_content_s {
  background-color: rgba(20, 20, 20, 0.8); }
.popover.black.top div:after, .popover.black.top-right div:after, .popover.black.top-left div:after {
  border-top-color: rgba(20, 20, 20, 0.8); }
.popover.black.bottom div:after, .popover.black.bottom-right div:after, .popover.black.bottom-left div:after {
  border-bottom-color: rgba(20, 20, 20, 0.8); }
.popover.black.left div:after, .popover.black.left-top div:after, .popover.black.left-bottom div:after {
  border-left-color: rgba(20, 20, 20, 0.8); }
.popover.black.right div:after, .popover.black.right-top div:after, .popover.black.right-bottom div:after {
  border-right-color: rgba(20, 20, 20, 0.8); }
.popover.white div.popover_title {
  background: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  color: #9a9a9a; }
.popover.white div.popover_content, .popover.white div.popover_content_s {
  background-color: #fff;
  color: #9a9a9a; }
.popover.white.top div:after, .popover.white.top-right div:after, .popover.white.top-left div:after {
  border-top-color: #fff; }
.popover.white.bottom div:after, .popover.white.bottom-right div:after, .popover.white.bottom-left div:after {
  border-bottom-color: #fff; }
.popover.white.left div:after, .popover.white.left-top div:after, .popover.white.left-bottom div:after {
  border-left-color: #fff; }
.popover.white.right div:after, .popover.white.right-top div:after, .popover.white.right-bottom div:after {
  border-right-color: #fff; }
