#vwise-irio-modal h1 {
	text-align:unset;
	line-height:normal;
}

#vwise-irio-modal h3 {
	-webkit-margin-after: 24px;
	-webkit-margin-before: 24px;
	-webkit-margin-end: 0px;
	-webkit-margin-start: 0px;
	font-weight: 700;
}

#vwise-irio-modal .figure {
	font-size:30px !important;
	font-weight: 100 !important;
	line-height: unset !important;
	display: unset !important;
}

#vwise-irio-modal .figure sup {
	vertical-align: super;
}

#vwise-irio-modal .figure sub {
	bottom: unset !important;
}

#vwise-irio-modal {
	display: block;
}

#vwise-irio-modal .modal label {
	display: block;
}


#vwise-irio-modal .veil {
	z-index: 424242;
	background: rgba(00, 00, 00, 0.5);
}



#vwise-irio-modal .modal .close {
	z-index: 10000 !important;
	font-weight: unset !important;
	text-shadow: unset !important;
	opacity: unset !important;
}

#vwise-irio-modal .modal .prev {
	z-index: 10000 !important;
}


#vwise-irio-modal .modal .logo {
	left:25px !important;
	top:25px !important;
}


#vwise-irio-modal .modal .projected-monthly .figure {
	font-size:48px !important;
}


#vwise-irio-modal .modal .option .figure {
	font-size:36px !important;
}

#vwise-irio-modal #details-form .form-group label {
	position: static !important;
	top:auto !important;
	left:auto !important;
	padding:auto !important;
	background: transparent !important;
}

#vwise-irio-modal #disclosure,
#vwise-irio-modal #error-message,
#vwise-irio-modal #loading,
#vwise-irio-modal #spinner {
	z-index: 424250 !important;
}


@keyframes vwise-irio-modal-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#vwise-irio-modal #loading img,
#vwise-irio-modal #spinner img {
	animation: vwise-irio-modal-spin 1s infinite linear;
	-ms-animation: vwise-irio-modal-spin 1s infinite linear;
	-moz-animation: vwise-irio-modal-spin 1s infinite linear;
	-webkit-animation: vwise-irio-modal-spin 1s infinite linear;
}

#vwise-irio-modal .spinner img {
	height:8vw !important;
	width:auto !important;
	animation: vwise-irio-modal-spin 1s infinite linear !important;
	-ms-animation: vwise-irio-modal-spin 1s infinite linear !important;
	-moz-animation: vwise-irio-modal-spin 1s infinite linear !important;
	-webkit-animation: vwise-irio-modal-spin 1s infinite linear !important;
}



@media screen and (max-width: 560px) {
	/* clearfix */
	#vwise-irio-modal #allocate #slider:after {
		display: block;
		content: "";
		clear: both;
	}

	#vwise-irio-modal #allocate #slider .allocate-val {
		width: 30%;
	}

	#vwise-irio-modal #allocate #slider .allocate-val > h5 {
		line-height: 1;
	}

}
