#vwise-irio-modal .veil {
	background-color: #f5f5f5;
}

#vwise-irio-modal .modal .logo {
	height:55px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#vwise-irio-modal #loading /img,
#vwise-irio-modal #spinner /img {
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

@media screen and (max-width: 560px) {

	#vwise-irio-modal .modal .logo {
		height:45px;
	}
}