
#vwise-irio-modal * {
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}

#vwise-irio-modal body {
	font-family:'Montserrat', sans-serif;
	margin:0;
}

#vwise-irio-modal header {
	width:100%;
	height:50px;
	background:#333;
}

#vwise-irio-modal .clear {
	clear:both;
}

#vwise-irio-modal .no-scroll {
	overflow: hidden;
}






#vwise-irio-modal h1 {
	font-weight:100;
	margin:0;
	font-size:36px;
}

#vwise-irio-modal h2 {
	font-weight:100;
	font-size:30px;
	margin:0;
}

#vwise-irio-modal h3 {
	font-size:24px;
}

#vwise-irio-modal h4 {
	margin:0;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

#vwise-irio-modal h5 {
	font-size: 14px;
	color: #C0ECFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight:100;
}

#vwise-irio-modal .figure {
	font-size:30px;
}

#vwise-irio-modal .figure sup {
	font-size: 18px;
  position: relative;
  top: 4px;
}

#vwise-irio-modal .figure sub {
	font-size:16px;
	vertical-align: baseline;
}

#vwise-irio-modal .modal p {
	font-size:14px;
	line-height:24px;
}

#vwise-irio-modal .modal label {
	font-size: 12px;
	letter-spacing: 1.7px;
	line-height: 15px;
	text-transform:uppercase;
}







#vwise-irio-modal .outer {
	height:100%;
	width:100%;
	display: table;
	text-align: center;
}

#vwise-irio-modal .inner {
	display:table-cell;
	vertical-align: middle;
	height:100%;
	width:100%;
}








#vwise-irio-modal .widgets {
	width:100%;
	margin:50px auto;
	text-align:center;
	padding:20px;
}

#vwise-irio-modal .widgets > div {
	width:500px;
	height:300px;
	max-width:95%;
	max-height:55vw;
	background:#999;
	display:inline-block;
	overflow:hidden;
	border-radius:4px;
}

#vwise-irio-modal .widgets .vwise {
	background:url('/w/img/irio-widget-bg.jpg');
	background-size:cover;
	position:relative;
	color:#fff;
}

#vwise-irio-modal .widgets .vwise .overlay {
	height:100%;
	width:100%;
	background-color: rgba(11,52,74,.75); /* ie fallback */
	background: linear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	position:absolute;
	display:table;
}

#vwise-irio-modal .widgets .vwise .copy {
	position: relative;
	display:table-cell;
	vertical-align: middle;
	padding:0 10%;
}

#vwise-irio-modal .widgets .vwise .figure {
	font-weight:200;
	margin:10px auto;
	font-size:36px;
	font-family:'Open Sans', sans-serif;
}

#vwise-irio-modal .widgets .vwise .figure sup {
	font-size:.6em;
}

#vwise-irio-modal .widgets .vwise h3 {
	margin:0;
}

#vwise-irio-modal .widgets .vwise h5 {
	margin:0;
	margin-top:20px;
}

#vwise-irio-modal .widgets .vwise button {
	border:none;
	border-radius: 4px;
	color:#fff;
	line-height:40px;
	padding:0 25px;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing:2.4px;
	font-size:10px;
	margin-top:20px;
	cursor: pointer;
}






#vwise-irio-modal .veil {
	height:100%;
	width:100%;
	position: fixed;
	top:0;
	left:0;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}







#vwise-irio-modal .modal {
	position:relative;
	border-radius: 9px;
	box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.20);
	display:inline-block;
	min-height:200px;
	min-width:200px;
	margin:0 auto;
	overflow:hidden;
}

#vwise-irio-modal .modal.single-col {
	max-width:600px;
}

#vwise-irio-modal .modal.single-col .col {
	float:none;
}

#vwise-irio-modal .modal .close {
	position:absolute;
	top:30px;
	right:30px;
	background:url('/w/img/close.png') center right no-repeat;
	background-size:contain;
	padding-right:40px;
	line-height:30px;
	font-size: 12px;
	color: rgba(74,74,74,0.6); /* To match icon transparency */
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor:pointer;
	z-index: 1000;
}

#vwise-irio-modal .modal .prev {
	position:absolute;
	top:30px;
	left:30px;
	background:url('/w/img/back.png') center left no-repeat;
	background-size:contain;
	padding-left:30px;
	line-height:30px;
	font-size: 12px;
	color: rgba(74,74,74,0.6);
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor:pointer;
	z-index: 1000;
}

#vwise-irio-modal .modal .col {
	text-align:left;
	float:left;
	max-width:560px;
	padding-top:150px;
	position: relative;
}














#vwise-irio-modal .modal .intro {
	margin-bottom:30px;
}

#vwise-irio-modal .modal .logo {
	position: absolute;
	left:50px;
	top:50px;
	width: auto;
}

#vwise-irio-modal .modal .summary {
	color:#fff;
	padding-left:50px;
	padding-right:50px;
}

#vwise-irio-modal .modal .estimates {
	padding-left:50px;
	padding-right:50px;
}

#vwise-irio-modal .modal .estimates .figure {
	margin-bottom:20px;
}

#vwise-irio-modal .modal .projected-monthly {
	background:#fff;
	box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.10);
	border-radius: 4px;
	padding:20px;
	padding-bottom:10px;
	margin:0 30px;
	margin-top:30px;
}

#vwise-irio-modal .modal .projected-monthly .figure {
	font-size:58px;
}

#vwise-irio-modal .modal .projected-monthly sup {
	font-size:24px;
	top:-2px;
}






#vwise-irio-modal .modal .options {
	background:#fff;
	color:#000;
}

#vwise-irio-modal .modal .options .intro {
	padding-left:30px;
	padding-right:30px;
}


#vwise-irio-modal .modal .option {
	line-height:78px;
	padding:0 20px 0 50px;
	border-top:1px solid #D5D5D5;
}

#vwise-irio-modal .modal .option:last-of-type {
	border-bottom:1px solid #D5D5D5;
}

#vwise-irio-modal .modal .option .figure {
	display: inline-block;
	font-size:36px;
}

#vwise-irio-modal .modal .option .figure sub {
	font-size:22px;
}

#vwise-irio-modal .modal button,
#vwise-irio-modal .message-container button {
	font-size: 14px;
	letter-spacing: 1.5px;
	line-height: 55px;
	text-transform:uppercase;
	width:150px;
	padding:0;
	font-weight:bold;
	cursor:pointer;
	border-radius: 4px;
	border:2px solid transparent;
	color:#fff;
}

#vwise-irio-modal .modal button.back {
	background:#4A4A4A;
}

#vwise-irio-modal .modal button.back:hover {
	background:#a5a5a5;
}

#vwise-irio-modal .modal .option button {
 	border:2px solid;
	float:right;
	margin-top:17px;
}

#vwise-irio-modal .modal .option button:hover {
	color:#fff;
}

#vwise-irio-modal #analysis button:hover {
	color: #fff;
}

#vwise-irio-modal #salary-confirmation button,
#vwise-irio-modal #max-reached button,
#vwise-irio-modal .message-container button {
	background:none;
	color:#fff;
	border-color:#fff;
	display:block;
	margin:50px auto;
	width:50%;
}

#vwise-irio-modal #salary-confirmation button:hover,
#vwise-irio-modal #max-reached button:hover {
	color:#019EE3;
	background:#fff;
}

#vwise-irio-modal #salary-confirmation label,
#vwise-irio-modal #salary-confirmation input,
#vwise-irio-modal #salary-confirmation select,
#vwise-irio-modal #salary-confirmation .dropdown {
	display:block;
	width:100%;
}


#vwise-irio-modal #salary-confirmation label {
	margin:20px auto 10px;
}

#vwise-irio-modal #salary-confirmation input,
#vwise-irio-modal #salary-confirmation select,
#vwise-irio-modal #salary-confirmation .dropdown {
	font-family:'Open Sans',sans-serif;
	box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.10);
	border-radius: 4px;
	line-height:70px;
	height:70px;
	font-size:36px;
	color:#9B9B9B;
	padding-left:40px;
	font-weight:100;
	border:none;
}

#vwise-irio-modal #salary-confirmation select {
	padding-left:20px;
	background:#fff;
	box-shadow: none;
	appearance:none;
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
}

#vwise-irio-modal #salary-confirmation .dropdown > select {
	background: transparent;
}

#vwise-irio-modal #salary-confirmation .dropdown {
	background-image: url('/w/img/select-arrow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 97% center;
	z-index: 1;
	background-color: #fff;
	padding-left: 0;
}

#vwise-irio-modal #salary-confirmation .currency-prefix {
	font-family:'Open Sans',sans-serif;
	position:absolute;
	color:#9B9B9B;
	margin-top:15px;
	margin-left:20px;
	font-size:24px;
	font-weight:100;
}

#vwise-irio-modal #languageSelect {
	opacity: .75;
	color: #fff;
	display: inline-block;
	margin:30px auto;
}

#vwise-irio-modal #languageSelect:hover {
	opacity: 1;
	cursor: pointer;
}

#vwise-irio-modal #languageSelect .menu {
	text-align: left;
	font-size: 14px;
	padding: 5px;
  width: 120px;
	letter-spacing: 2px;
	font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#vwise-irio-modal #languageSelect .menu .currentLanguage {
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,1);
}

#vwise-irio-modal #languageSelect .menu .currentLanguage span {
	background-image: url('/w/img/caret.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	height: 20px;
	width: 20px;
	margin-left: 10px;
	vertical-align: middle;
	float: right;
	display: block;
	transform: rotate(0deg);
	transition: transform .25s;
}

#vwise-irio-modal #languageSelect.open .menu .currentLanguage span {
	transform: rotate(180deg);
	transition: transform .25s;
}

#vwise-irio-modal #languageSelect .menu .options {
	display:none;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,0);
}

#vwise-irio-modal #languageSelect .menu .options li {
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.25);
	color:#fff;
}

#vwise-irio-modal #languageSelect .menu .options li:hover {
	background-color: rgba(255,255,255,.75);
	color: inherit;
}

#vwise-irio-modal #languageSelect .menu .options li.selected {
  display: none;
}

#vwise-irio-modal #details-form button {
	width: 100%;
	min-width:200px;
}

#vwise-irio-modal small {
	font-family:'Open Sans','Arial',sans-serif;
	font-size:11px;
	color:#9B9B9B;
	text-align: center;
	display: block;
	padding:20px;
}

#vwise-irio-modal select::-ms-expand {
	display:none;
}





#vwise-irio-modal .modal {
	background:#fff;
}


#vwise-irio-modal .modal .details {
	color:#fff;
	padding:40px 0;
}

#vwise-irio-modal .modal .details h4 {
	background:url('/w/img/down.png') right center no-repeat;
	background-size:22px;
	padding-right:40px;
	display: inline-block;
	cursor: pointer
}

#vwise-irio-modal .modal .details h4.open {
	background-image:url('/w/img/up.png');
}

#vwise-irio-modal .modal .form-group {
	display:inline-block;
	text-align:left;
	margin:10px;
}

#vwise-irio-modal .modal .form-group label,
#vwise-irio-modal .modal .form-group input {
	display:block;
	width:100%;
}

#vwise-irio-modal .modal .form-group label {
	text-transform:none;
	letter-spacing:normal;
	font-size:14px;
	margin-bottom:5px;
}

#vwise-irio-modal .modal .form-group input {
	font-family:'Montserrat', sans-serif;
	font-weight:100;
	border:1px solid #019EE3;
	line-height:55px;
	height:55px;
	font-size:17px;
	border-radius:5px;
	text-indent:15px;
}

#vwise-irio-modal .modal.simple .form-group {
	vertical-align: top;
}

#vwise-irio-modal .modal.simple .form-group:last-child {
	vertical-align: bottom;
}


#vwise-irio-modal .modal.simple {
	width:1120px;
	padding:200px 0;
}

#vwise-irio-modal .modal.simple .modal-content {
	max-width:80%;
	margin:0 auto;
}

#vwise-irio-modal .modal.simple h1 {
	font-size:48px;
}

#vwise-irio-modal .modal.simple p {
	margin:20px auto;
}

#vwise-irio-modal #congrats p {
	max-width:440px;
}

#vwise-irio-modal #success p,
#vwise-irio-modal #cta p {
	max-width:615px;
}

#vwise-irio-modal .modal.simple small {
	position:absolute;
	bottom:20px;
	width:100%;
}

#vwise-irio-modal #congrats button {
	width:150px;
	line-height:55px;
	margin:0 10px;
}

#vwise-irio-modal .modal.simple input {
	border-color:#9B9B9B;
	width:235px;
}

#vwise-irio-modal .modal.simple button[type=submit] {
	line-height:55px;
	font-size:11px;
	letter-spacing:2.35px;
	width:105px;
	border:1px solid transparent;
}

#vwise-irio-modal #disclosure,
#vwise-irio-modal #error-message,
#vwise-irio-modal #loading,
#vwise-irio-modal #spinner {
  position: fixed;
  top:0;
  right:0;
  height:100vh;
  width:100%;
  overflow:scroll;
	z-index: 1001;
	padding: 10% 0;
	text-align: left;
	border-radius:0;
	margin:0;
  -webkit-overflow-scrolling: touch;
}

#vwise-irio-modal #disclosure button {
	background:none;
	display: block;
	margin:80px auto;
	color:#666;
	border:2px solid;
}

#vwise-irio-modal #disclosure button:hover {
	opacity:.5;
}

#vwise-irio-modal #disclosure p {
	font-size: 18px;
	line-height: 26px;
}

#vwise-irio-modal #error-message .message-container,
#vwise-irio-modal #loading .message-container,
#vwise-irio-modal #spinner .message-container {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
	background: transparent;
	text-align: center;
}









#vwise-irio-modal #error-message .message-container {
	width: 65vw;
}

#vwise-irio-modal #error-message p {
	font-size: 2vw;
	font-weight: 300;
}

#vwise-irio-modal #error-message .message-container button {
	margin: 4vw auto;
	width: auto;
	padding: 0 25px;
	letter-spacing: 3px;
}

#vwise-irio-modal #error-message .message-container {
	width: 65vw;
}

#vwise-irio-modal #error-message p {
	font-size: 2vw;
	font-weight: 300;
}

#vwise-irio-modal #error-message .message-container button {
	margin: 4vw auto;
	width: auto;
	padding: 0 25px;
	letter-spacing: 3px;
}







#vwise-irio-modal [class^="icon-"] {
	padding-left: 4vw;
	margin-bottom: 2vw;
	line-height: 3vw;
	text-align: left;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 2.5vw;
	font-weight: $light;
}

#vwise-irio-modal .icon-info {
	background-image: url('/w/img/icon-info-dark.svg');
}



#vwise-irio-modal #allocate_confirm h3 {
    font-size: 24px;
}

#vwise-irio-modal #allocate_confirm .checkbox label {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    border: 1px solid #979797;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
    z-index: 1;
}

#vwise-irio-modal #allocate_confirm .checkbox > input {
    opacity: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 11;
    position: absolute;
    left: -3px;
    top: -3px;
}

#vwise-irio-modal #allocate_confirm .checkbox {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    margin-right: 15px;
}

#vwise-irio-modal #allocate_confirm .checkbox > input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 3px;
	bottom: -3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/w/img/input-checkmark.svg');
}

#vwise-irio-modal .noUi-target {
  background: #9a9a9a;
  box-shadow: none;
  border: 0px solid #9a9a9a;
  height: 1.55vw;
  border-radius: 0; }
#vwise-irio-modal .noUi-target:before, .noUi-target:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: 1.55vw;
    height: 1.55vw;
    top: 0px; }
#vwise-irio-modal .noUi-target:before {
    left: -1vw;
    border-radius: 1.55vw 0 0 1.55vw; }
#vwise-irio-modal .noUi-target:after {
    right: -1vw;
    border-radius: 0 1.55vw 1.55vw 0; }

#vwise-irio-modal .noUi-handle {
  background-image: url("/w/img/slider-handle-alt.svg");
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border: none;
  border-radius: 0;
  cursor: pointer; }

#vwise-irio-modal .noUi-horizontal .noUi-handle {
  width: 2vw;
  height: 4vw;
  top: -.5vw;
  left: -1vw; }
#vwise-irio-modal .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    display: none; }

#vwise-irio-modal .noUi-pips {
  color: #9a9a9a; }
#vwise-irio-modal .noUi-pips.noUi-pips-horizontal {
    padding: 0;
    height: 2.5vw;
    top: -1vw; }

#vwise-irio-modal .noUi-value {
  display: none;
}

#vwise-irio-modal .noUi-marker.noUi-marker-horizontal {
  margin-left: -.05vw;
  border-left: 0.1vw solid #9a9a9a;
  border-color: #9a9a9a;
  width: 0;
  height: 1vw;
  top: 0; }
#vwise-irio-modal .noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
    border-color: inherit;
    opacity: .5;
    height: .45vw;
    top: .5vw; }
#vwise-irio-modal .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    border-color: inherit;
    border-width: .18vw;
    margin-left: -.09vw; }


#vwise-irio-modal .noUi-pips {
	display:none;
}


#vwise-irio-modal #allocate p,
#vwise-irio-modal #allocate_confirm p,
#vwise-irio-modal #congrats p {
max-width: 80%;
}
#vwise-irio-modal #allocate button,
#vwise-irio-modal #allocate_confirm button {
	width: 150px;
line-height: 55px;
	margin: 0 10px;
}

#vwise-irio-modal #allocate #slider {
	margin: 1vw auto 3vw;
	min-height: 90px;
	width: 80%; 
}

#vwise-irio-modal #allocate #slider .allocate-val {
    display: inline-block;
    width: 19%;
    text-align: center; }
#vwise-irio-modal #allocate #slider .allocate-val > h5 {
      margin-bottom: .5vw;
      margin-top: 0;
      text-align: center;
      color: #9b9b9b;
      line-height: .25; }
#vwise-irio-modal #allocate #slider .allocate-val > h5 > .icon-info {
        padding-left: 1.8vw;
        cursor: pointer;
        position: relative;
        bottom: -1.1vw;
        opacity: .75; }
#vwise-irio-modal #allocate #slider .allocate-val > h5 > .icon-info:hover {
          opacity: 1; }
#vwise-irio-modal #allocate #slider .allocate-val > h1 {
      font-weight: 100;
      font-size: 3.25vw;
      font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#vwise-irio-modal #allocate #slider #allocate_pretax {
    float: left; }
#vwise-irio-modal #allocate #slider #allocate_roth {
    float: right; }
#vwise-irio-modal #allocate #slider #allocate_roth > h5 > .icon-info {
      margin-right: .75vw; }
#vwise-irio-modal #allocate #slider #allocate_slider {
    width: 50%;
    display: inline-block;
    margin: 6%;
	float: left; }

#vwise-irio-modal .es #allocate #allocate_pretax h5 > i.icon-info {
  margin-right: -2vw; }







#vwise-irio-modal #spinner,
#vwise-irio-modal #error-message,
#vwise-irio-modal #loading {
	display: none;
}

#vwise-irio-modal .spinner {
	position: absolute;
	left:50%;
	top:50%;
	height:auto;
	width:auto;
	transform: translate(-50%, -50%);
	z-index: 100;
	text-align: center;
}


#vwise-irio-modal .spinner img {
	height:8vw;
	width:auto;
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}



@media screen and (min-width: 1221px) {

	#vwise-irio-modal .modal .options.two .option {
		line-height:127px;
	}

	#vwise-irio-modal .modal .options.two button {
		margin-top:43px;
	}

	#vwise-irio-modal .modal .options.one .option {
		line-height:268px;
	}

	#vwise-irio-modal .modal .options.one button {
		margin-top:113px;
	}

}


@media screen and (max-width: 1220px) {

	#vwise-irio-modal .modal {
		margin:50px auto;
	}

	#vwise-irio-modal .modal .col {
		float:none;
		display:block;
		max-width:none;
	}

	#vwise-irio-modal .modal .projected-monthly {
		margin-bottom:50px;
	}

	#vwise-irio-modal .modal .options {
		padding-top:30px;
	}

	#vwise-irio-modal .modal.simple {
		width:85%;
	}

	#vwise-irio-modal .modal .details {
		max-width:674px;
	}

	#vwise-irio-modal #details-form .form-group {
		width: 40%;
	}

}





@media screen and (max-width: 971px) {

	#vwise-irio-modal #details-form button {
		width: 100%;
	}

}





@media screen and (max-width: 760px) {

	#vwise-irio-modal .modal,
	#vwise-irio-modal .modal.simple,
	#vwise-irio-modal .modal.single-col {
		margin:0;
		border-radius:0;
		box-shadow:none;
		width:100%;
		height: 100%;
		max-width: 100%;
	}

	#vwise-irio-modal .modal.simple {
		padding: 0;
	}

	#vwise-irio-modal .modal.simple > h1 {
		margin-top: 200px;
	}

	#vwise-irio-modal .modal.simple h1,
	#vwise-irio-modal .modal.simple p,
	#vwise-irio-modal .modal.simple h3 {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#vwise-irio-modal .modal .details {
		max-width: 100%;
	}

	#vwise-irio-modal .modal .form-group {
		width:90%;
	}

	#vwise-irio-modal .modal.simple input,
	#vwise-irio-modal .modal.simple button[type=submit] {
		width:100%;
	}

	#vwise-irio-modal #allocate #slider {
		width: 90%;
	}
	#vwise-irio-modal .tooltip {
		max-width: 200px;
		width: 200px;
	}

}





@media screen and (max-width: 560px) {

	#vwise-irio-modal .modal .logo {
		left:20px;
		top:30px;
	}

	#vwise-irio-modal .modal .summary {
		padding-right:20px;
		padding-left:20px;
	}

	#vwise-irio-modal .modal .estimates {
		padding-right:0;
		padding-left:0;
	}

	#vwise-irio-modal .modal .projected-monthly {
		margin-left:0;
		margin-right:0;
		padding-bottom:20px;
	}

	#vwise-irio-modal .modal .projected-monthly sub {
		display:block;
	}

	#vwise-irio-modal .modal .option {
		text-align:center;
		padding:20px;
	}

	#vwise-irio-modal .modal .option .figure {
		line-height:50px;
	}

	#vwise-irio-modal #analysis button {
		float:none;
		display:block;
		margin:0 auto;
		width:80%;
	}

	#vwise-irio-modal .modal .options small {
		padding:20px 40px;
	}

	#vwise-irio-modal .modal .details .form-group {
		width:85%;
	}

	#vwise-irio-modal .modal.simple h1 {
		font-size:30px;
	}

	#vwise-irio-modal .modal.simple h3 {
		max-width: 80%;
	}

	#vwise-irio-modal .modal.simple small {
		position: relative;
		margin-top:100px;
	}

	#vwise-irio-modal .modal .form-group {
		width:90%;
	}

	#vwise-irio-modal .modal.simple button[type=submit] {
		width:100%;
	}

	#vwise-irio-modal .widgets h2 {
		font-size:24px;
	}

	#vwise-irio-modal .widgets h5 {
		font-size:12px;
	}

	#vwise-irio-modal .widgets .vwise .figure {
		font-size:28px;
	}

	#vwise-irio-modal #allocate #slider {
		margin-bottom: 10vw;
	}


	#vwise-irio-modal #allocate #slider .allocate-val > h1 {
		font-size: 30px;
	}


	#vwise-irio-modal #allocate #slider .allocate-val > h5 > .icon-info {
		padding-left: 20px;
		bottom: 0;
	}

	#vwise-irio-modal #allocate #slider #allocate_pretax > h5 {
    margin-right: -10px;
	}

	#vwise-irio-modal #allocate_confirm .checkbox {
		float: left;
		margin:3px 15px 15px 0;
	}

	#vwise-irio-modal #allocate #slider #allocate_slider {
		float:none;
		width:85%;
		margin:6% auto;
	}
    
}


@media screen and (max-width: 420px) {

	#vwise-irio-modal .widgets h2 {
		font-size:16px;
	}

	#vwise-irio-modal .widgets h3 {
		font-size:18px;
	}

	#vwise-irio-modal .widgets .vwise .figure {
		margin-top:0;
	}

	#vwise-irio-modal .modal .close,
	#vwise-irio-modal .modal .prev {
    color: rgba(74,74,74,0);
	}

	#vwise-irio-modal #details-form .form-group {
		width: 75%;
	}

	#vwise-irio-modal #details-form button {
		width: 100%;
	}

	#vwise-irio-modal .modal.simple > h1 {
		margin-top: 100px;
	}

	#vwise-irio-modal .modal.simple h1,
	#vwise-irio-modal .modal.simple p,
	#vwise-irio-modal .modal.simple h3 {
		max-width: 85%;
	}

	#vwise-irio-modal #allocate_confirm h3 {
		text-align: left;
	}

	#vwise-irio-modal #allocate_confirm .checkbox {
		margin:5px 15px 35px 0;
	}

	#vwise-irio-modal .modal button.back {
    background: #fff;
    width: 80px !important;
    color: #666;
	}

}

button:disabled {
    background: #dddddd;
	color:#AAA;
	border:2px solid #AAA;
}
