#vwise_powerview {
	height:100%;
	width:100%;
	position: fixed;
}

* {
	box-sizing:border-box;
}

body {
	font-family: 'Lato', sans-serif;
	margin:0;
	color:#fff;
	-webkit-text-size-adjust: 100%;
}

.clear {
	clear:both;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

h1 {
	font-weight:300;
	font-size:48px;
	font-size: 12vw;
	line-height: 12.25vw;
}

h2 {
	font-weight:300;
	font-size:32px;
	line-height:38px;
	margin-bottom:25px;
	font-size: 8vw;
	line-height: 8.25vw;
	margin-bottom: 4vw;
}

h3 {
	font-size:28px;
	font-weight:500;
	font-size: 4.5vw;
}

h4 {
	font-size:24px;
	letter-spacing:2.3px;
	font-weight:300;
	font-size: 4.25vw;
	letter-spacing: .25vw;
}

h5 {
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:2px;
	font-weight:400;
	margin-top:20px;
	font-size: 3.5vw;
	letter-spacing: .65vw;
	margin-top: 7vw;
}

p {
	font-size:24px;
	line-height:28px;
	font-weight:300;
	margin: 5vw 0;
	font-size: 7.5vw;
	line-height: 8.25vw;
}

p.single {
	margin-top: 0;
}

a,
a:hover {
	text-decoration: none;
}

button,
.button {
	border-radius:4px;
	line-height:50px;
	font-size:24px;
	border:2px solid #fff;
	background:transparent;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:45%;
	margin: 15px 1%;
  font-size: 5.5vw;
	line-height: 10vw;
	margin: 4vw auto;
	border-radius: 1.25vw;
	border: .75vw solid #fff;
}

button.color-primary,
.button.color-primary {
	background:#fff;
}

.button {
  width: auto;
  padding: 10px 20px 13px;
	padding: 2vw 4vw 3vw;
}

img.button {
	max-width: 70%;
	border: none;
}

small.sms-rates {
	text-align: center;
	display: block;
	font-weight: 200;
	margin-top: 10px;
}

small {
	text-align:left;
	color:#fff;
}

sub {
	font-size: 4.5vw;
	vertical-align: baseline;
	font-weight: 300;
	letter-spacing: normal;
}

#salary-confirmation {
	z-index: 100;
	height: 100%;
}

#salary-confirmation h5 {
	margin-bottom: 10px;
	letter-spacing: 1.5px;
	margin-bottom: 3vw;
	letter-spacing: .5vw;
}

#salary-confirmation label,
#salary-confirmation input,
#salary-confirmation select {
	display:block;
	width:100%;
}

#salary-confirmation input,
#salary-confirmation select,
#salary-confirmation .dropdown {
	font-family:'Open Sans',sans-serif;
	box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.10);
	border-radius: 4px;
	line-height:60px;
	height:60px;
	font-size:32px;
	color:#9B9B9B;
	font-weight:100;
	border:none;
	background-color: #fff;
	height: 19vw;
	font-size: 10vw;
	padding-left: 10vw;
	border-radius: 1.25vw;
  box-shadow: 0 1.75vw 0 0 rgba(0,0,0,.10);
}

#salary-confirmation .dropdown {
	background-image: url('/w/img/select-arrow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 97% center;
	z-index: 1;
	padding-left: 0;
}

#salary-confirmation .dropdown > select {
	background: transparent;
}

#salary-confirmation .currency-prefix {
	font-family:'Open Sans',sans-serif;
	position:absolute;
	color:#9B9B9B;
	margin-top:10px;
	margin-left:20px;
	font-size:22px;
	font-weight:100;
	z-index: 1;
	font-size: 7vw;
	margin-top: 3vw;
	margin-left: 6vw;
}

#salary-confirmation select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
	padding-left: 6vw;
}

#salary-confirmation select::-ms-expand {
	display:none;
}

#salary-confirmation button {
	font-size: 14px;
	letter-spacing: 1.5px;
	line-height: 45px;
	text-transform:uppercase;
	padding:0;
	font-weight:bold;
	cursor:pointer;
	border-radius: 4px;
	border:2px solid #fff;
	color:#fff;
	width:50%;
	margin: 30px auto;
	display: block;
	margin: 8vw auto;
	height: 14vw;
	line-height: 13vw;
	font-size: 4.5vw;
}

#salary-confirmation button:hover {
	color:#019EE3;
	background:#fff;
}



#languageSelect {
	opacity: .75;
	color: #fff;
	display: block;
	margin:0 auto;
	max-width: 120px;
}

#languageSelect:hover {
	opacity: 1;
	cursor: pointer;
}

#languageSelect .menu {
	text-align: left;
	font-size: 14px;
	padding: 5px;
  width: 120px;
	letter-spacing: 2px;
	font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#languageSelect .menu .currentLanguage {
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,1);
}

#languageSelect .menu .currentLanguage span {
	background-image: url('/w/img/caret.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	height: 20px;
	width: 20px;
	margin-left: 10px;
	vertical-align: middle;
	float: right;
	display: block;
	transform: rotate(0deg);
	transition: transform .25s;
}

#languageSelect.open .menu .currentLanguage span {
	transform: rotate(180deg);
	transition: transform .25s;
}

#languageSelect .menu .options {
	display:none;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,0);
}

#languageSelect .menu .options li {
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.25);
	color:#fff;
}

#languageSelect .menu .options li:hover {
	background-color: rgba(255,255,255,.75);
	color: inherit;
}

#languageSelect .menu .options li.selected {
  display: none;
}




#veil {
	height:100%;
	width:100%;
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	background-image: linear-gradient(-138deg, #019EE3 17%, #84D9FF 100%);
}

.close {
	position:absolute;
	top:20px;
	right:20px;
	background:url('/w/img/close-mobile.svg') center right no-repeat;
	background-size:contain;
	padding-right:30px;
	line-height:20px;
	font-size: 12px;
	color: #fff;
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor:pointer;
	z-index: 1000;
	top: 6vw;
	right: 6vw;
	line-height: 6vw;
	padding-right: 9vw;
	font-size: 3.75vw;
	letter-spacing: 1.25vw;
}

.logo {
	position: absolute;
	top:3%;
	left:5%;
	height:40px;
	width:auto;
}

.container {
	margin:0 auto;
	position: relative;
	width:80%;
	min-width:280px;
	height:83%;
	top:17%;
}

.slide {
	opacity: 0;
}

.slide.flex-active-slide {
	opacity: 1;
	transition: opacity 1s;
}

.figure {
	font-size:13vw;
}

.figure sup {
	font-size:7vw;
	padding:10px 4px 0 0;
}

.figure sub {
	font-size:5.5vw;
	vertical-align: baseline;
	font-weight:300;
	letter-spacing: normal;
	padding-left:10px;
	display: inline-block;
}

.figure sub.split {
	vertical-align: top;
}

.cta {
	text-align:center;
}

.cta h2 {
	font-weight: bold;
	font-size: 9vw;
	line-height: 9.5vw;
}

.cta h3 {
	font-size: 6vw;
}

.confirmation {
	text-align:center;
}

.confirmation h1 {
	margin-bottom:30px;
	margin-bottom: 5vw;
}

.confirmation h2 {
	margin-bottom:10px;
	margin-bottom: 4vw;
}

.confirmation h3 {
	margin-bottom:20px;
	margin-bottom: 4vw;
	font-size: 7vw;
}

.cta ul {
    font-size: 18px;
		font-size: 5.5vw;
    font-weight: 300;
    margin: 3vw 0 0;
    padding-left: 25px;
		padding-left: 6.5vw;
}

.cta li {
	margin-bottom: 3vw;
}

.cta img.button {
	margin: 0 auto;
	display:block;
}

.cta.left {
	text-align: left;
}

.input-group {
	width:100%;
	display:inline-block;
	text-align:left;
	margin:3vw auto;
}

.input-group input {
	width:100%;
	border:2px solid #fff;
	line-height:40px;
	font-family:'Lato',sans-serif;
	border-radius:4px;
	padding:0 10px;
	font-size:18px;
	font-size: 6vw;
	line-height: 12vw;
	padding: 0 4vw;
	border-radius: 1.25vw;
}

.input-group label {
	display:block;
	margin-bottom:5px;
	font-size:18px;
	font-size: 5.5vw;
	margin-bottom: 2vw;
}

.smaller {
	font-size: 1.4em;
	line-height: 1.25em;
}

p[class^="icon-"] {
	padding-left: 9vw;
	line-height: 7.5vw;
	text-align: left;
	font-size: 6vw;
	font-weight: 300;
	margin-bottom: 2.5vw;
	background-image: url('/w/img/icon-check.png');
	background-size:6vw;
	background-position:left .5vw;
	background-repeat:no-repeat;
}

.nav {
	position: fixed;
	bottom: 7%;
	width: 110%;
	height: 10vh;
	left: 0;
	z-index: 10;
}

.nav h5 {
  font-size: 11px;
  float: left;
  position: fixed;
  left: 16%;
	text-align: center;
	font-weight: 800;
	margin-top: 10px;
	font-size: 3.5vw;
	margin-top: 4vw;
}

#next-button,
#prev-button {
	height: 10vh;
  width: 10vh;
  position: fixed;
  left:53%;
}

#next-button {
	transition: left 1s;
}

#prev-button {
	left: calc(47% - 10vh);
	transform: scaleX(-1);
}

.nav.lonely #next-button {
	left: 64%;
}

.nav.lonely #prev-button {
	display: none !important;
}

.nav.hidden {
	display: none !important;
}

#spinner {
	position: absolute;
	left:50%;
	top:50%;
	height:80px;
	width:80px;
	transform: translate(-50%,-50%);
	height: 16vw;
	width: 16vw;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner img {
	height:100%;
	width:auto;
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

#loading,
#error-message {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#loading,
#error-message,
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.message-container {
	position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
	background: transparent;
	text-align: center;
}

#error-message p {
	font-size: 5vw;
	font-weight: 300;
}

.message-container button {
	margin: 2vw auto;
	font-size: 5vw;
}

#loading img {
  width: 15vw;
  height: auto;
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

input.input-error {
	border:solid 2px red !important;
}

.input-error-message {
	font-size:5vw;
	letter-spacing:.25vw;
	margin: 3vw 0 5vw;
	display: none;
}

.input-error-message::before {
  content: "!";
  padding: 0vw 2vw;
  background-color: red;
  border-radius: 100%;
  margin-right: 2vw;
  font-weight: bold;
}

#rotate {
	display:none;
}

#fine-print {
	height:100vh;
	width:100vw;
	padding:30px;
	position: fixed;
	z-index:2000;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background-image:linear-gradient(-138deg, #019EE3 17%, #84D9FF 100%)
}

#fine-print p {
	font-size:18px;
}

#fine-print button {
	display: block;
	width:50%;
	margin:5vh auto;
}

#show-fine-print {
  text-transform: uppercase;
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .3vw;
  z-index: 10000;
  height:5vh;
}


/* Tablets */
@media screen and ( min-width: 750px ) {

	.logo {
		height:60px;
	}

	.close {
		font-size:2.75vw;
		line-height:4vw;
		padding-right:6vw;
	}

	#show-fine-print {
		font-size:16px;
	}

	#languageSelect {
		max-width:160px;
	}

	#languageSelect .menu {
		font-size:18px;
		width:160px;
	}

	#salary-confirmation input, #salary-confirmation select, #salary-confirmation .dropdown {
    line-height:100px;
    height:100px;
    font-size:60px;
  }

  #salary-confirmation .currency-prefix {
  	margin-top:1vw;
  }

  button, .button {
  	font-size: 24px !important;
  	line-height:60px !important;
  	border-radius:10px;
  	border-width:4px;
  	height:80px !important;
  }

  #salary-confirmation button {
  	margin-bottom:40px;
  }

  h1 {
  	font-size:9vw;
  	line-height:8.25vw;
  }

  h2 {
  	font-size:6vw;
  }

  h5 {
  	font-size:2.5vw;
  	margin-top:4vw;
  }

  .nav h5 {
  	font-size:2.5vw;
  	margin-top:3vw;
  }

  p {
  	font-size:5.5vw;
  	line-height:6.25vw;
  }

  .input-error-message {
  	margin:0;
  	margin-top:3vw;
  	font-size:3vw;
  }

  .input-error-message::before {
  	padding:.25vw 1.5vw;
  }

}

#fine-print,
#rotate,
#loading, #error-message, .overlay, #spinner {
	display: none;
}


/* iPhone 6 Plus (S) */
@media screen and ( max-height: 628px ) {

	.container {
    /* max-height: 502px; */
  }

}

/* iPhone 6 (S) */
@media screen and ( max-height: 559px ) {

	.container {
    /* max-height: 447px; */
  }

}

/* iPhone 5 (C/S/SE) */
@media screen and ( max-height: 460px ) {

  .container {
    /* max-height: 368px; */
  }

  h5.label {
    margin-top: 15px;
  }

}

/* iPhone 4 */
@media screen and ( max-height: 372px ) {

  .container {
    /* max-height: 296px; */
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h5 {
    margin-top: 15px;
  }

  h5.label {
    margin-top: 10px;
  }

  p {
    font-size: 20px;
    margin: 10px 0;
  }

  .nav {
    bottom: 3%;
    height: 30px;
  }

  .nav h5 {
    margin-top: 5px;
    font-size: 10.5px;
  }

	#salary-confirmation h5 {
    margin-top: 15px;
  }

  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    line-height: 45px;
    height: 45px;
    font-size: 25px;
    text-indent: 25px;
  }

  #salary-confirmation .currency-prefix {
    font-size: 16px;
    margin-left: 14px;
    margin-top: 7px;
  }

  #salary-confirmation select {
    text-indent: 14px;
  }

  #salary-confirmation button {
    margin: 20px auto;
  }

  .confirmation h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .confirmation h2 {
    margin-bottom: 10px;
  }

  .input-group {
    margin: 7px auto;
  }

  .input-group input {
    font-size: 18px;
    line-height: 34px;
  }

	.cta ul {
    padding-left: 30px;
	}

}


@media screen and (min-aspect-ratio: 13/9) {

	#rotate {
		display:block;
		width:100vw;
		height:100vh;
		position: relative;
		z-index:10000;
	}

}



@media screen and (min-width: 415px) and (min-aspect-ratio: 4/3) {

	#rotate {
		display:block;
		width:100vw;
		height:100vh;
		position: relative;
		z-index:10000;
	}

}
