/* 
    Updated version of powerview-mobile.css
    Created on : Feb 9, 2018, 7:17:42 PM
*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #fff;
  -webkit-text-size-adjust: 100%; }

.clear {
  clear: both; }

#vwise_powerview {
  height: 100%;
  width: 100%;
  position: fixed; }

#veil {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(-138deg, #019EE3 17%, #84D9FF 100%); }

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("/w/img/close-mobile.svg") center right no-repeat;
  background-size: contain;
  padding-right: 30px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1000;
  top: 6vw;
  right: 6vw;
  line-height: 6vw;
  padding-right: 9vw;
  font-size: 3.75vw;
  letter-spacing: 1.25vw; }

.logo {
  position: absolute;
  top: 3%;
  left: 5%;
  height: 40px;
  width: auto; }

.container {
  margin: 0 auto;
  position: relative;
  width: 80%;
  min-width: 280px;
  height: 83%;
  top: 17%; }

.slide {
  opacity: 0; }
  .slide.flex-active-slide {
    opacity: 1;
    transition: opacity 1s; }

section.bg-primary {
  background-color: transparent; }

#loading,
#error-message,
#spinner,
#rotate {
  display: none; }

/** Typography Styles
  *
  * Import this file using
  * @import "mobile/partials/typography";
  *
  */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-weight: 300;
  font-size: 48px;
  font-size: 12vw;
  line-height: 12.25vw; }

h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 25px;
  font-size: 8vw;
  line-height: 8.25vw;
  margin-bottom: 4vw; }

h3 {
  font-size: 28px;
  font-weight: 400;
  font-size: 4.5vw; }

h4 {
  font-size: 24px;
  letter-spacing: 2.3px;
  font-weight: 300;
  font-size: 4.25vw;
  letter-spacing: .25vw; }

h5 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 20px;
  font-size: 3.5vw;
  letter-spacing: .65vw;
  margin-top: 7vw; }

p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin: 5vw 0;
  font-size: 7.5vw;
  line-height: 8.25vw; }

p.single {
  margin-top: 0; }

a,
a:hover {
  text-decoration: none; }

small {
  text-align: left;
  color: #fff; }
  small.sms-rates {
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 3.5vw; }

sub {
  font-size: 4.5vw;
  vertical-align: baseline;
  font-weight: 300;
  letter-spacing: normal; }

.smaller {
  font-size: 1.4em;
  line-height: 1.25em; }

[class^="icon-"] {
  padding-left: 4vw;
  margin-bottom: 2vw;
  line-height: 3vw;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2.5vw;
  font-weight: 300; }

p[class^="icon-"] {
  padding-left: 9vw;
  line-height: 7.5vw;
  text-align: left;
  font-size: 6vw;
  font-weight: 300;
  margin-bottom: 2.5vw;
  background-image: url("/w/img/icon-check.png");
  background-size: 6vw;
  background-position: left .5vw; }

.icon-progress {
  background-image: url("/w/img/icon-progress.svg"); }

.icon-changes {
  background-image: url("/w/img/icon-changes.svg"); }

.icon-info {
  background-image: url("/w/img/icon-info.svg"); }

.icon-check {
  background-image: url("/w/img/icon-check.png"); }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize; }

.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

/** interface-micro-library
  * A jQuery tooltip/popover/modal plugin
  * Developed under the MIT license http://opensource.org/licenses/MIT
  * Designed for quick creation of interface elements
  **/
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .tooltip div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #666;
    color: #fff;
    font-size: 12px;
    max-width: 340px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default;
    padding: 10px 15px; }
    .tooltip div:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      border: 5px solid transparent;
      z-index: 11; }
  .tooltip.top div:after {
    left: 50%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom div:after {
    left: 50%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left div:after {
    bottom: 50%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right div:after {
    bottom: 50%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.top-right div:after {
    left: 90%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.top-left div:after {
    left: 10%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom-right div:after {
    left: 90%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.bottom-left div:after {
    left: 10%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left-top div:after {
    bottom: 65%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.left-bottom div:after {
    bottom: 35%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right-top div:after {
    bottom: 65%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.right-bottom div:after {
    bottom: 35%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.white div {
    background: #fff;
    color: #9a9a9a; }
  .tooltip.white.top div:after, .tooltip.white.top-right div:after, .tooltip.white.top-left div:after {
    border-top-color: #fff; }
  .tooltip.white.bottom div:after, .tooltip.white.bottom-right div:after, .tooltip.white.bottom-left div:after {
    border-bottom-color: #fff; }
  .tooltip.white.left div:after, .tooltip.white.left-top div:after, .tooltip.white.left-bottom div:after {
    border-left-color: #fff; }
  .tooltip.white.right div:after, .tooltip.white.right-top div:after, .tooltip.white.right-bottom div:after {
    border-right-color: #fff; }
  .tooltip.black div {
    background: rgba(0, 0, 0, 0.8); }
  .tooltip.black.top div:after, .tooltip.black.top-right div:after, .tooltip.black.top-left div:after {
    border-top-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.bottom div:after, .tooltip.black.bottom-right div:after, .tooltip.black.bottom-left div:after {
    border-bottom-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.left div:after, .tooltip.black.left-top div:after, .tooltip.black.left-bottom div:after {
    border-left-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.right div:after, .tooltip.black.right-top div:after, .tooltip.black.right-bottom div:after {
    border-right-color: rgba(0, 0, 0, 0.8); }
  .tooltip.error div {
    background: #f56969; }
  .tooltip.error.top div:after, .tooltip.error.top-right div:after, .tooltip.error.top-left div:after {
    border-top-color: #f56969; }
  .tooltip.error.bottom div:after, .tooltip.error.bottom-right div:after, .tooltip.error.bottom-left div:after {
    border-bottom-color: #f56969; }
  .tooltip.error.left div:after, .tooltip.error.left-top div:after, .tooltip.error.left-bottom div:after {
    border-left-color: #f56969; }
  .tooltip.error.right div:after, .tooltip.error.right-top div:after, .tooltip.error.right-bottom div:after {
    border-right-color: #f56969; }
  .tooltip.success div {
    background: #94C775; }
  .tooltip.success.top div:after, .tooltip.success.top-right div:after, .tooltip.success.top-left div:after {
    border-top-color: #94C775; }
  .tooltip.success.bottom div:after, .tooltip.success.bottom-right div:after, .tooltip.success.bottom-left div:after {
    border-bottom-color: #94C775; }
  .tooltip.success.left div:after, .tooltip.success.left-top div:after, .tooltip.success.left-bottom div:after {
    border-left-color: #94C775; }
  .tooltip.success.right div:after, .tooltip.success.right-top div:after, .tooltip.success.right-bottom div:after {
    border-right-color: #94C775; }
  .tooltip.smoke div {
    background: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.top div:after, .tooltip.smoke.top-right div:after, .tooltip.smoke.top-left div:after {
    border-top-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.bottom div:after, .tooltip.smoke.bottom-right div:after, .tooltip.smoke.bottom-left div:after {
    border-bottom-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.left div:after, .tooltip.smoke.left-top div:after, .tooltip.smoke.left-bottom div:after {
    border-left-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.right div:after, .tooltip.smoke.right-top div:after, .tooltip.smoke.right-bottom div:after {
    border-right-color: rgba(90, 103, 121, 0.95); }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .popover div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #444;
    color: #fff;
    font-size: 12px;
    max-width: 250px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default; }

.popover_title {
  border-radius: 3px 3px 0px 0px;
  padding: 5px 15px; }

.popover_content {
  border-radius: 0 0 3px 3px;
  padding: 5px 15px; }

.popover_content_s {
  border-radius: 3px;
  padding: 5px 15px; }


.popover div:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  z-index: 11; }
.popover.top div:after {
  left: 50%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom div:after {
  left: 50%;
  top: -11px;
  margin-left: -5px; }
.popover.left div:after {
  bottom: 50%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right div:after {
  bottom: 50%;
  left: -11px;
  margin-bottom: -5px; }
.popover.top-right div:after {
  left: 90%;
  bottom: -11px;
  margin-left: -5px; }
.popover.top-left div:after {
  left: 10%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom-right div:after {
  left: 90%;
  top: -11px;
  margin-left: -5px; }
.popover.bottom-left div:after {
  left: 10%;
  top: -11px;
  margin-left: -5px; }
.popover.left-top div:after {
  bottom: 75%;
  right: -11px;
  margin-bottom: -5px; }
.popover.left-bottom div:after {
  bottom: 25%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right-top div:after {
  bottom: 75%;
  left: -11px;
  margin-bottom: -5px; }
.popover.right-bottom div:after {
  bottom: 25%;
  left: -11px;
  margin-bottom: -5px; }
.popover.smoke div.popover_title {
  background: #666;
  border-bottom: 1px solid #666; }
.popover.smoke div.popover_content, .popover.smoke div.popover_content_s {
  background: rgba(90, 103, 121, 0.95); }
.popover.smoke.top div:after, .popover.smoke.top-right div:after, .popover.smoke.top-left div:after {
  border-top-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.bottom div:after, .popover.smoke.bottom-right div:after, .popover.smoke.bottom-left div:after {
  border-bottom-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.left div:after, .popover.smoke.left-top div:after, .popover.smoke.left-bottom div:after {
  border-left-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.right div:after, .popover.smoke.right-top div:after, .popover.smoke.right-bottom div:after {
  border-right-color: rgba(90, 103, 121, 0.95); }
.popover.error div.popover_title {
  background: #DC5E5E;
  border-bottom: 1px solid #DC5E5E; }
.popover.error div.popover_content, .popover.error div.popover_content_s {
  background: #f56969; }
.popover.error.top div:after, .popover.error.top-right div:after, .popover.error.top-left div:after {
  border-top-color: #f56969; }
.popover.error.bottom div:after, .popover.error.bottom-right div:after, .popover.error.bottom-left div:after {
  border-bottom-color: #f56969; }
.popover.error.left div:after, .popover.error.left-top div:after, .popover.error.left-bottom div:after {
  border-left-color: #f56969; }
.popover.error.right div:after, .popover.error.right-top div:after, .popover.error.right-bottom div:after {
  border-right-color: #f56969; }
.popover.success div.popover_title {
  background: #85B369;
  border-bottom: 1px solid #85B369; }
.popover.success div.popover_content, .popover.success div.popover_content_s {
  background: #94C775; }
.popover.success.top div:after, .popover.success.top-right div:after, .popover.success.top-left div:after {
  border-top-color: #94C775; }
.popover.success.bottom div:after, .popover.success.bottom-right div:after, .popover.success.bottom-left div:after {
  border-bottom-color: #94C775; }
.popover.success.left div:after, .popover.success.left-top div:after, .popover.success.left-bottom div:after {
  border-left-color: #94C775; }
.popover.success.right div:after, .popover.success.right-top div:after, .popover.success.right-bottom div:after {
  border-right-color: #94C775; }
.popover.black div.popover_title {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
.popover.black div.popover_content, .popover.black div.popover_content_s {
  background-color: rgba(20, 20, 20, 0.8); }
.popover.black.top div:after, .popover.black.top-right div:after, .popover.black.top-left div:after {
  border-top-color: rgba(20, 20, 20, 0.8); }
.popover.black.bottom div:after, .popover.black.bottom-right div:after, .popover.black.bottom-left div:after {
  border-bottom-color: rgba(20, 20, 20, 0.8); }
.popover.black.left div:after, .popover.black.left-top div:after, .popover.black.left-bottom div:after {
  border-left-color: rgba(20, 20, 20, 0.8); }
.popover.black.right div:after, .popover.black.right-top div:after, .popover.black.right-bottom div:after {
  border-right-color: rgba(20, 20, 20, 0.8); }
.popover.white div.popover_title {
  background: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  color: #9a9a9a; }
.popover.white div.popover_content, .popover.white div.popover_content_s {
  background-color: #fff;
  color: #9a9a9a; }
.popover.white.top div:after, .popover.white.top-right div:after, .popover.white.top-left div:after {
  border-top-color: #fff; }
.popover.white.bottom div:after, .popover.white.bottom-right div:after, .popover.white.bottom-left div:after {
  border-bottom-color: #fff; }
.popover.white.left div:after, .popover.white.left-top div:after, .popover.white.left-bottom div:after {
  border-left-color: #fff; }
.popover.white.right div:after, .popover.white.right-top div:after, .popover.white.right-bottom div:after {
  border-right-color: #fff; }

#background {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  display: none; }

.modal {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 13px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 3000;
  cursor: default; }

.modal_title {
  font-size: 15px;
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  margin: 10px 30px; }

.modal_content {
  padding: 10px 30px 0 30px; }

.modal .close {
  position: absolute;
  top: -50px;
  right: -50px;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  display: block;
  z-index: 5555;
  cursor: pointer; }

/* Salary Confirmation Form Styles
 *
 * Import this file using
 * @import "partials/salaryForm";
 */
#salary-confirmation {
  z-index: 100;
  height: 100%; }
  #salary-confirmation .intro h1 {
    font-size: 11.25vw; }
  #salary-confirmation h5 {
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 3vw;
    letter-spacing: .5vw; }
  #salary-confirmation label,
  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    display: block;
    width: 100%; }
  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    line-height: 60px;
    height: 60px;
    font-size: 32px;
    color: #9b9b9b;
    font-weight: 100;
    border: none;
    background: #fff;
    height: 19vw;
    font-size: 10vw;
    padding-left: 10vw;
    border-radius: 1.25vw;
    box-shadow: 0 1.75vw 0 0 rgba(0, 0, 0, 0.1); }
  #salary-confirmation select {
    padding-left: 6vw;
    padding-right: 16vw;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */ }
  #salary-confirmation select::-ms-expand {
    display: none; }
  #salary-confirmation .dropdown {
    background-image: url("/w/img/select-arrow.svg");
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-left: 0;
    z-index: 1; }
    #salary-confirmation .dropdown > select {
      background: transparent; }
  #salary-confirmation .currency-prefix {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    color: #9b9b9b;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 100;
    z-index: 1;
    font-size: 7vw;
    margin-top: 3vw;
    margin-left: 6vw; }
  #salary-confirmation button {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 45px;
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    width: 50%;
    margin: 30px auto;
    display: block;
    margin: 8vw auto;
    height: 14vw;
    line-height: 13vw;
    font-size: 4.5vw; }
    #salary-confirmation button:hover {
      color: #019EE3;
      background: #fff; }

    
/** Language Selector Styles **/

#languageSelect {
    opacity: .75;
    color: #fff;
    display: inline-block;
    margin:0px auto;

    left: 50%;
    transform: translate(-50%, 0);
    text-align:center;

    bottom:6vh;
    position:fixed;
    z-index: 100000;
    /*left:3vw;*/
}

#languageSelect:hover {
    opacity: 1;
    cursor: pointer;
}

#languageSelect .menu {
    text-align: left;
    font-size: 14px;
    padding: 5px;
    width: 120px;
    letter-spacing: 2px;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#languageSelect .menu .currentLanguage {
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,1);
}

#languageSelect .menu .currentLanguage span {
    background-image: url('/w/img/caret.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
    float: right;
    display: block;
    transform: rotate(0deg);
    transition: transform .25s;
}

#languageSelect.open .menu .currentLanguage span {
    transform: rotate(180deg);
    transition: transform .25s;
}

#languageSelect .menu .options {
    display:none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0);
}

#languageSelect .menu .options li {
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,.25);
    color:#fff;
}

#languageSelect .menu .options li:hover {
    background-color: rgba(255,255,255,.75);
    color: inherit;
}

#languageSelect .menu .options li.selected {
    display: none;
}

#show-fine-print {
  width: auto;
  max-width: 60vw;
  height: 6vh;
  right: 3vw;
  bottom: 1vw;
  text-align: right; }

/** Nav Styles
  *
  * Import this file using
  * @import "mobile/partials/nav";
  *
  */
.nav {
  position: fixed;
  bottom: 7%;
  width: 110%;
  height: 10vh;
  left: 0;
  z-index: 10; }
  .nav h5 {
    font-size: 11px;
    position: fixed;
    left: 0;
    bottom: 16vw;
    text-align: center;
    font-weight: 800;
    font-size: 3vw;
    width: 100%; }
  .nav #next-button,
  .nav #prev-button {
    height: 10vh;
    width: 10vh;
    position: fixed;
    left: 53%;
    bottom: auto; }
  .nav #next-button {
    transition: left 1s, bottom 1s; }
  .nav #prev-button {
    left: calc(47% - 10vh);
    transform: scaleX(-1); }
  .nav.lonely #next-button {
    left: 43%;
    bottom: 24vw; }
  .nav.lonely #prev-button {
    display: none !important; }
  .nav.hidden {
    display: none !important; }

/** Button Styles
  *
  * Import this file using
  * @import "mobile/modules/buttons";
  *
  */
button,
.button {
  border-radius: 4px;
  line-height: 50px;
  font-size: 24px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width: 45%;
  margin: 15px 1%;
  font-size: 5.5vw;
  line-height: 10vw;
  margin: 4vw auto; }
  button.color-primary,
  .button.color-primary {
    background: #fff; }
button:disabled {
    background: #dddddd;
	color:#AAA;
	border:2px solid #ddd;
}
.button {
  width: auto;
  padding: 10px 20px 13px;
  padding: 2vw 4vw 3vw; }

img.button {
  max-width: 70%;
  border: none; }

/** Forms & Input Styles
  *
  * Import this file using
  * @import "mobile/modules/forms";
  *
  */
select::-ms-expand {
  display: none; }

input::-ms-tooltip {
  display: none; }

input,
select {
  outline: none; }

.input-group {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 3vw auto; }
  .input-group input {
    width: 100%;
    border: 2px solid #fff;
    line-height: 40px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 18px;
    font-size: 6vw;
    line-height: 12vw;
    padding: 0 4vw;
    border-radius: 1.25vw; }
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-size: 5.5vw;
    margin-bottom: 2vw; }

input.input-error {
  border: solid 2px #ff0000 !important; }

.input-error-message {
  font-size: 5vw;
  letter-spacing: .25vw;
  margin: 3vw 0 5vw;
  display: none; }
  .input-error-message::before {
    content: "!";
    padding: 0vw 2vw;
    background-color: #ff0000;
    border-radius: 100%;
    margin-right: 2vw;
    font-weight: bold; }

/** Figure Styles
  *
  * Import this file using
  * @import "mobile/modules/figures";
  *
  */
.figure {
  font-size: 13vw; }
  .figure sup {
    font-size: 7vw;
    padding: 10px 4px 0 0; }
  .figure sub {
    font-size: 5.5vw;
    vertical-align: baseline;
    font-weight: 300;
    letter-spacing: normal;
    padding-left: 10px;
    display: inline-block; }
    .figure sub.split {
      vertical-align: top;
      padding-right: 15px; }

.es #powerview .figure sub {
  font-size: 5vw; }

/** Confirmation & CTA Slide Styles
  *
  * Import this file using
  * @import "mobile/modules/cta";
  *
  */
.cta {
  text-align: center; }
  .cta.left :not(button) {
    text-align: left; }
  .cta h2 {
    font-weight: 700;
    font-size: 9vw;
    line-height: 9.5vw; }
  .cta h3 {
    font-size: 6vw; }
  .cta ul {
    font-size: 18px;
    font-size: 5.5vw;
    font-weight: 300;
    margin: 3vw 0 0;
    padding-left: 25px;
    padding-left: 6.5vw; }
  .cta li {
    margin-bottom: 3vw; }
  .cta img.button {
    margin: 0 auto;
    display: block; }

.confirmation {
  text-align: center;
  display: none; }
  .confirmation h1 {
    margin-bottom: 30px;
    margin-bottom: 5vw; }
  .confirmation h2 {
    margin-bottom: 10px;
    margin-bottom: 4vw; }
  .confirmation h3 {
    margin-bottom: 20px;
    margin-bottom: 2vw;
    font-size: 6.5vw; }
  .confirmation h5 {
    margin-top: 5vw; }
  .confirmation.cta h3 {
    font-size: 4.5vw; }
  .confirmation.allocate-contribution h2 {
    text-align: left; }
  .confirmation.allocate-contribution .allocate-val {
    width: 49%;
    display: inline-block;
    margin: 3vh auto;
    text-align: left; }
    .confirmation.allocate-contribution .allocate-val#allocate_roth {
      text-align: right; }
    .confirmation.allocate-contribution .allocate-val h5 {
      margin: 1vh; }
      .confirmation.allocate-contribution .allocate-val h5 > i {
        padding: .75vh 1.5vh; }
    .confirmation.allocate-contribution .allocate-val h1 {
      font-weight: 300;
      font-size: 9vw; }

.es #redirect .cta h2 {
  font-size: 8vw; }

.allocate_confirm p {
  font-size: 3vh;
  line-height: 4.5vh; }
.allocate_confirm h3 {
  background: #fff;
  border-radius: .4vw;
  padding: 3vh;
  margin: 4vh 0; }
.allocate_confirm .checkbox {
  width: 3.5vh;
  height: 3.5vh;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  margin-right: 1.5vh;
  margin-bottom: .25vh; }
  .allocate_confirm .checkbox label {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    border: 1px solid #979797;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .allocate_confirm .checkbox > input {
    opacity: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 11;
    position: absolute;
    left: -3px;
    top: -3px; }
  .allocate_confirm .checkbox > input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    width: 4.5vh;
    height: 4.5vh;
    left: .5vh;
    bottom: -.75vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/w/img/input-checkmark.svg"); }


/** Common Messaging & Screen Styles (loading, error, etc.)
  *
  * Import this file using
  * @import "modules/alerts";
  *
  */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  height: 16vw;
  width: 16vw; }
  #spinner img {
    height: 100%;
    width: auto;
    animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear; }

#loading,
#error-message,
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000; }

.message-container {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: transparent;
  text-align: center; }
  .message-container button {
    margin: 2vw auto;
    font-size: 5vw; }

#error-message p {
  font-size: 5vw;
  font-weight: 300; }

#loading img {
  width: 15vw;
  height: auto;
  animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear; }

#fine-print {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  position: fixed;
  z-index: 2000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(-138deg, #019EE3 17%, #84D9FF 100%); }
  #fine-print p {
    font-size: 18px; }
  #fine-print button {
    display: block;
    width: 50%;
    margin: 5vh auto; }

#show-fine-print {
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .3vw;
  z-index: 10000;
  height: 6vh; }

.tooltip div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #666;
  color: #fff;
  font-size: 2.5vw;
  max-width: 30vh;
  padding: 1vh 1.55vh;
  border-radius: 4px; }
  .tooltip div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 1.75vh solid transparent;
    z-index: 11; }
.tooltip.top div:after, .tooltip.top-right div:after, .tooltip.top-left div:after {
  left: 50%;
  bottom: -3vh;
  margin-left: -1.75vh; }
.tooltip.top-left {
  margin-left: -1.5vh; }
  .tooltip.top-left div:after {
    left: 10%; }
.tooltip.top-right {
  margin-left: 1.5vh; }
  .tooltip.top-right div:after {
    left: 90%; }

.noUi-target {
  background: #fff;
  box-shadow: none;
  border: 0.05vw solid #fff;
  height: 2.55vh;
  border-radius: 0;
  margin: 0 auto 8vh;
  width: 90%; }
  .noUi-target:before, .noUi-target:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: 2.55vh;
    height: 2.55vh;
    top: -0.25vh; }
  .noUi-target:before {
    left: -2.55vh;
    border-radius: 2.55vw 0 0 2.55vw; }
  .noUi-target:after {
    right: -2.55vh;
    border-radius: 0 2.55vw 2.55vw 0; }

.noUi-handle {
  background-image: url("/w/img/slider-handle.svg");
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.noUi-horizontal .noUi-handle {
  width: 3.5vh;
  height: 7vh;
  top: -1vh;
  left: -2.75vw; }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    display: none; }

.noUi-pips {
  color: #fff; }
  .noUi-pips.noUi-pips-horizontal {
    padding: 0;
    height: 3.5vh;
    top: -1vw; }

.noUi-value {
  display: none; }

.noUi-marker {
  background: #fff; }
  .noUi-marker.noUi-marker-horizontal {
    margin-left: -.05vw;
    border-left: 0.1vw solid #fff;
    width: 0;
    height: 1vh;
    top: 0; }
    .noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
      border-color: #fff;
      opacity: .5; }
    .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
      border-color: #fff;
      border-width: .18vw;
      margin-left: -.09vw;
      height: 2vh;
      top: -1vh; }

/** Media Queries
  *
  * Import this file using
  * @import "mobile/partials/mediaqueries";
  *
  */
/* Tablets */
@media screen and (min-width: 750px) {
  .logo {
    height: 60px; }

  .close {
    font-size: 2.75vw;
    line-height: 4vw;
    padding-right: 6vw; }

  #show-fine-print,
  #languageSelect .menu .currentLanguage,
  #languageSelect .menu .options li {
    font-size: 16px; }

  #salary-confirmation input, #salary-confirmation select, #salary-confirmation .dropdown {
    line-height: 100px;
    height: 100px;
    font-size: 60px; }

  #salary-confirmation .currency-prefix {
    margin-top: 1vw; }

  button, .button {
    font-size: 24px !important;
    line-height: 60px !important;
    border-radius: 10px;
    border-width: 4px;
    height: 80px !important; }

  #salary-confirmation button {
    margin-bottom: 40px; }

  h1 {
    font-size: 9vw;
    line-height: 8.25vw; }

  h2 {
    font-size: 6vw; }

  h5 {
    font-size: 2.5vw;
    margin-top: 4vw; }

  .nav h5 {
    font-size: 2.5vw;
    margin-top: 3vw; }

  p {
    font-size: 5.5vw;
    line-height: 6.25vw; }

  .input-error-message {
    margin: 0;
    margin-top: 3vw;
    font-size: 3vw; }

  .input-error-message::before {
    padding: .25vw 1.5vw; } }
#fine-print,
#rotate,
#loading, #error-message, .overlay, #spinner {
  display: none; }

@media screen and (min-height: 560px) {
  small.sms-rates {
    font-size: 3vw; } }
/* Tablets & Smaller */
@media screen and (max-height: 719px) {
  .confirmation .cta h3 {
    font-size: 3.75vw; }
  .confirmation .cta small.sms-rates {
    margin-top: 0; }

  .container {
    height: 85%;
    top: 15%; } }
/* iPhone 6 (S) */
/* iPhone 5 (C/S/SE) */
@media screen and (max-height: 460px) {
  .container {
    /* max-height: 368px; */ }

  h5.label {
    margin-top: 15px; } }
/* iPhone 4 */
@media screen and (max-height: 372px) {
  .container {
    /* max-height: 296px; */ }

  h1 {
    font-size: 28px; }

  h2 {
    font-size: 24px; }

  h5 {
    margin-top: 15px; }

  h5.label {
    margin-top: 10px; }

  p {
    font-size: 20px;
    margin: 10px 0; }

  .nav {
    bottom: 3%;
    height: 30px; }

  .nav h5 {
    margin-top: 5px;
    font-size: 10.5px; }

  #salary-confirmation h5 {
    margin-top: 15px; }

  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    line-height: 45px;
    height: 45px;
    font-size: 25px; }

  #salary-confirmation .currency-prefix {
    font-size: 16px;
    margin-left: 14px;
    margin-top: 7px; }

  #salary-confirmation button {
    margin: 20px auto; }

  .confirmation h3 {
    margin-bottom: 10px;
    font-size: 20px; }

  .confirmation h2 {
    margin-bottom: 10px; }

  .input-group {
    margin: 7px auto; }

  .input-group input {
    font-size: 18px;
    line-height: 34px; }

  .cta ul {
    padding-left: 30px; } }
@media screen and (min-aspect-ratio: 13 / 9) {
  #rotate {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10000; } }
@media screen and (min-width: 415px) and (min-aspect-ratio: 4 / 3) {
  #rotate {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10000; } }

/* --- OffTheBench/Roth CTAs --- */

.widget-title {
    font-weight: bold;
    font-size: 11vw;
    line-height:100%;
    margin-bottom:3vw;
}
.widget-title-small {
    font-weight: bold;
    font-size: 7vw;
    line-height:100%;
    margin-bottom:3vw;
}
.widget-text {
    font-weight: 300;
    font-size: 7.5vw;
    line-height: 100%;
    margin-bottom:3vw;
}

.widget-text-top {
    margin-bottom:10vw;
}

.widget-text-small {
    font-weight:300;
    font-size:5vw;
    line-height: 100%;
    margin-bottom:3vw;
}

.widget-text-increase {
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-weight: bold;
}


#contributionDisplay {
    font-weight:300;
    font-size:8vw;
    margin-bottom: 4vw;
}
#projectedMonthlyIncomeMax {
    font-weight: bold;
    font-size: 11vw;
    margin-bottom:6vw;
}

/* --- Overrides --- */

#ctaContent .noUi-target {
    margin:3vw auto 10vw;
    max-width:80%;
    border-width:0;
}
#ctaContent .noUi-target:before {
    left:auto;
    right:100%;
    top:0;
}
#ctaContent .noUi-target:after {
    left:100%;
    right:auto;
    top:0;
}

#ctaContent button, #ctaContent .button {
    display: block;
    width: 50vw;
    border-radius: 10px;
    padding:4vw 4vw;
    line-height:110%;
}

#ctaContent .noUi-pips {
    display: none; 
}

#ctaContent > article.select-contribution .widget-title {margin-bottom:6vw;}
#ctaContent > .confirmation.allocate-contribution h2 {text-align:center;}
#ctaContent > .confirmation.allocate-contribution .allocate-val h1 {font-size:6.5vw;margin-bottom:0;}
#ctaContent > .confirmation.allocate-contribution .allocate-val{margin:0 auto;}
#ctaContent > .allocate_confirm .checkbox label{background: white;border-style: none;box-shadow: none;}
#ctaContent > .allocate_confirm .checkbox{margin-bottom:0;top:3vw;}
#ctaContent > .confirmation.cta .widget-text-small {font-size:4vw;margin-bottom:1vw;}
#ctaContent > .confirmation.cta .input-group label{font-size:4vw;}
#ctaContent > .confirmation.cta .input-group {margin:1vw auto;}
#ctaContent > .confirmation.allocate_confirm .widget-text-small {font-size:4.5vw;}

#ctaContent .confirmation{display:block;}

#show-fine-print {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    text-align:center;
}