/** Slider Styles
  * In this file you should write your main styles. (or centralize your imports)
  * Import this file using the following HTML or equivalent:
  * <link href="w/css/slider.css" media="screen" rel="stylesheet" type="text/css" />
  */
/** Base Styles
  *
  * Inlude your style variables here that will be reused throughout the widget(s).
  *
  * Import this file using
  * @import "partials/base";
  *
  */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize; }

.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

/** interface-micro-library
  * A jQuery tooltip/popover/modal plugin
  * Developed under the MIT license http://opensource.org/licenses/MIT
  * Designed for quick creation of interface elements
  **/
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .tooltip div {
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #666;
    color: #fff;
    font-size: 12px;
    max-width: 340px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default;
    padding: 10px 15px; }
    .tooltip div:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      border: 5px solid transparent;
      z-index: 11; }
  .tooltip.top div:after {
    left: 50%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom div:after {
    left: 50%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left div:after {
    bottom: 50%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right div:after {
    bottom: 50%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.top-right div:after {
    left: 90%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.top-left div:after {
    left: 10%;
    bottom: -11px;
    margin-left: -5px; }
  .tooltip.bottom-right div:after {
    left: 90%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.bottom-left div:after {
    left: 10%;
    top: -11px;
    margin-left: -5px; }
  .tooltip.left-top div:after {
    bottom: 65%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.left-bottom div:after {
    bottom: 35%;
    right: -11px;
    margin-bottom: -5px; }
  .tooltip.right-top div:after {
    bottom: 65%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.right-bottom div:after {
    bottom: 35%;
    left: -11px;
    margin-bottom: -5px; }
  .tooltip.white div {
    background: #fff;
    color: #9a9a9a; }
  .tooltip.white.top div:after, .tooltip.white.top-right div:after, .tooltip.white.top-left div:after {
    border-top-color: #fff; }
  .tooltip.white.bottom div:after, .tooltip.white.bottom-right div:after, .tooltip.white.bottom-left div:after {
    border-bottom-color: #fff; }
  .tooltip.white.left div:after, .tooltip.white.left-top div:after, .tooltip.white.left-bottom div:after {
    border-left-color: #fff; }
  .tooltip.white.right div:after, .tooltip.white.right-top div:after, .tooltip.white.right-bottom div:after {
    border-right-color: #fff; }
  .tooltip.black div {
    background: rgba(0, 0, 0, 0.8); }
  .tooltip.black.top div:after, .tooltip.black.top-right div:after, .tooltip.black.top-left div:after {
    border-top-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.bottom div:after, .tooltip.black.bottom-right div:after, .tooltip.black.bottom-left div:after {
    border-bottom-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.left div:after, .tooltip.black.left-top div:after, .tooltip.black.left-bottom div:after {
    border-left-color: rgba(0, 0, 0, 0.8); }
  .tooltip.black.right div:after, .tooltip.black.right-top div:after, .tooltip.black.right-bottom div:after {
    border-right-color: rgba(0, 0, 0, 0.8); }
  .tooltip.error div {
    background: #f56969; }
  .tooltip.error.top div:after, .tooltip.error.top-right div:after, .tooltip.error.top-left div:after {
    border-top-color: #f56969; }
  .tooltip.error.bottom div:after, .tooltip.error.bottom-right div:after, .tooltip.error.bottom-left div:after {
    border-bottom-color: #f56969; }
  .tooltip.error.left div:after, .tooltip.error.left-top div:after, .tooltip.error.left-bottom div:after {
    border-left-color: #f56969; }
  .tooltip.error.right div:after, .tooltip.error.right-top div:after, .tooltip.error.right-bottom div:after {
    border-right-color: #f56969; }
  .tooltip.success div {
    background: #94C775; }
  .tooltip.success.top div:after, .tooltip.success.top-right div:after, .tooltip.success.top-left div:after {
    border-top-color: #94C775; }
  .tooltip.success.bottom div:after, .tooltip.success.bottom-right div:after, .tooltip.success.bottom-left div:after {
    border-bottom-color: #94C775; }
  .tooltip.success.left div:after, .tooltip.success.left-top div:after, .tooltip.success.left-bottom div:after {
    border-left-color: #94C775; }
  .tooltip.success.right div:after, .tooltip.success.right-top div:after, .tooltip.success.right-bottom div:after {
    border-right-color: #94C775; }
  .tooltip.smoke div {
    background: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.top div:after, .tooltip.smoke.top-right div:after, .tooltip.smoke.top-left div:after {
    border-top-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.bottom div:after, .tooltip.smoke.bottom-right div:after, .tooltip.smoke.bottom-left div:after {
    border-bottom-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.left div:after, .tooltip.smoke.left-top div:after, .tooltip.smoke.left-bottom div:after {
    border-left-color: rgba(90, 103, 121, 0.95); }
  .tooltip.smoke.right div:after, .tooltip.smoke.right-top div:after, .tooltip.smoke.right-bottom div:after {
    border-right-color: rgba(90, 103, 121, 0.95); }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  z-index: 999; }
  .popover div {
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #444;
    color: #fff;
    font-size: 12px;
    max-width: 250px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default; }

.popover_title {
  border-radius: 3px 3px 0px 0px;
  padding: 5px 15px; }

.popover_content {
  border-radius: 0 0 3px 3px;
  padding: 5px 15px; }

.popover_content_s {
  border-radius: 3px;
  padding: 5px 15px; }

.popover div:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  z-index: 11; }
.popover.top div:after {
  left: 50%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom div:after {
  left: 50%;
  top: -11px;
  margin-left: -5px; }
.popover.left div:after {
  bottom: 50%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right div:after {
  bottom: 50%;
  left: -11px;
  margin-bottom: -5px; }
.popover.top-right div:after {
  left: 90%;
  bottom: -11px;
  margin-left: -5px; }
.popover.top-left div:after {
  left: 10%;
  bottom: -11px;
  margin-left: -5px; }
.popover.bottom-right div:after {
  left: 90%;
  top: -11px;
  margin-left: -5px; }
.popover.bottom-left div:after {
  left: 10%;
  top: -11px;
  margin-left: -5px; }
.popover.left-top div:after {
  bottom: 75%;
  right: -11px;
  margin-bottom: -5px; }
.popover.left-bottom div:after {
  bottom: 25%;
  right: -11px;
  margin-bottom: -5px; }
.popover.right-top div:after {
  bottom: 75%;
  left: -11px;
  margin-bottom: -5px; }
.popover.right-bottom div:after {
  bottom: 25%;
  left: -11px;
  margin-bottom: -5px; }
.popover.smoke div.popover_title {
  background: #666;
  border-bottom: 1px solid #666; }
.popover.smoke div.popover_content, .popover.smoke div.popover_content_s {
  background: rgba(90, 103, 121, 0.95); }
.popover.smoke.top div:after, .popover.smoke.top-right div:after, .popover.smoke.top-left div:after {
  border-top-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.bottom div:after, .popover.smoke.bottom-right div:after, .popover.smoke.bottom-left div:after {
  border-bottom-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.left div:after, .popover.smoke.left-top div:after, .popover.smoke.left-bottom div:after {
  border-left-color: rgba(90, 103, 121, 0.95); }
.popover.smoke.right div:after, .popover.smoke.right-top div:after, .popover.smoke.right-bottom div:after {
  border-right-color: rgba(90, 103, 121, 0.95); }
.popover.error div.popover_title {
  background: #DC5E5E;
  border-bottom: 1px solid #DC5E5E; }
.popover.error div.popover_content, .popover.error div.popover_content_s {
  background: #f56969; }
.popover.error.top div:after, .popover.error.top-right div:after, .popover.error.top-left div:after {
  border-top-color: #f56969; }
.popover.error.bottom div:after, .popover.error.bottom-right div:after, .popover.error.bottom-left div:after {
  border-bottom-color: #f56969; }
.popover.error.left div:after, .popover.error.left-top div:after, .popover.error.left-bottom div:after {
  border-left-color: #f56969; }
.popover.error.right div:after, .popover.error.right-top div:after, .popover.error.right-bottom div:after {
  border-right-color: #f56969; }
.popover.success div.popover_title {
  background: #85B369;
  border-bottom: 1px solid #85B369; }
.popover.success div.popover_content, .popover.success div.popover_content_s {
  background: #94C775; }
.popover.success.top div:after, .popover.success.top-right div:after, .popover.success.top-left div:after {
  border-top-color: #94C775; }
.popover.success.bottom div:after, .popover.success.bottom-right div:after, .popover.success.bottom-left div:after {
  border-bottom-color: #94C775; }
.popover.success.left div:after, .popover.success.left-top div:after, .popover.success.left-bottom div:after {
  border-left-color: #94C775; }
.popover.success.right div:after, .popover.success.right-top div:after, .popover.success.right-bottom div:after {
  border-right-color: #94C775; }
.popover.black div.popover_title {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
.popover.black div.popover_content, .popover.black div.popover_content_s {
  background-color: rgba(20, 20, 20, 0.8); }
.popover.black.top div:after, .popover.black.top-right div:after, .popover.black.top-left div:after {
  border-top-color: rgba(20, 20, 20, 0.8); }
.popover.black.bottom div:after, .popover.black.bottom-right div:after, .popover.black.bottom-left div:after {
  border-bottom-color: rgba(20, 20, 20, 0.8); }
.popover.black.left div:after, .popover.black.left-top div:after, .popover.black.left-bottom div:after {
  border-left-color: rgba(20, 20, 20, 0.8); }
.popover.black.right div:after, .popover.black.right-top div:after, .popover.black.right-bottom div:after {
  border-right-color: rgba(20, 20, 20, 0.8); }
.popover.white div.popover_title {
  background: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  color: #9a9a9a; }
.popover.white div.popover_content, .popover.white div.popover_content_s {
  background-color: #fff;
  color: #9a9a9a; }
.popover.white.top div:after, .popover.white.top-right div:after, .popover.white.top-left div:after {
  border-top-color: #fff; }
.popover.white.bottom div:after, .popover.white.bottom-right div:after, .popover.white.bottom-left div:after {
  border-bottom-color: #fff; }
.popover.white.left div:after, .popover.white.left-top div:after, .popover.white.left-bottom div:after {
  border-left-color: #fff; }
.popover.white.right div:after, .popover.white.right-top div:after, .popover.white.right-bottom div:after {
  border-right-color: #fff; }

#background {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  display: none; }

.modal {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 13px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 3000;
  cursor: default; }

.modal_title {
  font-size: 15px;
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  margin: 10px 30px; }

.modal_content {
  padding: 10px 30px 0 30px; }

.modal .close {
  position: absolute;
  top: -50px;
  right: -50px;
  color: #fff;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  display: block;
  z-index: 5555;
  cursor: pointer; }

.tooltip div {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #666;
  color: #fff;
  font-size: 1.1vw;
  max-width: 20vw;
  padding: 1vw 1.55vw;
  border-radius: 0.4vw; }
  .tooltip div:after {
    content: '';
    position: absolute;
    width: .15vw;
    height: .15vw;
    border: .5vw solid transparent;
    z-index: 11; }
.tooltip.top div:after {
  left: 50%;
  bottom: -1vw;
  margin-left: -.5vw; }

.noUi-target {
  background: #9a9a9a;
  box-shadow: none;
  border: 0px solid #9a9a9a;
  height: 1.55vw;
  border-radius: 0; }
  .noUi-target:before, .noUi-target:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: 1.55vw;
    height: 1.55vw;
    top: 0px; }
  .noUi-target:before {
    left: -1vw;
    border-radius: 1.55vw 0 0 1.55vw; }
  .noUi-target:after {
    right: -1vw;
    border-radius: 0 1.55vw 1.55vw 0; }

.noUi-handle {
  background-image: url("/w/img/slider-handle-alt.svg");
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.noUi-horizontal .noUi-handle {
  width: 2vw;
  height: 4vw;
  top: -.5vw;
  left: -1.65vw; }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    display: none; }

.noUi-pips {
  color: #9a9a9a; }
  .noUi-pips.noUi-pips-horizontal {
    padding: 0;
    height: 2.5vw;
    top: -1vw; }

.noUi-value {
  display: none; }

.noUi-marker.noUi-marker-horizontal {
  margin-left: -.05vw;
  border-left: 0.1vw solid #9a9a9a;
  border-color: #9a9a9a;
  width: 0;
  height: 1vw;
  top: 0; }
  .noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
    border-color: inherit;
    opacity: .5;
    height: .45vw;
    top: .5vw; }
  .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    border-color: inherit;
    border-width: .18vw;
    margin-left: -.09vw; }

#allocate #slider {
  margin: 5vw auto 3vw;
  width: 90%;
  height: 8vw; }
  #allocate #slider .allocate-val {
    display: inline-block;
    width: 19%;
    text-align: center; }
    #allocate #slider .allocate-val > h5 {
      margin-bottom: .5vw;
      margin-top: 0;
      text-align: center;
      color: #9b9b9b;
      line-height: .25; }
      #allocate #slider .allocate-val > h5 > .icon-info {
        padding-left: 1.8vw;
        cursor: pointer;
        position: relative;
        bottom: -1.1vw;
        opacity: .75; }
        #allocate #slider .allocate-val > h5 > .icon-info:hover {
          opacity: 1; }
    #allocate #slider .allocate-val > h1 {
      font-weight: 100;
      font-size: 3.25vw;
      font-family: "montserrat-thin", "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #allocate #slider #allocate_pretax {
    float: left; }
  #allocate #slider #allocate_roth {
    float: right; }
    #allocate #slider #allocate_roth > h5 > .icon-info {
      margin-right: .75vw; }
  #allocate #slider #allocate_slider {
    width: 50%;
    display: inline-block;
    margin: 4vw; }

.es #allocate #allocate_pretax h5 > i.icon-info {
  margin-right: -2vw; }

/*# sourceMappingURL=slider.css.map */
