<script>
$( document ).ready(function() 
{
    $("#stats").hide();
    {% if emailed %}
    processStats();    
    {% endif %}
});    
function processStats()
{
    var querystring = "startDate=" + $("#greaterthan_graph").val() + "&endDate=" + $("#lessthan_graph").val() +"&userid={{ session.manageUserid}}";
    var page = "{{ path('_manage_vads_stats') }}";
    $.post(page, querystring).done(function(data) 
    {
        $("#ajaxGraphContent").html(data);
        
    });
}
function exportpdf()
{
    var exportUrl = '{{ httpmethod }}export.highcharts.com/';
    var data = setPngData(graph1String);
    $.post(exportUrl, data, function(data) 
    {
        window.location = "{{ path('_manage_vads_exporttopdf') }}?graph1=" + exportUrl + data;
    });
}
</script>
