{% set pagename = "Video Library" %}
{% set previewpath = path('_settings_MediaWidget_preview') %}
{% set savelistpath = path('_settings_MediaWidget_saveMediaList') %}
{% set togglemediapath = path('_settings_MediaWidget_togglemedia') %}
{% set statsjsfile = "AccountAccountBundle:MediaWidget:statsjs.html.twig" %}
{% set graphsfile = "AccountAccountBundle:MediaWidget:graphs.html.twig" %}
{% set endstring = '"?partnerid=' ~ account.partnerid ~ '&participantid=' ~ session.clientid ~ '&key=" + $("#apiKey").val() + "&format=" + $("#format").val();' %}
{% extends "Shared/Media/index.html.twig" %}



