

            
            <script defer type="text/javascript" src="https://videolib.smartplanenterprise.com/vWidget.js?partnerid={{ partnerid }}&participantid={{ participantid }}&key={{ key }}&format=0" id="videoLib"></script>
  