
<div id = "stats" style = "display:block">
    <div class="col-md-12 ranges form-inline pager" >
	{% if session.roleType == "vwise_admin" or session.roleType == "vwise" %}
        <select id = "keypicker" class = "form-control">
            {% for api in APIAccounts %}
            <option value ="{{ api.apiKey }}">{{ api.userid }} - {{ api.partnerid }} - {{ api.apiKey }}</option>
            {% endfor %}
        </select>
        
        {% endif %}        

        
        <button type = "button" class ="btn btn-primary" onclick = "exportpdf()">Export to Pdf</button>
        <input type = "text" placeholder = "Starting Date" class = "form-control profiles_input" id = "greaterthan_graph" {% if startDate is not null %}value="{{ startDate }}"{% endif %} /> 
        <input type = "text" class = "form-control profiles_input" id= "lessthan_graph" placeholder = "Ending Date" {% if endDate is not null %}value="{{ endDate }}"{% endif %} /> 
        <button type = "button" class = "btn btn-success" id = "statsDateButton">Submit</button>
        
        <div id ="exportLoader" style = "display:none"><br/><img src = "{{ asset('images/load-icon.gif') }}" /></div>
        <br/><br/>
       {{ render(controller('TemplatesTemplatesBundle:AdminTemplate:subscribePanel', {'section': 'VideoLibrary'})) }}

    </div>
        
    <div id = "ajaxGraphContent">
	{% include "AccountAccountBundle:MediaWidget:graphs.html.twig" %}
    </div>
</div>
  
        
<script>
var partnerIdGraph ;
var planProviderGraph;
var videoPlayedGraph;
var partnerIdGraphOptions;
var planProviderGraphOptions;
var videoPlayedGraphOptions;
var partnerIdGraphUrl;
var planProviderGraphUrl;
var videoPlayedGraphUrl;
var exportCounterDatatables1 = {value: 0 };
var exportDatatables1 ={ value: "<tr>{{ header | raw}}</tr>" };
var exportCounterDatatables2 = {value: 0 };
var exportDatatables2 ={ value: "<tr>{{ header2 | raw }}</tr>" };
var exportDatatablesOrg1 = { value: "<tr>{{ header | raw}}</tr>" };
var exportDatatablesOrg2 = { value: "<tr>{{ header2 | raw }}</tr>" };
var mostPopularTable;
$( document ).ready(function() 
{
    $("#stats").hide();
    {% if emailed %}
    processStats();    
    {% endif %}
});




function generatetablehtml(counter,data,totalfields,table)
{
    var rows = table.fnGetNodes();
    var i = 0;
    for (orgcounter = counter.value;  (counter.value < rows.length && counter.value < (orgcounter + 10)); counter.value++)
    {
      data.value = data.value + "<tr>";  
      for (j = 0; j < totalfields; j++)
      {
          data.value = data.value + "<td>" + $(rows[counter.value]).find("td:eq(" + j + ")").html() + "</td>";
      }
      data.value = data.value + "</tr>";  
    }
}
function saveTableData(name,data)
{ 
  var page = "{{ path('_settings_MediaWidget_buildTableData') }}";
  var querystring = "name=" + name + "&data=" + data.value;
  $.post(page, querystring).done(function(value) 
  {
      data.value = "";
      exportpdf();
  });
}

function processStats()
{
    var querystring = "startDate=" + $("#greaterthan_graph").val() + "&endDate=" + $("#lessthan_graph").val();
    {% if session.roleType == "vwise_admin" or session.roleType == "vwise" %}
    if ($("#keypicker").val() != "")
    querystring = querystring + "&key=" + $("#keypicker").val();        
    {% endif %}
    var page = "{{ path('_settings_MediaWidget_getStats') }}";
    var valid = 1;
    if ($("#greaterthan_graph").val() > $("#lessthan_graph").val())
    {
            modalMessage("Starting Time cannot be greater than ending Time");
            valid = 0;
    }
    if (valid)
    $.post(page, querystring).done(function(data) 
    {
        $("#ajaxGraphContent").html(data);
        {% if emailed %}
        exportpdf()
        {% endif %}
    });
}

function exportpdf()
{
    $("#exportLoader").show();
    var rows = videoLibStatsTable.fnGetNodes();
    if (exportCounterDatatables1.value < rows.length)
    {   
        generatetablehtml(exportCounterDatatables1,exportDatatables1,8,videoLibStatsTable);
        saveTableData("mediaWidget1",exportDatatables1);
        return 0;
    }
    else
    {
        var rows = mostPopularTable.fnGetNodes();
        if (exportCounterDatatables2.value < rows.length)
        {
            generatetablehtml(exportCounterDatatables2,exportDatatables2,4,mostPopularTable);
            saveTableData("mediaWidget2",exportDatatables2);
            return 0;
        }
        else
        {
            exportDatatables1.value = exportDatatablesOrg1.value;
            exportDatatables2.value = exportDatatablesOrg2.value;
            exportCounterDatatables2 = {value: 0 };
            exportCounterDatatables1 = {value: 0 };
            var data = setPngData(partnerIdGraphString);
            
            var exportUrl = '{{ httpmethod }}export.highcharts.com/';
            
            $.post(exportUrl, data, function(data) 
            {
                
                 partnerIdGraphUrl = exportUrl + data;
                 data = setPngData(planProviderGraphString);
                 $.post(exportUrl, data, function(data) 
                 {
                    planProviderGraphUrl = exportUrl + data;
                    data = setPngData(videoPlayedGraphString);
                    $.post(exportUrl, data, function(data) 
                    { 
                        videoPlayedGraphUrl = exportUrl + data;	
                        {% if emailed %}   
                        var path = "{{path('_settings_MediaWidget_exporttopdf')}}?emailed=email&";
                        {% else %}
                        var path = "{{path('_settings_MediaWidget_exporttopdf')}}?";
                        {% endif %}
                        //alert(path);
                        
                        window.location = path + 'partnerIdGraph=' + partnerIdGraphUrl + "&planProviderGraph=" + planProviderGraphUrl +"&videoPlayedGraph=" + videoPlayedGraphUrl + "&startDate=" + $("#greaterthan_graph").val() + "&endDate=" 
                                + $("#lessthan_graph").val(){% if session.roleType == "vwise_admin" or session.roleType == "vwise" %} + "&key="  + $("#keypicker").val() {% endif %};
                        
                        $("#exportLoader").hide();
                    });       
                 });
            });
        } 
    }
    
}
</script>