
		
	
	<table class="table">
		<tr class="active">
			<td>
				Name
			</td>
			<td>
				Types
			</td>
		</tr>
		<tr>
			<td>
				<input value = "" placeholder = "Enter Role Name" id = "rolename" class = "form-control"  />
			</td>
			<td>
				
				{% for role in roleTypes %}
				<input type = "checkbox" value = "{{ role.type }}" name = "roleTypes" />{{ role.type }}<br/>
				{% endfor %}
				
			
			</td>
		</tr>
		<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-info" onclick = "addrole()">Add</button>
		</td>
		</tr>
	</table>

	









