
<table class="table">
	<tr class="active">
		<td>
			Name
		</td>

	</tr>
	<tr>
		<td>
			{{ role.name }}
		</td>
		
	</tr>
	<tr>
	<td colspan = "2">
	<button type="button" class="btn btn-danger" onclick = "deleterole({{ role.id }})">Delete</button>
	</td>
	</tr>
</table>

	









