{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Roles'})) }}

	
		
<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_add_role') }}','Add Role')">Add Role</button>
<br/><br/>
		

{% set table = "accountsRoles" %}
{% set tablename = "accountsRoles" %}
{% set template = "ManageManageBundle:Roles:Search/rolelist.html.twig" %}
{% set header = "<th>Id</td><td>Name</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.name,a.type" %}
{% set unsearchableArray = [2] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}


{{ include('ManageManageBundle:Roles:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
            
            
            

          









           


    





