
<h3>{{ roleField[key]['description'] }} {% if roleField[key]['description2'] is defined %}<small>{{ roleField[key]['description2'] }}</small>{% endif %}</h3>

<div class="row">
      <div class="col-md-4">None <input type = "radio" name = "{{ key }}" value = "none" {% if roleField[key]['none'] is defined %} {{ roleField[key]['none'] }}{% else %}checked{% endif %} /></div>
      <div class="col-md-4">Read <input type = "radio" name = "{{ key }}" value = "read" {% if roleField[key]['read'] is defined %} {{ roleField[key]['read'] }} {% endif %} /></div>
      <div class="col-md-4">Full <input type = "radio" name = "{{ key }}" value = "full"  {% if roleField[key]['full'] is defined %} {{ roleField[key]['full'] }} {% endif %} /></div>

</div>
