{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Promo Docs - ' ~  currentcategory.name  })) }}
<a href = "{{ path('_manage_promo_docs_list_categories') }}">Return to Category List</a>



{% for section in promoDocsSections %}
<h4>{{ section.name }}</h4>

{% if section.docs is defined %}
{% set docs  = section.docs %}

{% if loop.index > 1 %}<hr/>{% endif %}
<table class="table table-striped" id = "promocategory{{ section.id }}" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>   
  <tbody>
    {% for doc in docs %}
    <tr>
      <td>{{ doc.name }} </td>
      <td>{% if doc.additionalinfo != "" %}<span class="glyphicon glyphicon-info-sign" title = "More Information on the Document" aria-hidden="true" onclick = "ajaxModal('{{ path('_manage_promo_docs_additional_info') }}?id={{ doc.id }}','More Info')"></span>{% endif %} {% if doc.url != "" %}<a href = "{{ doc.url }}" target="_blank" title = "Download Document" class = "glyphicon_link"><span class="glyphicon glyphicon-download-alt" aria-hidden="true" ></span></a>{% endif %} </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
<script>
$(document).ready(function() 
{
  $('#promocategory{{ section.id }}').DataTable(
  {
    "columnDefs": 
    [ 
      {                    
      "targets": [1],
      "visible": true,
      "searchable": false,
      "sortable":false
      }
    ],
    "lengthMenu": [[100, 200, 500], [100, 200, 500]]
  });
} ); 
</script>

{% endif %}    
{% endfor %}
      
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
  