<script>
    $(document).ready(function()
    {
        {% for section in section2 %}
        $("#{{ section.name }}").click(function()
        {
            if (!$("#{{ section.name }}").prop("disabled"))
            {
                $("#investmentSelectorDefault{{ section.name }}").toggle();
                cleanupDefaultInvestmentsType();
            }
        });
        {% endfor %}
        $("#riskBasedQuestionnaire").change(function()
        {
            if ($("#riskBasedQuestionnaire").val() == 0)
            {
                $("#investmentSelectorRiskBasedPortfolio").attr("checked",false);
                $("#investmentSelectorRiskBasedPortfolio").prop("disabled",true);
                $("#investmentSelectorDefaultinvestmentSelectorRiskBasedPortfolio").hide();
            }
            else
            {
                $("#investmentSelectorRiskBasedPortfolio").prop("disabled",false);
            }
            cleanupDefaultInvestmentsType();
        });

        function showMatchingControls()
        {

        // If we're using a function like this to show
        // or hide elements, we need to make sure the
        // proper aria-lables are in place for assitive
        // technologies

            if ( $('input[name=matchingContributions]').is(':checked') )
            {
                $('#matching-values').slideDown();
            } else {
                $('#matching-values').slideUp();
            }
        }

        $('#matching-values input').focus(function()
        {
            this.select();
        });

        showMatchingControls();

        $('#plan-modules').bootstrapValidator({
            fields:
            {
                'maximumContribution':
                {
                    validators:
                    {
                        between:
                        {
                            min: function()
                            {
                                return parseInt($('#minimumContribution').val());
                            },
                            max: function()
                            {
                                return 100;
                            },
                        }
                    }
                },
                'maximumContributionRoth':
                {
                    validators:
                    {
                        between:
                        {
                            min: function()
                            {
                                return parseInt($('#minimumContributionRoth').val());
                            },
                            max: function()
                            {
                                return 100;
                            },
                        }
                    }
                },
                'maximumContributionPostTax':
                {
                    validators:
                    {
                        between:
                        {
                            min: function()
                            {
                                return parseInt($('#minimumContributionPostTax').val());
                            },
                            max: function()
                            {
                                return 100;
                            },
                        }
                    }
                },
                'match-cap':
                {
                    validators:
                    {
                        between:
                        {
                            min: function()
                            {
                                if ($('input[name=match-percent]').val() > 0)
                                {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            },
                            max: function()
                            {
                                if ($('input[name=match-percent]').val() > 0)
                                {
                                    return 100;
                                } else {
                                    return 0;
                                }
                            },
                        }
                    }
                },
                'secondary-match-cap':
                {
                    validators:
                    {
                        between:
                        {
                            min: function()
                            {
                                var matchCap = parseInt($('input[name=match-cap]').val());
                                if ($('input[name=secondary-match-percent]').val() > 0 && matchCap > 0) {
                                    return (matchCap > 0 ? matchCap + 1 : 0);
                                } else {
                                    return 0;
                                }
                            },
                            max: function ()
                            {
                                if ($('input[name=secondary-match-percent]').val() > 0 && $('input[name=match-cap]').val() > 0) {
                                    return 100;
                                } else {
                                    return 0;
                                }
                            },
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e)
        {
            e.preventDefault();
            if ({{ sync }} == 0) {
                saveModulesToDatabase();
            } else {
                ajaxModal('{{ path('_plans_modules_syncModal') }}','Sync Modules');
            }
        });

        $( "#plan-modules-button").click(function()
        {
            $('#plan-modules').bootstrapValidator('revalidateField','match-cap');
            $('#plan-modules').bootstrapValidator('revalidateField','secondary-match-cap');
            $('#plan-modules').bootstrapValidator('validate');
        });

        $('input[name=matchingContributions]').change(showMatchingControls);

        // Change min on caps when percent changes
        $('input[name=match-percent]').bind('change keyup paste', function()
        {
            $('.help-block span.match-percent-tip').text($(this).val());
            if ($(this).val() > 0) {
                $('input[name=match-cap]').attr('min',1);
                $('#plan-modules').bootstrapValidator('revalidateField','match-cap');
            } else {
                $('input[name=match-cap]').attr('min',0);
                $('#plan-modules').bootstrapValidator('revalidateField','match-cap');
            }
        });

        $('input[name=socialSecurityMultiplier]').bind('change keyup paste', function()
        {
            $('.help-block span.socialSecurityMultiplier-tip').text($(this).val());
        });

        $('input[name=match-cap]').bind('change keyup paste', function()
        {
            $('.help-block span.match-cap-tip').text($(this).val());
        });
        $('input[name=secondary-match-percent]').bind('change keyup paste', function()
        {
            $('.help-block span.secondary-match-percent-tip').text($(this).val());
            if ($(this).val() > 0) {
                $('input[name=secondary-match-cap]').attr('min',1);
                $('#plan-modules').bootstrapValidator('revalidateField','secondary-match-cap');
            } else {
                $('input[name=secondary-match-cap]').attr('min',0);
                $('#plan-modules').bootstrapValidator('revalidateField','secondary-match-cap');
            }
        });

        $('input[name=secondary-match-cap]').bind('change keyup paste', function(){
            $('.help-block span.secondary-match-cap-tip').text($(this).val());
        });

    });

    function cleanupDefaultInvestmentsType()
    {
        var validCounter = 0;
        var firstValidEntry = "";
        {% for section in section2 %}
        if (!$("#investmentSelectorDefault{{ section.name }}").is(":visible")) {
            $("#investmentSelectorDefault{{ section.name }}").removeAttr("selected");
        } else {
            if (firstValidEntry == "") {
                firstValidEntry = "#investmentSelectorDefault{{ section.name }}";
            }
            validCounter++;
        }
        {% endfor %}
        if (validCounter  > 0)
        {
            if ($("#investmentSelectorDefault").val() == "") {
                $(firstValidEntry).prop('selected',true);
            }
        }
    }

    function saveModulesToDatabase()
    {
        var syncstring = "";
        closeLightBox();
        var sections = $(".syncmodal");
        for (i = 0; i < sections.length;i++) {
            if (sections[i].checked) {
                if (syncstring != "") {
                    syncstring  = syncstring + ",";
                }
                else {
                    syncstring = syncstring + "&syncstring=";
                }
                syncstring = syncstring + sections[i].value;
            }
        }
        var querystring = "table=plansModules&findby=planid&planid={{ planid }}" + syncstring;
        {% set sectionMerged = section1 %}
        {% if session.masterRoleType == "vwise_admin" %}
        {% set sectionMerged = sectionMerged | merge(section4) %}
        {% endif %}
        {% for section in sectionMerged %}
        {% if section.type is defined and section.type == "number" %}
        querystring = querystring + "&{{ section.name }}=" + $("#section{{ section.name }}").val();
        {% else %}
        querystring = querystring + "&{{ section.name }}=" + encodeURIComponent($("select[name={{ section.name }}]").val());
        {% endif %}
        {% endfor %}
        {% for section in section2 %}
        if ($('input[name={{ section.name }}]').is(':checked')) {
            querystring = querystring + "&{{ section.name }}=" + "1";
        } else {
            querystring = querystring + "&{{ section.name }}=" + "0";
        }
        {% endfor %}
        {% for section in section3 %}
        if ($('input[name={{ section.name }}]').is(':checked')) {
            querystring = querystring + "&{{ section.name }}=" + "yes";
        } else {
            querystring = querystring + "&{{ section.name }}=" + "no";
        }
        {% endfor %}

        var querystring = querystring + "&investmentSelectorDefault=" + $("select[name=investmentSelectorDefault]").val();
        var querystring = querystring + "&matchingPercent=" + $("input[name=match-percent]").val() + "&matchingCap=" + $("input[name=match-cap]").val() + "&secondaryMatchingPercent=" + $("input[name=secondary-match-percent]").val() + "&secondaryMatchingCap=" + $("input[name=secondary-match-cap]").val();
        var querystring = querystring + "&pensionEstimatorURL=" + $("input[name=pensionEstimatorURL").val();
        var querystring = querystring + "&retirementNeedsFlow=" + $("select[name=retirementNeedsFlow").val();
        var querystring = querystring + "&socialSecurityMultiplier=" + $("input[name=socialSecurityMultiplier").val();
        var querystring = querystring + "&maximumAnnualIncome=" + $("input[name=maximumAnnualIncome").val();
        var querystring = querystring + "&expressInvestmentSelectorDefault=" + $("select[name=expressInvestmentSelectorDefault").val();
        var querystring = querystring + "&expressPretaxDefault=" + $("input[name=expressPretaxDefault").val();
        var querystring = querystring + "&expressPretaxEditable=" + ($("input[name=expressPretaxEditable").is(':checked') ? 1 : 0);

        //alert(querystring);
        $.post("{{ path('_plans_modules_update') }}", querystring).done(function(data) {
            if (data !== "saved") {
                $('html, body').animate({ scrollTop: 0 }, 0);
                $('#saved-failed-alert').show();
                $('#missingModule').text(" Saving failed: " + data + " video is missing");
                setTimeout(function(){
                    $('#saved-failed-alert').slideUp();
                },3000);
            }
            else {
                $('html, body').animate({ scrollTop: 0 }, 0);
                $('#saved-alert').show();
                setTimeout(function(){
                    $('#saved-alert').slideUp();
                },3000);
            }
        });

    }
</script>


