<form id="pipWidgetAddForm">
{% for section in sections %}
<b>{{ section.description }}</b><br/>
<input type ="text" class="form-control" value ="" placeholder="{{ section.description }}" name ="{{ section.field }}"/> <br/>
{% endfor %}
<br/>
<button type="submit" class="btn btn-info">Add</button>
</form>
<script>
$( "#pipWidgetAddForm" ).submit(function() 
{
  event.preventDefault();
  PIPWidget.addForm($(this).serialize());
});
PIPWidget.addForm = function(params)
{
    Admin.ajaxPost("{{ path(savePath) }}",params);
    this.refreshTable();
}; 
</script>