<form id="pipWidgetDeleteForm">
<table class="table table-striped">
    <thead>
        <tr>
            {% for section in sections %}
                <th>{{ section.description }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for section in sections %}
                <td>{{ section.value }}</td>
            {% endfor %}            
        </tr>
    </tbody>
</table>
<br/>
<input type="hidden" name ="id" value="{{ id }}" />
<button type="submit" class="btn btn-warning">Delete</button>
</form>
<script>
$( "#pipWidgetDeleteForm" ).submit(function() 
{
  event.preventDefault();
  PIPWidget.deleteForm($(this).serialize());
});
PIPWidget.deleteForm = function(params)
{
    Admin.ajaxPost("{{ path(savePath) }}",params);
    this.refreshTable();
}; 
</script>