<form id="pipWidgetEditForm">
{% for section in sections %}
<b>{{ section.description }}</b><br/>
<input type ="text" class="form-control" value ="{{ section.value }}" placeholder="{{ section.description }}" name ="{{ section.field }}"/> <br/>
{% endfor %}
<br/>
<input type="hidden" name ="id" value="{{ id }}" />
<button type="submit" class="btn btn-primary">Save</button>
</form>
<script>
$( "#pipWidgetEditForm" ).submit(function() 
{
  event.preventDefault();
  PIPWidget.editForm($(this).serialize());
});
PIPWidget.editForm = function(params)
{
    Admin.ajaxPost("{{ path(savePath) }}",params);
    this.refreshTable();
}; 
</script>