{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Personal Information Control'})) }}
<h2>Personal Information Control</h2>

<h3>Lists</h3>

<ul class="nav nav-tabs" role="tablist">
    <li class="PIPWidgetListButton active" id="PIPWidgetLocationsButton"><a href="javascript:PIPWidget.showLocations()">Locations</a></li>
    <li id="PIPWidgetAdvisorsButton" class ="PIPWidgetListButton"><a href="javascript:PIPWidget.showAdvisors()">Advisors</a></li>
</ul>
<div id ="PIPWidgetLocations" class="PIPWidgetList" style="display:none;padding-top:20px">
<button class="btn btn-info" onclick ="ajaxModal('{{ path('_plans_personalInformation_addLocation') }}','Add Location')">Add Location</button>
<br/><br/>
{% set header = "<th>id</th><th>location</th><th>guid</th><th>Actions</th>" %}
{% set tablename ="plansLocation" %}
{% set url = path('_plans_personalInformation_locationList')  %}
{% set unsearchableArray = [3] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div>
<div id ="PIPWidgetAdvisors" class="PIPWidgetList" style ="display:none;padding-top:20px">
<button class="btn btn-info" onclick ="ajaxModal('{{ path('_plans_personalInformation_addAdvisor') }}','Add Advisor')">Add Advisor</button>
<br/><br/>
{% set header = "<th>id</th><th>firstName</th><th>lastName</th><th>Actions</th>" %}
{% set tablename ="plansAdvisor" %}
{% set url = path('_plans_personalInformation_advisorList')  %}
{% set unsearchableArray = [3] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div>
<script>
var  PIPWidget = 
{
    showLocations: function()
    {
        this.hideLists();
        this.showList("PIPWidgetLocations");
    },
    showAdvisors: function()
    {
        this.hideLists();
        this.showList("PIPWidgetAdvisors");        
    },
    hideLists: function()
    {
        $(".PIPWidgetList").hide();
        $(".PIPWidgetListButton").removeClass('active');
    },
    showList: function(id)
    {
        $("#" + id).show();
        $("#" + id +  "Button").addClass("active");
    },
    refreshTable: function()
    {
        closeLightBox();
        if ($("#PIPWidgetLocations").is(":visible"))            
        plansLocationTable.fnDraw(false);
        else
        plansAdvisorTable.fnDraw(false);        
    }
};
PIPWidget.showLocations();
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}