.top-logo {
	background-color:#021d48;
	padding:20px 40px;
}

.top-logo img {
	max-width:100%;
}

#login-form {
	max-width:300px;
	margin:50px auto;
	text-align:center;
}

footer {
	background-color:#eee;
	margin-top:100px;
	padding:20px;
}

.form-control-feedback {
	right:15px;
}

table span.glyphicon {
	margin:auto 5px;
	cursor:pointer;
}

.sidebar-subnav .panel-body {
	padding:0;
}

.action-buttons a {
	color:inherit;
}

#plan-branding .form-group {
	margin-top:20px;
	margin-bottom:50px;
}

#plan-branding img {
	display:block;
	margin:10px;
	border:1px solid #ccc;
}

.navbar-inverse {
	background-color:#021d48;
	border:none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background:none;
}








.sortable {
	min-height:50px;
	padding:10px;
	border:1px dashed #ccc;
}

.sortable .panel {
	cursor:move;
}

#plan-scoring .panel {
	margin-bottom:5px;
}

#plan-scoring .panel-body {
	padding:5px 10px;
}

#plan-scoring .scoring-range {
	margin-right:5px;
}

#plan-scoring .risk-profile-group {
	margin-bottom:30px;
}

#plan-scoring .profile-landing-area {
	margin-top:10px;
}

#plan-scoring .risk-profile-group.inactive * {
	color:#ccc;
}

#plan-scoring .manual-scoring {
	margin:5px 0;
	display:none;
}

#plan-scoring .manual-scoring input {
	width:80px;
}

#plan-messaging .panel-heading div.checkbox {
	margin:0;
}

#plan-messaging textarea {
	resize:vertical;
	min-height:100px;
}



.nav-example-img {
	width:auto;
	height:100px;
	transition:all .25s ease;
}

input[name=nav-layout]:checked ~ .nav-example-img {
	height:400px;
}


.color label {
	height:50px;
	width:100%;
	text-transform: capitalize;
	margin-bottom:20px;
}

.color-example-group {
	width:100%;
	height:100%;
}

.color-example {
	width:25px;
	height:100%;
	float:left;
}



footer small {
	line-height:35px;
}

.footer-logo {
	font-family:"Raleway", sans-serif;
	font-weight:300;
}

.footer-logo img {
	height:100%;
	width:100px;
	margin-right:10px;
}