body {
    padding-bottom:100px;
}

.top-logo {
	background-color:#021d48;
	padding:20px 40px;
}

.top-logo img {
	max-width:100%;
}

#login-form {
	max-width:300px;
	margin:50px auto;
	text-align:center;
}

footer {
	background-color:#eee;
	margin-top:100px;
	padding:20px;
        position: fixed;
        width:100%;
        bottom:0;
    z-index: 10;
}

.form-control-feedback {
	right:15px;
}

table span.glyphicon {
	margin:auto 5px;
	cursor:pointer;
}

.sidebar-subnav .panel-body {
	padding:0;
}

.action-buttons a {
	color:inherit;
}

#plan-branding .form-group {
	margin-top:20px;
	margin-bottom:50px;
}

#plan-branding img {
	display:block;
	margin:10px;
	border:1px solid #ccc;
}

.navbar-inverse {
	background-color:#021d48;
	border:none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background:none;
}








.sortable {
	min-height:50px;
	padding:10px;
	border:1px dashed #ccc;
}

.sortable .panel {
	cursor:move;
}

#plan-scoring .panel {
	margin-bottom:5px;
}

#plan-scoring .panel-body {
	padding:5px 10px;
}

#plan-scoring .scoring-range {
	margin-right:5px;
}

#plan-scoring .risk-profile-group {
	margin-bottom:30px;
}

#plan-scoring .profile-landing-area {
	margin-top:10px;
}

#plan-scoring .risk-profile-group.inactive * {
	color:#ccc;
}

#plan-scoring .manual-scoring {
	margin:5px 0;
	display:none;
}

#plan-scoring .manual-scoring input {
	width:80px;
}

#plan-messaging .panel-heading div.checkbox {
	margin:0;
}

#plan-messaging textarea {
	resize:vertical;
	min-height:100px;
}



.nav-example-img {
	width:auto;
	height:100px;
	transition:all .25s ease;
}

input[name=interfaceLayout]:checked ~ .nav-example-img {
	height:400px;
}


.color label {
	height:50px;
	width:100%;
	text-transform: capitalize;
	margin-bottom:20px;
}

.color-example-group {
	width:100%;
	height:100%;
}

.color-example {
	width:25px;
	height:100%;
	float:left;
}



footer small {
	line-height:35px;
}

.footer-logo {
	font-family:"Raleway", sans-serif;
	font-weight:300;
}

.footer-logo img {
	height:100%;
	width:100px;
	margin-right:10px;
}

.profile-details-modal  {
	padding-bottom:40px;
}

.profile-details-modal  h3 {
	text-align:center;
	margin-bottom:20px;
}

.profile-details-modal label {
	width:48%;
	line-height:16px;
	margin:5px auto;
	text-align:right;
	margin-right:4%;
}

.profile-details-modal  a {
	display: block;
	margin-top: 40px;
	text-align: center;
}

#profile-filters h4 {
	font-weight: bold;
}

.ranges label {
	width:250px;
	font-weight:normal;
}

.tab-pane {
  min-height:500px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
 .dataTables_wrapper .dataTables_processing 
 {
 	position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
img {
    border: 0;
}
.glyphicon_link
{
	color:#333333;

}
.glyphicon_link:hover
{
	color:#333333;
	
}
.glyphicon_link:visited
{
	color:#333333;
	
}
.glyphicon_link:active
{
	color:#333333;
	
}

.chat_col-md-2, .chat_col-md-10{
    padding:0;
}
.chat_panel{
    margin-bottom: 0px;
}
.chat_chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat_chat-window > div > .chat_panel{
    border-radius: 5px 5px 0 0;
}
.chat_icon_minim{
    padding:2px 10px;
}
.chat_msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.chat_top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.chat_msg_receive{
    padding-left:0;
    margin-left:0;
}
.chat_msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.chat_messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.chat_messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.chat_messages > time {
    font-size: 11px;
    color: #ccc;
}
.chat_msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img #chatAvatar {
    display: block;
    width: 100%;
}
.chat_avatar {
    position: relative;
}
.chat_base_receive > .chat_avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.chat_base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.chat_base_sent > .chat_avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.chat_msg_sent > time{
    float: right;
}

.chat_msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.chat_msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.chat_msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.chat_btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.profiles_input
{
  width:150px !important;

}

.vad_readonly
{

}
.vad_readonly[readonly]
{
  cursor:default !important;
  background-color:white !important;
}
.vad_input
{
  width:250px !important;

}

.span_looklikenav
{
  position: relative;
  display: block;
  padding: 15px 15px;
  color:#9D9D9D;
}
.number-tabs {
  padding-left:10px;
  padding-right:10px;
  padding-top:6px;
  padding-bottom:6px;
  margin-right:10px;
  color:#000;
  border: 2px solid #000;
  border-radius:50%;
  text-align:center;
}
.control-label {
  text-align:right !important;
}
#planSponsor {
  width: 80.5% !important;
  margin-left:1.5%;
}
#createLogo {
  margin-left: 1.5%;
}
#addNewTemplate {
  margin-left: 1.5%;
}
#showCreateLogo div {
  margin-left:1.5%;
}
#newlyCreatedCampaign {
  margin-right:6%;
}
.checkbox b {
  margin-left:4%;
}
#form_fileToUpload {
  margin-left:2.5%;
  width: 78%;
}
#createCampaign {
  margin-left:19%;
}
#sendTestCampaign {
  margin-left:19%;
  margin-top:2%;
}
#sendCampaign {
  margin-left:19%;
  margin-top:2%;
}
#scheduleCampaign {
  margin-left:19%;
}
#unscheduleCampaign {
  margin-left:19%;
  margin-top:2%;
}
#dateSchedule {
  margin-top:1%;
}
#form_csvUpload {
  margin-left:23%;
}
#template_path_row  {
  display: none !important;
}
.infoTip,
.infoTip-right{
  border:1px solid green;
  color: green;
  border-radius:50%;
  font-size:10px;
  padding-left:3px;
  padding-right:3px;
}

.infoTip:hover,
.infoTip-right:hover {
  cursor:pointer;
}

.form-help-box {
  font-weight:normal;
  font-size:12px;
  background-color: #737373;
  color: #fff;
  padding:5px;
  border-radius: 5px;
  position: absolute;
  width: 180px;
  left: 180px;
  top:1px;
  z-index:10;
  text-align:left;
}

.form-help-box-right {
  font-weight:normal;
  font-size:12px;
  background-color: #737373;
  color: #fff;
  padding:5px;
  border-radius: 5px;
  position: absolute;
  width: 180px;
  left: 290px;
  top:1px;
  z-index:10;
  text-align:left;
}

.custom-stuff {
  width: 100% !important;
  padding:0px;
  margin:0px;
}

.custom-stuff input {
  width:49%;
  display: inline-block      !important;
margin-bottom:10px;
}

.vwise-cbox {
    border:1px solid #343434;
    height: 15px;
    width:15px;
    box-shadow: 1px 1px 1px #343434;
    border-radius:3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    position:relative;
    overflow:visible;  
    display:inline-block;
    margin-right:10px;
    margin-left:0px;    
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 37%, rgba(219,219,219,1) 53%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(37%, rgba(209,209,209,1)), color-stop(53%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 37%, rgba(219,219,219,1) 53%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 37%, rgba(219,219,219,1) 53%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 37%, rgba(219,219,219,1) 53%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 37%, rgba(219,219,219,1) 53%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.vwise-cbox:hover {
    cursor:pointer;
}

.vwise-cbox img {
  position:absolute;
  bottom:-5px;
  right:-9px;
  width:200%;

}

.ctalist {
    display: none;
}

.widgetsEmailListButtonSpacing
{
    margin-right:50px;
}
.borderless tr td {
    border: none !important;
}