.btn-custom {
    background-color: #417505 !important;
    border-color: #417505 !important;
}

.btn-custom-opacity {
    opacity: 0.6;
}

.href-custom {
    color: #417505 !important;
    font-size: 14px !important;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary.active {
    color: #fff;
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-secondary.active {
    color: #292b2c;
    background-color: #ccc;
    border-color: #555;
}