<script>
var sections = new Array();
{% for section in sections %}
sections[{{loop.index - 1}}] = "{{ section.field }}";
{% endfor %}
</script>

<ul class="nav nav-tabs">
	{% for section in sections %}
	<li role = "presentation" id = "{{section.field}}Pill" {% if loop.index == 1%}class = "active"{% endif %}><a href = "javascript:togglePills(sections,'{{section.field}}')">{{ section.description }}</a></li>
	{% endfor %}
</ul>
<br/>