{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}
<table  class="table table-striped" id = "mediaTable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Tools<a  class="select-all btn btn-empty btn-xs" style = "display:inline"  href ="javascript:toggleSection('mediaList');selectAll()">none / all</a></th>
		</tr>
	</thead>
	<tbody>

                {% for media in medias %}
		<tr>
			<td>{{ media.title }}</td>
			<td><span class = "glyphicon glyphicon-play"  onclick = "ajaxModal('{{ media.videolink }}','Preview','large','true')"  ></span>{% if media.pdf is defined %}<span class = "glyphicon glyphicon-edit" onclick = "ajaxModal('{{ media.pdf }}','Preview Pdf','large','true')"></span>{%endif %} <input type = "checkbox" id = "mediaList_{{media.id}}"  class = "mediaList"  onclick = "toggleMedia('{{ media.id }}',this.checked)" {{ media.checked }} /></td>
		</tr>
                {% endfor %}
	</tbody>
</table>
