
{% extends 'classesclassBundle:Search:search.html.twig' %}

{% block pagenumber %}none{% endblock %}
{% block totalrows %}none{% endblock %}
{% block resultsperpage %}none{% endblock %}
{% block filterbyletter %}none{% endblock %}
{% block searchform %}none{% endblock %}
{% block navigators %}none{% endblock %}
{% block extraselectfunctions %}enabledefault(){% endblock %}
{% block extraparamemters %}<h4>Use this preset for new investments <input type = "checkbox" disabled id = "investmentdefault" /></h4>{% endblock %}