<h2>{{ 'nice_work' | trans ({}, 'widget') }}</h2>
<p>{{ 'document_summary_1' | trans ({}, 'widget') }}</p>
<p>{{ 'document_summary_2' | trans ({}, 'widget') }}</p>
<p>{{ 'document_summary_3' | trans ({}, 'widget') }}</p>
