<article id="allocate_confirm" class="animate confirm-allocation allocate_confirm confirmation rev col wide single">
<form id="allocateConfirmForm" method="POST">
    <input type="hidden" name="pretax" value="{{data.pretaxNew}}">
    <input type="hidden" name="roth" value="{{data.rothNew}}">
    <div class="widget-title-small">{{ 'one_quick_note' | trans ({}, 'widget') }}</div>
    <div class="widget-text-small">{{ 'changing_your_allocation_warning_ext' | trans ({}, 'widget') }}</div>
    <div class="widget-text-small" style="margin:10vw 0;text-align:left;">
        <div class="checkbox" style="vertical-align: middle;top:0;">
            <input name="aca_checkbox" type="checkbox" value="1" />
            <label></label>
        </div>
        <div style="vertical-align: middle;display: inline-block; width: calc(100% - 6vh);">{{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}</div>
    </div>
    <div class="buttons">
        <button id="connected" type="button" class="color-primary" disabled="disabled">{{ 'continue' | trans ({}, 'widget') }}</button>
        <button class="return">{{ 'quit' | trans ({}, 'widget') }}</button>
    </div>
</form>
</article>
<script>
    
$(document).on('change', 'input[name=aca_checkbox]', function() {
    $('#connected').prop('disabled', $(this).is(':not(:checked)'));
});


$(document).on('click', '#connected', function(){
    $('#spinner').fadeIn();

    var page = "{{ path('_widgets_ajax_submitContributionAllocation') }}";
    var params = $("#allocateConfirmForm").serialize();


    $.post(page, params).done(function(data)
    {
        var object = JSON.parse(data);
        
        if (!object.successOrPostContributionsOff || (object.postContributions && !object.confirmation)) {
            $('#spinner,#ctaContent').hide();
            $('.confirmation.error').fadeIn(1000);
            return;
        }

        if (object.postContributions) { 
            $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_connected') }}', function(){
                $("#spinner").hide();
                $(this).fadeIn(1000);
            }); 
        }
        else {
            $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_cta') }}', function(){
                $("#spinner").hide();
                $(this).fadeIn(1000);
            }); 
        }
          
    });
});
//# sourceURL=allocateConfirm.html.twig
</script>