<article id="cta_allocate" class="animate allocate-contribution rev center confirmation col wide single">
    <div class="widget-text">{{ 'please_allocate_your_contribution_of' | trans ({'%contribution%': '<strong>'~(app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' ? '$' ~ data.overrideDeferral : data.overrideDeferral ~ '%')~'</strong>'}, 'widget') | raw }}</div>
    <div id="slider">
        <div id="allocate_pretax" class="allocate-val">
            <h5>
                <i class="fa fa-2x fa-exclamation-circle" aria-hidden="true" data-interface="tooltip" data-position="top-left" data-title="none" data-theme="white" data-content="{{ 'tooltip_pretax' | trans ({}, 'widget') }}" data-shift="0" data-trigger="click" data-trigger-on="click" data-trigger-off="click"></i><br>
                {{ 'pretax' | trans ({}, 'widget') }}
            </h5>
            <h1 class="rev"><output></output></h1>
        </div>
        <div id="allocate_roth" class="allocate-val">
            <h5>
                <i class="fa fa-2x fa-exclamation-circle" aria-hidden="true" data-interface="tooltip" data-position="top-right" data-title="none" data-theme="white" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0" data-trigger="click" data-trigger-on="click" data-trigger-off="click"></i><br>
                {{ 'roth' | trans ({}, 'widget') }}
            </h5>
            <h1 class="rev"><output></output></h1>
        </div>
        <div id="allocate_slider"></div>

    </div>

    <button id="allocateButton" type="button" class="color-primary">{{ 'submit' | trans ({}, 'widget') }}</button>
    <button id="backButton" type="button" class="transparent">{{ 'go_back' | trans({}, 'widget') }}</button>
    
</article>

<script>
$(document).ready(function(){
    $('[data-interface="tooltip"]').each(function(){
        $(this).tooltip();
    }); 
    

    var allocateSlider = document.getElementById('allocate_slider');
    noUiSlider.create(allocateSlider, {
        start: {{ (data.overrideDeferral / 2) | round(2, 'floor') }},
        step: 0.5, 
        range: {
            'min': 0,
            'max': {{ data.overrideDeferral | round(2, 'floor') }},
        },
        pips: { // Show a scale with the slider
            mode: 'positions',
            values: [20,40,60,80],
            density: 5,
            stepped: false
        }
    });
    
    var allocateFormat = wNumb({
        thousand: ',',
        decimals: 2,
        {% if data.partDeferralSetting == 'dollar' %}
        prefix: '$'
        {% else %}
        postfix: '%'
        {% endif %}
    });
    
    allocateSlider.noUiSlider.on("update", function(values, handle) {
        var currentVal = values[handle];
        var diff = {{ data.overrideDeferral | round(2, 'floor') }} - currentVal;
        
        $('#allocate_pretax output').text(allocateFormat.to(parseFloat(currentVal)));
        $('#allocate_roth output').text(allocateFormat.to(diff));
    });
    
    $('#allocateButton').on('click', function() {
        $('#spinner').fadeIn();
        
        var params = {
            pretax: allocateFormat.from($('#allocate_pretax output').text()),
            roth: allocateFormat.from($('#allocate_roth output').text()),
        }
        
        {% if app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1" %}
            var page = "{{ path('_widgets_ajax_saveContributionAllocation') }}";
            $.post(page, params).done(function(data)
            {
                $("#ctaContent").hide().load('{{ path('_widgets_roth_allocate_confirm') }}',function(){
                    $("#spinner").hide();
                    $(this).fadeIn(500);
                }); 
            }); 
        {% else %}
            var page = "{{ path('_widgets_ajax_submitContributionAllocation') }}";

            $.post(page, params).done(function(data)
            {
                var object = JSON.parse(data);

                if (!object.successOrPostContributionsOff || (object.postContributions && !object.confirmation)) {
                    $('#spinner,#ctaContent').hide();
                    $('.confirmation.error').fadeIn(1000);
                    return;
                }

                if (object.postContributions) { 
                    $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_connected') }}', function(){
                        $("#spinner").hide();
                        $(this).fadeIn(1000);
                    }); 
                }
                else {
                    $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_cta') }}', function(){
                        $("#spinner").hide();
                        $(this).fadeIn(1000);
                    }); 
                }
            });
        {% endif %}
    }); 
    
    $('#backButton').on('click', function() {
        $("#spinner").fadeIn();
        $("#ctaContent").hide().load('{{ path('_widgets_roth_select_contribution') }}',function(){
            $("#spinner").hide();
            $(this).fadeIn(500);
        }); 
    }); 
});

//# sourceURL=allocateContribution.html.twig 
</script>