<article id="connected-thank-you" class="animate connected-thank-you confirmation rev col wide single">
    <div class="widget-title">{{ 'thankyou_msg' | trans ({}, 'widget') }}</div>
    <div class="widget-text">{{ 'email_confirmation_msg' | trans ({}, 'widget') }}</div>
</article>
<script>
    setTimeout(redirect.bind(null, true), 2000);
</script>