{% extends 'WidgetsBundle:PowerViewBase:mobile.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('w/css/powerview-mobile-2.css') }}" />
    <link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
    {{ include('WidgetsBundle:PowerViewRoth/css:mobile.css.twig') }}
{% endblock %}

{% block contentID %}powerview{% endblock %}

{% block slides %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:slideGroup_Intro.html.twig') }}
    {% if hasMatching %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:emp_match.html.twig') }}
    {% endif %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothSameRateContribution.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothIntro.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothPretaxVsRoth.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothQuestion.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothNowOrLater.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:rothContributeBoth.html.twig') }}
{% endblock %}

{% block confirmation %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:confirmationManual.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:confirmationError.html.twig') }}
    <section id="ctaContent" style="display:none;"></section>
{% endblock %}

{% block slideContainer %}
    <div class="close-blue return"></div>
    {{ parent() }}
{% endblock %}

{% block nav %}
    <div class="nav hidden">
        <div alt="{{ 'previous_msg' | trans ({}, 'widget') }}..." class="flex-prev"></div>
        <h5>{{ 'tap' | trans ({}, 'widget') }}<br>{{ 'swipe' | trans ({}, 'widget') }}</h5>
        <div alt="{{ 'next_msg' | trans ({}, 'widget') }}..." class="flex-next"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var ROTH_START = 6;
        var ROTH_END = 9;
                
        function gotoCtaConfirmations() {
            $(".flexslider").hide().find('.nav').hide();
            $('#spinner').fadeIn();
            $("#ctaContent").hide().load('{{ path('_widgets_roth_increase_contribution') }}',function(){
                $("#spinner").hide();
                $(this).fadeIn();
            });
        }
        
        $('.flexslider').flexslider({
            animation: "slide",
            selector: ".slides > .slide",
            animationLoop: false,
            slideshow: false,
            controlNav: true,
            directionNav: true,
            keyboard: false,
            customDirectionNav: $(".nav div"),
            after: function (slider) {
                if (slider.currentSlide !== 0) {
                    $('.nav').removeClass('lonely');
                    $('.nav h5').hide();
                    $('#prev-button').fadeIn();
                }
                if (slider.currentSlide === 0) {
                    $('.nav').addClass('lonely');
                    $('.nav h5').show();
                    $('#prev-button').fadeOut();
                }

                $('.flexslider .flex-active-slide .odometer').each(function () {
                    var number = $(this).data('odo-end');
                    var subWidth = $(this).next('sub').width();
                    var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
                    $(this).animateNumber({
                        number: number,
                        numberStep: comma_separator_number_step
                    }, 1500);
                    if (number >= '1000000' || (number >= '10000' && subWidth >= '98') || (number >= '1000' && subWidth >= '100')) {
                        $(this).next('sub').addClass('split');
                        $(this).parent('.figure').css('height', '24vw');
                    }
                });
                slider.resize();
            },
            before: function(slider) {
                var isLastSlide = slider.currentSlide === slider.count - 1;
                if (slider.animatingTo >= ROTH_START && slider.animatingTo <= ROTH_END) {
                    $("#powerview").addClass("rothSliderContainer");
                    $(".flex-control-paging li").slice(ROTH_START, ROTH_END + 1).show();
                }
                else {
                    $("#powerview").removeClass("rothSliderContainer");
                    $(".flex-control-paging li").hide();
                }

                if (isLastSlide && (slider.direction === 'next' || slider.animatingTo === 0)) {
                    $("#powerview").removeClass("rothSliderContainer");
                    gotoCtaConfirmations();
                }
            },
            start: function () {
                $(".flex-control-paging li").hide();
                $('#prev-button').fadeOut();
                $('.nav h5').fadeIn();
                $('.nav').fadeIn();
            }
        });
        
        $(document).ready(function(){
            startWidget();

            /* CTA Button Actions */

            $(document).on('click', '#manual', function(){
                $('.flexslider, #prev-button, #next-button, #ctaContent').fadeOut();
                $('#spinner').fadeIn();
                setTimeout(function(){
                    $('#spinner').hide();
                    $('.confirmation.manual').fadeIn(1000);
                },3000);
            });
        });

    </script>
    
{% endblock %}

