{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': title})) }}
{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}

<h3>Upload a file:</h3>
<hr>
<div id = "step1">
    <form  class="form-horizontal" role="form" id="upload-form" method="post" action="{{ path('_manage_launch_tool_write_temp_file') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">CSV:</label>
            <div class="col-xs-10">
                <input class="form-control" type="file" name="upload-file" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">&nbsp</label>
            <div class="col-xs-10">
                <button type = "submit" class = "btn btn-primary" >Upload</button>
            </div>
        </div>
    </form>
</div>

<div id = "step2" style = "display:none">
    <strong>Map fields to your files below.  Unmapped columns will not be imported.</strong>
    <table class="table table-striped dataTable" id = "uploadTable" >
        <thead>
            <tr>
                {% for section in sections %}

                    <th>
                        <select name = "uploadOption" id = "uploadOption{{ loop.index }}">
                            <option></option>
                            {% for sectionOption in sections %}
                                <option value = "{{ sectionOption.field }}">{{ sectionOption.description }}</option>
                            {% endfor %}
                        </select>
                    </th>

                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
    <div id = "loader" style = "display:none"><img src = "{{ asset('images/load-icon.gif') }}" /><br/><br/></div>
    <button type = "submit" class = "btn btn-primary" id = "processButton" >Process</button>


</div>
<h3>Single entry:</h3>
<hr>
<form class="form-horizontal" id="singleEnt">
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">First Name</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="First Name" name="firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Last Name</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="Last Name" name="lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Email</label>
        <div class="col-xs-10">
            <input class="form-control" type="email" placeholder="email" name="email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Sponsor Id</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="Sponor Id" name="partnerid">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Telephone</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="telephone" name="telephone">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">&nbsp</label>
        <div class="col-xs-10">
            <input type="button" class="btn btn-primary" value="Add" id="manualEntry">
        </div>
    </div>

</form>

<script>
    var counter = 0;
            var sections = Array();
            var sectionsTotal = 0;
            var errorData = Array();
            var sectionsHash = Array();
            $(document).ready(function()
    {


    {% for sectionOption in sections %}
            sectionsHash[{{ loop.index }}] = 0;{% endfor %}


        {% for sectionOption in sections %}
                    if (sectionsHash[{{ loop.index }}] == 0)
            {
            sectionsHash[{{ loop.index }}] = 1;
                    $("#uploadOption{{ loop.index }}").val("{{ sectionOption.field }}");
            }
        {% endfor %}


        $("#processButton").click(function(){
            $("#loader").show();
            var selectedText = "";
            var processString = "";
            $("#processButton").hide();
                
        {% for section in sections %}	
            {% if loop.index > 1 %}
                    processString = processString + "," + $("#uploadOption{{ loop.index }}").val();
            {% else %}
                    processString = processString + $("#uploadOption{{ loop.index }}").val();
            {% endif %}
        {% endfor %}
                    
            var page = "{{ path(processPage) }}";
            var querystring = "header=" + processString + "&id={{ id }}";
            console.log(querystring);
                
            $.post(page, querystring).done(function(data){
                console.log(data);
                $("#noticesDiv").show();
                $("#loader").hide();
                showalert("saved-alert");
                $('#step2').hide(); 
                $('#step1').show(); 
                $('#upload-form').trigger("reset");
                var htmlstring = "";
        {% for sectionOption in sections %}
                    selectedText = $("#uploadOption{{ loop.index }}").find(":selected").text();
                    if (selectedText != ""){
                        selectedText = selectedText.replaceAll(" ", "&nbsp;");
                        htmlstring = htmlstring + '<td><b>' + selectedText + "</b></td>";
                    }   
        {% endfor %}
                htmlstring = "<tr>" + htmlstring + "</tr>";
                $("#noticesTableTHead").html(htmlstring);
                $('#noticesTable').dataTable({
                    "ajax": "{{ path('_manage_launch_tool_errorXml') }}?id={{ id }}",
                    "dom": 'T<"clear">lfrtip', "tableTools": {            "sSwfPath": "/swf/copy_csv_xls_pdf.swf", "aButtons": [ "csv", "print" ]       }
                });
            });
        });
    });
                function redirectToAccounts()
                {
                window.location = "{{ path('_manage_accounts') }}";
                }
        function setSections() {
        sectionsTotal = 0;{% for section in sections %}
                if ($("#uploadOption{{ loop.index }}").val() != "")
                sections[$("#uploadOption{{ loop.index }}").val()] = 1;
                sectionsTotal++;{% endfor %}
        }

        function resetSections() {

                        {% for section in sections %}
            sections['{{ section.field }}'] = 0;{% endfor %}

            }
            function printSections() {

                            {% for section in sections %}
            alert(sections['{{ section.field }}']);{% endfor %}

            }
            function setOptions(id) {
            var valuestring = "<option></option>";{% for section in sections %}
                    if (sections['{{section.field}}'] == 0)
                    valuestring = valuestring + '<option value = "{{ section.field }}">{{ section.description }}</option>';
                    if ($("#uploadOption" + id).val() == "{{ section.field }}")
                    valuestring = valuestring + '<option value = "{{ section.field }}" selected>{{ section.description }}</option>';{% endfor %}
                    $("#uploadOption" + id).html(valuestring);
            }

            $("#upload-form").submit(function(event) {

            event.preventDefault();
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                    url:$(this).attr("action"),
                            type: 'POST',
                            data: formData,
                            async: false,
                            success: function (data) {

                            $('#uploadTable tbody').html(data);
                                    $("#step2").show();
                                    $("#step1").hide();
                                    $('#uploadTable').dataTable({"sPaginationType": "full_numbers",
                                    "scrollX": true});
                            },
                            cache: false,
                            contentType: false,
                            processData: false

                    });
            });
                    $('#manualEntry').on('click', function(){
            // var qstring = $('#singleEnt').data;
            var f = $('#singleEnt').serialize();
                    $.post('{{ path('_manage_launch_tool_singleEntry') }}', f).done(function(data){
            showalert("saved-alert");
                    $('#singleEnt').trigger("reset");
            });
                    });





                            </script>


                            {{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}