<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10" :elevation="0">
        <disclaimer :message="'thankyou'" :messageActive="'thankyouActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="goodbye" step="Goodbye" label="Goodbye_Section_Title"></path-content>
        <path-content section="goodbye" step="Goodbye" label="Thank_You1"></path-content>
        <path-content section="goodbye" step="Goodbye" label="Thank_You2"></path-content>
        <path-content section="goodbye" step="Goodbye" label="Thank_You3"></path-content>
        <path-content section="goodbye" step="Goodbye" label="Thank_You4"></path-content>
    </v-card>
</template>

<script>
    import PathContent from "../Content/PathContent";
    import Disclaimer from "../Global/Disclaimer";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, PathContent, Disclaimer },
        name: "ThankYou",
    }
</script>

<style scoped>

</style>