{% extends "SpeVueBundle:Vue:base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block additional_js %}
    <!-- Google Chart -->
    {#
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages': ['corechart']});
    </script>
    #}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        {#
        _gaq.push(['_setAccount', 'UA-29981405-14']);
        _gaq.push(['_setDomainName', 'auto']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_setCustomVar',1,'Client','{{ request.partner_id }}',2]);
        _gaq.push(['_setCustomVar',2,'Plan ID','{{ request.id }}_{{ request.partner_id }}',2]);
        _gaq.push(['_setCustomVar',5,'Version','1.1',2]);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        #}
    </script>
    {{ encore_entry_script_tags('app') }}

    {% set javafiles = ['spe/js/vendor/utils/jwplayer.min.js', 'spe/js/vendor/utils/jwplayer.html5.min.js', 'spe/js/vendor/utils/jwpsrv.js'] %}
    {% for javafile in javafiles %}
    <script>
        {{ fileGetContents(javafile) | raw }}
    </script>
    {% endfor %}
{% endblock %}