<!DOCTYPE HTML>
<!--[if IE 9]><html class="ie ie9 lte9" lang="{{ request.lang|default('en') }}"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ request.lang|default('en') }}"><!--<![endif]-->
    <head>
        <title>Smartplan Enterprise</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css"></style>
        {{ include('SpeAppBundle:Template:event_tracking.js.twig') }}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block additional_js %}{% endblock %}
        {% block default_js %}{% endblock %}
        {{ include('SpeAppBundle:Template:highcharts.js.twig') }}
    </body>
</html>