{% extends "SpeVueBundle:Vue:base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    {{ encore_entry_link_tags('report') }}
{% endblock %}

{% block body %}
    <div id="app">
        <profile-report-page profile-id="{{ profileId }}">

        </profile-report-page>
    </div>
{% endblock %}

{% block additional_js %}
    {{ encore_entry_script_tags('report') }}
{% endblock %}