{% if colors.hex2 %}
header {
    background-image: linear-gradient(to right, {{ colors.hex2|raw }}, {{ colors.hex4|raw }});
}
#progress-circle{
    color: {{ colors.hex2|raw }}!important
}
.v-btn.v-btn--flat.v-btn--text,
.reset-btn .v-btn__content,
.v-btn.back {
    color: {{ colors.hex2|raw }} !important;
    caret-color: {{ colors.hex2|raw }} !important;
}
.v-application .primary.v-btn,
.v-btn.next {
    background-color: {{ colors.hex2|raw }} !important;
    border-color: {{ colors.hex2|raw }} !important;
}

.outer-card .v-input.v-text-field.v-text-field--outlined.v-input--is-focused,
.outer-card .v-input.v-input--checkbox.accent--text,
.outer-card .v-input.v-input--checkbox .accent--text,
.outer-card .v-radio .accent--text,
.outer-card .v-input.v-input--switch.accent--text,
.outer-card .v-input.v-input--switch .accent--text
{
    color: {{ colors.hex2|raw }} !important;
    caret-color: {{ colors.hex2|raw }} !important;
}

.v-slider .v-slider__thumb-container .v-slider__thumb.primary {
    background-color: {{ colors.hex2|raw }} !important;
    border-color: {{ colors.hex2|raw }} !important;
}
{% endif %}