.line-through{text-decoration: line-through}
/* colors */
.vwise-blue{color:#2560a9!important}
.vwise-blue-bg{background-color:#2560a9!important}
.black-color{color:#000!important}
.black-bg{background-color:#000!important}
.gray{color:#999899!important}
.gray-bg{background-color:#999899!important}
.bright-green{color:#2a9c3d!important}
.bright-green-bg{background-color:#2a9c3d!important}
.bright-aquamarine{color:#007377!important}
.bright-aquamarine-bg{background-color:#007377!important}
.bright-aqua{color:#71c5e8!important}
.bright-aqua-bg{background-color:#71c5e8!important}
.bright-ocean{color:#003594!important}
.bright-ocean-bg{background-color:#003594!important}
.bright-purple-1{color:#753bbd!important}
.bright-purple-1-bg{background-color:#753bbd!important}
.bright-purple-2{color:#523178!important}
.bright-purple-1-bg{background-color:#523178!important}
.bright-red-1{color:#c63d45!important}
.bright-red-1-bg{background-color:#c63d45!important}
.blue-1{color:#012d49!important}
.blue-1-bg{background-color:#012d49!important}
.blue-2{color:#01436d!important}
.blue-2-bg{background-color:#01436d!important}
.blue-3{color:#0b76bb!important}
.blue-3-bg{background-color:#0b76bb!important}
.blue-4{color:#7eb7db!important}
.blue-4-bg{background-color:#7eb7db!important}
.blue-5{color:#b1d4ea!important}
.blue-5-bg{background-color:#b1d4ea!important}
.gray-1{color:#eee!important}
.gray-1-bg{background-color:#eee!important}
.gray-2{color:#e0e0e0!important}
.gray-2-bg{background-color:#e0e0e0!important}
.gray-3{color:#9a9a9a!important}
.gray-3-bg{background-color:#9a9a9a!important}
.gray-4{color:#616161!important}
.gray-4-bg{background-color:#616161!important}
.gray-5{color:#fafafa!important}
.gray-5-bg{background-color:#fafafa!important}
.gray-6{color:#9e9e9e!important}
.gray-6-bg{background-color:#9e9e9e!important}
.gray-7{color:#757575!important}
.gray-7-bg{background-color:#757575!important}
.gray-darken-3{color:#424242!important}
.gray-darken-3-bg{background-color:#424242!important}
.white-color{color:#fff!important}
.white-bg{background-color:#fff!important}
.egg-white{color:#FBFCFC!important}
.egg-white-bg{background-color:#FBFCFC!important}
/* misc */
.page-min-height{min-height:600px}
.width-100{width:100%!important}
.height-100 {height: 100%!important}
.sticky-bar{position:sticky;bottom:0;}
.scroll-div{overflow-y: scroll;}
.set-radius, .set-radius video{border-radius: 8px!important}
.z-0{z-index: 0}
.z-2{z-index: 2}
/*.v-application .error--text {*/
/*    color: #ff5252 !important;*/
/*    caret-color: #ff5252 !important;*/
/*}*/
body{font-family: Roboto;font-size:1em;line-height: 1.5em;color:#424242}
@media only screen and (max-width:960px){
    .row{margin-right:0 !important;margin-left:0 !important}
    .col-12.pl-0{padding-left:12px !important}
}
@media only screen and (max-width: 599px) {
    .padding-xs-0{
        padding-left: 0!important;
        padding-right: 0!important
    }
}