{% include ("TemplatesTemplatesBundle:Default:alert.html.twig") %}

<form id = "PlansUIForm">
<input type = "text" name = "id" value = "{{ id }}"  style = "display:none" />
{% for section in sections %}
<div class="checkbox">
	<label>
		<input type = "checkbox" value = "{{ section.value }}" class = "PlansUI" {{ section.checked }} name = "{{ section.field }}" onclick = "assignCheckboxValue(this)" /> {{ section.description }} 
	</label>
</div>	
{% endfor %}
</form>
<a class="select-all btn btn-empty btn-xs" onclick = "toggleSection('PlansUI')">Remove / Select All</a>
<hr/>
<button type = "button" class = "btn btn-primary" onclick = "updatetable('plansUI','PlansUIForm','id',plansUIAlert)">Save</button>

<script>
function plansUIAlert()
{
	showalert('saved-alert');
}
</script>

