<article id="allocate_confirm" class="confirm-allocation allocate_confirm">
    <form id="allocateConfirmForm" method="POST">
        <input type="hidden" name="pretax" value="{{data.pretaxNew}}">
        <input type="hidden" name="roth" value="{{data.rothNew}}">
        <div class="widget-title">{{ 'one_quick_note' | trans ({}, 'widget') }}</div>
        <div class="widget-text">{{ 'changing_your_allocation_warning_ext' | trans ({}, 'widget') }}</div>
        <div class="widget-text">
            <div class="checkbox">
                <input name="aca_checkbox" type="checkbox" value="1" />
                <label></label>
            </div>
            {{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}
        </div>
        <div class="buttons">
            <button class="button return">{{ 'quit' | trans ({}, 'widget') }}</button>
            <button id="connected" type="button" class="color-primary" disabled="disabled">{{ 'continue' | trans ({}, 'widget') }}</button>
        </div>
    </form>
</article>
<script>
    
$(document).on('change', 'input[name=aca_checkbox]', function() {
    $('#connected').prop('disabled', $(this).is(':not(:checked)'));
});


$(document).on('click', '#connected', function(){
    $('#spinner').fadeIn();

    var page = "{{ path('_widgets_ajax_submitContributionAllocation') }}";
    var params = $("#allocateConfirmForm").serialize();


    $.post(page, params).done(function(data)
    {
        var object = JSON.parse(data);
        
        if (!object.successOrPostContributionsOff || (object.postContributions && !object.confirmation)) {
            $('#spinner').hide();
            $('#confirmation').show().find('.error').fadeIn(1000);
            return;
        }

        if (object.postContributions) { 
            $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_connected') }}', function(){
                $("#spinner").hide();
                $(this).fadeIn(1000);
            }); 
        }
        else {
            $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_cta') }}', function(){
                $("#spinner").hide();
                $(this).fadeIn(1000);
            }); 
        }
          
    });
});
//# sourceURL=allocateConfirm.html.twig
</script>