<script>
var ticketTable;
$(document).ready(function()
{
    
  ticketTableOpen =  $('#ticketTableOpen').DataTable(
  {
    "ajax": '{{ path('_support_load_tickets')  }}?status=Open',
    {{ include('SupportSupportBundle:Default:javascript/defaultDatatablesSettings.js.twig') }}
  });
  ticketTableClosed =  $('#ticketTableClosed').DataTable(
  {
    "ajax": '{{ path('_support_load_tickets')  }}?status=Done',
    {{ include('SupportSupportBundle:Default:javascript/defaultDatatablesSettings.js.twig') }}
  });
  $( "#ticketTableForm" ).submit(function(e) 
  {
    e.preventDefault();
    var subject= $("#subject").val();
    var message = $("#message").val();

    var querystring = "subject=" + encodeURIComponent(subject) + "&message=" + encodeURIComponent(message);

    var page = "{{ path('_support_add_ticket') }}";
    $.post(page, querystring).done(function(data) 
    {
      showalert('saved-alert');
      ticketTableOpen.ajax.reload();
      ticketTableClosed.ajax.reload();
    });
  });
});
</script>