<div class="title">{{ 'investment_selector' | trans ({}, 'investments') }}{% if realignment %}{{ 'realignment_option' | trans ({}, 'investments') }}{% endif %}</div>
<div class="details investments realignment">
    <div>{{ 'investment_selections' | trans ({}, 'investments') }}<br> {% include"SpeAppBundle:Template:investments/general/displayinvestmentsection.html.twig" %}</div>
    <div class="block left">
        <table class="table table-striped fund">
            {% include"SpeAppBundle:Template:investments/general/fundheader.html.twig" %}
            <tbody>
                {% for fund in funds %}
                <tr>
                    {% for header in fundsHeader %}
                    {% if header.field == "name" %}
                    {% if fund.customUrl != "" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.customUrl}}">{{ fund.name }}</span></td>
                    {% else %}
                    <td>{{ fund.name }}</td>
                    {% endif %}
                    {% endif %}
                    {% if header.field == "percent" %}
                    <td>{{ fund.percent }} %</td>
                    {% endif %}
                    {% if header.field == "prospectUrl" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.prospectUrl}}"><i class="fa fa-file-text-o"></i></span></td>
                    {% endif %}
                    {% if header.field == "acknowledged" %}
                    <td><input type ="checkbox" class ="fundInvestmentCheck" /></td>
                    {% endif %}
                    {% if header.field == "additionalFundHeader" and fund.fundGroup.name is defined %}
                    <td>{{ fund.fundGroup.name }} </td>   
                    {% endif %}                    
                    {% endfor %}
                </tr>
                {% endfor %}                
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
    {% if realignment %}
    {% include"SpeAppBundle:Template:investments/general/" ~ realignmentFile ~".html.twig" %}
    {% endif %}
    {% if rebalance %}
    <div class="block right">
        <div class="head">{{ 'rebalance_description' | trans ({}, 'investments') }}</div>
        <div class="choice"><input type="checkbox" id="autoRebalanceCheckbox"> {{ 'rebalance_enabled' | trans ({}, 'investments') }}</div>
        {% if rebalanceFrequency %}
        <div id ="rebalanceFrequencyDiv" style="display:none">
            <div class="choice">{{ 'rebalance_howoften' | trans ({}, 'investments') }} </div>
            <select id ="rebalanceFrequency">
                <option value ="">{{ 'please_choose' | trans ({}, 'global') }}</option>
                {% for option in rebalanceFrequencyOptions %}
                <option value ="{{ option.value }}" {% if option.selected %}selected{% endif %}>{{ option.text }}</option>
                {% endfor %}
            </select>    
            <button class="btn btn-primary" type="submit" id ="rebalanceFrequencyFormButton" style="display:none"></button>
        </div>
        {% endif %}
    </div>    
    {% endif %}
</div>  
    <div class="clear"></div>

    <div class="actions">
        <a class="actionBtn left"><span class="center action-button" onclick = "investmentsBack()">{{ 'back' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right"><span class="center action-button" onclick = "investmentsSave()">{{ 'save' | trans ({}, 'global') }}</span></a>
        <div class="clear"></div>
    </div>
<div id ="alertInvestmentsRealignment" style ="display:none">{{ 'please_select_realignment_option' | trans ({}, 'alert') }}</div>
<script>
var savedFundsTemp = {{ app.request.session.get("savedFundsTemp") | json_encode() | raw }};
function investmentsBack()
{
    $.post("{{ app.request.session.get("investmentSectionUrl") }}", function(html)
    {
        $("#investmentsContainer").html(html);
    });  
}
function investmentsChecked()
{
   return  $(".fundInvestmentCheck:checked").length == $(".fundInvestmentCheck").length;
}
function investmentsFinish(postParams)
{
    var common = SectionGetData("common");
    var modules = SectionGetData("module");
    $.post("/investments/finish",postParams, function(html)
    {
        _gaq.push(['_trackEvent', 'Investments', 'Save Investments']);
        window.EventTracking.savedInvestments(savedFundsTemp);
        common.updateElections = 1;
        common.updateRealignment = postParams.realignment ? postParams.realignment : 0;
        common.rebalanceFrequency = postParams.rebalanceFrequency ? postParams.rebalanceFrequency : null;
        SectionSetData("common",common);
        if (parseInt(modules.ATBlueprint)) {
            $('body').trigger('spe:router:redirect', {to: 'myProfile', complete: 'investments'});
        }
        else {
            $('body').trigger('spe:router:redirect', {to: 'contributions', complete: 'investments'});
        }
    });      
}
function investmentsSave()
{
    {% if fundsHeader.acknowledged is defined %}
    if (!investmentsChecked())
    {
        errorMessage("{{ 'acknowledge_alert' | trans ({}, 'alert') | e("js") }}");
        return false;
    }
    {% endif %}
    postParams = new Object();
    {% if realignment %}
    if ($("[name=investmentsRealign]:checked").is(":checked"))
    {
        postParams.realignment = parseInt($("[name=investmentsRealign]:checked").val());
    }
    else
    {
        errorMessage($("#alertInvestmentsRealignment").text());
        return false;
    }
    {% endif %}
    {% if rebalance %}
        postParams.rebalance = $("#autoRebalanceCheckbox").is(":checked") ? 1:0;
        if ($("#rebalanceFrequency").is(":visible"))
        {
            postParams.rebalanceFrequency = $("#rebalanceFrequency").val();
            if (postParams.rebalanceFrequency  === "")
            {
                errorMessage('{{ 'select_rebalance_option' | trans ({}, 'investments') }}');
                return false;
            }
        }
    {% endif %}
    investmentsFinish(postParams);  
}
{% if app.request.session.get("investmentSectionTemp") == "CUSTOM" %}
$('body').trigger('spe:disclosure:show', { title: 'customReview'});
{% endif %}
{% if app.request.session.get("investmentSectionTemp") == "TARGET" %}
_gaq.push(['_trackEvent', 'Investments', 'Proceed', 'Target Date Investment']);
$('body').trigger('spe:disclosure:show', { title: 'targetDateReview'});
{% endif %} 
{% if app.request.session.get("investmentSectionTemp") == "RISK" %}
$('body').trigger('spe:disclosure:show', { title: 'riskBasedReview'});
{% endif %}
{% if app.request.session.get("investmentSectionTemp") == "DEFAULT" %}
_gaq.push(['_trackEvent', 'Investments', 'Proceed', 'Default Investment']);    
{% endif %}
$( "#autoRebalanceCheckbox" ).change(function() 
{
  $("#rebalanceFrequencyDiv").toggle();
});
</script>

