{% spaceless %}
{% if app.request.session.get("investmentSectionTemp") == "CUSTOM" %}
{{ 'custom_choice' | trans ({}, 'investments') }}

{% elseif app.request.session.get("investmentSectionTemp") == "RISK" %}
{% if app.request.session.get("plan").riskType == "RBP" %}
{{ 'risk_title_default' | trans ({}, 'investments') }}
{% else %}{{ 'risk_title_rbf' | trans ({}, 'investments') }}
{%endif %}

{% elseif app.request.session.get("investmentSectionTemp") == "DEFAULT"  %}
{{ 'default_investment' | trans ({}, 'investments') }}

{% else %}
{{ 'target_title' | trans ({}, 'investments') }}
{% endif %}
{% endspaceless %}