{% set audioFile = audio| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set audioautoplay = false %}
{% if advice is not defined %}
{% set advice = false %}
{% endif %}
{% set fullwidth = fundsHeader | length > 5 or advice %}
<div class="title" style ="padding-bottom:10px">{{ 'investment_selector' | trans ({}, 'investments') }} {% if advice %} {{ 'recommended_fund_allocation' | trans ({}, 'investments') }} {% else %}{% include"SpeAppBundle:Template:investments/general/displayinvestmentsection.html.twig" %}{% endif %} </div> 
<div class="details investments">
    {% if advice %}<div class="smart401k_allocation_note">{{ 'smart401k_allocation_note' | trans ({}, 'investments') }}</div>{% endif %}
    {% if sectionDescription is defined and sectionDescription %}
    <div class="smart401k_allocation_note">{{ sectionDescription }}</div>
    {% endif %}
    <!-- start block left-->    
    <div {% if not fullwidth %}class="block left"{% else %}class="center" style="overflow-x:hidden; max-height:230px;background-color:white;padding:5px 5px 5px 0px!important"{% endif %}>                   
        <table class="table table{% if not fullwidth %}}-striped{%endif %} fund">
            {% include"SpeAppBundle:Template:investments/general/fundheader.html.twig" %}
            <tbody>
                {% for fund in funds %}
                {% if fund.display %}
                <tr>
                    {% for header in fundsHeader %}
                    {% if header.field == "name" %}
                    {% if fund.customUrl != "" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.customUrl}}">{{ fund.name }}</span></td>
                    {% else %}
                    <td>{{ fund.name }}</td>
                    {% endif %}
                    {% endif %}
                    {% if header.field == "percent" %}
                    <td><input type ="text"  class ="investmentFund" id ="investmentFund{{fund.id}}" value ="{{fund.currentElection}}" data-id ="{{fund.id}}" data-orgval="{{fund.currentElection}}" {% if fund.step %}data-step ="{{fund.step}}"{%endif %} onpaste="return false;" /> %</td>
                    {% endif %}
                    {% if header.field == "currentElection" %}
                    <td><input type ="text" disabled value ="{{fund.currentElection |round(1, 'floor') }}" /> %</td>
                    {% endif %}
                    {% if header.field == "pendingElection" %}
                    <td><div class ="box">{{fund.pendingElection |round(1, 'floor') }}</div></td>
                    {% endif %}
                    {% if header.field == "assetClass" %}
                    <td>{{fund.assetClass }}</td>
                    {% endif %}
                    {% if header.field == "prospectUrl" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.prospectUrl}}"><i class="fa fa-file-text-o"></i></span></td>
                    {% endif %}
                    {% if header.field == "performanceUrl" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.performanceUrl}}"><i class="fa fa-file-text-o"></i></span></td>
                    {% endif %}
                    {% if header.field == "redemptionFeeMessage" %}
                    <td>{% if fund.redemptionFeeMessage != "" %}<span class="highlight redemption-click" style="cursor: pointer;" onclick ="showRedemptionFeeMessage('{{ fund.name | escape("js")  }}','{{ fund.redemptionFeeMessage | escape("js")  }}')"><i class="fa fa-usd" style="font-size:20px;"></i></span>{%endif %}</td>
                    {% endif %}
                    {% if header.field == "fundFact" %}
                    <td><span class="popupLink highlight" data-link="{{ fund.customUrl}}"><i class="fa fa-file-text-o"></i></span></td>
                    {% endif %}
                    {% if header.field == "risk" %}
                    <td>{{ fund.riskDescription }}</td>
                    {% endif %}
                    {% if header.field == "additionalFundHeader" and fund.fundGroup.name is defined %}
                    <td>{{ fund.fundGroup.name }} </td>   
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <!-- end block left -->
    <!-- start block right -->
    {% if not advice   %}
    <div class="{% if not fullwidth %}block right{% else %}center omniBlock{% endif %}" >
        <div class="head">{{ 'other_head' | trans ({}, 'investments') }}</div>
        <div class="desc" style="text-align:left;">{{ 'investment_selection_desc' | trans ({}, 'investments') }}</div>
        <div class="head" style="padding-bottom:40px">{{ 'your_total_must_equal' | trans ({}, 'investments') }}</div>
    </div>
    <!-- end block right -->
    <div class="clear"></div>
    {% endif %}
</div>
<div class="actions">
    <div class="pad-bottom-20" style="float:right;">
        <a class="actionBtn right"  data-count="2"><span class="center action-button" onclick ="investmentsCalculate(false)">Calculate</span></a>
        <a class="actionBtn right" style="margin-right:15px;" data-count="2"><span class="center action-button" onclick ="investmentsReset()">{{ 'reset' | trans ({}, 'global') }}</span></a>
        <div class="right total">{{ 'total' | trans ({}, 'investments') }} <input size="3"  value="0" disabled="" type="text" id="investmentsTotal"> %</div>
        <div class="clearfix"></div>
    </div>
    <div style="float:left">   
        {% if not advice %}<a class="actionBtn left" data-page="1" data-type="3"><span class="center action-button" onclick ="$('body').trigger('spe:router:redirect','investments')" >{{ 'back' | trans ({}, 'global') }}</span></a></div>{% endif %}
        <a class="actionBtn right" style ="display:none" id="investmentsProceed" onclick ="investmentsProceed()" ><span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span></a>
    <div class="clearfix"></div>
</div>

<div id ="alertInvestments100pct" style ="display:none">{{ 'please_make_sure_selection_up_to_100' | trans ({}, 'alert') }}</div>            
<script>
var adviceFundChangedAgreed = false;
var funds = new Object();
{% for fund in funds %}
var fund = new Object();
fund.redemptionFeeMessage = "{{fund.redemptionFeeMessage | escape("js") }}";
fund.name = "{{ fund.name | escape("js") }}";
funds["{{ fund.id | escape("js") }}"] = fund;    
{% endfor %}
var savedInvestments;
$( ".investmentFund" ).keydown(function() 
{
    var previousValue = $(this).val();
    var id = $(this).data("id");
    var step = $(this).data("step");
    var change = false;
    setTimeout
    (
        function()
        {
            var investment = $("#investmentFund" + id);
            if ($.isNumeric(investment.val()))
            {
                if (typeof step !== 'undefined')
                {
                    if (investment.val().indexOf('.') != -1 && investment.val().substr(investment.val().indexOf('.')).length > 1)
                    {
                        var afterDot = investment.val().substr(investment.val().indexOf('.'));
                        var afterDotStep = step.toString().substr(step.toString().indexOf('.'));
                        if (parseFloat(afterDot))
                        {
                            var multiplier= 1;
                            for (var j = 0; j < (afterDot.length-1); j++)
                            {
                                multiplier = multiplier * 10;
                            }
                            var multiStep = Math.round(parseFloat(step) * multiplier);
                            var multiValue = Math.round(parseFloat(investment.val()) * multiplier);
                            if (multiValue % multiStep  != 0 || afterDotStep.length < afterDot.length)
                            {
                                change = true;
                            }
                        }
                    }
                }
            }
            if (change == true ||  ( (investment.val().slice("-1") != "." || investment.val().split(".").length > 2) && !$.isNumeric(investment.val()) && investment.val() != "" ) || (step == 1 && investment.val().slice("-1") == "." ) )
            {
                if (previousValue.slice(-1) == "." && (!(investment.val().split(".").length > 2)))
                {
                    previousValue = previousValue.replace(".","");
                }
                investment.val(previousValue);
            }
        }
    , 
        10
    );
    
});
{% if advice %}
$( ".investmentFund" ).blur(function() 
{
    if (!adviceFundChangedAgreed)
    {
        if ($(this).val() != $(this).data("orgval"))
        {
            adviceFundChangedAgreed  = true;
            bootbox.dialog
            ({
                closeButton: false,
                title: "{{ 'smart401_allocation_title' | trans ({}, 'investments') | e("js")}}",
                message: "{{ 'smart401_allocation_message' | trans ({}, 'investments') | e("js")}}",
                buttons: {
                    cancel: {
                        label: "{{ 'cancel' | trans ({}, 'global') | e("js")}}",
                        className: "btn-default",
                        callback: function() {
                            this.modal('hide');
                            _gaq.push(['_trackEvent', 'Investments', 'Popup', 'Change Recommended  - Cancel']);
                            $('body').trigger('spe:router:redirect','investments');
                        }
                    },
                    ok: {
                        label: "{{ 'ok' | trans ({}, 'global') | e("js")}}",
                        className: "btn-success",
                        callback: function() {
                            this.modal('hide');
                            adviceFundChangedAgreed = true;
                            _gaq.push(['_trackEvent', 'Investments', 'Popup', 'Change Recommended  - OK']);
                        }
                    }
                }
            });            
        }
    }    
});
{% endif %}
function investmentsCalculate(first)
{
    var total = 0;
    $.each($(".investmentFund"), function( ) 
    {
        if (parseFloat($(this).val()) > 0)
        {
            total = total + parseFloat($(this).val());
        }
    });
    $("#investmentsTotal").val(total);
    if (total == 100)
    {
        savedInvestments = new Array();
        $("#investmentsProceed").show();
        $.each($(".investmentFund"), function( ) 
        {
            if (parseFloat($(this).val()) > 0)
            {
                var investment = new Object();
                investment.percent = parseFloat($(this).val());
                investment.id = $(this).data("id");
                if (funds[investment.id].redemptionFeeMessage != "")
                {
                    showRedemptionFeeMessage(funds[investment.id].name,funds[investment.id].redemptionFeeMessage);
                }
                savedInvestments.push(investment);
            }
        });
    }
    else
    {
        if (!first)
        {
            errorMessage($("#alertInvestments100pct").text());
        }
        $("#investmentsProceed").hide();
    }
}
function investmentsReset()
{
    $.post("{{ app.request.session.get("investmentSectionUrl") }}", function(html)
    {
        $("#investmentsContainer").html(html);
    });  
}
function investmentsProceed()
{
    $.post("/investments/confirm",{"funds": savedInvestments}, function(html)
    {
        $("#investmentsContainer").html(html);
    });   
}
function showRedemptionFeeMessage(title,message)
{
    bootbox.alert({
    message: message,
    title: title,
        buttons: 
        {
            ok: 
            {
                label: '{{ 'ok' | trans ({}, 'alert') }}',
                className: 'btn btn-success'
            }
        }
    });    
}
investmentsCalculate(true);
{% if not advice %}
$("#investmentsProceed").hide();
{% endif %}
{% if app.request.session.get("investmentSectionTemp") == "CUSTOM" %}
_gaq.push(['_trackEvent', 'Investments', ' Proceed ', 'Custom Choice']);
$('body').trigger('spe:disclosure:show', { title: 'customChoice'});
{% endif %}
{% if app.request.session.get("investmentSectionTemp") == "TARGET" %}
$('body').trigger('spe:disclosure:show', { title: 'targetMonthlyContribution'});
{% endif %} 
</script>

