<div class="block right">
        <table >
            <tr>
                <td style="min-width:0px">
                    <input type="checkbox" id="realignmentCheckbox" />
                </td>
                <td>
                    {{ 'realignmentNew' | trans ({}, 'investments') }}
                </td>
            </tr>
        </table>
        <input name="investmentsRealign"  value="1" type="radio" style="display:none">
        <input name="investmentsRealign"  value="0" type="radio" style="display:none" checked>
</div>
<script>
$( "#realignmentCheckbox" ).click(function() 
{
  var value = $("#realignmentCheckbox").is(":checked") ? 1:0;
  $("[name=investmentsRealign]").prop("checked", false);
  $("[name=investmentsRealign][value=" + value + "]").prop("checked", true);
});
</script>