<div class="block right" style="font-size:smaller;line-height:18px;">
    <div class="head" style="padding-bottom:10px">{{ 'apply_my_investment_selections_to' | trans ({}, 'investments') }}</div>
    <table>
        <tr>
            <td style="min-width:0px">
                <input name="investmentsRealign"  value="0" type="radio">
            </td>
            <td>
                 {{ 'future_contributions_only' | trans ({}, 'investments') }}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="min-width:0px">
                <input style="" name="investmentsRealign"  value="1" type="radio">
            </td>
            <td>
                 {{ 'my_current_balance_future_contributions' | trans ({}, 'investments') }}
            </td>
        </tr>
    </table>
</div>