{% extends('PathsPathsBundle:Default:configure/configure.html.twig') %}
{% block sectionContent %}
<h3>Content</h3>
{{ render(controller('PathsPathsBundle:Content:index')) }}
<h3>Videos</h3>
{{ render(controller('PathsPathsBundle:PlayList:load', {'playlist': 'planBasics'})) }}
{% endblock %}