<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
<form id="userform">
	<table class="table">
		<tr class="active">
			<td>
				Api User ID
			</td>
			<td>
				Api ID
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divApiUserId">
					<input type="number" value = "" placeholder = "1" name="apiUserId" id = "apiUserId" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divApiId">
					<input type="number" value = "" placeholder = "1" name="apiId" id = "apiId" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr class="active">
			<td colspan = "2">
				Enabled
			</td>
		</tr>
		<tr>
			<td colspan = "2">
			<div class="form-group" id="divEnabled">
				<select class="form-control" name="enabled" id="enabled">
					<option>Yes</option>
					<option>No</option>
				</select>
			</div>
			</td>
		</tr>
		<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-info" onclick = "adduserauth()">Add</button>
		</td>
		</tr>
	</table>
</form>

<script>
    function adduserauth()
    {
        $('div').removeClass("has-error");
        $('#errormsg').hide();
        $('#nowhitespace').hide();
        var page = "{{ path('_manage_API_addApiUserAuthSaved') }}";

		$.post(page, $('#userform').serialize()).done(function(data) {
            ApiUserAuthTable.fnDraw(false);
			closeLightBox();
		});

    }
</script>