{{ include ('ManageManageBundle:ApiUI:index.html.twig', {'currentpage':"ApiUserAuth"}) }}

<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_API_addApiUserAuth') }}','Add User Auth')">Add User Auth</button>
</br></br>

{% set header = "<th>Id</td><td>Username</td><td>Controller/Method</td><td>Enabled</td><td width = \"100\">Actions</td>" %}
{% set unsearchableArray = [4] %}
{% set url = path('_manage_API_searchApiUserAuth') %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

</div></div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}