{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},

	"{{account.company}}",
	"{{account.partnerid}}",
	
	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Keys for {{account.company}} \" aria-label=\"Duplicate\" class=\"glyphicon glyphicon-th-list\" onclick = \"ajaxModal('{{ path('_manage_api_list_keys') }}?id={{account.id }}','List Keys for {{ account.company }}','large')\"></span>"
	
]
{% endfor %}


   
   
           
