<div id="riskProfile" class="reportBox">
    <div class="boxTitle">{{ "ADP_risk_profile" | trans ({}, "risk_profile") }}</div>
    <div class="clear"></div>

    <!-- Investor Type-->
    <div class="rowDark">
        <div style="float:left">{{ "investor_profile_score" | trans ({}, "investments") }} = {{ riskProfile.totalPoints }}</div>
        <div style="float:right"></div>
        <div class="clear"></div>
    </div>

    <!-- Detailed Report -->
    <div class="info">{{ "to_view_your_personal_investor_profile_answers" | trans ({}, "my_profile") }}</div>
    {% include "SpeAppBundle:Template:myprofile/riskprofile/riskQuestions.html.twig" %}
</div>