<div id="riskProfile" class="reportBox">
    <div class="boxTitle">{{ "risk_profile" | trans ({}, "my_profile") }}</div>
    <div class="clear"></div>

    <!-- Investor Type-->
    <div class="rowDark">
        <div style="float:left">{{ "investor_type" | trans ({}, "my_profile") }}:</div>
        <div style="float:right">{{ riskProfile.translations.investorLabel.key | trans ({}, riskProfile.translations.investorLabel.source) }}</div>
        <div class="clear"></div>
    </div>

    <!-- Investor Details -->
    <div class="rowLight">
        <div style="float:left;width:360px">{{ riskProfile.translations.investorDescription.key | trans ({}, riskProfile.translations.investorDescription.source) }}</div>
        <div style="float:right"><img src="{{ asset(riskProfile.profileBar) }}" alt="" align="right"></div>
        <div class="clear"></div>
    </div>
    {% block contentBeforeQuestionList  %}
        
    {% endblock %}
    <!-- Detailed Report -->
    <div class="info">{{ "to_view_your_risk_profile_answers" | trans ({}, "my_profile") }}</div>
    {% include "SpeAppBundle:Template:myprofile/riskprofile/riskQuestions.html.twig" %}
</div>