<div class="info">
    <select name="RPQuestionSet" class="question" style="width:400px;" onchange ="myProfile.loadRiskAnswer(this.value)">
        <option value="">{{ "select_question" | trans ({}, "my_profile") }}</option>
        {% for question in riskProfile.riskQuestions %}
        <option value="{{ question.profilesRiskProfileAnswers.answer }}">{{ question.profilesRiskProfileQuestions.question }}</option>
        {% endfor %}
    </select>
</div>
<div class="info answer" id="riskAnswer"></div>
<div class="clear"></div>
