{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Messaging'
    })) }}
    
   
<strong>Messaging</strong>
<br/>
<br/>
{% for message in messages %}

<br/>
<strong>{{ message.description }}</strong>

<br/>
<br/>
{{ message.value }}
<hr/>
{% endfor %}
