{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Messaging Panes'})) }}

{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}
<form role="form" id="plan-messaging" method="post" action="">

    {{ include ("SharedGeneralBundle:Default:progressbar.html.twig")  }}

    <h2>Messaging Panes</h2>

{% if writeable %}
    <p class="well well-lg"><span class="glyphicon glyphicon-info-sign"></span> Click on any of the messaging pane headers to view and edit the text for that messaging pane.  Be sure the "Active" box is checked for all panes you wish to display in SmartPlan.  You must click Save at the bottom of the bottom of the page for any changes to take effect.</p>

{% if defaultMessages is defined   %}
<br/>
<br/>

<button type="button" class="btn btn-success" id = "defaultMessagingButton">Use Default Messages</button>

{% endif %}
{% endif %}
{% for message in messages %}
<h3>{{ message.title }}</h3> 
{% for row in message.data %}
{% set section = row.section %}
{% set records = row.records %}
<div class="panel panel-default" id="{{ section.name }}-panel">
	<div class="panel-heading">
		<a class="collapsed pull-left" data-toggle="collapse" href="#{{ section.name }}-body" aria-expanded="false" aria-controls="{{ section.name }}-body"><strong>{{ section.description }}</strong></a>
		<div class="checkbox pull-right">
                        {% for record in records %}
                        {% if loop.index == 1 %}
			<label><input type="checkbox"  {% if record.active %}checked{% endif %} name ="{{ section.name}}Active" class="active_{{ section.name}}"  /> Active</label>       
                        {% endif %}
                        {% endfor %}
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="{{ section.name }}-body" class="panel-collapse collapse" role="tabpanel">
		<div class="panel-body">
                        
                        <ul class="nav nav-tabs" id ="languageTabs{{section.name}}">
                            {% for record in records %}
                            <li role="presentation" {% if loop.index == 1 %}class="active"{% endif %} onclick ="showMessagingPane('{{ section.name}}','{{record.language.name}}')" id ="{{ section.name}}_{{record.language.name}}_li" ><a>{{ record.language.description }}</a> </li>  
                            {% endfor %}
                        </ul>
                        {% for record in records %}
                        <div id ="{{ section.name}}_{{record.language.name}}" class ="{{ section.name}}" {% if loop.index > 1 %}style ="display:none"{% endif %}>
                            <textarea name="{{section.name}}_{{record.language.name}}"  class="form-control" maxlength="65535">{{ record.value }}</textarea>
                            <p class="help-block">65,535 chars maximum. <span class="chars-remaining_{{section.name}}_{{record.language.name}}"></span></p>
                        </div>
                        {% endfor %}
		</div>
	</div>
</div>
{% endfor %}
{% endfor %}
{% if writeable %}
<hr/>
<input type ="hidden" name ="userid" value ="{{ app.session.get("userid") }}" />
{% if planid is defined %}
<input type ="hidden" name ="planid" value ="{{ app.session.get("planid") }}" />
{% endif %}
<button type="submit" id="save-btn" class="btn btn-success">Save</button>
{% if pagetype is defined and pagetype == "settings" %}
    <button type = "button" class="btn btn-info" id="save-and-update-btn">Save and Update Existing</button>
    <a href = "{{path('shared_general_default_select_plans_helper')}}/Messages" class="btn btn-primary">Update Some Plans With Defaults</a>
{% endif %}
{% endif %}
</form>
<script>
function showMessagingPane(section,language)
{
    $("." + section).hide();
    $("#" + section + "_" + language).show();
    $("#languageTabs" + section + " li").removeClass("active");
    $("#" + section + "_" + language + "_li").addClass("active");
} 
$("#plan-messaging").submit(function( event ) 
{
    event.preventDefault();
    var querystring = $(this).serialize();
    var page = "{{ path('_plans_messaging_save') }}";
    $.post(page, querystring).done(function(data) 
    {
        showalert("saved-alert");
    });
});
$('textarea').bind('keyup paste change', function()
{
        var remaining = parseFloat($(this).attr('maxlength')) - $(this).val().length + ' remaining';
        $('.chars-remaining_' + $(this).attr("name")).text(remaining);
});
$( "#defaultMessagingButton" ).click(function() 
{
    $.post("{{ path('_plans_messaging_defaultMessages') }}").done(function(messages) 
    {
        var recordsValue = messages.values;
        var recordsActive = messages.actives;
        for (var i = 0; i < recordsValue.length;i++)
        {
            $("[name=" + recordsValue[i].id + "]").val(recordsValue[i].value);
            $("[name=" + recordsActive[i].id + "]").prop("checked",recordsActive[i].active);
        }
    });    
});

$('#save-and-update-btn').click(function() {
    $('#save-btn').click();
    saveAndUpdate('Messages');
})

</script>
{{ include ("SharedGeneralBundle:Default:javascript/index.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}