<div class="panel panel-warning" id = "deleteFundPanel">
	<div class="panel-heading">
		<h3 class="panel-title">Delete Portfolio</h3>
	</div>
	<table class="table table-bordered">
		<tr class = "active">
		    <td colspan = "2">
		    	Name
		    </td>		   
		</tr>
		<tr>
			<td>
				{{ portfolio.name }} 
			</td>
			<td>
				<a href = "javascript:deletePortfolio('{{ portfolio.id }}')" class = "ajaxcontent"><span class = "glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>