
<div class="panel panel-warning" id = "deleteFundPanel">
  <div class="panel-heading">
    <h3 class="panel-title">Delete Fund</h3>
  </div>

	<table class="table table-bordered">
		<tr class = "active">
		    <td>
		    	Name
		    </td>
		    <td>
		    	Ticker
		    </td>
		    <td colspan = "2">
		    	Link
		    </td>
		</tr>
		<tr>
			<td>
				{{ fund.name }}
			</td>
			<td>
				{{ fund.ticker }}
			<td>
				{{ fund.link }}
			</td>
			<td>
				<a href = "javascript:deleteFund('{{ fund.id }}')" class = "ajaxcontent"><span class = "glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>


<div id = "deleteFundPanelError"  class="alert alert-danger" style = "display:none">test</div>