{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ item.id }},
	"{{ item.name }} {{ item.customid }}","<a href = \"javascript:ajaxModal('{{ path('_'~controller~'_investments_portfolio_show_funds') }}/?portfolioid={{ item.id }}','View Funds - {{ item.name }}')\" class = \"ajaxcontent\"><span class = \"glyphicon glyphicon-list\"></span></a>"
]
{% endfor %}