
{% for item in items %}
<li value = "*seperator*{{ item.id }}*seperator*" class="list-group-item" onmouseover = "highlightElement(this)" onmouseout ="unhighlightElement(this)" style = "cursor:grab">{{ item.name }}</li>
{% endfor %}
