{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
  {{ item.id }},
  "{{ item.name }}",
  "<span class =\"glyphicon glyphicon-edit\" onclick =\"ajaxModal('{{app.request.get("editurl") }}?id={{item.id}}','Edit Risk Based Fund')\"></span> <span class =\"glyphicon glyphicon-remove\" onclick =\"ajaxModal('{{app.request.get("deleteurl") }}?id={{item.id}}','Delete Risk Based Fund')\" ></span>"
]
{% endfor %}