
{% if funds | length > 0 %}
<table class="table table-bordered">
	<tr class = "active">
		<td>
			Name
		</td>
		<td>
			Ticker
		</td>

	</tr>
{% for fund in funds %}
	<tr>

		<td>
			{{ fund.name }}
		</td>

		<td>
			{{ fund.ticker }}
		</td>

	</tr>
{% endfor %}
{% else %}
No funds
{% endif %}