
{% for section  in sections %}
{% include ('ManageManageBundle:Accounts:accountsection.html.twig') %}
{% endfor %}
<br/>
<input type = "button"  value = "Add"  class="btn btn-info" onclick = "addaccount()" />
		
