{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Api key Manager - Test Version'})) }}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addapi">Add Api Account</button>
<br/><br/>


<table id="apikeys" class="display" width="100%" cellspacing="0" >
    <thead>
          <tr>
                <th>Account ID</th>

          </tr>
    </thead>       
</table>

{% include ('ManageManageBundle:Accounts:apitestaddapilightbox.js.twig') %}

{% include ('ManageManageBundle:Accounts:apitesteditapilightbox.js.twig') %}

{% include ('ManageManageBundle:Accounts:apitestdeleteapilightbox.js.twig') %}

{% include ('ManageManageBundle:Accounts:javascript/apitest.js.twig') %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}