{
  "data": 
  [
      {% for APIAccount in APIAccounts %}
      {% if loop.index > 1 %},{% endif %}
      [
      "{{ APIAccount.userid }}",
      "{{ APIAccount.apiKey }}"

      ]
      {% endfor %}
  ]
}



