{% set tablename = "accounts" %}
{% set table = "accounts" %}
{% set firstcolumnviewable = true %}
{% set types = "a.id,a.company,a.partnerid" %}
{% set header = "<th>Account Id</th><th>Company</th><th>Partner Id</th><th>Actions</th>" %} 

{% set extraparameters= ",id:" ~ plan.id ~',planid:"' ~ plan.planid ~'"' %}


{% set template = 'ManageManageBundle:Accounts:Search/copyplantoanotheraccount.html.twig' %}  
<script>
function redrawAccounts()
{
	accountsTable.fnDraw(false);
}
</script>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
