
<div class="alert alert-warning" role="alert"><b>Warning:</b> Deleting this account will remove all users from this account and plan data.  This process cannot be reverted</div>
<br/>
	<input type = "button"  value = "delete" class="btn btn-danger" onclick = "deleteaccount({{ account.id }})" />
		