{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Accounts'})) }}
{% if writeable %}    
<div style = "line-height:60px"> 
	<a href = "javascript:ajaxModal('{{ path('_manage_accounts_add_account') }}','Add Account','medium')" class = "ajaxcontentnoscroll"  ><input type = "button"  value = "Add Account" id = "generalinfobutton" class="btn btn-info" style = "float:left" /></a>
        <button class ="btn btn-primary" onclick = "ajaxModal('{{path('_manage_system_messages_sendmessage_all') }}','Send Message to all Users','large')" style ="float:left;margin-left:5px">Send Message to all Users</button> 
        {% if roleType == "vwise_admin" %}<button id = "toggleFilterButton" type = "button" onclick = "toggleAccounts()" class = "btn btn-success" style = "float:right">Show All</button>{% endif %}
        <br/>
</div>
{% endif %}

<div id = "accountsTableParentDiv">
{% include "ManageManageBundle:Accounts:accountdatatableoptions.html.twig" %}
</div>

{% include('ManageManageBundle:Accounts:javascript/index.js.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}