{% if app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}
{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %} allocate_confirm{% endblock %}

{% block slideContent %}
 
<h1>{{ 'one_quick_note' | trans ({}, 'widget') }}</h1>
<p>{{ 'changing_your_allocation_warning' | trans ({}, 'widget') }}</p>
<h3 class="color-primary">
<div class="checkbox">
	<input name="aca_checkbox" type="checkbox" value="1" />
	<label></label>
</div>
{{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}
</h3>
<div class="buttons">
	<button id="allocate{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}{% else %}finish{%endif%}" type="button" class="color-primary aca-button" disabled="disabled">{{ 'continue' | trans ({}, 'widget') }}</button>
	<button id="manual" type="button" class="transparent">{{ 'no_msg' | trans ({}, 'widget') }}</button>
</div>
{% endblock %}

{% endif %}
