{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %}allocate-contribution{% endblock %}

{% block slideContent %}

<form id="allocateForm">
<input id ="partDeferralSetting"type ="hidden" value ="{{ app.session.get("rkp").plan_data.partDeferralSetting }}" />
{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
<input type="hidden" name="maxMatch" value="{{ data.maxMatchFlatDollar }}" />
{% else %}
<input type="hidden" name="maxMatch" value="{{ data.maxMatch }}" />
{% endif %}
  <h2>{{ 'allocate_contribution' | trans ({}, 'widget') }} {{ include('WidgetsBundle:Default:maxmatch.html.twig') }}</h2>

  <div id="slider">

    <div id="allocate_pretax" class="allocate-val">
      <h5>
        {{ 'pretax' | trans ({}, 'widget') }}
        <i class="icon-info" data-interface="tooltip" data-position="top-left" data-title="none" data-theme="white" data-content="{{ 'tooltip_pretax' | trans ({}, 'widget') }}" data-shift="0" data-trigger="click" data-trigger-on="click" data-triggeroff="click"></i>
      </h5>
      <h1 class="rev">
        {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                $<output></output>
        {% else %}
                <output></output>%
        {% endif %}
      </h1>
    </div>



    <div id="allocate_roth" class="allocate-val">
      <h5>
        {{ 'roth' | trans ({}, 'widget') }}
        <i class="icon-info" data-interface="tooltip" data-position="top-right" data-title="none" data-theme="white" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0" data-trigger="click" data-trigger-on="click" data-triggeroff="click"></i>
      </h5>
      <h1 class="rev">
        {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                $<output></output>
        {% else %}
                <output></output>%
        {% endif %}
      </h1>
    </div>

    <div id="allocate_slider"></div>

  </div>

  <button id="connected" type="button" class="color-primary">{{ 'continue' | trans ({}, 'widget') }}</button>

  <button id="" type="button" class="transparent"><span id="close">{{ 'close_msg' | trans({}, 'widget') }}</span></button>

</form>

{% endblock %}
