{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h2>{{ 'your_current_balance' | trans ({}, 'widget') }}</h2>
<h5>{{ 'current_plan_balance' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup><span class="odometer data_balance" data-odo-end="0">0</span>
</div>

{% endblock %}
