{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %} error{% endblock %}

{% block slideContent %}

<h2>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h2>
<h3>{{ 'we_encountered_an_error_while_processing' | trans ({}, 'widget') }}<br />{{ 'please_try_again_later' | trans ({}, 'widget') }}</h3>
<button type="button" class="color-primary return">{{ 'close_msg' | trans ({}, 'widget') }}</button>

{% endblock %}
