{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %} connected-thank-you{% endblock %}

{% block slideContent %}

<h1>{{ 'thankyou_msg' | trans ({}, 'widget') }}</h1>
<h3>{{ 'email_confirmation_msg' | trans ({}, 'widget') }}</h3>

{% endblock %}
