{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h2>{{ 'employer_has_contributed' | trans ({}, 'widget') }}</h2>
<h5>{{ 'employer_contribution' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup><span class="odometer data_currentYTDMatch" data-odo-end="0">0</span>
</div>

{% endblock %}
