{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<p class="single">{{ 'increasing_your_pre_tax' | trans ({}, 'widget') }} {{ include('WidgetsBundle:Default:maxmatch.html.twig') }} {{ 'something_like' | trans ({}, 'widget') }}</p>
<h5>{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup><span class="odometer data_projectedIncomeMax" data-odo-end="0">0</span><sub>{{ 'at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub>
</div>
<h5>Estimated Monthly Payout:</h5>
<div class="figure">
  <sup>$</sup><span class="odometer data_projectedMonthlyIncomeMax" data-odo-end="0">0</span><sub>{{ 'at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub>
</div>

{% endblock %}
