{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block classes %} cta{% endblock %}

{% block slideContent %}
 
  <h2>{{ 'contribution_to' | trans ({}, 'widget') }} {{ include('WidgetsBundle:Default:maxmatch.html.twig') }}?</h2>
  <p>{{ 'with_an_estimated_monthly_payout_at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }} {{ 'of' | trans ({}, 'widget') }} $<span class="data_projectedMonthlyIncomeMax"></span></p>
  <button id="allocate{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}{% elseif app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}aca{% else %}finish{%endif%}" type="button" class="color-primary">{{ 'yes_msg' | trans ({}, 'widget') }}</button>
  <button id="manual" type="button" class="transparent">{{ 'no_msg' | trans ({}, 'widget') }}</button>

{% endblock %}
