{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}
{% block slideContent %}

<h1>{{ 'pretax_vs_roth' | trans({}, 'widget') | raw }}</h1>

<h5>{{ 'traditional_pretax' | trans({}, 'widget') }}</h5>
<p>{{ 'taxes_come_due' | trans({}, 'widget') }}</p>
<h5>{{ 'roth' | trans ({}, 'widget') }}</h5>
<p>{{ 'operates_in_reverse' | trans ({}, 'widget') }}</p>

{% endblock %}
