{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}
{% block slideContent %}

<h1><img style="width:20vw;" src="{{ asset('w/img/icon-stairs.svg') }}"></h1>

<h2>{{ 'should_i_pay_taxes_now' | trans({}, 'widget') }}</h2>

<p>{{ 'the_answer_depends' | trans({}, 'widget') }}</p>

<p>{{ 'for_example' | trans({}, 'widget') }}</p>

{% endblock %}
