{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h2>{{ 'contributing_at_the_same_rate' | trans ({}, 'widget') }}</h2>
<h5>{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h5>
<div class="figure">
    <sup>$</sup><span class="odometer data_projectedIncome" data-odo-end="0">0</span>
</div>
<sub>{{ 'at_age_2' | trans ({}, 'widget') }} <span class ="data_retireAge"></span> {{ 'anos_2' | trans({}, 'widget') }}</sub>
<h5>{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h5>
<div class="figure">
    <sup>$</sup><span class="odometer data_projectedMonthlyIncome" data-odo-end="0">0</span>
</div>
<sub>{{ 'at_age_2' | trans ({}, 'widget') }} <span class ="data_retireAge"></span> {{ 'anos_2' | trans({}, 'widget') }}</sub>

{% endblock %}
