<script>
var adviceStatus = "{{ adviceStatus }}";

function toggleAdvice()
{
	{% if currentuser.connectionType == "Relius" %}
	var page = "{{ path('_recordkeepers_relius_update_advice') }}";
	{% elseif currentuser.connectionType starts with "SRT" %}
	var page = "{{ path('_recordkeepers_srt_update_advice') }}";
	{% endif %}

	var querystring = "planid={{ currentplan.activePlanid }}";

	$.post(page, querystring).done(function(data) 
	{
		
		$("#advice-loading-icon").html('');
		window.location = "{{ path('_plans_advice') }}";
	});

  	$("#advice-loading-icon").html('Saving <img src = "{{ asset('images/load-icon.gif') }}" />');
}


function submitAdviceFunds()
{
	var funds = $("input[name=adviceFunds]");
	var fundString = "";
	for (i = 0; i < funds.length; i++)
	if (funds[i].checked)
	{
		if (fundString == "")
		fundString = funds[i].value;
		else
		fundString = fundString + "," + funds[i].value;
	}

	var querystring = "adviceFunds=" + fundString;
	
	var page = "{{ path('_plans_advice_submit_advice_funds') }}";
	
	$.post(page, querystring).done(function(data) 
	{
		
		window.location = "{{ path('_plans_advice') }}";	
	});
}
function showAdviceXml()
{
    querystring = "";
    {% if currentuser.connectionType == "Relius" %}
    var recordkeeperurl = "{{ path('recordkeepers_relius_riskBasedFundsXML') }}?planid={{ currentplan.activePlanid  }}";
    $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#testplandiv").html(data);
    });
    {% elseif currentuser.connectionType starts with "SRT" %}
    var recordkeeperurl = "{{ path('_recordkeepers_srt_advicedataxml') }}?planid={{ currentplan.activePlanid  }}";
    $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#testplandiv").html(data);
    });    
    {% endif %}
}

</script>