{% set header = "<th>id</th><th>Planid</th><th>Actions</th>" %}
{% set unsearchableArray = [2] %}
{% set tablename ="plans" %}
{% set url = path('_manage_nationalsurvey_add_planlisst')  %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}