{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<h3>Current instances for Plan {{ planid }} </h3>
<table class="table table-striped">
    <tr>
        <td>
            Employer
        </td>
        <td>
            Type
        </td>
        <td>
            State
        </td>
        <td>
            County
        </td>
        <td>
            Actions
        </td>
    </tr>
    {% for surveyPlan in surveyPlans %}
    <tr>
        <td>
            <input type="text" value ="{{ surveyPlan.employer }}" class="form-control" id="surveyPlanEmployer{{ surveyPlan.id}}"  onchange="nationalSurvey.saveConfigureRow({{ surveyPlan.id}})" />
        </td>
        <td>
            <select id="surveyPlanType{{ surveyPlan.id}}"  onchange="nationalSurvey.saveConfigureRow({{ surveyPlan.id}})">
                {% for type in types %}
                    <option value ="{{ type }}" {% if surveyPlan.type == type %}selected{% endif %}>{{ type }} </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" value ="{{ surveyPlan.state }}" id="surveyPlanState{{ surveyPlan.id}}" class="form-control"  onchange="nationalSurvey.saveConfigureRow({{ surveyPlan.id}})" />
        </td>
        <td>
            <input type="text" value ="{{ surveyPlan.county }}" id="surveyPlanCounty{{ surveyPlan.id}}" class="form-control" onchange="nationalSurvey.saveConfigureRow({{ surveyPlan.id}})" />
        </td>
        <td>
            <button class="btn btn-warning" onclick ="nationalSurvey.deletePrompt({{ surveyPlan.id }})">Delete</button>
            <div id ="deletePrompt{{ surveyPlan.id }}" style="padding-top:10px;display:none">
                Are you sure?<br/>
                <button class="btn btn-danger" onclick="nationalSurvey.deleteSurveyPlan({{ surveyPlan.id }})">Confirm</button>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn btn-primary" onclick = "nationalSurvey.addPlanConfigure({{ plan.id }},{{surveyPlanSelected.id }})">Add Instance</button>
