{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'National Survey'})) }}
<button class ="btn btn-info" onclick ="nationalSurvey.add()">Add Plan</button>
<br/><br/>
{% set header = "<th>id</th><th>Planid</th><th>Actions</th>" %}
{% set tablename ="surveyPlans" %}
{% set url = path('_manage_nationalsurvey_planlist')  %}
{% set unsearchableArray = [2] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
var nationalSurvey = 
{
    add: function()
    {
        ajaxModal("{{ path('_manage_nationalsurvey_add') }}",'Add Survey Plan','large');
    },
    addPlanDb: function(planid)
    {
        return Admin.ajaxPost("{{ path('_manage_nationalsurvey_addplan') }}",{planid: planid });
    },
    addPlan: function(planid)
    {
        if (this.addPlanDb(planid))
        {
            plansTable.fnDraw(false);
            surveyPlansTable.fnDraw(false);
        }
    },
    addPlanConfigure: function(planid,surveyPlanId)
    {
        if (this.addPlanDb(planid))
        {
            this.reloadConfigure(surveyPlanId);
        }
    },
    configure: function(id)
    {
        ajaxModal("{{ path('_manage_nationalsurvey_configure') }}?id=" + id,'Configure Survey Plan','large');
    },
    reloadConfigure: function(id)
    {
       $("#ajaxModuleContent").html(Admin.ajaxPostValue("{{ path('_manage_nationalsurvey_configure') }}",{id:id}));
    },
    deletePrompt(id)
    {
        $("#deletePrompt" + id).toggle();
    },
    deleteSurveyPlan(id)
    {
        var surveyPlan = Admin.ajaxPostValue('{{ path('_manage_nationalsurvey_deletesurveyplan') }}',{id: id });
        if ("id"  in surveyPlan)
            this.reloadConfigure(surveyPlan.id);
        else
        {
            closeLightBox();
            surveyPlansTable.fnDraw(false);
        }
    },
    saveConfigureRow: function(id)
    {
        var params = new Object();
        params.type = $("#surveyPlanType" + id).val();
        params.county =  $("#surveyPlanCounty" + id).val();
        params.state = $("#surveyPlanState" + id).val();
        params.employer = $("#surveyPlanEmployer" + id).val();
        params.id = id;
        Admin.ajaxPost("{{ path('_manage_nationalsurvey_configure_save') }}",params);
    }
};
    
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}