{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'HubSpot Data Migration Interface'})) }}
<style>
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#planid.ui-autocomplete-loading + .input-group-addon .spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

#pushBtn.btn-primary[disabled] {
    background-color: #ccc;
    border-color: #bbb;
}
</style>
<form class="form-inline" action="" method="POST">
    <input type="hidden" name="logId" id="logId" value="">
    <select id="accountId" name="accountId" class="form-control">
        <option value="">Select an account...</option>
        {% for account in accounts %}
            <option value="{{account.id}}">{{account.company}} ({{account.id}})</option>
        {% endfor %}
    </select>
    {% if writeable %}
        <button type="button" class="btn btn-primary" onclick="resetPlansAndChangeAccount();">Reset Plans And Go</button>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="changeAccount();">Go</button>
</form>
<div id="hubSpotPlanControl" style="margin-top:20px;display:none;">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="planid" name="planid" value="" placeholder="Search Plan Id">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-refresh spinning"></span></span>
                </div>
            </div>
            <div class="col-xs-12 visible-xs" style="height:20px;"></div>
            <div class="col-xs-12 col-sm-9">
                <input type="hidden" id="selected_planid" value="">
                <input type="hidden" id="selected_id" value="">
                <input type="hidden" id="selected_type" value="">
                {% if writeable %}
                    <div class="input-group">
                        <input type="text" class="form-control" id="planname" value="" placeholder="Plan Name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" onclick="addToPlanList();">Add</button>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
    
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Actions">
        <button class="btn btn-default" type="button" onclick="checkStatus();">Check Status</button>
        {% if writeable %}
            <button class="btn btn-default" type="button" onclick="updateAll('checkAll');">Check All</button>
            <button class="btn btn-default" type="button" onclick="updateAll('uncheckAll');">Uncheck All</button>
            <button class="btn btn-default" type="button" onclick="updateAll('removeUnchecked');">Remove Unchecked</button>
        {% endif %}
    </div>
    <form action="" method="POST" id="planListBoxForm">
        <table class="table table-condensed" id="planListTable">
            <thead>
                <th>ID</th>
                <th>Plan</th>
                <th>Plan ID</th>
                <th>Type</th>
                <th>Status</th>
                <th>Enrollees</th>
                <th>Push</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="planListBox">
                
            </tbody>
        </table>
    </form>
    {% if writeable %}
        <button class="btn btn-lg btn-primary" id="pushBtn" type="button" onclick="startProcessing();">Push It</button>
    {% endif %}
</div>
<div id="hubSpotProcessing" style="margin-top:20px;display:none;">
    <div class="progress">
        <div id="hubSpotProgressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">0% Complete</span>
        </div>
    </div>
        
    <table class="table table-condensed">
        <thead>
            <th>Email</th>
            <th>Updated Email</th>
            <th></th>
            <th>Done</th>
        </thead>
        <tbody id="enrolleeListBox">

        </tbody>
    </table>
    <button class="btn btn-primary pull-right" type="button" onclick="showResults();" id="resultsBtn">Results</button>
</div>
<div id="hubSpotResults" style="display:none;">
</div>
        
<div class="modal" id="loaderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title" id="loaderModalLabel">Please Wait</h4></div>
            <div class="modal-body">
                <img class="center-block" src = "{{ asset('images/load-icon.gif') }}" />
            </div>
        </div>
    </div>
</div>
        
<!-- Modal -->
<div class="modal" id="enrolleeModal" tabindex="-1" role="dialog" aria-labelledby="enrolleeModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form class="form-inline" action="" method="POST" onsubmit="return updateEnrollee();" id="enrolleeForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="enrolleeModalLabel">Fix Email</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="enrolleeId" name="id" value="">
                    <div class="form-group">
                        <label for="enrolleeEmail">Email: </label>
                        <input type="text" class="form-control" id="enrolleeEmail" name="email" placeholder="email@example.com">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
            
<script>
$( "#planid" ).autocomplete({
    source: function(request, response) {
        $.getJSON("{{ path('_manage_hdmi_searchPlans') }}", { userid: $('#accountId').val(), planid: $('#planid').val() }, response);
    },
    minLength: 2,
    select: function( event, ui ) {
        populatePlanInfo(ui.item);
    },
    response: function(event, ui) {
        if (ui.content.length === 1) {
            populatePlanInfo(ui.content[0]);
            ui.content = [];
            return; 
       }
        if (ui.content.length === 0) {
            ui.content.push({value: "", label:"No results found"});
            return;
        }
    }
});

var dataTable = $('#planListTable').DataTable({
    "columnDefs": [
        {% if not writeable %}
        { "searchable": false, "orderable": false, "visible": false, "targets": [6, 7] },
        {% endif %}
        { "searchable": false, "orderable": false, "visible": false, "targets": [0, 8] },
        { "searchable": false, "orderable": false, "targets": 7 },
        {
            render: function(data, type, row) {
                if (type === 'sort') {
                    // Sort using raw participantDetails value
                    return data;
                }
                var checked = (parseInt(data) === 1 ? 'checked' : '');
                var disabled = (parseInt(row[8]) !== 1 ? 'disabled' : '');
                return '<input type="checkbox" name="planIdQueue[]" onclick="return checkOne(event);" value="'+row[0]+'" ' + disabled + ' ' + checked + ' >';
            },
            targets: 6
        }
    ],
    paging: false
});

function resetInterface() {
    $('#hubSpotProcessing').hide();
    $('#hubSpotResults').hide();
}

function resetPlansAndChangeAccount() {
    resetInterface();
    if ($('#accountId').val()) {
        $.post('{{ path('_manage_hdmi_resetPlans') }}', 'accountId=' + $('#accountId').val()).done(function(data) {
            changeAccount();
        });
    }
}

function changeAccount() {
    resetInterface();
    if ($('#accountId').val()) {
        $('#hubSpotPlanControl').show();
        showLoader(); 
        refreshPlanList().then(hideLoader);
        return;
    }
    $('#hubSpotPlanControl').hide();
}

function populatePlanInfo(item) {
    if (item.id) {
        $('#selected_id').val(item.id);
        $('#selected_planid').val(item.value);
        $('#planname').val(item.label);
    }
}

function checkStatus() {
    showLoader();
    refreshPlanList().then(hideLoader);    
}


function refreshPlanList() {
    var data = 'accountId=' + $('#accountId').val();
    updatePushButton();
    return $.getJSON("{{ path('_manage_hdmi_checkStatus') }}", data, function(response) {
        dataTable.clear();
        $.each(response, function(index, value) {
            dataTable.row.add([
                value.id, 
               '<a href="javascript:editplan('+value.id+', true);">'+value.name+'</a></td>',
                '<a href="javascript:editplan('+value.id+', true);">'+value.planid+'</a>',
                value.type,
                value.status,
                value.totalEnrollees,
                value.participantDetails,
                '<button type="button" class="btn btn-default btn-xs" onclick="removeOne('+value.id+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</button>',
                value.ok
            ]).node().id = 'tr_' + value.id;
        });
        dataTable.draw();
        updatePushButton();
    });
}

function updatePushButton() {
    var hasNoValidPlans = $('input[type="checkbox"][name="planIdQueue[]"]:checked').length === 0;
    $('#pushBtn').prop('disabled', hasNoValidPlans);
}

function removeOne(id) {
    showLoader();
    var data = { smartplanid: id, participantDetails:0 };
    $.post('{{ path('_manage_hdmi_updateSingle') }}', data, function() {
        dataTable.row('#tr_' + id).remove().draw();
        updatePushButton();
        hideLoader();
    });
}

function checkOne(evt) {
    showLoader();
    var id = evt.target.value;
    var participantDetails = evt.target.checked ? 1 : 2;
    var data = { smartplanid: id, participantDetails: participantDetails };
    $.post('{{ path('_manage_hdmi_updateSingle') }}', data, function() {
        dataTable.cell($(evt.target).closest('td')).data(participantDetails).draw();
        updatePushButton();
        hideLoader();
    });
    evt.preventDefault();
    evt.stopPropagation();
    return false;
}

function updateAll(action) {
    showLoader();
    var data = { action: action, userid: $('#accountId').val() }
    $.post('{{ path('_manage_hdmi_updateAll') }}', data, function() {
        refreshPlanList().then(hideLoader);
    });
}

function addToPlanList() {
    showLoader();
    var data = { smartplanid: $('#selected_id').val(), participantDetails: 2 }
    $.post('{{ path('_manage_hdmi_updateSingle') }}', data, function() {
        refreshPlanList().then(hideLoader);
    });
}


function startProcessing() {
    $('#hubSpotProcessing').show();
    $('#enrolleeListBox').empty();
    var data = 'accountId=' + $('#accountId').val();
    
    $.post('{{ path('_manage_hdmi_initialize') }}', data, function(initData) {
        data = data + '&logId=' + initData.logId;
        $('#logId').val(initData.logId);
        $.post('{{ path('_manage_hdmi_processEnrollees') }}', data, function(response) {
            if (response.invalidEmails) {
                updateInvalidEmails(response.invalidEmails);
            }
        }).always(function() {
            window.processComplete = true;
            updateProgressBar(100, false);
            updateResultsButton();
        }).fail(function() {
            alert("An unknown error occurred during processing. Some contacts may not have been processed.");
        });
        checkProgress();
    });
    window.processComplete = false;
    updateProgressBar(0, true);
    updateResultsButton();
}


function checkProgress() {
    $.getJSON('{{ path('_manage_hdmi_checkProgress') }}', function(response) {
        if (!window.processComplete) {  
            var percent = response.current / response.total * 100;
            updateProgressBar(percent, true);
            updateInvalidEmails(response.invalidEmails);
            checkProgress();
        }
    });
}

function updateInvalidEmails(invalidEmails) {
    $.each(invalidEmails, function(email, value) {
        if ($('#tr_enrollee_' + value.participant_id).length > 0) {
            return;
        }
        var listRow = $('<tr/>', {id:'tr_enrollee_' + value.participant_id});
        listRow.append('<td id="badEmail_'+value.participant_id+'">'+email+'</td>');
        listRow.append('<td id="newEmail_'+value.participant_id+'"></td>');

        if (!value.noemail) {
            var buttons = '<div class="btn-group btn-group-xs" role="group" aria-label="Actions">';
            buttons += '<button type="button" class="btn btn-default" id="deleteEnrolleeBtn_' + value.participant_id + '" onclick="resolveEnrollee(event, \'delete\',' + value.participant_id + ',\'' + email + '\');">Delete</button>';
            buttons += '<button type="button" class="btn btn-default" id="updateEnrolleeBtn_' + value.participant_id + '" onclick="resolveEnrollee(event, \'fix\', ' + value.participant_id + ',\'' + email + '\');">Fix</button>';
            buttons += '<button type="button" class="btn btn-default" id="ignoreEnrolleeBtn_' + value.participant_id + '" onclick="resolveEnrollee(event, \'ignore\',' + value.participant_id + ',\'' + email + '\');">Ignore</button>';
            buttons += '</div>';
        } else {
            var buttons = "<span>No Email</span>";
        }

        listRow.append('<td>'+buttons+'</td>');
        listRow.append('<td><input type="checkbox" name="doneEnrollee[]" value="'+value.participant_id+'" id="doneEnrollee_'+value.participant_id+'" disabled ></td>');

        $('#enrolleeListBox').append(listRow);
    }); 
}

function resolveEnrollee(evt, action, id, email) {
    
    if ($(evt.target).hasClass('active') ) {
        return;
    }
    
    if ($(evt.target).siblings().hasClass('active')) {
        return;
    }
    
    if (action === 'delete') {
        showLoader();
        $.post('{{ path('_manage_hdmi_deleteEnrollee') }}', 'id=' + id + '&logId=' + $('#logId').val(), function() {
            completeEnrollee(id, 'deleteEnrolleeBtn');
            hideLoader();
        });
    }
    if (action === 'fix') {
        $('#enrolleeId').val(id);
        $('#enrolleeEmail').val(email);
        $('#enrolleeModal').modal('show');
    }
    if (action === 'ignore') {
        showLoader();
        $.post('{{ path('_manage_hdmi_ignoreEnrollee') }}', 'id=' + id + '&logId=' + $('#logId').val(), function() {
            completeEnrollee(id, 'ignoreEnrolleeBtn');
            hideLoader();
        });
    }
    return false;
    
}

function updateEnrollee() {
    $.post('{{ path('_manage_hdmi_updateEnrollee') }}', $('#enrolleeForm').serialize() + '&logId=' + $('#logId').val(), function(response) {
        if (response.success) {
            completeEnrollee(response.id, 'updateEnrolleeBtn');
            $('#newEmail_' + response.id).text(response.email);
        }
        else {
            $('#newEmail_' + response.id).text("");
            $('#badEmail_' + response.id).text(response.email);
        }
        $('#enrolleeModal').modal("hide");
    });
    return false;
}
    
function updateProgressBar(percent, animated) {
    $('#hubSpotProgressBar')
        .toggleClass('active', animated)
        .css('width', percent + '%')
        .attr('aria-valuenow', percent)
        .find('.sr-only').text(percent + '% Complete');
}

function completeEnrollee(id, button) {
    $('#' + button + '_' + id).addClass('active').siblings().addClass('disabled');
    $('#doneEnrollee_' + id).prop('checked', true);
    updateResultsButton();
}

function showResults() {
    showLoader();
    $.post('{{ path('_manage_hdmi_results') }}', 'logId=' + $('#logId').val(), function(response) {
        $('#hubSpotResults').show().html(response);
        hideLoader();
    });
}

function updateResultsButton() {
    var completed = (window.processComplete && $('input[type="checkbox"][name="doneEnrollee[]"]').not(':checked').length === 0);
    $('#resultsBtn').prop('disabled', !completed);
}

function showLoader() {
    $('#loaderModal:not(.in)').modal('show');
}

function hideLoader() {
    $('#loaderModal').modal('hide');
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}