$slider-border:     0px;
$slider-height:     1.55vw;
$slider-bg:         $primary-md;


.noUi-target {
  background: $slider-bg;
  box-shadow: none;
  border: $slider-border solid $slider-bg;
  height: $slider-height;
  border-radius: 0;

  &:before,
  &:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: $slider-height;
    height: $slider-height;
    top: -$slider-border;
  }
  &:before {
    left: -1vw;
    border-radius: $slider-height 0 0 $slider-height;
  }
  &:after {
    right: -1vw;
    border-radius: 0 $slider-height $slider-height 0;
  }
}



.noUi-handle {
  background-image: url('/w/img/slider-handle-alt.svg');
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border:none;
  border-radius: 0;
  cursor: pointer;
}

.noUi-horizontal {
  .noUi-handle {
    width: 2vw;
    height: 4vw;
    top: -.5vw;
    left: -1.65vw;
    &:before,
    &:after {
      display: none;
    }
  }
}


.noUi-pips {
  color: $slider-bg;
  &.noUi-pips-horizontal {
    padding: 0;
    height: 2.5vw;
    top: -1vw;
  }
}

.noUi-value {
  display: none;
}

.noUi-marker {
  //background: $slider-bg;
  &.noUi-marker-horizontal {
    margin-left: -.05vw;
    border-left: .1vw solid $slider-bg;
    border-color: $slider-bg;
    width: 0;
    height: 1vw;
    top: 0;
    &.noUi-marker-normal {
      border-color: inherit;
      opacity: .5;
      height: .45vw;
      top: .5vw;
    }
    &.noUi-marker-large {
      border-color: inherit;
      border-width: .18vw;
      margin-left: -.09vw;
    }
  }
}



#allocate {
    #slider {
      margin: 5vw auto 3vw;
      width: 80%;
      height: 8vw;

      .allocate-val {
        display: inline-block;
        width: 19%;
        text-align: center;
        > h5 {
          margin-bottom: .5vw;
          margin-top: 0;
          text-align: center;
          color: $secondary-md;
          line-height: .25;
          > .icon-info {
            padding-left: 1.8vw;
            cursor: pointer;
            position: relative;
            bottom: -1.1vw;
            opacity: .75;
            &:hover {
              opacity: 1;
            }
          }
        }
        > h1 {
          font-weight: 100;
          font-size: 3.25vw;
          font-family: 'montserrat-thin', $secondary-font;
        }
      }
      #allocate_pretax {
        float: left;
      }
      #allocate_roth {
        float: right;
        > h5 {
          > .icon-info {
            margin-right: .75vw;
          }
        }
      }


      #allocate_slider {
        width: 50%;
        display: inline-block;
        margin: 4vw;
      }

    }
  }

  .es {
    #allocate {
      #allocate_pretax {
        h5 {

          > i {
            &.icon-info {
              margin-right: -2vw;
            }
          }
        }
      }
    }
  }
