{% set session = app.request.session %}
<div id ="investmentsGraphContainer">
    <div class="content-area text"  >
        <div class="head-title">{{ 'investor_profile_score'| trans ({}, 'investments') }} = {{ session.get("risk_profile")['RP_Score'] }}</div>
        <div id ="investmentContent">
        {% block content %}


        {% endblock %}
        </div>
    </div>
</div>
<script>
function updateInvestmentsHtml(html)
{
    $("#investmentContent").html(html);
}
function tableStep()
{
  $.post( "investments/table", { ajax:true }).done(function( html ) 
  {
    updateInvestmentsHtml(html);
  });    
}   
function graphStep()
{
    $.post( "investments/graph", function( html ) 
    {
       updateInvestmentsHtml(html);
    });           
}
</script>

