{% set session = app.request.session %}
{% set graphType = "table" %}
{% include"SpeAppBundle:Template:investments/graph/table.css.twig" %}
<div class="row">
    <div class="col-md-6">
        <div class="content-area text"  >
            {% set piechartId = session.get("PlansInvestmentsGraphSelectedMinScore") %}
            {% set piechartWidth = "100%" %}
            {% set piechartHeight = "100%" %}
            {% for row in table %}
            <div style ="float:left;width:{{ 100/( table | length) }}%;text-align:center;display:none">
                <div class="well" style ="background-color:{{row.color.color }}" >
                    {{ row.header.description }}
                </div>
                {{ row.total }}%
            </div>
            {% endfor %}
            {% include"SpeAppBundle:Template:investments/graph/piechart.html.twig" %}
        </div>
    </div>
    <div class="col-md-6">
        {{ 'graph_fund_description'| trans ({}, 'investments') }} <span class="glyphicon glyphicon-book"></span>
        <div class ="div_table">
            <table class ="table" >
                    <tr>
                        <th><h3>{{ 'fund_name'| trans ({}, 'investments') }}</h3></th>
                        <th><h3>%</h3></th>
                        <th style="text-align:center !important;"><h3>{{ 'fund_fact'| trans ({}, 'investments') }}</h3></th>
                    </tr>
                {% for group in table %}
                {% for fund in group.funds %}
                    {% if fund.percent > 0 %}
                    <tr>
                        <td>{{ fund.name }}</td>
                        <td>{{ fund.percent}}</td>
                        <td style="text-align:center !important;">{% if fund.link != "" %}<a href ="{{ fund.link}}" target ="_blank"><span class ="glyphicon glyphicon-book"></span></a>{% endif %}</td>    
                    </tr>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
        </div>
        <h2>{{ 'graph_subtotal'| trans ({}, 'investments') }}</h2>
        {% for row in table %}
            {% if row.total > 0 %}
            <b>{{ row.header.description }}</b>  <input type ="text" style ="width:50px;" value ="{{ row.total }}" disabled /> <span style ="padding-right:10px"></span>
            {% endif %}
        {% endfor %}
        <div class ="pull-right" style ="margin-top:20px">
            <h2>{{ 'total'| trans ({}, 'investments') }} <input type ="text" style ="width:50px"  id ="investmentsGraph2Total" value ="{{ session.get("graphScores").total }}" disabled /> </h2>
        </div>
    </div>
</div>
<div class ="actions">  
    <a class="actionBtn left">
        <span class="center action-button" onclick ="graphStep2()">{{ 'back'| trans ({}, 'global') }}</span>
    </a>
    <a class="actionBtn right">
        <span class="center action-button" id="investmentsGraphConfirmButton"  onclick ="completedGraph()" >{{ 'confirm'| trans ({}, 'global') }}</span>
    </a>
</div>
    
<script>
function graphStep2()
{
    $.post( "investments/graph2").done(function( html ) 
     {
       updateInvestmentsHtml(html);
     });
}
function completedGraph()
{
    $.post( "investments/completedGraph").done(function() 
    {
        var investmentProfile = new Array();
        investmentProfile[0] = new Object();
        investmentProfile[0].lName = "";
        investmentProfile[0].rName = "";
        investmentProfile[0].details = $("#investmentsGraphInvestmentDetails").html();
        localStorage.setItem("investmentProfile", JSON.stringify(investmentProfile));
        $('body').trigger('spe:router:redirect', { to: 'contributions', complete : 'investments' });       
    });
}
</script>