{% set session = app.request.session %}
{% set total = 0 %}
{% if  session.get("graphScores") is not null  %}
{% set total = session.get("graphScores").total %}    
{% endif %}
{% set fundGroupValueheaderCount = 0 %}
{% set tableGroupCounter = 0 %}
{% include"SpeAppBundle:Template:investments/graph/table.css.twig" %}
{% set audioFile = 'investments_graph2'| trans ({}, 'audio') %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<form id ="validateGraphScores">
<div class="row">
    <div class="col-md-6">
        <div class="content-area text"  >
            {% set piechartId = session.get("PlansInvestmentsGraphSelectedMinScore") %}
            {% set piechartWidth = "90%" %}
            {% set piechartHeight = "300px" %}
            {% for graphValue in graphValues %}
            {% if graphValue.min > 0 %}
            <style>
            .arrow_box_{{graphValue.id}} {
                    position: relative;
                    background: {{graphValue.color }};
                    border: 4px solid {{graphValue.color }};
                    color:white;
            }
            .arrow_box_{{graphValue.id}}:after, .arrow_box_{{graphValue}}:before {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
            }

            .arrow_box_{{graphValue.id}}:after {
                    border-color: rgba(213, 51, 164, 0);
                    border-top-color: {{graphValue.color }};
                    border-width: 20px;
                    margin-left: -20px;
            }
            .arrow_box_{{graphValue.id}}:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-top-color: {{graphValue.color }};
                    border-width: 26px;
                    margin-left: -26px;
            }
            </style>
            <div style ="float:left" class ="fundGroupValueheader">
                <div style ="text-align:center;width:90%">
                    <div class="arrow_box_{{graphValue.id}}" >
                        <h3>{{ session.get('FundsGroupsValuesHash')[graphValue['fundGroupValueId']]['value'] }}</h3>
                    </div>
                    <h1>{{ graphValue.min }}%</h1>
                </div>
            </div>
            {% set fundGroupValueheaderCount = fundGroupValueheaderCount + 1  %}
            {% endif %}
            {% endfor %}
            {% include"SpeAppBundle:Template:investments/graph/piechart.html.twig" %}
            <div class ="actions">  
                <a class="actionBtn left">
                    <span class="center action-button" onclick ="graphStep()">{{ 'back'| trans ({}, 'global') }}</span>
                </a>
                <a class="actionBtn right">
                    <span class="center {% if total == 100 %}action-button{% else %}disabledButton{% endif %}" onclick ="$('#graphsFormSubmitButton').click()" id="proceedGraphBtn" >{{ 'proceed'| trans ({}, 'global') }}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{ 'graph_fund_description'| trans ({}, 'investments') }} <span class="glyphicon glyphicon-book"></span> 
        <div class ="div_table">
            <table class ="table" >
                {% for group in table %}
                {% if group.funds | length > 0 %}
                {% if tableGroupCounter > 0 %}
                <tr>
                    <td colspan ="3" style ="height:10px">
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th><h3>{{ group.header.description }}</h3></th>
                    <th><h3>%</h3></th>
                    <th style="text-align:center !important;"><h3>{{ 'fund_fact'| trans ({}, 'investments') }}</h3></th>
                </tr>
                {% for fund in group.funds %}
                <tr>
                    <td>{{ fund.name }}</td>
                    <td><input type ="number" style ="width:40px" id ="investmentsGraph2Fund{{fund.id}}" class ="investmentsGraph2Fund" value ="{{ fund.percent}}" min="0" max="100"  /></td>
                    <td style="text-align:center !important;">{% if fund.link != "" %}<a href ="{{ fund.link}}" target ="_blank"><span class ="glyphicon glyphicon-book"></span></a>{% endif %}</td>    
                </tr>
                {% endfor %}
                {% set tableGroupCounter = tableGroupCounter + 1 %}
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <h2>{{ 'graph_subtotal'| trans ({}, 'investments') }}</h2>
        {% for row in table %}
        {% if row.total > 0 %}
            <b>{{ row.header.description }}</b>  <input type ="text" style ="width:50px;" value ="{{ row.total }}" id="investmentsGraph2Section{{row.header.id}}" disabled /> <span style ="padding-right:10px"></span>
        {% endif %}
        {% endfor %}
        <div class ="pull-right" style ="margin-top:20px">
            <h2>{{ 'total'| trans ({}, 'investments') }} <input type ="text" style ="width:50px"  id ="investmentsGraph2Total" value ="{{ total }}" disabled /> </h2>
        </div>
    </div>
</div>
<button id ="graphsFormSubmitButton" style ="display:none"></button>
</form>
<script>
$(".fundGroupValueheader").css("width","{{ 100/fundGroupValueheaderCount }}%");
function graphStep3()
{
    if (parseInt($("#investmentsGraph2Total").val()) == 100)
    {
    $.post( "investments/graph3", { scores:generateScoreObject()  }).done(function( html ) 
     {
       updateInvestmentsHtml(html);
     });
    }
}
function generateScoreObject()
{
    var scores = new Object();
    scores.groups = new Array();
    scores.total  = 0;
    var group;
    var funds;
    var counter = 0;
    var fundCounter;
    {% for group in table %}
        group = new Object;
        group.id = {{ group.header.id }};
        group.total = 0;
        fundCounter = 0;
        funds = new Array();
        {% for fund in group.funds %}
            fund = new Object();
            fund.percent = $("#investmentsGraph2Fund{{ fund.id }}").val(); 
            if (fund.percent != "")
            {
                scores.total =  parseInt(scores.total) + parseInt(fund.percent);
                group.total = parseInt(group.total) + parseInt(fund.percent);
            }
            fund.id = {{ fund.id }};
            fund.name = "{{ fund.name }}";
            funds[fundCounter++] = fund;
        {% endfor %}
        group.funds = funds;
        scores.groups[counter++] = group;
    {% endfor %}
    return scores;
}
function graphsUpdateTotals()
{
    var scores = generateScoreObject();
    $("#investmentsGraph2Total").val(scores.total);
    var groups = scores.groups;
    $.each( groups, function( index, group )
    {
      $("#investmentsGraph2Section" + group.id).val(group.total);
    });     
    if ($("#investmentsGraph2Total").val() == 100)
    {
        enableButton('#proceedGraphBtn');
    }
    else
    {
        disableButton('#proceedGraphBtn');
    }  
}
$( ".investmentsGraph2Fund" ).change(function() 
{
    graphsUpdateTotals();
});
$( ".investmentsGraph2Fund" ).keyup(function() 
{
    graphsUpdateTotals();
});
$( "#validateGraphScores" ).submit(function( event ) {
    event.preventDefault();
    graphStep3();
});
$('body').trigger('spe:disclosure:show', { title: 'fundAllocation'});
</script>