{% if graphType is not defined %}
{% set graphType = "graphValues" %}
{% endif %}
<div id ="graphContainer{{piechartId}}" style ="width:{{piechartWidth}};height:{{ piechartHeight}}"></div>
<script>
String.prototype.unescapeHtml = function () {
    var temp = document.createElement("div");
    temp.innerHTML = this;
    var result = temp.childNodes[0].nodeValue;
    temp.removeChild(temp.firstChild);
    return result;
}
var counter = 0;
var highChartData{{piechartId}} = new Array();
var highChartDataObject;
{% if graphType == "profiles" %}
{% for adpGraph in adpGraphs %}
highChartDataObject = new Object;
highChartDataObject.name = "{{ adpGraph.description | e("js") }}".unescapeHtml();;
highChartDataObject.y = parseInt({{ adpGraph.total }});
highChartDataObject.color = "{{ adpGraph.color }}";
highChartDataObject.hoverColor = "{{ adpGraph.hoverColor }}";
highChartData{{piechartId}}[counter] = highChartDataObject;
counter++;    
{% endfor %}
{% elseif graphType == "graphValues" %}
{% for graphValue in graphValues %}
{% if graphValue['min'] > 0 %}
highChartDataObject = new Object;
highChartDataObject.name = "{{ session.get('FundsGroupsValuesHash')[graphValue['fundGroupValueId']]['value'] }}".unescapeHtml();
highChartDataObject.y = parseInt({{ graphValue['min'] }});
highChartDataObject.color = "{{ graphValue['color'] }}";
highChartDataObject.hoverColor = "{{ graphValue['hoverColor'] }}";
highChartData{{piechartId}}[counter] = highChartDataObject;
counter++;
{% endif %}
{% endfor %}
{% else %}
{% for row in table %}
{% if  row.total > 0 %}
highChartDataObject = new Object;
highChartDataObject.name = "{{row.header.description }}".unescapeHtml();
highChartDataObject.y = parseInt({{ row.total }});
highChartDataObject.color = "{{ row.color.color }}";
highChartDataObject.hoverColor = "{{ row.color.hoverColor }}";
highChartData{{piechartId}}[counter] = highChartDataObject;    
counter++;
{% endif %}
{% endfor %}
{% endif %}
Highcharts.chart('graphContainer{{piechartId}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor:'rgba(255, 255, 255, 0.1)'
    },
    title: {
        text: '',
        style: {
        display: 'none'
        }
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: {% if graphType == "graphValues" %}false{% else %}true{%endif%},
                format: '{point.y} %',
                //<b>{point.name}</b>: {point.percentage:.1f} %
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                },
                distance:-50,
                color:'white'                
            }
        }
    },
    series: [{
        name: 'Asset Allocation',
        colorByPoint: true,
        data: highChartData{{piechartId}},
        states: {
            hover: {
                enabled: false
            }
        },
        point: {
            events: {
                mouseOver: function () {
                    //bug in highcharts, mouseOut doesn't fire if you simply go to a different section of graph only outside of graph
                    this.series.setData(highChartData{{piechartId}}); 
                    this.graphic.attr("fill",this.hoverColor);
                },
                mouseOut: function () {
                    //bug in highcharts, mouseOut doesn't fire if you simply go to a different section of graph only outside of graph
                    this.series.setData(highChartData{{piechartId}});
                    this.graphic.attr("fill", this.color);
                }
            }
        }        
    }],
    navigation: {
    buttonOptions: {
      enabled: false
      }
    },
    credits: {
      enabled: false
  }
});
</script>