{% set session = app.request.session %}
{% set graphType = "table" %}
{% include"SpeAppBundle:Template:investments/graph/table.css.twig" %}
<div class="row">
    <div class="col-md-6">
        <table class ="table" >
                <tr>
                    <th><h3>{{ 'fund_name'| trans ({}, 'investments') }}</h3></th>
                    <th><h3>%</h3></th>
                </tr>
                {% for fund in investments.funds %}
                <tr>
                    <td>{{ fund.profilesInvestments.fname }}</td>
                    <td><input type ="text" disabled value ="{{fund.profilesInvestments.percent | number_format}}" style ="width:30px" /></td>
                </tr>
                {% endfor %}
        </table>
        <div class="clear"></div>
    </div>
    <div class="col-md-6">
        {% set piechartId = "investorProfile" %}
        {% set piechartWidth = "70%" %}
        {% set piechartHeight = "300px" %}
        {% set graphType ="profiles" %}
        {% set adpGraphs = investments.adpGraphs %}
        {% include"SpeAppBundle:Template:investments/graph/piechart.html.twig" %}
    </div>
</div>
