{% set session = app.request.session %}
{% set audioFile = 'investments_table'| trans ({}, 'audio') %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<style>
    .white-text {
        color: white;
    }
</style>
<p class="para">
    {{ 'investor_profile_table_top_description'| trans ({}, 'investments') }}
</p>
<table class ="table table-striped table-bordered">
    <thead {% if session.get("PlansInvestmentsConfiguration") is not null %}style ="background-color:{{  session.get("PlansInvestmentsConfiguration")['headerColor'] }}{% endif %}">
        <th class="white-text" width="{{ 100/session.get("PlansInvestmentsScore")|length }}%">{{ 'years_to_my_retirement'| trans ({}, 'investments') }}</th>
        <th class="white-text" colspan = "{{ session.get("PlansInvestmentsScore") | length-1 }}">{{ 'my_investor_score'| trans ({}, 'investments') }}</th>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            {% for key,score in session.get("PlansInvestmentsScore") %}
            {% if session.get("PlansInvestmentsScore")[key+1] is defined %}               
            <td>
                {% set min = session.get("PlansInvestmentsScore")[key].min %}
                {% include"SpeAppBundle:Template:investments/graph/displaymin.html.twig" %}-{{ session.get("PlansInvestmentsScore")[key+1].min }} {{ 'points'| trans ({}, 'investments') }}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% for key,score in session.get("PlansInvestmentsYearsToRetirement") %}
        {% if session.get("PlansInvestmentsYearsToRetirement")[key+1] is defined %}
            {% set displayLast = false %}
        {% else %}
            {% set displayLast = true %}
        {% endif %}
            {% include"SpeAppBundle:Template:investments/graph/displaytable.html.twig" %}
        {% endfor %}
    </tbody>
</table>     
<p class="para">
    {{ 'investor_profile_table_bottom_description'| trans ({}, 'investments') }}
</p>
<div class ="actions">
    <a class="actionBtn left">
        <span class="center action-button" onclick ="$('body').trigger('spe:router:redirect','riskProfile'); ">{{ 'back'| trans ({}, 'global') }}</span>
    </a>
    <a class="actionBtn right">
        <span class="center action-button" onclick ="graphStep()">{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
    
