/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*! Largest Screens */
@media (min-width:1200px) {
	.alt-bg .video {
		width:70%;
		margin:0 auto;
	}
	#container-main .content-block.alt-bg {
		/*background-color: #007777;*/
	}
	#container-main .navigation-block ul li a {
		font-size:2vw;
	}
}
/*! Large Screens */
@media (max-width:1200px) {
	#container-main .content-block .content-area .details .slider_box #slider {
		width:88%;
	}
	#container-main .navigation-block ul li a {
		font-size:1.7rem;
	}
	.contribution .cont_pct .note {
		padding: 0 0 15px 0;
	}
	.beneficiary .element.actions {
		left:0;
		float:right;
	}
    .profileInfo .rightBlock .nob td{width:auto !important;}
    .profileInfo .rightBlock .nob{font-size:1.1rem;}
    #library_container .close{display:inline-block;}
}

/*! Medium Screens */
@media (max-width:992px) {
	#footer .item.left, #footer .item.right {
		text-align:center;
	}
	#container-main .navigation-block ul li {
		line-height:3.8rem;
	}
	#container-main .navigation-block ul li a {
		font-size:1.7rem;
	}
	#container-main .content-block .content-area .details .slider_box #slider {
		width:83%;
	}
	.investments .block {
		float:none;
	}
	.investments .block.right {
		width:100%;
	}
	.investments .block.left {
		margin-right:0;
		width:100%;
		height:inherit;
		overflow:inherit;
	}
	.contribution .cont_pct .note {
		padding: 0 20% 0 0;
	}
	#beneficiary-list td {
		width:14%;
		text-wrap:unrestricted;
	}
	#beneficiary-list td.action {
		width:6%;
	}
    .content-area .top-action .actionReturn{display:none !important;}
    .content-area .bottom-action .actionReturn{display:block !important;}
    .content-area h3{font-size:1em;}
    .content-area h4{font-size:0.8em;}
    .content-area p{font-size:1.2rem;}
}

/*! Medium to Largest Screens */
@media (min-width:768px) {
	#container-main .navigation-block ul li a {
		padding: 0 20px;
	}
	#container-main .navigation-block #mainNav {
		padding: 0;
	}
}

/*! Medium to Large Screens */
@media (min-width : 768px) and (max-width : 992px) {
	#container-main .navigation-block ul li a {
		font-size:1.4rem;
	}
	#container-main .navigation-block ul li a {
		padding: 0 13px;
	}
}

/*! Small Screens */
@media (max-width:767px) {
	#header {
		display:none;
	}
	#bottom-logos {
		display:block;	
	}
	#bottom-logos .logo, #bottom-logos .headshot, #bottom-logos .banner {
		text-align:center;
	}
	h1.title {
		display:block;
	}
	#container-main .content-block .content-area .actions {
		bottom: inherit;
    	position: inherit;
    	width: 100%;
	}
	#container-main .content-block .content-area .details .slider_box #slider {
		width:71%;
	}
	.bottom-spacer, .bottom-spacer-tall {
		height: 20px;
	}
	.investments .fund .fundRow .name {
		width:55%;
	}
	.video {
		width:100%;
	}
	.rn-result-message span.display_value{
		width:100%;
	}
}

/*! Smallest Screens */
@media (max-width:450px) {
	.investments .fund .fundRow .name {
		width:40%;
	}
	.contribution .cont_pct .note {
		padding: 15px 0 20px;
	}
	.contribution .slide_container {
		width: 75%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	
}
@media only screen 
and (max-width : 362px) {
	.investments .fund .fundRow .name {
		width:30%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

