@import url('https://fast.fonts.net/cssapi/416434a8-358e-43a8-818a-ea8824de7268.css');
#scp {font-family: 'HelveticaNeueW01-45Ligh', serif;height: 621px;}
#scp #scpContainer{margin: 0 auto;color: #dfdfdf;font-size:100%;color:#999;background: none;}
/* ==========================================================================
   Header
   ========================================================================== */
#scp #header{width: 1000px;height: 113px;border-bottom: 1px solid #97989c;}

/* ==========================================================================
   Content
   ========================================================================== */
#scp #scpContent{width: 1000px;height: 508px;background: url('/images/global/scp/bg_gradient.png') repeat;overflow: hidden;}
/*.block{width: 864px;}*/
#scp #controles{position: relative;cursor: pointer;z-index: 2;}
#scp #next,#prev,#block1 .inner-block .pointer,#block2 .inner-block .pointer,#scp #block2 #finalResult .pointer{height: 57px;width: 28px;background: url(/images/global/scp/sprites.png) no-repeat;}
#scp #next,#prev,#block1 .inner-block .pointer{position: absolute;}
#scp #next,#prev,#block1 .inner-block .pointer,#block2 .inner-block .pointer,#scp #block2 #finalResult .pointer{height: 57px;width: 28px;background: url(/images/global/scp/sprites.png) no-repeat; }
#scp #next,#scp #prev{cursor: pointer;margin-top: 180px;}
#scp #next{background-position: 0 0;margin-left: 95.6%;}
#scp #prev{background-position: 0 -59px ;margin-left: 10px;}

#scp #slider_wrapper{height:508px;overflow: hidden;position: relative;}
#scp .inner-block{height: 356px;width:26.4%;border:1px solid #dcdcdc;float: left;margin-right: 3.56%;margin-top: 40px;background-color: #fff; }
#scp .inner-block.one{margin-left: 6.6%;}
/*#block1,#controles{display: none;}*/
#scp .inner-block.one .title{font-size:2.2em;text-align: center;height: 17.46%;width: 100%;padding-top: 5.027%;}
#scp #block2 .inner-block.one .title{font-size: 1.7em;line-height: 1.2em}
#scp #your_age{font-size: 6.2em;text-align: center;padding-top: 20%;display: none;height: 66.513%;font-weight: 100;font-family: 'HelveticaNeueW01-UltLt';color: #666;}
#scp #block1 .inner-block .pointer{width: 35px;height: 38px;background-position: 0 -200px ;margin: 0;margin-left:13.195%;top: -70px;*margin-left:0;}
#scp #block1 .inner-block .age_limit{height: 20px;float:left;}
#scp #block1 .inner-block .srate{float: right;padding-right:20px;}
#scp #block1 .inner-block .age_range{padding-left:26px;font-size: 1.3em;height: 37px;line-height: 1.2em;font-family:'HelveticaNeueW01-55Roma'; }
#scp #block1 .inner-block .age_range.selected{color:rgb(171, 202, 25);font-family:'HelveticaNeueW01-75Bold';}
#scp #block1 .inner-block .age_range.age_title{padding-left: 28px;font-size: 1.1em;}
#scp #block1 .inner-block #national_percent_pointer,#scp #block2 .inner-block .npercent_pntr{margin: 0;margin-left: 100%;margin-top: -38px;top: -3px;}
#scp #block1 .inner-block .npercent_pntr,#scp #block2 .inner-block .npercent_pntr{position: relative;height: 38px;}
#scp #block2 .inner-block #national_percent_pointer{display: block;position: absolute;margin: 0;padding: 0;background-position: 0 -200px;height: 38px;width: 38px;top: 0;margin-top: -75px;}
#scp #block1 #suggestedRateBlock #ssaving_rate {font-size: 30px;position: relative;margin-top: -356px;height: 100%;}
#scp #block1 #suggestedRateBlock #ssaving_rate .ssaving_rate{height:20%;font-size: 1em;z-index: 1;text-align: center;padding-top: 5%;line-height: 1.2em;}
#scp #block1 #suggestedRateBlock #ssaving_rate .rate_in_percent{color: #fff;margin-top: 20%;font-size: 100px;text-align: center;position: absolute;width: 100%;bottom: 0;font-weight: 100;font-family:'HelveticaNeueW01-UltLt';}

#scp #rate_slider{position: relative;margin-top: 14%;height: 60%}
#scp #rate_slider div{height:80%;padding-top: 20%;}
#scp .display_inline{display: inline-block !important;zoom: 1 !important; *display: inline !important;}
#scp .slider{height:100px;display: inline-block;height: 80%;display: none;zoom: 1; *display: inline;}
#scp #pre_tax{margin-left: 20.74%;}
#scp #roth,#post_tax{margin-left: 24.42%;}
/*#scp #block2 .last_block{border: 0;}*/
#scp #block2 .inner-block .cover{width: 100%;position: relative;height: 100%;}
#scp #block2 .inner-block .cover div.animate_saving_rate{position:absolute;bottom: 0;height:10px;background-color: #abca19;width: 100%;}
#scp #block2 #marker {position: relative;}
#scp #block2 #marker .national_value{position:absolute;width: 100%;z-index: 99;}
#scp #block2 #marker #national_value{color: #fff;text-align: right;top:-6px;font-size: 2em;font-family:'HelveticaNeueW01-65Medi';}
#scp #block2 #marker .marker_check{text-align: center;display: none;height: 40px;top: -20px;}
#scp #block2 #national{height: 1px;border-top: 2px dotted #abca19;}
#scp #block2 #individual{position:absolute;width: 100%;height: 1px;border-top: 2px dotted #ff7f46;}
#scp #block2 #final_national,#block2 #final_saving{/*border: 1px solid #DCDCDC;*/text-align: center;font-size: 1.6em;color: #999;}
#scp #block2 #final_national{height: 40%;}
#scp #block2 #final_saving{height: 58%;}
#scp #block2 #final_saving .title{line-height: 1.1em;}
#scp #block2 #final_saving div,#block2 #final_national div{display: inline-block;width: 100%;padding-top: 0.3em;line-height: 1.1em;zoom: 1; *display: inline;}
#scp #block2 #final_saving div.sub{font-size: 0.45em;font-family:'HelveticaNeueW01-55Roma';padding-top: 10px;}
#scp #block2 #final_saving div.frate{font-size: 2.38em;color: #ff7f46;font-weight: 100;font-family:'HelveticaNeueW01-UltLt';padding-top: 0.2em;}
#ngfinal{font-size: 2.38em;font-weight: 100;font-family:'HelveticaNeueW01-UltLt';}
#scp #block2 .divider{height: 1%;width:100%;}
#scp #block2 #finalResult #last_pointer{position: relative;}
#scp #block2 #finalResult #last_pointer .pointer{width: 35px;height: 40px;margin-top: 0;background-position: 0 -150px;position: absolute;margin-left: -35px;top: -1px;}
#scp #nguide{height:100px;font-size: 2.3em;text-align: center;padding-top: 15px;line-height: 1.1em;}
#scp #age{font-size: 16px;font-family: sans-serif;}
#scp #save_block{position: relative;display: inline-block;width: 100%;height:56px;zoom: 1; *display: inline;}
#scp #save{height: 56px;width: 135px;background: url('/images/global/scp/save_button.png');border: 0;position: absolute;right: 0;margin-right: 6%;margin-top: 1%;cursor: pointer;}
#scp #select_rate_value{padding:0 5%;font-size: 0.8em;margin-top: 14%;padding-left: 10%;font-family:'HelveticaNeueW01-55Roma';}
#scp #select_rate_value .rate_child{position: relative;z-index: 2;margin-top: 2%;line-height: 21px;}
#scp #select_rate_value div.pre_tax,#select_rate_value div.roth,#select_rate_value div.post_tax{background: url('/images/global/scp/sprites.png') no-repeat;background-position: 0 -124px ;width: 40px;height: 21px;margin-top: 0;display: inline-block;zoom: 1; *display: inline;}
#scp #select_rate_value > div{display: inline-block;text-align: center;height: 25px;width: 30%;zoom: 1; *display: inline;zoom: 1; *display: inline;}
#scp .white{color: white;}
#scp .float_left{float:left;}
#scp #animateSavingRate .title{position: relative;top: 56px;z-index: 3;margin-top: -152%;text-align: center;font-size: 2em;line-height: 1em;}
#scp #final_national .title{font-size: 1.19em; }
.default-lineheight{line-height: 1.1em;}
#SelectSavingRate .title{font-size: 2em !important;line-height: 1em !important;}
/* ==========================================================================
   Helper
   ========================================================================== */
#scp .tcenter{text-align: center;}
#scp .clearfix:before,
#scp .clearfix:after {content: "";display: table;} 
#scp .clearfix:after {clear: both;}
#scp .clearfix {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}
#scp .visibility_hidden{visibility: hidden;}
#scp .display_none{display: none;}
#scp .weight300{font-weight: 300;}
#scp .weight100{font-weight: 100;}


/* ==========================================================================
   Mod for Jquery Ui
   ========================================================================== */
#scp #block2 .ui-corner-all{border-radius: 0;}
#scp #block2 .ui-slider-vertical {width: .1em ;}
#scp #block2 .ui-slider-vertical .ui-slider-handle{margin-left: -6px !important;width: 1.5em;height: 25px;}
#scp .ui-state-hover, .ui-widget-content .ui-state-hover,.ui-state-default, .ui-widget-content .ui-state-default{border: 0px !important;background: url('/images/global/scp/radio_button.png') 50% 50% !important;outline: none;}
#scp .ui-widget-header,.ui-widget-content {border: 1px solid #aaaaaa !important;background: #cccccc  50% 50% repeat-x !important;color: #222222 !important;}
#scp .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-radius:0px;}

#colorbox {top:0 !important;}

#scp .audioPanel{background: #aaa;}

