{% set pagename = "Settings - Investments" %}
{% extends 'SharedInvestmentsBundle:Default:index.html.twig' %}

{% block globalvariables %}
var pagetype = "settings";
{% endblock %}

{% block fundorderurl %}{{ path('_settings_investments_fundreorder') }}{% endblock %}

{% block portfolioorderurl %}{{ path('_settings_investments_portfolioreorder') }}{% endblock %} 

