{% set pagename = "Settings - Investments/Reorder Funds" %}
{% set parentPage = "_settings_investments" %}
{% extends 'SharedInvestmentsBundle:Default:reorderfund.html.twig' %}

{% block globalvariables %}
var pagetype = "settings";
{% endblock %}