
 
 {% set loopcounter = 0 %}
 

<form id = "useradd">
  <input type = "text" id = "userid" name = "userid" value = "{{ parentid }}" style = "display:none"/>
  <input type = "text" id = "roleid" name = "roleid" value = "" style = "display:none"  />
  <input type = "text" id = "roleType" name = "roleType" value = "" style = "display:none"  />
  <input type = "text" value  = "1" name = "enabled" style = "display:none" />
  <h3>General Information</h3>
   
  {% for key in userFields|keys %}
  {% set loopcounter = loop.index %}  
  {% if loop.index % 2 == 1 %}      
  <div class="row">
  {% endif %}
    <div class="form-group col-md-6"> 
      <label for="{{key }}"> {{ userFields[key]['description'] }}</label>     
      <input type  = "text" id = "user_{{key }}" name = "{{ key }}" placeholder = "{{ userFields[key]['description'] }}" class="form-control"    /> 
    </div>
  {% if loop.index % 2 == 0 %}      
  </div>
  {% endif %}
     
  
  {% endfor %}

 
  {% if loopcounter % 2 == 1 %}
  </div>
  
  {% endif %}
 
  <hr/>
  <h3>Select a Primary Role</h3>
  <select id = "userRole" class="form-control" onchange = "changePrimaryRole(this.value)" >
    <option value = "" id = "defaultRoleOption">Select a role</option>
    {% for role in roleList %}       
    <option value = "{{ role.id }}|{{ role.type}}">{{ role.name }}</option>
    {% endfor %}
  </select>

  <div id = "additionalRolesList" style = "display:none">
    <hr/>
    <h3>Additional Roles</h3>
    {% for role in roleList %}
    <div class = "additionalRoles" id = "additionalRole{{ role.id }}{{ role.type }}Div" style = "display:none"><input type = "checkbox" id = "additionalRole{{ role.id }}" name  = "additionalRoles" value = "{{ role.id }}"  {{ role.checked }}  /> {{ role.name }} </div>    
    {% endfor %}
  </div>
              
  
  <hr/>
  Access to all plans: 
  <input type ="checkbox" name ="allPlans" onclick ="assignCheckboxValue(this)" />


</form>
<hr/>
<input type = "button" onclick = "javascript:adduser()" value = "Add"  class="btn btn-info"  />

        
{{ include('AccountAccountBundle:Default:javascript/adduser.js.twig') }}
{{ include('AccountAccountBundle:Default:javascript/index.js.twig') }}




