
  
<table class = "table table-striped">
    <tr>
    	<th>Name</th>
    </tr>
    <tr>
    	<td>{{ user.firstname }} {{ user.lastname }}</td>
    </tr>
</table>


<button type="button" id = "saveAccountButton2"class="btn btn-primary" onclick = "deleteUser()">Delete User</button>

{{ include('AccountAccountBundle:Default:javascript/index.js.twig') }}
{{ include('AccountAccountBundle:Default:javascript/deleteuser.js.twig')}}

