{% set loopcounter = 0 %}


<form id = "edituser">
  <div class="alert alert-success" id="saved-alert-inner" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes successfully saved.</div>
  <input type = "text" id = "userid" name = "userid" value = "{{ parentid }}" style = "display:none" readonly = "true" />
  <input type = "text" name = "id" value = "{{ clientid }}" id = "id" style = "display:none" readonly = "true" />
  
  <h3>General Information</h3>
     
  {% for key in userFields|keys %}
  {% set loopcounter = loop.index %}  
  {% if loop.index % 2 == 1 %}      
  <div class="row">
  {% endif %}
    <div class="form-group col-md-6"> 
      <label for="{{key }}"> {{ userFields[key]['description'] }}</label>     
      <input type  = "text" id = "user_{{key }}" name = "{{ key }}" placeholder = "{{ userFields[key]['description'] }}" class="form-control"  value = "{{ userFields[key]['value'] }}"  /> 
    </div>
  {% if loop.index % 2 == 0 %}      
  </div>
  {% endif %}
     
  
  {% endfor %}

 
  {% if loopcounter % 2 == 1 %}
  </div>
  {% endif %}
  <hr/>
  <h3>Select a Primary Role</h3>
  <select id = "userRole" name = "roleid" class="form-control">
    {% for role in roleList %}       
    <option value = "{{ role.id }}"{% if theuser.roleid == role.id %}selected {% endif %}>{{ role.name }}</option>
    {% endfor %}
  </select>


  <hr/>



  <h3>Additional Roles</h3>
    
  {% for role in roleList %}
  <div class = "additionalRoles" id = "additionalRole{{ role.id }}Div" {% if theuser.roleid == role.id %}style = "display:none"{% endif %}><input type = "checkbox" id = "additionalRole{{ role.id }}" name  = "additionalRoles" value = "{{ role.id }}"  {{ role.checked }} /> {{ role.name }} </div>    
  {% endfor %}
  <hr/>
  Access to all plans: 
  <input type ="checkbox" name ="allPlans" onclick ="assignCheckboxValue(this)" {% if theuser.allPlans  %}checked{% endif %} />
  <hr/>

  <button type = "button" onclick = "editUser()" class="btn btn-success">Save</button>

</form>

{{ include('AccountAccountBundle:Default:javascript/edituser.js.twig')}}    
{{ include('AccountAccountBundle:Default:javascript/index.js.twig') }}    




