{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Your Account'})) }}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<style>
    .form-control-feedback {
        z-index: 0;
    }
</style>

<form role="form" id="simpleFormExample" method="get" action="">
        {% if writeable %}
        <button type="button" id = "saveAccountButton" class="btn btn-success">Save</button>
        {% endif %}

        <hr />

        <h3>Company Information</h3>
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="company">* Company Name</label>
            <input type="text" class="form-control" {% if not writeable %}disabled{% endif %} name="company" data-bv-notempty placeholder="Company Name" value = "{{ account.company }}">
          </div>
          <div class="form-group col-md-6">
            <label for="companyURL">* Company Web Address</label>
            <input type="url" class="form-control" name="companyWebAddress" {% if not writeable %}disabled{% endif %} data-bv-notempty placeholder="Company URL" value = "{{ account.companyWebAddress }}">
            <p class="help-block">ex. "http://google.com"</p>
          </div>
        </div>



      <hr />
        {% if session.roleType == "admin" %}
        <h3>Account Administrator Information</h3>
        {% endif %}
        {% if session.roleType == "adviser" %}
        <h3>Adviser Information</h3>
        {% endif %}
        
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstName">* First Name</label>
            <input type="text" class="form-control" name="firstname" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="First Name" value = "{{ user.firstname }}">
          </div>
          <div class="form-group col-md-6">
            <label for="firstName">* Last Name</label>
            <input type="text" class="form-control" name="lastname" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="Last Name" value = "{{ user.lastname }}">
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstName">* Address 1</label>
            <input type="text" class="form-control" name="address" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="Address 1" value = "{{ user.address }}">
          </div>
          <div class="form-group col-md-6">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control" name="address2" {% if not writeable %}disabled{% endif %}  placeholder="Address 2" value = "{{ user.address2 }}">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="city">* City</label>
            <input type="text" class="form-control" name="city" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="City" value = "{{ user.city }}">
          </div>
          <div class="form-group col-md-3">
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="State" value = "{{ user.state }}">
          </div>
          <div class="form-group col-md-3">
            <label for="zip">* Zip Code</label>
            <input type="text" class="form-control" name="zip" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="Zip Code" value = "{{ user.zip }}">
          </div>
        </div>

      <div class="row">

          <div class="form-group col-md-4">
            <label for="phone">* Phone</label>
            <input type="tel" class="form-control" name="phone" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="Phone Number" value = "{{ user.phone }}">
          </div>
          <div class="form-group col-md-4">
            <label for="altPhone">Alternate Phone</label>
            <input type="tel" class="form-control" name="phone2" {% if not writeable %}disabled{% endif %}  placeholder="Alternate Phone Number" value = "{{ user.phone2 }}">
          </div>
        </div>

        <hr />

        <h3>Login Details</h3>

        <div class="row">

            <div class="form-group col-md-12">
                <label for="email">* Email</label>
                <input type="email" class="form-control" name="email" {% if not writeable %}disabled{% endif %}  data-bv-notempty placeholder="Email Address" value = "{{ user.email }}">
            </div>

          {% if not writeable %}
            <div class="form-group col-md-12">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" {% if not writeable %}disabled{% endif %}  placeholder="Password" value = "{{ user.getPlainPassword() }}">
            </div>
        </div>
          {% endif %}

          {% if writeable %}

        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" name="newPasswordGlitch" placeholder="New Password" style = "display:none">

            <input type="password" class="form-control" name="newPassword" placeholder="New Password">
          </div>
          <div class="form-group col-md-6">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm New Password">
          </div>
        </div>
        <span class="form-group">Passwords must be at least 6 characters long and contain 1 lowercase letter, 1 uppercase letter, 1 number, and 1 special character</span>

        <hr />
        
        <button type="button" id = "saveAccountButton2" class="btn btn-success">Save</button>
        {% endif %}
    
    </form>
     
    {{ render(controller('ManageManageBundle:Groups:viewAccountGroups', {'userid': account.id})) }}
    <!-- adviser accounts -->
    {% if session.roleType != "adviser" %}
    <hr />
    <h3>User List</h3>

{% set tablename = "accountsUsers" %}
{% set unsearchableArray = [0,5] %}
{% set header = "<th>id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Role Type</th><th>Actions</th>" %}
{% set data = '{ userid: "' ~ account.id ~ '" }' %}
{% set unseeableArray =  [0] %}
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}

    {% if writeable %}
        
        <a href = "javascript:ajaxModal('{{ path('_account_user_add') }}','Add User','large')">
            <button type="button" class="btn btn-info">Add User</button>
        </a>
   
    {% endif %}  
    {% endif %}


<script>
$( "#saveAccountButton,#saveAccountButton2" ).click(function() 
{
    $('#simpleFormExample').bootstrapValidator('validate');
});


 $(document).ready(function() {
    $('#simpleFormExample').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            companyLogo: {
                validators: {
                    file: {
                        extension: 'jpeg,png,jpg',
                        type: 'image/jpeg,image/png',
                        maxSize: 2000000,
                        maxFiles: 1,
                        message: 'Please provide a png or jpg image 2MB or smaller'
                    }
                }
            },
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be between 6 and 30 characters'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of letters, numbers and underscores'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Email is required'
                    },
                    emailAddress: {
                        message: 'This is not a valid email address'
                    }
                }
            },
            zip: {
                validators: {
                    regexp: {
                        regexp: /^\d{5}$/,
                        message: 'Please provide a valid 5 digit US zipcode'
                    }
                }
            },
            phone: {
                validators: {
                    phone: {
                        country: 'US',
                        message: 'Please provide a valid US phone number'
                    }
                }
            },
            phone2: {
                validators: {
                    phone: {
                        country: 'US',
                        message: 'Please provide a valid US phone number'
                    }
                }
            },
            newPassword: {
                validators: {
                    identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'newPassword',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }            
        }
    })
    .on('success.form.bv', function(e)
     {
        // Prevent form submission
        e.preventDefault();
        var querystring = $("#simpleFormExample").serialize();

        $.post("{{ path('_account_saveContactInfo') }}", querystring) 
        .done(function(data) 
        {
            if (data.errors.length == 0)
            {
                 showalert('saved-alert');
            }
            else
            {
                jsonResponseModal(data.errors);
            }
        });
    });
});
</script>


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
    
   