
<a href ="{{ parentPage }}">{{ parentDescription }}</a>
<h3>Code</h3>
<form id = "editPage">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" value ="{{ name }}" />
    <br/>    
    <textarea class ="form-control" name = "html" style ="width:100%;height:500px;resize:none">{{ html }}</textarea>
    <br/>
    {% autoescape false %}
    {{ inputfields |  default("") }}
    {% endautoescape %}
    <button type ="submit" class ="btn btn-success">Save</button>
</form>
  <hr/>
  <h3>Preview</h3>   
  <div class = "pager"><a href ="{{ previewlink }}" target ="_blank">View in window</a></div>
  <iframe id ="previewTemplate" src ="{{ previewlink }}" width ="100%" height ="400px" frameBorder="0"></iframe>
<script>
function reloadTemplate()
{
    $('#previewTemplate').attr("src", $('#previewTemplate').attr("src"));
    modalMessage("Changes Saved");
}
</script>

