<script src="/js/bootstrap-switch.js"></script>
<link href="/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
{% if (section == "Plans" and currentpage != "PlansHome") or section == "Settings" %}
</div></div>
{% endif %}
</div>
<footer>
<!-- Modal -->
<div class="modal fade" id="timeremainingModal" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="timeremainingModalTitle" aria-hidden="true" style = "z-index:100000000" >
  <div class="modal-dialog" id = "timeremainingModalDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="timeremainingModalTitle">Your Session is about to Expire!</h4>
      </div>
      <div class="modal-body" id = "timeremainingModalBody">
        <div id = "timeremainingModalContent">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick = "renewsession(1)">Stay Logged in</button>
        <a href = "javascript:logout()"><button type="button" class="btn btn-danger" >Log Out</button></a>
      </div>
    </div>
  </div>
</div>

{{ include ('TemplatesTemplatesBundle:Default:messageModule.html.twig') }}



<div class="modal fade" id="ajaxModule"  tabindex="-1" role="dialog" aria-labelledby="ajaxModuleTitle" aria-hidden="true">
  <div class="modal-dialog" id = "ajaxModuleDialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ajaxModuleTitle">Modal title</h4>
      </div>
      <div class="modal-body" id = "ajaxModuleBody">
        <div id = "ajaxModuleContent">
        </div>
        <iframe id = "ajaxModalIframe" src = "" width = "100%" height = "500" style = "display:none" frameBorder="0"></iframe>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<div class="container">
		<small class="pull-left footer-logo" style="z-index:100;"><img src="{{ asset('images/vWise2.png') }}" style="z-index:100;"> Educate. Enroll. Engage.</small>
		<small class="pull-right">&copy; {{ year }} vWise, Inc. All rights reserved | <a href="#">Terms of Use</a></small>
	</div>
</footer>

</div>
</body>		
</html>	
<script>
$(window).on('scroll', function (e) {
    $( "footer" ).css('opacity', '0.7');
});

$.fn.scrollEnd = function(callback, timeout) {          
  $(this).scroll(function(){
    var $this = $(this);
    if ($this.data('scrollTimeout')) {
      clearTimeout($this.data('scrollTimeout'));
    }
    $this.data('scrollTimeout', setTimeout(callback,timeout));
  });
};

$(window).scrollEnd(function(){
    $( "footer" ).css('opacity', '1');
}, 1000);
</script>
