<script>
var lastitemAdded = 0;
var currentTime = {{ currentTime }};
var maxsessiontime = {{ maxsessiontime }}
var timeExpired = currentTime + maxsessiontime;
var timeremaining  = 0;


function updatetable(table,formid,findby,endaction)
{
  if(typeof(endaction)==='undefined') 
  var endaction = "";
  var querystring = "table=" + table + "&findby=" + findby;
  querystring = querystring + serialize(formid);
  page = "{{ path('classesclass_update') }}";
  $.post(page, querystring).done(function(data) 
  {
	
    if (endaction != "")
    endaction();
  });
}
function serialize(formid)
{
	var querystring = ""
	var inputs = $("#" + formid + " :input[type=text],input[type=radio]:checked,input[type=checkbox],select,textarea")
	for (i = 0; i < inputs.length;i++)
	querystring = querystring + "&" +  inputs[i].name + "=" + encodeURIComponent(inputs[i].value);	
	return querystring;
}
function addform(table,formid,redirect,endaction)
{
  var querystring = "table=" + table;
  querystring = querystring + serialize(formid);
  if(typeof(redirect)==='undefined') 
  var redirect = "";
  if(typeof(endaction)==='undefined') 
  var endaction = "";
  var page = "{{ path('classesclass_add') }}";
  $.post(page, querystring).done(function(data) 
  {
    lastitemAdded = data;
    if (redirect != "")
    window.location = redirect;
    if (endaction != "")
    endaction();
  });
}

function deleteform(table,findby,value,redirect,endaction)
{
  if(typeof(redirect)==='undefined') 
  var redirect = "";
  if(typeof(endaction)==='undefined') 
  var endaction = "";
  querystring = "table=" + table + "&findby=" + findby + "&" + findby + "=" + value;
  var page = "{{ path('classesclass_delete') }}";
  $.post(page, querystring).done(function(data) 
  {
    if (redirect != "")
    window.location = redirect;

    if (endaction != "" )
    endaction();
  });
}

function editplan(planid)
{
  var page = "{{ path('_plans_set_plan') }}";
  var querystring = "planid=" + planid;
  
  $.post(page, querystring).done(function(data) 
  {
    enterplan();
  });
}

function enterplan()
{
  {% if currentuser.roleType != "adviser" %}
  window.location = "{{ path('_plans_plan_identification') }}";
  {% else %}
  window.location = "{{ path('_plans_adviser_home') }}";
  {% endif %}
}

function addplan()
{
  var page = "{{ path('_plans_add_plan') }}";
  var querystring = "";
  $.post(page, querystring).done(function(data) 
  {
    enterplan();
  });
}

function searchform(table,listid,template,endaction)
{
  var types = $("#" + listid + "searchtypes").val();
  var value = $("#" + listid + "search").val();
  var pagenumber = $("#" + listid + "currentpagenumber").html();
  var maxresults = $("#" + listid + "maxresults").val();
  var findby = $("#" + listid + "findby").val();
  var findbyvalue = $("#" + listid + "findbyvalue").val();
  var totalrows = $("#" + listid + "totalrows").html();
  var selectedletter = $("#" + listid + "selectedletter").val();
  var searchtype = $("#" + listid + "searchtype").val();
  var query = $("#" + listid + "query").val();
  $("#" + listid + "totalpages").html(parseInt(Math.ceil(totalrows/maxresults)));
  var querystring = "table=" + table + "&value=" + value + "&findby=" + findby +  "&findbyvalue=" + findbyvalue + "&template="  + template + "&pagenumber=" + pagenumber + "&types=" + types + "&maxresults=" + maxresults + "&selectedletter=" + selectedletter + "&searchtype=" + searchtype + "&query=" + query;
  var page = "{{ path('classesclass_search') }}";
  $.post(page, querystring).done(function(data) 
  {
      $("#" + listid).html(data);
      var countstring = data.split("*totalrows*");
      var totalrows = countstring[1];
      $("#" + listid + "totalrows").html(totalrows);
      var totalpages = Math.ceil(totalrows/maxresults);
      if (totalpages == 0)
      totalpages = 1;
      $("#" + listid + "totalpages").html(totalpages);
      
      if ($("#" + listid).html().indexOf("Sorry, no results found") != -1 && pagenumber > 1)
      searchformprev(table,listid,template,endaction);
      endaction();//need to do something else?
  });

  if (endaction == "reload")
  $("#" + listid).html('<img src = "{{ asset('images/load-icon.gif') }}" />');
}
function searchformnext(table,listid,template,endaction)
{
  var pagenumber = parseInt($("#" +listid + "currentpagenumber").html());
  var totalpages = parseInt($("#" + listid + "totalpages").html());
  if (pagenumber < totalpages)
  {
    $("#" + listid + "currentpagenumber").html(parseInt($("#" + listid + "currentpagenumber").html()) + 1);
    searchform(table,listid,template,endaction);
  }
}

function searchformprev(table,listid,template,endaction)
{
  var pagenumber = parseInt($("#" + listid + "currentpagenumber").html());
  var totalpages = parseInt($("#" + listid + "totalpages").html());

  if (pagenumber > 1)
  {
    $("#" + listid + "currentpagenumber").html(parseInt($("#" +listid + "currentpagenumber").html())  -1);
    searchform(table,listid,template,endaction);
  }
}

function newsearch(table,listid,template,endaction)
{
  $("#" + listid + "currentpagenumber").html("1");
  searchform(table,listid,template,endaction);
}

function ajaxModal(page,title,size,iframe)
{
  if(typeof(size)==='undefined') 
  size = "medium";
  if(typeof(iframe)==='undefined') 
  iframe = false;
  if (size == "medium")
  {
    $("#ajaxModuleDialog").prop("class","modal-dialog");
    $("#ajaxModule").prop("class","modal fade");
  }
  else if (size == "small")
  {
    $("#ajaxModuleDialog").prop("class","modal-dialog modal-sm");
    $("#ajaxModule").prop("class","modal fade bs-example-modal-sm");
  }
  else if (size == "large")
  {
    $("#ajaxModuleDialog").prop("class","modal-dialog modal-lg");
    $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
  }
  else if (size = "extra large")//for those really big pages
  {
    $("#ajaxModuleDialog").width("1200px");
    $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
  }
  if (!iframe)
  {
    $("#ajaxModalIframe").hide();
    $( "#ajaxModuleContent" ).load(page, function()
    {
      $("#ajaxModuleTitle").html(title);
      $("#ajaxModule").modal("show");  
    });
  }
  else
  {
    $("#ajaxModuleTitle").html(title);
    $("#ajaxModalIframe").prop("src",page);
    $("#ajaxModalIframe").show();
    $("#ajaxModule").modal("show");  
  }

}
$( document ).ready(function() 
{
  $('#ajaxModule').on('hidden.bs.modal', function () 
  {
    $("#ajaxModalIframe").prop("src","");
    $("#ajaxModalIframe").hide();

    $("#ajaxModuleTitle").html("");
    $("#ajaxModuleContent").html("");
    $("#ajaxModuleDialog").width("");
    
  })
  $('[data-toggle="tooltip"]').tooltip();
  //setInterval(function(){ timeoutbox() }, 1000);
  timeoutbox();
   
});

function logout()
{

  var page = "{{ path('_templates_removeExpiredUserLogins')}}";
  var querystring = "accountsUsersId={{ currentuser.id }}";
    

  $.post(page, querystring).done(function(data) 
  {
    page = "{{ path('fos_user_security_logout') }}";
    querystring = "";
    $.post(page, querystring).done(function(data) 
    {
      window.location = "{{ path('_index') }}";
    });
  });
}
function timeoutbox()
{
  var querystring = "accountsUsersId={{ currentuser.id }}";
  var page = "{{ path('_templates_sessionTimeRemaining') }}";
  $.post(page, querystring).done(function(data) 
  {
    var timedata = data.split("|");
    timeExpired = parseInt(data[0]) + maxsessiontime;
    currentTime = parseInt(data[1]);
    timeremaining = parseInt(timeExpired) - parseInt(currentTime);
    //alert(timeremaining);
    //alert(data);
    //alert(parseInt(timeExpired) + "|" + parseInt(currentTime));

    alert(timeremaining);
    

    if (timeremaining < 1)
    logout();
    if (timeremaining < 31)
    {
      $("#timeremainingModalContent").html("<h4>Session Ending in: " + timeremaining + "</h4>");
      $("#timeremainingModal").modal("show");
    }
    setTimeout("timeoutbox()", 1000);
    
  });



}
function renewsession()
{
  var page = "{{ path('_templates_renewsession') }}";
  var querystring = "";
  $.post(page, querystring).done(function(data) 
  {
    timeremaining = data;
  });
}
function returnToOriginalAccount()
{
  var page = "{{ path('_account_user_returnToOriginalAccount') }}";
  var querystring = "";
  $.post(page, querystring).done(function(data) 
  {
    setsession();
  });
}
function loginas(clientid)
{
  var page = "{{ path("_account_user_loginas_saved") }}";
  var querystring = "id=" + clientid; 
  $.post(page, querystring).done(function(data)
  {
    setsession();
  });
}

function setsession()
{
  var page = "{{ path("_setSessionVariables") }}";
  var querystring = "";
  $.post(page, querystring).done(function(data)
  {
    window.location = '{{ path('_portal_index') }}';
  });
}

function redirectocurrentpage()
{
  window.location = "";
}
</script>