{% if app.session.get("masterRoleType") == "vwise_admin" %}
<li class="dropdown" id="path-nav-item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Paths <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li ><a href="{{ path('_paths_index') }}">Paths</a></li>
        <li ><a href="{{ path('_paths_partner') }}">Accounts</a></li>
        <li ><a href="{{ path('_paths_plans') }}">Plans</a></li>
        <li ><a href="{{ path('_paths_playListSections') }}">PlayLists</a></li>
    </ul>
</li>
{% endif %}

