    
    {% include ('TemplatesTemplatesBundle:Default:commonheader.html.twig') %}
    <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Smartplan Admin</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if permissions.DashboardReadable %}
              <li><a href="{{ path('_portal_index') }}"  >Dashboard</a></li>
            {% endif %} 
            {% if permissions.AccountReadable %}
              <li><a href="{{ path('_account_index') }}"  >Account</a></li>
            {% endif %}
            {% if permissions.SupportReadable %}
              <li><a href="{{ path('_support_index') }}"  >Support</a></li>
            {% endif %}
            {% if permissions.SettingsHomeReadable %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% for nav in settingsNav %}
                    {% if nav.visible %}
                      <li><a href = "{{ nav.link }}">{{ nav.description }}</a> </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            {% if permissions.PlansHomeReadable %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% for nav in plansNav %}
                    {% if nav.visible  and (currentplan is not null or nav.description == "Home") %}
                      <li><a href = "{{ nav.link }}">{{ nav.description }}</a> </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}

            <li><a href = "{{ path('_logout') }}">logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>  

    
    <div class="container" >
      <div class="starter-template">

        {% if currentplan is not null %}
            <h3>Current Plan:</h3> 
            <strong>
              {{ currentplan.name }} / {{ currentplan.id }}
              {% if currentplan.planid != "" %}
                / {{ currentplan.planid }}
              {% else %}
               / <a href = "{{ path('_plans_branding') }}">Set plan id </a>
              {% endif %}
            </strong> 
        {% endif %}
        <div class="jumbotron">   
          <h1>{{ pagename }}</h1>
        </div>
