

{% set display = false %}
{% for nav in manageArray %}
{% if nav.visible %}
{% set display = true %}
{% endif %}
{% endfor %}

{% if display %}
<li class="dropdown {% if section == "Manage" %}active{% endif %}" id="manage-nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    {% set name = "Accounts" %}
    {% set navs = manageNavAccounts %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}


    {% set name = "Outreach" %}
    {% set navs = manageNavOutreach %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}            

    {% set name = "Analytics" %}
    {% set navs = manageNavAnalytics %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}

    {% set name = "Other" %}
    {% set navs = manageNavOther %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}

    {% set name = "Sales" %}
    {% set navs = manageNavSales %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}    
    
  </ul>
</li>
{% endif %}
