  {{ addplanhtml | raw}}
  <h1 class="pull-left">Plan Configuration</h1>
  <div class="clearfix"></div>
  <h4>You are editing: <strong>"<span id = "currentplanname">{{ currentplan.name }}</span>" - ID# <span id = "currentplanid">{{ currentplan.planid }}</span></strong></h4>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-subnav" id="plans-subnav"  role="tablist" aria-multiselectable="true">

        <div class="panel panel-default" {% if not plansDisplayPlanFeatures %}style = "display:none"{% endif %}>
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#plans-subnav" href="#collapseOne" aria-expanded="{% if currentsubsection == "plansNavPlanFeatures" %}true{% else %}false{% endif %}" aria-controls="collapseOne">
                <strong>Plan Features</strong>
              </a>
            </h4>
          </div>
        <div id="collapseOne"  class="panel-collapse collapse {% if currentsubsection == "plansNavPlanFeatures" %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne" >
          <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavPlanFeatures %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>


      <div class="panel panel-default" {% if not plansDisplayOutreach %}style = "display:none"{% endif %}>
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#plans-subnav" href="#collapseTwo" aria-expanded="{% if currentsubsection == "plansNavOutreach" %}true{% else %}false{% endif %}" aria-controls="collapseTwo">
              <strong>Outreach</strong>
            </a>
          </h4>
        </div>
        <div id="collapseTwo"  class="panel-collapse collapse {% if currentsubsection == "plansNavOutreach" %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavOutreach %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default" {% if not plansDisplayPowerView %}style = "display:none"{% endif %}>
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#plans-subnav" href="#collapseFive" aria-expanded="{% if currentsubsection == "plansNavPowerView" %}true{% else %}false{% endif %}" aria-controls="collapseFive">
            <strong>Power View</strong>
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse {% if currentsubsection == "plansNavPowerView" %}in{% endif %}" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavPowerView %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div> 
          
    <div class="panel panel-default" {% if not plansDisplayIrio %}style = "display:none"{% endif %}>
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#plans-subnav" href="#collapseSix" aria-expanded="{% if currentsubsection == "plansNavIrio" %}true{% else %}false{% endif %}" aria-controls="collapseSix">
            <strong>Irio</strong>
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse {% if currentsubsection == "plansNavIrio" %}in{% endif %}" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavIrio%}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
          
    <div class="panel panel-default" {% if not plansDisplayAnalytics %}style = "display:none"{% endif %}>
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#plans-subnav" href="#collapseThree" aria-expanded="{% if currentsubsection == "plansNavAnalytics" %}true{% else %}false{% endif %}" aria-controls="collapseThree">
            <strong>Analytics</strong>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse {% if currentsubsection == "plansNavAnalytics" %}in{% endif %}" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavAnalytics %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  
    <div class="panel panel-default" {% if not plansDisplaySponsorConnect %}style = "display:none"{% endif %}>
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#plans-subnav" href="#collapseFour" aria-expanded="{% if currentsubsection == "plansNavSponsorConnect" %}true{% else %}false{% endif %}" aria-controls="collapseFour">
            <strong>SmartConnect</strong>
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse {% if currentsubsection == "plansNavSponsorConnect" %}in{% endif %}" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
              {% for nav in plansNavSponsorConnect %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
          
         

  </div>    

</div>

    <!-- main content area -->
    <div class="col-md-9">

    