{% if permissions.EmailCampaignsReadable %}
<li class="dropdown {% if section == "MailChimp" or section == "emailCampaigns" %}active{% endif %}" id="email-campaigns-nav-item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Email Campaigns <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('_manage_participantUpload') }}">Participant Upload</a></li>
        <li><a href="{{ path('_manage_hubSpotExclusionList') }}">HubSpot Exclusion List</a></li>
        <li><a href="{{ path('_manage_hubSpotAlertRecipients') }}">HubSpot Alert Recipients</a></li>
        <li><a href="{{ path('_manage_hubSpotDiagnosticTool') }}">HubSpot Diagnostic Tool</a></li>
        <li class="dropdown-submenu"><a href="#" >Campaigns</a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('_manage_campaigns_createcampaign') }}">Create Campaign</a></li>
                <li><a href="{{ path('_manage_campaigns_listcampaigns') }}">List Campaigns</a></li>
                <li><a href="{{ path('_manage_outreach_new') }}">Manage Templates</a></li>
                {% if session.userid == 58 %}<li><a href="{{ path('_manage_videoLandingPage') }}">Landing Pages</a></li>{% endif %}
            </ul>
        </li>
        <li class="dropdown-submenu"><a href="#" >Messages</a>
            <ul class="dropdown-menu">  
                <li><a href="{{ path('_manage_outreach_disclaimers') }}">Manage Disclaimers</a></li>
                <li><a href="{{ path('_manage_outreach_signatures') }}">Manage Signatures</a></li>
            </ul>
        </li>
    </ul>
</li>
{% endif %}

