{% set statsClientDisplay = false %}
{% set settingsDisplay  = false %}
{% set addplanhtml = '' %}
{% set settingsNavCounter = 0 %}
{% set settingsDisplay = false %}
{% set settingsDisplayDefaults = false %}
{% set settingsDisplayTools = false %}
{% set plansDisplayPlanFeatures = false %}
{% set plansDisplayOutreach = false %}
{% set plansDisplayAnalytics = false %}
{% set plansDisplaySponsorConnect = false %}
{% set plansDisplayPowerView = false %}
{% set plansDisplayIrio = false %}
{% set currentsection = "" %}
{% set currentsubsection = "" %}


{% for nav in statsClientServices %}
  {% if nav.visible %}
    {% set statsClientDisplay = true %}
  {% endif %}
{% endfor %}


{% for nav in settingsNavDefaults %}
  {% if nav.visible %}
    {% set settingsDisplay = true %}
    {% set settingsDisplayDefaults = true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "settingsNavDefaults" %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for nav in settingsNavTools %}
  {% if nav.visible %}
    {% set settingsDisplay = true %}
    {% set settingsDisplayTools = true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "settingsNavTools" %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for nav in plansNavPlanFeatures %}
  {% if nav.visible %}
    {% set plansDisplayPlanFeatures = true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavPlanFeatures" %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for nav in plansNavOutreach %}
  {% if nav.visible %}
    {% set plansDisplayOutreach = true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavOutreach" %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for nav in plansNavAnalytics %}
  {% if nav.visible %}
    {% set plansDisplayAnalytics = true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavAnalytics" %}
    {% endif %}
  {% endif %}
{% endfor %} 

{% for nav in plansNavSponsorConnect %}
  {% if nav.visible %}
    {% set  plansDisplaySponsorConnect= true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavSponsorConnect" %}
    {% endif %}
  {% endif %}
{% endfor %} 

{% for nav in plansNavPowerView %}
  {% if nav.visible %}
    {% set  plansDisplayPowerView= true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavPowerView" %}
    {% endif %}
  {% endif %}
{% endfor %} 

{% for nav in plansNavIrio %}
  {% if nav.visible %}
    {% set  plansDisplayIrio= true %}
    {% if nav.page == currentpage %}
      {% set currentsubsection = "plansNavIrio" %}
    {% endif %}
  {% endif %}
{% endfor %} 

{% include ('TemplatesTemplatesBundle:Default:commonheader.html.twig') %}
<body>
<div class="top-logo">
    <img src="{{ asset ('images/smartplanlogo.png') }}" alt="vWise" />
</div>   

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{ include ('TemplatesTemplatesBundle:Default:headerdashboard.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headeraccount.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headertopplans.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headerpaths.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headersupport.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headermanage.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headeremailcampaigns.html.twig') }}
        {{ include ('TemplatesTemplatesBundle:Default:headerstats.html.twig') }}
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <li><span class = "span_looklikenav">Logged in as {{name }}</span></li>
        {% if newclientid != "" %}
        <li><a href="javascript:returnToOriginalAccount()">Return to Original Account</a></li>
        {% endif %}

        <li><a href="javascript:logout()">Logout</a></li>
        {% if session.roleType == "vwise_admin" %}
        <li><button type ="button" class ="btn btn-{% if session.debugbar == 0 %}success{% else %}warning{% endif %}" onclick ="setDebugBar()" >Turn {% if session.debugbar == 0 %}on{% else %}off{%endif %} Debug Bar</button></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">        
  {% if permissions.PlansHomeWriteable and currentuser.roleType != "adviser" and 'Plans List' in pagename%}
  {% set addplanhtml = '<a class="pull-right btn btn-info" aria-hidden="true" onclick = "addplan()"><span class="glyphicon glyphicon-plus"></span> Add a New Plan</a>' %}
  {% endif %}
  {% if (section != "Plans" and section != "Settings") or currentpage == "PlansHome" %}
  <h1 {% if section == "Plans" and currentpage == "PlansHome" %}class="pull-left"{% endif %}>{{ pagename }}</h1>

  {% if section == "Plans" and currentpage == "PlansHome" %}{{ addplanhtml | raw}}{% endif %}
  
  <div class="clearfix"></div>

  {% elseif section == "Plans" %}
  {% include ('TemplatesTemplatesBundle:Default:headerplans.html.twig') %}
  {% elseif section == "Settings" %}
  {% include ('TemplatesTemplatesBundle:Default:headersettings.html.twig') %}
  {% endif %}




  

