{% if settingsDisplay  %}
<li class="dropdown {% if section == "Settings" %}active{% endif %}" id="settings-nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">


    {% set name = "Defaults" %}
    {% set navs = settingsNavDefaults %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}

    {% set name = "Tools" %}
    {% set navs = settingsNavTools %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}

  </ul>
</li>
{% endif %}