
{% set display = false %}
{% for nav in statsArray %}
{% if nav.visible %}
{% set display = true %}
{% endif %}
{% endfor %}

{% if display %}
<li class="dropdown {% if section == "Stats" %}active{% endif %}" id="stats-nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistics <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
   

    {% set name = "Client Services" %}
    {% set navs = statsClientServices %}
    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}   
  
    <li><a href="{{ path('_support_monitoring_tool') }}">Monitoring Tool</a></li>
    <li><a href="{{ path('_support_dashboard_monitoring') }}">Dashboard Monitoring</a></li>
  </ul>
</li>
{% endif %}
