<script>
var csvpagenumber = 1;
var csvtype = "";
var ROWS_PER_CSV = 800;

$( document ).ready(function() 
{
  $( "#profile-filtersButton" ).click(function() 
  {
    toggleFiltersButtonText();
  }); 
  
  $( "#filtersButton" ).click(function() 
  {
    $("[name='numberComparison']").val('');
    $(".checkBoxComparison").prop("checked",false);
    toggleFiltersButtonText();
    restartTableProfiles();
  });  

  {% for section in sections %}
  {% if section.type == "date" %}
  $('#greaterthan_{{ section.name }}_{{ section.database }}').datepicker({ dateFormat: "yy-mm-dd" });
  $('#lessthan_{{ section.name }}_{{ section.database }}').datepicker({ dateFormat: "yy-mm-dd" });
  {% endif %}
  {% endfor %}

});

function toggleFiltersButtonText()
{
    if ($( "#profile-filtersButton" ).html() == "Show Profile Filters")
    $( "#profile-filtersButton" ).html('Hide & Disable Profile Filters');
    else
    $( "#profile-filtersButton" ).html('Show Profile Filters');  
}
function getcheckboxvalue(id)
{
  var checkboxString = "";
  var types = $("input[name=" + id + "]");
  for (i = 0; i < types.length; i++)
  if (types[i].checked)
  if (checkboxString == "")
  checkboxString = types[i].value;
  else
  checkboxString = checkboxString + "," + types[i].value;
  return checkboxString;
}

function csvlink(csvpagenumber,csvtype)
{
	var start = (csvpagenumber-1) * ROWS_PER_CSV;

	var parameters = { {% include ('SharedProfilesBundle:Default:javascript/csvarray.js.twig') %},csvtype:csvtype,length:ROWS_PER_CSV,start:start }
	
	var form = jQuery('<form>', {
        'action': '{{ path('classesclass_search_csv') }}',
        'target': '_blank',
        'method': 'post'
    });
	jQuery.each(parameters, function(name, value)
	{
		form.append(jQuery('<input>', 
		{
	        'name': name,
	        'value': value,
	        'type': 'hidden'
	    }));
	});
	form.appendTo('body').submit();
}
function csvlinks()
{
  
  $.post( "{{ path('classesclass_search_csv_count') }}", { {% include ('SharedProfilesBundle:Default:javascript/csvarray.js.twig') %},length:"1",start:"1" } )
  .done(function( data )
  {
    var counter = 0;
    var datastring = "";
    var i = 1;
    if (data > 0)
    {
      while (counter < data)
      {
        datastring = datastring + ' <a href = "javascript:csvlink(\'' + i + '\',\'participantSelections\')">Participant Selections ' + i + '</a>'  + ' <a href = "javascript:csvlink(\'' + i + '\',\'participantEmails\')">Participant Emails ' + i + '</a>'  + ' <a href = "javascript:csvlink(\'' + i + '\',\'participantBeneficiaries\')">Participant Beneficiaries ' + i + '</a>'  + '<br/>';
        counter = counter + ROWS_PER_CSV;
        i++;
      }

      $("#csvcontents").html(datastring);
    }
    else
    $("#csvcontents").html("No data returned");
  });

  $("#csvlightbox").modal("show");
  
}


</script>