  {% if pagename is defined %}
  {% if currentpage == "PlansProfiles" or currentpage == "SettingsAccountLevelReporting" %}

  {% for section in profileSections %}

  {% if section.type == "number" %}
  querystring = querystring + "&lessthan_{{ section.name }}_{{ section.database }}=" + document.getElementById("lessthan_{{ section.name }}_{{ section.database }}").value;
  querystring = querystring + "&greaterthan_{{ section.name }}_{{ section.database }}=" + document.getElementById("greaterthan_{{ section.name }}_{{ section.database }}").value;
  querystring = querystring + "&equalto_{{ section.name }}_{{ section.database }}=" + document.getElementById("equalto_{{ section.name }}_{{ section.database }}").value;
  {% endif %}

  {% if section.type == "checkboxes" %}
  var checkboxString = "";
  var {{section.name}}Types = document.getElementsByName("checkbox_{{section.name}}");
  for (i = 0; i < {{section.name}}Types.length; i++)
  if ({{section.name}}Types[i].checked)
  if (checkboxString == "")
  checkboxString = {{section.name}}Types[i].value;
  else
  checkboxString = checkboxString + "," + {{section.name}}Types[i].value;

  querystring = querystring + "&checkboxes_{{ section.name }}_{{ section.database }}=" +  checkboxString;
  {% endif %}

  {% endfor %}

  if (template == "csvlinks")
  {
    var page = "{{ path('classesclass_search_csv_count') }}";
    
    ajaxRequest.onreadystatechange = function()
    {
      if(ajaxRequest.readyState == 4)
      {

        var totalcount = ajaxRequest.responseText;
        var links = '<table class="table table-bordered"><tr class = "active"><td>Participant Selections</td><td>Participant Emails</td><td>Participant Beneficiaries</td></tr>';
        var counter = 1;
        while (totalcount > 500)
        {
          links = links + '<tr><td><a href = "javascript:csvlink(' + counter + ',' + "'participantSelections'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Selections  ' + counter + '</a></td><td> <a href = "javascript:csvlink(' + counter + ',' + "'participantEmails'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Emails ' + counter + '</a></td><td><a href = "javascript:csvlink(' + counter + ',' + "'participantBeneficiaries'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Beneficiaries ' + counter + '</a></td></tr>';
          totalcount = totalcount - 500;
          counter++;
        }
          links = links + '<tr><td><a href = "javascript:csvlink(' + counter + ',' + "'participantSelections'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Selections  ' + counter + '</a></td><td> <a href = "javascript:csvlink(' + counter + ',' + "'participantEmails'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Emails ' + counter + '</a></td><td><a href = "javascript:csvlink(' + counter + ',' + "'participantBeneficiaries'" + ')"><span class="glyphicon glyphicon-floppy-save"></span> Beneficiaries ' + counter + '</a></td></tr>';
        document.getElementById("csvcontents").innerHTML = links;


      }
    }
    postAjax(ajaxRequest,page,querystring);
    return;
  }
  if (template == "csvdownload")
  {  
    var page = "{{ path('classesclass_search_csv') }}";
    querystring = querystring + "&csvpagenumber=" + csvpagenumber + "&csvtype=" + csvtype;

    //window.location = page + "?" + querystring;

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", page);

    form.setAttribute("target","_blank");

    querystringArray = querystring.split("&");
    for(var i = 0; i < querystringArray.length; i++)
    {
      querystringArray[i] = querystringArray[i].split("=");
      var field = document.createElement("input");
      field.setAttribute("type", "hidden");
      field.setAttribute("name", querystringArray[i][0]);
      field.setAttribute("value",querystringArray[i][1]);
      form.appendChild(field);
    }

    document.body.appendChild(form);    // Not entirely sure if this is necessary
    form.submit();
    return;
  }


  {% endif %}
  {% endif %}