<script>
function reloadCronList()
{
	closeLightBox();
	searchingTable.ajax.reload();
}
function deleteCron(id)
{
	var querystring = "id=" + id;
	var page = "{{ path('_manage_cron_delete') }}";
	$.post(page, querystring).done(function(data) 
	{
		reloadCronList();
	});
}
function changeActive(id,object)
{
	assignCheckboxValue(object);
	var querystring = "id=" + id + "&active=" + object.value;
	var page = "{{path('_manage_cron_save_active') }}"
	$.post(page, querystring).done(function(data) 
	{
	});
}


</script>