{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ plan.id }},
	"{{ plan.name }}",
	"{{ plan.planid }}",
	"{{ plan.plantypecd }}",
	"<a href = \"javascript:associate('{{ plan.planid }}','{{ plan.plantypecd }}')\">select</a>"
]
{% endfor %}

