<form id ="editGroup">
    {% include('ManageManageBundle:Groups:printsections.html.twig') %}
</form>
<br/>
<button class ="btn btn-info" onclick = "edituser()">Save</button>

<script>
function edituser()
{
    var querystring = $("#editGroup").serialize() +"&id={{id}}";
    var page = "{{ path('_manage_groups_edit_user_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
      reloadList();
    });
}
</script>
