<input type ="text" name ="group" value ="{{ group }}" style ="display:none" />
{% for section in sections %}
    <strong>{{ section.description }}</strong>
    <br/>
    <input type ="text" value ="{{ section.value }}" class ="form-control" name ="{{ section.name}}" />
{% endfor %}