{% set table = request.group %}
{% set tablename = table %}
{% set  types = "a.id,a.firstName,a.lastName,a.emailAddress,a.phoneNumber" %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Phone Number</th><th>Add</th>" %}
{% set extraparameters = ',userid:"' ~request.id ~'"' %}
{% set template = 'ManageManageBundle:Groups:Search/groupsaccounts.html.twig' %}  
{% set unsearchableArray = [5] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<script>
function saveGroup(group,userid,id)
{
    var checked = $("#groupcheckbox_" + id).is(':checked');
    var querystring = "group=" + group + "&userid=" + userid +"&checked=" + checked +"&id=" + id;
    var page = "{{ path('_manage_groups_setGroupsForAccountCheckedSave') }}";
    $.post(page, querystring).done(function(data) 
    {
        
    });
}
</script>