<form id = "addcategory">
	<strong>Title</strong>  <input type = "text" name = "name" value = "" class = "form-control" />
	<input type = "text"  name = "orderid" value = "1000" style = "display:none" />
	<br/>
</form>
<input type = "button" class = "btn btn-info" value = "Add Category" onclick = "javascript:addform('managePromoDocsCategories','addcategory','{{ path('_manage_promo_docs_manage')}}')" />



  