<form id = "editcategory">
	<input type = "text" value = "{{ currentcategory.id }}" name = "id" id = "id" style = "display:none" readonly = "true"  />
	<strong>Title</strong>  <input type = "text" name = "name" class = "form-control" value = "{{ currentcategory.name }}"  />
	<br/>
</form>
<input type = "button" class="btn btn-success" onclick = "updatetable('managePromoDocsCategories','editcategory','id',redirectocurrentpage)" value = "Save" id = "editcategorybutton" />

