<form id = "addsection">
	<input type = "text" name = "parentid" value = "{{ categoryid }}" style = "display:none" />
	<strong>Title</strong>  <input type = "text" name = "name" value = "" class = "form-control" />
	<br/>
</form>
<input type = "button" class = "btn btn-info" value = "add" onclick = "javascript:addform('managePromoDocsSections','addsection','{{ path('_manage_promo_docs_manage_manage_category')}}?id={{ categoryid }}')" />
