Are you sure you wish to delete this Document: {{ document.name }}
  
<br/><br/>
    
<a href = "javascript:deleteform('managePromoDocs','id','{{ document.id }}', '{{ path('_manage_promo_docs_manage_manage_category') }}?id={{ category.id }}')"><button type="button" class="btn btn-danger">Delete Document</button></a>