{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
          'pagename': 'Manage Promo Users | Delete User'
      })) }}
      <script>
      function deleteUser()
      {
      	var page = "{{ path('_manage_manage_users_delete_user_save') }}";
      	var querystring = "id={{ currentuser.id }}";
      	var ajaxRequest;  // The variable that makes Ajax possible!
	  	
	  	    try{
	  	        // Opera 8.0+, Firefox, Safari
	  	        ajaxRequest = new XMLHttpRequest();
	  	    } catch (e){
	  	        // Internet Explorer Browsers
	  	        try{
	  	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	  	        } catch (e) {
	  	            try{
	  	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
	  	            } catch (e){
	  	                // Something went wrong
	  	                alert("Your browser broke!");
	  	                return false;
	  	            }
	  	        }
	  	    }
	  	
	  	
	  	    // Create a function that will receive data sent from the server
	  	    ajaxRequest.onreadystatechange = function(){
	  	        if(ajaxRequest.readyState == 4){
	  		alert('deleted');
	  	        window.location = "{{ path('_manage_manage_users') }}";
	  	
	  	        }
	      }
	          
	          
	          ajaxRequest.open("POST", page , true);
	  	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  	ajaxRequest.setRequestHeader("Content-length", querystring.length);
	  ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
      
      	
      
      }
      
      </script>
      
      
    <strong>Delete User</strong>
<br/><br/>
  
  
 Are you sure you wish to delete this User : <br/><br/>
 
 {% if currentuser.name != "" %}
 Name: {{ currentuser.name }}<br/><br/>
 {% endif %}
 
  {% if currentuser.email != "" %}
 Email: {{ currentuser.email }}<br/><br/>
 {% endif %}
 
  <input type = "button"  value = "delete" onclick = "deleteUser()" />
