{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
        'pagename': 'Manage Users | Set Accounts'
    })) }}
   
   <script>
   function toggleAccountListPermission(value)
   {
   var accountlist = document.getElementsByName("accountlist");
   
   for (i = 0; i < accountlist.length; i++)
   accountlist[i].checked = value;
   
   }
   
   
   function saveAccountList()
   {
   var accountlist = document.getElementsByName("accountlist");
   var accountliststring = "";
   for (i = 0; i < accountlist.length; i++)
   if (accountlist[i].checked)
   if (accountliststring == "")
   accountliststring = accountlist[i].value;
   else
   accountliststring = accountliststring + "," + accountlist[i].value;
   
   
   var querystring = "accountlist=" + accountliststring + "&id={{ manageid }}";
   
   var page = '{{ path('_manage_manage_users_available_accounts_save') }}';
   
             var ajaxRequest;  // The variable that makes Ajax possible!
     	
     	    try{
     	        // Opera 8.0+, Firefox, Safari
     	        ajaxRequest = new XMLHttpRequest();
     	    } catch (e){
     	        // Internet Explorer Browsers
     	        try{
     	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
     	        } catch (e) {
     	            try{
     	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
     	            } catch (e){
     	                // Something went wrong
     	                alert("Your browser broke!");
     	                return false;
     	            }
     	        }
     	    }
     	
     	
     	    // Create a function that will receive data sent from the server
     	    ajaxRequest.onreadystatechange = function(){
     	        if(ajaxRequest.readyState == 4){
     	
     	        alert(ajaxRequest.responseText);
     	
     	        }
         }
             
             
             ajaxRequest.open("POST", page , true);
     	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
     	ajaxRequest.setRequestHeader("Content-length", querystring.length);
     ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
   
   
   
   
   }
   </script>
   
   <a href = "javascript:toggleAccountListPermission(true)">Enable all </a> <br/>
   <a href = "javascript:toggleAccountListPermission(false)">Disable all </a><br/>
   <a href = "javascript:saveAccountList()">Save</a><br/><br/>
   
   {% for account in accounts %}
   
   
	ID: {{ account.id }} <br/>
	Company: {{ account.company }} <br/> 
	Adminstrator: {{ account.firstname }}  {{ account.lastname }}<br/>
   	<input type = "checkbox" name = "accountlist" value = "{{ account.id }}"  {{ account.checked }} />
   
   <hr/>
  

   
   <br/>
   
   {% endfor %}