{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
          'pagename': 'Manage Promo Users | Edit User'
      })) }}
      <script>
      function accountTypeChanged()
      {
      if (document.getElementById("nameTextField").readOnly )
      document.getElementById("accountCheckbox").disabled = true;
      else
      document.getElementById("accountCheckbox").disabled = false;
      	
      	if (document.getElementById("accountCheckbox").checked)
      	var accountValue = 1;
      	else
      	var accountValue = 0;
      	
      	document.getElementById("accountTextField").value = accountValue;
      }
      
      </script>
    <strong>Edit User</strong>
<br/><br/>
  
  
<form id = "edituser">
 <input type = "text" name = "id" value = "{{ currentuser.id }}" id = "id" style = "display:none" readonly = "true" />
Name: <input type = "text" id = "nameTextField" value = "{{ currentuser.name }}" name = "name" readonly = "true" style = "background-color:#E6E6E6"/><br/><br/>
Email: <input type = "text" value = "{{ currentuser.email }}" name = "email" readonly = "true" style = "background-color:#E6E6E6" /><br/><br/>
Password:  <input type = "text" value = "{{ currentuser.password }}" name = "password" readonly = "true" style = "background-color:#E6E6E6" /><br/> <br/>
Admin: <input type = "checkbox"  {{ currentuser.adminChecked }} id  = "accountCheckbox" onchange = "accountTypeChanged()"  disabled />
<input type = "text" name = "account" value = "{{ currentuser.account }}" id = "accountTextField" style = "display:none" readonly = "true" />

</form>
   
    
    <input type = "button" onclick = "saveform('manageUsers','edituser','id');accountTypeChanged()" value = "edit" id = "edituserbutton" />
