<form id = "editKey">
<label>{{ key.name }}</label>
<input type = "text" name = "id" value = "{{ key.id }}" style = "display:none" />
<input type = "text" name = "value" placeholder = "value" value = "{{ key.value }}" class = "form-control">
<br/>
<input type = "button" class = "btn btn-success" value = "Save" onclick = "updatetable('LNCLNKeys','editKey','id',reloadKeys)" />
</form>
