{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Lincoln Keys'})) }}

{% set table = "LNCLNKeys" %}
{% set tablename = "LNCLNKeys" %}

{% set template =  'ManageManageBundle:LNCLNKeys:Search/keys.html.twig' %}
{% set header = '<th>Id</th><th>Name</th><th>Value</th><th>Actions</th>' %}
{% set types = "a.id,a.name,a.value" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function reloadKeys()
{
    closeLightBox();
    LNCLNKeysTable.fnDraw();  
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}