{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'PowerView'})) }}
<h2>PowerView</h2>
{{ include('PlansPlansBundle:PowerView:css.html.twig') }}
{{ include('TemplatesTemplatesBundle:Default:alert.html.twig') }}
<div class="row">
    <div class="col-md-6">
       <div style="position:relative;">
            <h4>Campaigns: <span class="infoTip">?</span></h4>
            <div class="form-help-box hide">
                These are the campaigns that the Provider allows.  Uncheck to exclude campaign from plan.
            </div>
       </div>
        
            
            {% for ctas in list %}
                
            <div class="cbox" data="{{ ctas.ctaid}}" id ="ctalist">
              <label>
                <input type="checkbox" value ="{{ ctas.ctaid}}" class ="ctalist check-{{ ctas.ctaid}}" {{ctas.checked}}>
                <div class="vwise-cbox">
                    <img class="image-{{ ctas.ctaid}}" src="/images/Check-24.png"/>
                </div>  {{ctas.description}}
              </label>
              
            </div>  
              
            {% endfor %}
            <div style ="padding-top:10px">                
                <label>From Email: </label> {{ data.plansRkp.emailAddressFrom }}
            </div>
            <div style="position:relative;">
            <h4>Campaign Dates: <span class="infoTip">?</span></h4>
                <div class="form-help-box hide">
                    These are the Provider campaign dates.  They pull from the Provider API.
                </div>
            </div>
            <div style='width:50%'>
                <div class="custom-stuff">
                    
                    {% for dates in data.plansRkpCampaignDates %}

                            <input class="form-control"  value='{{dates.scheduled}}' type="text" readonly>
                                                       
                       
                    {% endfor %}
                </div>
            </div>
            <div style ="padding-bottom:10px">
                <h4>Provider Logo</h4>
                {% if data.plansRkp.logo != "" %}
                <img src ="{{ data.plansRkp.logo }}" />
                {% endif %}
            </div>
            <button class ="btn btn-success powerSave" type ="button">Save</button>         
                
    </div>
    
    <div class="col-md-6">
            <div style="position:relative;">
            <h4>Plan Sponsor HR Contact: <span class="infoTip-right">?</span></h4>
                <div class="form-help-box-right hide">
                    Pulls from provider API.  May be blank.
                </div>
            </div>
        
            <div class="form-group">
                <label for="fname">First Name
                    <input class="form-control" type="text" value="{{data.plansRkp.hrFirstName}}" id="fname" name="fname" readonly>
                </label>
                <label for="lname">Last Name
                <input class="form-control" type="text" value="{{data.plansRkp.hrLastName}}" id="lname" name="lname" readonly>  
                </label>
            </div>
            <div class="form-group">
                <label for="email">Email
                    <input class="form-control" type="text" value="{{data.plansRkp.hrEmail}}" id="email" name="email" readonly>
                </label>

            </div>            
            <div style="position:relative;">
                <p><b>Plan Retirement Age:</b> <span class="infoTip-right">?</span></p>
                <div class="form-help-box-right hide">
                    This is the plan's retirement age as specified in the plan document.
                </div>
            </div>
            <div class="form-group">
                <label for="retire">
                   
                        <input class="form-control" style="width:45px;" type="text" value="{{data.plansRkp.retirementAge}}" id="retire" name="retire" readonly>
                    
                </label>

            </div> 
            <div style="position:relative;">
            <h4>Default Form Location: <span class="infoTip-right">?</span></h4>
                <div class="form-help-box-right hide">
                    Pulls from provider API.  May be blank.
                </div>
            </div>
            <div class="form-group">
                <label for="flocation">
                    <input class="form-control" type="text" value="{{ data.plansRkp.powerViewUrl  }}" id="flocation" name="flocation" style="width: 200% !important;" readonly>
                </label>

            </div> 
            <div style="position:relative;">
            <h4>Forgot username / password link: <span class="infoTip-right">?</span></h4>
                <div class="form-help-box-right hide">
                    Pulls from provider API.  May be blank.
                </div>
            </div>            
            <div class="form-group">
                <label for="passl">
                    <input class="form-control" type="text" value="{{ data.plansRkp.participantLoginUrl  }}" id="passl" name="passl" style="width: 200% !important;" readonly>
                </label>

            </div>  
            <div style="position:relative;">
            <h4>vWise SSO Redirect link: <span class="infoTip-right">?</span></h4>
                <div class="form-help-box-right hide">
                    Pulls from provider API.  May be blank.
                </div>
            </div>                   
            <div class="form-group">
                <label for="redir">
                    <input class="form-control" type="text" value="{{ data.plansRkp.vWiseSSOUrl  }}" id="passl" name="passl" style="width: 200% !important;" readonly>
                </label>

            </div>                  
        
    </div>
    
</div>
{{ include('PlansPlansBundle:PowerView:Javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}