{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Dashboard Monitoring'})) }}
<div id="content">
<table id="dashboardMonitoringTable" class="display" cellspacing="0" width="100%">
  <thead><tr><th>RKP Clients</th><th>Status</th><th>Date</th><th>Actions</th></tr></thead>
    <tbody>
      <tr><th>SRT Access</th><th><span id="srt_status">{{srt_status}}</span></th><th><span id="srt_date">{{srt_date}}</span></th><th><a href="javascript:void(0);" id="srt_test" class="btn btn-primary">Test</a></th></tr>
      <tr><th>RetRev</th><th><span id="retrev_status">{{retrev_status}}</span></th><th><span id="retrev_date">{{retrev_date}}</span></th><th><a href="javascript:void(0);" id="retrev_test" class="btn btn-primary">Test</a></th></tr>
      <tr><th>DST</th><th><span id="dst_status">{{dst_status}}</span></th><th><span id="dst_date">{{dst_date}}</span></th><th><a href="javascript:void(0);" id="dst_test" class="btn btn-primary">Test</a></th></tr>
      <tr><th>Envisage</th><th><span id="envisage_status">{{envisage_status}}</span></th><th><span id="envisage_date">{{envisage_date}}</span></th><th><a href="javascript:void(0);" id="envisage_test" class="btn btn-primary">Test</a></th></tr>
      <tr><th>Relius</th><th><span id="relius_status">{{relius_status}}</span></th><th><span id="relius_date">{{relius_date}}</span></th><th><a href="javascript:void(0);" id="relius_test" class="btn btn-primary">Test</a></th></tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
//make sure to change hostname when deploy to production
var hostName = 'https://devlab.smartplanenterprise.com/';
$(document).ready(function () {
  $('#dashboardMonitoringTable').DataTable();
  $('#srt_test').click (function () {
    $.ajax({
      method: "POST",
      url: hostName + "monitoringTools/login.php",
      data: { testSite: "srt_test" }
    }).done(function(data) {
      var dataArray = data.split(',');
      $('#srt_status').text(dataArray[0]);
      $('#srt_date').text(dataArray[1]);
    });
  });
  $('#retrev_test').click (function () {
    $.ajax({
      method: "POST",
      url: hostName + "monitoringTools/login.php",
      data: { testSite: "retrev_test" }
    }).done(function(data) {
      var dataArray = data.split(',');
      $('#retrev_status').text(dataArray[0]);
      $('#retrev_date').text(dataArray[1]);
    });
  });
  $('#dst_test').click (function () {
    $.ajax({
      method: "POST",
      url: hostName + "monitoringTools/login.php",
      data: { testSite: "dst_test" }
    }).done(function(data) {
      var dataArray = data.split(',');
      $('#dst_status').text(dataArray[0]);
      $('#dst_date').text(dataArray[1]);
    });
  });
  $('#envisage_test').click (function () {
    $.ajax({
      method: "POST",
      url: hostName + "monitoringTools/login.php",
      data: { testSite: "envisage_test" }
    }).done(function(data) {
      var dataArray = data.split(',');
      $('#envisage_status').text(dataArray[0]);
      $('#envisage_date').text(dataArray[1]);
    });
  });
  $('#relius_test').click (function () {
    $.ajax({
      method: "POST",
      url: hostName + "monitoringTools/login.php",
      data: { testSite: "relius_test" }
    }).done(function(data) {
      var dataArray = data.split(',');
      $('#relius_status').text(dataArray[0]);
      $('#relius_date').text(dataArray[1]);
    });
  });
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
