<script>
var sections = ["ticketTableOpenDiv", "ticketTableClosedDiv"];
</script>

<ul class="nav nav-tabs" role="tablist">
    <li class="active" id = "ticketTableOpenDivPill"><a href = "javascript:togglePills(sections,'ticketTableOpenDiv')">Open</a></li>
    <li id = "ticketTableClosedDivPill"><a href = "javascript:togglePills(sections,'ticketTableClosedDiv')">Closed</a></li>
</ul>
<br/>
<div id = "ticketTableOpenDiv">
<table class="table table-striped" id = "ticketTableOpen">
  <thead>
    <tr>
        {{ include('SupportSupportBundle:Default:jiratableheader.html.twig') }}
    </tr>
  </thead>   
</table>
</div>
<div id = "ticketTableClosedDiv" style = "display:none">
<table class="table table-striped" id = "ticketTableClosed" >
  <thead>
    <tr>
          {{ include('SupportSupportBundle:Default:jiratableheader.html.twig') }}
    </tr>
  </thead>   
</table>
</div>