{
	"data":
	[
		{% for ticket in tickets %}
		{% if loop.index > 1 %},{% endif %}
		[
                  {% if showuserid == 1 %}
                  "{{ ticket.customfield_10100 }} ",
                  {% endif %}
		  "{{ ticket.id }}",
		  "{{ ticket.created }}",
		  "{{ ticket.summary }}",
		  "{{ ticket.status.name }}",
		  "<span class=\"glyphicon glyphicon-info-sign\" aria-hidden=\"true\" onclick = \"ajaxModal('{{ path('_support_view_ticket') }}?id={{ ticket.id }}','View Ticket','medium')\"></span>"
		]
		{% endfor %}
	]

}