{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Monitoring Tool'})) }}
<form id="monitoringToolForm">
<div class="form-group">
  <label class="control-label col-xs-2" for="Date">* Start Date</label>
  <div class="col-xs-10">
    <div class="col-xs-10">
      <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date" value="">
    </div>
  </div>
</div>
<br/><br/><br/>
<div class="form-group">
  <label class="control-label col-xs-2" for="Date">* End Date</label>
  <div class="col-xs-10">
    <div class="col-xs-10">
      <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date" value="">
    </div>
  </div>
</div>
<br/><br/><br/>
<div id="chart"></div>
</form>
<script type="text/javascript">
var startDate, endDate;
$(document).ready(function () {
  $('#startDate').datepicker({ dateFormat: "yy-mm-dd" });
  $('#endDate').datepicker({ dateFormat: "yy-mm-dd" });
  $('#endDate').change( function () {
    startDate = $('#startDate').val();
    endDate = $('#endDate').val();
    $.ajax({
      method: "POST",
      url: "{{path('_support_get_monitoring_tool')}}",
      data: {startDate: startDate, endDate: endDate}
    }).done(function (data) {
      var dataArrayInt = data.split(',').map(Number), dataArrayStr = '';
      var max = dataArrayInt.length;
      $(function () {
        $('#chart').highcharts({
          title: {
            text: 'Daily Server Monitoring Tool',
            x: -20 //center
          },
          subtitle: {
            text: 'Source: vwise.com',
            x: -20
          },
          xAxis: {
            min: 0,
            max: max
          },
          yAxis: {
            title: {
              text: 'Live / Offline (0 or 1)'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
            }]
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: [
          {
            name: startDate + ' - ' + endDate,
            data: dataArrayInt
          }]
        });
      });
    });
  });
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
