{% block subject %}
{% autoescape false %}
Change Password
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Hello {{ user.firstname }} {{ user.lastname }}!

To reset your password - please visit {{ url('_reset_password',{'token': user.getConfirmationToken() }) }}

Sincerely,
The SmartPlan Team
vWise, Inc.
95 Enterprise
Aliso Viejo, CA 92656
(949) 716-1276
www.vwise.com

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
