{% extends 'IndexIndexBundle:Default:index.html.twig' %}
{% block content %}
{% set title = "Please Login " %}
{{ include ('IndexIndexBundle:Default:vwise/head.html.twig') }}
{{ include ('IndexIndexBundle:Default:vwise/loginbody.html.twig') }} 
{{ include ('IndexIndexBundle:Default:vwise/footer.html.twig') }}
{{ include ("IndexIndexBundle:Default:javascript/index.js.twig") }}
{% endblock %}



