<script>
var statusComplete = 0;

function saveAndUpdate(type) {
    statusComplete = 0;
    if (confirm("Are you sure you want to revert to default " + type + " on all plans? This process may take a long time and is irreversible.")) {
        $("#progress-bar").show();
        $("#progress-bar-progress").css("width", "0");
        $("#save-and-update-btn").prop("disabled", true);
        $("#progress-text").html("Please Wait...");
        var url = "/admin/shared/general/saveandupdate/" + type;
        $.ajax({
            type: "POST",
            url: url,
            async: true,
            success: function() {
                statusComplete = true;
                $("#save-and-update-btn").prop("disabled", false);
                $('#grey-overlay').hide();
            }
        });
        startProgress();

    }
}

function saveAndUpdateSelectPlans(type) {
    statusComplete = 0;
    if (confirm("Are you sure you want to revert to default " + type + " on selected plans? This process may take a long time and is irreversible.")) {
        $("#progress-bar").show();
        $("#progress-bar-progress").css("width", "0");
        $("#save-and-update-btn").prop("disabled", true);
        $("#progress-text").html("Please Wait...");
        var url = "/admin/shared/general/saveandupdate/" + type;
        $.ajax({
            type: "POST",
            data: $("#plans-form").serialize(),
            url: url,
            async: true,
            success: function() {
                $("#save-and-update-btn").prop("disabled", false);
                $('#grey-overlay').hide();
            }
        });
        startProgress();

    }
}

function startProgress()
{
    if (!statusComplete)
        setTimeout
        (
            function()
            {
                checkProgress();
            },
            1000
        );
}
function checkProgress(div)
{
    $.ajax({
        url:'{{ path('shared_general_saveandupdate_check_progress') }}',
        type: 'GET',
        async: true,
        success: function (data)
        {
            if (!statusComplete) {
                $("#progress-bar-progress").css("width", (data.current/data.total)*100 + "%");
                $("#progress-text").html("Plans Processed: " + data.current + "/" + data.total);
            }
            if (data.current == data.total) {
                statusComplete = true;
                $("#save-and-update-btn").prop("disabled", false);
                $("#progress-text").html("Done");
            }
        }
    });
    if (!statusComplete) {
        startProgress(div);
    }
}

</script>

