{% set session = app.request.session %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/customcolors.css') }}">
<script type="text/javascript" src="{{ asset('js/jquery.inputmask.js') }}"></script>
<style>
    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 15px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 15px;
        padding-right: 0;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 15px;
        text-align: right;
    }

    input {
        color: black;
    }
</style>

<div id ="americanTrustContainer">
    {% include 'SpeAppBundle:Template:player.html.twig' %}
    {% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}
            {% block content %}
            {% endblock %}


        <div class ="actions" style="position:static;padding-top:15px">
            <a class="actionBtn left">
                <span class="center action-button" onclick ="{% block back %}{% endblock %}">{{ 'back'| trans ({}, 'global') }}</span>
            </a>
            <a class="actionBtn right">
                <span class="center action-button" onclick ="{% block forward %}{% endblock %}" id="proceed-btn" >{{ 'proceed'| trans ({}, 'global') }}</span>
            </a>
        </div>
    <input type ="hidden" id ="showCustomHeader" />
</div>



