
{% set session = app.request.session %}
{% if  session.get("step1fields") is not null  %}
    {% set fields = session.get("step1fields") %}
{% endif %}
{% extends 'SpeAppBundle:Template:ATBlueprint/personalInformation/base.html.twig' %}

{% block content %}
    <h1>{{ 'personalize_your_blueprint' | trans ({}, 'atblueprint') }}</h1>
    {% set audioFile = 'AT_audio_0301_ATb' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    <style>
        .background-row {
            background-color: #445b6d;
            margin-left: -10px;
            padding-bottom: 10px;
            padding-top: 4px;
            padding-left: 10px;
            color: white;
        }

        .row {
            padding-bottom: 10px;
        }

        .required-field::after {
            content: "*";
            color:red;
        }

        input {
            color: black;
        }
        .custom-input {
            width: 90%;
            height:25px;
        }
    </style>

    <p>{{ 'atblueprint_description' | trans ({}, 'atblueprint') }}</p>
    <p>(<font color="red">*</font>) {{ 'required_fields' | trans ({}, 'atblueprint') }}</p>
    <br>
    <form id="required-form" name="req-form">
        <div class="row">
            <div class="col-md-3 required-field">
                {{ 'first_name' | trans ({}, 'beneficiary') }}
            </div>
            <div class="col-md-3">
                <input class="custom-input" disabled required type="text" name="firstName" value="{{ personalInfo.firstName }}"/>
            </div>
            <div class="col-md-3 required-field">
                {{ 'mobile_phone' | trans ({}, 'atblueprint') }}
            </div>
            <div class="col-md-3">
                <input required class="custom-input phone" type="text" name="mobilePhone" id="mobilePhone" value="{{ personalInfo.mobilePhone }}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 required-field">
                {{ 'last_name' | trans ({}, 'beneficiary') }}
            </div>
            <div class="col-md-3">
                <input disabled required class="custom-input" type="text" name="lastName" value="{{ personalInfo.lastName }}"/>
            </div>
            <div class="col-md-3 required-field">
                {{ 'annual_compensation' | trans ({}, 'atblueprint') }}
            </div>
            <div class="col-md-3">
                <div class="input-icon">
                    <i>$</i>
                    <input required class="custom-input money" type="text" name="annualCompensation" value="{{ personalInfo.annualCompensation }}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 required-field">
                {{ 'email' | trans ({}, 'personal') }}
            </div>
            <div class="col-md-3">
                <input required class="custom-input" type="text" name="email" value="{{ personalInfo.email }}"/>
            </div>
            <div class="col-md-3 required-field">
                {{ 'date_of_birth' | trans ({}, 'personal') }}
            </div>
            <div class="col-md-3">
                <input disabled required class="custom-input datepicker" type="text" name="dateOfBirth" value="{{ personalInfo.dateOfBirth }}"/>
            </div>
        </div>
        <br>

        <div class='background-row'>
            <h1>{{ 'spouse_information' | trans ({}, 'atblueprint') }}</h1>
            <input style="display:none" id="includeSpousalInformation" name="includeSpousalInformation" type="checkbox" {% if  personalInfo.includeSpousalInformation == "true" %}checked{% endif %}>
            <br>
            <div class="row">
                <div class="col-md-3 spouse">
                    {{ 'first_name' | trans ({}, 'beneficiary') }}
                </div>
                <div class="col-md-3">
                    <input class="custom-input spouse" type="text" oninvalid="this.setCustomValidity('')" name="spouseFirstName" id="spouseFirstName" value="{{ personalInfo.spouseFirstName }}"/>
                </div>
                <div class="col-md-3 spouse">
                    {{ 'annual_compensation' | trans ({}, 'atblueprint') }}
                </div>
                <div class="col-md-3">
                    <div class="input-icon">
                        <i style="color:black">$</i>
                        <input class="custom-input money spouse" type="text" name="spouseAnnualCompensation" id="spouseAnnualCompensation" value="{{ personalInfo.spouseAnnualCompensation }}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 spouse">
                    {{ 'last_name' | trans ({}, 'beneficiary') }}
                </div>
                <div class="col-md-3">
                    <input class="custom-input spouse" type="text" oninvalid="this.setCustomValidity('')" name="spouseLastName" id="spouseLastName" value="{{ personalInfo.spouseLastName }}"/>
                </div>
                <div class="col-md-3 spouse">
                    {{ 'date_of_birth' | trans ({}, 'personal') }}
                </div>
                <div class="col-md-3">
                    <input class="custom-input datepicker spouse" name="spouseDateOfBirth" id="spouseDateOfBirth" type="text" value="{{ personalInfo.spouseDateOfBirth }}"/>
                </div>
            </div>
        </div>

        <input id="submit-btn" type="submit" style="display:none;">
    </form>

    <script>
        $('#required-form').validate({
            submitHandler: function(form) {
                if ($('#spouseAnnualCompensation').val() == '') {
                    $('#spouseAnnualCompensation').val(0);
                }
                savePersonalInformationRequired();
                return false;
            },
            errorPlacement: $.datepicker.errorPlacement,
            rules: {
                spouseDateOfBirth: {
                    dpDate: true
                },
            },
        });

        function spouseInformationRequired() {
            return ($('#spouseFirstName').val() || $('#spouseLastName').val() || $('#spouseDateOfBirth').val() || $('#spouseAnnualCompensation').val().replace(/,/g, '') > 0);
        }

        function phoneMask(id) {
            var x = $('#' + id).val().replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            $('#' + id).val(!x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : ''));
        }

        $( function() {
            if (spouseInformationRequired()) {
                $('.spouse').attr("required", "true");
                $('.spouse').addClass('required-field');
                $('#includeSpousalInformation').prop('checked', true);
            }
            phoneMask('mobilePhone');

            $('#spouseFirstName, #spouseLastName, #spouseDateOfBirth, #spouseAnnualCompensation').on("change", function() {
                if (spouseInformationRequired()) {
                    $('.spouse').attr("required", "true");
                    $('.spouse').addClass('required-field');
                    $('#includeSpousalInformation').prop('checked', true);
                } else {
                    $('.spouse').removeAttr("required");
                    $('.spouse').removeClass('required-field');
                    $('#includeSpousalInformation').prop('checked', false);
                }
            });


            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: '01/01/1900',
                maxDate: '-16Y',
                yearRange: "-150:+0"
            });
        } );

        $(".money").inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            rightAlign: false,
            max: 1000000,
        });

        $('#mobilePhone').on('input', function () {
            phoneMask('mobilePhone');
        });


        $("#spouseFirstName, #spouseLastName").alphanum({
            allow: "'."
        });

    </script>
{% endblock %}

{% block back %}
    " style="display:none
{% endblock %}

{% block forward %}
    $('#submit-btn').click();
{% endblock %}