<table class="table">
	<tr class="active">
		<td>
			Record ID
		</td>
	</tr>
	<tr>
		<td>
			{{ delete.id }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deleteentry({{ delete.id }})">Delete</button>
		</td>
	</tr>
</table>

<script>
    function deleteentry(id)
    {
        var page = "{{ path('_manage_accountsRecordkeepersSrt_deleteSaved') }}";
        var querystring = "id=" + id;
        $.post(page, querystring).done(function(data) {
            $('#accountsRecordkeepersSrtTable').dataTable().fnDraw(false);
            closeLightBox();
        });
    }

</script>