<div id="error-message" class="bg-secondary" style="">
        <div class="message-container">
                <h2>{{ 'survey_two_error_msg' | trans ({}, 'survey_two') }}</h2>
                <p>{{ 'survey_two_error_msg_try_again' | trans ({}, 'survey_two') }}</p>
                <button id="refresh" class="button transparent">{{ 'survey_two_refresh' | trans ({}, 'survey_two') }}</button>
        </div>
</div>
