{% for adviser in items %}
{% if loop.index > 1 %},{% endif %}
{% set action = "showAdviserStats('" ~adviser.id ~"')"  %}
[
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ adviser.id }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ adviser.firstname }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ adviser.lastname }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ adviser.email }}</span>"
]
{% endfor %}
