<script>

function hasWhiteSpace(s)
{
    return s.indexOf(' ') >= 0;
}

function addvideo()
{
    $('div').removeClass("has-error");
    $('#errormsg').hide();
    $('#nowhitespace').hide();
    var internalName = $.trim($("#internalName").val());
    var displayName = $.trim($("#displayName").val());
    var directory = $.trim($("#directorySelect").val());
    var type = $.trim($("#typeSelect").val());
    var videoName = $.trim($("#videoName").val());
    var page = "{{ path('_manage_plans_library_addVideoSaved') }}";
    var runtime = $.trim($("#runtime").val());
    var querystring = "";
    querystring = "internalName=" + internalName + "&displayName=" + displayName + "&directory=" + directory + "&type=" + type + "&videoName=" + videoName + "&runtime=" + runtime;

    if (internalName == "" || displayName == "" || videoName == "" || hasWhiteSpace(internalName)) {
        $('#errormsg').show();
        if (internalName == "" || hasWhiteSpace(internalName)) {
            $('#divInternalName').addClass('has-error');
            if (hasWhiteSpace(internalName)) {
                $('#nowhitespace').show();
            }
        }
        if (displayName == "") {
            $('#divDisplayName').addClass('has-error');
        }
        if (videoName == "") {
            $('#divVideoName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryVideosTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function editvideo(id)
{
    $('div').removeClass("has-error");
    $('#errormsg').hide();
    $('#nowhitespace').hide();
    var internalName = $.trim($("#internalName").val());
    var displayName = $.trim($("#displayName").val());
    var directory = $.trim($("#directorySelect").val());
    var type = $.trim($("#typeSelect").val());
    var videoName = $.trim($("#videoName").val());
    var runtime = $.trim($("#runtime").val());
    var page = "{{ path('_manage_plans_library_editVideoSaved') }}";
    var querystring = "";
    querystring = "internalName=" + internalName + "&displayName=" + displayName + "&directory=" + directory + "&type=" + type + "&videoName=" + videoName + "&id=" + id + "&runtime=" + runtime;

    if (internalName == "" || displayName == "" || videoName == "" || hasWhiteSpace(internalName)) {
        $('#errormsg').show();
        if (internalName == "" || hasWhiteSpace(internalName)) {
            $('#divInternalName').addClass('has-error');
            if (hasWhiteSpace(internalName)) {
                $('#nowhitespace').show();
            }
        }
        if (displayName == "") {
            $('#divDisplayName').addClass('has-error');
        }
        if (videoName == "") {
            $('#divVideoName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryVideosTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function adddirectory()
{
    $('div').removeClass("has-error");
    var directoryname = $.trim($("#directoryname").val());
    var page = "{{ path('_manage_plans_library_addDirectorySaved') }}";
    var querystring = "";
    querystring = "directoryname=" + directoryname;

    if (directoryname == "") {
        $('#errormsg').show();
        $('#divDirectoryName').addClass('has-error');
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryDirectoriesTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function editdirectory(id)
{
    $('div').removeClass("has-error");
    var directoryname = $.trim($("#directoryname").val());
    var page = "{{ path('_manage_plans_library_editDirectorySaved') }}";
    var querystring = "";
    querystring = "directoryname=" + directoryname + "&id=" + id;

    if (directoryname == "") {
        $('#errormsg').show();
        $('#divDirectoryName').addClass('has-error');
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryDirectoriesTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function deletedirectory(id)
{
    var page = "{{ path('_manage_plans_library_deleteDirectorySaved') }}";
    var querystring = "id=" + id;
    $.post(page, querystring).done(function(data) {
        plansLibraryDirectoriesTable.fnDraw(false);
        closeLightBox();
    });
}

function deletevideo(id)
{
    var page = "{{ path('_manage_plans_library_deleteVideoSaved') }}";
    var querystring = "id=" + id;
    $.post(page, querystring).done(function(data) {
        plansLibraryVideosTable.fnDraw(false);
        closeLightBox();
    });
}

function editthumbnail(id)
{
    var thumbnail = $.trim($("#thumbnail").val());
    var page = "{{ path('_manage_plans_library_editThumbnailSaved') }}";
    var querystring = "";
    querystring = "thumbnail=" + thumbnail + "&id=" + id;

    $.post(page, querystring).done(function(data) {
        closeLightBox();
    });

}

function addtype()
{
    $('div').removeClass("has-error");
    $('#nowhitespace').hide();
    var typename = $.trim($("#typename").val());
    var displayname = $.trim($("#displayname").val());
    var page = "{{ path('_manage_plans_library_addTypeSaved') }}";
    var querystring = "";
    querystring = "typename=" + typename + "&displayname=" + displayname;

    if (typename == "" || displayname == "" || hasWhiteSpace(typename)) {
        $('#errormsg').show();
        if (typename == "" || hasWhiteSpace(typename)) {
            $('#divTypeName').addClass('has-error');
            if (hasWhiteSpace(typename)) {
                $('#nowhitespace').show();
            }
        }
        if (displayname == "") {
            $('#divDisplayName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryTypeTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function edittype(id)
{
    $('div').removeClass("has-error");
    $('#nowhitespace').hide();
    var typename = $.trim($("#typename").val());
    var displayname = $.trim($("#displayname").val());
    var page = "{{ path('_manage_plans_library_editTypeSaved') }}";
    var querystring = "";
    querystring = "typename=" + typename + "&displayname=" + displayname + "&id=" + id;

    if (typename == "" || displayname == "" || hasWhiteSpace(typename)) {
        $('#errormsg').show();
        if (typename == "" || hasWhiteSpace(typename)) {
            $('#divTypeName').addClass('has-error');
            if (hasWhiteSpace(typename)) {
                $('#nowhitespace').show();
            }
        }
        if (displayname == "") {
            $('#divDisplayName').addClass('has-error');
        }
    } else {
        $.post(page, querystring).done(function(data) {
            plansLibraryTypeTable.fnDraw(false);
            closeLightBox();
        });
    }
}

function deletetype(id)
{
    var page = "{{ path('_manage_plans_library_deleteTypeSaved') }}";
    var querystring = "id=" + id;
    $.post(page, querystring).done(function(data) {
        plansLibraryTypeTable.fnDraw(false);
        closeLightBox();
    });
}

</script>