<template>
    <v-app>
        <!--Content Box -->
        <v-content>
            <v-container class="pt-lg-9 pr-lg-10 pb-lg-8 pt-md-9 pr-md-10 pb-md-8 pt-xl-9 pr-xl-10 pb-xl-8 pl-xl-0 pl-lg-0 pl-md-10 pa-sm-3 pa-0 gray-5-bg main-content">
                <v-layout class="justify-center">
                    <fork :fork="fork"></fork>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Fork from "../components/Global/Fork";
    export default {
        name: "AdminPreview",
        components: {Fork},
        mounted() {
            window.addEventListener('message', this.updateData)
        },
        data: () => ({
            fork: {
                title: null,
                box_1_title: null,
                box_1_description: null,
                box_1_color: null,
                box_2_title: null,
                box_2_description: null,
                box_2_color: null,
                button_1_text: null,
                button_2_text: null,
                button_1_color: null,
                button_2_color: null,
                custom_html: null,
                custom_html_enabled: 0
            }
        }),
        methods: {
            updateData: function(event) {
                if (event.data) {
                    this.fork = event.data
                }
            }
        },
    }
</script>

<style scoped lang="scss">

</style>