<template>
    <v-card flat tile :elevation="1" class="outer-card set-radius">
        <transition :name="transitionName" class="transition" mode="out-in">
            <router-view ref="child" v-on:updateValidation="updateValidation"></router-view>
        </transition>
        <v-row style="max-height:75px" class="card-actions-wrapper sticky-bar justify-end align-space-around ma-0 px-6 py-2">
            <v-card-actions class="justify-space-between card-actions">
                <v-row class="card-actions-inner-wrapper ma-0">
                    <left-side-actions></left-side-actions>
                    <div class="flex-grow-1"></div>
                    <div>
                        <v-btn class="back" color="primary" rounded text @click.prevent="prev">
                            {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info85')}}
                        </v-btn>
                        <v-btn class="next" rounded color="primary" depressed @click.prevent="next" :disabled="!validated">
                            {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info86')}}
                        </v-btn>
                    </div>
                </v-row>
            </v-card-actions>
        </v-row>
    </v-card>
</template>
    

<script>

    import LeftSideActions from "../components/Global/LeftSideActions";
    export default {
        components: {LeftSideActions},
        data: () => ({
            step: 0,
            transitionName: 'slide-left',
        }),
        computed: {
            validated () {
                let insufficientAllocations = this.getInsufficientAllocations();
                if(insufficientAllocations == false ){
                    return true;
                }else{
                    return false
                }
            },
            stepArray(){
                let a = []
                Object.keys(this.$store.state.path.sections.beneficiary_page.steps).forEach(key => {
                    if(this.$store.state.path.sections.beneficiary_page.steps[key].active && this.$store.state.path.sections.beneficiary_page.steps[key].name != 'navigation')
                        a.push(this.$store.state.path.sections.beneficiary_page.steps[key].path)
                });
                return a
            },
        },
        methods: {
            updateValidation(validation) {
                this.validated = validation;
            },
            getInsufficientAllocations () {
                return this.$store.state.insufficientAllocations
            },
            next() {
                this.$emit('nextSection')
            },
            prev() {
                this.$emit('previousSection')
            },
        },
        mounted(){
            var app = this;
            window.addEventListener('keyup', function(event) {
                if (event.keyCode === 13) {
                    app.next();
                }
            });
        },
        created(){
            this.$router.push({
                'name': this.stepArray[0]
            });
        },
        watch: {
            'step': function(val, old) {
                this.transitionName = val > old ? 'slide-left': 'slide-right';
                this.validated = true;
            }
        }
    }
</script>


<style scoped lang="scss">
@import "../styles/sass/base/_variables.sass";
@import "../styles/styles.css";

    /*slide transition*/
    .slide-right-enter-active,
    .slide-right-leave-active,
    .slide-left-enter-active,
    .slide-left-leave-active
    {
        transition: transform 0.4s ease-out;
    }
    .slide-right-enter,
    .slide-left-leave-to {
        transform: translateX(-30%);
    }
    .slide-right-leave-to,
    .slide-left-enter {
        transform: translateX(30%);
    }
  .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before{
    opacity: 0 !important
  }
  .v-item--active{
    color: var(--v-primary-base)!important
  }
  .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
    color: $disabled-font!important
  }
  .card-actions{
    align-items: center;
    width: 100%;
  }
  .card-actions-wrapper{
    margin: 0 !important;
    background-color: $gray-1;
  }
  .card-actions-inner-wrapper{
    align-items: center !important
  }
  .outer-card{
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important
  }
  .outer-card ::v-deep .accent--text{
    color: var(--v-primary-base)!important;
    caret-color: var(--v-primary-base)!important;
  }
  .body-text, .step-counter {
    color: $gray-3;
    text-align: center;
  }
  @media only screen and (max-width: 960px){
    .row{
      margin-right: 0!important;
      margin-left: 0!important
    }
    .button-row{
      text-align: center!important
    }
    .body-text{
      padding:0!important
    }
  }
</style>
