<template>
    <v-card flat tile :elevation="1" class="outer-card set-radius width-100">
        <transition :name="transitionName" class="transition" mode="out-in">
            <router-view
                    ref="child"
                    v-on:updateValidation="updateValidation"
                    v-on:nextSectionChild="nextSectionChild"
                    v-on:updateStep="updateStep"
                    v-on:next="next"
            ></router-view>
        </transition>
        <v-row style="max-height:75px" class="card-actions-wrapper justify-end sticky-bar z-2 align-space-around ma-0 px-6 py-2">
            <v-card-actions class="justify-space-between card-actions">
                <v-row class="card-actions-inner-wrapper ma-0">
                    <left-side-actions></left-side-actions>
                    <div class="flex-grow-1"></div>
                    <div>
                        <v-btn v-if="!videoPage" class="back" color="primary" rounded text @click.prevent="prev">
                            {{this.translate('contributions', 'Contr', 'Contr102')}}
                        </v-btn>
                        <v-btn v-else class="back" color="primary" rounded text @click.prevent="prevVid">
                            {{this.translate('contributions', 'Contr', 'Contr102')}}
                        </v-btn>
                        <v-btn v-if="!videoPage" class="next" rounded color="primary" depressed @click.prevent="next" :disabled="!validated">
                            {{this.translate('contributions', 'Contr', 'Contr103')}}
                        </v-btn>
                        <v-btn v-else class="next" rounded color="primary" depressed @click.prevent="nextVid">
                            {{this.translate('contributions', 'Contr', 'Contr_Skip')}}
                        </v-btn>
                    </div>
                </v-row>
            </v-card-actions>
        </v-row>
    </v-card>
</template>


<script>
    import { mapState } from 'vuex'
    import data from "../api/data";
    import LeftSideActions from "../components/Global/LeftSideActions";

    export default {
        components: {LeftSideActions},
        data: () => ({
            stepArray: [],
            step: 0,
            transitionName: 'slide-left',
            videoPage: false,
        }),
        computed: {
            overMaxAsi: {
                get: function () {
                    return this.$store.state.overMaxAsi
                },
                set: function (overMaxAsi) {
                    this.$store.state.overMaxAsi = overMaxAsi
                }
            },
            validated: {
                get: function (){
                    if(this.$route.name == 'AutosACA' && this.$store.state.optRadios == ''){
                        return false
                    }
                    if(this.$route.name == 'DEFASI' && this.$store.state.overMaxAsi ){
                        return false
                    }
                    if(this.$route.name == 'Contr' && this.$store.state.maxContributions){
                        return false
                    }
                    if(this.$route.name == 'Contr' && this.$store.state.outOfBoundsDeferral){
                        return false
                    }
                    return this.$store.state.validation
                },
                set: function (validation) {
                    this.$store.state.validation = validation
                }
            },
            ...mapState(['common'])
        },
        methods: {
            updateStep(){
                if(this.common.autos.autoIncrease == true){
                    this.step++
                    this.$store.commit('SET_CON_STEP', this.step);
                }else{
                    this.$emit('nextSection');
                }
            },
            refreshStepArray(){
                this.stepArray = [];
                Object.keys(this.$store.state.path.sections.contributions.steps).forEach(key => {
                    if(this.$store.state.path.sections.contributions.steps[key].active && this.$store.state.path.sections.contributions.steps[key].name != 'navigation')
                        this.stepArray.push(this.$store.state.path.sections.contributions.steps[key].path)
                });
                if (!this.common.autos.autoEnroll && !this.common.autos.autoEscalate && !this.common.autos.defaultInvestment)
                {
                    this.stepArray = this.stepArray.filter(step => step != 'AutosACA' && step != 'AutosOptOutEnrollment')
                }
            },
            nextSectionChild(){
                this.$emit('nextSection');
            },
            updateValidation(validation) {
                this.validated = validation;
            },
            next() {
                this.videoPage = false;
                if (this.$route.name == 'ContributionsWelcomeVideo') {
                    this.step++;
                }

                if (this.$refs.child.$refs.hasOwnProperty('form') && !this.$refs.child.$refs.form.validate()) {
                    return false;
                }
                if (this.$route.name == 'Express') {
                    this.$store.dispatch('saveContributions', this.$refs.child.buildContributionsData());
                    this.$store.state.express.active = true;

                    let active = true;
                    if (this.$store.state.express.selectedInvestment === 'investmentQDIA')
                    {
                        active = false;
                        this.$store.state.investments.currentPath = this.$store.getters.investmentSections['investmentQDIA'].path;
                        this.$store.dispatch('setInvestments').then(() => {
                            this.$store.dispatch('finishInvestments');
                        });
                    }
                    this.$store.commit('SET_SECTION', {'investments': active});
                    this.$nextTick().then(() => {this.$emit('nextSection')});
                    return;
                }
                if (this.$route.name == 'AutosACA') {
                    let optOut = this.$store.state.optRadios === 'radio-1' ? 0 : 1;
                    return data.updateACAOptOut(optOut).then(() => {
                        if (this.$store.state.optRadios === 'radio-3')
                        {
                            this.$router.push({name: 'optout'});
                            return;
                        }
                        if (!optOut) {
                            this.$store.commit('SET_SECTION_ENABLED', {'risk': false, 'investments': false});
                            this.stepArray = this.stepArray.filter(step => step != 'AutosOptOutEnrollment');
                        }
                        else {
                            this.$store.commit('SET_SECTION_ENABLED', {'risk': true, 'investments': true});
                            this.refreshStepArray();
                        }
                        this.step++;
                        this.$store.commit('SET_CON_STEP', this.step);
                    });
                }
                if (this.$route.name == 'Contr') {
                    if(this.$store.state.maxEmployerMatchPercent || this.$store.state.maxEmployerMatchDollar) {
                        this.$store.commit('SET_MAX_EMPLOYER_MATCH_ACTIVE', true);
                        this.$store.dispatch('saveContributions', this.$refs.child.buildContributionsData())
                        return;
                    }
                    if(this.$store.state.underCatchup && !this.$store.state.inCatchup){
                        this.$store.commit('SET_UNDER_CATCHUP_ACTIVE', true);
                        return;
                    }

                    this.$store.commit('SET_IN_CATCHUP', false);
                    this.$store.dispatch('saveContributions', this.$refs.child.buildContributionsData())
                    if (this.common.autos.autoIncrease) {
                        this.step++;
                        this.$store.commit('SET_CON_STEP', this.step);
                        return;
                    }
                    else {
                        this.$emit('nextSection');
                        return;
                    }
                }
                if (this.$route.name == 'DEFASI') {
                    this.$store.dispatch('saveAutoIncrease').then(() => {
                        this.$emit('nextSection')
                    })
                    return;
                }
                if (this.$route.name == 'ContributionIntro') {
                    this.step++
                    return;
                }
            },
            prev() {
                if (this.$route.name == 'AutosOptOutEnrollment') {
                    this.refreshStepArray();
                    this.step--;
                    this.$store.commit('SET_CON_STEP', this.step);
                    return;
                }
                if (this.step <= 0) {
                    this.$emit('previousSection')
                } else {
                    this.step--;
                    this.$store.commit('SET_CON_STEP', this.step);
                }
            },
            prevVid() {
                if (jwplayer().getPlaylistIndex() === 0)
                    this.prev();
                else
                    jwplayer().playlistPrev();
            },
            nextVid() {
                var lastVid = jwplayer().getPlaylist().length - 1;
                if (jwplayer().getPlaylistIndex() === lastVid)
                    this.next();
                else
                    jwplayer().playlistNext();
            },
            takeGuided() {
                this.$store.dispatch('setPath', 'standard').then(() => {
                    this.$emit('firstSection');
                })
            }
        },
        created() {
            this.refreshStepArray();

            if (this.stepArray.indexOf(this.$router.currentRoute.name) > -1) {
                this.step = this.stepArray.indexOf(this.$router.currentRoute.name);
            }else{
                this.step = this.$store.state.ConStep
            }

            this.$router.push({'name': this.stepArray[this.step]});
        },
        mounted(){
            var app = this;
            window.addEventListener('keyup', function(event) {
                if (event.keyCode === 13) {
                    app.next();
                }
            });
        },
        watch: {
            'step': function(val, old) {
                this.transitionName = val > old ? 'slide-left': 'slide-right';
                this.$router.push({'name': this.stepArray[val]});
                this.validated = true;
            }
        }
    }
</script>


<style scoped lang="scss">
    @import "../styles/sass/base/_variables.sass";
    @import "../styles/styles.css";

    /*slide transition*/
    .slide-right-enter-active,
    .slide-right-leave-active,
    .slide-left-enter-active,
    .slide-left-leave-active
    {
        transition: transform 0.4s ease-out;
    }
    .slide-right-enter,
    .slide-left-leave-to {
        transform: translateX(-30%);
    }
    .slide-right-leave-to,
    .slide-left-enter {
        transform: translateX(30%);
    }
    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before{
        opacity: 0 !important
    }
    .v-item--active{
        color: var(--v-primary-base)!important
    }
    .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
        color: $disabled-font!important
    }
    .card-actions{
        align-items: center;
        width: 100%;
    }
    .card-actions-wrapper{
        margin: 0 !important;
        background-color: $gray-1;
    }
    .card-actions-inner-wrapper{
        align-items: center !important
    }
    .outer-card{
        display: flex!important;
        flex-direction: column!important;
        justify-content: space-between!important
    }
    .body-text, .step-counter {
        color: $gray-3;
        text-align: center;
    }
    .outer-card ::v-deep .accent--text{
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }
    @media only screen and (max-width: 960px){
        .row{
            margin-right: 0!important;
            margin-left: 0!important
        }
        .button-row{
            text-align: center!important
        }
        .body-text{
            padding:0!important
        }
    }
</style>
