<template>
  <v-card flat tile :elevation="1" id="content" class="outer-card set-radius width-100">
    <transition :name="transitionName" class="transition" mode="out-in">
      <router-view ref="child" v-on:updateValidation="updateValidation" v-on:updateStep="updateStep"></router-view>
    </transition>
    <v-row style="max-height:75px" class="card-actions-wrapper justify-end align-space-around ma-0 px-6 py-2 z-2 sticky-bar">
      <v-card-actions class="justify-space-between card-actions">
        <v-row class="card-actions-inner-wrapper ma-0">
          <left-side-actions></left-side-actions>
          <div class="flex-grow-1"></div>
          <div>
            <template v-if="!lastPage">
              <v-btn v-if="!videoPage" class="back" color="primary" rounded text @click.prevent="prev">
                {{this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ30')}}
              </v-btn>
              <v-btn v-else class="back" color="primary" rounded text @click.prevent="prevVid">
                {{this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ30')}}
              </v-btn>
              <v-btn v-if="!videoPage" type="submit" class="next" color="primary" rounded depressed @click.prevent="next" :disabled="!validated">
                {{this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ31')}}
              </v-btn>
              <v-btn v-else class="next" color="primary" type="submit" rounded depressed @click.prevent="nextVid">
                {{this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ41')}}
              </v-btn>
            </template>
<!--            last page-->
            <v-btn v-if="lastPage" class="back" type="submit" color="primary" rounded text @click.prevent="close">
              {{translate('goodbye', 'Goodbye', 'Goodbye_Close')}}
            </v-btn>
          </div>
        </v-row>
      </v-card-actions>
    </v-row>
  </v-card>
</template>

<script>
  import LeftSideActions from "../components/Global/LeftSideActions";
  import { mapState } from 'vuex'
  export default {
    components: {LeftSideActions},
    props: {
      sectionData: Object
    },
    data: () => ({
      step: 0,
      transitionName: 'slide-left',
      validated: true,
      videoPage: false,
      stepArray: [],
      lastPage: false
    }),
    computed: {
      ...mapState(['path'])
    },
    methods: {
      updateValidation(validation) {
        this.validated = validation;
      },
      isLastPage(){
        if(!this.stepArray[this.step + 2]){
          this.lastPage = true;
          this.path.sections.goodbye.complete = true;
        }
      },
      close() {
        this.$router.push({name: 'pathChoice'});
      },
      updateStep(){
        if (this.$refs.child.$refs.hasOwnProperty('form') && !this.$refs.child.$refs.form.validate()) {
          return false;
        }
        if (this.step >= this.stepArray.length - 1) {
          this.$emit('nextSection')
        } else {
          this.step++;
        }
      },
      next() {
        this.videoPage = false;
        this.isLastPage();
        if (this.$refs.child.$refs.hasOwnProperty('form') && !this.$refs.child.$refs.form.validate()) {
          return false;
        }
        if (this.step >= this.stepArray.length - 1) {
          this.$emit('nextSection')
        } else {
          this.step++;
        }
      },
      prev() {
        this.videoPage = false;
        if (this.step <= 0) {
          this.$emit('previousSection');
        } else {
          this.step--;
        }
      },
      prevVid() {
        if (jwplayer().getPlaylistIndex() === 0)
          this.prev();
        else
          jwplayer().playlistPrev();
      },
      nextVid() {
        this.isLastPage();
        var lastVid = jwplayer().getPlaylist().length - 1;
        if (jwplayer().getPlaylistIndex() === lastVid)
          this.next();
        else
          jwplayer().playlistNext();
      },
    },
    mounted(){
      var app = this;
      window.addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
          app.next();
        }
      });
    },
    created() {
      Object.keys(this.$store.state.path.sections.goodbye.steps).forEach(key => {
        if(this.$store.state.path.sections.goodbye.steps[key].path != 'navigation'){
          this.stepArray.push(this.$store.state.path.sections.goodbye.steps[key].path)
        }
      });
      this.isLastPage()
      this.$router.push({
        'name': this.stepArray[this.step]
      });
    },
    watch: {
      'step': function(val, old) {
        this.transitionName = val > old ? 'slide-left' : 'slide-right';
        if(this.stepArray[val])
          this.$router.push({
            'name': this.stepArray[val]
          });
        this.validated = true;
      }
    }
  }
</script>


<style scoped lang="scss">
  @import "../styles/sass/base/_variables.sass";
  @import "../styles/styles.css";
  /*slide transition*/
  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: transform 0.4s ease-out, opacity .5s;
  }
  .slide-right-enter,
  .slide-left-leave-to {
    transform: translateX(-30%);
    opacity: 0;
  }
  .slide-right-leave-to,
  .slide-left-enter {
    transform: translateX(30%);
    opacity: 0;
  }
  .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0 !important
  }
  .v-item--active {
    color: var(--v-primary-base) !important
  }
  .outer-card ::v-deep .accent--text{
    color: var(--v-primary-base)!important;
    caret-color: var(--v-primary-base)!important;
  }
  .v-card {
    width: 100%;
    height: auto
  }
  .card-actions {
    align-items: center;
    width: 100%;
  }
  .card-actions-wrapper {
    margin: 0 !important;
    background-color: $gray-1;
  }
  .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
    color: $disabled-font!important
  }
  .card-actions-inner-wrapper {
    align-items: center !important
  }
  .transition{
    overflow-y: scroll;
    max-height: 1000px
  }
  .outer-card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important
  }
  .body-text,
  .step-counter {
    color: $gray-3;
    text-align: center;
  }
  @media only screen and (max-width: 960px) {
    .row {
      margin-right: 0 !important;
      margin-left: 0 !important
    }
    .button-row {
      text-align: center !important
    }
    .body-text {
      padding: 0 !important
    }
  }
</style>