<template>
  <v-card flat tile :elevation="1" class="outer-card width-100 set-radius">
    <transition :name="transitionName" class="transition" mode="out-in">
      <router-view ref="child" v-on:updateValidation="updateValidation"></router-view>
    </transition>
    <v-row style="max-height:75px" class="card-actions-wrapper justify-end sticky-bar align-space-around ma-0 px-6 z-2 py-2">
      <v-card-actions class="justify-space-between card-actions">
        <v-row class="card-actions-inner-wrapper ma-0">
          <left-side-actions></left-side-actions>
          <div class="flex-grow-1"></div>
          <div>
            <v-btn v-if="!videoPage" class="back"  rounded text @click.prevent="prev">
              {{this.translate('investments', 'Invest_Sel', 'Invest_Sel11')}}
            </v-btn>
            <v-btn v-else class="back vid" rounded text @click.prevent="prevVid">
              {{this.translate('investments', 'Invest_Sel', 'Invest_Sel11')}}
            </v-btn>
            <v-btn v-if="!videoPage" class="next" rounded color="primary" depressed @click.prevent="next" :disabled="!validated">
              {{this.translate('investments', 'Invest_Sel', 'Invest_Sel12')}}
            </v-btn>
            <v-btn v-else class="next" rounded color="primary" depressed @click.prevent="nextVid">
              Skip
            </v-btn>
          </div>
        </v-row>
      </v-card-actions>
    </v-row>
  </v-card>
</template>


<script>
  // var stepArray = [];
  import LeftSideActions from "../components/Global/LeftSideActions";
  export default {
    components: {LeftSideActions},
    data: () => ({
      stepArray: [],
      step: 0,
      transitionName: 'slide-left',
      validated: false,
      videoPage: false
    }),
    methods: {
      getWelcomeSteps(){
        this.stepArray= [];
        if(this.$store.state.RP.kinetikAccepted == 1){
          Object.keys(this.$store.state.path.sections.investments.steps).forEach(key => {
            if(this.$store.state.path.sections.investments.steps[key].active && this.$store.state.path.sections.investments.steps[key].name == 'Invest_Welcome')
              this.stepArray.push(this.$store.state.path.sections.investments.steps[key].path)
          });
        }else{
          Object.keys(this.$store.state.path.sections.investments.steps).forEach(key => {
            if(this.$store.state.path.sections.investments.steps[key].active && (this.$store.state.path.sections.investments.steps[key].name == 'Invest_Welcome' || this.$store.state.path.sections.investments.steps[key].name == 'investmentSelector'))
              this.stepArray.push(this.$store.state.path.sections.investments.steps[key].path)
          });
        }
      },
      kinetikStepArray() {
        this.getWelcomeSteps()
        this.stepArray = this.stepArray.concat(this.$store.state.investments.sections.investmentSelectorRiskBasedPortfolio.componentName);
        if(this.$store.state.common.planAllowsRealignments === 1) {
          this.stepArray.push("Realignment");
        }
      },
      updateSteps(type) {
        this.getWelcomeSteps();
        this.updateStepsInner(type);
      },
      updateStepsInner(type) {
        type.forEach((val) => {
          this.stepArray.push(val);
        })
        if(this.$store.state.common.planAllowsRealignments === 1) {
          this.stepArray.push("Realignment");
        }
      },
      updateValidation(validation) {
        this.validated = validation;
      },
      next() {
        if (this.$refs.child.$refs.hasOwnProperty('form') && !this.$refs.child.$refs.form.validate()) {
          return false;
        }
        if (this.step >= this.stepArray.length - 1) {
          this.$store.dispatch('setInvestments').then(() => {
            this.$store.dispatch('finishInvestments');
          });
          this.$emit('nextSection')
        } else {
          this.videoPage = false;
          this.step++;
          this.$store.commit('SET_INV_STEP', this.step);
        }
      },
      prev() {
        if (this.step <= 0) {
          this.$emit('previousSection');
        } else {
          this.step--;
          this.$store.commit('SET_INV_STEP', this.step);
        }
      },
      prevVid() {
        if (jwplayer().getPlaylistIndex() === 0)
          this.prev();
        else
          jwplayer().playlistPrev();
      },
      nextVid() {
        var lastVid = jwplayer().getPlaylist().length - 1;
        if (jwplayer().getPlaylistIndex() === lastVid)
          this.next();
        else
          jwplayer().playlistNext();
      },
    },
    created() {
      if (this.$store.state.express.active) {
        let section = this.$store.getters.investmentSections[this.$store.state.express.selectedInvestment];
        this.updateStepsInner(section.componentName);
        this.$router.push({'name': this.stepArray[0]});
        this.$store.state.investments.currentPath = section.path;
        this.validated = true;
        return;
      }
      this.getWelcomeSteps();
      this.$store.dispatch('getInvestmentSections').then(() => {
        this.validated = true;
        if(this.$store.state.RP.kinetikAccepted == 1) {
          this.kinetikStepArray();
        }

        this.$router.push({'name' : this.stepArray[0]})
      })
    },
    mounted(){
      var app = this;
      window.addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
          app.next();
        }
      });
    },
    watch: {
      'step': function(val, old) {
        this.transitionName = val > old ? 'slide-left' : 'slide-right';
        this.$router.push({
          'name': this.stepArray[val]
        });
        this.validated = true;
      }
    }
  }
</script>


<style scoped lang="scss">
  @import "../styles/sass/base/_variables.sass";
  /*slide transition*/
  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: transform 0.4s ease-out;
  }
  .slide-right-enter,
  .slide-left-leave-to {
    transform: translateX(-30%);
  }
  .slide-right-leave-to,
  .slide-left-enter {
    transform: translateX(30%);
  }
  .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0 !important
  }
  .v-item--active {
    color: var(--v-primary-base)!important
  }
  .card-actions {
    align-items: center;
    width: 100%;
  }
  .card-actions-wrapper {
    margin: 0 !important;
    background-color: $gray-1;
  }
  .card-actions-inner-wrapper {
    align-items: center !important
  }
  .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
    color: $disabled-font!important
  }
  .outer-card {
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important
  }
  .outer-card ::v-deep .accent--text{
    color: var(--v-primary-base)!important;
    caret-color: var(--v-primary-base)!important;
  }
  .body-text,
  .step-counter {
    color: $gray-3;
    text-align: center;
  }
  @media only screen and (max-width: 960px) {
    .row {
      margin-right: 0!important;
      margin-left: 0!important
    }
    .button-row {
      text-align: center!important
    }
    .body-text {
      padding: 0!important
    }
  }
</style>
