<template>
    <v-card flat tile :elevation="5" class="outer-card width-100">
        <v-card class="px-3 py-6 pa-lg-12 pa-md-12 page-min-height" :elevation="0">
            <step-audio-player></step-audio-player>
        <step-title content="Welcome to the Library"></step-title>
        <explanation conent="Lorem Ipsum"></explanation>
        <v-row>
            <v-col cols="9">
                <video-player v-if="videoSelected" video="library" :libraryname="libraryName"></video-player>
            </v-col>
            <v-col cols="3">
                <h3 class="text-center headline gray">Select a topic</h3>
                <v-list>
                    <v-list-item-group v-model="$store.state.libraryState" color="primary">
                        <template v-for="category in library">
                            <template v-if="category.video">
                                <v-list-item
                                        v-for="(item, name) in category.video"
                                        :key="name"
                                >
                                    <v-list-item-content @click="refreshVideo(name)">
                                        <v-list-item-title>{{ name }}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-col>
        </v-row>
        </v-card>
    </v-card>
</template>

<script>
    import StepTitle from "../components/Content/StepTitle";
    import Explanation from "../components/Content/Explanation";
    import VideoPlayer from "../components/Global/VideoPlayer";
    import HeaderText from "../components/Content/HeaderText";
    import StepAudioPlayer from "../components/Global/StepAudioPlayer";
    export default {
        name: "Library",
        data() {
            return {
                videoSelected: false,
                libraryName: ""
            }
        },
        components: {StepAudioPlayer, HeaderText, VideoPlayer, Explanation, StepTitle},
        computed: {
            library() {
                return this.$store.state.library;
            }
        },
        methods: {
            refreshVideo(name) {
                this.videoSelected = false;
                this.$nextTick(() => {
                    this.libraryName = name;
                    this.videoSelected = true;
                });
            }
        },
        created() {
            this.$store.state.libraryState = null;
        }
    }
</script>

<style scoped>

</style>