<template>
    <v-card flat tile :elevation="1" class="outer-card width-100 set-radius my-profile">
        <transition :name="transitionName" class="transition" mode="out-in">
            <router-view ref="child" v-on:updateValidation="updateValidation"></router-view>
        </transition>
        <v-row style="max-height:75px" class="card-actions-wrapper justify-end align-space-around ma-0 z-2 px-6 py-2 sticky-bar">
            <v-card-actions class="justify-space-between card-actions">
                <v-row class="card-actions-inner-wrapper ma-0">
                    <left-side-actions></left-side-actions>
                    <div class="flex-grow-1"></div>
                    <div>
                        <v-btn class="back" color="primary" rounded text @click.prevent="prev" v-if="showBack">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile85')}}
                        </v-btn>
                        <v-btn class="next" rounded color="primary" depressed @click.prevent="next" :disabled="!validated">
                            {{ nextText }}
                        </v-btn>
                    </div>
                </v-row>
            </v-card-actions>
        </v-row>
    </v-card>
</template>


<script>
    import data from "../api/data";
    import LeftSideActions from "../components/Global/LeftSideActions";

    export default {
        components: {LeftSideActions},
        data: () => ({
            stepArray: [],
            step: 0,
            transitionName: 'slide-left',
            childValidated: true,
            checkbox1: false,
            videoPage: false
        }),
        computed: {
            validated() {
                if(this.$route.name === 'AutosACA' && this.$store.state.optRadios === ''){
                    return false
                }
                return this.childValidated;
            },
            showLibraryButton() {
                return ("library" in this.$store.state.path.sections);
            },
            nextText() {
                if (this.$route.name === 'optout') {
                    return this.translate('myprofile', 'My_Profile', 'OptOutConfirm');
                }
                if (this.$route.name === 'My_Profile') {
                    return this.translate('myprofile', 'My_Profile', 'My_Profile87');
                }
                return this.translate('myprofile', 'My_Profile', 'My_Profile86');
            },
            showBack() {
                return this.$route.name !== 'optout' && this.$route.name !== 'My_Profile';
            }
        },
        methods: {
            videoCheck() {
                this.$route.name == 'MyProfileEndingVideos' ? this.videoPage = true : this.videoPage = false
            },
            updateValidation(validation) {
                this.childValidated = validation;
            },
            next() {
                if (this.$route.name === 'Email_My_Profile') {
                    let email = this.$refs.child.$refs.profileEmail.value.trim();
                    if (email !== "") {
                        data.sendProfileEmail(email).then(() => { this.proceed() })
                        return;
                    }
                }
                this.proceed();
                this.videoCheck()
            },
            prev() {
                if (this.step <= 0) {
                    this.$emit('previousSection')
                } else {
                    this.step--;
                    this.$store.commit('SET_MP_STEP', this.step);
                    this.videoCheck();
                }
            },
            proceed() {
                if (this.step >= this.stepArray.length - 1) {
                    this.$emit('nextSection')
                } else {
                    this.step++;
                    this.$store.commit('SET_MP_STEP', this.step);
                    this.videoCheck();
                }
            }
        },
        created() {
            if (this.$store.state.optRadios === 'radio-3') {
                this.stepArray.push('optout');
            }
            else {
                this.stepArray.push('My_Profile');
            }

            Object.keys(this.$store.state.path.sections.myprofile.steps).forEach(key => {
                if (key === 'My_Profile') return;
                if(this.$store.state.path.sections.myprofile.steps[key].active && this.$store.state.path.sections.myprofile.steps[key].name != 'navigation')
                    this.stepArray.push(this.$store.state.path.sections.myprofile.steps[key].path)
            });

            if (this.stepArray.indexOf(this.$router.currentRoute.name) > -1) {
                this.step = this.stepArray.indexOf(this.$router.currentRoute.name);
            }else{
                this.step = this.$store.state.MPStep
            }

            this.$router.push({
                'name': this.stepArray[this.step]
            });

            this.videoCheck();
        },
        mounted(){
            var app = this;
            window.addEventListener('keyup', function(event) {
                if (event.keyCode === 13) {
                    app.next();
                }
            });
        },
        watch: {
            'step': function (val, old) {
                this.transitionName = val > old ? 'slide-left' : 'slide-right';
                this.$router.push({'name': this.stepArray[val]});
                this.validated = true;
            }
        }
    }
</script>


<style scoped lang="scss">
    @import "../styles/sass/base/_variables.sass";
    @import "../styles/styles.css";

    /*slide transition*/
    .slide-right-enter-active,
    .slide-right-leave-active,
    .slide-left-enter-active,
    .slide-left-leave-active {
        transition: transform 0.4s ease-out;
    }
    .slide-right-enter,
    .slide-left-leave-to {
        transform: translateX(-30%);
    }
    .slide-right-leave-to,
    .slide-left-enter {
        transform: translateX(30%);
    }

    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
        opacity: 0 !important
    }

    .v-item--active {
        color: var(--v-primary-base)!important
    }
    .action-card{
        max-height: 76vh;
        overflow:scroll
    }
    .card-actions {
        align-items: center;
        width: 100%;
    }
    .card-actions-wrapper {
        margin: 0 !important;
        background-color: $gray-1;
    }
    .card-actions-inner-wrapper {
        align-items: center !important
    }
    .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
        color: $disabled-font!important
    }
    .outer-card {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important
    }
    .outer-card ::v-deep .accent--text{
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }
    .body-text, .step-counter {
        color: $gray-3;
        text-align: center;
    }

    .my-profile ::v-deep .accent--text {
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }

    .my-profile ::v-deep .v-label {
        color: #000 !important;
    }

    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0 !important;
            margin-left: 0 !important
        }
        .button-row {
            text-align: center !important
        }
        .body-text {
            padding: 0 !important
        }
    }
</style>
