<template>
    <fork
            v-on:selectStandard="selectPath(paths.guided.pathType.type)"
            v-on:selectExpress="selectPath('smartexpress')"
            :fork="fork"
            :show="show"
    ></fork>
</template>
<script>
    import data from "../api/data";
    import { mapState } from 'vuex'
    import Fork from "../components/Global/Fork";

    function roundMoney(num) {
        try {
            return parseInt((num).toFixed(0));
        } catch (e) {
            return num;
        }
    }

    export default {
        components: {Fork},
        created () {
            this.initialize();
        },
        data: () => ({
                paths:null,
                show:false
        }),
        computed: {
            fork() {
                if (this.$store.state.fork.published)
                {
                    return this.$store.state.fork;
                }
                return {};
            },
            ...mapState(['retirementneeds','common','results'])
        },
        methods: {
            initialize() {
                this.$store.state.showNavigation = false;
                var request  = data.getAvailablePaths(this.$store.state.module.planid);
                request.then(
                    response =>
                    {
                        this.paths = response.data;

                        if (!this.paths.chosen && !this.paths.guided)
                        {
                            var type = this.$store.state.common.navigationLocked ? "SmartEnroll" : "SmartPlan";
                            alert("No paths found for " + type + " or SmartExpress");
                        }
                        else
                        {
                            if (this.paths.chosen)
                                this.selectPath(this.paths.chosen.pathType.type);
                            else
                                this.show = true;
                        }
                    }
                );
            },
            selectPath(type)
            {

                this.$store.dispatch('setPath',type).then(() =>{
                    if (this.$store.state.common.autoNavigation) {
                        this.$store.commit('SET_SECTION_ENABLED', {'risk': false, 'investments': false});
                    }
                    if (!("retirementNeeds" in this.$store.state.path.sections))
                    {
                        // TODO hacky stuff to get contributions to work, will replace with path overrides later
                        this.retirementneeds.RN_CurrentYearlyIncome = 100000;
                        this.retirementneeds.RN_NumberOfYearsBeforeRetirement = 20;
                        if (this.common.age !== null && this.retirementneeds.RN_RetirementAge !== null)
                        {
                            let retAge = this.retirementneeds.RN_RetirementAge - this.common.age;
                            this.retirementneeds.RN_NumberOfYearsBeforeRetirement = retAge;
                        }
                        this.$store.dispatch('saveRetirementNeeds').then(() => {
                            this.$store.dispatch('getResultsData').then(() => {
                                let a = this.results.InitialContributionLabel
                                let planAssets = roundMoney(this.results.DeferralArray[a].ProjectedBalanceAtRetirement);
                                let estimatedTargetSavings = roundMoney(planAssets + parseInt(this.results.ProjectedOutsideAssets));
                                this.retirementneeds.RN_EstimatedSavingsatRetirement = estimatedTargetSavings;
                                this.retirementneeds.RN_EstimatedMonthlyIncomeAtRetirement = this.results.DeferralArray[a].MonthlyIncome;
                                this.results.ContributionDlr = this.results.InitialContributionDlr;
                                this.results.ContributionPct = this.results.InitialContributionPct;
                                this.results.annualIncomeDisplay = roundMoney(this.results.InitialAnnualIncome);
                                this.$store.dispatch('saveRetirementNeeds').then(() => {
                                    if(type === 'standard'){
                                        this.$store.state.showNavigation = true;
                                    }
                                    this.$emit('firstSection');
                                })
                            })
                        })
                    }
                    else
                    {
                        if(type === 'standard'){
                            this.$store.state.showNavigation = true;
                        }
                        this.$emit('firstSection')
                    }

                })
            }
        },
        paths: null
    }
</script>


<style scoped lang="scss">

</style>
