<template>
  <v-card flat tile :elevation="1" class="outer-card set-radius width-100">
    <v-row class="justify-center ma-0 width-100" v-if="discConditional" :class="showMessage ? 'px-lg-10 px-md-8 px-xl-10 px-4 py-lg-6 py-md-5 py-xl-6 py-3' : ''">
      <v-icon v-if="!showMessage" @click="showMessage = !showMessage" class="video-overlay-icon primary--text">mdi-message-text</v-icon>
      <v-card v-if="showMessage" :elevation="7" class="black-bg white-color width-100">
        <v-row>
          <v-col cols="1" class="text-center">
            <v-icon class="white-color">mdi-message-text</v-icon>
          </v-col>
          <v-col cols="10">
            {{discMessage}}
          </v-col>
          <v-col cols="1" class="text-center">
            <v-icon class="white-color close-icon" @click="showMessage = !showMessage">mdi-close</v-icon>
          </v-col>
        </v-row>
      </v-card>
    </v-row>
    <template v-if="!$store.state.initialDiscAcknowledged && messaging.disclaimerActive && messaging.disclaimer">
      <v-row class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 ">
        <v-col cols="12" class="width-100">
          <v-row class="display-1">
            <v-col class="text-left" cols="12" lg="8" md="8">
              {{this.translate('planBasics', 'PlanBasics', 'PB_Welcome')}}
            </v-col>
          </v-row>
          <v-row class="body-1">
            <v-col class="text-left" cols="12" lg="9" md="9">
              {{this.translate('planBasics', 'PlanBasics', 'PB_Subheading')}}
            </v-col>
          </v-row>
          <v-row class="border-row px-2 py-3 ma-0 my-3">
            {{messaging.disclaimer}}
          </v-row>
          <v-row class="body-1">
            <v-col class="text-left" cols="12" lg="9" md="9">
              {{this.translate('planBasics', 'PlanBasics', 'PB_Click_Agree')}}
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-card-actions class="justify-space-between card-actions pa-5">
        <div class="flex-grow-1"></div>
        <v-btn rounded :elevation="0" color="primary" @click="$store.commit('SET_INITIAL_DISC_ACKNOWLEDGED', true)">{{this.translate('planBasics', 'PlanBasics', 'PB_Agree')}}</v-btn>
      </v-card-actions>
    </template>
    <template v-if="$store.state.initialDiscAcknowledged ||  !messaging.disclaimerActive">
      <v-card>
        <v-row class="vid-row">
          <!-- video -->
          <video-player class="set-radius video-player" v-on:getCurrentVideo="getCurrentVideo" v-on:updateMessage="updateMessage" video="planBasics"></video-player>
        </v-row>
      </v-card>
      <!-- MODAL END -->
      <v-row style="max-height:75px" class="card-actions-wrapper justify-end align-space-around ma-0 sticky-bar">
        <v-card-actions class="justify-space-between card-actions">
          <v-row  class="card-actions-inner-wrapper ma-0">
            <v-col class="button-row d-lg-flex d-md-flex d-xl-flex justify-end text-right" cols="12">
              <left-side-actions></left-side-actions>
              <div class="flex-grow-1"></div>
              <v-btn v-if="!videoPage" class="back" color="primary" rounded text @click.prevent="prev">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile85')}}
              </v-btn>
              <v-btn v-else class="back" color="primary" rounded text @click.prevent="prevVid">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile85')}}
              </v-btn>
              <v-btn v-if="!videoPage" class="next" rounded color="primary" depressed @click.prevent="next">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile86')}}
              </v-btn>
              <v-btn v-else class="next" rounded color="primary" depressed @click.prevent="nextVid">
                {{this.translate('planBasics', 'PlanBasics', 'PB_Skip')}}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-row>
    </template>
  </v-card>
</template>
<script>
  import VideoPlayer from "./../components/Global/VideoPlayer";
  import LeftSideActions from "../components/Global/LeftSideActions";
  import { mapState } from 'vuex'
  export default {
    components: {LeftSideActions, VideoPlayer },
    data: () => ({
      length: 1,
      step: 0,
      dialog: false,
      videoPage: true,
      image_src: require("../assets/img/vid-placeholder.png"),
      showMessage: true,
      videoDescription: null,
      discConditional: null,
      discMessage: null,
      vidPlaylist: []
    }),
    computed: {
      ...mapState(['messaging', 'playlist'])
    },
    methods: {
      getCurrentVideo(videos) {
        if (videos !== this.vidPlaylist){
          this.vidPlaylist = videos;
        }
        var self = this
        setTimeout(function(){
          self.updateMessage()
        }, 1000);
      },
      updateMessage(){
        this.showMessage = true;
        this.videoDescription = this.vidPlaylist[jwplayer().getPlaylistIndex()];
        this.discConditional = this.messaging[this.vidPlaylist[jwplayer().getPlaylistIndex()] + 'Active'] && this.messaging[this.vidPlaylist[jwplayer().getPlaylistIndex()]] && this.videoDescription;
        this.discMessage = this.messaging[this.vidPlaylist[jwplayer().getPlaylistIndex()]];
      },
      next() {
        if (this.step >= this.length - 1) {
          this.$emit('nextSection');
        } else {
          this.step++;
          this.$store.commit('SET_PB_STEP', this.step);
        }
      },
      prev() {
        if (this.step <= 0) {
          this.$emit('previousSection');
        } else {
          this.step--;
          this.$store.commit('SET_PB_STEP', this.step);
        }
      },
      prevVid() {
        if (jwplayer().getPlaylistIndex() === 0) {
          this.prev();
          this.updateMessage();
        }else {
          jwplayer().playlistPrev();
          this.updateMessage();
        }
      },
      nextVid() {
        var lastVid = jwplayer().getPlaylist().length - 1;
        if (jwplayer().getPlaylistIndex() === lastVid) {
          this.next();
          this.updateMessage();
        }else {
          jwplayer().playlistNext();
          this.updateMessage();
        }
      },
    },
    mounted(){
      var app = this;
      window.addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
          app.next();
        }
      });
    },
  }
</script>
<style scoped lang="scss">
  @import "../styles/sass/base/_variables.sass";
  @import "../styles/styles.css";
  .dialog-text {
    color: $gray;
    font-size: 1rem
  }
  .video-overlay-icon {
    position: absolute!important;
    z-index: 1;
    right: 50px;
    top: 20px;
  }
  .border-row{
    border: 1px solid var(--v-secondary-base)
  }
  .v-item-group button {
    color: $gray!important;
  }
  -btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0 !important
  }
  .card-actions {
    align-items: center;
    width: 100%;
    background-color: $gray-1;
  }
  .card-actions-wrapper, .vid-row {
    margin: 0 !important;
  }
  .card-actions-inner-wrapper {
    align-items: center !important
  }
  .outer-card {
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between;
  }
  .outer-card ::v-deep .accent--text{
    color: var(--v-primary-base)!important;
    caret-color: var(--v-primary-base)!important;
  }
  .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
    color: $disabled-font!important
  }
  .back {
    color: $blue-2;
  }
  .body-text,
  .step-counter {
    color: $gray-3;
    text-align: center;
  }
  @media only screen and (max-width: 599px) {
    .video-overlay-icon{
      right:4px;
      top:4px;
    }
  }
  @media only screen and (max-width: 440px) {
    .close-icon{
      margin-left: -20px!important;
    }
  }
</style>