<template>
    <v-app>
        <v-container>
            <profile-report v-if="loaded" :profile="profile" :is-confirmation="false"></profile-report>
        </v-container>
    </v-app>
</template>

<script>
    import ProfileReport from "../components/MyProfile/ProfileReport";
    import data from "../api/data";
    export default {
        name: "ProfileReportPage",
        components: {
            ProfileReport
        },
        props: [
            'profileId'
        ],
        data: () => ({
            profile: {},
            loaded: false
        }),
        mounted() {
            data.getProfile(this.profileId).then(response => {
                this.profile = response.data.appData;
                this.profile.documents = response.data.documents;
                this.profile.createDate = response.data.createDate;
                this.loaded = true
            })
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/sass/base/_variables.sass";
    @import "../styles/styles.css";

    /*slide transition*/
    .slide-right-enter-active,
    .slide-right-leave-active,
    .slide-left-enter-active,
    .slide-left-leave-active {
        transition: transform 0.4s ease-out;
    }
    .slide-right-enter,
    .slide-left-leave-to {
        transform: translateX(-30%);
    }
    .slide-right-leave-to,
    .slide-left-enter {
        transform: translateX(30%);
    }

    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
        opacity: 0 !important
    }

    .v-item--active {
        color: var(--v-primary-base) !important
    }

    .card-actions {
        align-items: center;
        width: 100%;
    }

    .card-actions-wrapper {
        margin: 0 !important;
        background-color: $gray-1;
        max-height: 100px;
    }

    .card-actions-inner-wrapper {
        align-items: center !important
    }

    .outer-card {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important
    }
    .outer-card ::v-deep .accent--text{
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }
    .v-application .primary {
        background-color: $blue-2 !important;
        padding-left: 5px;
    }

    .back {
        color: $blue-2;
        margin-left: -20px;
        margin-right: 20px
    }

    .body-text, .step-counter {
        color: $gray-3;
        text-align: center;
    }

    .my-profile ::v-deep .accent--text {
        color: var(--v-primary-base) !important;
        caret-color: var(--v-primary-base) !important;
    }

    .my-profile ::v-deep .v-label {
        color: #000 !important;
    }

    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0 !important;
            margin-left: 0 !important
        }
        .button-row {
            text-align: center !important
        }
        .body-text {
            padding: 0 !important
        }
    }
</style>