<template>
  <v-card flat tile :elevation="1" class="outer-card width-100 set-radius">
    <v-row class="justify-center align-center width-100" style="min-height: 200px" v-if="!stepArray[0]">
      <v-progress-circular
              indeterminate
              color="primary"
      ></v-progress-circular>
    </v-row>
    <transition v-if="stepArray[0]" :name="transitionName" class="transition" mode="out-in">
      <router-view
              :key="$route.fullPath"
              ref="child"
              v-on:updateValidation="updateValidation"
              v-on:resetRP="resetRP"
              :dir="dir"></router-view>
    </transition>
    <v-row v-if="stepArray[0]" style="max-height:75px" class="card-actions-wrapper justify-end sticky-bar align-space-around z-2 ma-0 px-6 py-2">
      <v-card-actions class="justify-space-between card-actions">
        <v-row class="card-actions-inner-wrapper ma-0">
          <left-side-actions></left-side-actions>
          <div class="flex-grow-1"></div>
          <div>
            <v-btn v-if="!videoPage" class="back" color="primary" rounded text @click.prevent="prev">
              {{this.translate('risk', 'RP', 'RP4')}}
            </v-btn>
            <v-btn v-else class="back" color="primary" rounded text @click.prevent="prevVid">
              {{this.translate('risk', 'RP', 'RP4')}}
            </v-btn>
            <v-btn v-if="!videoPage" class="next" rounded color="primary" depressed @click.prevent="next" :disabled="!validated">
              {{this.translate('risk', 'RP', 'RP5')}}
            </v-btn>
            <v-btn v-else class="next" rounded color="primary" depressed @click.prevent="nextVid">
              Skip
            </v-btn>
          </div>
        </v-row>
      </v-card-actions>
    </v-row>
  </v-card>
</template>
<script>

  import LeftSideActions from "../components/Global/LeftSideActions";
  export default {
    name: "RiskProfile",
    components: {LeftSideActions},
    data: () => ({
      stepArray: [],
      step: 0,
      transitionName: 'slide-left',
      validated: false,
      dir: 'next',
      videoPage: false
    }),
    methods: {
      getWelcome(){
        this.stepArray = [];
        Object.keys(this.$store.state.path.sections.risk.steps).forEach(key => {
          if (key.includes("Stadion") && this.$store.state.path.sections.risk.steps[key].name != 'RTQStadionResults') {
            if (this.$store.state.path.sections.risk.steps[key].active && this.$store.state.RP.isStadion) {
              if (key.includes("Terms")) {
                if (this.$store.state.RP.stadionAccepted == 1) {
                  this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path);
                }
              } else if (key.includes("RetireExpress")) {
                if (this.$store.state.RP.managedaccountid == 1) {
                  this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path);
                }
              }
              else {
                this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path);
              }
            }
          }
          if (key.includes("Kinetik")) {
            if (this.$store.state.path.sections.risk.steps[key].active && this.$store.state.RP.isKinetik) {
              this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path);
            }
          }
          else if(this.$store.state.path.sections.risk.steps[key].active && this.$store.state.path.sections.risk.steps[key].name != 'navigation' && this.$store.state.path.sections.risk.steps[key].name == 'RPWelcomeVideo')
            this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path)
        });
      },
      getFinish(){
        Object.keys(this.$store.state.path.sections.risk.steps).forEach(key => {
          if(this.$store.state.path.sections.risk.steps[key].active && this.$store.state.path.sections.risk.steps[key].name != 'navigation' && (this.$store.state.path.sections.risk.steps[key].name == 'Finish' || this.$store.state.path.sections.risk.steps[key].name == 'RPCongratulations'
          || this.$store.state.path.sections.risk.steps[key].name == 'RTQStadionResults'))
            if (key.includes("Stadion")) {
              if (this.$store.state.path.sections.risk.steps[key].active && this.$store.state.RP.isStadion && this.$store.state.RP.stadionAccepted == 1) {
                this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path);
              }
            } else {
              this.stepArray.push('/riskprofile/' + this.$store.state.path.sections.risk.steps[key].path)
            }
        });
      },
      resetRP() {
        this.step = 0;
      },
      updateValidation(validation) {
        this.validated = validation;
      },
      getStepArray() {
        return this.stepArray;
      },
      setStepArray(i, val) {
        this.stepArray.splice(i, 0, val);
      },
      removeStepArray(i) {
        this.stepArray.splice(i, 1);
      },
      arraySplice(arr, index) {
        for( var i = 0; i < arr.length; i++){
          if ( i === index) {
            arr.splice(i, 1);
            i--;
          }
        }
        return arr;
      },
      generateStepArray(steps) {
        this.getWelcome();
        for (var i = 0; i < steps; i++) {
          this.stepArray.push('/riskprofile/RP/' + i);
        }
        this.getFinish();
      },
      generateStepArrayForStadion(steps) {
        this.getWelcome();
        for (var i = 0; i < steps; i++) {
          this.stepArray.push('/riskprofile/RP/' + i);
        }
        this.getFinish();
      },
      generateStepArrayForKinetik(steps) {
        this.getWelcome();
        for (var i = 0; i < steps; i++) {
          this.stepArray.push('/riskprofile/RP/' + i);
        }
        this.getFinish();
      },
      next() {
        if (this.stepArray[this.step].includes('RetireExpress') && this.$store.state.RP.retireExpressAccepted == 1) {
          this.validated = false;
          this.$store.dispatch('stadionRetireExpress').then(() => {

            this.$emit('nextSection');
          });
          return;
        }
        if (this.$refs.child.$refs.hasOwnProperty('form') && !this.$refs.child.$refs.form.validate()) {
          return false;
        }
        this.dir = 'next';
        if (this.step >= this.stepArray.length - 1) {
          this.$emit('nextSection')
        } else {
          this.videoPage = false;
          this.step++;
          this.$store.commit('SET_RP_STEP', this.step);
        }
      },
      prev() {
        this.dir = 'prev';
        this.videoPage = false;
        if (this.step <= 0) {
          this.$emit('previousSection')
        } else {
          this.step--;
          this.$store.commit('SET_RP_STEP', this.step);
        }
      },
      prevVid() {
        if (jwplayer().getPlaylistIndex() === 0)
          this.prev();
        else
          jwplayer().playlistPrev();
      },
      nextVid() {
        var lastVid = jwplayer().getPlaylist().length - 1;
        if (jwplayer().getPlaylistIndex() === lastVid)
          this.next();
        else
          jwplayer().playlistNext();
      },
    },
    created() {
      this.$store.dispatch('getRiskProfile').then(() => {
        if (this.$store.state.RP.isKinetik) {
          this.getWelcome();
        }
        else if (this.$store.state.RP.isStadion) {
          this.getWelcome();
        }
        else {
          this.generateStepArray(this.$store.state.RP.total);
        }
        this.validated = true;
        this.step = 0;
        this.$router.push({
          'path': this.stepArray[this.step]
        });
      })
    },
    mounted(){
      var app = this;
      window.addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
          app.next();
        }
      });
    },
    watch: {
      'step': function(val, old) {
        this.transitionName = val > old ? 'slide-left' : 'slide-right';
        this.$router.push({
          'path': this.stepArray[val]
        });
        this.validated = true;
      }
    }
  }
</script>
<style scoped lang="scss">
  @import "../styles/sass/base/_variables.sass";
  @import "../styles/styles.css";
  /*slide transition*/
  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: transform 0.4s ease-out;
  }
  .slide-right-enter,
  .slide-left-leave-to {
    transform: translateX(-30%);
  }
  .slide-right-leave-to,
  .slide-left-enter {
    transform: translateX(30%);
  }
  .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0 !important
  }
  .v-card {
    width: 100%;
    height: auto
  }
  .card-actions {
    align-items: center;
    width: 100%;
  }
  .outer-card ::v-deep .theme--light.v-btn.v-btn--disabled{
    color: $disabled-font!important
  }
  .card-actions-wrapper {
    margin: 0 !important;
    background-color: $gray-1;
  }
  .card-actions-inner-wrapper {
    align-items: center !important
  }
  .outer-card {
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important
  }
  .outer-card ::v-deep .accent--text{
    color: var(--v-primary-base)!important;
    caret-color: var(--v-primary-base)!important;
  }
  .step-counter {
    color: $gray-3;
    text-align: center;
  }
  @media only screen and (max-width: 960px) {
    .row {
      margin-right: 0!important;
      margin-left: 0!important
    }
    .button-row {
      text-align: center!important
    }
  }
</style>
