{% extends 'WidgetsBundle:PowerViewBase:desktop.html.twig' %}

{% block title %}PowerView SmartPlan Prototype{% endblock %}



{% block video %}
{% if data.maxMatch > 0 %}{{ '1133a_PWV' | trans({}, 'widget') }}
{% else %}{{ '1133b_PWV' | trans({}, 'widget') }}
{% endif %}
{% endblock %}

{% block contentID %}smartplan{% endblock %}

{% block slides %}

{{ include('WidgetsBundle:PowerViewSlides:slideGroup_Intro.html.twig') }}

{% if data.maxMatch > 0 %}

	{{ include('WidgetsBundle:PowerViewSlides:slideGroup_A.html.twig') }}

	{{ content.section('cta_bg', 'half-background out-right bg-primary no-video', '41', '45', 'out-right', 'full-background') }}

	{{ content.article('cta', 'center cta rev fade-out', '41', '44', 'fade-out', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:SmartPlanCTA.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('cta', 'center cta rev wide single out-right', '45.5', '1000', 'out-right', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:SmartPlanCTA.html.twig') }}
	{{ content.articleClose }}

{{ content.sectionClose }}

{% else %}

	{{ include('WidgetsBundle:PowerViewSlides:slideGroup_B.html.twig') }}

	{{ content.section('cta_bg', 'half-background out-right bg-primary no-video', '36', '41', 'out-right', 'full-background') }}

	{{ content.article('cta', 'center cta rev fade-out', '36', '40', 'fade-out', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:SmartPlanCTA.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('cta', 'center cta rev wide single out-right', '42', '1000', 'out-right', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:SmartPlanCTA.html.twig') }}
	{{ content.articleClose }}

	{{ content.sectionClose }}

{% endif %}

{% endblock %}
