{% extends 'WidgetsBundle:PowerViewBase:mobile.html.twig' %}

{% block title %}PowerView SmartPlan Mobile Prototype{% endblock %}

{% block contentID %}smartplan{% endblock %}

{% block slides %}

	{{ include('WidgetsBundle:PowerViewMobileSlides:slideGroup_Intro.html.twig') }}


	{% if data.maxMatch > 0 %}

		{{ include('WidgetsBundle:PowerViewMobileSlides:emp_match.html.twig') }}

	{% endif %}

	{{ include('WidgetsBundle:PowerViewMobileSlides:sameRateContribution.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:SmartPlanCTA.html.twig') }}


{% endblock %}
