{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Path Set up Accounts'})) }}
{% set table = "accounts" %}
{% set tablename = "accounts" %}
{% set url = path('_paths_accountPaths_getAccounts') %}
{% set header = "<th>id</th><th>Partner Id</th><th>Enable</th>" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ include('PathsPathsBundle:Default:javascript/index.js.twig' ) }}
<script>
Paths.toggleAccount = function(userid,pathId,on)
{
    this.ajaxPost("{{ path('_paths_accountPaths_toggleAccount') }}",{userid: userid,pathId: pathId,on: on ? 1: 0 });
};
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}