<link rel="stylesheet" id ="widgetLoaderCSS" type="text/css" href="{{ absolute_url('/w/css/widget-library.css') }}"> 
<div class="widgets" id = "irioLoader" style ="display:none"><div class="vwise"><div class="overlay"><div class="copy"><h2>Will it be enough?</h2><h5>How much will you have in retirement?</h5><button id="wl-button-irio" class="vwise-button bg-primary" onclick ="launchIrio()">Find Out</button></div></div></div></div>
<div id ="ajaxContentIrio" style ="display:none"></div>
<script>
window.onload = function() {
    if (!window.jQuery) {  
    (function(){
      var newscript = document.createElement('script');
         newscript.type = 'text/javascript';
         newscript.async = true;
         newscript.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(newscript);
    })();
    }
}
</script>
<script>
function launchIrio(params)
{
    if (!window.jQuery)
    {
         setTimeout(function(){ launchIrio(); }, 100);
    }
    else
    {
        $("#irioLoader").hide();     
        $("body").find("#widgetLoaderCSS").remove();
        $.ajax({
            url: "{{ absolute_url( path('api_irio_render')) }}",
            xhrFields: {
               withCredentials: true
            },
            data:params,
            type:"POST"
         }).done(function( data ) {
            $( "#ajaxContentIrio" ).html( data );
            setTimeout(function(){ $( "#ajaxContentIrio" ).show() }, 100) ;   
         });  
    }
}
function showIrioPanel()
{
    if (window.jQuery) 
    { 
        $("#irioLoader").show();
        clearInterval(irioPanelInterval );       
    }
}
 var irioPanelInterval = setInterval(function(){ showIrioPanel(); }, 100);
</script>
