	if ($("#account_partnerid").val() == "")
	{
		alert("Partner Id cannot be blank");
		return;
	}	
	if ($("#account_connectionType").val() == "" || $("#account_connectionType").val() == null)
	{
		alert("A Connection Type must be selected");
		return;
	}

	
	{% for section in sections %}
	if (querystring == "")
	querystring = "{{section.name}}=" + $("#account_{{section.name}}").val();
	else
	querystring = querystring + "&{{section.name}}=" + encodeURIComponent($("#account_{{section.name}}").val());
	{% endfor %}

	//alert(querystring);
	


	$.post(page, querystring).done(function(data) 
	{
		if (data == "Saved")
		{
			closeLightBox();
			accountsTable.fnDraw();
		}
		else
		alert(data);
	});