
<script>
$(document).ready(function() {
    drawTable();
   $( "#addKey" ).keydown(function() {
        generateKey(this,"addKeyResult");
    });

    var availableTags = [{% for account in accounts %}{% if loop.index > 1 %},{% endif %}"{{account.id }}"{% endfor %}];
    $( "#addUserid" ).autocomplete({
    source: availableTags
    });



    $( "#addApiForm" ).submit(function( event )
    {
        event.preventDefault();   
        addApiAccount();      
    });



} );
var drawcounter = 0;
var table;
function drawTable()
{  
    if (drawcounter == 0)
    {
       table = $('#apikeys').dataTable( {
            "ajax": "{{ path('_manage_accounts_api_table_contents') }}"
        } );
        drawcounter++;
    }
    else
    {
    //table.fnGetData(this);
    //table.fnDraw();
    //table.ajax.reload();
     
     table.fnDraw();
     
    }
    
}
function generateKey(object,id)
{
    var page = "{{ path('_manage_accounts_api_test_generate_key') }}";
    var querystring = "key=" + object.value;
    var ajaxRequest = getAjaxVariable();
    ajaxRequest.onreadystatechange = function()
    {
        if(ajaxRequest.readyState == 4)
        {
            document.getElementById(id).value = ajaxRequest.responseText;
        }
    }

    postAjax(ajaxRequest,page,querystring);
}

function addApiAccount()
{
    var key = document.getElementById("addKeyResult").value;
    var page = "{{ path('_manage_accounts_api_add_api_account')}}";
    var ipaddress = document.getElementById("addIpaddress").value;
    var userid = document.getElementById("addUserid").value;
    var activeinput = document.getElementById("addActive");

    if (activeinput.checked)
    var active = 1;
    else
    var active = 0;
    var querystring = "key=" +  key + "&ipaddress=" + ipaddress + "&userid=" + userid + "&active=" + active;
    var ajaxRequest = getAjaxVariable();
    ajaxRequest.onreadystatechange = function()
    {
        if(ajaxRequest.readyState == 4)
        {
            if (ajaxRequest.responseText == "Added")
            drawTable();
            else
            alert(ajaxRequest.responseText);
        }
    }
    postAjax(ajaxRequest,page,querystring);    
}
</script>