<script>
var filter = 1;
function checkPartnerId(value)
{

	{% for section in sections %}
		document.getElementById("div_{{ section.name }}").style.display = "{{ section.display }}";
	{% endfor %}

	if (value == "Relius")
	{
		{% for section in reliusSections %}
		document.getElementById("div_{{ section }}").style.display = "block";
		{% endfor %}
	}
	if (value.indexOf("SRT") == 0)
	{
		{% for section in SRTSections %}
		document.getElementById("div_{{ section }}").style.display = "block";
		{% endfor %}
	}
	if (value == "Envisage")
	{
		{% for section in EnvisageSections %}
		document.getElementById("div_{{ section }}").style.display = "block";
		{% endfor %}
	}
	if (value == "ExpertPlan")
	{
		{% for section in ExpertPlanSections %}
		document.getElementById("div_{{ section }}").style.display = "block";
		{% endfor %}
	}
	if (value == "DST")
	{
		{% for section in DSTSections %}
		document.getElementById("div_{{ section }}").style.display = "block";
		{% endfor %}
	}
    if (value == "Omniamrts")
    {
        {% for section in AmrtsSections %}
        document.getElementById("div_{{ section }}").style.display = "block";
        {% endfor %}
    }
    if (value == "Omnimoa")
{
    {% for section in AmrtsSections %}
    document.getElementById("div_{{ section }}").style.display = "block";
    {% endfor %}
}
	resizeColorBox();
}
function checkLanguage(value)
{
	if (value == "Yes")
	$("#div_languagesAvailable").show();
	else
	{
		$("#div_languagesAvailable").hide();
		$("[name=account_languagesAvailable]").prop("checked",false);
		$(".account_en").prop("checked",true);
		calculateCheckbox('account_languagesAvailable');
	}

}
function resizeColorBox()
{
    $.colorbox.resize({
        innerWidth:$('#addaccountPanel').width() + 10,
        innerHeight:$('#addaccountPanel').height() + 10
    });

}
function calculateCheckbox(id)
{
	$("#" + id).val("");
	var values = $("[name=" + id +"]:checked");
	for (var i = 0; i < values.length;i++)
	{
		if (i != 0)
		$("#" + id).val($("#" + id).val() + "|");

		$("#" + id).val($("#" + id).val() + values[i].value);
	}
}
function checkDuplicateLanguage(id,value,checkvalue)
{
	var checked = $("#" + id + "_" + value).prop("checked");
	$("." + checkvalue).prop("checked",false);
	$("#" + id + "_" + value).prop("checked",checked);

	calculateCheckbox(id);
}
function addaccount()
{
	var page = "{{ path('_manage_accounts_add_account_saved') }}";
	var querystring = "";
	{% include ('ManageManageBundle:Accounts:javascript/accountsection.js.twig') %}
}
function editaccount(id)
{
	var page = "{{ path('_manage_accounts_edit_account_saved')}}";
	var querystring = "id=" + id;
	{% include ('ManageManageBundle:Accounts:javascript/accountsection.js.twig') %}
}

function deleteaccount(id)
{
	var page = "{{ path('_manage_accounts_delete_account_deleted') }}";
	var querystring = "id=" + id;
	var ajaxRequest = getAjaxVariable();
	ajaxRequest.onreadystatechange = function()
  	{
	    if(ajaxRequest.readyState == 4)
	    {
	    	if (ajaxRequest.responseText == "Account Deleted")
	    	{
	    		closeLightBox();
	    		accountsTable.fnDraw();
	    		
	    	}
	    	else
	    	alert(ajaxRequest.responseText);
	    }
	}

	postAjax(ajaxRequest,page,querystring);
}
function hideAccount(id)
{
	var page = "{{ path('_manage_accounts_hide_account') }}";
	var querystring  = "id=" + id;
	$.post(page, querystring).done(function(data) 
	{
		accountsTable.fnDraw();
	});
}

function showAccount(id)
{
	var page = "{{ path('_manage_accounts_show_account') }}";
	var querystring  = "id=" + id;
	$.post(page, querystring).done(function(data) 
	{
		accountsTable.fnDraw();
	});
}
function toggleAccounts()
{
	if (filter == 0)
	filter = 1;
	else
	filter = 0;

	var page = "{{ path('_manage_accounts_datatables_options') }}";
	var querystring = "filter=" + filter;
	$.post(page, querystring).done(function(data) 
	{
		if (filter == 0)
		{
			$("#toggleFilterButton").attr('class', 'btn btn-warning');
			$("#toggleFilterButton").html("Hide Hidden");
		}
		
		if (filter == 1)
		{
			$("#toggleFilterButton").attr('class', 'btn btn-success');
			$("#toggleFilterButton").html("Show All");
		}
		
		$("#accountsTableParentDiv").html(data);
	});
}
</script>