{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'API Log'})) }}
<style>
    #startDate,#endDate {z-index: auto;}
</style>
<form id="APILogSearchForm" action="{{ path('_manage_API_log_ui_search') }}" method="POST" style="margin-bottom:20px;" onsubmit="return submitSearch();">
    {% for key,field in fields %}
        {% if field.searchable %}
            {% if not field.isPulldown %}
                <div class="form-group">
                    <label for="{{ key }}">{{ key }}</label>
                    <input type="text" class="form-control" name="{{ key }}" id="{{ key }}">
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ key }}">{{ key }}</label>
                    <select name="{{ key }}" id="{{ key }}">
                        <option value=""></option>
                        {% for key,value in field.options %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-xs-6">
            <label for="startDate">Start Date/Time</label>
        </div>
        <div class="col-xs-6">
            <label for="startDate">End Date/Time</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input required type="text" class="form-control" placeholder="Starting Date" name="startDate" id="startDate" autocomplete="off">
            <span class="input-group-addon">-</span>
            <input required type="text" class="form-control" placeholder="Ending Date" name="endDate" id="endDate" autocomplete="off">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-default">Clear</button>
</form>

<div class="table-responsive">
    <table id="apiLogTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width:1%">ID</th>
            <th style="width:1%">API User ID</th>
            <th style="width:1%">API ID</th>
            <th style="width:1%">headers</th>
            <th style="width:1%">response</th>
            <th style="width:1%">ip</th>
            <th style="width:1%">status</th>
            <th style="width:1%">url</th>
            <th style="width:1%">application</th>
            <th>timestamp</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    $('#startDate').datetimepicker({ dateFormat: "yy-mm-dd" });
    $('#endDate').datetimepicker({ dateFormat: "yy-mm-dd" });


    var dataTable = $('#apiLogTable').DataTable(
        {
            "processing": true,
            "serverSide": true,
            "deferLoading": 0,
            "ajax":
                {
                    "url": "{{ path('_manage_API_log_ui_search') }}",
                    "type": "POST",
                    "data": function(d) {
                        {% for key,field in fields %}
                        d.{{ key }} = $("#{{ key }}").val();
                        {% endfor %}
                        d.startDate = $("#startDate").val();
                        d.endDate = $("#endDate").val();
                    }
                },
            "dom": 'rltip',
            columns: [
                {% for key,field in fields %}
                {
                    data: "{{ key }}",
                    orderable: {{ field.orderable ? 'true' : 'false' }}
                },
                {% endfor %}
            ],
            "oLanguage":
                {
                    "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />',
                    "sEmptyTable": " "
                }
        });

    function submitSearch() {
        dataTable.ajax.reload();
        return false;
    }
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}