{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'HubSpot Exclusion List'})) }}
<style>
    #accountSelectorTable tbody tr {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-sm-6">
        <h4>Step 1. Select a Partner</h4>
        <table class="table table-hover" id="accountSelectorTable" style="width:100%;">
            <thead><tr><th>ID</th><th>Partner ID</th><th style="width:1%">Excluded</th></tr></thead>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>Step 2. Exclude Partner or Plans</h4>
        <input type="hidden" name="userid" id="userid" value="">
        <div id="noPartnerSelectedMessage" style="display:block;">Please select a Partner first.</div>
        <div id="planSelectorContainer" style="display:none;">
            <table class="table" id="planSelectorTable" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Exclusions</th>
                        <th style="width:1%;">Excluded</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th style="padding-left:10px;padding-right:10px;">
                            <span id="partnerid"></span>
                        </th>
                        <th style="padding-left:10px;padding-right:10px;">
                            <input name="accountToggle[]" type="checkbox" value="1" >
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <th></th>
                    <th></th>
                    <th><a href="#" id="clearExclusionsLnk">Clear</a></th>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<hr>
<span class="glyphicon glyphicon-ok-sign"></span> Partner/Account Excluded<br>
<span class="glyphicon glyphicon-ok-circle"></span> Plans Excluded
<script>
    $(document).ready(function() {
        var table = $('#accountSelectorTable').DataTable({
            "ajax": '{{ path('_manage_hubSpotExclusionList_searchAccounts') }}',
            "columns": [
                { data: "id"},
                { data: "partnerid" },
                { data: "isExcludedFromHubSpot" }
            ],
            "columnDefs": [
                {
                    "render": function(data, type, row) {
                        if (type === 'sort') {
                            return data;
                        }
                        if (row.isExcludedFromHubSpot || row.plansCount > 0) {
                            return '<strong>'+data+'</strong>';
                        }
                        return data;
                    },
                    "targets": 1
                },
                {
                    "orderable": true,
                    "render": function(data, type, row) {
                        var sort = 0;
                        var html = '';
                        if (row.isExcludedFromHubSpot) {
                            sort = 2;
                            html = '<span class="glyphicon glyphicon-ok-sign"></span>';
                        }
                        else if (row.plansCount > 0) {
                            sort = 1;
                            html = '<span class="glyphicon glyphicon-ok-circle"></span>';
                        }
                        return type === 'sort' ? sort : html;
                    },
                    targets: 2
                }
            ]
        });
        var plansTable = null;
        
        $('#accountSelectorTable tbody').on('click', 'tr', function() {
            var row = table.row( this );
            $(table.rows().nodes()).removeClass('active');
            $(row.node()).addClass('active');
            var data = row.data();
            loadPartnerPlans(data.id);
        });
        
        function loadPartnerPlans(id) {
            $('#userid').val(id);
            $('#noPartnerSelectedMessage').hide();
            $('#planSelectorContainer').show();
            var accountToggle = $('input[name="accountToggle[]"]');
            accountToggle.prop('disabled', true);
            $('#partnerid').text('');
            
            if ( plansTable !== null ) {
                plansTable.off('xhr').clear().destroy();
            }
            
            plansTable = $('#planSelectorTable').DataTable( {
                "ajax": {
                    "url": '{{ path('_manage_hubSpotExclusionList_searchPlans') }}',
                    "data": {
                        "userid": id
                    }
                },
                "columns": [
                    { data: "id"},
                    { data: "planid" },
                    { data: "isExcludedFromHubSpot" }
                ],
                "columnDefs": [
                    { "visible": false, targets: 0 },
                    {
                        "orderable": true,
                        render: function(data, type, row) {
                            if (type === 'sort') {
                                return data;
                            }

                            var checked = data ? 'checked' : '';
                            return '<input type="checkbox" value="'+row.id+'" name="planToggle[]" '+checked+'>';
                        },
                        targets: 2
                    }
                ],
                "orderCellsTop": true
            } ).on('xhr.dt', function(e, settings, json) {
                accountToggle.prop('disabled', false).prop('checked', json.isExcludedFromHubSpot);
                $('#partnerid').text(json.partnerid);
            });
        }
        
        $(document).on('click', 'input[name="planToggle[]"]', function(event) {
            var id = event.target.value;
            var value = event.target.checked ? 1 : 0;
            var data = { id: id, value: value };
            $.post('{{ path('_manage_hubSpotExclusionList_updatePlan') }}', data, function() {
                plansTable.cell($(event.target).closest('td')).data(value).draw();
                var selected = table.row('.active').index();
                table.ajax.reload(function() { $(table.row(selected).node()).addClass('active'); }, false);
            });
            event.preventDefault();
            event.stopPropagation();
        });
        
        $(document).on('click', 'input[name="accountToggle[]"]', function(event) {
            var that = this;
            var id = $('#userid').val();
            var value = event.target.checked ? 1 : 0;
            var data = { id: id, value: value };
            $.post('{{ path('_manage_hubSpotExclusionList_updateAccount') }}', data, function() {
                $(that).prop('checked', value);
                var selected = table.row('.active').index();
                table.ajax.reload(function() { $(table.row(selected).node()).addClass('active'); }, false);
            });
            event.preventDefault();
            event.stopPropagation();
        });
        
        $(document).on('click', '#clearExclusionsLnk', function(event) {
            event.preventDefault();
            var data = { id: $('#userid').val() };
            $.post('{{ path('_manage_hubSpotExclusionList_clearExclusions') }}', data, function() {
                plansTable.ajax.reload();
                var selected = table.row('.active').index();
                table.ajax.reload(function() { $(table.row(selected).node()).addClass('active'); }, false);
            });
        });
    });
    
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}