{# TODO: change vwise-rollover-modal to whatever ameritas names their rollover modal #}

<style>
{{ include("ApiBundle:Rollover:css/rollover.css.twig") }}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% set javafiles = ['spe/js/vendor/utils/jwplayer.min.js', 'spe/js/vendor/utils/jwplayer.html5.min.js', 'spe/js/vendor/utils/jwpsrv.js'] %}
{% for javafile in javafiles %}
<script>
    {{ fileGetContents(javafile) | raw }}
</script>
{% endfor %}
<script>jwplayer.key="XkrCEtJjpENgHzaccwWpBjoFwSongLK34QgYqsXxD8g="</script>

<div id="vwise-grey-overlay"></div>
<div style="position: relative;">
    <div id="rollover-overlay">
        <div id="vwise-video-content">
            <div class="vwise-close white">&nbsp;</div>
            <div id="vwise-video"></div>
        </div>
        <div id="vwise-rollover-modal-inner" style="display:none;">
            <!-- MOBILE VIEW -->
            <div class="mobileContent">
                <div class="container-fluid">
                    <div class="vwise-close">&nbsp;</div>
                    <div style="text-align: center">
                        <div class="row" style="padding: 30px">
                            <h3>{{ 'learn_about_your_rollover_options' | trans ({}, 'my_profile') }}</h3>
                        </div>
                        <div class="row" style="padding:0 20px 15px 20px">
                            <span>
                                {{ 'discover_your_rollover_options' | trans ({}, 'my_profile') }}
                            </span>

                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#callusTab">{{ 'call_us' | trans ({}, 'my_profile') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#callmeTab">{{ 'call_me' | trans ({}, 'my_profile') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#emailmeTab">{{ 'email_me' | trans ({}, 'my_profile') }}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="callusTab" class="tab-pane fade in active">
                            <div class="card-body text-center">
                                <img src="{{ absolute_url(asset('spe/images/global/phone_blue_forwarded.png')) }}" alt="Call us" height="40" class="center-block">
                                <div class="row">
                                    <div style="text-align: center;display: inline-block;">
                                        <div class="details rolloverDetails">{{ 'speak_with_a_retirement_consultant_now' | trans ({}, 'widget') }}</div>
                                    </div>
                                </div>
                                <div class="rolloverInput">
                                    <div class="rolloverPhoneNumber">{{ 'call_us_phone_number' | trans ({}, 'my_profile') }}</div>
                                    <div class="rolloverNote">{{ 'call_us_toll_free' | trans ({}, 'my_profile') }}</div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-rollover saveRolloverOption bottom-btn" href="callUs">{{ 'select' | trans ({}, 'widget') }}</button>
                        </div>
                        <div id="callmeTab" class="tab-pane fade">
                            <div class="card-body text-center">
                                <img src="{{ absolute_url(asset('spe/images/global/phone_blue_incoming.png')) }}" alt="Call me" height="40" class="center-block">
                                <div class="row">
                                    <div style="text-align: center;display: inline-block;">
                                        <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_call' | trans ({}, 'widget') }}</div>
                                    </div>
                                </div>
                                <div class="rolloverInput">
                                    <input class="normal" type="text" id="callMeMobile" value="" placeholder="{{ 'your_phone_number' | trans ({}, 'my_profile') }}">
                                    <div class="errorMessage rolloverNote"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-rollover saveRolloverOption bottom-btn" href="callMe">{{ 'select' | trans ({}, 'widget') }}</button>
                        </div>
                        <div id="emailmeTab" class="tab-pane fade">
                            <div class="card-body text-center">
                                <img src="{{ absolute_url(asset('spe/images/global/email_blue.png')) }}" alt="Email me" height="40" class="center-block">
                                <div class="row">
                                    <div style="text-align: center;display: inline-block;">
                                        <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_email' | trans ({}, 'widget') }}</div>
                                    </div>
                                </div>
                                <div class="rolloverInput">
                                    <input class="normal" type="text" id="emailMeMobile" value="{{ email }}" placeholder="email@domain.com">
                                    <div class="errorMessage rolloverNote"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-rollover saveRolloverOption bottom-btn" href="emailMe">{{ 'select' | trans ({}, 'widget') }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DESKTOP VIEW -->
            <div style="padding:30px" class="desktopContent">
                <div class="container-fluid">
                    <div class="vwise-close">&nbsp;</div>
                    <h1>{{ 'learn_about_your_rollover_options' | trans ({}, 'my_profile') }}</h1>
                    <div class="row pad-bottom-10">
                        <div class="col-sm-8">
                            <div class="details">
                                <span>{{ 'discover_your_rollover_options' | trans ({}, 'my_profile') }}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="details">
                        <div class="row equal">
                            <div class="col-sm-4">
                                <div class="card" style="width:100%">
                                    <div class="card-body text-center">
                                        <img src="{{ absolute_url(asset('spe/images/global/phone_blue_forwarded.png')) }}" alt="Call us" height="40" class="center-block">
                                        <div class="title">
                                            <span>{{ 'call_us' | trans ({}, 'my_profile') }}</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="details rolloverDetails">
                                                    <span>{{ 'speak_with_a_retirement_consultant_now' | trans ({}, 'widget') }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="rolloverInput">
                                            <div class="rolloverPhoneNumber">
                                                <span>{{ 'call_us_phone_number' | trans ({}, 'my_profile') }}</span>
                                            </div>
                                            <div class="rolloverNote">
                                                <span>{{ 'call_us_toll_free' | trans ({}, 'my_profile') }}</span>
                                            </div>
                                        </div>
                                        <button type="button"class="btn btn-rollover saveRolloverOption bottom-btn" href="callUs">{{ 'select' | trans ({}, 'widget') }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width:100%">
                                    <div class="card-body text-center">
                                        <img src="{{ absolute_url(asset('spe/images/global/phone_blue_incoming.png')) }}" alt="Call me" height="40" class="center-block">
                                        <div class="title">{{ 'call_me' | trans ({}, 'my_profile') }}</div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_call' | trans ({}, 'widget') }}</div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="rolloverInput">
                                            <input class="normal absInput" type="text" id="callMe" value="" placeholder="{{ 'your_phone_number' | trans ({}, 'my_profile') }}">
                                            <div class="errorMessage rolloverNote"></div>
                                        </div>
                                        <button type="button" class="btn btn-rollover saveRolloverOption bottom-btn" href="callMe">{{ 'select' | trans ({}, 'widget') }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width:100%">
                                    <div class="card-body text-center">
                                        <img src="{{ absolute_url(asset('spe/images/global/email_blue.png')) }}" alt="Email me" height="40" class="center-block">
                                        <div class="title">{{ 'email_me' | trans ({}, 'my_profile') }}</div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_email' | trans ({}, 'widget') }}</div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="rolloverInput">
                                            <input class="normal absInput" type="text" id="emailMe" value="{{ email }}" placeholder="email@domain.com">
                                            <div class="errorMessage rolloverNote"></div>
                                        </div>
                                        <button type="button" class="btn btn-rollover saveRolloverOption bottom-btn" href="emailMe">{{ 'select' | trans ({}, 'widget') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.nav-tabs a[href="#callusTab"]').tab('show');

    var completedVideo = false;
    (function ($) {
        $.each(['show', 'hide'], function (i, ev) {
            var el = $.fn[ev];
            $.fn[ev] = function () {
                this.trigger(ev);
                return el.apply(this, arguments);
            };
        });
    })(jQuery);


    $('#vwise-rollover-modal').on('show', function(){
        $('html,body').animate({ scrollTop: 0 }, 'slow');
        $('#rollover-overlay').css('background-color', 'transparent');
        if (!completedVideo) {
            jwplayer(playerId).play();
        }
    });

    $('#vwise-rollover-modal').on('hide', function(){
        jwplayer(playerId).stop();

    });

    var file = 'https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{ '0810a' | trans ({}, 'video') }}.mp4';

    var playerId = 'vwise-video';
    jwplayer(playerId).setup({
        "file": file,
        'autostart': 0,
        'width' : "100%",
        'aspectratio' : "16:9",
        'primary': $('html').hasClass('lte9') ? 'flash' : 'html5',
        'repeat' : false
    });

    jwplayer(playerId).onComplete(function () {
        completedVideo = true;
        $('#vwise-rollover-modal-inner').show();
        $('#vwise-video-content').hide();
        $('#rollover-overlay').css('background-color', 'white');
        jwplayer(playerId).setFullscreen(false);
    });


    $('#callMe').change(function() {
        $('#callMeMobile').val($('#callMe').val());
    });

    $('#callMeMobile').change(function() {
        $('#callMe').val($('#callMeMobile').val());
    });

    $('#emailMe').change(function() {
        $('#emailMeMobile').val($('#emailMe').val());
    });

    $('#emailMeMobile').change(function() {
        $('#emailMe').val($('#emailMeMobile').val());
    });

    $('.saveRolloverOption').click(function() {

        var page = "{{ absolute_url('/widgets/ajax/saveRolloverWidgetOption') }}";
        var type = 'nothing';
        type = $(this).attr('href');

        if (type === 'callMe' || type === 'emailMe') {
            if ($('#' + type).val().length === 0 ) {
                alert('Please enter a valid email or phone number.');
                return;
            }
        }

        var params = {};
        params['id'] = {{ id }};
        params[type] = $('#'+[type]).val();

        $.ajax({
            url: page,
            crossOrigin: true,
            type: 'POST',
            ContentType: "application/json; charset=utf-8",
            data: params,
            success: function (data) {
                closeRolloverWidget();
            }
        });
    });

    $('.vwise-close, #vwise-grey-overlay').click(function() {
        if (!completedVideo) {
            $('#vwise-rollover-modal').hide();
        } else {
            closeRolloverWidget();
        }
    });

    function closeRolloverWidget() {
        $('#vwise-rollover-modal').hide();
        $('#vwise-rollover-modal-inner').hide();
        $('#vwise-video-content').show();
        completedVideo = false;
    }
</script>

