<script>
    $(document).ready(function(){
    startWidget();

    /* Language Selector */
    var LS = $('#languageSelect');
    var step = 0;
    var questions = 0;
    var surveyAnswers = [];

    function countQuestions(){
    //Minus one to match array index.
    questions = $('.survey-question').length - 1;
}

    $('#submit-survey').hide();
    $('#survey-next').hide();
    $('#survey-back').hide();

    var openLS = function() {
    $(LS).addClass('open');
    $(LS).find('.menu .options').slideDown();
};

    var closeLS = function() {
    $(LS).removeClass('open');
    $(LS).find('.menu .options').slideUp();
};

    $(document).on('click', '#languageSelect:not(.open)', function(){
    openLS();
    setTimeout(closeLS, 10000); // auto close after 10 seconds
});

    $(document).on('click', '#languageSelect.open', function(){
    closeLS();
});

    (function(){
    var langUrl = window.location.href;
    var language = langUrl.split('&lang=');

    if(language.length > 0 && language[1] === 'es'){
    $('#languageSelect .currentLanguage').html( 'Spanish <span></span>');
}else if(language.length > 0 && language[1] === 'en'){
    $('#languageSelect .currentLanguage').html( 'English <span></span>');
}
})();

    $('#languageSelect .options li').click(function(){
    $('#languageSelect .options li.selected').removeClass('selected');
    $(this).addClass('selected');
    var lang = $(this).attr('data');
    var path = window.location.href;

    pathFix(path, lang);

});

    function pathFix(url, lang){
    var popped = url.split('&lang=');
    window.location.href = popped[0] + '&lang=' + lang;
}

    $(document).on('click', '#intro h1, #intro p', function(){
    if ($('#languageSelect').hasClass('open')) {
    closeLS(); // close if user clicks elsewhere in the form\
}
});

    $(window).on('change', 'input', function(){
    var pageHeight = $('.form-page.active').height();
    var visibleHeight = $('#vwise_survey').height();
    if ( pageHeight > (visibleHeight + 50) ) {
    $('#scrollBuddy').fadeIn().addClass('active');
}
});

    /* Hide scroll indicator and scroll to Button section */
    $(document).on('click', '#scrollBuddy', function(){
    $('#wl-frame body').animate({
    scrollTop: $(".form-page.active .button").offset().top - 100
}, 1000);
    $(this).fadeOut().removeClass('active');
});

    var goUP = function() {
    $('#wl-frame body').animate({
    scrollTop: $("#survey").offset().top
}, 1000);
};

    $(document).on('click', '#start-survey', function(){
    goUP();

    $('#welcome').hide();
    $('#languageSelect').hide();
    $('#spinner').fadeIn();

    $.post('{{path('_widgets_national_survey_firstQuestion')}}').done(function(data){
    $('#spinner').hide();
    $('.qbox').append(data);
    $('#survey-next').fadeIn(1000);
    $('#survey-back').fadeIn(1000);
    $('.survey-question').eq(step).fadeIn(1000).toggleClass('active');
    $('#group-1').show();
    countQuestions();
});
});

    // form navigation functions
    $(document).on('click', '#survey-next', function(){
    countQuestions();
    step++;

    var indentifier = checkInputType();
    var answer = checkAnswer();
    var label = checkAnswerLabel();
    
    if(answer == 0 || answer == null ){
    $('.survey-question h1').addClass('error');
    step--;
}else if(step > questions || step !== 0){
    $('.survey-question h1').removeClass('error');
    if(step > 1){
    surveyAnswers.push(label);
}
    $.post('{{path('_widgets_national_survey_answerFilter')}}', {indentifier:indentifier, answer:answer}).done(function(data){
    $('.qbox').append(data);
    $('.survey-question').hide();
    $('.d-downs').eq(step).show();
    $('.survey-question').eq(step).fadeIn(1000);

    countQuestions();

    if(indentifier === 'end'){

    for(var i = 0; i < surveyAnswers.length; i++){
    $('#answerString').append(surveyAnswers[i] + ' ');
}

    $('#survey-next').hide();
    $('#survey-back').hide();
}
});
}else if (step === questions && step > 0){
    $('.survey-question').hide();
    $('#submit-survey').hide();
    $('#survey-next').show();
    $('.survey-question').eq(step).fadeIn(1000).toggleClass('active');
    step--;
    countQuestions();
}else{
    $('#survey-next').hide();
    $('#submit-survey').show();
}
});

    $(document).on('click', '#survey-back', function(){
    surveyAnswers.pop();
    if(step === 0){

    $('.qbox').html('');
    $('.survey-question').hide();
    $('#survey-next').hide();
    $('#survey-back').hide();
    $('#languageSelect').fadeIn(1000);
    $('#welcome').fadeIn(1000);

}else{

    $('.survey-question').eq(step).remove();
    step--;
    $('.survey-question').hide();
    $('#submit-survey').hide();
    $('#survey-next').show();
    $('.survey-question').eq(step).fadeIn(1000).toggleClass('active');

}
});

    // Form validations

    function checkInputType(){
    var inputs = document.getElementsByClassName('theOption')[step - 1].tagName;
    var data;

    switch(inputs){
    case 'SELECT':
    data = $('.theOption').eq(step - 1).children(':selected').attr('data-type');
    break;
    case 'INPUT':
    data = $('.theOption').eq(step - 1).attr('data-type');
    break;
}

    return data;
}

    function checkAnswer(){
        var inputs = document.getElementsByClassName('theOption')[step - 1].tagName;
        var data;

        switch(inputs){
            case 'SELECT':
                data = $('.theOption').eq(step - 1).children(':selected').attr('data-answer');
                break;
            case 'INPUT':
                data = $('input[name=employer-type]:checked').attr('value');
                break;
            default:
                alert('Please select an option.');
                break;
        }

        return data;
    }
    
    function checkAnswerLabel() {
        var inputs = document.getElementsByClassName('theOption')[step - 1].tagName;
        var data;

        switch(inputs) {
            case 'SELECT':
                data = $('.theOption').eq(step - 1).children(':selected').attr('data-label');
                break;
            case 'INPUT':
                data = $('input[name=employer-type]:checked').attr('value');
                break;
        }

        return data;
    }

    // Confirmation controls

    $(document).on('click', '#confirm', function(){
    goUP();
    var querystring = JSON.stringify(surveyAnswers);
    var indentifier = 'save';
    var answer = $('#answerString').text();
    var plan = $('input[name=employer-type]:checked').attr('id');
    var partner = $('#params-misc').attr('data-partner');



    $.post('{{path('_widgets_national_survey_answerFilter')}}', {indentifier:indentifier, answer:answer, querystring:querystring, plan:plan, partner: partner}).done(function(data){

    $('#result').hide().toggleClass('active');
    $('.close').hide();
    $('#spinner, #smartplan-launch').fadeIn();
    setTimeout(function(){
    parent.window.location = data;
},3000);
});
});

    $(document).on('click', '#submit-survey', function(){
    $('.survey-question').hide();
    $('#submit-survey').hide();
    $('#survey-back').hide();
    $('#result').show();
});

    $(document).on('click', '#unconfirmed', function(){
    $('#result').hide();
    $('#moreOptions').fadeIn(1000).toggleClass('active');
});

    $(document).on('click', '#restart', function(){
        step = 0;
        questions = 0;
        $('#moreOptions').hide();
        $('.qbox').html('');
        $('#languageSelect').show();
        $('#welcome').fadeIn(1000);
        surveyAnswers = [];
    });

    $('.close').click(function(){
    closeWidget();
});

});
</script>