<template>
    <v-card class="pa-3 pb-0 pt-sm-9 pr-sm-8 pb-sm-0 pl-sm-10 pt-md-9 pr-md-8 pb-md-0 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-0 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-0 pl-xl-10 height-100 addEditBen" :elevation="0">
        <disclaimer :message="'beneficiary'" :messageActive="'beneficiaryActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="beneficiary_page" step="BEN_Info" label="BEN_Info16"></path-content>
        <path-content section="beneficiary_page" step="BEN_Info" label="BEN_Info51"></path-content>
        <v-row class="body-1">
            <v-col cols="12">
                {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info52')}}&nbsp;{{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info94')}}
            </v-col>
        </v-row>
        <v-row class="width-100 justify-center pt-3">
            <v-card max-width="900" class="width-100 pa-lg-6 pa-md-6 pa-sm-6 pa-3" :elevation="7">
                <v-card-title class="headline">
                    {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info89')}}
                </v-card-title>
                <v-card-text v-if="this.beneficiaries.filter(ben => ben.type === 'Primary').length > 0">
                    <v-data-table
                            :headers="headers"
                            :items="this.beneficiaries.filter(ben => ben.type === 'Primary')"
                            hide-default-footer
                            class="border-row body-1"
                    >
                        <template v-slot:item.percent="{ item }">
                            {{ item.percent }}%
                        </template>
                        <template v-slot:item.editBtn="{ item }">
                            <v-btn
                                    class="mobileBtn"
                                    rounded
                                    text
                                    color="primary"
                                    @click="editBenForm(item, beneficiaries.indexOf(item.id))">
                                {{edit}}
                            </v-btn>
                        </template>
                        <template v-slot:item.deleteBtn="{item}">
                            <v-btn
                                    color="primary"
                                    class="mobileBtn"
                                    rounded
                                    text
                                    @click="deleteBen(item)">
                                {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info57')}}
                            </v-btn>
                        </template>
                    </v-data-table>
                </v-card-text>
                <v-card-actions>
                    <v-row class="align-center ma-0 mobile-reverse-row">
                        <v-col cols="12" lg="6" md="6" sm="6" class="mobile-center">
                            <v-btn
                                    class="addBtn mobile-center"
                                    outlined
                                    color="primary"
                                    rounded
                                    @click="addNewBen('Primary')">
                                <v-icon>mdi-plus</v-icon> {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info90')}}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" lg="6" md="6" sm="6" class="mobile-padding-fix" v-if="this.beneficiaries.filter(ben => ben.type === 'Primary').length > 0">
                            <v-row class="title sm-right align-baseline">
                                {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info91')}}&nbsp;<span class="display-1">{{ sumPrimaryAllocations }}%</span>
                            </v-row>
                            <v-row class="sm-right body-1 bright-red-1" v-if="sumPrimaryAllocations != 100 && sumPrimaryAllocations != 0">
                                100% {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info61').toLowerCase()}}
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>
        </v-row>
        <v-row class="width-100 justify-center mt-6">
            <v-card max-width="900" class="width-100 pa-lg-6 pa-md-6 pa-sm-6 pa-3" :elevation="7">
                <v-card-title class="headline">
                    {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info92')}}
                </v-card-title>
                <v-card-text v-if="this.beneficiaries.filter(ben => ben.type === 'Secondary').length > 0">
                    <v-data-table
                            :headers="headers"
                            :items="this.beneficiaries.filter(ben => ben.type === 'Secondary')"
                            hide-default-footer
                            class="border-row body-1"
                    >
                        <template v-slot:item.percent="{ item }">
                            {{ item.percent }}%
                        </template>
                        <template v-slot:item.editBtn="{ item }">
                            <v-btn
                                    class="mobileBtn"
                                    color="primary"
                                    rounded
                                    text
                                    @click="editBenForm(item, beneficiaries.indexOf(item.id))">
                                {{edit}}
                            </v-btn>
                        </template>
                        <template v-slot:item.deleteBtn="{item}">
                            <v-btn
                                    color="primary"
                                    class="mobileBtn"
                                    rounded
                                    text
                                    @click="deleteBen(item)">
                                {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info57')}}
                            </v-btn>
                        </template>
                    </v-data-table>
                </v-card-text>
                <v-card-actions>
                    <v-row class="align-center ma-0  mobile-reverse-row">
                        <v-col cols="12" lg="6" md="6" sm="6" class="mobile-center">
                            <v-btn
                                    class="addBtn mobile-center"
                                    color="primary"
                                    outlined
                                    rounded
                                    @click="addNewBen('Secondary')">
                                <v-icon>mdi-plus</v-icon> {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info93')}}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" lg="6" md="6" sm="6" class="mobile-padding-fix" v-if="this.beneficiaries.filter(ben => ben.type === 'Secondary').length > 0">
                            <v-row class="title sm-right align-baseline">
                                {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info91')}}&nbsp;<span class="display-1">{{ sumSecondaryAllocations }}%</span>
                            </v-row>
                            <v-row class="sm-right body-1 bright-red-1" v-if="sumSecondaryAllocations != 100 && sumSecondaryAllocations != 0">
                                100% {{translate('beneficiary_page', 'BEN_Info', 'BEN_Info61').toLowerCase()}}
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>
        </v-row>
        <v-row>
            <v-col cols="12" class="pb-6">
                <!--                add new ben dialog-->
                <v-dialog
                        v-model="benForm"
                        width="750"
                        persistent>

                    <v-card class="pa-lg-6 pa-sm-6 pa-xl-6 pa-md-6">
                        <v-form
                                ref="addForm"
                                v-model="isFormValid">
                            <v-card-text>
                                <v-row class="headline ma-0 py-1 px-2">
                                    {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info54')}}
                                </v-row>
                                <template v-for="(ben, i) in beneficiaryData">
                                    <v-row class="ma-0" v-if="ben.type == 'checkbox' && ben.area != 'right' && ben.field == 'trustEstateCharityOther'">
                                        <v-checkbox
                                                ref="ben.field"
                                                :label="getLabel(ben)"
                                                :placeholder="getLabel(ben)"
                                                v-model="ben.value"
                                                outlined
                                        ></v-checkbox>
                                    </v-row>
                                </template>
                                <v-row>
                                    <template v-for="(ben, i) in beneficiaryData" v-if="ben.area != 'right' && ben.type != 'checkbox'">
                                        <v-col cols="12" lg="6" md="6" sm="6" class="py-0 benForm" v-if="ben.options">
                                            <v-select
                                                    ref="ben.field"
                                                    :items="getOptions(ben)"
                                                    :label="getLabel(ben)"
                                                    :rules="getRules(ben)"
                                                    class="title font-weight-regular"
                                                    v-model="ben.value"
                                                    outlined
                                            >
                                                <template v-slot:item="{ item, index }">
                                                    <div class="title font-weight-regular">
                                                        {{item}}
                                                    </div>
                                                </template>
                                            </v-select>
                                        </v-col>
                                        <template v-else>
                                            <v-col cols="12" lg="6" md="6" sm="6" class="py-0" v-if="ben.field == 'ssn'">
                                                <v-text-field
                                                    ref="ben.field"
                                                    :label="getLabel(ben)"
                                                    class="title font-weight-regular"
                                                    :append-icon="showSS ? 'mdi-eye' : 'mdi-eye-off'"
                                                    v-model="ben.value"
                                                    @click:append="showSS = !showSS"
                                                    :type="showSS ? 'text' : 'password'"
                                                    v-mask="ben.mask"
                                                    outlined
                                                ></v-text-field>
                                            </v-col>
                                            <template v-else>
                                                <v-col cols="12" lg="6" md="6" sm="6" class="py-0" v-if="!ben.mask">
                                                    <v-text-field
                                                        ref="ben.field"
                                                        class="title font-weight-regular"
                                                        :label="getLabel(ben)"
                                                        :append-icon="ben.field == 'percent' ? '%' : null"
                                                        :rules="getRules(ben)"
                                                        v-model="ben.value"
                                                        outlined
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="6" md="6" sm="6" class="py-0" v-else>
                                                    <v-text-field
                                                        ref="ben.field"
                                                        class="title font-weight-regular"
                                                        :label="getLabel(ben)"
                                                        :append-icon="ben.field == 'percent' ? '%' : null"
                                                        :rules="getRules(ben)"
                                                        v-model="ben.value"
                                                        v-mask="ben.mask"
                                                        outlined
                                                    ></v-text-field>
                                                </v-col>
                                            </template>
                                        </template>
                                    </template>
                                </v-row>
                                <v-divider v-if="beneficiaryType == 'srt'" class="pb-8"></v-divider>
                                <v-row>
                                    <template v-for="(ben, i) in beneficiaryData" v-if="ben.area == 'right' && ben.type != 'checkbox'">
                                        <v-col cols="12" lg="6" md="6" sm="6" class="py-0 benForm" v-if="ben.options">
                                            <v-select
                                                    ref="ben.field"
                                                    :items="getOptions(ben)"
                                                    :label="getLabel(ben)"
                                                    class="title font-weight-regular"
                                                    v-model="ben.value"
                                                    outlined
                                                    :rules="getRules(ben)"
                                            >
                                                <template v-slot:item="{ item, index }">
                                                    <div class="title font-weight-regular">
                                                        {{item}}
                                                    </div>
                                                </template>
                                            </v-select>
                                        </v-col>
                                        <template v-else>
                                            <v-col cols="12" lg="6" md="6" sm="6" class="py-0" v-if="!ben.mask">
                                                <v-text-field
                                                        ref="ben.field"
                                                        class="title font-weight-regular"
                                                        :label="getLabel(ben)"
                                                        :append-icon="ben.field == 'percent' ? '%' : null"
                                                        v-model="ben.value"
                                                        outlined
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="12" lg="6" md="6" sm="6" class="py-0" v-else>
                                                <v-text-field
                                                        ref="ben.field"
                                                        class="title font-weight-regular"
                                                        :label="getLabel(ben)"
                                                        :append-icon="ben.field == 'percent' ? '%' : null"
                                                        v-model="ben.value"
                                                        v-mask="ben.mask"
                                                        :rules="getRules(ben)"
                                                        outlined
                                                ></v-text-field>
                                            </v-col>
                                        </template>
                                    </template>
                                </v-row>
                                <template v-for="(ben, i) in beneficiaryData">
                                    <v-row class="ma-0" v-if="ben.type == 'checkbox' && ben.area == 'right' && ben.field == 'foreignaddress'">
                                        <v-checkbox
                                                ref="ben.field"
                                                :label="getLabel(ben)"
                                                v-model="ben.value"
                                                outlined
                                        ></v-checkbox>
                                    </v-row>
                                </template>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        color="primary"
                                        rounded
                                        text
                                        @click="cancelForm">
                                    {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info56')}}
                                </v-btn>
                                <v-btn
                                        color="primary"
                                        rounded
                                        text
                                        v-if="showDelete"
                                        @click="deleteBen">
                                    {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info57')}}
                                </v-btn>
                                <v-btn
                                        color="primary"
                                        rounded
                                        text
                                        @click="submit"
                                        :disabled="!isFormValid">
                                    {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info58')}}
                                </v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-col>
        </v-row>
        <v-dialog
            v-model="deleteDialog"
            width="500"
        >
            <v-card>
                <v-card-title>

                </v-card-title>
                <v-card-text class="title">
                    {{this.translate('beneficiary_page', 'BEN_Info', 'Second_Guess_Delete')}}
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        rounded
                        text
                        @click="deleteDialog = false"
                    >
                        {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info56')}}
                    </v-btn>
                    <v-btn
                        color="primary"
                        rounded
                        @click="confirmDeleteBen"
                    >
                        {{this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info57')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import PathContent from "../Content/PathContent";
    import Disclaimer from "../Global/Disclaimer";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {
            StepAudioPlayer,
            PathContent,
            Disclaimer
        },
        data () {
            return {
                isFormValid: false,
                benForm: false,
                editBen: false,
                newBen: false,
                showDelete: false,
                showSS: false,
                benIndex: 0,
                sumAllocations: 0,
                sumPrimaryAllocations: 0,
                sumSecondaryAllocations: 0,
                beneficiaries: [],
                beneficiaryType: null,
                benFormType: null,
                saveCountry: "United States of America",
                states: [],
                countries: [],
                beneficiaryData: [],
                rearrangeLastName: null,
                rearrangeLastNameKey: null,
                middleInitialBool: false,
                deleteDialog: false,
                deleteItem: null,
                deleteIndex: null,
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        sortable: false,
                        value: 'name',
                    },
                    { text: 'Relationship', value: 'relationship' },
                    { text: 'Allocation', value: 'percent' },
                    { text: '', value: 'editBtn' },
                    { text: '', value: 'deleteBtn' },
                ],
                rules: {
                    required: value => !!value || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info61') + '.',
                    zipCounter: value => {
                        const pattern = /^[0-9]{5}$/
                        return pattern.test(value) || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info62')  + '.'
                    },
                    stateCounter: value => {
                        const pattern = /^[a-zA-Z]{2}$/
                        return pattern.test(value) || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info63') + '.'
                    },
                    ssn: value => {
                        const pattern = /^(?!000|666)[0-9]{3}([ -]?)(?!00)[0-9]{2}\1(?!0000)[0-9]{4}$/
                        return pattern.test(value) || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info64')  + '.'
                    },
                    primaryAllocation: value => (parseInt(value) + parseInt(this.sumPrimaryAllocations)) <= 100 || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info66')  + '.',
                    secondaryAllocation: value => (parseInt(value) + parseInt(this.sumSecondaryAllocations)) <= 100 || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info66')  + '.',
                    negative: value => value >= 0 || this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info65') + '.'
                },
            }
        },
        computed: {
            addForm () {
                return {
                    name: null,
                    address1: null,
                    address2: null,
                    zip: null,
                    city: null,
                    state: null,
                    type: null,
                    relationship: null,
                    ssn: null,
                    percent: null,
                    firstName: null,
                    lastName: null,
                    id: null,
                    dob: null,
                    middleInitial: null,
                    phone: null,
                    foreignaddress: null,
                    trustEstateCharityOther: null,
                    country: null,
                    gender: null,
                    maritalStatus: null
                }
            },
            insufficientAllocations: {
                get: function() {
                    return this.$store.state.insufficientAllocations
                },
                set: function(insufficientAllocations){
                    this.$store.state.insufficientAllocations = insufficientAllocations
                }
            },
            benRelationships: function () {
                return [this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info32'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info33'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info34'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info35'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info36'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info37'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info39'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info40')   ]
            },
            benTypes: function () {
                return [this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info42'), this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info43')]
            },
            percent: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info11')
            },
            type: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info8')
            },
            relationship: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info9')
            },
            ssn: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info10')
            },
            address1: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info70')
            },
            address2: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info71')
            },
            city: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info69')
            },
            state: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info68')
            },
            zip: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info67')
            },
            firstName: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info50')
            },
            middleInitial: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info72')
            },
            lastName: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info17')
            },
            dob: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info73')
            },
            dobPlaceholder: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info74')
            },
            phone: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info75')
            },
            foreignAddress: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info76')
            },
            charity: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info77')
            },
            country: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info78')
            },
            gender: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info18')
            },
            maritalStatus: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info22')
            },
            addBeneficiary: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info55')
            },
            beneficiaryLabel: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info79')
            },
            edit: function () {
                return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info53')
            },
        },
        methods: {
            addNewBen (type) {
                if(type == 'Primary'){
                    this.benFormType = 'Primary'
                }else{
                    this.benFormType = 'Secondary'
                }
                this.benForm = true;
                this.newBen = true
            },
            getRules(ben){
                if(ben.field == 'percent' && this.benFormType == 'Primary'){
                    return [this.rules.required, this.rules.primaryAllocation, this.rules.negative]
                }else if(ben.field == 'percent' && this.benFormType == 'Secondary'){
                    return [this.rules.required, this.rules.secondaryAllocation, this.rules.negative]
                }else if(ben.validators){
                    return [this.rules.required]
                }else{
                    return [];
                }
            },
            getOptions(ben){
                let options = [];
                if(ben.options){
                    Object.keys(ben.options).forEach(key => {
                        options.push(ben.options[key].translation)
                    });
                }
                return options;
            },
            getLabel(ben){
                if(ben.validators){
                    var suffix = ben.validators.indexOf("required") != -1 ? '*' : '';
                }else{
                    var suffix = ''
                }
                switch(ben.field){
                    case 'percent':
                        return this.percent + suffix;
                    case 'name':
                        return this.firstName + suffix;
                    case 'address1':
                        return this.address1 + suffix;
                    case 'address2':
                        return this.address2 + suffix;
                    case 'zip':
                        return this.zip + suffix;
                    case 'city':
                        return this.city + suffix;
                    case 'state':
                        return this.state + suffix;
                    case 'type':
                        return this.type + suffix;
                    case 'relationship':
                        return this.relationship + suffix;
                    case 'ssn':
                        return this.ssn + suffix;
                    case 'firstName':
                        return this.firstName + suffix;
                    case 'lastName':
                        return this.lastName + suffix;
                    case 'middleInitial':
                        return this.middleInitial + suffix;
                    case 'dob':
                        return this.dob + suffix;
                    case 'phone':
                        return this.phone + suffix;
                    case 'country':
                        return this.country + suffix;
                    case 'foreignaddress':
                        return this.foreignAddress + suffix;
                    case 'trustEstateCharityOther':
                        return this.charity + suffix;
                    case 'gender':
                        return this.gender + suffix;
                    case 'maritalStatus':
                        return this.maritalStatus + suffix;
                    default:
                        return null
                }
            },
            editBenForm(ben, i){
                Object.keys(this.beneficiaryData).forEach(key => {
                    this.beneficiaryData[key].value = ben[this.beneficiaryData[key].field]
                });

                this.addForm.id = ben.id;

                if(ben.type == 'Primary'){
                    this.sumPrimaryAllocations = parseInt(this.sumPrimaryAllocations) - parseInt(ben.percent);
                    this.benFormType = 'Primary'
                }else{
                    this.sumSecondaryAllocations = parseInt(this.sumSecondaryAllocations) - parseInt(ben.percent);
                    this.benFormType = 'Secondary'
                }

                if(ben.relationship == this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info32')){
                    this.saveIsSpouse = true
                }else{
                    this.saveIsSpouse = false
                }

                this.benIndex = i;
                this.benForm = true;
                this.editBen = true;
                this.showDelete = true;
            },
            submit () {
                Object.keys(this.beneficiaryData).forEach(key => {
                    this.addForm[this.beneficiaryData[key].field] = this.beneficiaryData[key].value
                });
                this.benForm = false;

                this.addForm.type = this.benFormType;

                if(this.addForm.firstName && this.addForm.lastName){
                    this.addForm.name = this.addForm.firstName + ' ' + this.addForm.lastName;
                }

                // add new ben
                if(this.newBen){
                    this.saveId = null;
                    this.$store.dispatch('saveBeneficiaries', this.addForm).then(() => {
                            this.callGetBeneficiaries()
                        }
                    )
                }
                // edit current ben
                if(this.editBen){
                    if(this.addForm.type == 'Primary'){
                        this.sumPrimaryAllocations = parseInt(this.sumPrimaryAllocations) + parseInt(this.addForm.percent)
                    }else{
                        this.sumSecondaryAllocations = parseInt(this.sumSecondaryAllocations) + parseInt(this.addForm.percent)
                    }

                    this.$store.dispatch('saveBeneficiaries', this.addForm).then(() => {
                            this.callGetBeneficiaries()
                        }
                    )
                }
                this.benFormType = null
            },
            resetValidation () {
                this.$refs.addForm.resetValidation()
            },
            resetValues () {
                this.showDelete = false;
                this.benForm = false;
                this.editBen = false;
                this.newBen = false;
                this.benIndex = 0;
                this.clearSave();
                this.sumPrimaryAllocations = this.getSumPrimaryAllocations();
                this.sumSecondaryAllocations = this.getSumSecondaryAllocations();
                this.updateAllocations();
                this.resetValidation()
            },
            getSumPrimaryAllocations () {
                let sum = 0;
                for(let n of this.beneficiaries.filter(ben => ben.type === 'Primary')){
                    if(n.percent){
                        sum += parseInt(n.percent)
                    }
                }
                return sum
            },
            getSumSecondaryAllocations () {
                let sum = 0;
                for(let n of this.beneficiaries.filter(ben => ben.type === 'Secondary')){
                    if(n.percent){
                        sum += parseInt(n.percent)
                    }
                }
                return sum
            },
            updateAllocations () {
                if((this.sumPrimaryAllocations == 100 || this.sumPrimaryAllocations == 0) && (this.sumSecondaryAllocations == 100 || this.sumSecondaryAllocations == 0)) {
                    this.insufficientAllocations = false
                }else{
                    this.insufficientAllocations = true
                }
                this.$store.commit('GET_INSUFFICIENT_ALLOCATIONS', this.insufficientAllocations)
            },
            deleteBen (item) {
                this.benForm = false;
                this.editBen = false;
                this.showDelete = false;
                this.deleteDialog = true;
                this.deleteItem = item;
            },
            confirmDeleteBen(){
                Object.keys(this.deleteItem).forEach(key => {
                    this.addForm[key] = this.deleteItem[key]
                });

                this.$store.dispatch('deleteBeneficiaries', this.addForm).then(() => {
                    this.callGetBeneficiaries()
                })
            },
            callGetBeneficiaries () {
                this.$store.dispatch('getBeneficiaries').then(() => {
                    this.beneficiaries = [];
                    this.beneficiaryType = '';
                    Object.keys(this.$store.state.beneficiaries.beneficiaryList).forEach(key => {
                        this.beneficiaries.push(this.$store.state.beneficiaries.beneficiaryList[key])
                    });
                    this.beneficiaryType = this.$store.state.beneficiaries.beneficiary.type;
                    this.resetValues();
                    this.deleteDialog = false;
                })
            },
            clearSave () {
                for(let n of this.beneficiaryData){
                    n.value = null
                }
                this.addForm.id = null
            },
            cancelForm () {
                this.benForm = false;
                this.resetValues()
                this.resetValidation()
            }
        },
        mounted () {
            this.$store.dispatch('getBeneficiaries').then(() => {
                if(this.$store.state.beneficiaries.beneficiaryList) {
                    Object.keys(this.$store.state.beneficiaries.beneficiaryList).forEach(key => {
                        this.beneficiaries.push(this.$store.state.beneficiaries.beneficiaryList[key])
                    });
                    this.sumPrimaryAllocations = this.getSumPrimaryAllocations();
                    this.sumSecondaryAllocations = this.getSumSecondaryAllocations();
                }

                this.beneficiaryType = this.$store.state.beneficiaries.beneficiary.type;
                if(this.$store.state.beneficiaries.beneficiary.beneficiaryData.state){
                    Object.keys(this.$store.state.beneficiaries.beneficiary.beneficiaryData.state.options).forEach(key => {
                        this.states.push(this.$store.state.beneficiaries.beneficiary.beneficiaryData.state.options[key].translation)
                    });
                }
                if(this.$store.state.beneficiaries.beneficiary.beneficiaryData.country){
                    Object.keys(this.$store.state.beneficiaries.beneficiary.beneficiaryData.country.options).forEach(key => {
                        this.countries.push(this.$store.state.beneficiaries.beneficiary.beneficiaryData.country.options[key].translation)
                    });
                }
                if(this.$store.state.beneficiaries.beneficiary.beneficiaryData){
                    Object.keys(this.$store.state.beneficiaries.beneficiary.beneficiaryData).forEach(key => {
                        this.beneficiaryData.push(this.$store.state.beneficiaries.beneficiary.beneficiaryData[key])
                    });
                }
                if(this.beneficiaryData){
                    Object.keys(this.beneficiaryData).forEach(key => {
                        if(this.beneficiaryData[key].field == 'lastName'){
                            this.rearrangeLastName = this.beneficiaryData[key]
                            this.rearrangeLastNameKey = key
                        }
                        if(this.beneficiaryData[key].field == 'middleInitial'){
                            this.middleInitialBool = true
                        }
                    });

                    if(this.rearrangeLastName){
                        this.rearrangeLastName = this.beneficiaryData[this.rearrangeLastNameKey]
                        this.beneficiaryData.splice(this.rearrangeLastNameKey, 1);
                        Object.keys(this.beneficiaryData).forEach(key => {
                            if(this.beneficiaryData[key].field == 'firstName' && !this.middleInitialBool){
                                let newKey = key + 1;
                                this.beneficiaryData.splice(newKey, 0, this.rearrangeLastName)
                            }else if(this.beneficiaryData[key].field == 'middleInitial'){
                                let newKey = key + 1;
                                this.beneficiaryData.splice(newKey, 0, this.rearrangeLastName)
                            }
                        });
                    }
                }
                this.updateAllocations()
            });

        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .border-row{
        border-bottom: 3px solid black;
        border-radius: 0;
    }
    .addEditBen ::v-deep .v-data-table  .v-data-table__mobile-table-row .v-data-table__mobile-row:nth-child(4), .addEditBen ::v-deep .v-data-table  .v-data-table__mobile-table-row .v-data-table__mobile-row:nth-child(5){
        width:50%
    }
    .addEditBen ::v-deep .v-data-table  .v-data-table__mobile-table-row .v-data-table__mobile-row:nth-child(5){
        float: right;
        margin-top: -48px;
    }
    .addEditBen ::v-deep .v-data-table  .v-data-table__mobile-table-row .v-data-table__mobile-row:nth-child(4){
        border-bottom: thin solid rgba(0,0,0,.12);
        justify-content: flex-start;
    }
    .addEditBen ::v-deep .v-data-table-header-mobile{
        display: none!important
    }
    .addEditBen ::v-deep .v-data-table th{
        border-bottom: 3px solid black!important;
    }
    .addEditBen ::v-deep .v-data-table td, .addEditBen ::v-deep .v-data-table th{
        font-size: 1rem!important
    }
    .addEditBen ::v-deep .v-text-field__details{
        display: none
    }
    .addEditBen ::v-deep .v-btn--disabled .v-btn__content{
        color: var(--v-secondary-lighten2)
    }
    .benForm ::v-deep .v-select__selections {
        line-height: 22px;
    }
    .ssn-row ::v-deep .v-icon{
        font-size: 13px
    }
    .dialog-header {
        height: 40px
    }
    @media only screen and (max-width: 960px) {
        .col-xs-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .bottom-bar{
            margin-right: -12px !important;
            margin-left: -12px !important;
        }
        .form-col{
            padding-left:12px!important;
            padding-right:12px!important;
        }
    }
    @media only screen and (max-width: 599px) {
        .sm-right{
            text-align: right;
            justify-content: flex-end!important;
        }
        .addEditBen ::v-deep .v-data-table td{
            padding:0!important
        }
        .mobile-reverse-row{
            flex-direction: column-reverse;
        }
        .mobile-center{
            text-align: center;
            justify-content: center;
        }
        .mobile-padding-fix{
            padding-top:0!important
        }

    }
    @media only screen and (max-width: 349px) {
        .addBtn{
            letter-spacing: 0!important
        }
    }
</style>