{% for printmaterial in items %}
{% if loop.index > 1 %},{% endif %}
[{{ printmaterial.id }},"<a href = \"{{ printmaterial.link }}\" download = \"{{ printmaterial.link }}\">{{ printmaterial.name }}</a>"]
{% endfor %}

