{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Funds Groups'})) }}
<button class ="btn btn-info" onclick ="ajaxModal('{{path('_manage_funds_groups_add_group') }}','Add Group')">Add Group</button> <button class ="btn btn-primary" onclick ="ajaxModal('{{path('_manage_funds_groups_reorder_group') }}','Reorder Group','large')">Reorder Group</button> <br/><br/>
{% set table = "FundsGroups" %}
{% set tablename = "fundsGroups" %}
{% set header = "<th>Id</th><th>Name</th><th>Tag</th><th>Orderid</th><th>Actions</th>" %}
{% set types = "a.id,a.name,a.tag,a.orderid" %}
{% set findby = "a.deleted" %}
{% set findbyvalues = "0" %}
{% set unsearchableArray = [4] %}
{% set order = '"order": [[ 3, "asc" ]]' %}
{% set template = "ManageManageBundle:FundsGroups:Search/grouplist.html.twig" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function reloadFundsGroupsList()
{
    fundsGroupsTable.fnDraw(false);
    closeLightBox();
} 
function reloadValueList(groupid)
{
    var params = { id: groupid };
    var page = "{{ path('_manage_funds_groups_list_reloadlist') }}";
    $.get(page, params).done(function(html) 
    {
        $("#groupList").html(html);
    });    
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}