<form id ="fundsGroupAddValue" >
    <strong>Add Value</strong>
    <input type ="text" name ="value" class ="form-control" required />
    <input type ="hidden" name ="groupid" value ="{{ app.request.query.get("id") }}" class ="form-control" />
    <br/>
    <button class ="btn btn-info" type ="submit" >Add</button>
</form>
<div id ="groupList">
    {{ include ("ManageManageBundle:FundsGroups:valuelist.html.twig") }}
</div>
<script>
$( "#fundsGroupAddValue" ).submit(function( event )
{
    event.preventDefault();   
    var querystring = $(this).serialize();
    var page = "{{ path('_manage_funds_groups_list_add') }}";
    $.post(page, querystring).done(function(data) 
    {
        $("#fundsGroupAddValue").find("[name=value]").val("");
        reloadValueList({{ app.request.query.get("id") }});
    });
});    
</script>   
