<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Performance Report</title>

    {% block stylesheets %}
        <link href="{{ baseurl }}css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ baseurl }}css/metisMenu.min.css" rel="stylesheet" />
        <link href="{{ baseurl }}css/sb-admin-2.css" rel="stylesheet" />
        <link href="{{ baseurl }}css/reports.css" rel="stylesheet" />
        <link href="{{ baseurl }}css/normalize.css" rel="stylesheet" />


        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    {% endblock %}




    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="http://vwise.com/assets/images/vwise_img/vwise_flavi.png">
    <link rel="icon" href="http://vwise.com/assets/images/vwise_img/vwise_flavi.png" type="image/x-icon">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">

    {%  if isPdf == false %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand">Interactive Performance Report</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-download fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li><a id="download-csv" href="#"> Download CSV</a>
                    </li>
                    <li><a id="download-pdf" href="#"> Download PDF</a>
                    </li>
                </ul>
                <!-- /.dropdown-download -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->


    </nav>
    {% endif %}
    <div id="page-wrapper">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-12 header">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="main">{% if logo_url is defined %}<img src="{{ logo_url }}" width="100">{%  endif %}</div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="main">Performance Report</div>
                    </div>
                    <div class="col-lg-3 col-md-3 text-right">
                        <div class="huge"><img src="{{ baseurl }}img/powered-by-vwise.png" width="100" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="sub">{% if provider_name != 'All' %}{{ provider_name }} {% else %}All Providers{% endif %}</div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="sub" id="plan-name">{% if plan_name != 'All' %}{{ plan_name }} {% else %}All Plans{% endif %}</div>
                    </div>
                    <div class="col-lg-3 col-md-3 text-right">
                        <div class="sub"><b>Date Range:</b>  {{ start_date }} - {{ end_date }}</div>
                    </div>
               </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row">
            <!-- PLANS -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading upper centered">
                        Plans in Date Range
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="sublabel">All</div>
                                <div class="data" id="num-plans"><i class="fa fa-list-alt fa-1x icon-margin" style="color: #1a6d9f;"></i>{{ num_plans }}</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="sublabel">With Activity</div>
                                <div class="data" id="plans-with-activity"><i class="fa fa-list-alt fa-1x icon-margin" style="color: #1a6d9f;"></i>{{ plans_with_activity }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- UNIQUE USER COMPLETE SMARTPLAN -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading upper centered">
                        Unique Users That Completed SmartPlan
                    </div>

                    <div class="panel-footer centered">
                        <div class="data" id="unique-users-smartplan"><i class="fa fa-flag-checkered fa-1x icon-margin" style="color: #1a6d9f;"></i> {{ unique_users_smartplan }}</div>
                    </div>

                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <!-- NEW ENROLLEES -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading upper centered">
                        New Enrollees
                    </div>

                    <div class="panel-footer centered">
                        <div class="data" id="new-enrollees"><i class="fa fa-male fa-1x icon-margin" style="color: #1a6d9f;"></i><i class="fa fa-female fa-1x icon-margin" style="color: #1a6d9f;"></i>{{ new_enrollees }}</div>
                    </div>

                </div>
            </div>
            <!-- AVG DEFERRAL NEW ENROLLEES -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading upper centered" >
                        Avg Deferral New Enrollees
                    </div>

                    <div class="panel-footer centered">
                        <div id="avg-deferral-new-enrollees" class="data">{{ avg_deferral_new_enrollees }}%</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <!-- AVG BALANCES -->
            <div class="col-lg-5 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading upper centered" >
                        Average Balances
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="sublabel">Salary</div>
                                <div class="data" id="avg-salary">${{ avg_salary }}</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="sublabel">Accounts</div>
                                <div class="data" id="avg-account"> ${{ avg_account }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- EXISTING PARTICIPANT AVG DEFERRAL RATE -->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-lightblue">
                    <div class="panel-heading upper centered" >
                        Existing Participant Avg Deferral Rate
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="sublabel">Entering</div>
                                <div class="data" id="entering-deferral-rate">{{ entering_deferral_rate }}%</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="sublabel">Exiting</div>
                                <div class="data" id="exiting-deferral-rate">{{ exiting_deferral_rate }}%</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- AVG DELTA ENTER VS EXIT SMARTPLAN -->
            <div class="col-lg-3 col-md-12">
                <div class="panel panel-lightblue">
                    <div class="panel-heading upper centered" >
                        Avg Delta Entering Vs Exiting SmartPlan
                    </div>

                    <div class="panel-footer centered">
                        <div class="data" id="delta-entering-vs-exiting">{{ delta_entering_vs_exiting }}%</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <!-- INVESTMENT TYPE % PARTICIPANT SELECT -->
            <div class="col-lg-7 col-md-12">
                <div class="panel panel-grey">
                    <div class="panel-heading upper centered" >
                        Investment type % of Participants Selecting
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel" style="color:#7d6794 !important; border: solid 1px  #7d6794 !important; letter-spacing: 1px; font-size:13px">Advice</div>
                                <div class="data" id="advice">{{ advice }}%</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel" style="color:#fba017 !important; border: solid 1px  #fba017 !important; letter-spacing: 1px; font-size:13px">Custom</div>
                                <div class="data" id="custom">{{ custom }}%</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel" style="color:#54c0c7 !important; border: solid 1px  #54c0c7 !important; letter-spacing: 1px; font-size:13px;">Default</div>
                                <div class="data" id="default">{{ default }}%</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel" style="color:#217fb7 !important; border: solid 1px  #217fb7 !important; letter-spacing: 1px; font-size:13px;">Risk</div>
                                <div class="data" id="risk">{{ risk }}%</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel" style="color:#24ae4b !important; border: solid 1px  #24ae4b !important; letter-spacing: 1px; font-size:13px;">Target</div>
                                <div class="data" id="target">{{ target }}%</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {% if isPdf %}
                                <div class="chart-container" style="width: 800px; height:286px">
                                    <canvas id="doughnutchart" width="800" height="286"></canvas>
                                {% else %}
                                <div class="chart-container">
                                    <canvas id="doughnutchart" width="400" height="143"></canvas>
                                {%  endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12">

                <!-- USERS OUTSIDE ASSETS -->
                <div class="panel panel-green">
                    <div class="panel-heading upper centered" >
                        Users with Outside Assets
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="sublabel">Users w/ IRA</div>
                                <div class="data" id="users-ira">{{ users_ira_percent }}%</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="sublabel">Users W/ former retirement plans</div>
                                <div class="data" id="users-former-plan">{{ users_former_plan_percent }}%</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="sublabel" style="margin-top:2px !important;">Total Outside Assets</div>
                                <div class="data" id="total-outside-assets">${{ total_outside_assets }}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- % USER TRANSACTION BETWEEN TIME -->
                <div class="panel panel-yellow">
                    <div class="panel-heading upper centered" >
                        % of Users Who Transacted Between
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="sublabel">12AM - 8AM</div>
                                <div class="data" id="12-8-transacted">{{ transacted_12_8 }}%</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="sublabel">8AM - 4PM</div>
                                <div class="data" id="8-4-transacted">{{ transacted_8_4 }}%</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="sublabel">4PM - 11:59PM</div>
                                <div class="data" id="4-1159-transacted">{{ transacted_4_1159 }}%</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {% if isPdf %}
                                <div class="chart-container" style="width: 600px; height:100px">
                                    <canvas id="linechart"  width="600" height="100"></canvas>
                                {% else %}
                                <div class="chart-container">
                                    <canvas id="linechart"  width="600" height="100"></canvas>
                                {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->



        <!-- /.row -->
        <div class="row">
            <!-- # PARTICIPANTS COMPLETE STEPS -->
            <div class="col-lg-9 col-md-9">
                <div class="panel panel-purple">
                    <div class="panel-heading upper centered" >
                        Number of Participants Completed Steps
                    </div>

                    <div class="panel-footer centered">
                        <div class="row">
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel">Plan Basics</div>
                                <div class="data" id="plan-basics">{{ plan_basics }}</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel">Retirement Needs</div>
                                <div class="data" id="retirement-needs">{{ retirement_needs }}</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel">Risk Profile</div>
                                <div class="data" id="risk-profile">{{ risk_profile }}</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel">Investments</div>
                                <div class="data" id="investments">{{ investments }}</div>
                            </div>
                            <div class="col-md-5ths col-xs-12">
                                <div class="sublabel">Contributions</div>
                                <div class="data" id="contributions">{{ contributions }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- TOP BROWSER USED -->
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading upper centered">
                        Top Browser Used by Participant
                    </div>

                    <div class="panel-footer centered">
                        <div class="data" id="top-browser">{{ top_browser }}</div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.row -->



        <!-- /.row -->
        <div class="row">

            <!-- FOOTER -->
            <div class="col-lg-12 col-md-12">
                <div class="footer">
                    &copy; <script> document.write(new Date().getFullYear());</script> vWise, Inc. All Rights Reserved.
                </div>
            </div>

        </div>
        <!-- /.row -->


    </div>

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
{% block javascripts %}
    <script src="{{ baseurl }}js/jquery.min.js"></script>
    <script src="{{ baseurl }}js/metisMenu.min.js"></script>
    <script src="{{ baseurl }}js/bootstrap.min.js"></script>
    <script src="{{ baseurl }}js/sb-admin-2.js"></script>
    <script src="{{ baseurl }}js/chart.min.js"></script>
    <script src="{{ baseurl }}js/main.js"></script>
{% endblock %}

</body>

</html>

