{% set audioFile =  'investments_0600bNI' | trans ({}, 'audio') %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<div class="title">{{ 'investment_selector' | trans ({}, 'investments') }} {% include"SpeAppBundle:Template:investments/general/displayinvestmentsection.html.twig" %}</div>
<div class="details investments">
    <div class="block left">
        {% for portfolio in portfolios %}
        <div style ="color:#333;padding-bottom:5px">

            <input type ="radio" name ="portfolioFund" {% if portfolio.checked %}checked{% endif %} value ="{{ portfolio.id }}"   /> <span onclick ="$('#funds{{portfolio.id}}').toggle()" style ="cursor:pointer">{{ portfolio.name  }}</span>

            <div id ="funds{{ portfolio.id}}" style ="display:none;font-size:12px;color:#555;padding-top:5px">
                {% for fund in portfolio.funds %}
                <span style ="padding-right:3%">{{ fund.percent }} %</span> {{ fund.name }}<br/>
                {% endfor %}    
            </div>    
        </div>
        {% endfor %}            
    </div>  
    <div class="block right">
            <div class="desc2">{{ 'risk_desc' | trans ({}, 'investments') }}</div>
            <div class="portfolio-name">{{ recommendedPortfolioName}}</div>
        </div>
        <div class="clear"></div>
</div> 

<div class="actions">
    <a class="actionBtn left"><span class="center action-button" onclick ="$('body').trigger('spe:router:redirect','investments');">{{ 'back' | trans ({}, 'global') }}</span></a>
    <a class="actionBtn right"><span class="center action-button" onclick ="selectPortfolioProceed()">{{ 'proceed'| trans ({}, 'global') }}</span></a>
    <div class="clearfix"></div>
</div>

<script>
var portfolios = new Array();
{% for portfolio in portfolios %}
var portfolio = new Object();
portfolio.id = "{{ portfolio.id }}";
portfolio.name = "{{ portfolio.name }}";
portfolio.funds = new Array();
{% for fund in portfolio.funds %}
var fund = new Object();
fund.percent = {{ fund.percent }};
fund.id = "{{ fund.id2 }}";
portfolio.funds.push(fund);
{% endfor %}
portfolios.push(portfolio);
{% endfor %}
function selectPortfolioProceed()
{    
    var savedInvestments = new Array();
    var portfolioid = $("[name=portfolioFund]:checked").val();
    $.each(portfolios, function( key, portfolio ) 
    {
         if (portfolio.id == portfolioid)
         {
            $.each(portfolio.funds, function( key, fund ) 
            {  
                savedInvestments.push(fund);
            });   
            window.EventTracking.selectedPortfolio(portfolio.id, portfolio.name);
         }
    });
    $.post("/investments/confirm",{"funds": savedInvestments,"portfolioid":portfolioid}, function(html)
    {
        $("#investmentsContainer").html(html);
    }); 
}
_gaq.push(['_trackEvent', 'Investments', 'Proceed', 'Risk Based Portfolio']);
$('body').trigger('spe:disclosure:show', { title: 'portfolioSelector'});
</script>