
<table class="table">
	<tr class="active">
		<td>
			Display Name
		</td>
	</tr>
	<tr>
		<td>
			{{ group.name }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deletegroup({{ group.id }})">Delete</button>
		</td>
	</tr>
</table>