{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Groups'})) }}
<a href = "{{ path('_manage_plans_messagingPanes') }}">Return to Messaging Panes</a>
<br><br>
<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_plans_messagingPanes_groups_addgroup') }}','Add Group')">Add Group</button>
<button class ="btn btn-primary" onclick ="ajaxModal('{{path('_manage_plans_messagingPanes_reordergroups') }}','Reorder Groups','large')">Reorder Groups</button>
</br></br>

{% set table = "messagesPanesGroups" %}
{% set tablename = "messagesPanesGroups" %}
{% set template = "ManageManageBundle:Messaging:Search/groupslist.html.twig" %}
{% set header = "<th>Id</td><td>Name</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.name" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

{{ include('ManageManageBundle:Messaging:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}