The following contacts have invalid email addresses that need to be fixed:<br><br>
{% for partnerid, plans in invalidEmails %}
    {% for planid, emails in plans %}
        <strong>Partner ID: {{ partnerid }}, Plan ID: {{ planid }}</strong><br>
        {% for email in emails %}
            {{ email }}<br>
        {% endfor %}
        <br>
    {% endfor %}
{% endfor %}
