The following plans have errors that need to be fixed:<br><br>
{% for partnerid, plans in invalidPlans %}
    <strong>{{ partnerid }}:</strong><br>
    {% for planid, errors in plans %}
        {{ planid }} - {{ errors|keys|join(', ') }}<br>
    {% endfor %}
    <br>
{% endfor %}