{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
<table width = "800" align = "center" bgcolor = "white">
<tr>


<td border = "0" width = "800">

<table style = "border-color:#008080;border-width:5px;border-style:solid;padding-left:3px;padding-right:3px;">
<tr>
<td>
<table width = "100%">
<tr>
<td align = "left">
{{ leftImage | raw }}</td><td align = "right">
{{ rightImage | raw }}</td>
</tr>
</table>
<br/><br/><br/><br/>
<b>
Congratulations! You are eligible to participate in your company's 401(k) Plan!</b>
<br/>
<br/><br/>


Did you know that a retirement plan can be one of the best tools available to help you save for your financial future? Here are some of the reasons why:


<br/><br/>
<br/>

<div style = "margin-left:50px">

<table  width = "700" align = "center">
<tr>
<td width = "20">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_dot.png" height = "8" /></td><td><b>Matching Contribution <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_arrow_right.png" height = "15" /></b> Your Company may offer a match.  Visit Alliance Benefit Group to learn more.

</td>
</tr>

<tr>
<td width = "20">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_dot.png" height = "8" /></td><td><b>Tax Advantage <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_arrow_right.png" height = "15" /></b> Contributions are taken out of your pay before federal income taxes are applied; therefore your paycheck is reduced by only a portion of the amount that is being contributed to your retirement plan.
</td>
</tr>

<tr>
<td width = "20">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_dot.png" height = "8" /></td><td><b>Time is on Your Side <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_arrow_right.png" height = "15" /></b> Your money is making money!
</td>
</tr>

<tr>
<td width = "20">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_dot.png" height = "8" /></td><td><b>You're in Control <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_arrow_right.png" height = "15" /></b> You can contribute as much or as little as you want (subject to IRS limits) to your account.  Plus, you have the flexibility to change your contribution levels any time.

</td>
</tr>

<tr>
<td width = "20">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_dot.png" height = "8" /></td><td><b>You Can Take it With You <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_arrow_right.png" height = "15" /></b>  Even if you leave your job, your contributions and earnings belong to you. 


</td></tr></table></div>
<br/>
<br/>
Want to learn more and sign up now? Click below to see what Alliance Benefit Group and our SmartPlan tool can do for you...
<br/>
<br/>
<a href = "{{ link }}">
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/abg_michigan_to_provider_footer.png" width = "800" border = "0"/>
</a>

</td></tr></table>

</td>

</table>

{% endblock %}