{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
{% set baselink = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/gps_" %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' />
<style type="text/css" media="screen">
	/* Linked Styles */
	body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#ebebeb; -webkit-text-size-adjust:none }
	a { color:#007581; text-decoration:none }
	p { padding:0 !important; margin:0 !important }
	[style*="Roboto"] { font-family: 'Roboto', Arial, sans-serif !important }
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">

		<tr>
			<td align="center" valign="top">
				<table width="644" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
			
					<tr>

						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
						<td class="td" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
							<!-- Header -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">

								<tr>
									<td class="td" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
												<td bgcolor="#ffffff">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
														<tr>
															<td height="106">
																<table width = "100%">
																	<tr>
																		<td align = "left">{{ leftImage | raw}}</td>
																		<td align = "right">{{ rightImage | raw }}</td>
																	</tr>
																<!-- Header -->
																<!-- Text -->
																<!-- Header -->
															</td>
														</tr>
													</table>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- END Header -->
							<!-- Main -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="td" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
												<td bgcolor="#ffffff">
													<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><a href="{{link}}" target="_blank"><img src="{{baselink}}video_image.jpg" border="0" width="600" height="355" alt="" /></a></div>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="22" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
											</tr>
										</table>
										
										<!-- Green box -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#007581">
											<tr>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#007581"></td>
															<td>
																<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="27" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																<div class="h2" style="color:#ffffff; font-family:Arial, sans-serif, 'Roboto'; font-size:48px; line-height:52px; text-align:center">Are You <strong>Ready?</strong></div>
																<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#007581"></td>
														</tr>
													</table>
													<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><a href="{{link}}" target="_blank"><img src="{{baselink}}green_box_bottom.jpg" border="0" width="624" height="7" alt="" /></a></div>
												</td>
											</tr>
										</table>
										<!-- END Green box -->
										
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
											<tr>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>


													<div class="text-center" style="color:#007581; font-family:Arial, sans-serif, 'Roboto'; font-size:20px; line-height:24px; text-align:center"><a href="{{link}}" target="_blank" class="link-u" style="color:#007581; text-decoration:underline"><span class="link-u" style="color:#007581; text-decoration:underline">Click to watch</span></a></div>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>


													<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="{{link}}" target="_blank"><img src="{{baselink}}button_my_plan.jpg" border="0" width="323" height="93" alt="" /></a></div>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>


													<div class="text-footer" style="color:#000000; font-family:Arial; font-size:10px; line-height:15px; text-align:center">
														<a href="{{link}}" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Lincoln Financial Group is the marketing name for Lincoln National Corporation and its affiliates. <br />Affiliates are separately responsible for their own financial and contractual obligations. <br />LCN-1282966-082615</span></a>
													</div>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12" bgcolor="#ebebeb"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- END Main -->
						</td>
						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}