{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor = "#D8D8D8" >

  <tr>
  <td bgcolor = "#D8D8D8">
  </td>
  <td width = "816" bgcolor = "white"  >

  <table width = "816" >
  <tr>

  <td width = "110">
 
  </td>

  <td width = "646">
  <table width = "646">
  <tr>
  <td width = "250" align = "left">
 {{ leftImage  | raw }}  </td>
  <td>


  </td>
  <td width = "200" align = "right">
 {{ rightImage | raw }}
  </td>
  </tr>
  </table>
 <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_hr.png" height = "4" width = "646" />

 <div  ><img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" width = "646" height = "6" /><span style = "font-size:40px">Time to Rebalance your 401(k)?</span><img src = "https://1a067b0170b698469076-e33c76b85850e19bb176e4388aaf05f0.ssl.cf1.rackcdn.com/alpha.png" width = "646" height = "8" /></div>
  <a href = "{{ link }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_ipad.jpg" width = "646" /></a>

  <table width = "646">
  <tr>
  <td width = "381">
<br/>
  <b style = "font-size:18px">Your Portfolio  is invested in individual funds.</b><br/><br/>
 Over the course of the year, the market value of each
fund in your portfolio earned a different return, resulting in
a weighting change, and requiring your portfolio to be
rebalanced.
<br/><br/>
Portfolio rebalancing is like a tune-up. It allows you to
keep your portfolio performing while keeping your risk
level in check.
<br/><br/>
Log in and Launch SmartPlan to learn about the options
in your Alliance Benefit Group retirement plan.
  </td>

  <td width = "10">
  </td>

  <td width = "255">

  <img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_magnifiy.jpg" width = "255" border = "0" />

  </td>
  </tr>
  </table>
  <br/>
<table >
<tr>
<td>
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_footer0.png"  />
<a href="{{ link }}">

<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_footer1.jpg" border = "0" />
</a>
</td>
<td width = "30">
</td>
<td>
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/rebalance_footer2.png" />
</td>

</tr>
</table>
  <br/><br/>
  </td>

  <td width = "60" >

  </td>


  </tr>

  </table>


  </td>
  <td bgcolor = "#D8D8D8">
  </td>
  </tr>
</table>
{% endblock %}