{% if writeable is not defined %}
{% set writeable = true %}
{% endif %}
{% for document in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ document.id }},

	"{{ document.name }}",
	"{{ document.url }}",
	"{% if document.dateAdded|date(null) !="November 30, -0001 00:00" %}{{ document.dateAdded|date("Y-m-d") }}{% endif %}"
	{% if writeable %},

	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"ajaxModal('{{ path(editDocumentUrl, {'id':document.id } ) }}','Edit Document','medium')\"></span><a href = \"javascript:ajaxModal('{{ path(deleteDocumentUrl, {'id':document.id } ) |url_encode }}','Delete Document','medium')\" ><span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\"><span class=\"glyphicon glyphicon-remove-circle\"></span></span></a>"{% endif %}
]
{% endfor %}


