
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table style="width:60%; margin:0px auto; text-align: center; background-color:#e0e0e0; border:none">
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
                <td style="width:50%;background-color:#f3f3f3; text-align: left; padding-top:10px; padding-bottom: 10px; padding-left:10px; padding-right:0px; margin:0px;">
                    <img src="https://e3759e891f47efb8b398-fcd13aa79ae68ffb6effd516e0c9e05c.ssl.cf1.rackcdn.com/header2.png"></td>  
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td>  
                <td style="width:50%; margin:0px; padding:0px">
                    <a href = "https://{{ app.request.host }}{{ path('_manage_outreach_winacar') }}"><img src="https://e3759e891f47efb8b398-fcd13aa79ae68ffb6effd516e0c9e05c.ssl.cf1.rackcdn.com/vidskin2.png" style="width:100%;"></a></td>  
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
                <td style="background-color:#f3f3f3; width:50%; margin:0px; padding:0px; height:100px;">
                    &nbsp;
                </td>  
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
        </table>
    </body>
</html>