{{ include ('PlansPlansBundle:Outreach:Videoplayer/header.html.twig') }}  

        <table style="width:60%; margin:0px auto; text-align: center; background-color:#e0e0e0;">
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
                <td style="width:50%;background-color:#f3f3f3; text-align: left; padding-top:10px; padding-bottom: 10px; padding-left:10px; padding-right:0px; margin:0px;">
                    <img src="https://e3759e891f47efb8b398-fcd13aa79ae68ffb6effd516e0c9e05c.ssl.cf1.rackcdn.com/header1.png"></td>  
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td>  
                <td style="width:50%; margin:0px; padding:0px">
                    {% set mp4url = "https://d6e9d0ee34661f2dd8b1-da208b1de91bed31901fae0f24155664.ssl.cf1.rackcdn.com/9250_VWS_062615.mp4" %}
                    {% set webmurl = "https://d6e9d0ee34661f2dd8b1-da208b1de91bed31901fae0f24155664.ssl.cf1.rackcdn.com/9250_VWS_062515.webm" %} 
                    {{ include ('PlansPlansBundle:Outreach:Videoplayer/videoplayer.html.twig') }}  
                </td>   
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
            <tr>
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
                <td style="background-color:#f3f3f3; width:50%; margin:0px; padding:0px;">
                    <img src="https://e3759e891f47efb8b398-fcd13aa79ae68ffb6effd516e0c9e05c.ssl.cf1.rackcdn.com/cropone1.png">
                </td>  
                <td style="width: 20%; margin:0px; padding:0px;">&nbsp;</td> 
            </tr>
        </table>
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{{ include ('PlansPlansBundle:Outreach:Videoplayer/footer.html.twig') }}