{% set deletePortfolioUrl = "_plans_investments_portfolio_delete" %}

{% extends 'SharedInvestmentsBundle:Default:search/portfoliolist.html.twig' %}

{% block portfoliotable %}plansPortfolios{% endblock %}

{% block setfunds %}{{ path('_plans_investments_portfolio_setfunds') }}{% endblock %}

