<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Ticker</th>
		<th>Video</th>
		<th colspan = "2">Url</th>
	</tr>
 {% for fund in items %}
 	<tr>
 		<td>{{ fund.name }}</td>
 		<td>{{ fund.ticker }}</td>
 		{{ render(controller('PlansPlansBundle:Investments:qdiaFindInfo', {'fundname': fund.name})) }}
 		{% block selectFund %}{% endblock %}
    </tr>
{% endfor %}
</table>