<style>
    .autoIncreaseOff
    {
        opacity: 0.5;
        pointer-events:none;
    }
</style>
<div id ="contributions-main" style ="padding-left:10px">
    <div class="details contribution row">
        <div class="title">{{ 'title' | trans({}, 'autosIncrease') }}</div>
        <div class="desc">{{ 'titleDescription' | trans({}, 'autosIncrease') }}</div>        
        <div class="row" style ="font-size:larger;padding-top:20px;">
            <form id ="validateAutoIncrease">
                <div class="col-md-6">
                    <input type ="checkbox" id="autoIncreaseUse" onclick ="autoincrease.toggle()" {% if autoIncrease.enabled %}checked{% endif %}>
                    {{ 'autoIncreaseAccept' | trans({}, 'autosIncrease') }}
                    <br/><br/>
                    <div {% if not  autoIncrease.enabled %}class ="autoIncreaseOff"{% endif %} id ="autoIncreaseContainer">
                        <strong>{% if autoIncrease.frequencyEnabled %}{{ 'chooseYourFrequency' | trans({}, 'autosIncrease') }}{%else %}{{ 'chooseStartDate' | trans({}, 'autosIncrease') }}{% endif %}</strong>
                        <br/><br/>
                        <div class="row">
                            <div class="col-md-6">
                                {{ 'startDate' | trans({}, 'autosIncrease') }}<br/>
                                <span class ="glyphicon glyphicon-calendar"><input type ="text" id ="startDate" readonly style ="width:100px;display:inline-block" value ="{{ autoIncrease.startDate |date("m/d/Y") }}">
                            </div>
                            {% if autoIncrease.frequencyEnabled %}
                            <div class="col-md-6">
                                <select id="frequency" >
                                    <option value ="">{{ 'howOften' | trans({}, 'autosIncrease') }}</option>
                                    {% for often in howOften %}
                                    <option value ="{{ often.value }}" {% if autoIncrease.frequency == often.value %}selected{% endif %}>{{ often.value | trans({}, 'autosIncrease') }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                        </div> 
                        <br/>
                        <div style  ="border-top: 1px solid;"></div>
                        <br/>
                        <strong>{{ 'howWould' | trans({}, 'autosIncrease') }}</strong>   
                        <br/><br/>
                        <div class ="row">
                            {% for section in sections %}
                            <div class="col-md-{{ sectionLength}}">
                                <div style="text-align:center">
                                    {{ section.title }}
                                    <br/>
                                    {{ 'howMuch' | trans({}, 'autosIncrease') }}
                                    <br/>
                                    {% if contribution.contribution_mode  == "DEFERDLR" %}${% endif %}<input type ="number"  id ="{{ section.name }}" value ="{{attribute(autoIncrease, section.name)}}" step ="{{autoIncrease.step}}" min ="0" style ="width:70px" >{% if contribution.contribution_mode  == "DEFERPCT" %}%{% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <br/><br/>
                        {{ 'mustNotExceed' | trans({}, 'autosIncrease') }} {% if contribution.contribution_mode  == "DEFERDLR" %}${{ limit }}{% else %}{{ limit }}%{% endif %}
                    </div>
                </div>
                <button class ="submit" id ="validateAutoIncreaseButton" style ="display:none"></button>
            </form>
            <div class="col-md-6">
                {% include "SpeAppBundle:Template:contributions/autos/graph.html.twig" %}
            </div>      
        </div>
        <div style="border-top: 1px solid;"></div>
        <div style ="margin-top:50px">
            <div class="actions">
                <a step="2" dir="next" class="actionBtn right proceed">
                    <span class="center action-button" style ="margin-right:10px" onclick ="autos.refresh()">{{ 'back' | trans({}, 'autos') }}</span>
                    <span class="center action-button" onclick ="$('#validateAutoIncreaseButton').click()">{{ 'next' | trans({}, 'autos') }}</span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>   
</div>
{% for section in sections %}
    <input type="hidden" id="{{ section.name }}Percent" value ="{{ section.percent }}" />
    <input type="hidden" id="{{ section.name }}Dollar" value ="{{ section.dollar }}" />
{% endfor %}
<script>
var autoincrease = Object.create(autos);
autoincrease.submit = function()
{
    var error = false;
    var params = new Object();
    var total = 0;
    params.startDate = $("#startDate").val();
    params.frequency = $("#frequency").val();
    params.type = "{% if contribution.contribution_mode  == "DEFERPCT" %}PCT{% else %}DLR{% endif %}";
    {% for section in sections %}
    params['{{section.name}}'] = parseFloat($("#{{ section.name }}").val());
    total += params['{{section.name}}'];
    {% endfor %}
    params['enabled'] = $("#autoIncreaseUse").is(":checked")?1:0;
    if ($("#autoIncreaseUse").is(":checked"))
    {
        if (isNaN(total))
        {
            error =true;
        }
        if (params.frequency == "")
        {
            this.errorModal("{{ 'frequencyMustBeChosen' | trans({}, 'autosIncrease') | e("js") }}");
            error = true;            
        }
        else if (total <= 0)
        {
            this.errorModal("{{ 'increaseGreaterThan' | trans({}, 'autosIncrease') | e("js") }} {% if contribution.contribution_mode  == "DEFERPCT" %}0%{% else %}$0{% endif %}");
            error = true;
        }
        else if (total > {{ limit }})
        {
            this.errorModal("{{ 'increaseLessThan' | trans({}, 'autosIncrease') | e("js") }} {% if contribution.contribution_mode  == "DEFERPCT" %}{{ limit }}%{% else %}${{limit }}{%endif %}");
            error = true;
        }
    }
    if (!error)
    {
        if (this.ajaxPost("/contributions/Autos/autoIncrease/saved",params))
        {
            $('body').trigger('spe:router:redirect', { to: 'myProfile', complete : 'contributions' });  
        }
    }
};
autoincrease.toggle = function()
{
    $("#autoIncreaseContainer").removeClass("autoIncreaseOff");
    if (!$("#autoIncreaseUse").is(":checked"))
    {
        $("#autoIncreaseContainer").addClass("autoIncreaseOff");
    }
};
$( "#startDate" ).datepicker({ minDate: 0 });
$( "#validateAutoIncrease" ).submit(function( event ) 
{
  event.preventDefault();
  autoincrease.submit();
});
autoincrease.init();
{% set percentEnabled = not (contribution.contribution_mode == "DEFERDLR" or common.mode  == "dlr") %}
{% if percentEnabled %}
    autoincrease.populatePercentFields();
{% else %}
    autoincrease.populateDollarFields();
{% endif %}
</script>
