<div class ="well">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="graphViewSelect" class="col-md-1 control-label">{{ 'your' | trans({}, 'autos') }}</label>
            <div class="col-md-11">
                <select class="form-control" style = "width:300px;display:inline" onchange="autos.switchGraphView();" id="graphViewSelect">
                    <option value="monthly" {% if graphViewMode == 'monthly' or graphViewMode is empty %}selected{% endif %}>{{ 'monthly_retirement_income' | trans({}, 'autos') }}</option>
                    <option value="balance" {% if graphViewMode == 'balance' %}selected{% endif %}>{{ 'total_retirement_balance' | trans({}, 'autos') }}</option>
                </select>
                <div style="margin-top:.5em;margin-bottom:.5em;">
                    <span id="graphViewCurrent" style="font-size:22px; font-weight: bold;"></span> <span>{{ 'at_age' | trans({'%age%': common.retireAge}, 'autos') }}</span>
                </div>
            </div>
        </div>
    </div>
    {{ 'your_target' | trans({}, 'autos') }} <span id="graphViewTarget"></span>
    <div style="border-top: 1px dashed;border-bottom:1px solid;">
    <div style="margin-left:auto;margin-right:auto;width:33%;">
        <table class="bar-chart" style="width:100%;height:160px;">
            <tbody><tr>
                <td style="vertical-align: bottom;padding-bottom:0;padding-top:0;padding-right:5px;">
                    <div id="total_bar" style="height: 34px;" data-toggle="tooltip" data-html="true" data-title="test">
                        <div class="match" style="height: 17px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span class="match_amt">$0</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="savings" style="height: 17px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span class="savings_amt">$0</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div>
    </div>
    <div style ="text-align:center;font-size:smaller">
        <h3 id="graphViewLabel">{{ 'projected_retirement_income' | trans({}, 'autos') }}</h3>
        {% if app.request.attributes.get('_route') == 'contributionsAutosAutoIncrease' %}
        <div style="margin: 10px 0; font-size:smaller; font-weight:bold;"><span style="border:1px dashed #999999; border-radius: 5px; padding: 5px;">+ {{ 'auto_increase' | trans({}, 'autos') }}</span></div>
        {% endif %}
        {{ 'current_monthly_contributions' | trans({}, 'autos') }}:
        <div class="row" style ="margin-top:10px" >
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {{ 'you' | trans({}, 'autos') }} <span class="pctView">(<span id="totalpct"></span>%)</span>
            </div>
            <div class="col-md-4">
                $<span id="totaldlr"></span>/mo
            </div>  
            <div class="col-md-2"></div>
        </div>
        <div class="row"  style ="margin-top:10px" >
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {{ 'employers_match' | trans({}, 'autos') }} <span class="pctView">(<span id="matchpct"></span>%)</span>
            </div>
            <div class="col-md-4">
                $<span id="matchdlr"></span>/mo
            </div>  
            <div class="col-md-2"></div>
        </div>
        {% if app.request.attributes.get('_route') == 'contributionsAutos' %}
        <br/>
        <a href ="javascript:;" onclick ="autosModals.yearlyincomeModal.modal('show')">{{ 'edit_your_current_salary' | trans({}, 'autos') }}</a>
        {% endif %}
    </div>

</div>