{% set autos = data.common.autos %}
{% set autoEnrollEnabled = data.common.autos.autoEnroll   %}
{% set autosAccepted  = data.autosAccepted is defined  and data.autosAccepted %}
{% set autoEnrollAccepted = autoEnrollEnabled and autosAccepted %}
  <style>
  .custom-handle {
      font-size:10px;
      margin-left:-45px !important;
      display:none
  }
  </style>
<div id ="contributions-main" style ="padding-left:5px">
    <div class="details contribution row">
        <div class="title">{{ 'contributions' | trans({}, 'alert') }}</div>
        <div class="desc">{{ 'contribution_description' | trans({}, 'autos') }}</div>
        <div class="row" style ="font-size:larger;padding-top:20px;">
            <div class="col-md-6">
                <div style ="text-align:center">
                    {{ 'how_close_meeting_target' | trans({}, 'autos') }}
                </div>
                <br/>
                <div style ="text-align:center;font-size:10px;color:gray;">
                    {{ 'adjust_your_contributions' | trans({}, 'autos') }}
                </div>
                <br/>
                <div style  ="border-top: 1px solid;"></div>
                <br/>
                {% set percentEnabled = not (contribution.contribution_mode == "DEFERDLR" or data.common.mode  == "dlr") %}
                <div class="row" id="deferbyPercentContainer" {% if not percentEnabled %}style="display:none"{% endif %}>
                    {% for section in sections %}
                    <div class="col-md-{{ sectionLength}}">
                        <div style="text-align:center">
                            {{ section.title }}
                            <div style ="margin-top:10px"></div>
                            <input type ="text" id="{{ section.name }}Percent" value ="{{ section.percent }}" style ="width:50px;" />
                            <div style ="margin-top:10px"></div>
                            {{ section.maxPercent }}%
                            <div style ="margin-top:10px"></div>
                            <div id="{{section.name}}PercentSlider" style ="display:inline-block">
                                  <div id="{{section.name}}PercentSliderHandle" class="badge custom-handle"></div>
                            </div>
                            <div style ="margin-top:10px"></div>
                            {{ section.minPercent}}%
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row" id="deferbyDollarContainer" style ="{% if  percentEnabled  and data.common.mode != "dlr"%}display:none;{% endif %}padding-bottom:171px">
                    {% for section in sections %}
                    <div class="col-md-{{ sectionLength}}">
                        <div style="text-align:center">
                            {{ section.title }}
                            <div style ="margin-top:10px"></div>
                            <input type ="text" id="{{ section.name }}Dollar" value ="{{ section.dollar }}" style ="width:50px;" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if data.common.mode  == "option" %}
                <div style ="text-align:center;margin-top:10px">
                    {{ 'defer_by' | trans({}, 'autos') }} <button type="button" class="btn {% if contribution.contribution_mode == "DEFERDLR" %}btn-primary{% else %}btn-default {% endif %}" aria-label="Left Align" style="border-radius: 0 !important;" id ="deferbyDollar" onclick ="autos.deferbyDollar()">$</button><button type="button" class="btn {% if contribution.contribution_mode == "DEFERDLR" %}btn-default{% else %}btn-primary {% endif %}" aria-label="Left Align" style="border-radius: 0 !important;" id ="deferbyPercent" onclick ="autos.deferbyPercent()">%</button>
                </div>
                {% endif %}
                {% if autoEnrollEnabled and not autoEnrollAccepted %}
                <div style ="margin-top:10px">
                    <table>
                        <tr>
                            <td>
                                <input type ="checkbox" id ="autosAcceepted" onclick = "autos.autosAccept()">
                            </td>
                            <td>
                                {{ 'changed_my_mind' | trans({}, 'autos') }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% include "SpeAppBundle:Template:contributions/autos/graph.html.twig" %}
            </div>
        </div>
        <div style  ="border-top: 1px solid;"></div>
        <div style ="margin-top:30px">
            <div style ="float:left">
                {{ 'conditional_disclaimers' | trans({}, 'autos') }}: {{ 'disclaimer' | trans({}, 'autos') }}
            </div>
            <div class="actions">
                <a step="2" dir="next" class="actionBtn right proceed">
                    <span class="center action-button" style ="margin-right:10px" onclick ="autos.back()">{{ 'back' | trans({}, 'autos') }}</span>
                    <span class="center action-button" onclick ="autos.submit()">{{ 'next' | trans({}, 'autos') }}</span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script>

var autos = 
{
    showAcaWarning: {% if autoEnrollAccepted %}true {% else %}false{% endif %},
    acaWarningVisable:false,
    inputChanged: false,
    mode: "{% if data.common.mode == "dlr" or contribution.contribution_mode == "DEFERDLR"  %}DEFERDLR{%else %}DEFERPCT{% endif %}",
    ajaxPost: function(url,params)
    {
        var success =false;
        jQuery.ajax
        ({
            url:   url,
            data: params,
            method: "POST",
            success: function(result) 
            {
                success = true;
            },
            async: false
        });
        return success;        
    },  
    floorToNearestStep: function(number,step)
    {
        var number =  (Math.floor(number / step)) * step;
        if (step < 1 && !Number.isInteger(number))
        {
            var length = step.toString().length-2;
            number = number.toFixed(length);
        }
        return number;
    },
    roundToNearestStep: function(number,step)
    {
        var number =  (Math.round(number / step)) * step;
        if (step < 1 && !Number.isInteger(number))
        {
            var length = step.toString().length-2;
            number = number.toFixed(length);
        }
        return number;
    },
    ceilToNearestStep: function(number,step)
    {
        var number =  (Math.ceil(number / step)) * step;
        if (step < 1 && !Number.isInteger(number))
        {
            var length = step.toString().length-2;
            number = number.toFixed(length);
        }
        return number;
    },
    ajaxPostValue: function(url,params)
    {
        var data =null;
        jQuery.ajax
        ({
            url:   url,
            data: params,
            method: "POST",
            success: function(result) 
            {
                data = result;;
            },
            async: false
        });
        return data;        
    },
    errorModal: function(message)
    {
        bootbox.alert
        ({
            message: message,
            size: 'medium',
            title: '{{ 'error' | trans({}, 'alert') | e("js") }}'
        });
    },
    refresh: function()
    {
        this.loadPage("/contributions/Autos");
    },
    loadPage:function(url)
    {       
        var params = {graphViewMode: $('#graphViewSelect').val()};
        $.post( url, params, function( data )
        {
            $( "#contributions-ajax" ).html( data );
        });
    },
    autosAccept: function()
    {
        if (this.ajaxPost("/contributions/Autos/accept"))
        {
            this.refresh();
        }
    },
    autosOptOut: function()
    {
        if (this.ajaxPost("/contributions/Autos/optout"))
        {
            
        }
    },
    back: function()
    {
        $('body').trigger('spe:router:redirect','contributions');
    },
    displayErrorNumber: function(number)
    {
        return Number.isInteger(number) ? number: parseFloat(number).toFixed(2);
    },
    getMinMaxDollar: function()
    {
        var params = new Array();
        {% for section in sections %}
        deferral = new Object();
        deferral['deferralLimits'] = new Object();
        deferral['deferralLimits']['min'] = {{ section.minPercent }};
        deferral['deferralLimits']['max'] = {{ section.maxPercent }};
        deferral['deferralLimits']['name'] = "{{ section.name }}";
        params.push(deferral);
        {% endfor %}
        return this.ajaxPostValue("/contributions/Autos/dollarMinAndMax",{deferrals:params });
    },
    submit: function()
    {
        if (this.showAcaWarning && this.inputChanged )
        {
            return;
        }
        var error = false;
        var params = new Array();
        var total = 0;
        var errors = [];
        var error = false;
        var zeroContribution = false;
        {% for section in sections %}
        deferral = new Object();
        if (this.mode == "DEFERPCT")
        {
            deferral['value'] =   $( "#{{section.name}}Percent" ).val();      
            if (!this.checkValue(deferral['value'],{{section.minPercent}},{{section.maxPercent}}) )
            {
                errors.push('{{ section.title }}: {{ 'please_enter_valid_percentage' | trans({}, 'alert') | e("js") }} {{ 'min' | trans({}, 'contributions') | e("js") }} {{section.minPercent}}% {{ 'max' | trans({}, 'contributions') | e("js") }} {{section.maxPercent}}%');
            }
            deferral['saveField'] = "{{ section.saveFieldPercent }}";
            total += parseFloat($( "#{{section.name}}Percent" ).val());
        }
        else
        {
            deferral['value'] =   $( "#{{section.name}}Dollar" ).val();      
            deferral['saveField'] = "{{ section.saveFieldDollar }}";    
            total += parseFloat($( "#{{section.name}}Dollar" ).val());
        }
        zeroContribution = zeroContribution || parseFloat(deferral['value']) == 0;
        params.push(deferral);
        {% endfor %} 
        if (this.mode == "DEFERDLR")
        {
            var limits = this.getMinMaxDollar();
            {% for section in sections %}
            if (!this.checkValue($( "#{{section.name}}Dollar" ).val(),limits.min['{{ section.name }}DollarPerPayCheck'],limits.max['{{ section.name }}DollarPerPayCheck']))
            {
                errors.push('{{ section.title }}: {{ 'please_enter_valid_dollar_amount' | trans({}, 'alert') | e("js") }} {{ 'min' | trans({}, 'contributions') | e("js") }}  $' + this.ceilToNearestStep(limits.min['{{ section.name }}DollarPerPayCheck'], {{ section.stepDollar }}) + ' {{ 'max' | trans({}, 'contributions') | e("js") }}  $' + this.floorToNearestStep(limits.max['{{ section.name }}DollarPerPayCheck'], {{ section.stepDollar }}) );
            }
            {% endfor %}           
            var combinedLimits = this.ajaxPostValue("/contributions/Autos/combinedMax",{mode:this.mode });            
            if (total <  combinedLimits.min || total > combinedLimits.max )
            {
                errors.push('{{ 'please_enter_valid_dollar_amount' | trans({}, 'alert') | e("js") }} {{ 'aggregate_min' | trans({}, 'alert') | e("js") }}: $' + this.displayErrorNumber(combinedLimits.min) + " {{ 'aggregate_max' | trans({}, 'alert') | e("js") }}: $" + this.displayErrorNumber(combinedLimits.max));
            }
        }
        else
        {
            var combinedLimits = this.ajaxPostValue("/contributions/Autos/combinedMax",{mode:this.mode });            
            if (total <  combinedLimits.min || total > combinedLimits.max )
            {
                errors.push('{{ 'please_enter_valid_percentage' | trans({}, 'alert') | e("js") }} {{ 'aggregate_min' | trans({}, 'alert') | e("js") }}: ' + this.displayErrorNumber(combinedLimits.min) + " % {{ 'aggregate_max' | trans({}, 'alert') | e("js") }}: " + this.displayErrorNumber(combinedLimits.max) + '%');
            }           
        }
        var saveParams = {deferrals:params,mode:this.mode};
        if (errors.length > 0)
        {
               this.errorModal(errors.join("<br/>")); 
               error = true;
        }
        if (zeroContribution && !error)
        {
            var parent = this;
            bootbox.confirm({
                title: "{{ 'zeroContributionModalTitle' | trans({}, 'autos') | e("js") }}",
                message: "{{ 'zeroContributionModalMessage' | trans({}, 'autos') | e("js") }}",
                buttons: 
                {
                    cancel: 
                    {
                        label: "{{ 'zeroContributionModalNo' | trans({}, 'autos') | e("js") }}",
                        className: 'btn-default'
                    },
                    confirm: 
                    {
                        label: "{{ 'zeroContributionModalYes' | trans({}, 'autos') | e("js") }}",
                        className: 'btn-primary'
                    }
                },
                callback: function (result)            
                {
                    if (result)
                    {
                        {% if autoEnrollAccepted %}
                        parent.acaConfirmModal(saveParams);            
                        {% else %}
                        parent.save(saveParams);
                        {% endif %}                        
                    }
                }
            });
            error = true;
        }
        {% if autoEnrollAccepted %}
        if (!this.showAcaWarning && !error)
        {
            this.acaConfirmModal(saveParams);
            error = true;
        }
        {% endif %}        
        if (!error)
        {            
            this.save(saveParams);    
        }        
    },
    acaConfirmModal: function(saveParams)
    {
        parent = this;
        bootbox.confirm
        ({
            title: "{{ 'acaConfirmModalTitle' | trans({}, 'autos') | e("js") }}",
            message: "{{ 'acaConfirmModalMessage' | trans({}, 'autos') | e("js") }}",
            buttons: 
            {
                cancel: 
                {
                    label: '{{ 'acaConfirmModalNo' | trans({}, 'autos') | e("js") }}',
                    className: 'btn-default'
                },
                confirm: 
                {
                    label: "{{ 'acaConfirmModalYes' | trans({}, 'autos') | e("js") }}",
                    className: 'btn-primary'
                }
            },
            callback: function (result)            
            {

                if (result)
                {
                    parent.autosOptOut();
                    parent.save(saveParams);
                }
                else
                {
                    parent.refresh();
                }
            }
        });        
    },
    silentSave: function(params)
    {
        return this.ajaxPost("/contributions/Autos/saved",params);
    },
    save: function (params)
    {
        if (this.silentSave(params))
        {
            {% if data.common.autos.autoIncrease %}
            this.loadPage("/contributions/Autos/autoIncrease");
            {% else %}
            $('body').trigger('spe:router:redirect', { to: 'myProfile', complete : 'contributions' }); 
            {% endif %}
        }
    },
    checkValue: function(value,min,max)
    {        
        return (!isNaN(value)  && parseFloat(value) >= min &&  parseFloat(value) <= max );       
    },
    getBadValue: function (value,min,max)
    {
        return (parseFloat(value) >= max) ? max : min;
    },
    checkValueDollar: function (value)
    {
       return  !isNaN(value) || value === "";
    },
    getBadValueDollar: function (value,min,max)
    {
        return 0;
    },
    deferbyDollar: function()
    {
        if (this.mode != "DEFERDLR")
        {
            autos.acaWarningModal();
            $("#deferbyDollar").removeClass("btn-default");
            $("#deferbyDollar").addClass("btn-primary");
            $("#deferbyPercent").removeClass("btn-primary");
            $("#deferbyPercent").addClass("btn-default");
            this.mode = "DEFERDLR";
            var params = new Object();
            params.mode = "PCT";
            {% for section in sections %}
            params['{{section.name }}'] = $("#{{ section.name }}Percent").val();
            {% endfor %}
            var calculations = this.ajaxPostValue("/contributions/Autos/switch",params);
            {% for section in sections %}
            var limits = this.getMinMaxDollar();
            $("#{{ section.name }}Dollar").val(this.roundToNearestStep(calculations['{{ section.name }}DollarPerPayCheck'],{{ section.stepDollar}}));
            if ($("#{{ section.name }}Dollar").val() < limits.min['{{ section.name }}DollarPerPayCheck'])
            {
                $("#{{ section.name }}Dollar").val(this.ceilToNearestStep(limits.min['{{ section.name }}DollarPerPayCheck'],{{ section.stepDollar}}));
            }
            
            if ($("#{{ section.name }}Dollar").val() > limits.max['{{ section.name }}DollarPerPayCheck'])
            {
                $("#{{ section.name }}Dollar").val(this.floorToNearestStep(limits.max['{{ section.name }}DollarPerPayCheck'],{{ section.stepDollar}}));
            }
            
            {% endfor %}
            $("#deferbyDollarContainer").show();
            $("#deferbyPercentContainer").hide();
            $(".pctView").hide();
            this.populateDollarFields();
            this.updateGraphView();
        }
    },
    populatePercentFields: function() {
        $('#totalpct').text(autos.getPercentageDeferral());
        $('#totaldlr').text(autos.formatMoney(autos.getDollarDeferral()));
        $('#matchpct').text(autos.getMatchingPct(autos.getPercentageDeferral()));
        $('#matchdlr').text(autos.formatMoney(autos.getMatchingDollarDeferral()));
    },
    populateDollarFields: function() {
        $('#totaldlr').text(autos.formatMoney(autos.getFlatDollarDeferral()));
        $('#matchdlr').text(autos.formatMoney(autos.getMatchingFlatDollarDeferral()));
    },
    deferbyPercent: function()
    {
        if (this.mode != "DEFERPCT")
        {
            autos.acaWarningModal();
            $("#deferbyDollar").removeClass("btn-primary");
            $("#deferbyDollar").addClass("btn-default");
            $("#deferbyPercent").removeClass("btn-default");
            $("#deferbyPercent").addClass("btn-primary");
            this.mode = "DEFERPCT";
            var params = new Object();
            params.mode = "DLR";
            {% for section in sections %}
            params['{{section.name }}'] = $("#{{ section.name }}Dollar").val();
            {% endfor %}
            var calculations = this.ajaxPostValue("/contributions/Autos/switch",params);
            {% for section in sections %}
            if (this.checkValue(calculations['{{ section.name }}Percent'],{{ section.minPercent}},{{ section.maxPercent}}))
            {
                $("#{{ section.name }}Percent").val(calculations['{{ section.name }}Percent']);
            }
            else
            {
                $("#{{ section.name }}Percent").val(this.getBadValue(calculations['{{ section.name }}Percent'],{{ section.minPercent}},{{ section.maxPercent}}));
            }
            $("#{{ section.name }}Percent").val(this.roundToNearestStep($("#{{ section.name }}Percent").val(),{{ section.stepPercent}}));
            {{section.name}}autosSlider.updateSlider($("#{{ section.name }}Percent").val());
            {% endfor %}
            $("#deferbyDollarContainer").hide();
            $("#deferbyPercentContainer").show();
            $(".pctView").show();
            this.populatePercentFields();
            this.updateGraphView();
        }
    },
    getPercentageDeferral: function()
    {
        var totalpct = 0;
        {% for section in sections %}
        totalpct += parseInt($('#{{ section.name }}Percent').val());
        {% endfor %}
        return totalpct;
    },

    getFlatDollarDeferral: function()
    {
        var totaldlr = 0;
        {% for section in sections %}
        totaldlr += parseInt($('#{{ section.name }}Dollar').val());
        {% endfor %}
        return totaldlr;
    },
            
    getDollarDeferral: function()
    {
        var contributions = this.getData('contributions');
        var income = contributions.C_CurrentYearlyIncome;
        var percentage = this.getPercentageDeferral()/100;

        income = income*percentage;
        return income/12;
    },

    getData: function(item)
    {
        var jsonString = localStorage.getItem(item);
        return JSON.parse(jsonString);
    },

    getMatchingPct: function(defPct)
    {
        var common = this.getData('common');
        var matchCap = common.matchCap;
        var matchA = defPct * (common.matchPercent/100.0);

        var returnPct = (matchCap > matchA ? matchA : matchCap);

        if (common.matchCapB > 0 && matchCap < matchA) {
            var residualPct = defPct - (matchCap/(common.matchPercent/100.0));
            returnPct = returnPct + (residualPct * (common.matchRateB/100.0));
            returnPct = (returnPct > common.matchCapB ? common.matchCapB : returnPct);
        }

        return returnPct;
    },

    getMatchingDollarDeferral: function()
    {
        var contributions = this.getData('contributions');
        var income = contributions.C_CurrentYearlyIncome;

        income = income*(this.getMatchingPct(this.getPercentageDeferral())/100);
        return income/12;
    },

    getMatchingFlatDollarDeferral: function()
    {
        var common = this.getData('common');
        var contributions = this.getData('contributions');
        var income = contributions.C_CurrentYearlyIncome;
        var defPct = this.flatDollarToPercentage(this.getFlatDollarDeferral());

        income = income*(this.getMatchingPct(defPct)/100);
        return income/12;
    },

    flatDollarToPercentage: function(dollar) {
        var contributions = this.getData('contributions');
        var income = contributions.C_CurrentYearlyIncome;

        return (dollar/income) * 1200;
    },

    formatMoney: function(n, c, d, t)
    {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    init: function() {
        this.updateGraphView();
    },
    switchGraphView: function() 
    {
        var translations = this.getData('translations');
        if ($('#graphViewSelect').val() == 'monthly') {
            // switch to monthly retirement income mode
            $("#graphViewLabel").html(translations.autos.projected_retirement_income);
        }
        else {
            // switch to total retirement balance mode
            $("#graphViewLabel").html(translations.autos.total_retirement_balance);
        }
        $('#total_bar').stop().css({height : '34px'});
        $('#total_bar .savings').stop().css({height : '17px'});
        $('#total_bar .match').stop().css({height : '17px'});
        $("#total_bar .match_amt").html("$" + this.formatMoney(0));
        $("#total_bar .savings_amt").html("$" + this.formatMoney(0));
        $("#graphViewCurrent").html("$" + this.formatMoney(0));
        $("#graphViewTarget").html("$" + this.formatMoney(0));
        
        this.updateGraphView();
    },
    updateGraphViewMonthly: function() {
        var contributions = this.getData('contributions');
        var translations = this.getData('translations');

        if (this.mode == "DEFERPCT") {
            var defRate = this.getPercentageDeferral();
            var matchTotal = this.getMatchingDollarDeferral();
        }
        else {
            var defRate = this.flatDollarToPercentage(this.getFlatDollarDeferral());
            var matchTotal = this.getMatchingFlatDollarDeferral();
        }
        defRate = defRate / 100;
        matchTotal = matchTotal * 12;
        var salary = contributions.C_CurrentYearlyIncome;
        var ybr = $('#years_before_retirement').val();
        var interest = 0.07;
        var depositGrowth = 0.03;
        var inflationDiscount = 0.03;
        var currentBalanceTotal = $('#total_assets').val();

        var salaryTimesDeferralRate = salary * defRate + matchTotal;
        
        var depositGrowthIncreased = Math.pow(depositGrowth + 1, ybr);
        var inflationIncreased = Math.pow(1 + inflationDiscount,ybr);
        
        var monthlyIncomeAtRetirement = $("#annual_income").val() / 12;
        monthlyIncomeAtRetirement = Math.round(monthlyIncomeAtRetirement);
        
        // You
        var projectedAccountBalance = (currentBalanceTotal * Math.pow(1 + interest, ybr)) + (salaryTimesDeferralRate * (Math.pow(interest + 1,ybr)  - depositGrowthIncreased)) / (interest - depositGrowth);
        var discountedValueOfFutureBalance = projectedAccountBalance / inflationIncreased;
        var projectedMonthlyRetirement = discountedValueOfFutureBalance / {{ apr.apr }};
        
        // Matching
        var projectedMatching =  (matchTotal * (Math.pow(interest + 1,ybr)  - depositGrowthIncreased)) / (interest - depositGrowth);
        var discountedMatching = projectedMatching / inflationIncreased;
        var projectedMonthlyMatching = discountedMatching / {{ apr.apr }}
        
        var totalProjectedMonthlyRetirement = projectedMonthlyRetirement;
        {% if data.common.matchingContributions == 'yes' %}
            totalProjectedMonthlyRetirement += projectedMonthlyMatching;
        {% endif %}

        var ratio = totalProjectedMonthlyRetirement / monthlyIncomeAtRetirement;
        ratio = Math.min(1, ratio);
        var ratio_projected = projectedMonthlyRetirement / totalProjectedMonthlyRetirement;
        
        var savingsBarHeight = this.checkAndGetMinimumHeight(Math.ceil(160*ratio*ratio_projected), 17);
        var matchingBarHeight = this.checkAndGetMinimumHeight(Math.ceil(160*ratio*(1-ratio_projected)), 17);
        
        $('#total_bar').stop().animate({height : Math.min(savingsBarHeight + matchingBarHeight, 160) +'px'}, 1000);
        
        $('#total_bar .savings').stop().animate({height: savingsBarHeight+'px'}, 1000);
        $('#total_bar .match').stop().animate({height: matchingBarHeight+'px'}, 1000);
        $(".match_amt").html("$" + this.formatMoney(Math.round(projectedMonthlyMatching)));
        $(".savings_amt").html("$" + this.formatMoney(Math.round(projectedMonthlyRetirement)));
        $("#graphViewCurrent").html(translations.autos.per_month.replace('%amount%', "$" + this.formatMoney(Math.round(totalProjectedMonthlyRetirement))));
        $("#graphViewTarget").html(translations.autos.per_month.replace('%amount%', "$" + this.formatMoney(Math.round(monthlyIncomeAtRetirement))) );
        
    },
    updateGraphViewBalance: function() {
        var tmc = this.mode == "DEFERPCT" ? this.getDollarDeferral() : this.getFlatDollarDeferral();
        tmc = Math.round(tmc);
        
        var total_assets = parseFloat($('#total_assets').val()); // retirementNeeds.RN_TotalAssets
        var apr = 0.06;
        var ybr = parseFloat($('#years_before_retirement').val());
        
        var target_savings = $('#target_savings').val(); // retirementNeeds.RN_EstimatedSavingsatRetirement
        
        var totalMatchAmount = this.mode == "DEFERPCT" ? this.getMatchingDollarDeferral() : this.getMatchingFlatDollarDeferral();
        totalMatchAmount = Math.round(totalMatchAmount);
        // this is the "Employer" section of the column
        var projected_match = ((totalMatchAmount * 12) * (Math.pow(1+apr,1+ybr) - (1+apr))) / apr; 
            
        // this is the "You" section of the column
        var projected_savings = (total_assets * Math.pow(1+apr,ybr)) + ((tmc * 12) * (Math.pow(1+apr,1+ybr) - (1+apr))) / apr; 
        var total_projected_savings = projected_savings;
        {% if data.common.matchingContributions == 'yes' %}
            total_projected_savings += projected_match;
        {% endif %}

        var ratio = total_projected_savings / target_savings;
        ratio = Math.min(1, ratio);
        var ratio_projected = projected_savings/total_projected_savings;
        
        var savingsBarHeight = this.checkAndGetMinimumHeight(Math.ceil(160*ratio*ratio_projected), 17);
        var matchingBarHeight = this.checkAndGetMinimumHeight(Math.ceil(160*ratio*(1-ratio_projected)), 17);

        $('#total_bar').stop().animate({height : Math.min(savingsBarHeight + matchingBarHeight, 160) +'px'}, 1000);
        
        $('#total_bar .savings').stop().animate({height: savingsBarHeight+'px'}, 1000);
        $('#total_bar .match').stop().animate({height: matchingBarHeight+'px'}, 1000);
        $(".match_amt").html("$" + this.formatMoney(Math.round(projected_match)));
        $(".savings_amt").html("$" + this.formatMoney(Math.round(projected_savings)));
        $("#graphViewCurrent").html("$" + this.formatMoney(Math.round(total_projected_savings)));
        $("#graphViewTarget").html("$" + this.formatMoney(Math.round(target_savings)));
    },
    checkAndGetMinimumHeight : function(height, minimumHeight) { // cap this at 160 to match max height of graph
        if (height === 0) {
            return 0;
        }
        if (height > minimumHeight) {
            if (height > 160) {
                return 160;
            }
            return height;
        }

        return minimumHeight;
    },
    updateGraphView: function() 
    {
        if ($('#graphViewSelect').val() == 'monthly') {
            this.updateGraphViewMonthly();
        }
        else {
            this.updateGraphViewBalance();
        }
    },
    acaWarningModal: function()
    {
        this.inputChanged = true;
        if (this.showAcaWarning && !this.acaWarningVisable)
        {
            var parent = this;
            this.acaWarningVisable = true;
            bootbox.confirm
            ({
                message: "{{ 'acaWarningModalMessage' | trans({}, 'autos') | e("js") }}",
                buttons: 
                {
                    cancel: 
                    {
                        label: '{{ 'acaWarningModalNo' | trans({}, 'autos') | e("js") }}',
                        className: 'btn-default'
                    },
                    confirm: 
                    {
                        label: "{{ 'acaWarningModalYes' | trans({}, 'autos') | e("js") }}",
                        className: 'btn-primary'
                    }
                },
                callback: function (result)            
                {
                    if (result)
                    {
                        parent.showAcaWarning = false;
                    }
                    else
                    {
                        parent.refresh();
                    }
                    this.acaWarningVisable = false;
                }
            });
        }       
    }
};

{% if percentEnabled %}
    autos.populatePercentFields();
{% else %}
    autos.populateDollarFields();
{% endif %}

{% for section in sections %}
var {{section.name}}autosSlider = 
{
  updateSlider: function(value)
  {
        $("#{{section.name}}PercentSlider").slider("value",value);
        if (value !== "")
        {
            $("#{{section.name}}PercentSliderHandle").text(value );
            var marginTop = 85 - ($("#{{section.name}}PercentSlider").find(".ui-slider-range").height() * .85);
            $("#{{section.name}}PercentSliderHandle").css("margin-top",marginTop + "px");   
            $("#{{section.name}}PercentSliderHandle").css("display","inline-block");
        }
        else
        {
            $("#{{section.name}}PercentSliderHandle").hide();
        }
        $("#{{section.name}}Percent").val(value);
        autos.populatePercentFields();
        autos.updateGraphView();
  }          
};
$( "#{{section.name}}Percent" ).change(function() 
{
    autos.acaWarningModal();
    if(!isNaN($(this).val()))
    {
        var value = autos.roundToNearestStep($(this).val(),{{ section.stepPercent}});
        {{section.name}}autosSlider.updateSlider(value);
    }
}); 
$( "#{{section.name}}Percent,#{{section.name}}Dollar" ).keyup(function() 
{
    autos.acaWarningModal();
});
$( "#{{section.name}}Dollar" ).change(function() 
{
    autos.acaWarningModal();
    if(!isNaN($(this).val()))
    {
        var value = autos.roundToNearestStep($(this).val(),{{ section.stepDollar}});
        $(this).val(value);
    }
    autos.populateDollarFields();
    autos.updateGraphView();
});
$( "#{{section.name}}PercentSlider" ).slider({
  orientation: "vertical",
  range: "min",
  min:  {{ section.minPercent}},
  max: {{ section.maxPercent}},
  value: {{ section.percent }},
  handle: $("#{{section.name}}PercentSliderHandle"),
  step: {{ section.stepPercent }},
  slide: function( event, ui ) 
  {
     autos.acaWarningModal();
    {{section.name}}autosSlider.updateSlider(ui.value);
  },
  stop: function (event,ui )
  {
    setTimeout(function() { $("#{{section.name}}PercentSliderHandle").hide() },500);
  }
});    
{% endfor %}
autos.init();
</script>
{% include "SpeAppBundle:Template:contributions/autos/modals.html.twig" %}
{% include "SpeAppBundle:Template:contributions/autos/modals.js.twig" %}
