<script>
var autosModals = 
{
    autosModal: $('#autosPopup'),
    yearlyincomeModal: $("#yearlyincomePopup"),
    autosAction : function(e){
        var self = $(e.target),
            action = self.attr('rel');

        if(action == 'Confirm'){
            var selection = $("input[type='radio'].radiobtnclass:checked").val();
            this.yearlyincomeModal.modal('show');
        }
        this.autosModal.modal('hide');
    },

    yearlyincomeAction : function(e){
        var self = $(e.target),
            action = self.attr('rel');
        var q1 = $('#autosQ1').val();
        q1 = q1.replace(',', '');
        if (parseInt(q1) > 0)
        {
            var payfreq = $('#payFrequency').val();
            var retirementNeeds = getData('retirement_needs');
            var contributions = getData('contributions');
            if(action == 'Confirm'){
                var selection = $("input[type='radio'].radiobtnclass:checked").val();
                var accepted = selection !== 'no'?1:0;
                if (!accepted) {
                    $("#spe-container").find("#risk-profile,#investments").removeClass("full-lock");
                }
                            }
            retirementNeeds.RN_CurrentYearlyIncome = q1;
            contributions.C_CurrentYearlyIncome = q1;
            contributions.C_GetPaid = payfreq;
            setData('retirement_needs', retirementNeeds);
            setData('contributions', contributions);
            
            var params = {};
            params['yearlyIncome'] = q1;
            params['getPaid'] = payfreq;
            params['accepted'] = accepted;
            
            jQuery.ajax
            ({
                url:  "/saveSession",
                data: params,
                method: "POST",
                async: false,
                success: function(result)
                {
                   {% if not autosAccepted %}
                   autos.refresh();
                   {% endif %}
                }

            });

        this.yearlyincomeModal.modal('hide');
        }
    }        
};
{% if contribution.C_CurrentYearlyIncome is not defined %}
autosModals.autosModal.modal('show');    
{% endif %}
autosModals.autosModal.find('.action').on('click', autosModals.autosAction.bind(autosModals));
autosModals.yearlyincomeModal.find('.action').on('click', autosModals.yearlyincomeAction.bind(autosModals));

    function getData(item) {
        var jsonString = localStorage.getItem(item);
        return JSON.parse(jsonString);
    }

    function setData(item, data) {
        var jsonString = JSON.stringify(data);
        localStorage.setItem(item, jsonString);

    }
</script>
