<script type="text/javascript" src="{{ asset('js/jquery.inputmask.js') }}"></script>
<style>
    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 15px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 15px;
        padding-right: 0;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 15px;
        text-align: right;
    }

</style>

<!-- Autos Modal -->
<div class="modal fade" id="autosPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:35px">
                <h3 class="modal-title" id="autosTitle">{{ autos.title }}</h3>
                <p id="autosDescription">{{ autos.description }}</p>
                <form>
                    <div class="radio">
                        <label><input type="radio" class="radiobtnclass" value="yes" name="optradio" {% if autosAccepted or data.autosAccepted is not defined  %}checked{% endif %}>
                            <span id="autosYes">{{ autos.yestext | raw }}</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="radiobtnclass" value="no" name="optradio" {% if not autosAccepted and data.autosAccepted is defined  %}checked{% endif %}>
                            <span id="autosNo" style="opacity: 0.6"> {{ autos.notext | raw }}</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" rel="Confirm">{{ 'confirm' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Yearly Income Popup Modal -->
<div class="modal fade" id="yearlyincomePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:35px">
                <h3 class="modal-title" id="yearlyTitle">{{ 'yearly_income_title' | trans ({}, 'autos') }}</h3>
                <p id="yearlyDescription">{{ 'yearly_income_description' | trans ({}, 'autos') }}</p>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">{{ 'yearly_income_qOne' | trans ({}, 'autos') }}</label>
                        <div class="input-icon">
                            <i>$</i>
                            <input type="text" class="form-control money" id="autosQ1" {% if retirementneeds.RN_CurrentYearlyIncome is  defined %}value="{{ retirementneeds.RN_CurrentYearlyIncome }}"{% endif %}>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">{{ 'yearly_income_qTwo' | trans ({}, 'autos') }}</label>
                        <select class="form-control" id="payFrequency">
                            <option value="Weekly" {% if contribution.C_GetPaid  == "weekly" %}selected{%endif %} >{{ 'weekly' | trans ({}, 'contributions') }}</option>
                            <option value="Bi-weekly" {% if contribution.C_GetPaid  == "Bi-weekly" %}selected{%endif %}>{{ 'bi_weekly' | trans ({}, 'contributions') }}</option>
                            <option value="Monthly" {% if contribution.C_GetPaid  == "Monthly" %}selected{%endif %}>{{ 'monthly' | trans ({}, 'contributions') }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" rel="Confirm">{{ 'confirm' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('.money').inputmask("numeric", {
        min: 0,
        max: 999999,
        radixPoint: ".",
        groupSeparator: ",",
        digits: 0,
        autoGroup: true,
        rightAlign: false,
    });
</script>