<form id ="addPlayListForm">
Name: <input type ="text" name ="name" class ="form-control" required >

Description: <input type="description" name ="description" class ="form-control" required>

<input type ="hidden" name ="playListId" value ="{{ playList.id }}"/>
<br/><br/>
<button class ="btn btn-info" type ="submit">Add</button>
</form>

<script>   
$( "#addPlayListForm" ).submit(function( event ) 
{
    event.preventDefault();
    var params = $(this).serializeArray();
    Paths.addVideoSaved(params);
});
Paths.addVideoSaved = function(params)
{
    this.ajaxPost("{{ url('addPlayListVideoSaved') }}",params);
    this.loadPlayList({{ playList.id }});
    closeLightBox();
};
</script>