Delete Video?
<br/><br/>
<button class ="btn btn-warning" onclick ="Paths.deleteVideoSaved()">Delete</button>

<script>
Paths.deleteVideoSaved = function()
{
    this.ajaxPost("{{ url('deletePlayListVideoSaved') }}",{id : {{ video.id }} });
    this.loadPlayList({{ video.playListId }});
    closeLightBox();
};    
</script>