<form id ="editPlayListForm">
Name: <input type ="text" name ="name" class ="form-control" required value ="{{ video.name }}" >

Description: <input type="description" name ="description" class ="form-control" value ="{{ video.description }}"  required>

Disclaimer: <input type="disclaimer" name ="disclaimer" class ="form-control" value ="{{ video.disclaimer }}" >
{% if isPB %}
Module Type:
    <select name="module" class="form-control" id="module">
        <option value=""></option>
        {% for module in appModules %}
            <option {{ video.module == module.module ? 'selected ' : '' }}value="{{ module.module }}">{{ module.description }}</option>
        {% endfor %}
    </select>

<div id="selection" style="display:none;">
Selection:
    <select name="moduleSelection" class="form-control" id="section">
            <option value=""></option>
    </select>
</div>
{% endif %}

<input type ="hidden" name ="id" value ="{{ video.id }}"/>
<br/><br/>
<button class ="btn btn-primary" type ="submit">Save</button>
</form>

<script>   
$( "#editPlayListForm" ).submit(function( event ) 
{
    event.preventDefault();
    var params = $(this).serializeArray();
    Paths.editVideoSaved(params);
});
Paths.editVideoSaved = function(params)
{
    this.ajaxPost("{{ url('editPlayListVideoSaved') }}",params);
    this.loadPlayList({{ video.playListId }});
    closeLightBox();
};
$(document).ready(function (){
    if ("{{ video.module }}" !== "") {
        var page = "{{ url('getModuleSelection') }}";
        var querystring = {module: $('#module').val()};
        $.post(page, querystring).done(function (data) {
            $('#selection').show();
            var option = $('<option></option>').attr("value", "option value").text("Text");
            $("#section").empty().append(option);

            var $el = $("#section");
            $el.empty();

            $.each(data, function (key, value) {
                $el.append($("<option></option>")
                    .attr("value", value.selection).text(value.description));
            });
            $("#section").val("{{ video.moduleSelection }}")
                .find("option[value=" + "{{ video.moduleSelection }}" + "]").attr('selected', true);
        });
    }
});

$('#module').change(function() {
    $('#selection').hide();
    var page = "{{ url('getModuleSelection') }}";
    var querystring = {module : this.value};
    $.post(page, querystring).done(function (data) {
        $('#selection').show();
        var option = $('<option></option>').attr("value", "option value").text("Text");
        $("#section").empty().append(option);

        var $el = $("#section");
        $el.empty();

        $.each(data, function(key, value) {
            $el.append($("<option></option>")
                .attr("value", value.selection).text(value.description));
        });
    });
});
</script>