{% if playList.videos is not empty %}
    <table class ="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tbody id ="sortVideos">
        {% for video in playList.videos %}
        <tr>
            <td>
                {{ video.description }} <input type ="hidden" name ="videoId" value ="{{ video.id }}" />
            </td>
            <td>
                <button class ="btn btn-primary" onclick ="Paths.editVideo({{ video.id }})">Edit</button>

                <button class ="btn btn-primary" onclick ="Paths.manageLocales({{ video.id }})">Manage Locales</button>

                <button class ="btn btn-warning" onclick ="Paths.deleteVideo({{ video.id }})">Delete Source</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %} 

<script>
var sortableEvents{{ playList.id }} = 
{
    update:  function () 
    {
        var params = new  Object();
        params.ids = new Array();
        params.playListId = {{ playList.id  }}
        $("#playList{{playList.id}}").find( "[name=videoId]" ).each(function() 
        {
           params.ids.push($(this).val());
        });
        Paths.saveVideoOrder(params);
    }                    
};

$("#playList{{playList.id}}").find('#sortVideos').sortable(sortableEvents{{ playList.id }});  
</script>
<button class ="btn btn-info" onclick ="Paths.addVideo({{ playList.id  }})">Add Video</button>