<table class = "table table-striped">
    <tr>
        {% for language in languages %}
        <th>
            {{ language.description }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for language in languages %}
        <td style="width: 50%">
            Url:
           <input type ="text" class ="form-control" id="urlLocale{{ language.id }}" value ="{{ language.url }}" /> <br/>
           Subtitle Url:
           <input type ="text" class ="form-control" id="subtitleLocale{{ language.id }}" value ="{{ language.subtitleUrl }}" /> <br/>
           {% if language.videos is not empty %}
           <table class ="table table-striped" style="table-layout:fixed;">
                <tr>
                    <th>Url</th>
                    <th>Subtitle Url</th>
                </tr>
                {% for video in language.videos %}
                <tr onclick ="Paths.updateLanguageInputs({{ language.id}},{{video.id }})" style ="cursor:pointer">
                    <td style="word-wrap:break-word">{{ video.url }}</td>
                    <td style="word-wrap:break-word">{{ video.subtitleUrl }}</td>
                </tr>
                {% endfor %}
           </table>
           {% endif %}
        </td>
        {% endfor %}
    </tr>

</table>
    
<button class ="btn btn-primary" onclick ="Paths.saveLocale()">Save</button>

<script>
Paths.saveLocale = function()
{
    var locales = new Array();
    {% for language in languages %}
    var params = new Object();
    params.languageId  = {{ language.id }};
    params.videoId = {{ video.id }};
    params.url = $("#urlLocale{{ language.id }}").val();
    params.subtitleUrl = $("#subtitleLocale{{ language.id }}").val();
    locales.push(params);
    {% endfor %}
    this.ajaxPost('{{ path('playListManageLocalesSaved') }}',{ locales:locales });
    this.loadPlayList({{ video.playListId }});
    closeLightBox();    
};
Paths.updateLanguageInputs = function(languageId,videoId)
{
    var result = this.ajaxPostValue('{{ path('playListManageLocalesUpdateInputs') }}',{id: videoId });
    $("#urlLocale" + languageId).val(result.url);
    $("#subtitleLocale" + languageId).val(result.subtitleUrl);
};
</script>