<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ 'powerview_title' | trans ({}, 'widget') }}</title>
<script src="/w/js/cookie.js"></script>
<script type="text/javascript">
setCookie('VWISE_CHECK', true);
window.opener.location.reload();
window.close();
</script>
</head>
<body></body>
</html>
