<div id="languageSelect" class="dark">
<div class="menu">
<div data-language="{{ app.session.get('REQUEST').lang }}" class="currentLanguage">
	{% if app.session.get('REQUEST').lang == 'en' %}
		{{ 'english' | trans ({}, 'widget') }} <span></span>
	{% else %}
		{{ 'spanish' | trans ({}, 'widget') }} <span></span>
	{% endif %}
</div>
<ul class="options color-secondary">
<li data-language="en" {% if app.session.get('REQUEST').lang == 'en' %}class="selected"{% endif %}>{{ 'english' | trans ({}, 'widget') }}</li>
<li data-language="es" {% if app.session.get('REQUEST').lang == 'es' %}class="selected"{% endif %}>{{ 'spanish' | trans ({}, 'widget') }}</li>
</ul>
</div>
</div>
