<img class="logo" src="{{ absolute_url("/") | raw }}/w/img/Ameritas_RP_Logo_WHITE_320X40.png" alt="Sponsor Name">
<form id ="salaryForm">
	<div class="intro">
		<h1 style="line-height: 28px">{{ 'lets_get_started' | trans ({}, 'widget') }}</h1>
	</div>
	{% if app.session.get('cta') == 'irio' %}
		<label>{{ 'current_annual_salary' | trans ({}, 'widget') }}:</label>
		<span class="currency-prefix">$</span><input value="{{ data.compensationTotal }}" placeholder="{{ 'enter_salary' | trans({}, 'widget') }}" type="text"  name = "salary" autocomplete="off" class="currency" />
		<p class="input-error-message"></p>
		<label>{{ 'pay_frequency' | trans ({}, 'widget') }}:</label>
		<div class="dropdown">
			<select name="salary-frequency">
				<option value="ANNUALLY" {% if data.payFrequency == 'ANNUALLY' %}selected="selected"{% endif %}>{{ 'annually' | trans ({}, 'widget') }}</option>
				<option value="MONTHLY" {% if data.payFrequency == 'MONTHLY' %}selected="selected"{% endif %}>{{ 'monthly' | trans ({}, 'widget') }}</option>
				<option value="SEMI-MONTHLY" {% if data.payFrequency == 'SEMI-MONTHLY' %}selected="selected"{% endif %}>{{ 'semi_monthly' | trans ({}, 'widget') }}</option>
				<option value="BI-WEEKLY" {% if data.payFrequency == 'BI-WEEKLY' %}selected="selected"{% endif %}>{{ 'bi_weekly' | trans ({}, 'widget') }}</option>
				<option value="WEEKLY" {% if data.payFrequency == 'WEEKLY' %}selected="selected"{% endif %}>{{ 'weekly' | trans ({}, 'widget') }}</option>
			</select>
		</div>
                {% if app.session.get("contributionAmountChoice") %}
                {% if app.session.get("deferralOption") %}
                <div style >
                    <label>{{ 'are_you_contributing_by' | trans ({}, 'widget') }}:</label>
                    <input type ="radio" style ="height:20px;width:20px;display:inline;box-shadow:none" name="contributionType" checked value ="percent" data-prefix ="%" onchange ="updateSalaryPrefix()"> {{ 'percent' | trans ({}, 'global') }} <input type ="radio" style ="height:20px;width:20px;display:inline;box-shadow:none;" name="contributionType" value ="dollar" onchange ="updateSalaryPrefix()" data-prefix ="$" > {{ 'dollar' | trans ({}, 'global') }}
                    <br/>
                </div>
                {% elseif app.session.get("percentDeferralMax") %}
                <input type ="radio" style ="height:20px;width:20px;display:none" name="contributionType" checked value ="percent">
                {% elseif app.session.get("dollarDeferralMax") %}
                <input type ="radio" style ="height:20px;width:20px;display:none" name="contributionType" checked value ="dollar">
                {% endif %}
                <p class="input-error-message-deferral" style="display: none">{{ 'please_enter_a_valid_deferral_amount' | trans ({}, 'widget') }}</p>
                <label style ="margin-top:10px">{{ 'contribution_amount' | trans ({}, 'widget') }}</label>
                <span class="currency-prefix" id ="updateSalaryPrefix">{% if not app.session.get("dollarDeferralMax") %}%{% else %}${% endif %}</span><input type ="text" name ="deferral" class ="currency" />
                {% endif %}
		{% if data.age >= data.retireAge %}
		<label>Retirement Age</label>
		<div class="dropdown">
			<select name="salary-retireage">
				{% for i in data.age..data.age+10 %}
					{% if i < 120 %}
						<option value="{{ i+1 }}">{{ i+1 }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{% endif %}
	{% else %}
		<label>{{ 'current_annual_salary' | trans ({}, 'widget') }}:</label>
		<span class="currency-prefix">$</span><input value="{{ data.compensationTotal }}" placeholder="{{ 'enter_salary' | trans({}, 'widget') }}" type="text"  name = "salary" autocomplete="off" class="currency" />
		<p class="input-error-message"></p>
		<label>{{ 'pay_frequency' | trans ({}, 'widget') }}:</label>
		<div class="dropdown">
			<select name="salary-frequency">
				<option value="ANNUALLY" {% if data.payFrequency == 'ANNUALLY' %}selected="selected"{% endif %}>{{ 'annually' | trans ({}, 'widget') }}</option>
				<option value="MONTHLY" {% if data.payFrequency == 'MONTHLY' %}selected="selected"{% endif %}>{{ 'monthly' | trans ({}, 'widget') }}</option>
				<option value="SEMI-MONTHLY" {% if data.payFrequency == 'SEMI-MONTHLY' %}selected="selected"{% endif %}>{{ 'semi_monthly' | trans ({}, 'widget') }}</option>
				<option value="BI-WEEKLY" {% if data.payFrequency == 'BI-WEEKLY' %}selected="selected"{% endif %}>{{ 'bi_weekly' | trans ({}, 'widget') }}</option>
				<option value="WEEKLY" {% if data.payFrequency == 'WEEKLY' %}selected="selected"{% endif %}>{{ 'weekly' | trans ({}, 'widget') }}</option>
			</select>
		</div>

	{% endif %}
    <button type ="submit" class="transparent" id="confirm-salary">{{ 'confirm' | trans ({}, 'widget') }}</button>
</form>
<script>
    function updateSalaryPrefix() {
        $('#updateSalaryPrefix').text($("[name=contributionType]:checked").data('prefix'));
    }
</script>
