<form id ="salaryForm">
	<div class="intro">
		<h1>{{ 'lets_get_started' | trans ({}, 'widget') }}</h1>
	</div>
	{% if app.session.get('cta')|lower == 'irio' %}
		<label>{{ 'current_annual_salary' | trans ({}, 'widget') }}:</label>
		<span class="currency-prefix">$</span><input value="{{ data.compensationTotal }}" placeholder="" type="text"  name = "salary" autocomplete="off" class="currency" />
		<p class="input-error-message"></p>
		<label>{{ 'pay_frequency' | trans ({}, 'widget') }}:</label>
		<div class="dropdown">
			<select name="salary-frequency">
				<option value="ANNUALLY" {% if data.payFrequency == 'ANNUALLY' %}selected="selected"{% endif %}>{{ 'annually' | trans ({}, 'widget') }}</option>
				<option value="MONTHLY" {% if data.payFrequency == 'MONTHLY' %}selected="selected"{% endif %}>{{ 'monthly' | trans ({}, 'widget') }}</option>
				<option value="SEMI-MONTHLY" {% if data.payFrequency == 'SEMI-MONTHLY' %}selected="selected"{% endif %}>{{ 'semi_monthly' | trans ({}, 'widget') }}</option>
				<option value="BI-WEEKLY" {% if data.payFrequency == 'BI-WEEKLY' %}selected="selected"{% endif %}>{{ 'bi_weekly' | trans ({}, 'widget') }}</option>
				<option value="WEEKLY" {% if data.payFrequency == 'WEEKLY' %}selected="selected"{% endif %}>{{ 'weekly' | trans ({}, 'widget') }}</option>
			</select>
		</div>
		{% if data.age >= data.retireAgeOriginal %}
		<label>Retirement Age</label>
		<div class="dropdown">
			<select name="salary-retireage">
				{% for i in data.age..data.age+10 %}
					{% if i < 120 %}
						<option value="{{ i+1 }}">{{ i+1 }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{% endif %}
	{% else %}
		<h5>{{ 'current_annual_salary' | trans ({}, 'widget') }}:</h5>
		<span class="currency-prefix">$</span><input value="{{ data.compensationTotal }}" placeholder="" type="text"  name = "salary" autocomplete="off" class="currency" />
		<p class="input-error-message"></p>
		<h5>{{ 'pay_frequency' | trans ({}, 'widget') }}:</h5>
		<div class="dropdown">
			<select name="salary-frequency">
				<option value="ANNUALLY" {% if data.payFrequency == 'ANNUALLY' %}selected="selected"{% endif %}>{{ 'annually' | trans ({}, 'widget') }}</option>
				<option value="MONTHLY" {% if data.payFrequency == 'MONTHLY' %}selected="selected"{% endif %}>{{ 'monthly' | trans ({}, 'widget') }}</option>
				<option value="SEMI-MONTHLY" {% if data.payFrequency == 'SEMI-MONTHLY' %}selected="selected"{% endif %}>{{ 'semi_monthly' | trans ({}, 'widget') }}</option>
				<option value="BI-WEEKLY" {% if data.payFrequency == 'BI-WEEKLY' %}selected="selected"{% endif %}>{{ 'bi_weekly' | trans ({}, 'widget') }}</option>
				<option value="WEEKLY" {% if data.payFrequency == 'WEEKLY' %}selected="selected"{% endif %}>{{ 'weekly' | trans ({}, 'widget') }}</option>
			</select>
		</div>

	{% endif %}
    <button type ="submit" class="transparent" id="confirm-salary">{{ 'confirm' | trans ({}, 'widget') }}</button>
</form>
