<div class="video-controls">
  <div class="play"></div>
  <div class="pause"></div>
  <input id="seekBar" type="range" name="seek" value="0"/>
  <div class="progress-bar">
      <span class="progress-value bg-primary"></span>
  </div>
  <div class="indicator">0:00 / 0:00</div>
</div>
