{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plans List'})) }}
<h2>Adviser Home</h2>
Welcome to Adviser Home. To the left are the sections in which you are granted access to 

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}