<div class="col-xs-12 col-sm-6">
    {% for data in beneficiaryData %}
    {% if data.area == area %}
    <div class="col-xs-12">
        <div class="col-xs-{{data.descriptionLength}}">
            <b>{{ data.translation }}{% if data.validators is defined and  "required" in data.validators|keys %}*{%endif %}</b>
        </div>

        <div class="col-xs-{{data.inputLength}}">
            {% include "SpeAppBundle:Template:myprofile/ui/beneficiary/inputs/" ~ data.type ~".html.twig" %}  
        </div>
    </div>
    {% endif %}
    {% endfor %} 
</div>
