<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 opt-out" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{this.translate('contributions', 'Contr', 'Contr59')}}
            </v-col>
        </v-row>
        <v-row class="subtitle-1">
            <v-col class="text-left" cols="12">
                {{this.translate('contributions', 'Contr', 'Contr60')}}
            </v-col>
        </v-row>
        <v-row class="subtitle-1">
            <v-radio-group v-model="optOutRadio" :mandatory="false"  @change="updateOptRadios">
                <v-row class="ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-1" value="radio-1">
                            <template slot="label">
                                <div>
                                    <strong>{{this.translate('contributions', 'Contr', 'Contr61')}}</strong> {{this.translate('contributions', 'Contr', 'Contr62')}}
                                </div>
                            </template>
                        </v-radio>
                    </v-col>
                </v-row>
                <v-row class="ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-2" value="radio-2">
                            <template slot="label">
                                <div>
                                    {{this.translate('contributions', 'Contr', 'Contr63')}}
                                </div>
                            </template>
                        </v-radio>
                    </v-col>
                </v-row>
            </v-radio-group>
        </v-row>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, PathContent},
        methods: {
            updateOptRadios() {
                let optOutRadios = this.optOutRadio;
                this.$store.commit("SET_OPT_OUT_RADIOS", optOutRadios);
            }
        },
        computed: {
            optOutRadio: {
                get: function () {
                    return this.$store.state.optOutRadios
                },
                set: function (optOutRadio) {
                    this.$store.state.optOutRadios = optOutRadio
                }
            },
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging', ])
        },
        mounted() {
            this.$store.dispatch('getContributions')
            this.$store.dispatch('getRetirementNeeds')
            this.$store.dispatch('getResultsData')

        },
    }
</script>


<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass"; 
    @import "../../styles/styles.css";

    .opt-out ::v-deep .v-label{
        color: #000
    }
    .opt-out ::v-deep .v-input--selection-controls{
        margin-top: 0 !important
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
    }
</style>
