<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 opt-out" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{ title }}
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-col class="text-left" cols="12">
                {{ description }}
            </v-col>
        </v-row>
        <v-row class="body-1" justify="center">
            <v-col sm="12" md="10">
                <v-radio-group v-model="optRadio" :mandatory="false" @change="updateOptRadios"  class="width-100 card-cont">
                    <v-row v-for="(option, i) in options" :key="i" :class="selectedName == option.value ? 'card-row' : 'card-row sp-border'" >
                        <v-col cols="12" class="pa-0">
                            <v-card class="pa-4 width-100" max-width="800px" :class="selectedName == option.value ? 'white-bg my-8 elevation-7 set-radius' : 'gray-5-bg sp-elevation'" :tile="selectedName == option.value ? false : true" @click.native="selectCard(option)">
                                <v-row>
                                    <v-col cols="12" lg="1" md="1" sm="1" xl="1" class="text-center">
                                        <v-radio :name="option.value" ref="typeRadio" :value="option.value" class="align-center"></v-radio>
                                    </v-col>
                                    <v-col cols="12" lg="11" md="11" sm="11" xl="11" class="mt-n1 pb-0">
                                        <label :for="option.value" class="display-1">
                                            {{ option.title }}
                                        </label>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="2" lg="1" md="1" sm="1" xl="1"></v-col>
                                    <v-col cols="12" lg="11" md="11" sm="11" xl="11" class="body-1">
                                        {{ option.description }}
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-radio-group>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        name: "AutosOptOutCombined",
        components: {StepAudioPlayer, PathContent},
        data () {
            return {
                radios: 'radio-1',
                cardSelected: false,
                selectedName: '',
            }
        },
        methods: {
            updateOptRadios() {
                this.$store.commit("SET_OPT_RADIOS", this.optRadio);
            },
            selectCard(item){
                Object.keys(this.$refs.typeRadio).forEach(key => {
                    if(this.$refs.typeRadio[key].value == item.value){
                        this.$refs.typeRadio[key].isActive = true;
                        this.cardSelected = true;
                        this.selectedName = item.value;
                        this.optRadio = item.value;
                        this.updateOptRadios()
                    }else{
                        this.$refs.typeRadio[key].isActive = false
                    }
                });
            }
        },
        computed: {
            optRadio: {
                get: function () {
                    return this.$store.state.optRadios
                },
                set: function (optRadio) {
                    this.$store.state.optRadios = optRadio
                }
            },
            autoEscalateContributionIncreaseAmount: function() {
                let sumEscalate = 0;
                for(let key in this.common.autos.autoEscalateData){
                    if(this.common.autos.autoEscalateData[key] != null) {
                        sumEscalate += parseFloat(this.common.autos.autoEscalateData[key])
                    }
                }
                return sumEscalate;
            },
            title() {
                if (this.common.autos.autoEscalate) {
                    return this.translate('contributions', 'AutosACA', 'Great_News_Auto_Escalate');
                }
                return this.translate('contributions', 'AutosACA', 'Great_News');
            },
            description() {
                if (this.common.autos.autoEscalate) {
                    return this.translate('contributions', 'AutosACA', 'Autos_Summary_Auto_Escalate');
                }
                return this.translate('contributions', 'AutosACA', 'Autos_Summary');
            },
            options() {
                let optInText = this.translate('contributions', 'AutosACA', 'Auto_Enroll_1', {
                    '<contributionRate>': this.common.autos.defaultpct,
                    '<defaultFundName>': this.common.autos.defaultFundName
                });
                return [
                    {
                        'title': this.translate('contributions', 'AutosACA', 'Auto_Enroll'),
                        'description': optInText,
                        'value' : 'radio-1'
                    },
                    {
                        'title': this.translate('contributions', 'AutosACA', 'Manually_Enroll'),
                        'description': this.translate('contributions', 'AutosACA', 'Manually_Enroll_1'),
                        'value' : 'radio-2'
                    },
                    {
                        'title': this.translate('contributions', 'AutosACA', 'Opt_Out'),
                        'description': this.translate('contributions', 'AutosACA', 'Opt_Out_1'),
                        'value' : 'radio-3'
                    }
                ];
            },
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging', ])
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .opt-out ::v-deep .v-label{
        color: #000
    }
    .opt-out ::v-deep .v-input--selection-controls{
        margin-top: 0 !important
    }
    .sp-elevation{
        box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14)!important;
    }
    .opt-out ::v-deep .v-input--selection-controls {
        margin-top: 0!important;
    }
    .card-row{
        max-width: 800px;
        width: 100%!important;
    }
    .card-cont ::v-deep .v-input--radio-group__input{
        align-items: center!important;
    }
    .sp-border{
        border-top: 1px solid rgba(0,0,0,.2);
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
</style>