<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 opt-out" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <v-row class="display-1">
            <v-col class="text-left" cols="12">
                {{autos.title}}
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-col class="text-left" cols="12">
                {{autos.description}}
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-radio-group v-model="optRadio" :mandatory="false" @change="updateOptRadios" >
                <v-row class="ms0 ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-1" value="radio-1" class="align-start">
                            <template slot="label">
                                <div>
                                    <strong>{{autos.yesBold}}</strong> {{autos.yesOption}}
                                </div>
                            </template>
                        </v-radio>
                    </v-col>
                </v-row>
                <v-row class="ms0 ma-0">
                    <v-col cols="12">
                        <v-radio name="radio-2" value="radio-2" class="align-start">
                            <template slot="label">
                                <div>
                                    {{autos.noOption}}
                                </div>
                            </template>
                        </v-radio>
                    </v-col>
                </v-row>
            </v-radio-group>
        </v-row>
        <v-divider></v-divider>
        <v-row class="caption secondary--text text--darken-2 ma-0">
            <v-col cols="12">
                {{autos.disclaimer}}
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, PathContent},
        methods: {
            updateOptRadios() {
                this.$store.commit("SET_OPT_RADIOS", this.optRadio);
            },
        },
        computed: {
            optRadio: {
                get: function () {
                    return this.$store.state.optRadios
                },
                set: function (optRadio) {
                    this.$store.state.optRadios = optRadio
                }
            },
            autoEscalateContributionIncreaseAmount: function() {
                let sumEscalate = 0;
                for(let key in this.common.autos.autoEscalateData){
                    if(this.common.autos.autoEscalateData[key] != null) {
                        sumEscalate += parseFloat(this.common.autos.autoEscalateData[key])
                    }
                }
                return sumEscalate;
            },
            autos: function () {
                if (this.common.autos.autoEnroll && this.common.autos.defaultInvestment && this.common.autos.autoEscalate){
                    return {
                        //3 on ticket
                        title: this.translate('contributions', 'Contr', 'Contr29'),
                        description: this.translate('contributions', 'Contr', 'Contr51') + this.translate('contributions', 'Contr', 'Contr52'),
                        yesBold: this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: this.translate('contributions', 'Contr', 'Contr50') + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr36') + this.common.autos.defaultFundName + this.translate('contributions', 'Contr', 'Contr57') + (Math.floor(this.common.autos.autoEscalateData.pre) + Math.floor(this.common.autos.autoEscalateData.roth) + Math.floor(this.common.autos.autoEscalateData.post)) + '%' + this.translate('contributions', 'Contr', 'Contr58') + this.common.autos.autoIncreaseData.startDate + '.',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: this.translate('contributions', 'Contr', 'Contr46', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.translate('contributions', 'Contr', 'Contr47', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.common.autos.defaultFundName + this.translate('contributions', 'Contr', 'Contr48',  {'%defaultFundName' : this.common.autos.defaultFundName, '%noDays' : this.common.autos.daysInMoneyHolder})
                    }
                } else if (this.common.autos.autoEnroll && this.common.autos.defaultInvestment && this.common.autos.autoEscalate){
                    return {
                        //4th on ticket
                        title: this.translate('contributions', 'Contr', 'Contr29'),
                        description: this.translate('contributions', 'Contr', 'Contr51') + this.translate('contributions', 'Contr', 'Contr52') + '?',
                        yesBold: this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: this.translate('contributions', 'Contr', 'Contr53') + '(' + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr36') + this.common.autos.defaultFundName + '). ' + this.translate('contributions', 'Contr', 'Contr54', {'%fundNameA': this.$store.state.common.autos.moneyHolderFundName}) + parseFloat(this.common.autos.defaultpct) + '%' + this.translate('contributions', 'Contr', 'Contr38') + this.common.autos.autoIncreaseData.startDate + '.',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: this.translate('contributions', 'Contr', 'Contr55', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.translate('contributions', 'Contr', 'Contr56', {'%fundNameA': this.$store.state.common.autos.moneyHolderFundName, '%defaultFundName' : this.common.autos.defaultFundName, '%noDays' : this.common.autos.daysInMoneyHolder, '%noDays2' : this.common.autos.daysInMoneyHolder})
                    }
                } else if (this.common.autos.autoEnroll && this.common.autos.autoEscalate){
                    return {
                        //5th on ticket
                        title: this.translate('contributions', 'Contr', 'Contr29'),
                        description: this.translate('contributions', 'Contr', 'Contr51') + this.translate('contributions', 'Contr', 'Contr52'),
                        yesBold: this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: this.translate('contributions', 'Contr', 'Contr35') + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr36') + this.common.autos.defaultFundName + '). ' + this.translate('contributions', 'Contr', 'Contr54') + parseFloat(this.common.autos.defaultpct) + '%' + this.translate('contributions', 'Contr', 'Contr38') + this.common.autos.autoIncreaseData.startDate + '.',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: this.translate('contributions', 'Contr', 'Contr46', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.translate('contributions', 'Contr', 'Contr47', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.common.autos.defaultFundName + this.translate('contributions', 'Contr', 'Contr48', {'%defaultFundName' : this.common.autos.defaultFundName, '%noDays' : this.common.autos.daysInMoneyHolder}) + '.'
                    }
                } else if (this.common.autos.autoEnroll && this.common.autos.autoEscalate){
                    return {
                        //6th on ticket
                        title: this.translate('contributions', 'Contr', 'Contr29'),
                        description: this.translate('contributions', 'Contr', 'Contr30') + this.translate('contributions', 'Contr', 'Contr52') + '?',
                        yesBold:this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: !this.common.autos.defaultFundName ? this.translate('contributions', 'Contr', 'Contr35') + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr33') + (Math.floor(this.common.autos.autoEscalateData.pre) + Math.floor(this.common.autos.autoEscalateData.roth) + Math.floor(this.common.autos.autoEscalateData.post)) + '%' + this.translate('contributions', 'Contr', 'Contr34') + this.common.autos.autoIncreaseData.startDate : this.translate('contributions', 'Contr', 'Contr35') + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr36') + this.common.autos.defaultFundName + ').' + this.translate('contributions', 'Contr', 'Contr37') + (Math.floor(this.common.autos.autoIncreaseData.pre) + Math.floor(this.common.autos.autoIncreaseData.roth) + Math.floor(this.common.autos.autoIncreaseData.post)) + '%' + this.translate('contributions', 'Contr', 'Contr38') + this.common.autos.autoIncreaseData.startDate + '.',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: ''
                    }
                }else if (this.common.autos.autoEnroll && this.common.autos.defaultInvestment){
                    return {
                        //2nd on ticket
                        title: this.translate('contributions', 'Contr', 'Contr41'),
                        description: this.translate('contributions', 'Contr', 'Contr42'),
                        yesBold: this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: this.translate('contributions', 'Contr', 'Contr43') + this.common.autos.defaultpct + '%' + this.translate('contributions', 'Contr', 'Contr36') + this.common.autos.defaultFundName + ')',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: this.translate('contributions', 'Contr', 'Contr46', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.translate('contributions', 'Contr', 'Contr47', {'%noDays' : this.common.autos.daysInMoneyHolder}) + this.common.autos.defaultFundName + this.translate('contributions', 'Contr', 'Contr48',  {'%defaultFundName' : this.common.autos.defaultFundName, '%noDays' : this.common.autos.daysInMoneyHolder}) + '.'
                    }
                } else if (this.common.autos.autoEnroll){
                    return {
                        //1st on ticket
                        title: this.translate('contributions', 'Contr', 'Contr41'),
                        description: this.translate('contributions', 'Contr', 'Contr49'),
                        yesBold: this.translate('contributions', 'Contr', 'Contr31', {'%defaultContributionAmount%' : this.common.autos.defaultpct}),
                        yesOption: this.translate('contributions', 'Contr', 'Contr50') + this.common.autos.defaultpct + '%)' + '.',
                        noOption: this.translate('contributions', 'Contr', 'Contr40'),
                        disclaimer: ''
                    }
                }

            },
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging', ])
        },
        mounted() {
            this.$store.dispatch('getContributions')
            this.$store.dispatch('getRetirementNeeds')
            this.$store.dispatch('getResultsData')
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .opt-out ::v-deep .v-label{
        color: #000
    }
    .opt-out ::v-deep .v-input--selection-controls{
        margin-top: 0 !important
    }
    @media only screen and (max-width: 960px) {
        .row {
            margin-right: 0!important;
            margin-left: 0!important
        }
        .col-xs-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
    }
</style>
