<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 def set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <path-content section="contributions" step="Contr" label="Intro_Title"></path-content>
        <path-content section="contributions" step="Contr" label="Intro_Description"></path-content>
        <v-card :elevation="7" class="width-100 pa-3 pa-sm-4 pa-md-4 pa-xl-4 pa-lg-4 mt-3">
            <v-row>
                <v-col cols="12" v-if="!showThirty" class="display-1 text-center">
                    ${{results.ContributionDlr}}/{{this.translate('contributions', 'Contr', 'Intro_Month')}}
                </v-col>
                <v-col cols="12" v-if="showThirty" class="display-1 text-center">
                    ${{Number(results.FullContributionCalc.MonthlyIncome).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}/{{this.translate('contributions', 'Contr', 'Intro_Month')}}
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="headline text-center">
                    {{this.translate('contributions', 'Contr', 'Intro_Recc_Monthly')}}
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="title text-center">
                    {{this.translate('contributions', 'Contr', 'Intro_News')}}
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="title text-center d-flex justify-center">
                    <v-switch
                    v-model="showThirty"
                    color="primary">
                        <template slot="label">
                            <span>
                                {{this.translate('contributions', 'Contr', 'Intro_Show_Full')}}
                            </span>
                        </template>
                    </v-switch>
                </v-col>
            </v-row>
            <v-row class="justify-center text-center bar-width mx-auto">
                <template v-if="!showThirty">
                    <v-col cols="12">
                        <progress-bar
                            :target="30"
                            :value1="results.ContributionPct"
                            :value2="0"
                            :target-label="translate('contributions', 'Contr', 'Target_Income')"
                            :target-amount="'30'"
                            :label2="translate('contributions', 'Contr', 'Contr78')"
                            :label1="translate('contributions', 'Contr', 'Contr16')"
                            :color1="contributionsColor"
                            :color2="matchingColor"
                            :tooltip-title="translate('contributions', 'Contr', 'Contr72')"
                            :newMax="results.ContributionPct < 30 ? 30 : results.ContributionPct"
                            :show-target="results.ContributionPct < 30 ? false : true"
                            :by-percent="true"
                            :show-both-values="false"
                            :show-thirty="true"
                        ></progress-bar>
                    </v-col>
                </template>
                <template v-else>
                    <v-col cols="12">
                        <progress-bar
                                :target="30"
                                :value2="0"
                                :value1="results.ContributionPct"
                                :target-label="translate('contributions', 'Contr', 'Target_Income')"
                                :target-amount="'30'"
                                :label2="translate('contributions', 'Contr', 'Contr78')"
                                :label1="translate('contributions', 'Contr', 'Contr16')"
                                :color1="contributionsColor"
                                :color2="matchingColor"
                                :tooltip-title="translate('contributions', 'Contr', 'Contr72')"
                                :newMax="100"
                                :show-target="true"
                                :by-percent="true"
                                :show-both-values="false"
                                :show-thirty="false"
                        ></progress-bar>
                    </v-col>
                </template>
            </v-row>
        </v-card>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import ProgressBar from "../Global/ProgressBar";
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {
            StepAudioPlayer,
            PathContent,
            ProgressBar
        },
        data: () => ({
            showThirty: false,
        }),
        computed: {
            targetAmount() {
                return this.results.ContributionDlr.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            },
            targetAmountRaw() {
                return this.results.ContributionDlr;
            },
            contributionsColor() {
                return this.$store.state.colors.hex2 ? this.$store.state.colors.hex2 : '#2560A9';
            },
            matchingColor() {
                return this.$store.state.colors.hex3 ? this.$store.state.colors.hex3 : '#01436D';
            },
            validation: {
                get () {
                    if (this.contributionsData.IRSLimitExceeded || this.sliderValid == false ) {
                        return false;
                    }
                    return true;
                },
                set(validation){
                    this.$store.state.validation = validation
                }

            },
            contributionDlr (){
                let a = this.results.ContributionDlr.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                return a
            },
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging'])
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .bar-width{
        max-width: 700px;
    }
    @media only screen and (max-width: 960px) {
        .col-xs-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .body-2 font-weight-medium {
            font-size: .9rem!important
        }
        .slider-col.pa-8 {
            padding: 0 10px!important;
        }
    }
</style>
