<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 def set-radius" :elevation="0">
        <disclaimer :message="'deferrals'" :messageActive="'deferralsActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <path-content section="contributions" step="Contr" label="Contr94"></path-content>
        <path-content section="contributions" step="Contr" label="Contr_Description" :replace="replaceRules"></path-content>
        <v-row class="align-center title">
            <v-col cols="12" class="pb-0">
                {{this.translate('contributions', 'Contr', 'Contr_Set_Amount')}}
            </v-col>
        </v-row>
        <v-card :elevation="7" class="width-100 pa-3 pa-sm-4 pa-md-4 pa-xl-4 pa-lg-4">
            <v-row>
                <v-col cols="12" lg="4" md="4" class="pa-0 pa-md-3 pa-lg-3 pa-xl-3">
                    <v-row v-for="(deferral, key) in this.contributionsData.deferrals" :key="deferral.ID" :class="contributionMode == 'percent' ? '' : 'align-baseline'">
                        <v-col cols="5" lg="5" md="5" xl="5" class="pa-0 pa-sm-3 pa-md-3 pa-lg-3 pa-xl-3">
                            <span class="title">{{ deferral.shortdescription }}</span>
                            <v-tooltip color="black" max-width="320px" bottom>
                                <template v-slot:activator="{ on }">
                                    <v-icon class="body-1 font-weight-medium primary--text" v-on="on">mdi-information-outline</v-icon>
                                </template>
                                <span v-if="deferral.shortdescription == 'Post-tax'">{{translate("contributions", "Contr", "Contr26")}}</span>
                                <span v-if="deferral.shortdescription == 'Pre-tax'">{{translate("contributions", "Contr", "Contr27")}}</span>
                                <span v-if="deferral.shortdescription == 'Roth'">{{translate("contributions", "Contr", "Contr28")}}</span>
                            </v-tooltip>
                        </v-col>
                        <v-col cols="7" lg="7" md="7" xl="7" class="pa-0 pa-sm-3 pa-md-3 pa-lg-3 pa-xl-3">
                            <template v-if="contributionMode === 'percent'">
                                <v-slider
                                        v-model="deferrals[key + 'Percent']"
                                        :min="deferral.minPercent"
                                        :max="deferral.maxPercent"
                                        @change="enqueueCalculate"
                                        thumb-label
                                >
                                    <template v-slot:thumb-label="{ value }">
                                        {{ value }}%
                                    </template>
                                </v-slider>
                            </template>
                            <template v-else>
                                <v-currency-field
                                        v-model="deferrals[key + 'Dollar']"
                                        class="pt-0 mb-2 dollar-field title font-weight-regular"
                                        outlined
                                        :aria-label="deferral.shortdescription +  ' dollar deferral amount'"
                                        :class="deferrals[key + 'Dollar'] || deferrals[key + 'Dollar'] == 0 ? '' : 'currency-no-val'"
                                        @input="enqueueCalculate"
                                        :default-value="deferrals[key + 'Dollar']"
                                        v-bind="currency"
                                ></v-currency-field>
                            </template>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" lg="8" md="8" class="text-center pa-0 pa-md-3 pa-lg-3 pa-xl-3" :class="common.mode == 'option'? '' : 'center-graph'">
                    <v-row v-if="common.mode == 'option'">
                        <v-col cols="12" class="text-right pt-0 pb-12">
                            <v-btn-toggle
                                    mandatory
                            >
                                <v-btn v-if="common.mode == 'pct' || common.mode == 'option'" @click="changeMode('percent')">
                                    <v-icon>%</v-icon>
                                </v-btn>
                                <v-btn v-if="common.mode == 'dlr' || common.mode == 'option'" @click="changeMode('dollar')">
                                    <v-icon>$</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                        </v-col>
                    </v-row>
                    <v-row class="justify-center">
                        <v-col cols="10">
                            <progress-bar
                                    :newMax="null"
                                    :show-target="true"
                                    :by-percent="false"
                                    :show-both-values="true"
                                    :target="targetAmountRaw"
                                    :value1="contributionsData.estimatedMonthlyContribution"
                                    :value2="contributionsData.matchingAmountMonthly"
                                    :target-label="translate('contributions', 'Contr', 'Contr_Target_Contr')"
                                    :target-amount="targetAmount"
                                    :label2="translate('contributions', 'Contr', 'Contr78')"
                                    :label1="translate('contributions', 'Contr', 'Contr16')"
                                    :color1="contributionsColor"
                                    :color2="matchingColor"
                                    :tooltip-title="translate('contributions', 'Contr', 'Contr72')"
                                    :show-thirty="false"
                            ></progress-bar>
                        </v-col>
                    </v-row>
                    <v-row class="justify-center">
                        <v-col cols="12" lg="3" md="3" sm="3" xl="3" class="border-right">
                            <v-row class="justify-center">
                                {{translate('contributions', 'Contr', 'Contr_Your_Contr')}}
                            </v-row>
                            <v-row class="justify-center title">
                                ${{contributionsData.estimatedMonthlyContributionDisplay}}
                            </v-row>
                        </v-col>
                        <v-col cols="12" lg="3" md="3" sm="3" xl="3" class="border-right">
                            <v-row class="justify-center">
                                {{translate('contributions', 'Contr', 'Contr_Match')}}
                            </v-row>
                            <v-row class="justify-center title">
                                ${{contributionsData.matchingAmountMonthlyDisplay}}
                            </v-row>
                        </v-col>
                        <v-col cols="12" lg="3" md="3" sm="3" xl="3">
                            <v-row class="justify-center">
                                {{translate('contributions', 'Contr', 'Contr_Total_Contr')}}
                            </v-row>
                            <v-row class="justify-center title">
                                ${{contributionsData.monthlyContributionTotalDisplay}}
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-card>
        <v-row>
            <v-col cols="0" lg="7" md="7" xl="7" sm="5"></v-col>
            <v-col cols="12" lg="5" md="5" xl="5" sm="7">
                <v-row>
                    <v-col cols="12" class="text-center display-1 pb-0">
                        ${{contributionsData.projectedMonthlyTotalDisplay}}
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" class="text-center body-1 pb-0">
                        {{translate('contributions', 'Contr', 'Contr_Goal')}}: ${{contributionsData.targetMonthlyIncomeDisplay}}/mo
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" class="text-center title">
                        {{translate('contributions', 'Contr', 'Contr_Resulting')}}
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <!-- irs snackbar -->
        <v-snackbar v-model="contributionsData.IRSLimitExceeded && !maxContributions" style="position: sticky" :timeout="6000" bottom right>
            <v-icon class="snackbar-check">mdi-alert</v-icon> &nbsp;{{this.translate("contributions", "Contr", "Alert_IRS")}}
        </v-snackbar>
        <!-- max contribution snackbar-->
        <v-snackbar v-model="maxContributions" style="position: sticky; left: -10px;" class="employer-match-snack max-cont body-1 white-font width-100" bottom right vertical :timeout="0">
            <v-row class="ma-0">
                <v-col cols="2" lg="1" md="1">
                    <v-icon class="snackbar-check">mdi-alert</v-icon>
                </v-col>
                <v-col cols="10" lg="11" md="11">
                    {{this.translate("contributions", "Contr", "Alert_Max_Cont")}}
                </v-col>
            </v-row>
        </v-snackbar>
        <!-- employer match dialog-->
        <v-dialog v-model="$store.state.maxEmployerMatchActive" width="315">
            <v-card class="set-radius def-modal">
                <v-card-title>
                    {{this.translate("contributions", "Contr", "Alert_Max_Match_Heading")}}
                </v-card-title>
                <v-card-text>
                    <v-row class="ma-0 flex-nowrap align-baseline">
                        {{this.translate("contributions", "Contr", "Alert_Max_Match_Body", {
                        '<#>': contributionsData.maxMatch.percent,
                        '<#monthly>': contributionsData.maxMatch.monthlyDisplay
                        })}}
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn text rounded @click="$store.state.maxEmployerMatchActive = false">
                        {{this.translate('contributions', 'Contr', 'Contr102')}}
                    </v-btn>
                    <v-btn text rounded @click="underIsFine">
                        {{this.translate('contributions', 'Contr', 'Contr103')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- catchup dialog-->
        <v-dialog v-model="$store.state.underCatchupActive" width="315">
            <v-card class="set-radius def-modal">
                <v-card-title>
                    {{this.translate('contributions', 'Contr', 'Catchup_Heading')}}
                </v-card-title>
                <v-card-text>
                    <v-row class="ma-0 flex-nowrap align-baseline">
                        {{this.translate('contributions', 'Contr', 'Snackbar_Catchup', {
                        '%catchUpContributions%': this.common.limit_50y.toLocaleString()
                        })}}
                    </v-row>
                    <div class="mt-2">
                        <v-text-field
                                v-model="catchupValue"
                                class="title font-weight-regular"
                                outlined
                                type="number"
                                required
                        ></v-text-field>
                    </div>
                    <div class="mt-2">
                        <v-radio-group v-model="catchupMode" row v-if="common.planCatchupSetting == 2">
                            <v-radio label="$" value="DEFERDLR"></v-radio>
                            <v-radio label="%" value="DEFERPCT"></v-radio>
                        </v-radio-group>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn text rounded @click="underCatchupCancel">
                        {{this.translate('contributions', 'Contr', 'No_Thanks')}}
                    </v-btn>
                    <v-btn text rounded @click="underCatchupIsFine">
                        {{this.translate('contributions', 'Contr', 'Contr103')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import RightCardDEF from './RightCardDEF';
    import PathContent from "../Content/PathContent";
    import { currency } from '../../config'
    import Disclaimer from "../Global/Disclaimer";
    import ProgressBar from "../Global/ProgressBar";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {
            StepAudioPlayer,
            RightCardDEF,
            PathContent,
            Disclaimer,
            ProgressBar
        },
        data: () => ({
            snackbar: false,
            maxPreTaxSnackbar: false,
            sliderValid: true,
            currency: currency,
            underOk: false,
            maxEmployerMatchPercent: false,
            maxEmployerMatchDollar: false,
            maxContributions: false,
            optOutOfAutosConfirm: false,
            optIntoAutos: false,
            underCatchup: false,
            underCatchupActive: false,
            outOfBoundsRoth: false,
            outOfBoundsPre: false,
            outOfBoundsPost: false,
            outOfBoundsDeferral: false,
            deferrals: {
                prePercent: 0,
                preDollar: 0,
                rothPercent: 0,
                rothDollar: 0,
                postPercent: 0,
                postDollar: 0,
            },
            contributionMode: 'percent',
            calcRunning: false,
            calcEnqueued: false,
        }),
        computed: {
            catchupValue: {
                get () {
                    return this.$store.state.catchupValue;
                },
                set(catchupValue){
                    this.$store.commit('SET_CATCHUP_VALUE', catchupValue);
                }
            },
            catchupMode: {
                get () {
                    return this.$store.state.catchupMode;
                },
                set(catchupMode){
                    this.$store.commit('SET_CATCHUP_MODE', catchupMode);
                }
            },
            targetAmount() {
                return String(this.results.ContributionDlr.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            },
            targetAmountRaw() {
                return this.results.ContributionDlr;
            },
            contributionsColor() {
                return this.$store.state.colors.hex2 ? this.$store.state.colors.hex2 : '#2560A9';
            },
            matchingColor() {
                return this.$store.state.colors.hex3 ? this.$store.state.colors.hex3 : '#01436D';
            },
            replaceRules(){
                return {
                    '%monthlyIncome%': this.contributionsData.targetMonthlyIncomeDisplay,
                    '%percent%': this.results.ContributionPct,
                    '%dollar%': Math.floor(this.results.ContributionDlr).toLocaleString()
                }
            },
            ACAMsg(){
                return this.translate("contributions", "Contr", "Contr17")
            },
            ACAOnly: function () {
                if (this.common.autos.defaultInvestment){
                    return false;
                }
                return true;
            },
            validation: {
                get () {
                    if (this.contributionsData.IRSLimitExceeded || this.sliderValid == false ) {
                        return false;
                    }
                    return true;
                },
                set(validation){
                    this.$store.state.validation = validation
                }

            },
            ACAon: {
                get: function () {
                    return this.common.ACAon
                },
                set: function (ACAon) {
                    this.common.ACAon = ACAon
                }
            },
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging'])
        },
        mounted() {
            if(this.common.mode == 'dlr'){
                this.contributionMode = 'dollar'
            }
            this.catchupMode = 'DEFERDLR';
            if (this.common.planCatchupSetting == 0) {
                this.catchupMode = 'DEFERPCT';
            }
            this.calculate().then(() => {
                for(let key in this.contributionsData.deferrals) {
                    if (this.contributionsData.deferrals.hasOwnProperty(key)) {
                        this.deferrals[key + 'Percent'] = this.contributionsData.deferrals[key].currentPercent;
                        this.deferrals[key + 'Dollar'] = this.contributionsData.deferrals[key].currentDollar;
                    }
                }
                this.initializeDeferrals();

                this.contributionMode = this.contributionsData.mode;
                this.enqueueCalculate();
            })
        },
        methods: {
            resetOrNull(){
                if(this.optIntoAutos){
                    this.resetToACA();
                    this.enqueueCalculate();
                }
            },
            underIsFine(){
                if (this.common.autos.autoIncrease == true && !this.underCatchup) {
                    return this.$emit('updateStep')
                } else if(this.underCatchup){
                    this.$store.commit('SET_UNDER_CATCHUP_ACTIVE', true)
                } else {
                    this.$emit('nextSectionChild')
                }
            },
            underCatchupCancel() {
                this.$store.commit('SET_UNDER_CATCHUP_ACTIVE', false);
                this.$store.commit('SET_CATCHUP_CONFIRMED', false);
                this.$store.commit('SET_IN_CATCHUP', true);
                this.$nextTick(() => {this.$emit('next')});
            },
            underCatchupIsFine(){
                this.$store.commit('SET_UNDER_CATCHUP_ACTIVE', false);
                this.$store.commit('SET_CATCHUP_CONFIRMED', true);
                this.$store.commit('SET_IN_CATCHUP', true);
                this.$nextTick(() => {this.$emit('next')});
            },
            checkOptIntoAutos(){
                let sumDeferrals = this.getSumDeferralsPct();

                if (sumDeferrals == this.common.autos.defaultpct) {
                    this.optIntoAutos = true;
                } else {
                    this.optIntoAutos = false;
                }
                this.$store.commit('SET_OPT_OUT_OF_AUTOS', this.optIntoAutos)
            },
            checkOutOfBounds(){
                Object.keys(this.contributionsData.deferrals).forEach(key => {
                    if(this.deferrals[key + 'Dollar'] < Math.floor(this.contributionsData.deferrals[key].minDollar)) {
                        this.outOfBoundsDeferral = true;
                        this.checkOnOutOfDef(key);
                    }else if(this.deferrals[key + 'Dollar'] > Math.floor(this.contributionsData.deferrals[key].maxDollar)) {
                        this.outOfBoundsDeferral = true;
                        this.checkOnOutOfDef(key);
                    }else{
                        this.checkOffOutOfDef(key);
                    }
                })
                this.checkOutOfBoundsDef();
                this.$store.commit('SET_OUT_OF_BOUNDS_DEFERRAL', this.outOfBoundsDeferral)
            },
            checkOnOutOfDef(def){
                if(def == 'post'){
                    this.outOfBoundsPost = true;
                }else if(def == 'pre'){
                    this.outOfBoundsPre = true;
                }else if(def == 'roth'){
                    this.outOfBoundsRoth = true;
                }
            },
            checkOffOutOfDef(def){
                if(def == 'post'){
                    this.outOfBoundsPost = false;
                }else if(def == 'pre'){
                    this.outOfBoundsPre = false;
                }else if(def == 'roth'){
                    this.outOfBoundsRoth = false;
                }
            },
            checkOutOfBoundsDef(){
                if(this.outOfBoundsPost == false && this.outOfBoundsPre == false && this.outOfBoundsRoth == false) {
                    this.outOfBoundsDeferral = false
                }
            },
            confirmOptOut(){
                this.optOutOfAutosConfirm = true;
            },
            setUnderOk(){
                this.underOk = true;
                this.overMatchCheck()
            },
            percentRules(deferral){
                return [
                    v => v >= deferral.minPercent || 'Min: ' + deferral.minPercent.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '%',
                    v => v <= deferral.maxPercent || 'Max: ' + deferral.maxPercent.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '%',
                ]
            },
            dollarRules(deferral){
                return [
                    (v) => v >= deferral.minDollar || 'Min: $' + deferral.minDollar.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    (v) => v <= deferral.maxDollar || 'Max: $' + deferral.maxDollar.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                ]
            },
            initializeDeferrals() {
                if (this.$store.state.optRadios == 'radio-1') {
                    this.resetToACA()
                }
            },
            updateMaxContributions: function () {
                if(this.contributionMode === 'percent'){
                    let sumDeferrals = this.getSumDeferralsPct();
                    this.setMaxContributions(sumDeferrals)
                }else{
                    let sumDeferrals = this.getSumDeferralsVal();
                    this.setMaxContributionsDlr(sumDeferrals)
                }
            },
            setMaxContributions(sum){
                if(sum > parseInt(this.contributionsData.maxDeferral)){
                    this.maxContributions = true;
                    this.$store.commit('SET_MAX_CONTRIBUTIONS', this.maxContributions)
                }else{
                    this.maxContributions = false;
                    this.$store.commit('SET_MAX_CONTRIBUTIONS', this.maxContributions)
                }
            },
            setMaxContributionsDlr(sum){
                if(sum > this.contributionsData.maxDeferralDollar){
                    this.maxContributions = true;
                    this.$store.commit('SET_MAX_CONTRIBUTIONS', this.maxContributions)
                }else{
                    this.maxContributions = false;
                    this.$store.commit('SET_MAX_CONTRIBUTIONS', this.maxContributions)
                }
            },
            changeMode(mode) {

                this.contributionMode = mode;

                for(let key in this.contributionsData.deferrals)
                {
                    let deferral = this.contributionsData.deferrals[key];
                    let currentPercent = this.roundToNearestStep(deferral.currentPercent,deferral.percentStep);
                    let currentDollar = this.roundToNearestStep(deferral.currentDollar,deferral.dollarStep);
                    if (currentPercent < deferral.minPercent)
                    {
                        currentPercent = this.ceilToNearestStep(deferral.minPercent,deferral.percentStep);
                    }
                    if (currentDollar < deferral.minDollar)
                    {
                        currentDollar = this.ceilToNearestStep(deferral.minDollar,deferral.dollarStep);
                    }
                    if (currentPercent > deferral.maxPercent)
                    {
                        currentPercent = this.floorToNearestStep(deferral.maxPercent,deferral.percentStep);
                    }
                    if (currentDollar > deferral.maxDollar)
                    {
                        currentDollar = this.floorToNearestStep(deferral.maxDollar,deferral.dollarStep);
                    }

                    if (mode === 'percent') {
                        this.deferrals[key + 'Percent'] = currentPercent;
                    }
                    else {
                        this.deferrals[key + 'Dollar'] = currentDollar;
                    }
                }
                this.enqueueCalculate();
            },
            roundToNearestStep (num, step)
            {
                return Math.round(num *(1/step))/(1/step);
            },
            ceilToNearestStep(num, step)
            {
                return Math.ceil(num *(1/step))/(1/step);
            },
            floorToNearestStep(num, step)
            {
                return Math.floor(num *(1/step))/(1/step);
            },
            range: function(min, max, step) {
                let arr = [];
                for (let i = min; i <= max; i += step) {
                    arr.push(i);
                }
                return arr;
            },
            resetToACA: function () {
                //184 - autos opt out - reset
                for(let key in this.contributionsData.deferrals) {
                    this.deferrals[key + 'Percent'] = this.common.autos.autoEnrollData[key];
                }

                this.updateMaxContributions()
            },
            getSumDeferralsPct: function () {
                let sumDeferrals = 0;
                for(let key in this.contributionsData.deferrals){
                    sumDeferrals += parseFloat(this.deferrals[key + 'Percent'])
                }
                return sumDeferrals;
            },
            getSumDeferralsVal: function () {
                let sumDeferrals = 0;
                for(let key in this.contributionsData.deferrals){
                    sumDeferrals += parseFloat(this.deferrals[key + 'Dollar'])
                }
                return sumDeferrals;
            },
            overMatchCheck(){
                let sumDeferrals = this.getSumDeferralsPct();
                let sumDeferralsDollar = this.getSumDeferralsVal();

                if (this.contributionsData.maxMatch.percent && this.contributionMode === 'percent' && Math.floor(this.contributionsData.maxMatch.percent) > 0 && sumDeferrals < Math.floor(this.contributionsData.maxMatch.percent) && !this.underOk) {
                    this.maxEmployerMatchPercent = true;
                    this.$store.commit('SET_MAX_EMPLOYER_MATCH_PERCENT', this.maxEmployerMatchPercent);
                }else if (this.contributionsData.maxMatch.amount && this.contributionMode !== 'percent' && Math.floor(this.contributionsData.maxMatch.amount) > 0 && sumDeferralsDollar < Math.floor(this.contributionsData.maxMatch.amount) && !this.underOk) {
                    this.maxEmployerMatchDollar = true;
                    this.$store.commit('SET_MAX_EMPLOYER_MATCH_DOLLAR', this.maxEmployerMatchDollar);
                }else{
                    this.maxEmployerMatchDollar = false;
                    this.maxEmployerMatchPercent = false;
                    this.$store.commit('SET_MAX_EMPLOYER_MATCH_DOLLAR', this.maxEmployerMatchDollar);
                    this.$store.commit('SET_MAX_EMPLOYER_MATCH_PERCENT', this.maxEmployerMatchPercent);
                }
            },
            catchupCheck(){
                let sumDeferrals = this.getSumDeferralsVal();
                let limit_402 = parseInt(this.common.limit_402_50);
                if (this.contributionsData.catchupChange  && sumDeferrals < limit_402) {
                    this.underCatchup = true;
                    this.$store.commit('SET_UNDER_CATCHUP', true);
                }else{
                    this.underCatchup = false;
                    this.$store.commit('SET_UNDER_CATCHUP', false);
                }
            },
            buildContributionsData(blockPercents) {
                var contributionsData = new Object();
                var saveData = new Object();
                if (blockPercents) {
                    contributionsData['blockPercents'] = true;
                }
                else {
                    contributionsData['blockPercents'] = false;
                }
                contributionsData['transDeferralCount'] = 0;
                if (this.contributionMode === 'percent') {
                    saveData["contribution_mode"] =  "DEFERPCT";
                    for (let type in this.contributionsData.deferrals) {
                        saveData[this.contributionsData.deferrals[type].percentField] = this.deferrals[type + 'Percent'];
                        contributionsData['transDeferralCount']++;
                    }
                } else {
                    saveData["contribution_mode"] =  "DEFERDLR";
                    for (let type in this.contributionsData.deferrals) {
                        saveData[this.contributionsData.deferrals[type].dollarField] = this.deferrals[type + 'Dollar'];
                        contributionsData['transDeferralCount']++;
                    }
                }
                saveData['C_GetPaid'] = this.contributions.C_GetPaid;
                saveData['C_MonthlyContributionTotal'] = this.contributionsData.estimatedMonthlyContribution ? this.contributionsData.estimatedMonthlyContribution : null
                if (this.common.ACAon) {
                    saveData['C_ACAoptOut'] = this.contributions.C_ACAoptOut;
                }
                saveData['C_MonthlyContributionTotalEmployer'] = this.contributionsData.matchingAmountMonthly  ? this.contributionsData.matchingAmountMonthly : null
                saveData['updateCatchUp'] = 0;
                if (this.$store.state.catchupConfirmed)
                {
                    saveData['catchup_mode'] = this.$store.state.catchupMode;
                    saveData['C_CatchUpContributionValue'] = this.$store.state.catchupValue;
                    saveData['updateCatchUp'] = 1;
                }
                contributionsData['saveData'] = saveData;
                contributionsData['currentYearlyIncome'] = this.retirementneeds.RN_CurrentYearlyIncome;
                return contributionsData;
            },
            calculate: function(blockPercents) {
                if(!this.sliderValid|| this.contributionsData.IRSLimitExceeded){
                    this.validation = true
                }else{
                    this.validation = false
                }
                this.$store.commit('SET_OUT_OF_BOUNDS_DEFERRAL', this.outOfBoundsDeferral)
                let change = blockPercents || false;
                let promise = this.$store.dispatch('getContributions', this.buildContributionsData(change));
                this.$emit('updateValidation', this.validation);
                this.overMatchCheck();
                this.catchupCheck();
                this.updateMaxContributions();
                this.checkOutOfBounds();
                this.checkOptIntoAutos();
                return promise;
            },
            enqueueCalculate() {
                if (this.calcRunning) {
                    this.calcEnqueued = true;
                    return;
                }
                this.calcRunning = true;
                this.calculate().then(() => {
                    this.calcRunning = false;
                    if (this.calcEnqueued) {
                        this.calcEnqueued = false;
                        this.calculate();
                    }
                })
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .employer-match-snack{
        position: relative;
        left: 0;
        right: 0
    }
    .border-right{
        border-right: 1px dashed $gray-1;
    }
    .center-graph{
        vertical-align: middle;
        margin: auto;
    }
    .employer-match-snack ::v-deep .v-snack__content{
        background-color: #000
    }
    .def-modal ::v-deep .v-card__title{
        word-break: break-word!important;
    }
    .v-application ::v-deep .v-tooltip__content {
        background: rgba(97, 97, 97, 1)!important;
    }
    .def ::v-deep .v-input--switch .v-input__slot{
        align-items: flex-start
    }
    .slider-row ::v-deep .v-input__slider--vertical .v-messages{
        display:flex!important;
        padding-top:5px
    }
    .slider-row ::v-deep .v-input__prepend-inner{
        padding-right: 0!important
    }
    .snackbar-check::before {
        color: #fff
    }
    .currency-no-val ::v-deep .v-text-field__prefix{
        display: none!important
    }
</style>
