<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 defasi set-radius"
    :elevation="0"
    >
        <step-audio-player></step-audio-player>
        <v-row class="title">
            <v-col class="text-left secondary--text"
            cols="12"
            >
                {{this.translate('contributions', 'Contr', 'Contr16').toUpperCase()}}
                <v-icon @click="disclosureDialog = !disclosureDialog">mdi-help-circle</v-icon>
            </v-col>
        </v-row>
        <v-row class="display-1 align-baseline  ma-0">
            {{this.translate('contributions', 'Contr', 'Contr85')}}
            <v-switch 
            v-model="ASIStatus"
            ></v-switch>
        </v-row>
        <path-content section="contributions" step="Contr" label="Contr97"></path-content>
        <v-row>
            <!-- left-card -->
            <v-col class="asi-col pa-3"
            :class="ASIStatus ? 'black-color' : 'gray'"
            cols="12" 
            lg="6"
            md="6">
                <v-row class="ma-0 title font-weight-medium">
                    <v-col cols="12" class="py-1">
                        {{this.translate('contributions', 'Contr', 'When_Should_ASI_Start')}}
                    </v-col>
                </v-row>
                <v-row class="justify-space-between asi-row mx-0 mt-0 mb-3"
                :class="ASIStatus ? 'black-color' : 'gray'"
                >
                    <v-col cols="12" class="d-flex py-1">
                        <v-text-field
                                v-model="startDate"
                                class="title font-weight-regular"
                                append-icon="mdi-calendar"
                                readonly
                                outlined
                                persistent-hint
                                :disabled="!ASIStatus"
                        ></v-text-field>
                    <!--
                    <div class="flex-grow-1"></div>
                    <v-select 
                    :items="frequency" 
                    label="Bi-Weekly" 
                    :disabled="!ASIStatus"
                    v-model="Frequency"
                    append-icon="mdi-update"
                    :hint="this.translate('contributions', 'Contr', 'Contr87')"
                    persistent-hint 
                    outlined
                    ></v-select>
                    -->
                    </v-col>
                </v-row>
                <v-row class="ma-0 title"
                :class="ASIStatus ? 'black-color' : 'gray'"
                >
                    <v-col cols="12" class="py-1">
                        {{this.translate('contributions', 'Contr', 'How_Much')}}
                    </v-col>
                </v-row>
                <!-- If over 80% and ASI is on, red will show, if ASI is on, regular will show, if ASI is off, gray will show  -->
                <v-row class="ma-0 body-1"
                :class="overMaxAsi && ASIStatus ? 'bright-red-1' : ASIStatus ? 'black-color' : 'gray'"
                v-if="maxASILimit">
                    <v-col cols="12" class="py-1">
                        {{this.translate('contributions', 'Contr', 'Annual_Max_Increase')}} {{maxASILimit}}%
                    </v-col>
                </v-row>
                <v-row class="ma-0 selector-row" 
                :class="ASIStatus ? 'black-color' : 'gray'"
                >
                    <template v-for="(deferral, type) in this.contributionsData.deferrals">
                        <v-col cols="12" lg="4" md="4" sm="4" class="col-xs-4">
                            <v-row class="ma-0 justify-center pb-4 body-1 font-weight-medium">
                                {{ deferral.shortdescription }} &nbsp;
                                <v-tooltip color="black" max-width="320px" bottom>
                                    <template v-slot:activator="{ on }">

                                        <v-icon class="body-1 font-weight-medium" :class="ASIStatus ? 'primary--text' : 'gray' " v-on="on">mdi-information-outline</v-icon>
                                    </template>
                                    <span>{{ deferral.tooltip }}</span>
                                </v-tooltip>
                            </v-row>
                            <v-row class="ma-0 justify-center">
                                <v-select
                                        v-if="type === 'pre'"
                                        :items="selectorItems"
                                        v-model="preTaxASISelect"
                                        append-icon="mdi-menu-swap"
                                        outlined
                                        :disabled="!ASIStatus"
                                >
                                    <template slot="item" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                </v-select>
                                <v-select
                                        v-if="type === 'roth'"
                                        :items="selectorItems"
                                        v-model="rothASISelect"
                                        append-icon="mdi-menu-swap"
                                        outlined
                                        :disabled="!ASIStatus"
                                >
                                    <template slot="item" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                </v-select>
                                <v-select
                                        v-if="type === 'post'"
                                        :items="selectorItems"
                                        v-model="postTaxASISelect"
                                        append-icon="mdi-menu-swap"
                                        outlined
                                        :disabled="!ASIStatus"
                                >
                                    <template slot="item" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item }} %
                                    </template>
                                </v-select>
                            </v-row>
                        </v-col>
                    </template>
                </v-row>
                <v-row class="ma-0 selector-row align-center" 
                :class="ASIStatus ? 'black-color' : 'gray'">
                    <v-col cols="12" class="d-flex align-center">
                        <v-checkbox
                                v-model="setASICap"
                                class="mb-n1 primary--text"
                                :disabled="!ASIStatus"
                        ></v-checkbox>
                        Stop auto-increasing at &nbsp;
                        <v-select class="mb-n8"
                                  :items="increaseCapItems"
                                  append-icon="mdi-menu-swap"
                                  outlined
                                  :disabled="!ASIStatus"
                                  v-model="ASICap"
                                  :required="setASICap"
                        >
                            <template slot="item" slot-scope="data">
                                {{ data.item }} %
                            </template>
                            <template slot="selection" slot-scope="data">
                                {{ data.item }} %
                            </template>
                        </v-select>
                    </v-col>
                </v-row>
            </v-col>
            <!-- right card -->
<!--            <RightCardDEF />-->
        </v-row>
        <!-- modal -->
        <v-dialog v-model="disclosureDialog" width="315">
            <v-card class="set-radius">
                <v-card-title class="dialog-header primary pb-10 pr-4">
                    <div class="flex-grow-1"></div>
                    <v-icon class="white-color" @click="disclosureDialog = false">mdi-close-circle-outline</v-icon>
                </v-card-title>
                <v-card-title>{{this.translate('contributions', 'Contr', 'Contr25')}}</v-card-title>
                <v-card-text>
                    {{messaging.deferrals}}
                </v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="primary" rounded text @click="disclosureDialog = false">
                        {{this.translate('contributions', 'Contr', 'Contr71').toLowerCase()}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    import PathContent from "../Content/PathContent";

    export default {
        components: {StepAudioPlayer, PathContent},
        data: () => ({
            menu: false,
            selectorIncreaseCap: 0,
            disclosureDialog: false
        }),
        computed: {
            frequency: function () {
                return [this.translate('contributions', 'Contr', 'Contr82'), this.translate('contributions', 'Contr', 'Contr83'), this.translate('contributions', 'Contr', 'Contr84')]
            },
            ASICap: {
                get: function () {
                    return this.common.autos.autoIncreaseData.increaseCap
                },
                set: function (ASICap) {
                    this.common.autos.autoIncreaseData.increaseCap = ASICap
                },
            },
            setASICap: {
                get: function () {
                    if(this.common.autos.autoIncreaseData.increaseCap){
                        return true;
                    }else{
                        return false;
                    }
                },
                set: function (setASICap) {
                    if(this.common.autos.autoIncreaseData.increaseCap){
                        return true;
                    }else{
                        return false;
                    }
                },
            },
            maxASILimit: function () {
                return this.common.autos.autoIncreaseData.percentLimit
            },
            overMaxAsi: {
                get: function () {
                    return this.$store.state.overMaxAsi;
                },
                set: function (overMaxAsi) {
                    this.$store.commit('SET_OVER_MAX_ASI', overMaxAsi)
                },
            },
            Frequency: {
                get() {
                    return this.common.autos.autoIncreaseData.frequency;
                },
                set(Frequency) {
                    this.common.autos.autoIncreaseData.frequency = Frequency;
                }
            },
            startDate: {
                get() {
                    return this.common.autos.autoIncreaseData.startDate;
                },
                set(startDate) {
                    this.common.autos.autoIncreaseData.startDate = startDate;
                }
            },
            ASIStatus: {
                get() {
                    return this.common.autos.autoIncreaseData.autoIncreaseOptIn
                },
                set(ASIStatus) {
                    this.common.autos.autoIncreaseData.autoIncreaseOptIn = ASIStatus
                }
            },
            selectorItems: function () {
                return [...Array(this.common.autos.autoIncreaseData.percentLimit + 1).keys()];
            },
            increaseCapItems: function () {
                return [...Array(this.selectorIncreaseCap + 1).keys()];
            },
            preTaxASISelect: {
                get() {
                    return this.common.autos.autoIncreaseData.pre;
                },
                set(preTaxASI) {
                    this.common.autos.autoIncreaseData.pre = preTaxASI;
                    this.updateOverMaxAsi();
                }
            },
            rothASISelect: {
                get() {
                    return this.common.autos.autoIncreaseData.roth;
                },
                set(rothASI) {
                    this.common.autos.autoIncreaseData.roth = rothASI;
                    this.updateOverMaxAsi();
                }
            },
            postTaxASISelect: {
                get() {
                    return this.common.autos.autoIncreaseData.post;
                },
                set(postTaxASI) {
                    this.common.autos.autoIncreaseData.post = postTaxASI;
                    this.updateOverMaxAsi();
                }
            },
            ...mapState(['common', 'contributionsData', 'messaging'])
        },
        created() {
            this.selectorIncreaseCap = this.common.autos.autoIncreaseData.increaseCap
        },
        methods: {
            updateOverMaxAsi() {
                let sumASIs = this.getSumASIs();
                if (sumASIs > this.maxASILimit){
                    this.overMaxAsi = true;
                } else{
                    this.overMaxAsi = false;
                }
            },
            save (date) {
                this.$refs.menu.save(date)
            },
            getSumASIs: function () {
                let sumASI = 0;
                let varArr = ['post', 'pre', 'roth'];
                for(let n of varArr){
                    if(this.common.autos.autoIncreaseData[n]){
                        sumASI += this.common.autos.autoIncreaseData[n];
                    }
                }
                return sumASI;
            },
        },
        beforeUpdate() {
            if ("post" in this.contributionsData.deferrals) {
                this.contributionsData.deferrals.post.tooltip = this.translate("contributions", "Contr", "Contr26");
            }
            if ("pre" in this.contributionsData.deferrals) {
                this.contributionsData.deferrals.pre.tooltip = this.translate("contributions", "Contr", "Contr27");
            }
            if ("roth" in this.contributionsData.deferrals) {
                this.contributionsData.deferrals.roth.tooltip = this.translate("contributions", "Contr", "Contr28");
            }
        }

    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .text-none {
        padding: 0!important;
        height: auto!important;
        min-width: auto!important;
        margin-top: -2px;
        color: $blue-3!important;
        text-decoration: underline
    }
    .defasi ::v-deep .v-slider__thumb-label {
        background-color: black!important;
        border-radius: 5px!important;
        transform: translateY(20%) translateY(9.66667px) translateX(55%) rotate(0)!important;
    }
    .defasi ::v-deep .v-slider--vertical .v-slider__thumb-label>* {
        transform: none !important;
    }
    .selector-row ::v-deep .v-input {
        max-width: 86px
    }
    .dashed-hr {
        border-bottom: 1px dashed var(--v-secondary-lighten2);
    }
    .help {
        width: 20px!important;
        height: 20px!important;
    }
    .help ::v-deep i {
        color: var(--v-primary-base)!important;
    }
    .asi-row ::v-deep .v-input__slot {
        width: 170px!important
    }
    .defasi ::v-deep .accent--text{
        color: var(--v-primary-base)!important;
        caret-color: var(--v-primary-base)!important;
    }
    .chart-box {
        width: 309px;
        height: 125px;
        text-align: center;
        border-bottom: 1px dashed  var(--v-secondary-lighten3);
    }
    .edit-link {
        text-decoration: underline;
    }
    .body-title-border {
        border-color: #000
    }
    .snackbar-check::before {
        color: #fff
    }
    .dialog-header {
        height: 40px
    }
    .border-row {
        border: 1px solid $blue-3;
        border-left: 10px solid $blue-3
    }
    @media only screen and (max-width: 960px) {
        .col-xs-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .body-2 {
            font-size: .9rem!important
        }
        .asi-col.pa-8,
        .results-card.pa-8 {
            padding: 0 10px!important;
        }
    }
</style>
