<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 express set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="contributions" step="Contr" label="Contr16"></path-content>
        <v-row class="display-1">
            <v-col lg="12">
                <component v-if="investmentTypesLoaded" :is="processedHtml" v-on:updateValidation="updateValidation"></component>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import PathContent from "../Content/PathContent";
    import { mapState } from 'vuex'
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        name: "Express",
        components: {StepAudioPlayer, PathContent},
        data: () => ({
            contributionMode: 'percent',
            investmentTypesLoaded: false,
        }),
        methods: {
            buildContributionsData(blockPercents) {
                var contributionsData = new Object();
                var saveData = new Object();
                if (blockPercents) {
                    contributionsData['blockPercents'] = true;
                }
                else {
                    contributionsData['blockPercents'] = false;
                }
                contributionsData['transDeferralCount'] = 0;
                if (this.contributionMode === 'percent') {
                    saveData["contribution_mode"] =  "DEFERPCT";
                    for (let type in this.contributionsData.deferrals) {
                        saveData[this.contributionsData.deferrals[type].percentField] = this.selectedDeferrals[type + 'Percent'];
                        contributionsData['transDeferralCount']++;
                    }
                } else {
                    saveData["contribution_mode"] =  "DEFERDLR";
                    for (let type in this.contributionsData.deferrals) {
                        saveData[this.contributionsData.deferrals[type].dollarField] = this.selectedDeferrals[type + 'Dollar'];
                        contributionsData['transDeferralCount']++;
                    }
                }
                saveData['C_GetPaid'] = this.contributions.C_GetPaid;
                saveData['C_MonthlyContributionTotal'] = this.contributionsData.estimatedMonthlyContribution ? this.contributionsData.estimatedMonthlyContribution : null
                if (this.common.ACAon) {
                    saveData['C_ACAoptOut'] = this.contributions.C_ACAoptOut;
                }
                saveData['C_MonthlyContributionTotalEmployer'] = this.contributionsData.matchingAmountMonthly  ? this.contributionsData.matchingAmountMonthly : null
                if (this.contributions.catchup)
                {
                    saveData['catchup_mode'] = this.contributions.catchup_mode;
                    saveData['C_CatchUpContributionValue'] = this.contributions.C_CatchUpContributionValue;
                    saveData['updateCatchUp'] = 1;
                }
                contributionsData['saveData'] = saveData;
                contributionsData['currentYearlyIncome'] = this.retirementneeds.RN_CurrentYearlyIncome;
                return contributionsData;
            },
            updateValidation(validation) {
                this.$emit('updateValidation', validation);
            }
        },
        computed: {

            processedHtml() {
                let content = this.translate('contributions', 'Express', 'Express_Choice');
                content = '<v-form @input="updateValidation" v-model="validation">' + content;
                content = content.replace('%deferralSelector%', `
                    <v-text-field
                            :max="contributionsData.deferrals.pre.maxPercent"
                            :min="contributionsData.deferrals.pre.minPercent"
                            v-model="selectedDeferrals.prePercent"
                            class="title font-weight-regular"
                            outlined
                            append-icon="%"
                            type="number"
                            style="width: 120px;display:inline-block;"
                            required
                            :rules="rules"
                            :readonly="module.expressPretaxEditable == '0'"
                    ></v-text-field>
                `);
                content = content.replace('%investmentSelector%', `
                    <v-select :items="investmentTypes" v-model="selectedInvestment" class="title font-weight-regular express" outlined style="width: 320px;display:inline-block;">
                      <template v-slot:item="{ item, index }">
                            <div class="title font-weight-regular">
                                {{item.text}}
                            </div>
                        </template>
                    </v-select>
                `);
                content = content + '</v-form>'
                return {
                    data: () => ({
                        validation: true,
                        rules: [
                            v => v >= this.contributionsData.deferrals.pre.minPercent  || 'Min: ' + this.contributionsData.deferrals.pre.minPercent.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '%',
                            v => v <= this.contributionsData.deferrals.pre.maxPercent || 'Max: ' + this.contributionsData.deferrals.pre.maxPercent.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '%',
                        ],
                    }),
                    template: '<div>' + content + '</div>',
                    methods: {
                        updateValidation() {
                            this.$emit('updateValidation', this.validation)
                        }
                    },
                    props: {
                        contributionsData: {
                            type: Object,
                            default: () => { return this.contributionsData }
                        },
                    },
                    computed: {
                        selectedInvestment: {
                            get() {
                                return this.$store.state.express.selectedInvestment;
                            },
                            set(selectedInvestment) {
                                this.$store.state.express.selectedInvestment = selectedInvestment;
                            }
                        },
                        investmentTypes() {
                            let options = [];
                            Object.keys(this.$store.getters.investmentSections).forEach(key => {
                                options.push({ text: this.$store.getters.investmentSections[key].translation.title, value: key });
                            });
                            let defaultInvestment = this.$store.state.module.expressInvestmentSelectorDefault;
                            let foundIndex = 0;
                            options.forEach(function(item, index) {
                                if (item.value === 'investmentSelectorTargetMaturityFund' &&  defaultInvestment === 'TDF') {
                                    foundIndex = index;
                                }
                                if (item.value === 'investmentQDIA' && defaultInvestment === 'QDIA') {
                                    foundIndex = index;
                                }
                            });
                            if (foundIndex) {
                                let theOption = options.splice(foundIndex, 1);
                                options = theOption.concat(options);
                            }
                            return options;
                        },
                        defaultInvestment() {
                            if (this.investmentTypes.length > 0) {
                                return this.investmentTypes[0].value;
                            }
                            return null;
                        },
                        ...mapState(['module','selectedDeferrals'])
                    },
                    mounted() {
                        if (this.selectedInvestment === null) {
                            this.selectedInvestment = this.defaultInvestment;
                        }
                        if (this.selectedDeferrals.prePercent === 0) {
                            this.selectedDeferrals.prePercent = this.module.expressPretaxDefault;
                        }
                    }
                };
            },
            ...mapState(['contributions','contributionsData','common','retirementneeds','module','selectedDeferrals'])

        },
        created() {
            this.$emit('updateValidation', true);
            this.$store.dispatch('getContributions', this.buildContributionsData());
            this.$store.dispatch('getInvestmentSections').then(() => {
                this.investmentTypesLoaded = true;
            })
        }
    }
</script>

<style scoped>
    .express ::v-deep .v-select label{
        line-height: 19px;
    }
    .express ::v-deep .v-select__selection--comma{
        line-height: 21px;
    }
</style>