<template>
    <!-- right card -->
    <v-col class="ma-0 pa-0 right-card-def set-radius" cols="12" lg="6" md="6">
        <v-card class="results-card mx-auto width-100 pa-3 py-sm-9 px-sm-10" :elevation="7" max-width="960">
            <v-row>
                <v-col>
                    <v-select :items="resultsSelector" v-model="resultsSelection" aria-label="Monthly or total results" class="headline font-weight-medium" @change="updateChartBool" outlined>
                        <template v-slot:item="{ item, index }">
                            <div class="headline font-weight-medium">
                                {{item}}
                            </div>
                        </template>
                    </v-select>
                </v-col>
            </v-row>
            <v-row class="display-1 justify-center" v-if="resultsSelection == this.translate('contributions', 'Contr', 'Contr72')">
                ${{ projectedMonthlyAmountDisplay }}{{this.translate('contributions', 'Contr', 'Contr80')}}
            </v-row>
            <v-row class="display-1 justify-center" v-if="resultsSelection == this.translate('contributions', 'Contr', 'Contr73')">
                ${{ projectedTotalAmountDisplay }}
            </v-row>
            <v-row class="mt-4" align="center">
                <v-col>
                <div class="chart-box"  style="position:relative;">
                    <template v-if="this.showMonthly">
                        <progress-bar
                            :target="targetAmountRaw"
                            :value1="estimatedMonthly"
                            :value2="matchingMonthly"
                            :target-label="translate('contributions', 'Contr', 'Target_Income')"
                            :target-amount="targetAmount"
                            :label1="translate('contributions', 'Contr', 'Contr16')"
                            :label2="translate('contributions', 'Contr', 'Contr78')"
                            :color1="contributionsColor"
                            :color2="matchingColor"
                            :tooltip-title="resultsSelection"
                        ></progress-bar>
<!--                            <bar-chart v-if="!this.matchingMonthly" ref="_chart"  :chart-data="chartdata" :options="chartoptions2" :height="64"></bar-chart>-->
<!--                            <bar-chart v-else ref="_chart2"  :chart-data="chartdata2" :options="chartoptions2" :height="64"></bar-chart>-->
                    </template>
                    <template v-else>
                        <progress-bar
                                :target="targetAmountRaw"
                                :value1="projectedSavings"
                                :value2="matchingAmount"
                                :target-label="translate('contributions', 'Contr', 'Target_Savings')"
                                :target-amount="targetAmount"
                                :label1="translate('contributions', 'Contr', 'Contr16')"
                                :label2="translate('contributions', 'Contr', 'Contr78')"
                                :color1="contributionsColor"
                                :color2="matchingColor"
                                :tooltip-title="resultsSelection"
                        ></progress-bar>
<!--                            <bar-chart v-if="!this.matchingAmount" ref="_chart3"  :chart-data="chartdata3" :options="chartoptions2" :height="64"></bar-chart>-->
<!--                            <bar-chart v-else ref="_chart4" :chart-data="chartdata4" :options="chartoptions2" :height="64"></bar-chart>-->
                    </template>
                </div>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col>
                    <v-row justify="center" class="body-2 font-weight-bold" style="text-transform: uppercase">
                        {{this.translate("contributions", "Contr", "Contr11")}}
                    </v-row>
                    <v-row justify="center" class="title font-weight-regular">
                        <v-icon class="caption" :color="contributionsColor">mdi-circle</v-icon>
                        ${{ contributionsData.estimatedMonthlyContributionDisplay }}
                        {{this.translate('contributions', 'Contr', 'Contr80')}}&nbsp;{{this.translate('contributions', 'Contr', 'Contr101')}}
                    </v-row>
                </v-col>
                <template v-if="this.matchingAmount > 0">
                    <v-divider
                            class="mx-4"
                            vertical
                    ></v-divider>
                    <v-col>
                        <v-row justify="center" class="body-2 font-weight-bold" style="text-transform: uppercase">
                            {{this.translate('contributions', 'Contr', 'Contr10')}}
                        </v-row>
                        <v-row justify="center" class="title font-weight-regular">
                            <v-icon class="caption" :color="matchingColor">mdi-circle</v-icon>
                            ${{ contributionsData.matchingAmountMonthlyDisplay }}
                            {{this.translate('contributions', 'Contr', 'Contr80')}}&nbsp;{{this.translate('contributions', 'Contr', 'Contr101')}}
                        </v-row>
                    </v-col>
                </template>
            </v-row>
        </v-card>
    </v-col>
</template>

<script>
    import { mapState } from 'vuex'
    import BarChart from "../Global/BarChart";
    import PathContent from "../Content/PathContent";
    import Contributions from "../../views/Contributions";
    import ProgressBar from "../Global/ProgressBar";

    export default {
        components: {
            ProgressBar,
            BarChart,
            PathContent,
            Contributions
        },
        data: () => ({
            dataLoaded: false,
            showMonthly: true,
            showTotal: false,
            resultsSelection: null
        }),
        computed: {

            contributionsColor() {
                return this.$store.state.colors.hex2 ? this.$store.state.colors.hex2 : '#2560A9';
            },
            matchingColor() {
                return this.$store.state.colors.hex3 ? this.$store.state.colors.hex3 : '#01436D';
            },
            /*
            chartdata: function () {
                return {
                    datasets: [{
                        label: this.translate("contributions", "Contr", "Contr16"),
                        backgroundColor: this.contributionsColor,
                        data: [this.estimatedMonthly],
                        results: this.resultsSelection,
                        barThickness: 64
                    }]
                }
            },
            chartdata2: function () {
                return {
                    datasets: [
                        {
                            label: this.translate("contributions", "Contr", "Contr16"),
                            backgroundColor: this.contributionsColor,
                            data: [this.estimatedMonthly],
                            siblingData: this.matchingMonthly,
                            results: this.resultsSelection,
                            barThickness: 64
                        },
                        {
                            label: this.translate("contributions", "Contr", "Contr78"),
                            backgroundColor: this.matchingColor,
                            data: [this.matchingMonthly],
                            siblingData: this.estimatedMonthly,
                            results: this.resultsSelection,
                            barThickness: 64
                        }
                    ]
                }
            },
            chartdata3: function () {
                return {
                    datasets: [{
                        label: this.translate("contributions", "Contr", "Contr16"),
                        backgroundColor: this.contributionsColor,
                        data: [this.projectedSavings],
                        results: this.resultsSelection,
                        barThickness: 64
                    }]
                }
            },
            chartdata4: function () {
                return {
                    datasets: [
                        {
                            label: this.translate("contributions", "Contr", "Contr16"),
                            backgroundColor: this.contributionsColor,
                            data: [this.projectedSavings],
                            siblingData: this.matchingAmount,
                            results: this.resultsSelection,
                            barThickness: 64
                        },
                        {
                            label: this.translate("contributions", "Contr", "Contr78"),
                            backgroundColor: this.matchingColor,
                            data: [this.matchingAmount],
                            siblingData: this.projectedSavings,
                            results: this.resultsSelection,
                            barThickness: 64
                        }
                    ]
                }
            },
            */
            resultsSelector: function () {
                let a = this.translate("contributions", "Contr", "Contr72");
                let b = this.translate("contributions", "Contr", "Contr73");
                return [a, b];
            },
            estimatedMonthly: function () {
                return this.contributionsData.projectedMonthlyEmployee.toFixed(2);
            },
            matchingMonthly: function () {
                return this.contributionsData.projectedMonthlyMatching.toFixed(2);
            },
            projectedSavings: function () {
                return this.contributionsData.projectedSavings.toFixed(2)
            },
            matchingAmount: function () {
                return this.contributionsData.matchingAmount.toFixed(2)
            },
            projectedMonthlyAmount() {
                return this.contributionsData.projectedMonthlyTotal;
            },
            projectedMonthlyAmountDisplay() {
                return this.contributionsData.projectedMonthlyTotalDisplay;
            },
            projectedTotalAmountDisplay() {
                return this.contributionsData.totalSavingsDisplay;
            },
            projectedTotalAmount() {
                return this.contributionsData.totalSavings;
            },
            maxValueMonthly() {
                return Math.max(1.1 * this.contributionsData.targetMonthlyIncome, this.projectedMonthlyAmount);
            },
            maxValueSavings() {
                return Math.max(1.1 * this.contributionsData.targetSavings, this.projectedTotalAmount);
            },
            maxValue() {
                if (this.resultsSelection == this.translate("contributions", "Contr", "Contr72")) {
                    return this.maxValueMonthly;
                } else{
                    return this.maxValueSavings;
                }
            },
            targetAmount() {
                if (this.resultsSelection == this.translate("contributions", "Contr", "Contr72")) {
                    return this.contributionsData.targetMonthlyIncomeDisplay;
                }else{
                    return this.contributionsData.targetSavingsDisplay;
                }
            },
            targetAmountRaw() {
                if (this.resultsSelection == this.translate("contributions", "Contr", "Contr72")) {
                    return this.contributionsData.targetMonthlyIncome;
                }else{
                    return this.contributionsData.targetSavings;
                }
            },
            /*
            chartoptions2: function () {
                return {
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                                drawBorder: false,
                                display: false
                            },
                            stacked: true
                        }],
                        yAxes: [{
                            ticks: {
                                display: false,
                                max: this.maxValue
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                                drawBorder: false,
                                display: false
                            },
                            stacked: true
                        }],
                    },
                    annotation: {
                        annotations: [{
                            drawTime: 'afterDraw',
                            id: 'a-line-1',
                            type: 'line',
                            mode: 'vertical',
                            scaleID: 'x-axis-0',
                            value: this.targetAmountRaw,
                            borderColor: '#757575',
                            borderWidth: 2,
                            label: {
                                content: "100%",
                                enabled: true
                            }
                        }]
                    },
                    plugins: {

                        // Change options for ALL labels of THIS CHART
                        datalabels: {
                            display: function(context) {
                                if(((context.dataset.data[0] * 10) < context.dataset.siblingData) && context.dataset.siblingData ){
                                    return false
                                }else{
                                    return true
                                }
                            },
                            color: '#FFF',
                            formatter: function (value) {
                                if (value) {
                                    return '$' + value.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                }
                            },

                        }
                    },
                    legend: {display: false},
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        enabled: false,
                        mode: 'index',

                        callbacks: {
                            title: function(item, data) {
                                return {'display': true, 'text' : data.datasets[0].results}
                            },
                            label: function(tooltipItem, data) {
                                let label = data.datasets[tooltipItem.datasetIndex].label || '';
                                if (label) {
                                    label = " " + label + ": " + "$" + tooltipItem.xLabel.toLocaleString();
                                }

                                return label;
                            }
                        },
                        itemSort: function(a, b) {
                            return b.datasetIndex - a.datasetIndex
                        },
                        custom: function (tooltipModel, data) {

                            // Tooltip Element
                            var tooltipEl = document.getElementById('chartjs-tooltip');

                            // Create element on first render
                            if (!tooltipEl) {
                                tooltipEl = document.createElement('div');
                                tooltipEl.id = 'chartjs-tooltip';
                                tooltipEl.innerHTML = '<table></table>';
                                document.body.appendChild(tooltipEl);
                            }

                            // Hide if no tooltip
                            if (tooltipModel.opacity === 0) {
                                tooltipEl.style.opacity = 0;
                                return;
                            }

                            // Set caret Position
                            tooltipEl.classList.remove('above', 'below', 'no-transform');
                            if (tooltipModel.yAlign) {
                                tooltipEl.classList.add(tooltipModel.yAlign);
                            } else {
                                tooltipEl.classList.add('no-transform');
                            }

                            function getBody(bodyItem) {
                                return bodyItem.lines;
                            }

                            // Set Text
                            if (tooltipModel.body) {
                                var titleLines = tooltipModel.title;
                                var bodyLines = tooltipModel.body.map(getBody);

                                var innerHtml = '<thead>';

                                titleLines.forEach(function(title) {
                                    innerHtml += '<tr><th><div class="tooltip-title">' + title.text + '</div></th></tr>';
                                });
                                innerHtml += '</thead><tbody>';

                                bodyLines.forEach(function(body, i) {
                                    var colors = tooltipModel.labelColors[i];
                                    var style = 'background:' + colors.backgroundColor;
                                    style += '; border-color:' + colors.borderColor;
                                    style += '; border-width: 2px';
                                    var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
                                    innerHtml += '<tr><td>' + span + body + '</td></tr>';
                                });
                                innerHtml += '</tbody>';

                                var tableRoot = tooltipEl.querySelector('table');
                                tableRoot.innerHTML = innerHtml;
                            }

                            // `this` will be the overall tooltip
                            var position = this._chart.canvas.getBoundingClientRect();
                            var tooltipTitle = document.getElementsByClassName('tooltip-title')[0];
                            var tooltipKey = document.getElementsByClassName('chartjs-tooltip-key');

                            if(tooltipTitle){
                                tooltipTitle.style.fontSize = '14px';
                                tooltipTitle.style.textAlign = 'left';
                                tooltipTitle.style.marginBottom = '10px';
                            }


                            for(let n of tooltipKey) {
                                n.style.display = 'inline-block';
                                n.style.width = '15px';
                                n.style.height = '15px';
                                n.style.marginRight = '10px';
                                n.style.borderRadius = '10px';
                            }
                            // Display, position, and set styles for font
                            tooltipEl.style.opacity = 1;
                            tooltipEl.style.position = 'absolute';
                            tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px';
                            tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px';
                            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                            tooltipEl.style.background = 'rgba(0, 0, 0, .7)';
                            tooltipEl.style.color = '#FFF';
                            tooltipEl.style.borderRadius = '3px';
                            tooltipEl.style.transition = 'all .1s ease';
                            tooltipEl.style.transform = 'translate(-50%, 0)';
                            tooltipEl.style.padding = '10px';

                        }
                    }
                }
            },
            */
            ...mapState(['retirementneeds','results','contributions','contributionsData','common','messaging'])
        },
        methods: {
            updateChartBool () {
                if(this.showMonthly) {
                    this.showMonthly = false;
                    this.showTotal = true;
                }else{
                    this.showMonthly = true;
                    this.showTotal = false;
                }
            },
        },
        created()  {
            this.resultsSelection = this.translate("contributions", "Contr", "Contr72");
        },

    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .employer-match-snack{
        position: relative;
        left: 0;
        right: 0
    }
    .employer-match-snack ::v-deep .v-snack__content{
        background-color: #000
    }
    .text-none {
        padding: 0!important;
        height: auto!important;
        min-width: auto!important;
        margin-top: -2px;
        color: $blue-3!important;
        text-decoration: underline
    }

    .dashed-hr {
        border-bottom: 1px dashed var(--v-secondary-lighten2);
    }
    .help {
        width: 20px!important;
        height: 20px!important;
        margin-top:-5px
    }
    .help ::v-deep i {
        color: var(--v-primary-base)!important;
        margin-top: -2px
    }
    .chart-box {
        width: 100%;
        /*height: 125px;*/
        text-align: center;
    }
    .edit-link {
        text-decoration: underline;
    }
    .bheadline-border {
        border-color: #000
    }
    .snackbar-check::before {
        color: #fff
    }
    .dialog-header {
        height: 40px
    }
    .border-row {
        border: 1px solid $blue-3;
        border-left: 10px solid $blue-3
    }

    .right-card-def ::v-deep .v-select__selections {
        line-height: 21px;
    }
    @media only screen and (max-width: 960px) {
        .col-xs-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .body-2 font-weight-medium {
            font-size: .9rem!important
        }
    }
</style>
