<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pre SPE Survey</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
{% include('WidgetsBundle:Videolibrary:css/library.css.twig') %}
</head>

<body>
<div class="close" style="display: block;">Close</div>
<div class="modal" style="display: block;">
	<div class="gradient"></div>
	<div class="shadow"></div>
	<div class="library">
		<div class="outer">
			<div class="inner">
				<h1>Video Library</h1>
				<div class="fastlane">
                                    
                {% for video in videos %}
					<div class="tile" rel="01" data-title="{{video.displayname}}" data-directory= "{{video.directory}}" data-video="{{video.video}}" style="background-image:url('/w/img/keyframe.jpg');">
						<div class="overlay">
							<h2>{{video.displayname}}</h2>
						</div>
						<div class="play"></div>
					</div>
                {% endfor %}

				</div>
			</div>
		</div>
	</div>
    <div class="player" style="display: none;">
            <div class="outer">
                    <div class="inner">
                            <h1 id="video-title"></h1>
                            <video id="videoPlayer" width="100%" height="auto" controls="">
                                    <source src="" type="video/mp4">
                            </video>
                    </div>
            </div>
    </div>
</div>
{{ include("WidgetsBundle:Default:widgetHost.js.twig") }}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
{% include('WidgetsBundle:Videolibrary:js/library.js.twig') %}

</body>
</html>
