<script>
function showvad()
{
  $("#iframeBody2").prop('src','{{ vadsIframeUrl }}');
  $("#preview").show();
}

function updateFrequency()
{
  if ($("#occurancetypeon").is(":checked"))
  $("#vadFrequency").val(0);
  else if ($("#occurancetypeperiod").is(":checked"))
  $("#vadFrequency").val(parseInt($("#vadFrequencyminutes").val() * 60) + parseInt($("#vadFrequencydays").val() * 1440));
  else
  return;
  updatetable("defaultPlan","savevad","userid",alertvad);
}
function alertvad()
{
	showalert("saved-alert");
}
$( document ).ready(function() 
{
	$("#vadcode").focus(function()
	{
    	this.select();
	});
	$("#occurancetypeon").click(function()
	{
    	$("#vadperiod").hide();
	});
	$("#occurancetypeperiod").click(function()
	{
    	$("#vadperiod").show();
	});
});


</script>