<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 my-profile set-radius transition" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="rollover" step="Rollover" label="Rollover_Section_Title"></path-content>
        <v-row class="display-1">
            <v-col class="text-left pb-0" cols="12">
                {{this.translate('rollover', 'Rollover', 'Rollover_Title') }}
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left pt-0" cols="12">
                {{this.translate('rollover', 'Rollover', 'Rollover_Title_Sub') }}
            </v-col>
        </v-row>
        <v-row class="headline">
            <v-col class="text-left" cols="12">
                {{this.translate('rollover', 'Rollover', 'Rollover_Subtitle') }}
            </v-col>
        </v-row>
        <v-row class="body-1">
            <v-col class="text-left" cols="12" lg="8" md="8" xl="8">
                {{this.translate('rollover', 'Rollover', 'Rollover_Body_Copy') }}
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" lg="4" md="4" xl="4">
                <v-card :elevation="7" class="pa-3 height-100">
                    <v-row class="ma-0">
                        <v-col cols="12" class="text-center pb-0">
                            <v-icon class="display-1">mdi-phone-forward</v-icon>
                        </v-col>
                    </v-row>
                    <v-row class="headline ma-0">
                        <v-col cols="12" class="text-center pt-0">
                        {{this.translate('rollover', 'Rollover', 'Rollover_CallUs_Title') }}
                        </v-col>
                    </v-row>
                    <v-row class="secondary--text text--darken-3 ma-0">
                        <v-col cols="12" class="text-center">
                        {{this.translate('rollover', 'Rollover', 'Rollover_CallUs_Body') }}
                        </v-col>
                    </v-row>
                    <v-row class="display-1 ma-0">
                        <v-col cols="12" class="text-center pb-0">
                        800-277-9739 {{this.translate('rollover', 'Rollover', 'Rollover_CallUs_Number') }} 3
                        </v-col>
                    </v-row>
                    <v-row class="caption ma-0">
                        <v-col cols="12" class="text-center pt-0">
                        {{this.translate('rollover', 'Rollover', 'Rollover_CallUs_Tag') }}
                        </v-col>
                    </v-row>
                    <v-row class=" ma-0">
                        <v-col cols="12" class="text-center">
                        <v-btn rounded @click="ctaClicked('callUs', 1)" v-bind:color="clickedBtn === 'callUs' ? 'success' : 'primary'">{{this.translate('rollover', 'Rollover', 'Rollover_Select_Btn') }}</v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="12" lg="4" md="4" xl="4">
                <v-card :elevation="7" class="pa-3 height-100">
                    <v-row class="ma-0">
                        <v-col cols="12" class="text-center pb-0">
                            <v-icon class="display-1">mdi-phone-incoming</v-icon>
                        </v-col>
                    </v-row>
                    <v-row class="headline ma-0">
                        <v-col cols="12" class="text-center pt-0">
                            {{this.translate('rollover', 'Rollover', 'Rollover_CallMe_Title') }}
                        </v-col>
                    </v-row>
                    <v-row class="secondary--text text--darken-3 ma-0">
                        <v-col cols="12" class="text-center">
                            {{this.translate('rollover', 'Rollover', 'Rollover_Callme_Body') }}
                        </v-col>
                    </v-row>
                    <v-row class="display-1 ma-0">
                        <v-col cols="12" class="text-center pb-0">
                            <v-text-field
                                    v-model="callMeValue"
                                    outlined
                                    v-mask="'(###) ###-####'"
                                    class="title font-weight-regular"
                            >
                                <template slot="label">
                                    <div class="title font-weight-regular line-height-fix">
                                        {{this.translate('rollover', 'Rollover', 'Rollover_Phone_Label')}}
                                    </div>
                                </template>
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class=" ma-0">
                        <v-col cols="12" class="text-center">
                            <v-btn rounded @click="ctaClicked('callMe', callMeValue)" v-bind:color="clickedBtn === 'callMe' ? 'success' : 'primary'">{{this.translate('rollover', 'Rollover', 'Rollover_Select_Btn') }}</v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="12" lg="4" md="4" xl="4">
                <v-card :elevation="7" class="pa-3 height-100">
                    <v-row class="ma-0">
                        <v-col cols="12" class="text-center pb-0">
                            <v-icon class="display-1">mdi-email</v-icon>
                        </v-col>
                    </v-row>
                    <v-row class="headline ma-0">
                        <v-col cols="12" class="text-center pt-0">
                            {{this.translate('rollover', 'Rollover', 'Rollover_EmailMe_Title') }}
                        </v-col>
                    </v-row>
                    <v-row class="secondary--text text--darken-3 ma-0 pb-lg-6 pb-md-6 pb-xl-6">
                        <v-col cols="12" class="text-center">
                            {{this.translate('rollover', 'Rollover', 'Rollover_EmailMe_Body') }}
                        </v-col>
                    </v-row>
                    <v-row class="display-1 ma-0">
                        <v-col cols="12" class="text-center pb-0">
                            <v-text-field
                                    v-model="emailMeValue"
                                    outlined
                                    class="title font-weight-regular"
                            >
                                <template slot="label">
                                    <div class="title font-weight-regular line-height-fix">
                                        {{this.translate('rollover', 'Rollover', 'Rollover_EmailMe_Label')}}
                                    </div>
                                </template>
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class=" ma-0">
                        <v-col cols="12" class="text-center">
                            <v-btn rounded @click="ctaClicked('emailMe', emailMeValue)" v-bind:color="clickedBtn === 'emailMe' ? 'success' : 'primary'">{{this.translate('rollover', 'Rollover', 'Rollover_Select_Btn') }}</v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
</template>
<script>
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, PathContent },
        data() {
            return {
                clickedBtn: null,
                callMeValue: null,
                emailMeValue: null,
            }
        },
        methods: {
            ctaClicked(type, value) {
                this.clickedBtn = type;
                this.$store.dispatch('saveRollover', {type: type, value: value}).then(() => {
                    this.$parent.$parent.$emit('nextSection');
                });
            },
        },
        created() {
            this.$parent.$parent.videoPage = false;
            this.$parent.$parent.validated = false;
        }
    }
</script>
<style scoped lang="scss">
    @import "../../styles/sass/base/variables";
    @import "../../styles/styles.css";

    .line-height-fix{
       line-height: 1rem!important
    }
</style>