<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                {% for key,name in header %}
                    <th>
                        <input type="hidden" name="mappedField[{{ key }}][from]" value="{{name}}">
                        <select class="form-control mappedField" name="mappedField[{{ key }}][to]">
                        </select>
                    </th>
                {% endfor %}
            </tr>
            <tr>
            {% for key,name in header %}
            <th>{{ name }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in csv|slice(0, 100) %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{ header|length }}">{{csv|length}} total rows</td>
            </tr>
        </tfoot>
    </table>
</div>