<div class ="rowDark">
    ATArchitect
</div>
<div class ="container rowLight">
    <table width ="100%">
        <tr>
            <th colspan = "3" style ="height:30px">{{ 'fund_name' | trans ({}, 'investments') }}</th>
        </tr>
        <tr>
            <td style ="width:50%">
                {{ ATArchitect.NewMoneyDescription|default(0) }}
            </td>
            <td style ="width:70px">
                <input type ="text" value ="{{ ATArchitect.NewMoneyPct }}%" disabled style ="width:50px" aria-label="New money percentage"/>
            </td>
            <td>
                {{ 'future_contributions' | trans ({}, 'atarchitect') }}
            </td>
        </tr>
        <tr>
            <td>
                {{ ATArchitect.CurrentBalanceDescription|default(0) }}
            </td>
            <td>
                <input type ="text" value ="{{ ATArchitect.CurrentBalancePct }}%" disabled style ="width:50px" aria-label="Current balance percentage"/>
            </td>
            <td>
                {{ 'current_balance' | trans ({}, 'atarchitect') }}
            </td>
        </tr>
    </table>
</div>
<br/>
{{ 'for_more_information' | trans ({}, 'atarchitect') }}