{% include "SpeAppBundle:Template:Beneficiary/Relius/form.html.twig" %}
{% include "SpeAppBundle:Template:Beneficiary/Relius/model.html.twig" %}
{% include "SpeAppBundle:Template:Beneficiary/" ~  app.session.get('account')['beneficiaryType']  ~"/form.html.twig" %}
{% include "SpeAppBundle:Template:Beneficiary/" ~  app.session.get('account')['beneficiaryType']  ~"/model.html.twig" %}

<!-- Spousal Wavier Form Confirmation Model -->
<div class="modal fade" id="spousalWavierConfirmationModal" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12"><h4 style="margin-bottom:10px;" class="modal-title" id="spousalWaiverConf">{{ 'spousal_wavier_confirmation' | trans ({}, 'beneficiary') }}</h4></div>
                    <div class="col-sm-12" style="margin-left:10px;"><label><input type="radio" name="haveSpouse" value="yes" aria-labelledby="spousalWaiverConf"> {{ 'yes' | trans ({}, 'global') }}</label></div>
                    <div class="col-sm-12" style="margin-left:10px;"><label><input type="radio" name="haveSpouse" value="no" aria-labelledby="spousalWaiverConf"> {{ 'no' | trans ({}, 'global') }}</label></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary proceed" aria-label="Proceed">{{ 'proceed' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-default back" aria-label="Back">{{ 'back' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Spousal Wavier Form Model -->
<div class="modal fade" id="spousalWavierModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{ 'under_the_plan_your_spouse_primary' | trans ({}, 'beneficiary') }}</p>
                        {% if app.session.get('module')['spousalWaiverUrl'] is defined and app.session.get('module')['spousalWaiverUrl'] != '' %}
                            <p><a href="{{ app.session.get('module')['spousalWaiverUrl'] }}" target="_blank" id="spousalWaiverUrl"><label for="spousalWaiverUrl">{{ app.session.get('module')['spousalWaiverUrl'] }}</label></a></p>
                        {% endif %}
                        <p>{{ 'the_form_must_signed_by_your_spouse' | trans ({}, 'beneficiary') }}</p>
                    </div>
                    <div class="col-sm-12 address-block">
                        <p>Insperity Retirement Services</p>
                        <p>P.O. Box 1988</p>
                        <p>Kingwood, TX 77347-1988</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{ 'ok' | trans ({}, 'global') }}</span></button>
                <button type="button" class="btn btn-primary proceed" aria-label="Proceed">{{ 'proceed' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-default back" aria-label="Back">{{ 'back' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>