{% set matchingContributions = false %}
{% if app.session.get('common')['showMatchDescriptions'] %}
{% set matchingContributions = true %}
{% endif %}
<script type="text/template" id="contributions-tpl">
<div id ="contributions-main">
    <div class="audio-area"></div>



    <div class="details contribution row">
        <div class="col-md-6">
            <h1 class="title" role="heading" aria-level="1">{{ 'contributions_selector' | trans ({}, 'contributions') }}</h1>
            <% if( model.commonData.showCatchup && (model.commonData.data_source == 'relius' || model.commonData.data_source == 'educate' || model.commonData.data_source == 'expertplan' || model.commonData.data_source == 'retrev' || model.commonData.data_source.match('omni'))) { %>
                <div class="desc">{{ 'contributions_selector_desc_1' | trans ({}, 'contributions') }} $<%- model.commonData.limit_402_50 %> {{ 'contributions_selector_desc_2' | trans ({}, 'contributions') }} $<%- model.commonData.limit_402_50_per_month %> {{ 'contributions_selector_desc_3' | trans ({}, 'contributions') }}</div>
            <% }else{ %>
                <div class="desc">{{ 'contributions_selector_desc_1' | trans ({}, 'contributions') }} $<%- model.commonData.limit_402 %> {{ 'contributions_selector_desc_2' | trans ({}, 'contributions') }} $<%- model.commonData.limit_402_per_month %> {{ 'contributions_selector_desc_3' | trans ({}, 'contributions') }}</div>
            <% } %>
            <table class="selector">
                <tr>
                    <td class="text left-cell"><label for="yearly_pay">{{ 'current_yearly_income' | trans ({}, 'contributions') }}</label></td>
                    <td class="value right-cell"> $<input id="yearly_pay" type="text" value="<%- model.retirementNeedsData.RN_CurrentYearlyIncome ? model.retirementNeedsData.RN_CurrentYearlyIncome : 0 %>"></td>
                </tr>
                <tr>
                    <td class="text"><label for="get_paid">{{ 'how_ofter_do_you_get_paid' | trans ({}, 'contributions') }}</label></td>
                    <td class="value"><select id="get_paid" name="get_paid" >
                            <option role="option" aria-selected="true" value="">{{ 'please_choose' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Weekly' ? 'selected' : '' %> value="Weekly" role="option" aria-selected="false">{{ 'weekly' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Bi-weekly' ? 'selected' : '' %> value="Bi-weekly" role="option" aria-selected="false">{{ 'bi_weekly' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Semi-monthly' ? 'selected' : '' %> value="Semi-monthly" role="option" aria-selected="false">{{ 'semi_monthly' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Monthly' ? 'selected' : '' %> value="Monthly" role="option" aria-selected="false">{{ 'monthly' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Quarterly' ? 'selected' : '' %> value="Quarterly" role="option" aria-selected="false">{{ 'quartely' | trans ({}, 'contributions') }}</option>
                            <option <%- model.contributionsData.C_GetPaid == 'Annually' ? 'selected' : '' %> value="Annually" role="option" aria-selected="false">{{ 'annually' | trans ({}, 'contributions') }}</option>
                        </select></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="divider"></div></td>
                </tr>
                <tr>
                    <td class="text">{{ 'target_monthly_contribution' | trans ({}, 'contributions') }}</td>
                    <td class="value">$<%- model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution ? model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution : 0 %></td>
                </tr>
                <tr>
                    <td class="text">{{ 'your_estimated_monthly_contribution' | trans ({}, 'contributions') }}</td>
                    <td class="value"><span id="total_value_display">$<%- model.contributionTotal %></span></td>
                </tr>
                <tr {% if not matchingContributions %} style="display:none;" {% endif %}>
                    <td class="text">{{ 'your_employer_estimated_monthly_contribution' | trans ({}, 'contributions') }}<img class="hint" title="hint" alt="hint" src="../images/hint.png"> : </td>
                    <td class="value"><br><span id="total_value_display_matching">$<%- model.contributionTotal %></span></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="alert" style="display: block;">{{ 'above_please_tell_us_how_ofter_you_paid' | trans ({}, 'contributions') }}</div></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="divider"></div></td>
                </tr>
            </table>
            <div class="clearfix"></div>

            <div class="contribution_amt" style="display:none;">

                <!-- pre tax start-->
                <div class="name">
                    <span class="label" id="contAmounts">{{ 'contribution_amounts' | trans ({}, 'contributions') }}</span>
                    <span id="total_value_display" class="answer" role="radiogroup" aria-labelledby="contAmounts">
                        <% if(model.commonData.mode == 'dlr'){ %>
                            $ <input type="radio" name="contribution_type" id="contribution_type_dlr" aria-label="Contribution amount by dollar" checked />
                        <% } else if(model.commonData.mode == 'pct') { %>
                            % <input type="radio" name="contribution_type" id="contribution_type_pct" aria-label="Contribution amount by percentage" checked />
                        <% } else { %>
                            $ <input id="contribution_type_dlr" type="radio" name="contribution_type"  aria-label="Contribution amount by dollar"/>
                            % <input id="contribution_type_pct" type="radio" name="contribution_type"  aria-label="Contribution amount by percentage" checked />
                        <% } %>
                    </span>
                    <% if(model.commonData.data_source == 'dst') { %>
                        <div class="aggCon answer" style="margin-right:20px;"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.deferralMinRateAgg %>%</span>&nbsp; &nbsp;<span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.deferralMaxRateAgg %>%</span></div>
                        <input type="hidden" id="deferralMinRateAgg" value="<%- model.commonData.deferralMinRateAgg %>"/>
                        <input type="hidden" id="deferralMaxRateAgg" value="<%- model.commonData.deferralMaxRateAgg %>"/>
                    <% } %>
                </div>
                <div class="clearfix"></div>
                <div class="tax" <% if(!model.commonData.pre) { %>style = "display:none"<% } %>>
                    {% set sliderdescription = "pre_tax_per_paycheck" %}
                    {% set slidercheckboxid = "pretaxslidercheckbox" %}
                    {% include"SpeAppBundle:Template:contributions/sliderdescription.html.twig" %}
                    <% if(model.commonData.mode == 'dlr'){ %>
                        <div class="cont_dlr">$ <input type="number" step="<%- model.commonData.preDlrPre %>" id="salary_total_value"  aria-label="Salary total value"></div>
                    <% } else if(model.commonData.mode == 'pct') { %>
                        <input type="hidden" id="salary_total_value" />
                        <!-- contributions slider -->
                        <div class="cont_pct">
                            <div class="note" ><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.preMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.preMax %>%</span></div>
                            <div class="slide_container"><div class="slider_box"><div id="slider1" class="slider-element"></div></div></div>
                    {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                            <div class="pctValue"><input type="number" step="<%- model.commonData.prePctPre %>" id="salary_total_pct" aria-label="Salary total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.preMin %>" class="allowed" max="<%- model.commonData.preMax %>" dval="<%- model.commonData.preCurrent %>" value="<%- (model.commonData.preMax == model.commonData.preMin) ? model.commonData.preMin : model.commonData.preCurrent %>"> %</div>
                    {% else %}
                            <div class="pctValue"><input type="number" step="<%- model.commonData.prePctPre %>" id="salary_total_pct" aria-label="Salary total percentage"  min="<%- model.commonData.preMin %>" max="<%- model.commonData.preMax %>" dval="<%- model.commonData.preCurrent %>" value="<%- (model.commonData.preMax == model.commonData.preMin) ? model.commonData.preMin : model.commonData.preCurrent %>"> %</div>
                    {% endif %}

                        </div>
                        <!-- End contributions slider -->
                    <% } else { %>
                        <div class="cont_dlr" style="display:none;">$ <input type="number" step="<%- model.commonData.preDlrPre %>" id="salary_total_value" aria-label="Salary total value"></div>
                        <!-- contributions slider -->
                        <div class="cont_pct">
                            <div class="note" style="visibility: <%- (model.commonData.data_source == 'dst') ? 'hidden' : 'visible' %>"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.preMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.preMax %>%</span></div>
                            <div class="slide_container"><div class="slider_box"><div id="slider1" class="slider-element"></div></div></div>
                    {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                            <div class="pctValue"><input type="number" step="<%- model.commonData.prePctPre %>" id="salary_total_pct"  aria-label="Salary total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.preMin %>" class="allowed" max="<%- model.commonData.preMax %>" dval="<%- model.commonData.preCurrent %>" value="<%- (model.commonData.preMax == model.commonData.preMin) ? model.commonData.preMin : model.commonData.preCurrent %>"> %</div>
                    {% else %}
                            <div class="pctValue"><input type="number" step="<%- model.commonData.prePctPre %>" id="salary_total_pct"   aria-label="Salary total percentage" min="<%- model.commonData.preMin %>" max="<%- model.commonData.preMax %>" dval="<%- model.commonData.preCurrent %>" value="<%- (model.commonData.preMax == model.commonData.preMin) ? model.commonData.preMin : model.commonData.preCurrent %>"> %</div>
                    {% endif %}
                        </div>
                        <!-- End contributions slider -->
                    <% } %>
                </div>
                <div class="clearfix"></div>

                <!-- roth tax -->
                <div class="tax" <%= model.commonData.roth ? 'style="display:block;"' : 'style="display:none;"' %>>
                    {% set sliderdescription = "after_tax_roth_per_paycheck" %}
                    {% set slidercheckboxid = "rothslidercheckbox" %}
                    {% include"SpeAppBundle:Template:contributions/sliderdescription.html.twig" %}


                    <% if(model.commonData.mode == 'dlr'){ %>
                        <div class="cont_dlr">$ <input type="number" step="<%- model.commonData.rothDlrPre %>" id="roth_total_value" aria-label="Roth total value"></div>
                    <% } else if(model.commonData.mode == 'pct') { %>
                        <div class="cont_pct">
                            <!-- contributions roth slider -->
                                <input type="hidden" id="roth_total_value" />
                                <div class="note" style="visibility: <%- (model.commonData.data_source == 'dst') ? 'hidden' : 'visible' %>"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.rothMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.rothMax %>%</span></div>
                                <div class="slide_container"><div class="slider_box"><div id="slider2" class="slider-element"></div></div></div>
                                {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.rothPctPre %>" id="roth_total_pct" aria-label="Roth total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.rothMin %>" class="allowed" max="<%- model.commonData.rothMax %>" dval="<%- model.commonData.rothCurrent %>" value="<%- (model.commonData.rothMax == model.commonData.rothMin) ? model.commonData.rothMin : model.commonData.rothCurrent %>"> %</div>
                                {% else %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.rothPctPre %>" id="roth_total_pct" aria-label="Roth total percentage"  min="<%- model.commonData.rothMin %>" max="<%- model.commonData.rothMax %>" dval="<%- model.commonData.rothCurrent %>" value="<%- (model.commonData.rothMax == model.commonData.rothMin) ? model.commonData.rothMin : model.commonData.rothCurrent %>"> %</div>
                                {% endif %}

                            <!-- end contributions roth slider -->
                        </div>
                    <% } else { %>
                        <div class="cont_dlr" style="display:none;">$ <input type="number" step="<%- model.commonData.rothDlrPre %>" id="roth_total_value" aria-label="Roth total value"></div>
                        <div class="cont_pct">
                            <!-- contributions roth slider -->
                                <div class="note" style="visibility: <%- (model.commonData.data_source == 'dst') ? 'hidden' : 'visible' %>"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.rothMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.rothMax %>%</span></div>
                                <div class="slide_container"><div class="slider_box"><div id="slider2" class="slider-element"></div></div></div>
                                {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.rothPctPre %>" id="roth_total_pct" aria-label="Roth total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.rothMin %>" class="allowed" max="<%- model.commonData.rothMax %>" dval="<%- model.commonData.rothCurrent %>" value="<%- (model.commonData.rothMax == model.commonData.rothMin) ? model.commonData.rothMin : model.commonData.rothCurrent %>"> %</div>
                                {% else %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.rothPctPre %>" id="roth_total_pct" aria-label="Roth total percentage"  min="<%- model.commonData.rothMin %>" max="<%- model.commonData.rothMax %>" dval="<%- model.commonData.rothCurrent %>" value="<%- (model.commonData.rothMax == model.commonData.rothMin) ? model.commonData.rothMin : model.commonData.rothCurrent %>"> %</div>
                                {% endif %}
                            <!-- end contributions roth slider -->
                        </div>
                    <% } %>
                </div>

                <div class="clearfix"></div>

                <!-- post tax -->
                <div class="tax" <%= model.commonData.post ? 'style="display:block;"' : 'style="display:none;"' %>>
                    <div class="label">{{ 'post_tax_per_paycheck' | trans ({}, 'contributions') }}</div>

                    <% if(model.commonData.mode == 'dlr'){ %>
                        <div class="cont_dlr">$ <input type="number" step="<%- model.commonData.postDlrPre %>" id="post_total_value" aria-label="Post total value"></div>
                    <% } else if(model.commonData.mode == 'pct') { %>
                        <div class="cont_pct">
                            <!-- contributions post slider -->
                                <input type="hidden" id="post_total_value" />
                                <div class="note" style="visibility: <%- (model.commonData.data_source == 'dst') ? 'hidden' : 'visible' %>"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.postMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.postMax %>%</span></div>
                                <div class="slide_container"><div class="slider_box"><div id="slider3" class="slider-element"></div></div></div>
                                {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.postPctPre %>" id="post_total_pct" aria-label="Post total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.postMin %>" class="allowed" max="<%- model.commonData.postMax %>" dval="<%- model.commonData.postCurrent %>" value="<%- (model.commonData.postMax == model.commonData.postMin) ? model.commonData.postMin : model.commonData.postCurrent %>"> %</div>
                                {% else %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.postPctPre %>" id="post_total_pct" aria-label="Post total percentage" min="<%- model.commonData.postMin %>" max="<%- model.commonData.postMax %>" dval="<%- model.commonData.postCurrent %>" value="<%- (model.commonData.postMax == model.commonData.postMin) ? model.commonData.postMin : model.commonData.postCurrent %>"> %</div>
                                {% endif %}        

                            <!-- end contributions post slider -->
                        </div>
                    <% } else { %>
                        <div class="cont_dlr" style="display:none;">$ <input type="number" step="<%- model.commonData.postDlrPre %>" id="post_total_value" aria-label="Post total value"></div>
                        <div class="cont_pct">
                            <!-- contributions post slider -->
                                <div class="note" style="visibility: <%- (model.commonData.data_source == 'dst') ? 'hidden' : 'visible' %>"><span>{{ 'min' | trans ({}, 'contributions') }} <%- model.commonData.postMin %>%</span><span>{{ 'max' | trans ({}, 'contributions') }} <%- model.commonData.postMax %>%</span></div>
                                <div class="slide_container"><div class="slider_box"><div id="slider3" class="slider-element"></div></div></div>
                                {% if app.session.get('rkp')['plan_data'].funds[0][9] is defined %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.postPctPre %>" id="post_total_pct" aria-label="Post total percentage" data="{{ app.session.get('rkp')['plan_data'].funds[0][9]}}" min="<%- model.commonData.postMin %>" class="allowed" max="<%- model.commonData.postMax %>" dval="<%- model.commonData.postCurrent %>" value="<%- (model.commonData.postMax == model.commonData.postMin) ? model.commonData.postMin : model.commonData.postCurrent %>"> %</div>
                                {% else %}
                                    <div class="pctValue"><input type="number" step="<%- model.commonData.postPctPre %>" id="post_total_pct" aria-label="Post total percentage"  min="<%- model.commonData.postMin %>" max="<%- model.commonData.postMax %>" dval="<%- model.commonData.postCurrent %>" value="<%- (model.commonData.postMax == model.commonData.postMin) ? model.commonData.postMin : model.commonData.postCurrent %>"> %</div>
                                {% endif %}                 
                            <!-- end contributions post slider -->
                        </div>
                    <% } %>
                </div>

            <input type="hidden" id="salary_slider_min" value="<%- model.commonData.preMin %>"/>
            <input type="hidden" id="salary_slider_max" value="<%- model.commonData.preMax %>"/>
            <input type="hidden" id="salary_slider_current" value="<%- model.commonData.preCurrent %>"/>
            <input type="hidden" id="show_catchup" value="<%- model.commonData.showCatchup %>"/>
            <input type="hidden" id="catchup_mode" value="<%- model.commonData.planCatchupSetting %>"/>
            <% if(model.commonData.pre) { %>
                <input type="hidden" id="pre"/>
            <% } %>
            <% if(model.commonData.roth) { %>
                <input type="hidden" id="roth"/>
            <% } %>
            <% if(model.commonData.post) { %>
                <input type="hidden" id="post"/>
            <% } %>
            <input type="hidden" id="roth_slider_min" value="<%- model.commonData.rothMin %>"/>
            <input type="hidden" id="roth_slider_max" value="<%- model.commonData.rothMax %>"/>
            <input type="hidden" id="roth_slider_current" value="<%- model.commonData.rothCurrent %>"/>
            <input type="hidden" id="post_slider_min" value="<%- model.commonData.postMin %>"/>
            <input type="hidden" id="post_slider_max" value="<%- model.commonData.postMax %>"/>
            <input type="hidden" id="post_slider_current" value="<%- model.commonData.postCurrent %>"/>
            <input type="hidden" id="total_value" value="<%- (model.commonData.preCurrent + model.commonData.rothCurrent + model.commonData.postCurrent) %>" />
            <input type="hidden" id="total_value_matching" value="" />
            <input type="hidden" id="total_assets" value="<%- model.retirementNeedsData.RN_TotalAssets ? model.retirementNeedsData.RN_TotalAssets : 0 %>" />
            <input type="hidden" id="years_before_retirement" value="<%- model.retirementNeedsData.RN_NumberOfYearsBeforeRetirement ? model.retirementNeedsData.RN_NumberOfYearsBeforeRetirement : 0 %>" />
            <input type="hidden" id="target_value" value="<%- model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution ? model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution : 0 %>" />
            <input type="hidden" id="target_savings" value="<%- model.retirementNeedsData.RN_EstimatedSavingsatRetirement ? model.retirementNeedsData.RN_EstimatedSavingsatRetirement : 0 %>" />
            <input type="hidden" id="ACAoptOut" value="<%- model.contributionsData.C_ACAoptOut %>" />
            <input type="hidden" id="ACAoptOutNotice" />

            </div>
            <div class="clearfix"></div>
        </div>


        <div class="col-md-6">
            <div class="title" role="heading" aria-level="1">{{ 'will_you_have_enough_at_retirement' | trans ({}, 'contributions') }}</div>
            <div class="graph-bar">
                <div style="height:100%;overflow: hidden;">
                    <table class="bar-chart">
                        <tr>
                            <td style="vertical-align: bottom;height:177px;padding-right:5px;width:50%;">
                                <div class="total_amt">$<%- model.totalAmount %></div>
                                <div id="total_bar">
                                    <div class="match" style="display:{{ matchingContributions ? 'block' : 'none'}};" >
                                        <table>
                                            <tr>
                                                <td>{{ 'employer' | trans ({}, 'contributions') }} <span class="match_amt">$0</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="savings">
                                        <table <%= model.commonData.matchPercent ? 'style="display:block;"' : 'style="display:none;"' %>>
                                            <tr>
                                                <td>{{ 'you' | trans ({}, 'contributions') }} <span class="savings_amt">$0</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div></td>
                            <td style="vertical-align: bottom;height:177px;padding-left:5px;width:50%;">
                                <div class="target_amt">$<%- model.retirementNeedsData.RN_EstimatedSavingsatRetirement ? model.priceFormat(model.retirementNeedsData.RN_EstimatedSavingsatRetirement) : 0 %></div>
                                <div id="target_bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="name">{{ 'projected_savings' | trans ({}, 'contributions') }}</div></td>
                            <td><div class="name">{{ 'target_savings' | trans ({}, 'contributions') }}</div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="desc">{{ 'contributions_desc' | trans ({}, 'contributions') }}</div>
            <% if(model.commonData.ACAon) { %>
                <div class="ACAoptOutNotice">{{ 'default_arrangement_opt_out_required' | trans ({}, 'contributions') }}</div>
            <% } %>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="bottom-spacer"></div>
    <div class="actions">
        <a id="saveContribution" class="actionBtn right" href="#" aria-label="Save"><span class="center action-button">{{ 'save' | trans ({}, 'global') }}</span></a>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Notice Modal -->
<div class="modal fade" id="contributionNotice" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'contributions_notice_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">{{ 'contributions_notice_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="Opt Out" aria-label="Opt out">{{ 'opt_out' | trans ({}, 'contributions') }}</button>
                <button type="button" class="btn btn-primary action" rel="Proceed" aria-label="Proceed">{{ 'proceed' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Warning Modal -->
<div class="modal fade" id="contributionWarning" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'contributions_warning_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">{{ (app.session.get('rkp')['rkp'] == 'dst' and app.session.get('rkp')['plan_data'].partStatus == 'S' ? 'contributions_suspended_warning_body' : 'contributions_warning_body') | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="Accept" aria-label="Accept">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- ACAMessage Modal -->
<div class="modal fade" id="acaMessage" tabindex="-1" aria-modal="true" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">{{ 'aca_message_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="Confirm" aria-label="Confirm">{{ 'confirm' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" rel="Cancel" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Maximize Your Saving Modal -->
<div class="modal fade" id="maximizeSavingModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'maximize_your_savings' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">{{ 'maximize_saving_body_1' | trans ({}, 'contributions') }} <span class="savingMaximizer"></span>{{ 'maximize_saving_body_2' | trans ({}, 'contributions') }}<span class="maxMatch"></span> {{ 'maximize_saving_body_3' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" data-dismiss="modal" rel="Cancel" aria-label="Cancel">{{ 'maximize_my_savings' | trans ({}, 'contributions') }}</button>
                <button type="button" class="btn btn-default action saveNext" aria-label="Dismiss">{{ 'no_thanks' | trans ({}, 'contributions') }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Maximize Your Saving Modal -->
<div class="modal fade" id="paycheckAmountModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'paycheck_amount_title' | trans ({}, 'contributions') }}</h4>
            </div>
            <div class="modal-body">
                {{ 'paycheck_amount_body_1' | trans ({}, 'contributions') }} $<%- model.commonData.limit_50y %> {{ 'paycheck_amount_body_2' | trans ({}, 'contributions') }}
                <div style="margin:20px 0;"><span class="mode_str"></span> <input type="text" class="catchupValue" aria-label="Catch-up value"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="save" aria-label="Save">{{ 'save' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" rel="cancel" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>


<!-- Default Contribution Arrangement Modal -->
<div class="modal fade" id="cArrangementModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'confirm' | trans ({}, 'global') }}</h4>
            </div>
            <div class="modal-body">{{ 'carrangement_body' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="Go Back" aria-label="Go back">{{ 'go_back' | trans ({}, 'contributions') }}</button>
                <button type="button" class="btn btn-primary action" rel="Opt Out" aria-label="Opt out">{{ 'opt_out' | trans ({}, 'contributions') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Switch to Dollar Opt Out Modal -->
<div class="modal fade" id="dollarOptOutModal" aria-modal="true" tabindex="-1" role="dialog" aria-labelledby="dollarOptOutLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dollarOptOutLabel">{{ 'confirm' | trans ({}, 'global') }}</h4>
            </div>
            <div class="modal-body">{{ 'warning_swapping_to_dollar_deferral' | trans ({}, 'contributions') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default action" rel="Confirm" aria-label="Confirm">{{ 'confirm' | trans ({}, 'global') }}</button>
                <button type="button" class="btn btn-primary action" rel="Cancel" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>
<div id ="contributions-ajax"></div>
</script>
<script type="text/template" id="contributions-tpl-auto">
<input type="hidden" id="total_assets" value="<%- model.retirementNeedsData.RN_TotalAssets ? model.retirementNeedsData.RN_TotalAssets : 0 %>" />
<input type="hidden" id="years_before_retirement" value="<%- model.retirementNeedsData.RN_NumberOfYearsBeforeRetirement ? model.retirementNeedsData.RN_NumberOfYearsBeforeRetirement : 0 %>" />
<input type="hidden" id="target_value" value="<%- model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution ? model.retirementNeedsData.RN_RecommendedMonthlyPlanContribution : 0 %>" />
<input type="hidden" id="target_savings" value="<%- model.retirementNeedsData.RN_EstimatedSavingsatRetirement ? model.retirementNeedsData.RN_EstimatedSavingsatRetirement : 0 %>" />
<input type="hidden" id="annual_income" value="<%- model.retirementNeedsData.RN_AnnualIncomeNeededInRetirement %>">
<div id ="contributions-ajax"></div>
<%
$.post( "/contributions/Autos", function( data )
{
    $( "#contributions-ajax" ).html( data );
});
%>
</script>