{% set messaging = app.session.get('messaging')  %}
<script type="text/template" id="disclaimer-template">
<div class="disclaimer">
        <div class="title"  role="heading" aria-level="1">{{ 'welcome_to_smartplan' | trans ({}, 'disclaimer') }}</div>
        <div class="details">{{ 'message_line_1' | trans ({}, 'disclaimer') }}</div>
        <div class="disclaimer-text">
            <p>{{ messaging['disclaimer'] | raw }}</p>
        </div>
        <div class="details">{{ 'i_agree_line' | trans ({}, 'disclaimer') }} </div>
    </div>
    <div class="actions">
        <a class="agree-disclaimer actionBtn right" href="#" aria-label="I agree"><span class="center action-button" style="min-width: 100px; text-align: center">{{ 'i_agree_btn' | trans ({}, 'disclaimer') }}</span></a>
        <div class="clear"></div>
    </div>
</script>
