<script type="text/javascript">
var EventTracking = (function() {
    var eventParameters = null;
    function track(event_name, properties) {
        if (!eventParameters)
            jQuery.ajax
            ({
                url:   "/getReportingParameters",
                method: "POST",
                success: function(result) 
                {
                    eventParameters = result;
                },
                async: false
            });
        $.each(eventParameters, function( key, value ) 
        {
          properties[key] = value;
        });    
        mixpanel.track(event_name, properties);
    }
    function proceedRetirementNeeds(data) {
        var fieldNameMapping = {
            "RN_CurrentYearlyIncome": "Current Yearly Income",
            "RN_EstimatedRetirementIncome": "Estimated Retirement Income",
            "RN_EstimatedSocialSecurityIncome": "Estimated Social Security Income",
            "RN_ReplacementIncome": "Replacement Income",
            "RN_NumberOfYearsBeforeRetirement": "Number of Years Before Retirement",
            "RN_InflationAdjustedReplacementIncome": "Inflation-Adjusted Replacement Income",
            "common_planBalance": "Current Plan Balance",
            "RN_AssetTypes[]": "Asset Types",
            "RN_OtherAssets": "Other Assets",
            "RN_YearsYouWillLiveInRetirement": "Years You Will live in Retirement",
            "RN_PctValue": "Percentage of income from Plan"
        };
        var properties = {};
        for (var key in data) {
            if (key in fieldNameMapping) {
                properties[fieldNameMapping[key]] = data[key];
            }
        }
        track("clicked proceed in retirement needs", properties);
    }
    function finishedRiskProfile(data) {
        track('finished risk profile', {
            'Risk Level': data.RP_label,
            'Answers': data.RP_Answers
        });
    }
    function selectedInvestmentType(name) {
        track('selected investment type', {
            'Investment Type': name
        });
    }
    function selectedPortfolio(id, name) {
        track('selected portfolio', {
            'Portfolio Id': id,
            'Portfolio Name': name
        });
    }
    function savedInvestments(data) {
        var tickers = [];
        var fundnames = [];
        var allocations = [];
        for (var key in data) {
            if (data[key].hasOwnProperty('ticker') && data[key].hasOwnProperty('name') && data[key].hasOwnProperty('percent')) {
                tickers.push(data[key]['ticker']);
                fundnames.push(data[key]['name']);
                allocations.push(data[key]['percent']);
            }
        }
        track('saved investments', {
            'Tickers': tickers,
            'Fund Names': fundnames,
            'Allocations': allocations
        });
    }
    function savedContributions(data) {
        var suffix = data.contribution_mode === "DEFERPCT" ? "Pct" : "Value";
        track('saved contributions', {
            'Pay Frequency': data.C_GetPaid,
            'Contribution Type': data.contribution_mode,
            'Pre Tax Contribution': data["C_PreTaxContribution" + suffix],
            'Post Tax Contribution': data["C_PostTaxContribution" + suffix],
            'Roth Contribution': data["C_RothContribution" + suffix],
            'Estimated Monthly Contribution': data.C_MonthlyContributionTotal,
            'Employers Estimated Monthly Contribution': data.C_MonthlyContributionTotalEmployer
        });
    }
    function filterPersonalBeneficiary(data)
    {
        if (data.ssn)
        delete data.ssn;
        return data;
    }
    function addBeneficiary(data){
        filterPersonalBeneficiary(data);
        track('addBeneficiary',data);
    }
    function editBeneficiary(data){
        filterPersonalBeneficiary(data);
        track('editBeneficiary',data);
    }
    function myProfileSaveAndFinish(data)
    {
        track('myProfileSaveAndFinish',data);
    }
    return {
        proceedRetirementNeeds: proceedRetirementNeeds,
        finishedRiskProfile: finishedRiskProfile,
        selectedInvestmentType: selectedInvestmentType,
        selectedPortfolio: selectedPortfolio,
        savedInvestments: savedInvestments,
        savedContributions: savedContributions,
        addBeneficiary: addBeneficiary,
        editBeneficiary: editBeneficiary,
        myProfileSaveAndFinish: myProfileSaveAndFinish
    };
}());
</script>
<!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("26ca28f7ee32cae1a5f5762f8bd56288");</script><!-- end Mixpanel -->