{% set audioFile = audio| trans ({}, 'audio')   %}
{% set audioId = "main" %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% set audioPosition = 'static' %}
{% set autoplay = false %}
<form id ="investmentSelectorForm">
    <div class="title" style ="padding-bottom:10px">{{ 'investments' | trans ({}, 'investments') }}</div>
    <div class="details investments">
        {% for section in sections %}
        {% if section.name is defined %}
        {% set audioId = section.name %} 
        {% if section.translation.audio is defined %}
        {% set audioFile = section.translation.audio   %}
        {% endif %}
        <div class="investmentType">
            <input type ="radio" {% if section.checked %}checked{% endif %} value ="{{ section.name}}" name="investmentType" id ="investmentType{{ section.name}}"  />
            <label style ="margin-left:5px" onclick ="$('#investmentType{{ section.name}}').click()">{{ section.translation.title  }}</label> {% if section.translation.video is defined %}{% set video = section.translation.video %} {% include"SpeAppBundle:Template:investments/general/playvideo.html.twig" %}{% else %}{% if section.translation.audio is defined %}{% include"SpeAppBundle:Template:playaudio.html.twig" %}{% endif %}{% endif %}
            {% if section.translation.link is defined %}<span class="popupLink highlight" data-link="{{ section.translation.link }}"><i class="fa fa-file-text-o"></i></span>{% endif %}
            <div class="desc">{{ section.translation.description  }}</div>
            {% if section.translation.error is defined %}<div class ="suggestion translationError{{section.name}}">{{ section.translation.error  }}</div>{% endif %}
            {% if section.translation.investment is  defined and section.translation.investment is not null %}<div class ="suggestion">{{ section.translation.investment }}</div>{% endif %}
        </div>    
        {% endif %}
        {% endfor %}
    </div>
    <button class="btn btn-primary" id ="investmentSelectorFormButton" type ="submit" style ="display:none">{{ 'proceed'| trans ({}, 'global') }}</button>
</form>
<div class ="actions">
    <a class="actionBtn right">
        <span class="center action-button" onclick ="$('#investmentSelectorFormButton').click()" >{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
<script>
var investmentSections = new Object;
{% for section in sections %}
{% if section.name is defined %}
investmentSections.{{section.name}} = new Object();
investmentSections.{{section.name}}.path = "{{section.path }}";
investmentSections.{{section.name}}.name = "{{section.name }}";
investmentSections.{{section.name}}.errorModal = null;
{% if section.translation.errorModal is defined %}
investmentSections.{{section.name}}.errorModal = "{{ section.translation.errorModal | e('js') }}";
{% endif %}
{% if section.translation.investment is defined %}
investmentSections.{{ section.name }}.investment = "{{ section.translation.investment | e('js') }}";
{% endif %}
{% if section.translation.special is defined %}
investmentSections.{{ section.name }}.special = "{{ section.translation.special | e('js') }}";
{% endif %}
{% endif %}
{% endfor %}
$( "#investmentSelectorForm" ).submit(function( event )
{
    event.preventDefault();
    var section = investmentSections[$("[name=investmentType]:checked").val()];
    if (section.special === "AT" && !section.investment) {
        $('body').trigger('spe:router:redirect','riskProfile')
        return;
    }
    if (section.errorModal != null)
    {
        errorMessage(section.errorModal);
    }
    else
    {
        window.EventTracking.selectedInvestmentType(section.name);
        $.post(section.path,{"name": section.name}, function(html)
        {
            $("#investmentsContainer").html(html);
        });   
    }       
});
$('body').trigger('spe:disclosure:show', { title: 'investmentSelector'});
{% if planData.planAllowsElections is defined and not planData.planAllowsElections %}
bootbox.dialog
({
    closeButton: true,
    title: "{{ 'warning' | trans ({}, 'global' | e("js")) }}",
    message: "{{ 'investments_warning_message' | trans ({}, 'investments' | e("js")) }}",
    buttons: {
        ok: {
            label: "{{ 'accept' | trans ({}, 'global' | e("js")) }}",
            className: "btn-success",
            callback: function() {
                this.modal('hide');
                _gaq.push(['_trackEvent', 'Investments', 'Popup - Plan does not allow investment allocation change']);
            }
        }
    }
});
{% endif %}
</script>
