<script type="text/template" id="library-index-template">
    <div class="library-container">
        <div class="library-video col-lg-9">
            <div class="content-area text row">
                <div class="library-desc">
                    <h1 class="head-title" role="heading" aria-level="1">{{ 'library' | trans ({}, 'library') }}</h1>
                    <div class="desc">{{ 'library_desc' | trans ({}, 'library') }}</div>
                </div>
            </div>
        </div>
        <div style="display: block;" class="col-lg-3 max" id="library_container">
            <div class="library-container-head-close">
                <div class="note">PLAYLIST:</div>
                <div class="open toggle-playlist">{{ 'open' | trans ({}, 'global') }}</div>
            </div>
            <div class="library-container-head">
                <div class="note">{{ 'click_to_play' | trans ({}, 'library') }}:</div>
                <div class="close toggle-playlist">{{ 'close' | trans ({}, 'global') }}</div>
            </div>
            <div class="customScrollBox" id="library_container_inner">
                <div style="top: 0;">
                    <div class="content">
                        <ul class="library-list">
                            <% _.each( model, function(category){ %>
                            <li class="category"><%= category.name %>
                                <ul>
                                    <% _.each(category.video ? category.video : category.document, function(value, title){ %>
                                    <% if (category.video){ %>
                                    <li> <a data-video="<%= value.video %>" href="#" data-dir="<%= value.directory %>"><%= title %></a></li>
                                    <% }else{ %>
                                    <li> <a href="<%= value %>" target="_blank"><%= title %></a></li>
                                    <% } %>
                                    <% }); %>
                                </ul>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>