{% set audioId = audioId is defined ? audioId : 'vwise-audio-player' %}
{% set autoplay = autoplay is not defined or autoplay %}
<a class="audioPanel2 {{ audioClass is defined ? audioClass : ''}}" id ="{{ audioId }}" rel="0" style="display: inline-block;position:static"><span class="audio-icon"></span><span class="audio-state {% if autoplay %}audio-pause{% else %}audio-play{% endif %}"></span><audio {% if autoplay %}autoplay="autoplay"{% endif %}><source src="https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/audio/standard/{{ audioFile }}.mp3"></audio></a>
<script>

$( "#{{ audioId }}" ).click(function() {
    var $state = $(this).find('.audio-state');
    var $audio = $(this).find('audio');
    if ($state.hasClass("audio-play")) {
        $state.removeClass("audio-play");
        $state.addClass("audio-pause");
        $audio.trigger("play");
        
        $(".audioPanel2").not(this).find("audio").trigger("pause");
        $(".audioPanel2").not(this).find(".audio-state").removeClass("audio-pause").addClass("audio-play");
        
    }
    else {
        $state.removeClass("audio-pause");
        $state.addClass("audio-play");
        $audio.trigger("pause");
    }
});    
</script>
