<script type="text/template" id="video-player-template">
    <div id="vwise-video"></div>
</script>

<script type="text/template" id="audio-player-template">
    <div id="vwise-audio"></div>
    <a class="audioPanel" rel="0" href="#" aria-label="Audio play/pause"><span class="audio-icon"></span><span class="audio-state audio-pause audio-play"></span></a>
</script>

