<div class="details profile">
    <div class="profileBox report" {% if ajax %}style ="width:100%"{% endif %} >
        <div class="profileHeader">
            <div class="logo left">
                {% if logo.show %}
                <img src ="{{ logo.url }}" />
                {% endif %}
            </div>
            <div class="headtitle right">{{ "your_investor_profile" | trans ({}, "my_profile") }}<br>
                <div class="date">{{ "date_generated" | trans ({}, "my_profile") }} {{ reportDate |date("l, F j, Y, g:i A") }} PST</div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Start Personal -->
        <div class="reportBox">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="item"><b>{{ "plan_name" | trans ({}, "my_profile") }}</b> {{ personalInfo.planName }}</div>
                    {% if  showPersonalInformation %}
                    <div class="item"><b>{{ "participant_name" | trans ({}, "my_profile") }}</b> {{ personalInfo.name }}</div>
                    <div class="item"><b>{{ "email" | trans ({}, "my_profile") }}:</b> {{ personalInfo.email }}</div>
                    {% endif %}
                    <div class="item"><b>Plan ID:</b> {{ personalInfo.planId }}</div>
                </div>
                {% if personalInfo.reachMeAvailable and showPersonalInformation  %}
                <div class="col-xs-6 col-sm-3">
                    <div class="item"><b>{{ "telephone" | trans ({}, "my_profile") }} </b>{{ personalInfo.phone }}</div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="item"><b>{{ "a_good_time_to_reach_me" | trans ({}, "my_profile") }}: </b><br>{{ personalInfo.avability }}</div>
                </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/contributions/contributions.html.twig" %}     
        {% if autoIncrease.complete %}
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/autoIncrease/autoIncrease.html.twig" %}
        {% endif %}
        {% if investments.complete  %}
        <div class="divider"></div>
        {% set sectionTranslation = investments.translations.section %}
        {% include "SpeAppBundle:Template:myprofile/investments/" ~ investments.file ~ ".html.twig" %}
        {% endif %}
        {% if riskProfile.complete %}
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/riskprofile/" ~ riskProfile.file ~ ".html.twig" %}
        {% endif %}
        {% if retirementNeeds.complete %}
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/retirementNeeds/retirementNeeds.html.twig" %}
        {% endif %}
        {% if beneficiaries.show %}
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/beneficaries/beneficaries.html.twig" %}
        {% endif %}
        {% if documents.show %}
        <div class="divider"></div>
        <div class="reportBox">
            <div class="boxTitle">{{ "important_documents" | trans ({}, "my_profile") }}</div>
            <div class="clear"></div>
            {% for document in documents.list %}
            <div class="info highlight"><a target="_blank" href="{{ document.url }}">{{ document.name }}</a></div>
            {% endfor %}
            <div class="clear"></div>
        </div>        
        {% endif %}
        {% if confirmationCodes.complete %}
        <div class="divider"></div>
        {% include "SpeAppBundle:Template:myprofile/confirmation/confirmation.html.twig" %}
        {% endif %}
        {% if investorProfileDisclosure.show %}
        <div class="divider"></div>
        <div id="important_message" class="reportBox">
            <div class="boxTitle">{{ "important_message" | trans ({}, "my_profile") }}</div>
            <div class="clear"></div>
            <div class="info">{{ investorProfileDisclosure.message }}</div>
            <div class="clear"></div>
        </div>       
        {% endif %}
    </div>
</div>
<script type="text/javascript">
var myProfile =
{
    loadRiskAnswer: function(text)
    {
        $("#riskAnswer").html(text);
    },
    loadRetirementNeedsAnswer: function(text)
    {
        $("#retirementNeedsAnswer").html(text);
    },
    showSpouseWaiverForm: function()
    {
        $('#spousalWavierModal').modal('show');
    }
};
</script>