<!DOCTYPE html>
<html>
    <head>
        <title>{{ "smartplan_enterprise" | trans ({}, "my_profile") }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/bootstrap.min.css') }}" media="all" >
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all" >
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/main.css?v=100') }}" media="all" >
        <script src="{{ asset('spe/js/vendor/jquery/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('spe/js/vendor/utils/bootstrap.min.js') }}" type="text/javascript"></script>
        {{ include('SpeAppBundle:Template:highcharts.js.twig')  }}
    </head>
    <body class="report">
        {{ include ('SpeAppBundle:Template:report-inner.html.twig') }}
    </body>
</html>

