{% if app.session.get('messaging').personalInvestorProfileDisclaimerActive  %}
<div id ="personalInvestorProfileDisclaimer" ></div>
{% endif %}
<script type="text/template" id="risk-profile-index">
<% if ($("#personalInvestorProfileDisclaimer").length == 0) { %>
<div class="rp-container" style="padding: 20px">
    <div class="audio-area"></div>
    <h1 class="head-title" role="heading" aria-level="1">{% if app.session.get('module').investmentsGraph  %}{{ 'ADP_risk_profile'| trans ({}, 'risk_profile') }}{% else %} {{ 'risk_profile'| trans ({}, 'risk_profile') }}{% endif %}</h1>
    <div class="title" id="rpTitle"><%- model.text %></div>
    <div class="details" role="radiogroup" aria-labelledby="rpTitle">
        <% _.each( model.optionsPoints, function(option, index){ %>
        <div class="RP_Option">
            <input type="radio" name="rpQ" value="<%- index %>" opt="a"  id="rpQ2-<%- index %>" <% if (index == model.selected) { %> checked="checked" <% } %> >
            <label for="rpQ2-<%- index %>" class="RPQ_txt"><%- option %></label>
            <div class="clear"></div>
        </div>
        <% }); %>
    </div>
    <input type="hidden" value="2" id="cq">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>
    <% if (model.showTagline) { %>
    <div style="margin-bottom:10px;font:14px 'Times New Roman', Times, serif;">{{ 'brought_to_you_by'| trans ({}, 'risk_profile') }}</div>
    <div style="margin-bottom:20px;font:26px 'Times New Roman', Times, serif;">{{ 'brought_to_you_by_name'| trans ({}, 'risk_profile') }}</div>
    <% } %> 
    <div class="actions">
        <% if (!model.start) { %>
            <a class="actionBtn left back" href="#" aria-label="Back">
                <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
            </a>
        <% } %>

        <% if (!model.last) { %>
            <a  class="actionBtn right proceed" href="#" aria-label="Proceed">
                <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
            </a>
        <% } %>
        <div class="clearfix"></div>
    </div>
</div>
<% } else { %>
<input type ="hidden" id ="blockAudio" />
<div class="rp-container">
    <div class="disclaimer" style="padding: 0;">
        <div class="title" role="heading" aria-level="1">{{ 'personal_investor_profile_disclaimer'| trans ({}, 'risk_profile') }}</div>
        <div class="disclaimer-text" style ="border:0px">
            <p>{{ app.session.get('messaging').personalInvestorProfileDisclaimer | raw}}
            </p>
        </div>
        <div class="disclaimer-text" style ="border:0px">
            <p>
            {% set buttonidentifier = ".personalInvestorProfileDisclaimerButton" %}
            {% include "SpeAppBundle:Template:iagree/display.html.twig" %}
            </p>
        </div>
    </div>
    <div style="height: 10px;"></div>

    <div class="actions">
        <a class="actionBtn right" href="#" aria-label="Proceed">
                <span class="personalInvestorProfileDisclaimerButton center disabledButton">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clear"></div>
    </div>
</div>
<% } %>
</script>
<script type="text/template" id="risk-profile-result">
    <div class="rp-container">
        <div class="head-title" role="heading" aria-level="1"><%- model.label %></div>
        <div class="title">{{ 'revisit_question_note'| trans ({}, 'risk_profile') }}</div>
        <div class="actions">
            <a class="actionBtn left start" href="#" aria-label="Revisit question">
                <span class="center action-button">{{ 'revisit_question'| trans ({}, 'risk_profile') }}</span>
            </a>
            <a class="actionBtn right finish" aria-label="Proceed" href="#">
                <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</script>


<script type="text/template" id="risk-profile-disclaimer">
    <div class="rp-disclaimer">
        <div class="disclaimer" style="padding: 0;">
            <div class="title" role="heading" aria-level="1">{{ 'terms_of_use'| trans ({}, 'risk_profile') }}</div>
            <div class="details">{{ 'disclaimer_details'| trans ({}, 'risk_profile') }}</div>
            <div class="disclaimer-text">
                <p>{{ 'kinetik_user_agreement'| trans ({}, 'risk_profile') }}</p>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="actions">
            <div style="text-align: right; margin-bottom: 10px">
                <span class="details">{{ 'disclaimer_agree'| trans ({}, 'risk_profile') }} </span>
                <div class="clear"></div>
            </div>
            <a class="actionBtn left response" href="#" aria-label="Back">
                <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
            </a>
            <a class="actionBtn right response agree" href="#" aria-label="Back">
                <span class="center action-button agree">{{ 'i_agree'| trans ({}, 'global') }}</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</script>

<script type="text/template" id="risk-profile-advice">
    <div class="rp-advice">
        <div class="audio-area"></div>
        <div style="height:20px" data-audio="0503_SMA_VO.mp3"></div>
        <div class="head-title" role="heading" aria-level="1">{{ 'advice_title'| trans ({}, 'risk_profile') }}</div>
        <div class="details">
            <p class="para" id="para">{{ 'advice_detail'| trans ({}, 'risk_profile') }}</p>
            <div class="RP_Option" role="radiogroup" aria-labelledby="para">
                <input type='radio' role='radio' aria-checked='false' value='1' name='advice_opt' id="advice_opt1" class="advice-option" /> &nbsp;<label for="advice_opt1">{{ 'yes_advice'| trans ({}, 'risk_profile') }}</label><br/>
                <input type='radio' role='radio' aria-checked='false' value='0' name='advice_opt' id="advice_opt2" class="advice-option" /> &nbsp;<label for="advice_opt2">{{ 'no_advice'| trans ({}, 'risk_profile') }}</label><br/>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="risk-profile-managed-account-opt-in">
<div class="rp-container" style="padding: 20px">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'do_you_want_investment_advice'| trans ({}, 'risk_profile') }}</div>
    <div class="details">
        <p>{{ 'for_an_additional_fee'| trans ({}, 'risk_profile') }}</p>
        <div class="RP_Option">
            <input type="radio" name="managedAccountOptIn" value="1" id="managedAccountOptInYes" <% if (model.managedAccountOptInValue === 1) { %>checked<% } %> >
            <label for="managedAccountOptInYes" class="RPQ_txt">{{ 'yes_investment_advice'| trans ({}, 'risk_profile') }}</label>
            <div class="clear"></div>
        </div>
        <div class="RP_Option">
            <input type="radio" name="managedAccountOptIn" value="0" id="managedAccountOptInNo" <% if (model.managedAccountOptInValue === 0) { %>checked<% } %> >
            <label for="managedAccountOptInNo" class="RPQ_txt">{{ 'no_investment_advice'| trans ({}, 'risk_profile') }}</label>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>
    <div class="actions">
        <% if (model.stadionManagedAccountId.toString() === "1") { %>
        <a class="actionBtn left">
            <span class="center action-button backManagedAccount">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <% } %>
        <a class="actionBtn right">
            <span class="center action-button proceedManagedAccount">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
</script>

<script type="text/template" id="risk-profile-managed-account-retire-express">
    <div class="rp-container" style="padding: 20px">
        <div class="audio-area"></div>
        <div class="head-title">{{ 'enroll_in_retire_express'| trans ({}, 'risk_profile') }}</div>
        <div class="details">
            <p>{{ 'retire_express_desc'| trans ({}, 'risk_profile') }}</p>
            <div class="RP_Option">
                <input type="radio" name="retireExpressOptIn" value="1" id="retireExpressOptInYes" <% if (model.retireExpressOptInValue === 1) { %>checked<% } %> >
                <label for="retireExpressOptInYes" class="RPQ_txt">{{ 'yes_retire_express'| trans ({}, 'risk_profile') }}</label>
                <div class="clear"></div>
            </div>
            <div class="RP_Option">
                <input type="radio" name="retireExpressOptIn" value="0" id="retireExpressOptInNo" <% if (model.retireExpressOptInValue === 0) { %>checked<% } %> >
                <label for="retireExpressOptInNo" class="RPQ_txt">{{ 'no_retire_express'| trans ({}, 'risk_profile') }}</label>
                <div class="clear"></div>
            </div>
        </div>
        <div>
            <span>{{ 'please_see_terms'| trans ({}, 'risk_profile') | raw }}</span>
        </div>
        <div class="clearfix"></div>
        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right">
                <span class="center action-button proceedRetireExpress">{{ 'proceed'| trans ({}, 'global') }}</span>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

