{% set plan = app.session.get('plan') %}
{% set phone1 = plan['phone']|replace({'000-000-0000': ''})|trim %}
{% set phone2 = plan['phone2']|replace({'000-000-0000': ''})|trim %}
{% set address1 = plan['address']|replace({'Enter your address': ''})|trim %}
{% set address2 = plan['address2']|replace({'Enter your address 2': ''})|trim %}
{% set city = plan['city']|replace({'Enter your city': ''})|trim %}
{% set state = plan['state']|replace({'Enter your state': ''})|trim %}
{% set zip = plan['zip']|replace({'Enter your': ''})|trim %}
{% if city %}
    {% set address3 = city %}
    {% if state %}
        {% set address3 = address3 ~ ', ' ~ state %}
    {% endif %}
    {% if zip %}
        {% set address3 = address3 ~ ' ' ~ zip %}
    {% endif %}
{% elseif state %}
    {% set address3 = state %}
    {% if zip %}
        {% set address3 = address3 ~ ' ' ~ zip %}
    {% endif %}
{% elseif zip %}
    {% set address3 = zip %}
{% else  %}
    {% set address3 = '' %}
{% endif %}
{% set email = plan['email']|replace({'Enter your email': ''})|trim %}

<script type="text/template" id="site-privacy-template">
    <div class="page-static">
        <div class="title" role="heading" aria-level="1">{{ 'privacy' | trans ({}, 'site') }}</div>
        <div class="page-box">
            <div class="story">{{ 'privacy_story' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings' | trans ({}, 'site') }}<br>
                <br>
            </div>
            <div class="story">{{ 'we_may_collect_the_following_types_information' | trans ({}, 'site') }}
                <ul>
                    <li><span style="font-weight: bold;">{{ 'information_you_provide' | trans ({}, 'site') }} - </span>{{ 'information_you_provide_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'cookies' | trans ({}, 'site') }} - </span>{{ 'cookies_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'log_information' | trans ({}, 'site') }} - </span>{{ 'log_information_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'user_communications' | trans ({}, 'site') }} - </span>{{ 'user_communications_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'affiliated_vwise_services_on_other_sites' | trans ({}, 'site') }} - </span>{{ 'affiliated_vwise_services_on_other_sites_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'third_party_applications' | trans ({}, 'site') }} - </span>{{ 'third_party_applications_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'location_data' | trans ({}, 'site') }} - </span>{{ 'location_data_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'unique_application_number' | trans ({}, 'site') }} - </span>{{ 'unique_application_number_desc' | trans ({}, 'site') }}</li>
                    <li><span style="font-weight: bold;">{{ 'other_sites' | trans ({}, 'site') }} - </span>{{ 'other_sites_desc' | trans ({}, 'site') }}</li>
                </ul>
            </div>
            <div class="story">{{ 'privacy_story_1' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_1' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_2' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_2' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_3' | trans ({}, 'site') }}
                <ul>
                    <li>{{ 'privacy_story_point_1' | trans ({}, 'site') }}</li>
                    <li>{{ 'privacy_story_point_2' | trans ({}, 'site') }}</li>
                    <li>{{ 'privacy_story_point_3' | trans ({}, 'site') }}</li>
                </ul>
            </div>
            <div class="story">{{ 'privacy_story_3' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_3' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_4' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_5' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_5' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_6' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_6' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_7' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'privacy_section-headings_7' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'privacy_story_8' | trans ({}, 'site') }}</div>
        </div>
    </div>
</script>

<script type="text/template" id="site-support-template">
    <div class="page-static">
        <div class="title">{{ 'support' | trans ({}, 'site') }}</div>
        <div class="page-box">
            <div class="section-heading">{{ 'support_section-headings_1' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'support_story_1' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'support_section-headings_2' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'support_story_2' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'support_section-headings_3' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'support_story_3' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'support_section-headings_4' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'support_story_4' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'support_section-headings_5' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'support_story_5' | trans ({}, 'site') }}</div>
        </div>
    </div>
</script>

<script type="text/template" id="site-contact-template">
    <div class="title">{{ 'contact' | trans ({}, 'site') }}</div>
    <div class="details contact">
        <table>
            <tbody>
            <tr>
                <td class="label">{{ 'company' | trans ({}, 'site') }}</td>
                <td class="big">{{ plan['company'] }}</td>
            </tr>
            {% if phone1 %}
            <tr>
                <td class="label">{{ 'phone' | trans ({}, 'site') }}</td>
                <td>{{ phone1 }}</td>
            </tr>
            {% endif %}
            {% if phone2 %}
            <tr>
                <td class="label"></td>
                <td>{{ phone2 }}</td>
            </tr>
            {% endif %}
            {% if address1 %}
            <tr>
                <td class="label">{{ 'address' | trans ({}, 'site') }}</td>
                <td>{{ address1 }}</td>
            </tr>
            {% endif %}
            {% if address2 %}
            <tr>
                <td class="label"></td>
                <td>{{ address2 }}</td>
            </tr>
            {% endif %}
            {% if address3 %}
                <tr>
                    <td class="label"></td>
                    <td>{{ address3 }}</td>
                </tr>
            {% endif %}
            {% if email %}
            <tr>
                <td class="label">{{ 'email' | trans ({}, 'site') }}</td>
                <td>{{ email }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="site-terms-template">
    <div class="page-static">
        <div class="title">{{ 'terms_of_use_disclaimer' | trans ({}, 'site') }}</div>
        <div class="page-box">
            <div class="section-heading">{{ 'terms_of_use' | trans ({}, 'site') }}<br><br>
            </div>
            <div class="section-heading">{{ 'terms_section-heading_1' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_2' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_3' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_4' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_5' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_6' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_7' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_8' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_9' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_10' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_11' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_12' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_13' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_14' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_15' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_16' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_17' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_18' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_19' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_20' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_21' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_22' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_23' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_24' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_25' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_26' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_27' | trans ({}, 'site') }}</div>
            <div class="section-heading">{{ 'terms_section-heading_28' | trans ({}, 'site') }}</div>
            <div class="story">{{ 'terms_story_29' | trans ({}, 'site') }}</div>
        </div>
    </div>
</script>