<div class="rp-container" style="padding: 20px">
    <div class="details">
        <div class="col-md-12" style ="line-height:16px">
            <button type ="button" onclick ="reloadit()" class ="btn btn-primary" style ="display:none"  >Reload me</button><br/><br/>
            <div class="title">{{ 'aggreement_title' | trans ({}, 'stadion') }}</div><br/><br/>
            {{ 'aggreement_desc1' | trans ({}, 'stadion') }}
            <br/><br/>
            <textarea  readonly style ="width:100%;height:200px;overflow-y:scroll;resize:none;" id="stadionAgreementTextArea">{{ agreementText | trans ({'%percentage%': percentage}, 'stadion') }}</textarea>
            <br/><br/>
            <table width ="100%" style ="vertical-align:text-top;" >
                <tr>
                    <td style ="width:20px"><input type ="checkbox" id ="stadionAgreeCheckBox"></td>
                    <td>
                        {{ 'aggreement_checkbox_description1' | trans ({}, 'stadion') }}
                        <a href="http://cdn.stadionmoney.com/Retirement/vWise/Stadion_Form_ADV_Part_2A.pdf" target="_blank">{{ 'aggreement_checkbox_formDescription' | trans ({}, 'stadion') }}</a>, 
                        <a href="{{ qdialink | trans ({}, 'stadion') }}" target="_blank">{{ 'aggreement_checkbox_qdiaLinkDescription' | trans ({}, 'stadion') }}</a>, 
                        {% if flyerlink is not null %}
                        <a href="{{ flyerlink | trans ({}, 'stadion') }}" target="_blank">{{ 'aggreement_checkbox_flyerDescription' | trans ({}, 'stadion') }}</a>,
                        {% endif %}
                        {{ 'aggreement_checkbox_description2' | trans ({"%percentage%": percentage}, 'stadion') }}
                    </td>
                </tr>
            </table>
            <br/><br/>
            <div class="actions" style ="position:static;">
                <a class="actionBtn left">
                    <span class="center action-button" onclick ="stadionBack()">{{ 'back'| trans ({}, 'global') }}</span>
                </a>
                <a class="actionBtn right">
                    <span class="center disabledButton" id="stadionAgreeButton" onclick ="stadionAgree()">{{ 'accept_and_confirm' | trans ({}, 'stadion') }}</span>
                </a>
                <div class="clearfix"></div>
            </div>
            <br/>
            {{ 'aggreement_desc2' | trans ({}, 'stadion') }}
            <br/><br/>
        </div>
    </div>
</div>
<script>
var viewedAllDisclaimer = false;
$('#stadionAgreementTextArea').on('scroll', function() 
{
    var offset = 200; // height of textarea

    if (this.scrollHeight <= (this.scrollTop+offset)) 
    {
        viewedAllDisclaimer = true;
        checkStadionDisclaimer();
    }
});
$( "#stadionAgreeCheckBox" ).click(function() 
{
    checkStadionDisclaimer();
});
function checkStadionDisclaimer()
{
  $("#stadionAgreeButton").removeClass("action-button disabledButton");  
  if ($("#stadionAgreeCheckBox").is(":checked") && viewedAllDisclaimer)
  {
      $("#stadionAgreeButton").addClass("action-button");
  }
  else
  {
    $("#stadionAgreeButton").addClass("disabledButton");
  }    
}
function reloadit()
{
    $.post( "/retirementneeds/stadionAgreement", function( data ) 
    {
        $( ".content-area" ).html( data );
    });
}
function stadionBack()
{
    $.post( "/retirementneeds/stadionResult", function( data ) 
    {
        $( ".content-area" ).html( data );
    });
}
function stadionAgree()
{
    if ($("#stadionAgreeCheckBox").is(":checked") && viewedAllDisclaimer)
    {
        $.post( "/investments/stadionAgreementSaved", function( data )
        {       
            var common = SectionGetData("common");
            common.updateElections = 1;
            SectionSetData("common",common);
            $('#mainNav').find('#investments').addClass('full-lock');
            $('body').trigger('spe:router:redirect', { to: 'contributions'});
        });
    }
}
</script>