<style>
    #sdnGraphContainer {
        margin-top: 38px;
    }
    #sdnGraphContainer img {
        display:block;
        max-height: 184px;
    }
    #sdnKeyContainer {
        margin-top:28px;
    }
    #sdnKeyContainer img {
        display:block;
    }
    @media (min-width:768px) {
        #sdnGraphContainer {
            width: 1000px;
        }
        #sdnGraphContainer img {
            display: inline;
            margin-left:5px;
        }
        #sdnGraphContainer img:first-child {
            margin-left: 14px;
        }
        #sdnKeyContainer img {
            display: inline;
        }
        #sdnKeyContainer img:first-child {
            margin-left:13px;
        }   
    }
</style>
<div class="rp-container" style="padding: 20px">
        <button type ="button" onclick ="reloadit()" class ="btn btn-primary" style="display:none" >Reload me</button>

    <div class="details">
        <div class="col-md-12" style ="line-height:16px">
            <div class="title">{{ 'review_title' | trans ({}, 'stadion') }}</div><br/>
            {{ 'risk_profile' | trans ({}, 'stadion') }} {{ riskType }}<br/>
            {{ 'your_storyline_port' | trans ({}, 'stadion') }}<br/>
            <br/>
            {% if graph is not null %}
                <div id="sdnGraphContainer">
                    <img src ="{{ graph.imageUrl }}" />
                    <img src ="{{ graph.imageUrl2 }}" />
                    <img src ="{{ graph.imageUrl3 }}" />
                    <img src ="{{ graph.imageUrl4 }}" />
                    <img src ="{{ graph.imageUrl5 }}" />
                </div>
                <div id="sdnKeyContainer">
                    <img src ="{{ graph.keyImageUrl1 }}" />
                    <img src ="{{ graph.keyImageUrl2 }}" />
                    {% if graph.keyImageUrl3 != "" %}
                    <img src ="{{ graph.keyImageUrl3 }}" />
                    {% endif %}
                </div>
            {% endif %}
            <br/>
            <div style ="opacity: 0.5;">{{ 'review_desc1' | trans ({}, 'stadion') }}</div><br/>
            <br/>
            {{ 'review_desc1.5' | trans ({}, 'stadion') | raw  }}<br/>
            <br/>
            {{ 'review_desc2' | trans ({}, 'stadion')  }}<br/>
            <br/><br/>
            <div class="actions" style ="position:static;">
                <a class="actionBtn left">
                    <span class="center action-button start">{{ 'revisit_question'| trans ({}, 'risk_profile') }}</span>
                </a>
                <a class="actionBtn right">
                    <span class="center action-button" onclick="stadionAgreement()">{{ 'proceed'| trans ({}, 'global') }}</span>
                </a>
                <div class="clearfix"></div>
            </div>
            <br/>
        </div>
    </div>  
</div>
<script>
function reloadit()
{
    $.post( "/retirementneeds/stadionResult", function( data ) 
    {
        $( ".content-area" ).html( data );
    });
}
function stadionAgreement()
{
    $.post( "/retirementneeds/stadionAgreement", function( data ) 
    {
        $( ".content-area" ).html( data );
    });
}
</script>