{% include 'SpeAppBundle:Template:retirement_needs.html.twig' %}
{% include 'SpeAppBundle:Template:risk_profile.html.twig' %}
{% include 'SpeAppBundle:Template:profile.html.twig' %}
{% include 'SpeAppBundle:Template:personal.html.twig' %}

{% if app.session.get('messaging') is not null %}
    {% include 'SpeAppBundle:Template:disclaimer.html.twig' %}
{% endif %}

{% include 'SpeAppBundle:Template:player.html.twig' %}
{% include 'SpeAppBundle:Template:library.html.twig' %}
{% include 'SpeAppBundle:Template:site.html.twig' %}
