{% extends 'WidgetsBundle:PowerViewBase:desktop.html.twig' %}

{% block title %}PowerView Prototype{% endblock %}

{% block video %}{{ '1132_PWV' | trans({}, 'widget') }}{% endblock %}



{% block slides %}

{{ include('WidgetsBundle:PowerViewSlides:slideGroup_Intro.html.twig') }}

{{ content.section('contribution', 'short-right', '13', '23', 'short-right ', 'fade-out') }}
	{{ content.articleSimple('', 'top') }}
		{{ include('WidgetsBundle:PowerViewSlides:contribution.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('emp_match', 'short-right', '17', '23', 'short-right', 'fade-out') }}
	{{ content.articleSimple('', 'bottom') }}
		{{ include('WidgetsBundle:PowerViewSlides:emp_match.html.twig') }}
	{{ content.articleClose }}
{{ content.sectionClose }}

{{ content.section('projections', 'full-background out-right bg-primary', '22', '1000', 'out-right', 'out-left') }}


	{{ content.article('est_rtmt_balance', 'col top left rev short-right', '25', '49', 'short-right', 'fade-out') }}
  {% set odoTime = "26" %}
		{{ include('WidgetsBundle:PowerViewSlides:est_rtmt_balance.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('est_payout', 'col top right rev short-right', '30', '49', 'short-right', 'fade-out') }}
  {% set odoTime = "31" %}
		{{ include('WidgetsBundle:PowerViewSlides:est_payout.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('contribution_bar', 'fade-out color-primary full-background bottom', '35', '45', 'fade-out', 'fade-out') }}
  {% set odoTime = "40" %}
	{% set fillTime = "40" %}
		{{ include('WidgetsBundle:PowerViewSlides:contribution_bar.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('max_rtmt_balance', 'col left short-right panel color-primary bottom', '45', '49', 'short-right', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:max_rtmt_balance.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('max_rtmt_balance', 'col right short-right panel color-primary bottom', '45', '49', 'short-right', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:max_payout.html.twig') }}
	{{ content.articleClose }}

	{{ content.article('cta', 'rev fade-out center confirmation col wide single', '50', '1000', 'fade-out', 'fade-out') }}
		{{ include('WidgetsBundle:PowerViewSlides:matchForm.html.twig') }}
	{{ content.articleClose }}

{{ content.sectionClose }}

{{ content.sectionSimple('confirmation', 'full-background bg-primary center') }}

	{{ content.articleSimple('cta_allocate', 'rev center confirmation col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:allocateContribution.html.twig') }}
	{{ content.articleClose }}

	{{ content.articleSimple('', 'connected confirmation rev col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:confirmationConnected.html.twig') }}
	{{ content.articleClose }}

	{{ content.articleSimple('cta_powerview_nonroth_finished', 'cta confirmation rev col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:confirmationCTA.html.twig') }}
	{{ content.articleClose }}

	{{ content.articleSimple('', 'error confirmation rev col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:confirmationError.html.twig') }}
	{{ content.articleClose }}

	{{ content.articleSimple('', 'manual confirmation rev col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:confirmationManual.html.twig') }}
	{{ content.articleClose }}

	{{ content.articleSimple('', 'connected-thank-you confirmation rev col wide single') }}
		{{ include('WidgetsBundle:PowerViewSlides:confirmationConnectedThankYou.html.twig') }}
	{{ content.articleClose }}

{{ content.sectionClose }}

{% endblock %}

{% block scripts %}
{{ parent() }}
	<script src="/w/js/powerview-custom.js?time={{ date().timestamp }}"></script>

{% endblock %}
