<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'powerview_title' | trans ({}, 'widget') }}</title>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/w/css/powerview.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
	</head>

	<body>
		{{ include('WidgetsBundle:Default:redirectForm.html.twig') }}
		<div id="vwise_powerview" class="{{ data.lang }}">

			<div id="veil"></div>

			<div class="close return"><span class="mobile">{{ 'close_msg' | trans ({}, 'widget') }}</span>&nbsp;</div>

			{{ include('WidgetsBundle:Default:header.html.twig') }}
			{{ include('WidgetsBundle:Default:languageForm.html.twig') }}

			<div id="powerview_smartplan" class="container hold">
				<div class="video-container">
					<video width="640" height="480">
						{% if data.maxMatch > 0 %}
							<source src="https://66982d9743c7bbab0508-1766e9fe82e03b095186e8fa12156f44.ssl.cf1.rackcdn.com/{{ '1133a_PWV' | trans({}, 'widget') }}.mp4" type="video/mp4">
						{% else %}
							<source src="https://66982d9743c7bbab0508-1766e9fe82e03b095186e8fa12156f44.ssl.cf1.rackcdn.com/{{ '1133b_PWV' | trans({}, 'widget') }}.mp4" type="video/mp4">
						{% endif %}
					</video>
				</div>
				{{ include('WidgetsBundle:Default:videoControls.html.twig') }}

				<section id="salary-confirmation" class="full-background bg-primary no-video">
					<article class="col single rev">
						{{ include('WidgetsBundle:Default:salaryForm.html.twig') }}
					</article>
				</section>

				{% if data.maxMatch > 0 %}
					<section id="intro" class="animate out-right" data-time-in="1" data-time-out="7" data-incoming-remove="out-right" data-outgoing-add="out-right">
						<article class="animate vertical-center">
							<h1>{{ 'hi' | trans ({}, 'widget') }} <span class="data_firstName"></span>,</h1>
							<h3 class="color-primary">{{ 'welcome' | trans ({}, 'widget') }}</h3>
						</article>
					</section>      
					<section id="balance" class="animate short-right" data-time-in="8" data-time-out="11.5" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate vertical-center">
							<h3 class="label">{{ 'balance' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'your_current_retirement_plan_balance' | trans ({}, 'widget') }}</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="data_balance"></span>
							</div>
						</article>
					</section>      
					<section id="contribution" class="animate short-right" data-time-in="12" data-time-out="23" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate top">
							<h3 class="label">{{ 'your_contribution' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="data_currentYTDTotal"></span>
							</div>
							<sub class="contribution-rate">
							<span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution' | trans ({}, 'widget') }}</span>
							{{ include('WidgetsBundle:Default:currentdeferral.html.twig') }}
							</sub>
						</article>
					</section>      
					<section id="emp_match" class="animate short-right" data-time-in="17" data-time-out="23" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate bottom">
							<h3 class="label">{{ 'employer_match' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="data_currentYTDMatch"></span>
							</div>
						</article>
					</section>      
					<section id="est_rtmt_balance" class="animate short-right" data-time-in="23" data-time-out="38" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate ">
							<h3 class="label">{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedIncome" data-odo-start="0" data-odo-time="25" data-odo-finish="730,528"></span>
							</div>
						</article>
					</section>      
					<section id="est_payout" class="animate short-right" data-time-in="29" data-time-out="38" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate bottom">
							<h3 class="label">{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }}
							<span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:
							</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedMonthlyIncome" data-odo-start="0" data-odo-time="30" data-odo-finish="2,538"></span>
							</div>
						</article>
					</section>      
					<section id="cta_bg" class="animate half-background out-right bg-primary no-video" data-time-in="41" data-time-out="45" data-incoming-remove="out-right" data-outgoing-add="full-background">
						<article id="cta" class="animate center cta rev fade-out" data-time-in="41" data-time-out="45" data-incoming-remove="fade-out" data-outgoing-add="wide single">
							<form id="redirectForm2">
								<h1>{{ 'look_for_the' | trans ({}, 'widget') }} <img class="smartplan" src="/w/img/smartplan-button.png" alt="SmartPlan Button"> {{ 'link_on_this_website' | trans ({}, 'widget') }}</h1>
								<p><button type="button" class="transparent" onclick ="redirect(true)">{{ 'continue' | trans ({}, 'widget') }}</button></p>
							</form>
						</article>
					</section>
				{% else %}
					<section id="intro" class="animate out-right" data-time-in="1" data-time-out="7" data-incoming-remove="out-right" data-outgoing-add="out-right">
						<article class="animate vertical-center">
							<h1>{{ 'hi' | trans ({}, 'widget') }} <span class="data_firstName"></span>,</h1>
							<h3 class="color-primary">{{ 'welcome' | trans ({}, 'widget') }}</h3>
						</article>
					</section>      
					<section id="balance" class="animate short-right" data-time-in="8" data-time-out="11.5" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate vertical-center">
							<h3 class="label">{{ 'balance' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'your_current_retirement_plan_balance' | trans ({}, 'widget') }}</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="data_balance"></span>
							</div>
						</article>
					</section>      
					<section id="contribution" class="animate short-right" data-time-in="13" data-time-out="18" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate top">
							<h3 class="label">{{ 'your_contribution' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="data_currentYTDTotal"></span>
							</div>
							<sub class="contribution-rate">
							<span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution' | trans ({}, 'widget') }}</span>
							{{ include('WidgetsBundle:Default:currentdeferral.html.twig') }}
							</sub>
						</article>
					</section>      
					<section id="est_rtmt_balance" class="animate short-right" data-time-in="19" data-time-out="35" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate ">
							<h3 class="label">{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedIncome" data-odo-start="0" data-odo-time="21" data-odo-finish="730,528"></span>
							</div>
						</article>
					</section>      
					<section id="est_payout" class="animate short-right" data-time-in="24" data-time-out="35" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<article class="animate bottom">
							<h3 class="label">{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h3>
							<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }}
							<span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:
							</h5>
							<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedMonthlyIncome" data-odo-start="0" data-odo-time="27" data-odo-finish="2,538"></span>
							</div>
						</article>
					</section>      
					<section id="cta_bg" class="animate half-background out-right bg-primary no-video" data-time-in="36" data-time-out="40" data-incoming-remove="out-right" data-outgoing-add="full-background">
						<article id="cta" class="animate center cta rev fade-out" data-time-in="36" data-time-out="40" data-incoming-remove="fade-out" data-outgoing-add="wide single">
							<form id="redirectForm2">
								<h1>{{ 'look_for_the' | trans ({}, 'widget') }} <img class="smartplan" src="/w/img/smartplan-button.png" alt="SmartPlan Button"> {{ 'link_on_this_website' | trans ({}, 'widget') }}</h1>
								<p><button type="button" class="transparent" onclick ="redirect(true)">{{ 'continue' | trans ({}, 'widget') }}</button></p>
							</form>
						</article>
					</section>
				{% endif %}

			</div>

			<small>
			{{ include('WidgetsBundle:Default:fine-print.html.twig') }}
			</small>
		</div>

		{% include('WidgetsBundle:Default:spinner.html.twig') %}
		{% include('WidgetsBundle:PowerViewNew:error.html.twig') %}
		{% include('WidgetsBundle:PowerViewNew:loading.html.twig') %}
		{{ include('WidgetsBundle:Default:footer.html.twig') }}
	</body>
</html>
