{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Access Control'})) }}
<h2>Access Control</h2>
<form id="plan-access-control" method="post" action="" >
<input type="hidden" name="planid" value="{{ plan.id }}">
<div class="checkbox">
	<label>
		<input type="hidden" name="isHomePlan" value="0">
		<input type="checkbox" name="isHomePlan" id="isHomePlan" {% if plan.isHomePlan %}checked="checked"{% endif %} value="1"> 
		Set As Home Plan 
	</label>
</div>
<button type="submit" class="btn btn-success">Save</button>
</form>

<hr>
{% if plan.isHomePlan %}
{% set template = 'PlansPlansBundle:AccessControl:Search/accountsUsers.html.twig' %}
{% set tablename = "accountsUsers" %}
{% set table = "accountsUsers" %}
{% set findby = "a.userid" %}
{% set findbyvalues = session.userid %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Add</th>" %}
{% set types = "a.id,a.firstname,a.lastname,a.email" %}
{% set extraparameters = ',planid:"' ~session.planid ~'"' %}
{% set unsearchableArray = [4] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{% endif %}

<script>
	
$("#plan-access-control").submit(function( event ) 
{
    event.preventDefault();
    var querystring = $(this).serialize();
    var page = "{{ path('_plans_accessControl_setHomePlan') }}";
    $.post(page, querystring).done(function(data) 
    {
        window.location = '{{ path('_plans_accessControl') }}'
    });
});

function saveUser(el,planid,id)
{
    var checked = el.checked ? 1 : 0;
    var querystring = "planid=" + planid + "&id=" + id +"&checked=" + checked;
    var page = "{{ path('_plans_accessControl_saveUser') }}";
    $.post(page, querystring).done(function(data){});
}

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}