<form id="contentForm" style ="line-height:30px;">
Type: 
<select id ="contentType" class="form-control">
    {% for type in contentTypes %}
    <option value="{{ type.id }}" {% if selectedContentType.id == type.id %}selected{% endif %}>{{ type.description }}</option>
    {% endfor %}
</select>

Step
<input class ="form-control" placeholder ="Step" id ="contentStep" required />

Label

<input class ="form-control" placeholder ="Label" id ="contentLabel"required />
        
English

<textarea class ="form-control" id="englishContent" style ="width:100%;resize:none;height:200px" placeholder="English" required></textarea>

Spanish
<textarea class ="form-control" id="spanishContent" style ="width:100%;resize:none;height:200px" placeholder="Spanish" required></textarea>
<br/>
<button class ="btn btn-info" type="submit">Add</button>
</form>
<script>
Paths.addContentSaved = function()
{
      var params = new Object();
      params.contentTypeId = $("#contentType").val();
      params.englishContent = $("#englishContent").val();
      params.spanishContent = $("#spanishContent").val();
      params.step = $("#contentStep").val();
      params.label = $("#contentLabel").val();
      this.ajaxPost("{{ path('ContentAddSaved') }}",params);
      this.loadContents();
};
$( "#contentForm" ).on( "submit", function( event ) 
{
  event.preventDefault();
  Paths.addContentSaved();
});
</script>