Delete Content?
<br/><br/>
<button class="btn btn-warning" onclick ="Paths.deleteContentSaved()">Delete</button>
<script>
Paths.deleteContentSaved = function()
{
    this.ajaxPost("{{ path('ContentDeleteSaved') }}",{id: {{ id}} });
    this.loadContents();
};    
    
</script>