<form action="" method="POST" id="stepContentForm">
    {% if content.id is not null %}
        <input type="hidden" name="id" value="{{ content.id }}">
    {% endif %}
    <input type="hidden" name="stepId" value="{{ content.step.id }}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ content.name }}">
    </div>
    <table class="table table-striped">
        <tr>
            <th style="width:50%;">english</th>
            <th style="width:50%;">spanish</th>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label for="englishContent">Url:</label>
                    <input type="text" class="form-control" id="englishContent" name="englishContent" value="{{ content.englishContent }}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="spanishContent">Url:</label>
                    <input type="text" class="form-control" id="spanishContent" name="spanishContent" value="{{ content.spanishContent }}">
                </div>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" onclick="Paths.saveStepContent({{ content.step.id }})">Save</button>
</form>