<div id ="editPathContent">
    <form id="contentForm" style ="line-height:30px;">


    English

    <textarea class ="form-control" id="englishContent" style ="width:100%;resize:none;height:200px" placeholder="English"  required>{{ content.englishContent }}</textarea>

    Spanish
    <textarea class ="form-control" id="spanishContent" style ="width:100%;resize:none;height:200px" placeholder="Spanish"  required>{{ content.spanishContent }}</textarea>
    <br/>
    Enable: <input type="checkbox" id="enableContent" {% if (content.contentTable == "path" and  content.enable) or content.contentTable != "path"   %}checked{% endif %} />
    <br/>
    <button class ="btn btn-primary" type="submit">Save</button>
        {% if content.contentTable == "path" %}
            <button class ="btn btn-warning" type="button" style ="float:right" onclick ="Paths.deletePathContent()">
                Remove override
            </button>
        {% endif %}
    </form>
    <script>
    Paths.deletePathContent = function()
    {
        this.ajaxPost("{{ path('DeletePathContentSaved') }}",{id: {{ content.id }}});
        this.reloadPathContents();   
    };
    Paths.reloadPathContents = function()
    {
        $("#editPathContent").html(this.ajaxPostValue("{{ path('EditPathContent') }}?id={{ app.request.query.get("id") }}" ));
    }
    Paths.editPathContentSaved = function()
    {
        var params = new Object();
        params.englishContent = $("#englishContent").val();
        params.spanishContent = $("#spanishContent").val();
        params.defaultContentId = {{ defaultContentId }};
        params.enable = $("#enableContent").is(":checked") ? 1:0;
        this.ajaxPost("{{ path('EditPathContentSaved') }}",params);
        this.reloadPathContents();   
    };
    $( "#contentForm" ).on( "submit", function( event ) 
    {
      event.preventDefault();
      Paths.editPathContentSaved();
    });    

    </script>
</div>