<div id ="contentList"></div>
<script>
var Paths = Paths || {};
Paths.loadContents = function()
{
    closeLightBox();
    $("#contentList").html(this.ajaxPostValue("{{path('ContentList')}}"));
    Paths.reinitializeSortableSteps();
};
Paths.addContent = function(contentTypeId)
{
    ajaxModal("{{ path('ContentAdd') }}?contentTypeId=" + contentTypeId,"Add Content","extra large");
};
Paths.editContent = function(id)
{
    ajaxModal("{{ path('ContentEdit') }}?id=" + id,"Edit Content","extra large");
};
Paths.deleteContent = function(id)
{
    ajaxModal("{{ path('ContentDelete') }}?id=" + id,"Delete Content");
};
Paths.editPathContent = function(id)
{
    ajaxModal("{{ path('EditPathContent') }}?id=" + id,"Path Override","extra large");
};
Paths.toggleContent = function(id, enable)
{
    this.ajaxPostValue("{{path('TogglePathContent')}}", {id: id, enable: enable})
    Paths.updateToggleButton(id, enable)
};
Paths.replacePathContent = function(id)
{
    ajaxModal("{{ path('ReplacePathContent') }}?id=" + id, "Replace");
};
Paths.updateToggleButton = function(id, enable)
{
    $('#show-button-' + id).toggle(!enable);
    $('#hide-button-' + id).toggle(enable);
};
Paths.reinitializeSortableSteps = function()
{
    $('#sortableSteps.ui-sortable').sortable('destroy');
    $('#sortableSteps').sortable({
        handle: '.panel-heading',
        cancel: 'a,.checkbox-inline',
        update: function(event, ui) {
            Paths.saveStepsOrder();
        }
    });
};
Paths.saveStepsOrder = function()
{
    var data = $('#sortableSteps').sortable('serialize', { attribute: 'data-step-id' });
    $.post("{{ path('SaveStepOrder') }}", data)
};
Paths.addStepContent = function(stepId)
{
    ajaxModal("{{ path('AddStepContent') }}?stepId=" + stepId, "Add Audio");
};
Paths.editAudioFile = function(contentId)
{
    ajaxModal("{{ path('EditStepContent') }}?id=" + contentId, "Edit Audio");
};
Paths.removeAudioFile = function(stepId, contentId)
{
    $.post("{{ path('RemoveStepContent') }}", {id: contentId}, Paths.loadStepContent.bind(this, stepId));
};
Paths.saveStepContent = function(stepId)
{
    $.post("{{ path('SaveStepContent') }}", $('#stepContentForm').serialize(), function() {
        closeLightBox();
        Paths.loadStepContent(stepId);
    });
};
Paths.loadStepContent = function(id)
{
    $('#collapse' + id + ' .panel-body').load("{{ path('Step') }}", {id: id});
};

$(document).on('click', '[data-step-toggle]', function(e) {
    e.preventDefault();
    var stepId = $(this).val();
    var $checkbox = $(this);
    var active = $checkbox.prop('checked') ? 1 : 0;
    $.post("{{ path('TogglePathStep') }}", { id: stepId, active: active}, function() {
        $checkbox.prop('checked', active);
    });
    if (!active)
    {
        if (confirm("Do you want to add replacement rules for a question?"))
        {
            $('#collapse' + stepId).collapse('show');
        }
        else
        {
            $('#collapse' + stepId + '.in').collapse('hide');
        }
    }
    return false;
});
Paths.loadContents();
</script>