{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible alert-path-builder" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
{% endfor %}
<div class="panel-group" id="sortableSteps" role="tablist" aria-multiselectable="true">
{% for step in section.steps %}
    <div class="panel panel-default" data-step-id="order_{{ step.id }}">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" data-parent="#sortableSteps" href="#collapse{{ step.id }}">
                {{ step.step.name }}
            </a>
            <label class="checkbox-inline" style="margin-left: 20px">
                <input type="checkbox" data-step-toggle value="{{ step.id }}" {% if step.active %}checked{% endif %}> Enabled
            </label>
        </div>
        <div id="collapse{{ step.id }}" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body" data-step-id="">
                {{ include('PathsPathsBundle:Default:content/step.html.twig') }}
            </div>
        </div>
    </div>
{% endfor %}