<div id ="editPathContent">
    <form id="replaceForm" style="line-height:30px;">
        <input type="hidden" name="defaultContentId" value="{{ content.id }}">
        <input type="hidden" name="enable" value="0">
        <table class="table">
            <thead>
                <tr>
                    <th>Operator</th>
                    <th>Argument 1</th>
                    <th>Argument 2</th>
                </tr>
                <tr>
                    <th></th>
                    {% for index, argument in rules.arguments %}
                        <th>
                            <select name="rules[arguments][{{ index }}][type]" class="form-control" onchange="Paths.updateArgumentType({{ index }})">
                                <option value="field" {% if argument.type == 'field' %}selected{% endif %}>Field Name</option>
                                <option value="raw" {% if argument.type == 'raw' %}selected{% endif %}>Raw Value</option>
                            </select>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select name="rules[operator]" class="form-control">
                            <option value="add" {% if rules.operator == 'add' %}selected{% endif %}>add</option>
                            <option value="sub" {% if rules.operator == 'sub' %}selected{% endif %}>subtract</option>
                            <option value="equ" {% if rules.operator == 'equ' %}selected{% endif %}>equals</option>
                        </select>
                    </td>
                    {% for index, argument in rules.arguments %}
                        <td>
                            <select data-argument-type="field" name="rules[arguments][{{ index }}][value]" class="form-control">
                                {% for field in fields %}
                                    <option value="{{ field }}" {% if argument.value == field %}selected{% endif %}>
                                        {{ field }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input data-argument-type="raw" type="text" class="form-control" name="rules[arguments][{{ index }}][value]" value="{{ argument.value }}">
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <script>
        Paths.editPathContentSaved = function()
        {
            var params = $('#replaceForm').serialize();
            this.ajaxPost("{{ path('ReplacePathContentSaved') }}",params);
            this.loadContents();
        };
        Paths.updateArgumentType = function(index)
        {
            var type = $('[name="rules[arguments]['+index+'][type]"]').val();
            $('[data-argument-type="'+type+'"][name="rules[arguments]['+index+'][value]"]')
                .show().prop('disabled', false)
                .siblings()
                .hide().prop('disabled', true);
        };
        $( "#replaceForm" ).on( "submit", function( event )
        {
            event.preventDefault();
            Paths.editPathContentSaved();
        });
        $(document).ready(function() {
            Paths.updateArgumentType(0);
            Paths.updateArgumentType(1);
        });
    </script>
</div>