<h4>Audio File</h4>
{% if step.contents is empty %}
    <a href="javascript:" onclick="Paths.addStepContent({{ step.id }})">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Audio
    </a>
{% endif %}
<table class ="table table-striped">
    {% for content in step.contents %}
    <tr>
        <td>{{ content.name }}</td>
        <td class="text-right">
            <button class ="btn btn-primary" onclick ="Paths.editAudioFile({{ content.id }})">Edit</button>
            <button class ="btn btn-primary" onclick ="Paths.removeAudioFile({{ step.id }}, {{ content.id }})">Remove</button>
        </td>
    </tr>
    {% endfor %}
</table>

<h4>Default Content</h4>
<table class ="table table-striped">
    <thead>
    <tr>
        <th>Step</th>
        <th>Label</th>
        <th>Type</th>
        <th class="text-right">Actions</th>
    </tr>
    <thead>
    <tbody>
    {% for content in step.step.contents %}
        <tr>
            <td>
                {{ content.step }}
            </td>
            <td>
                {{ content.label }}
            </td>
            <td>
                {{ contentTypes[content.contentTypeId].description }}
            </td>
            <td class="text-right">
                {% set isHidden = pathContents[content.id] is defined and pathContents[content.id].enable == 0 %}
                <button class ="btn btn-primary" {% if not isHidden %}style="display:none;"{% endif %} id="show-button-{{ content.id }}" onclick ="Paths.toggleContent({{ content.id }}, 1)">
                    Show
                </button>
                <button class ="btn btn-primary" {% if isHidden %}style="display:none;"{% endif %} id="hide-button-{{ content.id }}" onclick ="Paths.toggleContent({{ content.id }}, 0)">
                    Hide
                </button>
                <button class ="btn btn-primary" onclick ="Paths.editPathContent({{ content.id }})">Customize</button>
                {% if contentTypes[content.contentTypeId].type == "Question" %}
                    <button class ="btn btn-primary" onclick ="Paths.replacePathContent({{ content.id }})">Replace</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>