{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Library'})) }}
{{  include ("TemplatesTemplatesBundle:Default:alert.html.twig") }}
<form role="form" id="plan-library" method="post" action="">
<input type = "text" name = "planid" id = "planid" value = "{{ planid }}" style = "display:none" />
<input type = "text" name = "userid" id = "userid" value = "{{ userid }}" style = "display:none" />
<div class="row">

	<div class="col-md-12">
		
								
		<h3>Video Library</h3>
		<p class="well well-sm"><span class="glyphicon glyphicon-info-sign"></span> Checked videos will be available in the "Library" section at the end of SmartPlan</p>
	
	</div>

</div>

<div class="row">

{% for key,libraryEntry in library %}
	<div class="col-md-{{libraryRowLength}}">
		<label>{{ libraryEntry.description }}</label><br/>
		{%  set class = key %}
		{% for section in libraryEntry.data %}
		{%  include ("SharedLibraryBundle:Default:videolibrarycheckbox.html.twig") %}
		{% endfor %}
		{% if writeable %}
		<a class="select-all btn btn-empty btn-xs" onclick = "toggleSection('{{  class }}')">Remove / Select All</a>
		{% endif %}
	</div>
{% endfor %}
</div>
<br/>
{% if writeable %}
<button type="button" class="btn btn-success" id = "videoLibrarySaveButton">Save</button>
{% endif %}
</form>
<hr />
{% if pagename == 'plans' %}
{{  include("PlansPlansBundle:Documents:index.html.twig") }}
{% endif %}
{{  include("SharedLibraryBundle:Default:javascript/index.js.twig") }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
 
