<script>
function toggleTemplate(categoryid)
{
	var templates = $('input[name="templateCategory' + categoryid + '"]:checked');
	if (templates.length == 0)
	{
		$("#category" + categoryid).attr("checked",false);
		templates = $('input[name="templateCategory' + categoryid + '"]');
		$.each(templates, function() 
		{
			$("#templateContainer" + this.value).hide();
		});
	}	
}

function toggleCategory(categoryid)
{
	var checked = $("#category" + categoryid).is(":checked");
	
	var templates = $('input[name="templateCategory' + categoryid + '"]');

	if (checked)
	{
		$.each(templates, function() 
		{
			this.checked = checked;
			$("#templateContainer" + this.value).show();
		});
	}
	else
	{
		$.each(templates, function() 
		{
			this.checked = checked;
			$("#templateContainer" + this.value).hide();
		});
	}
}

function saveTemplatePermissions()
{
	var categories = $('input[name="categories"]');
	var categoryString = "";
	var templateString = "";
	var templates = "";
	for (i = 0; i < categories.length; i++)
	{
		if (!categories[i].checked)
		{
			if (categoryString == "")
			categoryString = categories[i].value;
			else
			categoryString = categoryString + "," + categories[i].value;
		}
		
		templates = $("input[name=templateCategory" + categories[i].value + "]");
		
		for (j = 0; j < templates.length; j++)
		{
			if (!templates[j].checked)
			{
			if (templateString == "")
			templateString = templates[j].value;
			else
			templateString = templateString + "," + templates[j].value;

			}
		}	
	}
	var page = "{{ path('_settings_outreach_save_template_permissions') }}";
	var querystring = "categories=" + categoryString + "&templates=" + templateString + "&adviserid={{ adviserid }}";
	$.post(page, querystring).done(function(data) 
	{

	});
}
</script>