{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'HubSpot Alert Recipients'})) }}
<div style="margin-bottom:20px;"><button class="btn btn-info" onclick="addRecipient();">Add Recipient</button></div>
{% include 'classesclassBundle:Search:searchdatatables.html.twig' with { 
    'header': '<th>Email</th><th style="width:1%">Actions</th>',
    'tablename': 'HubSpotAlertRecipientsTable',
    'url': path('_manage_hubSpotAlertRecipients_search'),
    'types': 'r.id,r.emailAddress',
    'firstcolumnviewable': true
} %}

<div class="modal fade" id="recipientModal" tabindex="-1" role="dialog" aria-labelledby="recipientLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form class="form-inline" onsubmit="return saveRecipient(this);">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="recipientLabel">Recipient</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="recipientId" id="recipientId" value="">
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="jane.doe@example.com">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addRecipient() {
        $('#recipientId').val("");
        $('#emailAddress').val("");
        $('#recipientModal').modal('show');
    }
    
    function updateRecipient(id, email) {
        $('#recipientId').val(id);
        $('#emailAddress').val(email);
        $('#recipientModal').modal('show');
    }
    
    function saveRecipient(form) {
        var page = "{{ path('_manage_hubSpotAlertRecipients_save') }}";
        var data = $(form).serialize();
        
        $.post(page, data).done(function(data) 
		{
            $('#recipientModal').modal('hide');
			restartTableHubSpotAlertRecipientsTable();
		});
        return false;
    }
    
	function deleteRecipient(id) {
        var ok = confirm('Are you sure you want to delete this recipient?');
        if (ok) {
            var page = "{{ path('_manage_hubSpotAlertRecipients_delete') }}";
            var querystring = "recipientId=" + id;

            $.post(page, querystring).done(function(data) 
            {
                restartTableHubSpotAlertRecipientsTable();
            });
        }
	}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}