<div id="beneficiary" class="reportBox">
    <div class="boxTitle">{{ "beneficiary" | trans ({}, "beneficiary") }}</div>
    <div class="clear"></div>
    <table style="width:100%;text-indent: 10px;">
        <tbody>
            <tr style="font-weight:bold;">
                {% for header in beneficiaries.header %}
                <th>{{ header.translation.title | trans ({}, header.translation.title_source) }}</th>
                {% endfor %}
            </tr>
            {% for beneficiary in beneficiaries.beneficiaries %}
            <tr class="rowLight" style="line-height:30px;">
                {% for header in beneficiaries.header %}
                {% if header.field == "type" %}
                <td>{{ beneficiary.type | trans ({}, 'beneficiary') }}</td>
                {% endif %}
                {% if header.field == "relationship" %}
                <td>{{ beneficiary.relationship | trans ({}, 'beneficiary') }}</td>
                {% endif %}
                {% if header.field == "name" %}
                <td>{{ beneficiary.firstName }} {% if  showPersonalInformation %}{{ beneficiary.lastName }}{% endif %}</td>
                {% endif %}
                {% if header.field == "percent" %}
                <td>{{ beneficiary.percent }}</td>
                {% endif %}
                {% if header.field == "spousalWaiverForm" %}
                <td>
                {% if beneficiary.spousalWaiverForm %}
                <span class="popupSpousalWavierForm" onclick ="myProfile.showSpouseWaiverForm()"><i class="fa fa-file-text-o"></i></span>
                {% endif %}
                </td>   
                {% endif %}
                {% if header.field == "dob" %}
                <td> {{ beneficiary.dob | date("m/d/Y") }}</td>    
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            
<div class="modal fade" id="spousalWavierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{ "under_the_plan_your_spouse_primary" | trans ({}, "beneficiary") }}</p>
                        {% if beneficiaries.showSpouseWaiverFormUrl %}
                            <p><a href="{{ beneficiaries.spouseWaiverFormUrl }}" target="_blank">{{ beneficiaries.spouseWaiverFormUrl }}</a></p>
                        {% endif %}
                        <p>{{ "the_form_must_signed_by_your_spouse" | trans ({}, "beneficiary") }}</p>
                    </div>
                    <div class="col-sm-12 address-block">
                        <p>Insperity Retirement Services</p>
                        <p>P.O. Box 1988</p>
                        <p>Kingwood, TX 77347-1988</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{ "ok" | trans ({}, "global") }}</span></button>
            </div>
        </div>
    </div>
</div>