{% for group in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ group.id }},
	"{{ group.name }}",
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_plans_messagingPanes_groups_editgroup') }}?id={{ group.id }}','Edit Group')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_plans_messagingPanes_groups_deletegroup') }}?id={{ group.id }}','Delete Group')\"></span></a>"
]
{% endfor %}