{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Settings - Outreach'})) }}

<h3>Account Permissions</h3>

<ul class="list-group">
	<li class="list-group-item" >
		<a href = "{{ path('_settings_outreach_set_permissions') }}">{% if writeable %}Set {% else %}View {% endif %}templates for this account</a>
	</li>
</ul>

<hr/>
<h3>Adviser Permissions</h3>
{% set tablename = "accountsUsers" %}
{% set table = "accountsUsers" %}

{% set findby = "a.userid,^a.roleType" %}
{% set findbyvalues = userid ~ ",adviser" %}
{% set types = "a.id,a.firstname,a.lastname,a.email" %}
        
{% if writeable %}
{% set unsearchableArray = [4] %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Outreach Permissions</th>" %} 
{% set template =  'SettingsSettingsBundle:Outreach:Search/adviserlist.html.twig' %}
{% else %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email</th>" %} 
{% set template =  'SettingsSettingsBundle:Outreach:Search/adviserlistreadonly.html.twig' %}
{% endif %}   
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}