<div id="confirmation" class="reportBox">
    <div class="boxTitle">{{ "confirmation_codes" | trans ({}, "my_profile") }}</div>
    <!-- Investment Selections Update-->
    {% for confirmationCode in confirmationCodes.transactions %}
    <div class="rowDark">
        <div class="col-sm-6">{{ confirmationCode.translations.title.key | trans ({}, confirmationCode.translations.title.source) }} :</div>
        <div class="col-sm-6 text-right"><div class="statusSuccess"> {% if confirmationCodes.showDisplayField %}{{ confirmationCode.displayField }}{% endif %}  {{ confirmationCode.translations.status.key | trans ({}, confirmationCode.translations.status.source) }}. <br>{{ "confirmation" | trans ({}, "alert") }}: {{ confirmationCode.confirmation }}</div></div>
        <div class="clear"></div>
    </div>
    {% endfor %}
    {% if confirmationCodes.rolloverEnabled %}
    <div class="rowDark">
        <div class="col-sm-6">{{ "confirmation_rollover_contact_request" | trans ({}, "my_profile") }}:</div>
        <div class="col-sm-6 text-right">
            Selection
            {% if confirmationCodes.callMeEnabled %}
                {{ "confirmation_rollover_callme" | trans ({}, "my_profile") }}
            {% endif %}
            {% if confirmationCodes.emailMeEnabled %}
                {{ "confirmation_rollover_emailme" | trans ({}, "my_profile") }}
            {% endif %}
            {% if confirmationCodes.callUsEnabled %}
                {{ "confirmation_rollover_callus" | trans ({}, "my_profile") }}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    {% endif %}
    <div class="rowDark">
        <div class="col-sm-6">{{ "investor_profile" | trans ({}, "my_profile") }} :</div>
        <div class="col-sm-6 text-right">{{ confirmationCodes.investorProfileCode }}</div>
        <div class="clear"></div>
    </div>            
    <div class="clear"></div>
</div>