<script>
function selectfund(id)
{
	window.location = '{{ path('_plans_investments_qdia_select_fund') }}?id=' + id;
}
function unselectFund()
{
window.location = "{{ path('_plans_investments_qdia_unselect_fund') }}";
}
</script>