<template>
  <v-card class="pa-3 pb-0 pt-sm-9 pr-sm-8 pl-sm-10 pt-md-9 pr-md-8 pl-md-10 pt-lg-9 pr-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pl-xl-10 assets set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="Assets" label="Assets14"></path-content>
    <path-content section="retirementNeeds" step="Assets" label="Assets15"></path-content>
    <v-row>
      <v-col cols="12" lg="6" md="6" sm="6" class="py-0 asset-field">
        <v-row class="ma-0 pb-6 pt-3">
          <span class="title font-weight-medium">{{this.translate('retirementNeeds', 'Assets', 'Assets16')}}</span>
          <v-tooltip color="black" max-width="320px" bottom>
            <template v-slot:activator="{ on }">
              <v-icon class="body-1 font-weight-medium primary--text" v-on="on">mdi-information-outline</v-icon>
            </template>
            <span>{{translate('retirementNeeds', 'Assets', 'Assets23')}}</span>
          </v-tooltip>
        </v-row>
        <v-row class="ma-0">
          <v-currency-field
                  v-bind="currency"
                  v-model="common.planBalance"
                  :default-value="null"
                  :class="common.planBalance || common.planBalance === 0 ? '' : 'currency-no-val'"
                  class="title font-weight-regular"
                  outlined
                  aria-label="Plan balance"
                  name="planBalance"
                  @input="updateTotalAssets">
          </v-currency-field>
        </v-row>
      </v-col>
      <v-col cols="12" lg="6" md="6" sm="6" class="py-0 asset-field">
        <v-row class="ma-0 pb-6 pt-3">
          <span class="title font-weight-medium">{{this.translate('retirementNeeds', 'Assets', 'Assets17')}}</span>
          <v-tooltip color="black" max-width="320px" bottom>
            <template v-slot:activator="{ on }">
              <v-icon class="body-1 font-weight-medium primary--text" v-on="on">mdi-information-outline</v-icon>
            </template>
            <span>{{this.translate('retirementNeeds', 'Assets', 'Assets3')}}</span>
          </v-tooltip>
        </v-row>
        <v-row class="ma-0">
          <v-currency-field
                  v-bind="currency"
                  v-model="retirementneeds.RN_OtherAssets"
                  :default-value="null"
                  :class="retirementneeds.RN_OtherAssets || retirementneeds.RN_OtherAssets === 0 ? '' : 'currency-no-val'"
                  class="title font-weight-regular"
                  outlined
                  aria-label="Other assets"
                  name="otherAssets"
                  @input="updateTotalAssets"></v-currency-field>
        </v-row>
      </v-col>
    </v-row>
    <path-content section="retirementNeeds" step="Assets" label="Assets18"></path-content>
    <path-content section="retirementNeeds" step="Assets" label="Assets5"></path-content>
    <v-row class="calc-row">
      <v-col cols="12" class="py-0">
        <v-row>
          <v-col cols="12" sm="6" class="py-0" v-for="(type,i) in assetTypes" :key="i">
            <v-checkbox
                    v-model="type.checked"
                    :label="type.label"
                    :value="type.checked"
                    dense
                    @change="updateAssetTypes(type)"
            :hide-details="true" class="mt-0"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="mt-3 ml-n10 mr-n8 set-radius">
      <v-col cols="12" lg="3" md="3" sm="3" class="bt-gray">
        <v-row class="display-1 justify-center text-center">
          ${{ Number(common.planBalance).toLocaleString('en-US') }}
        </v-row>
        <v-row class="title justify-center text-center">
          {{ this.translate('retirementNeeds', 'Assets', 'Assets19') }}
        </v-row>
      </v-col>
      <v-col cols="12" lg="1" md="1" sm="1" class="text-center bt-gray">
        <v-row class="justify-center align-center height-100">
          <v-icon class="br-icon primary--text">mdi-plus</v-icon>
        </v-row>
      </v-col>
      <v-col cols="12" lg="3" md="3" sm="3" class="bt-gray">
        <v-row class="display-1 justify-center text-center">
          ${{ Number(retirementneeds.RN_OtherAssets).toLocaleString('en-US') }}
        </v-row>
        <v-row class="title justify-center text-center">
          {{ this.translate('retirementNeeds', 'Assets', 'Assets20') }}
        </v-row>
      </v-col>
      <v-col cols="12" lg="2" md="2" sm="2" class="text-center bt-gray">
        <v-row class="justify-center align-center height-100">
          <v-icon class="br-icon primary--text">mdi-equal</v-icon>
        </v-row>
      </v-col>
      <v-col cols="12" lg="3" md="3" sm="3" class="primary white-color bt-gray">
        <v-row class="display-1 justify-center text-center">
          ${{ Number(retirementneeds.RN_TotalAssets).toLocaleString('en-US') }}
        </v-row>
        <v-row class="title justify-center text-center">
          {{ this.translate('retirementNeeds', 'Assets', 'Assets21') }}
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
    import { mapState } from 'vuex'
    import { currency } from '../../config'
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        name: "Assets",
      components: {StepAudioPlayer, PathContent },
        data: () => ({
          validation: false,
          currency: currency
        }),
        methods: {
          updateTotalAssets() {
            let totalAssets = Number(this.common.planBalance) + Number(this.retirementneeds.RN_OtherAssets);
            this.$store.commit("UPDATE_TOTAL_ASSETS", totalAssets);
          },
          updateAssetTypes() {
            let types = this.assetTypes.filter(types => types.checked != false);
            types = types.filter(types => types.checked != null)
            types = types.map(a => a.value);
            this.$store.commit("UPDATE_ASSET_TYPES", types);
          },
          checkAssets(){
            Object.values(this.retirementneeds.RN_AssetTypes).forEach(value => {
              for(let n of this.assetTypes){
                if(n.value == value){
                  n.checked = true
                }
              }
            })
          }
        },
        beforeUpdate(){
          this.checkAssets()
        },
        computed: {
          assetTypes() {
            return [
              {value: 'asset_type_option_4', label: this.translate('retirementNeeds', 'Assets', 'Assets6'), checked: false},
              {value: 'asset_type_option_8', label: this.translate('retirementNeeds', 'Assets', 'Assets10'), checked: false},
              {value: 'asset_type_option_2', label: this.translate('retirementNeeds', 'Assets', 'Assets7'), checked: false},
              {value: 'asset_type_option_6', label: this.translate('retirementNeeds', 'Assets', 'Assets11'), checked: false},
              {value: 'asset_type_option_3', label: this.translate('retirementNeeds', 'Assets', 'Assets8'), checked: false},
              {value: 'asset_type_option_7', label: this.translate('retirementNeeds', 'Assets', 'Assets22'), checked: false},
              {value: 'asset_type_option_1', label: this.translate('retirementNeeds', 'Assets', 'Assets9'), checked: false},
            ]
          },
          ...mapState(['retirementneeds','common'])
        },
        mounted() {
            setTimeout(() => {this.updateTotalAssets(); this.updateAssetTypes(); this.checkAssets();}, 1000)
        }
    }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .bt-gray {
    border-top: 2px solid $gray-1;
  }
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .asset-field ::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  @media only screen and (max-width: 960px) {
    .page {
      padding: 80px 0 0!important
    }
  }
  @media only screen and (max-width: 672px) {
    .v-application .px-12{
      padding-left: 10px!important;
      padding-right: 10px!important
    }
  }
</style>
