<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 income-info set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income10"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income2"></path-content>
    <v-row class="income-info ma-0">
      <v-col lg="12"  class="px-0">
        <v-form ref="form" @change="checkValidation">
          <v-row>
            <v-col cols="12" lg="5" xl="5" sm="12" md="5" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
              <v-currency-field
                      :rules="annualIncomeRules"
                      persistent-hint
                      class="title font-weight-regular"
                      :label="label"
                      outlined
                      required
                      :class="retirementneeds.RN_CurrentYearlyIncome || retirementneeds.RN_CurrentYearlyIncome === 0 ? '' : 'currency-no-val'"
                      :default-value="null"
                      v-model="retirementneeds.RN_CurrentYearlyIncome"
                      v-bind="currency"
                      @input="checkValidation"
              ></v-currency-field>
            </v-col>
            <v-col cols="12" lg="5" xl="5" sm="12" md="5" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
              <v-select :items="items" class="title font-weight-regular" outlined @change="checkValidation" v-model="contributions.C_GetPaid" :rules="frequencyRules" :label="placeholder">
                <template v-slot:item="{ item, index }">
                  <div class="title font-weight-regular">
                    {{item.text}}
                  </div>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
  import { mapState } from 'vuex'
  import { currency } from '../../config'
  import PathContent from "../Content/PathContent";
  import AudioPlayer from "../Global/AudioPlayer";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer, AudioPlayer, PathContent },
    data: () => ({
      currency: currency
    }),
    computed: {
      annualIncomeRules(){
        return [
          value => !!value || this.translate('retirementNeeds', 'Income', 'Income12'),
          value => parseInt(value) >= 0 || this.translate('retirementNeeds', 'Income', 'Income13'),
          value => (!isNaN(String(value).replace(/,/g, ''))) || this.translate('retirementNeeds', 'Income', 'Income13')
        ]
      },
      frequencyRules(){
        return [
          value => !!value || this.translate('retirementNeeds', 'Income', 'Income14'),
        ]
      },
      items: function() {
        return [
          {
            text: this.translate('retirementNeeds', 'Income', 'Income4'),
            value: 'Weekly'
          },
          {
            text: this.translate('retirementNeeds', 'Income', 'Income5'),
            value: 'Bi-weekly'
          },
          {
            text: this.translate('retirementNeeds', 'Income', 'Income6'),
            value: 'Semi-monthly'
          },
          {
            text: this.translate('retirementNeeds', 'Income', 'Income7'),
            value: 'Monthly'
          },
          {
            text: this.translate('retirementNeeds', 'Income', 'Income8'),
            value: 'Quarterly'
          },
          {
            text: this.translate('retirementNeeds', 'Income', 'Income9'),
            value: 'Annually'
          },
        ];
      },
      label(){
        return this.translate('retirementNeeds', 'Income', 'Income11')
      },
      placeholder: function () {
        return this.translate('retirementNeeds', 'Income', 'Income3')
      },
      yearlyIncome: function(){
        return this.translate('retirementNeeds', 'Income', 'Income2')
      },
      validation: {
        get () {
          if((this.retirementneeds.RN_CurrentYearlyIncome || this.retirementneeds.RN_CurrentYearlyIncome === 0) && this.retirementneeds.RN_CurrentYearlyIncome >= 0 && this.contributions.C_GetPaid){
            return true
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
      ...mapState(['retirementneeds','contributions'])
    },
    methods: {
      checkValidation() {
        if(this.retirementneeds.RN_CurrentYearlyIncome && this.contributions.C_GetPaid){
          this.validation = true;
        }

        this.$emit('updateValidation', this.validation);
      },
    },
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .income-info ::v-deep .theme--light.v-messages {
    color: #000;
  }
  .income-info ::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  .income-info ::v-deep .v-select label{
    line-height: 19px;
  }
  .income-info ::v-deep .v-select__selection--comma{
    line-height: 21px;
  }
</style>