<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 pip set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income10"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income2"></path-content>
    <v-row class="ma-0">
      <v-col lg="12"  class="px-0">
        <v-form ref="form" @change="checkValidation">
          <v-row>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="firstName"
                :rules="required"
                outlined
                v-model="common.firstName"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="lastName"
                :rules="required"
                outlined
                v-model="common.lastName"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="dob"
                :rules="required"
                outlined
                v-model="common.dateOfBirth"
                v-mask="getMask('dob')"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="ssn"
                :rules="required"
                outlined
                v-model="common.ssn"
                v-mask="getMask('ssn')"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-select
                :label="gender"
                :rules="required"
                outlined
                :items="genderItems"
                v-model="common.gender"
                class="title font-weight-regular"
              >
              </v-select>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-select
                :label="maritalStatus"
                :rules="required"
                outlined
                :items="maritalStatusItems"
                v-model="common.maritalStatus"
                class="title font-weight-regular"
              >
              </v-select>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
  import { mapState } from 'vuex'
  import { currency } from '../../config'
  import PathContent from "../Content/PathContent";
  import StepAudioPlayer from "../Global/StepAudioPlayer";

  export default {
    components: {StepAudioPlayer, PathContent },
    computed: {
      required(){
        return [
          value => !!value || this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ53'),
        ]
      },
      genderItems: function() {
        return [
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info19'),
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info20'),
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info21')
        ];
      },
      maritalStatusItems: function() {
        return [
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info23'),
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info24'),
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info25'),
          this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info26')
        ];
      },
      ssn: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info10')
      },
      firstName: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info50')
      },
      lastName: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info17')
      },
      dob: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info73')
      },
      dobPlaceholder: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info74')
      },
      gender: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info18')
      },
      maritalStatus: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info22')
      },
      validation: {
        get () {
          if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
            return true
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
      ...mapState(['common'])
    },
    methods: {
      getMask(type){
        if(type == 'ssn'){
          return "###-##-####"
        }else{
          return "##/##/####"
        }
      },
      checkValidation() {
        if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
          this.validation = true;
        }

        this.$emit('updateValidation', this.validation);
      },
    },
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .income-info ::v-deep .theme--light.v-messages {
    color: #000;
  }
  .income-info ::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  .income-info ::v-deep .v-select label{
    line-height: 19px;
  }
  .income-info ::v-deep .v-select__selection--comma{
    line-height: 21px;
  }
</style>