<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 pip set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income10"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income2"></path-content>
    <v-row class="ma-0">
      <v-col lg="12"  class="px-0">
        <v-form ref="form" @change="checkValidation">
          <v-row>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="email"
                :rules="required"
                outlined
                v-model="common.email"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="12" xl="12" sm="12" md="12" class="py-0">
              <v-text-field
                :label="address1"
                :rules="required"
                outlined
                v-model="common.address"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="city1"
                :rules="required"
                outlined
                :items="genderItems"
                v-model="common.city"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="4" lg="2" xl="2" sm="6" md="2" class="py-0">
              <v-select
                :label="state1"
                :rules="required"
                outlined
                :items="states"
                v-model="common.state"
                class="title font-weight-regular"
              >
              </v-select>
            </v-col>
            <v-col cols="8" lg="4" xl="4" sm="6" md="4" class="py-0">
              <v-text-field
                :label="zip1"
                :rules="required"
                outlined
                v-model="common.zip"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="py-0">
              <v-checkbox
                v-model="secondAddress"
                label="Add second address"
              >
              </v-checkbox>
            </v-col>
          </v-row>
          <v-row v-if="secondAddress">
            <v-col cols="12" lg="12" xl="12" sm="12" md="12" class="py-0">
              <v-text-field
                :label="address2"
                outlined
                v-model="common.address2"
                class="title font-weight-regular py-0"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="secondAddress">
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="city2"
                outlined
                :items="genderItems"
                v-model="common.city2"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="4" lg="2" xl="2" sm="6" md="2" class="py-0">
              <v-select
                :label="state2"
                outlined
                :items="states"
                v-model="common.state2"
                class="title font-weight-regular"
              >
              </v-select>
            </v-col>
            <v-col cols="8" lg="4" xl="4" sm="6" md="4" class="py-0">
              <v-text-field
                :label="zip2"
                outlined
                v-model="common.zip2"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="phone1"
                :rules="required"
                outlined
                v-model="common.phone"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                :label="phone2"
                outlined
                v-model="common.phone2"
                class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
  import { mapState } from 'vuex'
  import { currency } from '../../config'
  import PathContent from "../Content/PathContent";
  export default {
    components: { PathContent },
    data: () => ({
      secondAddress: false
    }),
    computed: {
      required(){
        return [
          value => !!value || this.translate('retirementNeeds', 'Income', 'Income53'),
        ]
      },
      address1: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info70')
      },
      address2: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info71')
      },
      city1: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info69')
      },
      state1: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info68')
      },
      zip1: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info67')
      },
      city2: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info69')
      },
      state2: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info68')
      },
      zip2: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info67')
      },
      phone1: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info75')
      },
      phone2: function () {
        return this.translate('beneficiary_page', 'BEN_Info', 'BEN_Info75')
      },
      email: function () {
        return 'Email'
      },
      validation: {
        get () {
          if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
            return true
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
      ...mapState(['common'])
    },
    methods: {
      getMask(type){
        if(type == 'ssn'){
          return "###-##-####"
        }else{
          return "##/##/####"
        }
      },
      checkValidation() {
        if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
          this.validation = true;
        }

        this.$emit('updateValidation', this.validation);
      },
    },
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .income-info ::v-deep .theme--light.v-messages {
    color: #000;
  }
  .income-info ::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  .income-info ::v-deep .v-select label{
    line-height: 19px;
  }
  .income-info ::v-deep .v-select__selection--comma{
    line-height: 21px;
  }
</style>