<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 pip set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income10"></path-content>
    <path-content section="retirementNeeds" step="Income" label="Income2"></path-content>
    <v-row class="ma-0">
      <v-col lg="12"  class="px-0">
        <v-form ref="form" @change="checkValidation">
          <v-row>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="common.dateOfHire"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                          v-model="common.dateOfHire"
                          :label="dateOfHire"
                          :rules="required"
                          prepend-inner-icon="mdi-calendar"
                          readonly
                          outlined
                          v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                        v-model="date"
                        no-title
                        scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                      :label="planType"
                      outlined
                      v-model="common.planType"
                      class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                      :label="advisorName"
                      outlined
                      v-model="common.advisorName"
                      class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" lg="6" xl="6" sm="12" md="6" class="py-0">
              <v-text-field
                      :label="location"
                      outlined
                      v-model="common.location"
                      class="title font-weight-regular"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
  import { mapState } from 'vuex'
  import { currency } from '../../config'
  import PathContent from "../Content/PathContent";
  export default {
    components: { PathContent },
    data: () => ({
      menu: false,
    }),
    computed: {
      required(){
        return [
          value => !!value || this.translate('retirementNeeds', 'Income', 'Income13'),
        ]
      },
      dateOfHire: function () {
        return "Date of hire"
      },
      planType: function () {
        return "Plan type"
      },
      advisorName: function () {
        return "Advisor name"
      },
      location: function () {
        return "Location"
      },
      validation: {
        get () {
          if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
            return true
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
      ...mapState(['common'])
    },
    methods: {
      checkValidation() {
        if(this.common.firstName && this.common.lastName && this.common.dateOfBirth && this.common.ssn && this.common.gender && this.common.maritalStatus){
          this.validation = true;
        }

        this.$emit('updateValidation', this.validation);
      },
    },
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .income-info ::v-deep .theme--light.v-messages {
    color: #000;
  }
  .income-info ::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  .income-info ::v-deep .v-select label{
    line-height: 19px;
  }
  .income-info ::v-deep .v-select__selection--comma{
    line-height: 21px;
  }
</style>