<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
        <path-content section="retirementNeeds" step="Inflation_Adj" label="Inflation_Adj3"></path-content>
        <path-content section="retirementNeeds" step="Inflation_Adj" label="Inflation_Adj2"></path-content>
        <v-row class="inflation-field width-100">
            <v-form ref="form" @change="checkValidation" class="width-100">
                <v-col cols="12" lg="6" md="6" sm="12" style="position:relative" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
                    <v-currency-field
                            v-bind="currency"
                            :rules="inflationAdjustedReplacementIncomeRules"
                            @input="checkValidation"
                            :label="label"
                            :default-value="null"
                            class="title font-weight-regular"
                            :class="retirementneeds.RN_InflationAdjustedReplacementIncome || retirementneeds.RN_InflationAdjustedReplacementIncome === 0 ? '' : 'currency-no-val'"
                            outlined
                            v-model="retirementneeds.RN_InflationAdjustedReplacementIncome"
                    ></v-currency-field>
                    <v-btn  @click="resetForm" rounded text :aria-label="reset" color="primary" class="reset-icon">{{this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')}}</v-btn>
                </v-col>
            </v-form>
        </v-row>
    </v-card>
</template>

<script>
    import { currency } from '../../config'
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        name: "RepIncome",
        components: {StepAudioPlayer, PathContent },
        data: () => ({
            currency: currency
        }),
        computed: {
            inflationAdjustedReplacementIncomeRules(){
                return  [
                    value => !!value || this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income10'),
                    value => parseInt(value) >= 0 || this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income10'),
                    value => (!isNaN(String(value).replace(',', ''))) || this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income5')
                ]
            },
            retirementneeds() {
                return this.$store.state.retirementneeds;
            },
            label(){
                return this.translate('retirementNeeds', 'Inflation_Adj', 'Inflation_Adj1')
            },
            reset(){
                return this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')
            },
            validation: {
                get () {
                    if((this.retirementneeds.RN_InflationAdjustedReplacementIncome || this.retirementneeds.RN_InflationAdjustedReplacementIncome === 0) && this.retirementneeds.RN_InflationAdjustedReplacementIncome >= 0){
                        return true
                    }else{
                        return false
                    }
                },
                set (validation) {
                    this.$store.state.validation = validation
                }
            },
        },
        methods: {
            checkValidation() {
                if(this.retirementneeds.RN_InflationAdjustedReplacementIncome >= 0){
                    this.validation = true;
                }
                this.$emit('updateValidation', this.validation);
            },
            resetForm() {
                this.retirementneeds.RN_InflationAdjustedReplacementIncome = this.$store.state.OriginalRN_InflationAdjustedReplacementIncome;
            }
        },
        mounted () {
            this.checkValidation()
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .reset-icon{
        position: absolute;
        top: 22px;
        right: 20px
    }
    .currency-no-val ::v-deep .v-text-field__prefix{
        display: none!important
    }
    .inflation-field ::v-deep .theme--light.v-messages {
        color: #000;
    }
    .inflation-field ::v-deep label{
        font-size: 1.25rem!important;
        letter-spacing: .0125em!important;
    }
</style>