<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
        <path-content section="retirementNeeds" step="Ret_Income" label="Ret_Income3"></path-content>
        <v-row class="ma-0">
            <v-col cols="12" class="body-1 pl-0">
                <span>
                    {{this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income2')}}
                </span>
                <v-tooltip color="black" max-width="320px" bottom>
                    <template v-slot:activator="{ on }">
                        <v-icon class="body-1 font-weight-medium primary--text" v-on="on">mdi-information-outline</v-icon>
                    </template>
                    <span>{{this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income4')}}</span>
                </v-tooltip>
            </v-col>
        </v-row>
        <v-row class="rep-income">
            <v-col cols="12" lg="6" md="6" sm="12" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
                <v-form ref="form" @change="checkValidation">
                    <v-row class="ma-0" style="position:relative">
                        <v-currency-field
                                v-bind="currency"
                                :rules="retirementIncomeRules"
                                @input="checkValidation"
                                name="input-10-2"
                                :label="label"
                                :class="retirementneeds.RN_EstimatedRetirementIncome || retirementneeds.RN_EstimatedRetirementIncome === 0 ? '' : 'currency-no-val'"
                                outlined
                                class="title font-weight-regular"
                                required
                                :default-value="null"
                                v-model="retirementneeds.RN_EstimatedRetirementIncome"
                                ref="estRetIncome"
                        ></v-currency-field>
                        <v-btn  @click="resetForm" rounded text :aria-label="reset" color="primary" class="reset-icon">{{this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')}}</v-btn>
                    </v-row>
                </v-form>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import { mapState } from 'vuex'
    import { currency } from '../../config';
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, PathContent },
        data: () => ({
            currency: currency,
            resetRNValue: null
        }),
        computed: {
            retirementIncomeRules(){
                return [
                    value => !!value || this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income5'),
                    value => parseInt(value) >= 0 || this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income5'),
                    value => (!isNaN(String(value).replace(/,/g, ''))) || this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income5')
                ]
            },
            retirementneeds() {
                return this.$store.state.retirementneeds;
            },
            label(){
                return this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income1')
            },
            reset(){
                return this.translate('retirementNeeds', 'Ret_Income', 'Ret_Income6')
            },
            validation: {
                get () {
                    if((this.retirementneeds.RN_EstimatedRetirementIncome || this.retirementneeds.RN_EstimatedRetirementIncome === 0) && this.retirementneeds.RN_EstimatedRetirementIncome >= 0){
                        return true
                    }else{
                        return false
                    }
                },
                set (validation) {
                    this.$store.state.validation = validation
                }
            },
        },
        methods: {
            checkValidation() {
                if(this.retirementneeds.RN_EstimatedRetirementIncome >= 0){
                    this.validation = true;
                }

                this.$emit('updateValidation', this.validation);
            },
            resetForm() {
                this.retirementneeds.RN_EstimatedRetirementIncome = this.$store.state.OriginalRN_EstimatedRetirementIncome;
            }
        },
        mounted () {
            this.checkValidation()
        }


    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .reset-icon{
        position: absolute;
        top: 10px;
        right: 5px
    }
    .currency-no-val ::v-deep .v-text-field__prefix{
        display: none!important
    }
    .rep-income ::v-deep .theme--light.v-messages {
        color: #000;
    }
    .rep-income ::v-deep label{
        font-size: 1.25rem!important;
        letter-spacing: .0125em!important;
    }
    .reset-btn ::v-deep .v-btn__content {
        color: var(--v-primary-base)
    }
</style>