<template>
<v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius results" :elevation="0">
    <disclaimer :message="'targetMonthlyContribution'" :messageActive="'targetMonthlyContributionActive'" ></disclaimer>
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <path-content section="retirementNeeds" step="RN_Summ" label="RN_Summ10"></path-content>
    <v-row>
        <v-col cols="12" class="body-1 sub-pad">
            {{this.translate('retirementNeeds', 'RN_Summ', 'Summ_Description')}}
        </v-col>
    </v-row>
    <v-row class="justify-center py-3">
    <v-card class="width-100 pa-3 py-lg-6 py-md-6 py-sm-6 py-xl-6 px-lg-10 px-md-10 px-sm-6 px-xl-10" max-width="700" :elevation="7">
        <v-row>
            <v-col cols="12" class="text-center">
                <span v-if="!showMonthly" class="display-2">
                    ${{monthlyIncome}}/{{mo}}
                </span>
                <span v-if="showMonthly" class="display-2">
                    ${{fullMonthlyIncome}}/{{mo}}
                </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" class="text-center display-1">
                {{this.translate('retirementNeeds', 'RN_Summ', 'Summ_Card_Heading')}}
            </v-col>
        </v-row>
        <v-row class="width-100 justify-center">
                <v-switch color="primary"  v-model="showMonthly">
                    <template slot="label">
                        <span class="title">
                            {{this.translate('retirementNeeds', 'RN_Summ', 'Summ_Switch_Label')}}
                        </span>
                    </template>
                </v-switch>
        </v-row>
        <v-row>
            <v-col cols="12" class="text-center caption">
                <v-btn
                    text
                    rounded
                    class="primary--text"
                    @click="needsDialog = !needsDialog">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ52') }}
                </v-btn>
            </v-col>
        </v-row>
    </v-card>
    </v-row>
    <v-dialog
            v-model="needsDialog"
            max-width="515"
    >
        <v-card>
            <v-card-title class="headline">
                <div class="width-100 d-flex">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ39') }}
                </div>
            </v-card-title>
            <v-divider class="mx-6"></v-divider>
            <v-card-text class="body-1" style="color:black">
                <v-row class="title">
                    <v-col cols="12" class="sub-pad">
                        {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Dialog_Heading') }}
                    </v-col>
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Current_Salary') }}: ${{Number(retirementneeds.RN_CurrentYearlyIncome).toLocaleString()}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Frequency') }}: {{contributions.C_GetPaid}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_YTR') }}: {{retirementneeds.RN_NumberOfYearsBeforeRetirement}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_SSI') }}: ${{retirementneeds.RN_EstimatedSocialSecurityIncome.toLocaleString()}}
                </v-row>
                <v-row class="title">
                    <v-col cols="12" class="sub-pad">
                        <strong>{{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Target') }}</strong>&nbsp;@ 100% {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Of_Savings') }}
                    </v-col>
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Estimate') }}: ${{targetSavings}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Annual') }}: ${{annualTargetIncome100}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Monthly') }}: ${{monthlyTargetIncome100}}
                </v-row>
                <v-row class="title">
                    <v-col cols="12" class="sub-pad">
                        <strong>{{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Started') }}</strong>&nbsp;@ 30% {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Of_Savings') }}
                    </v-col>
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Estimate') }}: ${{monthlyPlanIncome}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Annual') }}: ${{annualTargetIncome30}}
                </v-row>
                <v-row class="ma-0 sub-pad">
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Monthly') }}: ${{monthlyTargetIncome30}}
                </v-row>
                <v-divider class="mt-3"></v-divider>
                <v-row class="title">
                    <v-col cols="12" class="sub-pad">
                        <strong>{{ this.translate('retirementNeeds', 'RN_Summ', 'Summ_Contribution') }}: {{deferralSelect}}</strong>
                    </v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row class="secondary--text text--darken-1">
                    <v-col cols="12" class="caption px-0 px-md-3">
                        {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ45') }} {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ46') }}
                        {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ47') }} {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ48') }}
                        {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ49') }} {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ50') }}
                        {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ51') }}
                    </v-col>
                </v-row>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    rounded
                    @click="needsDialog = false"
                >
                    {{ this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ34') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-card>
</template>

<script>
    import PathContent from "../Content/PathContent";
    import Disclaimer from "../Global/Disclaimer";
    import ProgressBar from "../Global/ProgressBar";
    import {mapState} from 'vuex'
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    function roundMoney(num) {
        try {
            return parseInt((num).toFixed(0));
        } catch (e) {
            return num;
        }
    }

    function toInt(num) {
        num = num.replace(/,/g, "");
        return parseInt(num);
    }

export default {
    components: {StepAudioPlayer, PathContent, Disclaimer },
    data: () => ({
        items: [],
        mode: null,
        incomeNeeded: 0,
        planIncome: 0,
        planAssets: 0,
        deferralSelect: 0,
        outsideAssetsNeeded: 0,
        estimatedTargetSavings: 0,
        annualIncomeDisplay: 0,
        projectedOutsideAssetsDisplay: 0,
        needsDialog: false,
        showMonthly: false
    }),
    computed: {
        ...mapState(['common', 'contributions']),
        targetSavings () {
            return Number(this.results.FullContributionCalc.ProjectedBalanceAtRetirement + this.results.ProjectedOutsideAssets).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        monthlyPlanIncome(){
            return Number(this.results.DeferralArray[this.results.InitialContributionLabel].ProjectedBalanceAtRetirement + this.results.ProjectedOutsideAssets).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        annualTargetIncome100(){
            return Number(this.results.FullContributionCalc.MonthlyIncome * 12).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        monthlyTargetIncome100(){
            return Number(this.results.FullContributionCalc.MonthlyIncome).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        annualTargetIncome30(){
            return Number(this.retirementneeds.RN_EstimatedMonthlyIncomeAtRetirement * 12).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        monthlyTargetIncome30(){
            return Number(this.retirementneeds.RN_EstimatedMonthlyIncomeAtRetirement).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        retirementneeds() {
            return this.$store.state.retirementneeds;
        },
        results() {
            return this.$store.state.results;
        },
        mo(){
          return this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ29')
        },
        monthlyIncome(){
            return Number(this.retirementneeds.RN_EstimatedMonthlyIncomeAtRetirement).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
        fullMonthlyIncome(){
            return Number(this.results.FullContributionCalc.MonthlyIncome).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        },
    },
    created: function () {
        this.$store.dispatch('getResultsData').then(() => {
            this.mode = this.translate('retirementNeeds', 'RN_Summ', 'RN_Summ29');
            this.annualIncomeDisplay = roundMoney(this.results.InitialAnnualIncome);
            this.incomeNeeded = roundMoney(this.retirementneeds.RN_InflationAdjustedReplacementIncome);
            this.incomeNeeded = Number(this.incomeNeeded).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            this.planIncome = roundMoney(this.results.InitialAnnualIncome);
            this.items = Object.keys(this.results.DeferralArray);
            this.outsideAssetsNeeded = roundMoney(this.retirementneeds.RN_InflationAdjustedReplacementIncome - this.results.InitialAnnualIncome);
            this.results.ContributionDlr = this.results.InitialContributionDlr;
            this.results.ContributionPct = this.results.InitialContributionPct;
            this.deferralSelect = this.results.InitialContributionLabel;
            this.deferralSelect = this.formatItem(this.deferralSelect);
            this.updateContribution(this.results.InitialContributionLabel);
            this.projectedOutsideAssetsDisplay = roundMoney(this.results.ProjectedOutsideAssets);
        });
    },
    methods: {
        updateChartBool () {
            if(this.showMonthly) {
                this.showMonthly = false;
                this.showTotal = true;
            }else{
                this.showMonthly = true;
                this.showTotal = false;
            }
        },
        formatItem(item){
            item = item.split('/').shift();
            item = item.split('$').pop();
            item = parseInt(item).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            item = item.split('.').shift();
            item = '$' + item + '/mo'
            return item
        },
        updateContribution(a) {
            this.planAssets = roundMoney(this.results.DeferralArray[a].ProjectedBalanceAtRetirement);
            this.annualIncomeDisplay = Math.round(this.results.DeferralArray[a].MonthlyIncome * 12);
            this.results.ContributionDlr = this.results.DeferralArray[a].RawDlr;
            this.results.ContributionPct = this.results.DeferralArray[a].RawPct;
            this.results.annualIncomeDisplay = this.annualIncomeDisplay;
            this.estimatedTargetSavings = roundMoney(this.planAssets + parseInt(this.results.ProjectedOutsideAssets));
            this.retirementneeds.RN_EstimatedSavingsatRetirement = this.estimatedTargetSavings;
            this.retirementneeds.RN_EstimatedMonthlyIncomeAtRetirement = this.results.DeferralArray[a].MonthlyIncome;
        }
    }


}
</script>

<style scoped lang="scss">
@import "../../styles/sass/base/_variables.sass";
@import "../../styles/styles.css";

.sub-pad{
    padding-left: 12px
}

@media only screen and (max-width: 960px) {
    .sub-pad{
        padding-left: 0
    }
}
</style>
