<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 years set-radius" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
        <path-content section="retirementNeeds" step="YTR" label="YTR1"></path-content>
        <v-row class="ma-0">
            <v-col cols="12" class="body-1 pl-0">
                <span>
                    {{this.translate('retirementNeeds', 'YTR', 'YTR10')}}
                </span>
                <v-tooltip color="black" max-width="320px" bottom>
                    <template v-slot:activator="{ on }">
                        <v-icon class="body-1 font-weight-medium primary--text" v-on="on">mdi-information-outline</v-icon>
                    </template>
                    <span>{{this.translate('retirementNeeds', 'YTR', 'YTR12')}}</span>
                </v-tooltip>
            </v-col>
        </v-row>
        <v-row class="form-fields">
            <v-col cols="12" lg="2" md="2" sm="4">
                <v-form ref="form">
                    <div class="body-2">
                        {{this.translate('retirementNeeds', 'YTR', 'YTR13')}}
                    </div>
                    <v-text-field
                            outlined
                            :rules="rules"
                            type="number"
                            v-model="$store.state.module.defaultRetirementAge"
                            @input="updateYearsBeforeRetirement"
                            class="title font-weight-regular"
                            single-line
                    >
                    </v-text-field>
                </v-form>
            </v-col>
        </v-row>
    </v-card>
</template>
<script>
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        components: {StepAudioPlayer, PathContent },
        computed: {
            rules(){
                return [
                    value => !!value || this.translate('retirementNeeds', 'YTR', 'YTR11'),
                ]
            },
            retirementneeds() {
                return this.$store.state.retirementneeds;
            },
            validation: {
                get () {
                    if(this.$store.state.module.defaultRetirementAge){
                        return true
                    }else{
                        return false
                    }
                },
                set (validation) {
                    this.$store.state.validation = validation
                }
            },
        },
        methods: {
            checkValidation() {
                if(this.$store.state.module.defaultRetirementAge){
                    this.validation = true
                }
                this.$emit('updateValidation', this.validation);
            },
            updateYearsBeforeRetirement(e) {
                this.checkValidation();
                var ytd = e - this.$store.state.common.age;
                this.$store.state.retirementneeds.RN_NumberOfYearsBeforeRetirement = ytd;
                var RI = this.retirementneeds.RN_ReplacementIncome;
                var inflation_factors = [1.16, 1.34, 1.56, 1.81, 2.09, 2.43, 2.81, 3.26];
                var idx = Math.round((parseInt(ytd) / 5) - 1);
                var q5a = RI * inflation_factors[idx];
                q5a = q5a.toLocaleString('us', {minimumFractionDigits: 0, maximumFractionDigits: 0});
                this.$store.commit('UPDATE_INFLATION_ADJUSTED_REPLACEMENT_INCOME', q5a);
            },
        },
        created () {
            this.updateYearsBeforeRetirement(this.$store.state.module.defaultRetirementAge);
        }
    }
</script>
<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";
    .above-radio {
        height: 100px;
    }
    .years ::v-deep .v-radio {
        flex-direction: column;
        margin: 0 10px;
        width: 85px;
    }
    .years ::v-deep .v-input--radio-group__input .v-icon {
        color: #82b1ff;
        background-color: #fff;
        border-radius: 50%;
    }
    .years ::v-deep .v-select__selections {
        line-height: 21px;
    }
    .years ::v-deep .v-input--selection-controls.v-input .v-label {
        font-size: .95rem!important;
        padding-top: 10px;
    }
    .years ::v-deep .v-input--selection-controls.v-input {
        position: relative;
    }
    .above-radio {
        height: 100px;
    }
    .years ::v-deep .v-input--selection-controls.v-input::before {
        content: '';
        position: absolute;
        top: 2%;
        left: 50%;
        right: 50%;
        margin-left: -375px;
        margin-right: -370px;
        height: 10px;
        z-index: 0;
        margin-top: 10px;
        background-image: linear-gradient(to right, blue, purple);
        box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
    }
    .years ::v-deep .v-select label{
        line-height: 19px;
        font-size: 1.25rem!important;
        letter-spacing: .0125em!important;
    }
    @media only screen and (max-width: 960px) {
        .years ::v-deep .v-input--radio-group__input {
            flex-direction: column !important
        }
        .v-radio {
            flex-direction: row !important;
            height: 80px !important;
            width: 150px
        }
        .years ::v-deep .v-input--selection-controls.v-input::before {
            content: '';
            position: absolute;
            left: 49.7%;
            top: 36%;
            bottom: 50%;
            margin-top: -194px;
            margin-bottom: 314px;
            margin-left: -34px;
            height: 562px;
            width: 10px;
            background-image: linear-gradient(to top, blue, purple);
            box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
        }
    }
</style>