<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 SSI-pension set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <template v-if="retirementneeds.retirementNeedsFlow == 1 || retirementneeds.retirementNeedsFlow == 2 || retirementneeds.retirementNeedsFlow == 4">
      <path-content section="retirementNeeds" step="SSI_Pension" label="SSI_Pension7"/>
      <v-row>
        <v-col cols="12" class="body-1">
          {{this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension3', {
          '%socialSecurityMultiplier%': Math.floor(retirementneeds.socialSecurityMultiplier*100),
          '%estimatedSocialSecurityIncomeMax%': serverConfig.estimatedSocialSecurityIncomeMax.toLocaleString()
          })}}&nbsp;{{this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension11')}}
        </v-col>
      </v-row>
      <v-row>
        <v-form ref="form" @change="checkValidation" class="width-100">
          <v-col cols="12" lg="6" md="6" sm="12" style="position:relative" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
            <v-currency-field
                    v-bind="currency"
                    :rules="estimatedSocialSecurityIncomeRules"
                    @input="checkValidation"
                    :label="label"
                    :default-value="null"
                    :class="retirementneeds.RN_EstimatedSocialSecurityIncome || retirementneeds.RN_EstimatedSocialSecurityIncome === 0 ? '' : 'currency-no-val'"
                    class="title font-weight-regular"
                    outlined
                    required
                    v-model="retirementneeds.RN_EstimatedSocialSecurityIncome">
            </v-currency-field>
            <v-btn  @click="resetTopForm" rounded text :aria-label="reset" color="primary" class="reset-icon">{{this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')}}</v-btn>
          </v-col>
        </v-form>
      </v-row>
    </template>
    <v-divider v-if="retirementneeds.retirementNeedsFlow == 4" class="mb-10"></v-divider>
    <template v-if="retirementneeds.retirementNeedsFlow == 3 || retirementneeds.retirementNeedsFlow == 4">
      <path-content section="retirementNeeds" step="SSI_Pension" label="SSI_Pension8"/>
      <path-content section="retirementNeeds" step="SSI_Pension" label="SSI_Pension6"/>
      <v-row>
        <v-form ref="BottomForm" @change="checkValidation" class="width-100">
          <v-col cols="12" lg="6" sm="12" md="6" style="position:relative" class="pl-sm-0 pl-0 pl-md-3 pl-lg-3 pl-xl-3">
            <v-currency-field
                    v-bind="currency"
                    :rules="estimatedPensionIncomeRules"
                    :label="penLabel"
                    :class="retirementneeds.RN_EstimatedPensionIncome || retirementneeds.RN_EstimatedPensionIncome === 0 ? '' : 'currency-no-val'"
                    class="title font-weight-regular"
                    outlined
                    :default-value="null"
                    required
                    v-model="retirementneeds.RN_EstimatedPensionIncome">
            </v-currency-field>
            <v-btn  @click="resetBottomForm" rounded text :aria-label="reset" color="primary" class="reset-icon">{{this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')}}</v-btn>
          </v-col>
        </v-form>
      </v-row>
    </template>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex'
  import { currency } from '../../config';
  import PathContent from "../Content/PathContent";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer, PathContent },
    data: () => ({
      currency: currency
    }),
    computed: {
      estimatedSocialSecurityIncomeRules() {
        return [
          value => !!value || this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension9'),
          value => parseInt(value) >= 0 || this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension9'),
          value => (!isNaN(value.toString().replace(',', ''))) || this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income5')
        ]
      },
      estimatedPensionIncomeRules(){
        return [
          value => !!value || this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension10'),
          value => parseInt(value) >= 0 || this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension10'),
          value => (!isNaN(value.toString().replace(',',''))) || this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income5')
        ]
      },
      label(){
        return this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension2')
      },
      penLabel(){
        return this.translate('retirementNeeds', 'SSI_Pension', 'SSI_Pension5')
      },
      reset(){
        return this.translate('retirementNeeds', 'Rep_Income', 'Rep_Income7')
      },
      validation: {
        get () {
          if((this.retirementneeds.RN_EstimatedSocialSecurityIncome || this.retirementneeds.RN_EstimatedSocialSecurityIncome === 0) && this.retirementneeds.RN_EstimatedSocialSecurityIncome >= 0){
            if(this.retirementneeds.retirementNeedsFlow == 3 || this.retirementneeds.retirementNeedsFlow == 4){
              return this.checkPension()
            }else{
              return true
            }
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
      ...mapState(['retirementneeds','serverConfig'])
    },
    methods: {
      checkPension(){
          if((this.retirementneeds.RN_EstimatedPensionIncome || this.retirementneeds.RN_EstimatedPensionIncome === 0) && this.retirementneeds.RN_EstimatedPensionIncome >= 0){
            return true
          }else{
            return false
          }
      },
      checkValidation() {
        if(this.retirementneeds.RN_EstimatedSocialSecurityIncome >= 0){
          this.validation = true;
        }

        this.$emit('updateValidation', this.validation);
      },
      resetTopForm() {
        this.retirementneeds.RN_EstimatedSocialSecurityIncome = this.$store.state.OriginalRN_EstimatedSocialSecurityIncome;
      },
      resetBottomForm() {
        this.retirementneeds.RN_EstimatedPensionIncome = this.$store.state.OriginalRN_EstimatedPensionIncome;
      }
    },
    mounted () {
      this.checkValidation()
    }
  }
</script>

<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .reset-icon{
    position: absolute;
    top: 22px;
    right: 15px
  }
  .currency-no-val ::v-deep .v-text-field__prefix{
    display: none!important
  }
  .SSI-pension::v-deep label{
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  @media only screen and (max-width: 672px) {
    .v-application .px-12 {
      padding-left: 10px !important;
      padding-right: 10px!important
    }
  }
</style>

