 <template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius" :elevation="0">
      <v-row class="vid-row">
            <!-- video -->
            <v-img :src="image_src" aspect-ratio="2"></v-img>
          </v-row>
    
  </v-card>
</template> 

<script>
export default {
  data() {
    return {
      image_src: require("../../assets/img/vid-placeholder.png")
    };
  }
};
</script>


<style scoped >
.vid-row {
    margin: 0 !important;
}
</style>
