<template>
  <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 years set-radius" :elevation="0">
    <step-audio-player></step-audio-player>
    <path-content section="retirementNeeds" step="Income" label="Income1"></path-content>
    <v-row class="ma-0 body-1">
      <v-col class="text-left display-1 pl-0" cols="12">
        {{ this.translate('retirementNeeds', 'YTR', 'YTR10') }}
      </v-col>
    </v-row>
    <v-row class="form-fields">
      <v-col cols="12" lg="6" md="6" sm="12">
        <v-form ref="form">
          <v-select
                  @change="updateYearsBeforeRetirement"
                  v-model="retirementneeds.RN_NumberOfYearsBeforeRetirement"
                  :items="options"
                  :rules="rules"
                  :label="placeholder"
                  class="title font-weight-regular"
                  outlined>
            <template v-slot:item="{ item, index }">
              <div class="title font-weight-regular">
                {{item.text}}
              </div>
            </template>
          </v-select>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
  import PathContent from "../Content/PathContent";
  import StepAudioPlayer from "../Global/StepAudioPlayer";
  export default {
    components: {StepAudioPlayer, PathContent },
    data() {
      return {
        options: [
          {text: this.translate('retirementNeeds', 'YTR', 'YTR2'), value: "5"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR3'), value: "10"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR4'), value: "15"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR5'), value: "20"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR6'), value: "25"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR7'), value: "30"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR8'), value: "35"},
          {text: this.translate('retirementNeeds', 'YTR', 'YTR9'), value: "40"},
        ]
      }
    },
    computed: {
      rules(){
        return [
          value => !!value || this.translate('retirementNeeds', 'YTR', 'YTR11'),
        ]
      },
      retirementneeds() {
        return this.$store.state.retirementneeds;
      },
      placeholder () {
        return this.translate('retirementNeeds', 'YTR', 'YTR10')
      },
      validation: {
        get () {
          if(this.retirementneeds.RN_NumberOfYearsBeforeRetirement){
            return true
          }else{
            return false
          }
        },
        set (validation) {
          this.$store.state.validation = validation
        }
      },
    },
    methods: {
      checkValidation() {
        if(this.retirementneeds.RN_NumberOfYearsBeforeRetirement){
          this.validation = true
        }
        this.$emit('updateValidation', this.validation);
      },
      updateYearsBeforeRetirement(e) {
        this.checkValidation()
        var RI = this.retirementneeds.RN_ReplacementIncome;
        var inflation_factors = [1.16, 1.34, 1.56, 1.81, 2.09, 2.43, 2.81, 3.26];
        var idx = (parseInt(e) / 5) - 1;
        var q5a = RI * inflation_factors[idx];
        q5a = Math.round(q5a);
        q5a = q5a.toLocaleString('us', {minimumFractionDigits: 0, maximumFractionDigits: 0});
        this.$store.commit('UPDATE_INFLATION_ADJUSTED_REPLACEMENT_INCOME', q5a);
      },
    },
    mounted () {
      this.checkValidation()
    }
  }
</script>
<style scoped lang="scss">
  @import "../../styles/sass/base/_variables.sass";
  @import "../../styles/styles.css";
  .above-radio {
    height: 100px;
  }
  .years ::v-deep .v-radio {
    flex-direction: column;
    margin: 0 10px;
    width: 85px;
  }
  .years ::v-deep .v-input--radio-group__input .v-icon {
    color: #82b1ff;
    background-color: #fff;
    border-radius: 50%;
  }
  .years ::v-deep .v-select__selections {
    line-height: 21px;
  }
  .years ::v-deep .v-input--selection-controls.v-input .v-label {
    font-size: .95rem!important;
    padding-top: 10px;
  }
  .years ::v-deep .v-input--selection-controls.v-input {
    position: relative;
  }
  .above-radio {
    height: 100px;
  }
  .years ::v-deep .v-input--selection-controls.v-input::before {
    content: '';
    position: absolute;
    top: 2%;
    left: 50%;
    right: 50%;
    margin-left: -375px;
    margin-right: -370px;
    height: 10px;
    z-index: 0;
    margin-top: 10px;
    background-image: linear-gradient(to right, blue, purple);
    box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
  }
  .years ::v-deep .v-select label{
    line-height: 19px;
    font-size: 1.25rem!important;
    letter-spacing: .0125em!important;
  }
  @media only screen and (max-width: 960px) {
    .years ::v-deep .v-input--radio-group__input {
      flex-direction: column !important
    }
    .v-radio {
      flex-direction: row !important;
      height: 80px !important;
      width: 150px
    }
    .years ::v-deep .v-input--selection-controls.v-input::before {
      content: '';
      position: absolute;
      left: 49.7%;
      top: 36%;
      bottom: 50%;
      margin-top: -194px;
      margin-bottom: 314px;
      margin-left: -34px;
      height: 562px;
      width: 10px;
      background-image: linear-gradient(to top, blue, purple);
      box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
    }
  }
</style>