<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 my-profile set-radius transition" :elevation="0">
        <disclaimer :message="'investorProfile'" :messageActive="'investorProfileActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="myprofile" step="My_Profile" label="My_Profile8"></path-content>
        <path-content section="myprofile" step="My_Profile" label="My_Profile13"></path-content>
        <profile-report :profile="profile"></profile-report>
    </v-card>
</template>
<script>
    import data from "../../api/data";
    import ProfileReport from "./ProfileReport";
    import PathContent from "../Content/PathContent";
    import Disclaimer from "../Global/Disclaimer";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer, ProfileReport, PathContent, Disclaimer},
        data() {
            return {
                profile: {},
            }
        },
        mounted() {
            data.getProfile(this.$store.state.spe2profileId).then(response => {
                this.profile = response.data.appData;
                this.profile.documents = response.data.documents;
                this.profile.createDate = response.data.createDate;
            })
        }

    }
</script>
<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .v-dialog__container {
        display: unset;
    }

    .border-row {
        border: 1px solid var(--v-secondary-base);
        border-radius: 5px
    }
    .edit-btn {
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.25);
    }

    .my-profile ::v-deep .accent--text {
        color: var(--v-primary-base) !important;
        caret-color: var(--v-primary-base) !important;
    }

    .my-profile ::v-deep .v-data-table th, .my-profile ::v-deep .v-data-table td {
        font-size: 1rem
    }

    .my-profile ::v-deep .mdi-equal {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -30px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 32px;
        width: 50px;
        height: 50px;
        color: #fff;
        border-bottom-left-radius: 32px !important;
        border-bottom-right-radius: 32px !important
    }

    .info-card {
        position: relative;
        z-index: 1
    }

    .card-col {
        padding: 40px 60px !important
    }

    .exp-card-col {
        padding: 20px 30px !important
    }
    .transition{
        overflow-y: scroll
    }

    @media only screen and (max-width: 960px) {
        .card-exp-row-right {
            margin-top: 0;
        }
        .results ::v-deep .mdi-equal {
            margin-top: -20px;
        }
        .card-col {
            padding: 20px 30px !important;
        }
        .exp-card-col {
            padding: 10px 15px !important;
        }
    }
</style>