<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 my-profile" :elevation="0">
        <step-audio-player></step-audio-player>
        <path-content section="myprofile" step="My_Profile" label="My_Profile1"></path-content>
        <path-content section="myprofile" step="Email_My_Profile" label="Email_My_Profile1"></path-content>
        <path-content section="myprofile" step="Email_My_Profile" label="Email_My_Profile2"></path-content>
        <v-row>
            <v-col cols="12" lg="4" md="4" sm="8">
                <v-form @input="checkValidation">
                    <v-text-field
                            :rules="emailRules"
                            :label="label"
                            outlined
                            class="title font-weight-regular"
                            v-model="email"
                            ref="profileEmail"
                    ></v-text-field>
                </v-form>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import SectionTitle from "../Content/SectionTitle";
    import Explanation from "../Content/Explanation";
    import StepTitle from "../Content/StepTitle";
    import PathContent from "../Content/PathContent";
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    export default {
        name: "EmailMyProfile",
        components: {StepAudioPlayer, PathContent, StepTitle, Explanation, SectionTitle },
        data: () => ({
            emailRules: [
                v => !v || /.+@.+\..+/.test(v) || this.translate('myprofile', 'Email_My_Profile', 'Email_My_Profile3'),
            ],
            email: ''
        }),
        computed:{
            label(){
                return this.translate('myprofile', 'Email_My_Profile', 'Email_My_Profile3')
            }
        },
        methods: {
            checkValidation(validation) {
                this.$emit('updateValidation', validation);
            }
        },
    }
</script>

<style scoped>

</style>