<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius my-profile" :elevation="0">
        <step-audio-player></step-audio-player>
        <v-row class="title pb-3  secondary--text">
            <v-col class="text-left" cols="12">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile1') }}
                <v-dialog
                        v-model="showDisclaimer"
                        width="500"
                        v-if="messaging.investorProfileDisclosureActive"
                >
                    <template v-slot:activator="{ on }">
                        <v-icon class=" secondary--text mt-n1" v-on="on">mdi-help-circle</v-icon>
                    </template>

                    <v-card>
                        <v-card-title class="headline">Disclosures</v-card-title>
                        <v-card-text>
                            {{ messaging.investorProfileDisclosure }}
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" rounded text @click.stop="showDisclaimer = false">
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile16')}}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
        </v-row>
        <v-row class="display-1">
            <v-col class="text-left" cols="12" lg="8" md="8">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile13') }}
            </v-col>
        </v-row>
        <v-row class="body-1 font-weight-medium">
            <v-col class="text-left" cols="12">
                {{this.translate('myprofile', 'My_Profile', 'My_Profile17')}} {{this.translate('myprofile', 'My_Profile', 'My_Profile3')}}: {{ profile.createDate }}
            </v-col>
        </v-row>
        <v-row class="pb-10 pt-12">
            <v-card class="width-100 pa-10 set-radius" :elevation="3">
                <v-row class="ma-0 align-center">
                    <div class="headline font-weight-medium">
                        {{this.translate('myprofile', 'My_Profile', 'My_Profile12')}}
                    </div>
                </v-row>
                <v-row class="ma-0 align-center">
                    <div class="headline font-weight-medium">
                        {{this.translate('myprofile', 'My_Profile', 'My_Profile103')}}
                    </div>
                </v-row>
                <v-row class="ma-0 align-center pt-4">
                    <div class="body-1 ">
                        {{this.translate('myprofile', 'My_Profile', 'My_Profile14')}}
                        {{this.translate('myprofile', 'My_Profile', 'My_Profile15')}}
                    </div>
                </v-row>
            </v-card>
        </v-row>
    </v-card>
</template>
<script>
    import {mapState} from 'vuex'
    import data from "../../api/data";
    import StepAudioPlayer from "../Global/StepAudioPlayer";

    export default {
        components: {StepAudioPlayer},
        data() {
            return {
                showDisclaimer: false,
                profile: {},
            }
        },
        computed: {
            ...mapState(['messaging',])
        },
        mounted() {
            data.getProfile(this.$store.state.spe2profileId).then(response => {
                this.profile = response.data.appData;
                this.profile.documents = response.data.documents;
                this.profile.createDate = response.data.createDate;
            })
        }
    }
</script>
<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .v-dialog__container {
        display: unset;
    }

    .border-row {
        border: 1px solid var(--v-secondary-base);
        border-radius: 5px
    }

    .edit-btn {
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.25);
    }

    .my-profile ::v-deep .accent--text {
        color: var(--v-primary-base) !important;
        caret-color: var(--v-primary-base) !important;
    }

    .my-profile ::v-deep .v-data-table th, .my-profile ::v-deep .v-data-table td {
        font-size: 1rem
    }

    .info-card {
        position: relative;
        z-index: 1
    }

    .card-col {
        padding: 40px 60px !important
    }

    .exp-card-col {
        padding: 20px 30px !important
    }

    @media only screen and (max-width: 960px) {
        .card-exp-row-right {
            margin-top: 0;
        }
        .results ::v-deep .mdi-equal {
            margin-top: -20px;
        }
        .card-col {
            padding: 20px 30px !important;
        }
        .exp-card-col {
            padding: 10px 15px !important;
        }
    }
</style>