<template>
    <div class="my-profile">
        <v-row class="py-3">
            <v-card class="width-100 pa-3 pa-lg-10 pa-xl-10 pa-md-10 pa-sm-10 set-radius" :elevation="7">
                <v-row class="logo-row">
                    <div>
                        <v-img src="#" max-width="200px"></v-img>
                    </div>
                    <div class="flex-grow-1"></div>
                    <div>
                        <v-img src="#" max-width="200px"></v-img>
                    </div>
                </v-row>
                <v-row>
                    <div class="flex-grow-1 hidden-sm-and-down"></div>
                    <div class="mr-8">
                        <v-row class="title">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile2')}}
                        </v-row>
                        <v-row>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile3')}}: {{ profile.createDate }}
                        </v-row>
                    </div>
                </v-row>
                <v-row class="ma-0 align-center">
                    <strong>{{this.translate('myprofile', 'My_Profile', 'My_Profile4')}}</strong>: {{ profile.planName }}
                </v-row>
                <v-row class="ma-0 align-center">
                    <strong>{{this.translate('myprofile', 'My_Profile', 'My_Profile5')}}</strong>: {{ profile.firstName }} {{ profile.lastName }}
                </v-row>
                <v-row class="ma-0 align-center">
                    <strong>{{this.translate('myprofile', 'My_Profile', 'My_Profile6')}}</strong>: {{ profile.email }}
                </v-row>
                <v-row class="ma-0 align-center">
                        <strong>{{this.translate('myprofile', 'My_Profile', 'My_Profile7')}}</strong>: {{ profile.planId }}
                </v-row>

                <v-divider class="my-3"></v-divider>
<!--                -->
<!--                PLAN BALANCE AND CONTRIBUTIONS-->
<!--                -->
                <v-row class="ma-0 align-center pb-1">
                    <div class="headline font-weight-medium secondary--text text--darken-2">
                        {{this.translate('myprofile', 'Bal_Contr', 'Bal_Contr2')}}
                    </div>
                </v-row>
                <v-divider></v-divider>
                <div>
                    <v-row class="ma-0 align-center profileRow pa-4">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile62')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            ${{ profile.currentYearlyIncome ? profile.currentYearlyIncome.toLocaleString() : 0 }}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center profileRow pa-4">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile63')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            ${{ profile.currentBalance ? profile.currentBalance.toLocaleString() : 0 }}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center profileRow pa-4" v-if="profile.pre !== null">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile69')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            {{ formatDeferral(profile.pre) }}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center profileRow pa-4" v-if="profile.roth !== null">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'after_tax_roth_per_paycheck')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            {{ formatDeferral(profile.roth) }}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center profileRow pa-4" v-if="profile.post !== null">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'post_tax_per_paycheck')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            {{ formatDeferral(profile.post) }}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center profileRow pa-4">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile29')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            ${{ profile.monthlyContributionTotal }}
                        </div>
                    </v-row>
                </div>
                <v-divider class="my-3"></v-divider>
                <!--                -->
                <!--                INVESTMENT SELECTIONS-->
                <!--                -->
                <div v-if="$store.state.RP.retireExpressAccepted == 1">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel2')}}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center gray-1-bg pa-4">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'retire_express')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            100%
                        </div>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel5')}}
                        </v-col>
                    </v-row>
                </div>

                <div v-else-if="$store.state.RP.stadionAccepted == 1">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel2')}}
                        </div>
                    </v-row>
                    <v-row class="ma-0 align-center gray-1-bg pa-4">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'stadion_storyline')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="title">
                            100%
                        </div>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel5')}}
                        </v-col>
                    </v-row>
                </div>

                <div v-else-if="showInvestments">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel2')}}
                        </div>
                    </v-row>
                    <v-row class="ma-0 gray-1-bg pa-4">
                        <template v-if="profile.investmentType === 'RISK'">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile74')}} ({{this.translate('myprofile', 'My_Profile', 'My_Profile75')}}: {{ profile.riskName }})
                        </template>
                        <template v-if="profile.investmentType === 'CUSTOM'">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile76')}}
                        </template>
                        <template v-if="profile.investmentType === 'TARGET'">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile77')}}
                        </template>
                        <template v-if="profile.investmentType === 'DEFAULT'">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile78')}}
                        </template>
                    </v-row>
                    <v-row class="ma-0" v-if="profile.portfolioName !== null">
                        <v-col>{{ profile.portfolioName }}</v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-data-table
                                    :headers="headers"
                                    :items="profile.investments"
                                    item-key="fundName"
                                    class="width-100 body-1"
                                    hide-default-footer>
                                <template v-slot:item.percent="{ item }">
                                    {{item.percent}}%
                                </template>
                            </v-data-table>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            {{this.translate('investments', 'Invest_Sel', 'Invest_Sel5')}}
                        </v-col>
                    </v-row>
                    <template v-if="profile.autoEscalateEnabled && !profile.autoEscalateOptOut">
                        <v-divider class="my-3"></v-divider>
                        <v-row class="ma-0 align-center pb-1">
                            <div class="headline font-weight-medium secondary--text text--darken-2 text-uppercase">
                                {{this.translate('myprofile', 'My_Profile', 'Auto_Escalate')}}
                            </div>
                        </v-row>
                        <v-row class="ma-0 pa-4 gray-2-bg">
                            <div>
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile32')}}
                            </div>
                            <div class="flex-grow-1"></div>
                            <div>
                                {{ profile.autoEscalateStartDate }}
                            </div>
                        </v-row>
                        <v-data-table
                                :headers="autoIncreaseHeaders"
                                :items="autoEscalateData"
                                item-key="name"
                                class="width-100 body-1"
                                hide-default-footer
                                style="background:#FAFAFA">
                        </v-data-table>
                    </template>
                    <template v-if="profile.autoIncreaseEnabled && profile.autoIncreaseOptIn">
                        <v-divider class="my-3"></v-divider>
                        <v-row class="ma-0 align-center pb-1">
                            <div class="headline font-weight-medium secondary--text text--darken-2 text-uppercase">
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile30')}}
                            </div>
                        </v-row>
                        <v-row class="ma-0 pa-4 gray-2-bg">
                            <div>
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile32')}}
                            </div>
                            <div class="flex-grow-1"></div>
                            <div>
                                {{ profile.autoIncreaseStartDate }}
                            </div>
                        </v-row>
                        <v-divider></v-divider>
                        <v-row class="ma-0 pa-4 gray-1-bg">
                            <div>
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile33')}}
                            </div>
                            <div class="flex-grow-1"></div>
                            <div>
                                {{ profile.autoIncreasePercentLimit }}%/{{this.translate('myprofile', 'My_Profile', 'My_Profile24')}}
                            </div>
                        </v-row>
                        <v-divider></v-divider>
                        <v-row class="ma-0 pa-4 gray-2-bg">
                            <div>
                                {{this.translate('myprofile', 'My_Profile', 'My_Profile34')}}
                            </div>
                            <div class="flex-grow-1"></div>
                            <div>
                                {{ profile.autoIncreaseCap }}%
                            </div>
                        </v-row>
                        <v-data-table
                                :headers="autoIncreaseHeaders"
                                :items="autoIncreaseData"
                                item-key="name"
                                class="width-100 body-1"
                                hide-default-footer
                                style="background:#FAFAFA">
                        </v-data-table>
                    </template>
                </div>
                <v-divider class="my-3"></v-divider>
<!--                -->
<!--                RISK PROFILE-->
<!--                -->
                <div v-if="(typeof $store.getters.getPathSections.risk !== 'undefined' && $store.getters.getPathSections.risk.complete) && (typeof $store.state.RP.retireExpressAccepted === 'undefined' || $store.state.RP.retireExpressAccepted == 0)">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile37').toUpperCase()}}
                        </div>
                    </v-row>
                    <v-row class="pa-4 gray-2-bg ma-0">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile104')}}:
                        </div>
                        <div class="flex-grow-1"></div>
                        <div>
                            {{ profile.riskName }}
                        </div>
                    </v-row>
                    <v-row class="pa-4 gray-1-bg ma-0">
                        <v-col class="pa-0" cols="12" sm="12" md="6" lg="6" xl="6">
                            {{ profile.riskDescription }}
                        </v-col>
                        <v-col class="text-right d-flex justify-end pa-0" cols="12" sm="12" md="6" lg="6" xl="6">
                            <div>
                                <component :is="getRiskComponent(profile.riskPosition)"></component>
                            </div>
                        </v-col>
                    </v-row>
                    <v-divider class="my-3"></v-divider>
                </div>
<!--                -->
<!--                RETIREMENT NEEDS-->
<!--                -->
                <div v-if="typeof $store.getters.getPathSections.retirementNeeds !== 'undefined' && $store.getters.getPathSections.retirementNeeds.complete">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile22').toUpperCase()}}
                        </div>

                    </v-row>
                    <v-row class="ma-0 pa-4 gray-2-bg">
                        <div>
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile105')}}
                        </div>
                        <div class="flex-grow-1"></div>
                        <div>
                            ${{ profile.ContributionDlr ? profile.ContributionDlr.toLocaleString() : '' }}
                        </div>
                    </v-row>
                    <v-divider class="my-3"></v-divider>
                </div>
<!--                -->
<!--                BENEFICIARIES-->
<!--                -->
                <div v-if="typeof $store.getters.getPathSections.beneficiary_page !== 'undefined' && $store.getters.getPathSections.beneficiary_page.complete">
                    <v-row class="ma-0 align-center pb-1">
                        <div class="headline font-weight-medium secondary--text text--darken-2">
                            {{this.translate('myprofile', 'My_Profile', 'My_Profile53').toUpperCase()}}
                        </div>
                    </v-row>
                    <v-row class="ma-0">
                        <v-data-table
                                :headers="benHeaders"
                                :items="beneficiaries"
                                item-key="name"
                                class="width-100"
                                hide-default-footer>
                        </v-data-table>
                    </v-row>
                    <v-divider class="my-3"></v-divider>
                </div>
<!--                -->
<!--                IMPORTANT DOCUMENTS-->
<!--                -->
                <v-row class="ma-0 headline font-weight-medium font-weight-medium secondary--text text--darken-2 pb-1">
                    {{this.translate('myprofile', 'My_Profile', 'My_Profile58').toUpperCase()}}
                </v-row>
                <v-row class="ma-0">
                    <v-data-table
                            :headers="docHeaders"
                            :items="profile.documents"
                            item-key="name"
                            class="width-100" hide-default-footer>
                        <template v-slot:item.file="{ item }">
                            <a :href="item.url" target="_blank" style="text-decoration: none;">
                                <v-icon class="primary--text">mdi-file-document</v-icon>&nbsp;
                                <span class="primary--text">{{download}}</span>
                            </a>
                        </template>
                    </v-data-table>
                </v-row>
<!--                IMPORTANT MESSAGES-->
                <v-divider class="my-3" v-if="messaging.investorProfileDisclosure && messaging.investorProfileDisclosureActive"></v-divider>
                <v-row  v-if="messaging.investorProfileDisclosure && messaging.investorProfileDisclosureActive" class="ma-0 align-center pb-1">
                    <div class="headline font-weight-medium secondary--text text--darken-2">
                        {{this.translate('myprofile', 'My_Profile', 'Disclaimer_Title').toUpperCase()}}
                    </div>
                </v-row>
                <v-row  v-if="messaging.investorProfileDisclosure && messaging.investorProfileDisclosureActive" class="ma-0">
                    {{messaging.investorProfileDisclosure}}
                </v-row>
            </v-card>
        </v-row>
    </div>
</template>

<script>
    import SpeRiskGauge0 from "../../assets/img/spe-risk-gauge-0.vue";
    import SpeRiskGauge1 from "../../assets/img/spe-risk-gauge-1.vue";
    import SpeRiskGauge2 from "../../assets/img/spe-risk-gauge-2.vue";
    import SpeRiskGauge3 from "../../assets/img/spe-risk-gauge-3.vue";
    import SpeRiskGauge4 from "../../assets/img/spe-risk-gauge-4.vue";
    import { mapState, mapGetters } from 'vuex'

    export default {
        name: "ProfileReport",
        components: {SpeRiskGauge0, SpeRiskGauge1, SpeRiskGauge2, SpeRiskGauge3, SpeRiskGauge4},
        props: {
            retireExpress: [{fundName: 'Retire Express', percent: '100%'}],
            profile: Object,
            isConfirmation: {
                type: Boolean,
                default: true
            }
        },
        data: () => ({
        }),
        computed: {
            showInvestments() {
                if ((this.profile.autoEnrollEnabled && !this.profile.autoEnrollOptOut)) {
                    return true;
                }
                return typeof this.getPathSections.investments !== 'undefined' && this.getPathSections.investments.complete;
            },
            monthlyMatch(){
                let a = this.profile.monthlyContributionTotalEmployer.toFixed(2)
                return a
            },
            beneficiaries() {
                return this.profile.beneficiaries;
            },
            funds() {
                return this.profile.investments;
            },
            autoIncreaseData() {
                return this.getAutoData('autoIncrease');
            },
            autoEscalateData() {
                return this.getAutoData('autoEscalate')
            },
            download(){
              return this.translate('myprofile', 'My_Profile', 'My_Profile61')
            },
            headers(){
                return [
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile49'),
                        align: 'left',
                        sortable: false,
                        value: 'fundName',
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile50'),
                        align: 'right',
                        value: 'percent'
                    },
                ]
            },
            benHeaders(){
                return [

                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile54'),
                        align: 'left',
                        sortable: false,
                        value: 'firstName',
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile55'),
                        value: 'type'
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile56'),
                        value: 'relationship'
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile50'),
                        align: 'right',
                        value: 'percent'
                    },
                ]
            },
            docHeaders(){
                return [
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile54'),
                        align: 'left',
                        sortable: false,
                        value: 'name',
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile81'),
                        value: 'file'
                    },
                ]
            },
            autoIncreaseHeaders(){
                return [
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile35'),
                        align: 'left',
                        sortable: false,
                        value: 'source',
                    },
                    {
                        text: this.translate('myprofile', 'My_Profile', 'My_Profile36'),
                        align: 'right',
                        value: 'rate'
                    },
                ]
            },
            deferralTypes() {
                return [
                    { label: 'Pre-tax',value: 'Pre' },
                    { label: 'Roth', value: 'Roth' },
                    { label: 'Post-tax', value: 'Post' }
                ];
            },
            ...mapState(['messaging']),
            ...mapGetters(['getPathSections'])
        },
        methods: {
            getRiskComponent(index){
                return 'SpeRiskGauge' + index;
            },
            getAutoData(type) {
                let data = [];
                let total = 0;
                this.deferralTypes.forEach((value) => {
                    let key = type + value.value;
                    if (this.profile[key]) {
                        data.push({
                            'rate': this.profile[key] + '%/yr',
                            'source': value.label
                        })
                        total += this.profile[key]
                    }
                })
                data.push({
                    'source': this.translate('myprofile', 'My_Profile', 'Total_Increase_Rate'),
                    'rate': total + '%/yr'
                })
                return data;
            },
            formatDeferral(deferral) {
                if (this.profile.mode == 'DLR') {
                    return '$' + deferral;
                }
                if (this.profile.mode == 'PCT') {
                    return deferral + '%';
                }
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .v-dialog__container {
        display: unset;
    }
    .border-row {
        border: 1px solid var(--v-secondary-base);
        border-radius: 5px
    }
    .my-profile ::v-deep .v-data-table__empty-wrapper td{
        color: var(--v-secondary-darken1)!important
    }
    .edit-btn {
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.25);
    }

    .my-profile ::v-deep .accent--text {
        color: var(--v-primary-base) !important;
        caret-color: var(--v-primary-base) !important;
    }

    .my-profile ::v-deep .v-data-table th, .my-profile ::v-deep .v-data-table td {
        font-size: 1rem
    }
    .riskSVG{
        max-width: 350px!important
    }
    .my-profile ::v-deep .mdi-equal {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -30px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 32px;
        width: 50px;
        height: 50px;
        color: #fff;
        border-bottom-left-radius: 32px !important;
        border-bottom-right-radius: 32px !important
    }
    .right-card-col{
        border-radius: 0 8px 8px 0;
    }
    .info-card {
        position: relative;
        z-index: 1;
    }

    .card-col {
        padding: 40px 60px !important
    }

    .exp-card-col {
        padding: 20px 30px !important
    }

    @media only screen and (max-width: 960px) {
        .card-exp-row-right {
            margin-top: 0;
        }
        .results ::v-deep .mdi-equal {
            margin-top: -20px;
        }
        .card-col {
            padding: 20px 30px !important;
        }
        .exp-card-col {
            padding: 10px 15px !important;
        }
        .riskSVG{
            max-width: 100%!important
        }
    }
    @media only screen and (max-width: 599px) {
        .card-col{
            padding: 30px!important
        }

    }
    .my-profile .profileRow:nth-child(odd)
    {
        background-color:#eee !important;
    }
    .my-profile .profileRow:nth-child(even)
    {
        background-color: #e0e0e0!important;
    }
</style>