<template>
    <v-card class="pa-3 pt-sm-9 pr-sm-8 pb-sm-8 pl-sm-10 pt-md-9 pr-md-8 pb-md-8 pl-md-10 pt-lg-9 pr-lg-8 pb-lg-8 pl-lg-10 pt-xl-9 pr-xl-8 pb-xl-8 pl-xl-10 set-radius sav-trans" :elevation="0">
        <disclaimer :message="'confirmation'" :messageActive="'confirmationActive'" ></disclaimer>
        <step-audio-player></step-audio-player>
        <path-content section="myprofile" step="My_Profile" label="My_Profile82"></path-content>
        <v-row>
            <v-col cols="12" lg="4" md="4" sm="4" v-for="(transaction, type) in transactions" :key="type">
                <v-card class="pa-2 set-radius">
                    <v-row class="ma-0 justify-center text-center pb-2 pt-4">
                        <template v-if="transaction.status == 'loading'">
                            <v-progress-circular
                                    indeterminate
                                    color="primary"
                            ></v-progress-circular>
                        </template>
                        <template v-else-if="transaction.status == 'success'">
                            <v-icon color="green">mdi-check-circle</v-icon>
                        </template>
                        <template v-else>
                            <v-icon color="yellow">mdi-alert</v-icon>
                        </template>
                    </v-row>
                    <template>
                    <v-row class="title font-weight-regular ma-0 justify-center text-center py-2">
                        {{ transaction.title }}
                    </v-row>
                    <v-row class="caption  secondary--text ma-0 justify-center text-center pb-4">
                        {{ transaction.message }} {{ transaction.confirmation }}
                    </v-row>
                    </template>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import data from "../../api/data";
    import Disclaimer from "../Global/Disclaimer";
    import StepAudioPlayer from "../Global/StepAudioPlayer";
    import PathContent from "../Content/PathContent";

    export default {
        components:{
            StepAudioPlayer,
            Disclaimer,
            PathContent
        },
        data() {
            return {
                transactions: [],
            }
        },
        created() {
            let promises = [];
            this.$emit('updateValidation', false)
            this.$store.commit('SET_DISABLE_NAVIGATION', true)
            this.$store.commit('SET_DISABLE_LINKS', true)
            data.getUiData().then(response => {
                this.transactions = response.data.transactions;
                for (let type in response.data.transactions) {
                    this.transactions[type] = Object.assign({}, this.transactions[type], {
                        message: '',
                        status: 'loading'
                    })

                    promises.push(data.updateTransaction(this.transactions[type].id).then(response => {
                        this.transactions[type].confirmation  = response.data.confirmation
                        this.transactions[type].message = response.data.message;
                        if (response.data.success) {
                            this.transactions[type].status = 'success'
                            this.transactions[type].title = this.transactions[type].sectionTitleSuccess
                        }
                        else {
                            this.transactions[type].status = 'error'
                            this.transactions[type].title = this.transactions[type].sectionTitleFail
                        }
                    }))
                }

                Promise.all(promises).then(() => {
                    this.$store.commit('SET_DISABLE_LINKS', false)
                    this.$emit('updateValidation', true)
                })
            })
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/sass/base/_variables.sass";
    @import "../../styles/styles.css";

    .sav-trans ::v-deep i {
        font-size: 2.5rem
    }
    .sav-trans ::v-deep .v-progress-circular {
        height: 40px !important;
        width: 40px !important;
    }
</style>