<template>
  <v-app>
    <template v-if="status === 'done'">
      <div v-if="$store.state.plan.providerLogoImage || $store.state.plan.sponsorLogoImage" class="width-100 text-center logo-container">
        <div class="logo-row">
          <v-img :src="$store.state.plan.providerLogoImage" class="logo-img" max-width="300" max-height="100" contain position="center left"></v-img>
          <div class="flex-grow-1"></div>
          <v-img :src="$store.state.plan.sponsorLogoImage" class="logo-img" max-width="300" max-height="100" contain position="center right"></v-img>
        </div>
      </div>
      <!--left drawer -->
      <Navigation
              role="navigation"
              v-if="$store.state.showNavigation"
              :class="$store.state.plan.providerLogoImage || $store.state.plan.sponsorLogoImage ? 'logo-margin' : ''"
      />
      <!--Top Bar -->
      <v-app-bar
              app
              clipped-left
              height="125px"
              dark
              :class="$store.state.plan.providerLogoImage || $store.state.plan.sponsorLogoImage ? 'special-logo-margin' : ''"
      >
        <div class="toolbar-cont">
          <div class="header-content pl-xl-11 pl-lg-11 pl-md-4 pr-md-8 pr-lg-5 pl-0 pr-0">
            <v-app-bar-nav-icon class="hidden-lg-and-up" v-if="$store.state.showNavigation" aria-label="mobile navigation" @click="left = !left"></v-app-bar-nav-icon>
            <div class="flex-grow-1 hidden-lg-and-up"></div>
            <v-toolbar-title>
              <div class="body-2 plan-name font-weight-regular">{{planName.toUpperCase()}}</div>
              <div class="display-1 font-weight-light hidden-md-and-down">Hello, Bartholomew!</div>
            </v-toolbar-title>
            <div class="flex-grow-1 hidden-md-and-down" ></div>
          </div>
        </div>
      </v-app-bar>
      <v-navigation-drawer v-model="left" id="navDrawer" role="navigation" fixed temporary :class="$store.state.common.providerLogoImage ? 'logo-margin' : ''">
        <NavigationMobile />
      </v-navigation-drawer>
      <!--Content Box -->
      <v-content :class="getClass" class="gray-5-bg">
        <v-container fill-height class="pt-lg-9 pr-lg-10 pb-lg-8 pt-md-9 pr-md-10 pb-md-8 pt-xl-9 pr-xl-10 pb-xl-8 pl-xl-0 pl-lg-0 pl-md-10 pa-sm-3 pa-0 gray-5-bg main-content">
          <v-layout class="justify-center">
            <!--router-->
            <router-view
                    v-on:nextSection="nextSection"
                    v-on:previousSection="previousSection"
                    v-on:firstSection="firstSection"></router-view>
          </v-layout>
        </v-container>
      </v-content>
      <!--Footer-->
      <Footer app padless :links="footerLinks" />
    </template>
    <template v-if="status === 'loading'">
      <v-container fill-height>
        <v-row align="center">
          <v-col>
            <v-row justify="center" >
              <div class="text-center ma-12">
                <v-progress-circular indeterminate id="progress-circle" color="primary" size="128" width="13" />
              </div>
            </v-row>
            <v-row class="headline">
              <v-col class="text-center" cols="12">
                Your experience is loading...
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-if="status === 'error'">
      <v-container fill-height>
        <v-row align="center">
          <v-col>
            <v-row class="body-1">
              <v-col class="text-left" cols="12" lg="8" md="8">
                <v-icon color="#E02020" x-large>mdi-alert-circle</v-icon>
              </v-col>
            </v-row>
            <v-row class="display-1">
              <v-col class="text-left" cols="12" lg="8" md="8">
                Error: Something went wrong
              </v-col>
            </v-row>
            <v-row class="body-1">
              <v-col class="text-left" cols="12" lg="8" md="8">
                {{ errorMessage }}
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </v-app>
</template>

<script>
  import Footer from './components/Global/Footer.vue'
  import Navigation from './components/Global/Navigation.vue'
  import NavigationMobile from './components/Global/NavigationMobile.vue'
  import Welcome from "./components/Global/Welcome";
  import { mapState } from 'vuex'
  import { mapGetters } from 'vuex'
  import data from './api/data'
  import axios from 'axios'

  export default {
    components: {
      Footer,
      Navigation,
      NavigationMobile,
      Welcome
    },
    props: {
      source: String
    },
    data: () => ({
      left: false,
      currentSection: null,
      status: 'loading',
      errorMessage: '',
      planName: 'my plan name'
    }),
    mounted() {
      this.$vuetify.breakpoint.thresholds.md = 1260;
      data.load(this.$route.query).then(() => {
        data.initialize().then(response => {
          axios.get('/spe2/style').then((response) => {
            let style = document.createElement('style');
            style.appendChild(document.createTextNode(response.data));
            document.head.appendChild(style);
            this.$store.dispatch('getData').then(() =>{
              this.status = 'done'
              if(this.$store.state.colors.hex2){
                this.$vuetify.theme.themes.light.primary = this.$store.state.colors.hex2;
              }
              if(this.$store.state.colors.hex1){
                this.$vuetify.theme.themes.light.secondary = this.$store.state.colors.hex1;
              }
              if(this.$store.state.colors.hex3){
                this.$vuetify.theme.themes.light.tertiary = this.$store.state.colors.hex3;
              }
              if(this.$store.state.colors.hex4){
                this.$vuetify.theme.themes.light.accent = this.$store.state.colors.hex4;
              }
            })
          })
        }).catch(response => {
          this.status = 'error'
          if ("data" in response.response.data) {
            this.errorMessage = response.response.data.data.message;
          }
        })
      })
      this.$router.afterEach((to, from) => {
        const dest = to.path.replace(/^\//, "");
        const parts = dest.split('/')
        if (typeof parts[0] === 'undefined') {
          return;
        }
        const sectionName = parts[0];
        const stepName = typeof parts[1] === 'undefined' ? null : parts[1];
        let index = 1;
        for (let section in this.getPathSections) {
          if (sectionName === this.getPathSections[section].section.path) {
            this.path.currentSection = this.getPathSections[section].section.section;
            this.$store.state.currentSectionIndex = index;
            if (stepName) {
              for (let step in this.getPathSections[section].steps) {
                if (stepName === this.getPathSections[section].steps[step].path) {
                  this.$store.commit('SET_STEP', this.getPathSections[section].steps[step])
                }
              }
            }
            return;
          }
          index++;
        }
      })
    },
    computed: {
      pathChoice() {
        return this.$route.path == '/'
      },
      expressChoice(){
        return this.$store.state.path.type.type == 'smartexpress'
      },
      getClass(){
        return {
          'logo-margin' : (this.$store.state.plan.providerLogoImage || this.$store.state.plan.sponsorLogoImage),
          'ex-pad': !(this.pathChoice || this.expressChoice)
        }
      },
      ...mapState([
        'footerLinks',
        'path',
        'retirementneeds'
      ]),
      ...mapGetters(['getPathSections','getEnabledPathSections'])
    },
    methods: {
      nextSection(completed = true) {
        if (completed)
          this.$store.commit('SET_SECTION_COMPLETED');
        let currentIndex = this.getEnabledPathSections.findIndex(section => section.name === this.path.currentSection);
        currentIndex++;
        if (typeof this.getEnabledPathSections[currentIndex] !== 'undefined') {
          this.changeSection(this.getEnabledPathSections[currentIndex].name);
        }
      },
      previousSection() {
        let currentIndex = this.getEnabledPathSections.findIndex(section => section.name === this.path.currentSection);
        currentIndex--;
        if (typeof this.getEnabledPathSections[currentIndex] !== 'undefined') {
          this.changeSection(this.getEnabledPathSections[currentIndex].name);
          return;
        }
        this.$router.push({path: '/'})
      },
      firstSection() {
        if (typeof this.getEnabledPathSections[0] !== "undefined") {
          this.changeSection(this.getEnabledPathSections[0].name)
          this.$store.state.currentSectionIndex = 1;
        }
      },
      changeSection(sectionName) {
        this.path.currentSection = sectionName;
        this.$router.push({'name': sectionName})
      }
    }
  }
</script>

<style lang="scss">
  @import "./styles/sass/base/_variables.sass";
  * {
    font-family: 'Roboto', sans-serif!important
  }
  html{
    font-size:1em!important
  }
  .logo-container{
    position:fixed!important;
    background-color:white!important;
    z-index:5;
    justify-content: center;
    align-items: center;
    height:100px;
  }
  .logo-row{
    display:flex!important;
    max-width: 1406px!important;
    margin: auto;
  }
  .logo-margin{
    margin-top:100px!important
  }
  .special-logo-margin{
    margin-top:98px!important
  }
  .main-content{
    max-width: 1232px!important;
  }
  .header-content{
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 1442px!important;
  }
  .toolbar-cont{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .v-content {
    background-color: $gray-1;
  }
  .main-nav.v-stepper {
    background: $gray-1!important;
    height: 100%
  }
  .close-button {
    min-width: 10px!important;
    height: 10px!important;
  }
  header {
    background-image: linear-gradient(to right, var(--v-primary-base), var(--v-accent-base));
  }
  .dialog-text {
    color: $gray-1;
    font-size: 18px
  }
  .v-stepper a {
    text-decoration: none;
    color: inherit!important
  }
  .v-snack__content {
    background-color: $blue-2
  }
  .lang {
    margin-top: -10px
  }
  @media only screen and (max-width: 599px) {
    .logo-img{
      max-width: 50%!important;
      height: auto!important
    }
    .logo-container{
      height: 100px!important;
    }
  }
  @media only screen and (max-width: 960px) {
    .plan-name {
      text-align: right!important
    }
    .v-content .container {
      padding: 0!important
    }
  }
  @media only screen and (min-width: 1264px) {
    .ex-pad {
      padding-left: 260px!important
    }
  }
</style>
