<div class ="content-area text" style ="padding:0px">
    <div class ="head-title"><label for="autoIncreaseSelect">{{ 'auto_escalate_your_contributions' | trans ({}, 'autoescalate') }}</label></div>
    <select id ="autoIncreaseSelect" class ="form-control" {% if not (autoIncrease.autoincreasemaxpct > 0 and autoIncrease.autoincreasemaxamount > 0) %}style="display:none"{%endif%}>
        {% if autoIncrease.autoincreasemaxpct > 0  %}<option {% if autoIncreaseSave.mode == "percent" %}selected{% endif %} value ="percent">{{ 'percent' | trans ({}, 'autoescalate') }}</option>{% endif %}
        {% if autoIncrease.autoincreasemaxamount > 0  %}<option {% if autoIncreaseSave.mode == "dollar" %}selected{% endif %} value ="dollar">{{ 'dollar' | trans ({}, 'autoescalate') }}</option>{% endif %}
    </select>
    {% set numberTemplate = "SpeAppBundle:Template:contributions/autoincrease/sectionprintnumber.html.twig" %}
    {% if autoIncrease.autoincreasemaxpct > 0 %}
    {% set params = {'maxfield': 'autoincreasemaxpct','minfield': 'autoincreaseminpct','incrementField': 'autoincreasepct','sourceFormat': 'percent','stepfield': 'incrementpct'} %}
    {% include "SpeAppBundle:Template:contributions/autoincrease/section.html.twig" with params %}  
    {% endif %}
    {% if autoIncrease.autoincreasemaxamount > 0 %}
    {% if autoIncrease.autoincreasemaxpct > 0 %}{% set hide = true %}{% endif %}
    {% set params = {'maxfield': 'autoincreasemaxamount','minfield': 'autoincreaseminamount','incrementField': 'autoincreaseamount','sourceFormat': 'dollar','stepfield': 'incrementamount'} %}
    {% include "SpeAppBundle:Template:contributions/autoincrease/section.html.twig" with params %}         
    {% endif %}

</div>
<div class ="actions">  
    <a class="actionBtn left">
        <span class="center action-button" onclick ="goBackToContributions()">{{ 'back'| trans ({}, 'global') }}</span>
    </a>
    <a class="actionBtn right" href="#" aria-label="proceed">
        <span class="center action-button" id ="proceedAutoIncrease">{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div> 
<div class="modal fade" id="autoIncreaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{{ 'optout' | trans ({}, 'autoescalate') }}</h4>
         </div>
         <div class="modal-body">
             {{ 'optout_desc' | trans ({}, 'autoescalate') }}
         </div>
         <div class="modal-footer" style ="border:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Opt out cancel">{{ 'optout_cancel' | trans ({}, 'autoescalate') }}</button>
            <button type="button" class="btn btn-primary" onclick = "processAutoIncrease(false)" aria-label="Opt out ok">{{ 'optout_ok' | trans ({}, 'autoescalate') }}</button>
         </div>
         <div class="modal-footer" style = "text-align:left">
            {{ 'optout_footer' | trans ({}, 'autoescalate') }}
         </div>
      </div>
   </div>
</div>
<script>
var deferrals = new Array();
var newDeferral;
{% if autoIncreaseSave.mode != "" %}
$(".deferralSource").hide();
$("#" + "deferralSource{{autoIncreaseSave.mode}}").show();    
{% endif %}
{% for deferral in autoIncrease.data %}
newDeferral = new Object();
newDeferral.source = "{{deferral.source }}";
deferrals.push(newDeferral);
{% endfor %}
$( "#autoIncreaseSelect" ).change(function() {
  $(".deferralSource").hide();
  $("#" + "deferralSource" +  $(this).val()).show();
});  
$( "#proceedAutoIncrease" ).click(function() 
{
    processAutoIncrease(true);
}); 
function goBackToContributions()
{
    $.post( "/contributions", function( data )
    {
        $('.content-area').html( data );       
        $('body').trigger('spe:router:redirect','contributions');
    });
}
function processAutoIncrease(validate)
{
    var scope = $("#deferralSource" + $("#autoIncreaseSelect").val());
    var transDeferrals = new Object();
    transDeferrals.mode = $("#autoIncreaseSelect").val();
    transDeferrals.deferrals = new Array();
    $.each(deferrals, function( index, deferral ) 
    {
       var element = scope.find("#autoIncreaseSourceCheckbox" + deferral.source);
       if (element.is(':checked'))
       {
           var transDeferral = deferral;
           {% if autoIncrease.user %}
           transDeferral.value  = scope.find("#autoIncreaseSourceInput" + deferral.source).val();
           transDeferral.date = scope.find("#autoIncreaseSourceDate" + $("#autoIncreaseSelect").val() +  deferral.source).val();
           {% else %} 
           transDeferral.value = element.val();
           {% endif %}
           transDeferral.value = parseFloat(transDeferral.value);   
           transDeferrals.deferrals.push(transDeferral);
       }
    });
    if (!transDeferrals.deferrals.length && validate)
    {
        $('#autoIncreaseModal').modal("show");
    }
    else
    {
        $.post( "/contributions/AutoIncreaseSaved",{"autoIncrease":transDeferrals }, function( data ) 
        {
            {{ include("SpeAppBundle:Template:contributions/finishcontributions.js.twig") }}
            {{ include("SpeAppBundle:Template:contributions/finishcontributions.js.twig") }}
        });    
    }
}
</script>
