{% if hide is not defined %}
{% set hide = false %}   
{% endif %}
{% set sourceMap = { 'A': 'pretax' | trans ({}, 'widget'), 'B': 'roth' | trans ({}, 'widget') } %}
<div id ="deferralSource{{ sourceFormat}}" {% if hide %}style ="display:none;width:100%"{% endif %} class ="deferralSource">
    <br/><br/>
    <strong style ="font-size:12px">{{ 'maximum_combined_increase' | trans ({}, 'autoescalate') }} {% include numberTemplate with {'number': autoIncrease[maxfield]} %} </strong> <br/>
    <br/><br/>
    <div style ="height:1px;background:#A4A4A4"></div>
    <br/><br/>
    <div class="row">
        <div class="col-md-7">
            <table width ="100%" style ="font-size:12px;line-height:30px">
                <tr style ="border-bottom: 1px solid #ddd;">
                    <td>
                        {{ 'target_monthly_contribution' | trans ({}, 'autoescalate') }}: 
                    </td>
                    <td style ="float:right">
                        <strong>${{ contributions.database.target | round(0,'floor') }}</strong>
                    </td>
                </tr>
                <tr >
                    <td>
                        {{ 'your_target_monthly_contribution' | trans ({}, 'autoescalate') }}: ({{ contributions.session.C_MonthlyContributionPercent }}%): 
                    </td>
                    <td style ="float:right">
                        <strong>${{ contributions.session.C_MonthlyContributionTotal }}</strong>
                    </td>
                </tr>
                {% for data in autoIncrease.data %}
                {% if autoIncrease.user %}
                <tr>
                    <td>
                        <input type ="checkbox"  id="autoIncreaseSourceCheckbox{{ data['source'] }}" {% if data[sourceFormat] is defined or data.defaultdefpct is not null %}checked{% endif %}  />  {{ 'auto_esclate_source_by' | trans ({}, 'autoescalate') | replace({"%value%":sourceMap[data['source']] }) }}
                    </td>
                    <td style ="float:right">
                        <select id ="autoIncreaseSourceInput{{ data['source'] }}" class ="form-control">
                            {% for i in range(low=data[minfield], high=data[maxfield], step=data[stepfield]) %}
                            <option value ="{{ i }}" {% if i == data[incrementField] %}selected{% endif %}>+{% include numberTemplate with {'number':  i} %} {{ 'per_year' | trans ({}, 'autoescalate') }}</option>
                            {% endfor %}
                        </select>
                        <input type ="text" id ="autoIncreaseSourceDate{{ sourceFormat }}{{ data['source'] }}" value ="{{ data['autoincreasestart'] }}"  placeholder ="Start Date" class ="form-control" />
                        <script>
                        $( "#autoIncreaseSourceDate{{ sourceFormat }}{{ data['source'] }}" ).datepicker({
                            format: "mm-dd-yyyy",
                             changeMonth: true,
                             changeYear: true,
                             yearRange: "-100:+0"
                         });        
                        </script>
                        <br/>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        <input type ="checkbox" style ="margin-left:20px" id="autoIncreaseSourceCheckbox{{ data['source'] }}" value ="{{ data[incrementField] }}" {% if data[sourceFormat] is defined or data.defaultdefpct is not null %}checked{% endif %}  /> {{ 'auto_esclate_source_by' | trans ({}, 'autoescalate') | replace({"%value%":sourceMap[data['source']] }) }}
                    </td>
                    <td style ="float:right">
                        +{% include numberTemplate with {'number':  data[incrementField]} %} {{ 'per_year' | trans ({}, 'autoescalate') }}
                    </td>
                </tr>
                {% endif %}

                {% endfor %}
                {% if contributions.session.C_MonthlyContributionTotalEmployer  is defined %}
                <tr style ="border-top: 1px solid #ddd;">
                    <td>
                        {{ 'your_employer_monthly_contribution' | trans ({}, 'autoescalate') }}({{ contributions.session.C_MatchingPercent }}%):
                    </td>
                    <td style ="float:right">
                        <strong>${{ contributions.session.C_MonthlyContributionTotalEmployer }}</strong>
                    </td>
                </tr>  
                {% endif %}
            </table>
        </div>
        <div class="col-md-5">
            <div style="font-size:12px;">
                {{ 'right_description_1' | trans ({}, 'autoescalate') }}
                <br/><br/>
                {{ 'right_description_2' | trans ({}, 'autoescalate') }}
                <br/><br/>
                {{ 'right_description_3' | trans ({}, 'autoescalate') }}
                <br/><br/>
                {{ 'right_description_4' | trans ({}, 'autoescalate') }}
                <br/><br/>
            </div>
            {{ 'right_description_5' | trans ({}, 'autoescalate') }}
        </div>
    </div>
</div>

