{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Autos'})) }}

<h2>Autos</h2>
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<form action="" method="POST" id="autosForm">
    <h3>Auto Enroll</h3>
    <div class="form-group">
        <label>Enabled</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[enabled]" value="1" {% if autoEnroll.enabled %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[enabled]" value="0" {% if not autoEnroll.enabled %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Type</label>
        <div>
            
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[type]" value="dollar" {% if autoEnroll.type is empty or autoEnroll.type == 'dollar' %}checked{% endif %}> Dollar
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[type]" value="percent" {% if autoEnroll.type == 'percent' %}checked{% endif %}> Percent
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="pre">Pre</label>
        <input type="text" class="form-control" id="pre" name="autoEnroll[pre]" value="{{ autoEnroll.pre }}">
    </div>
    <div class="form-group">
        <label for="roth">Roth</label>
        <input type="text" class="form-control" id="roth" name="autoEnroll[roth]" value="{{ autoEnroll.roth }}">
    </div>
    <div class="form-group">
        <label for="post">Post</label>
        <input type="text" class="form-control" id="post" name="autoEnroll[post]" value="{{ autoEnroll.post }}">
    </div>
    <div class="form-group">
        <label>Default Fund</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[defaultFund]" value="1" {% if autoEnroll.defaultFund %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[defaultFund]" value="0" {% if not autoEnroll.defaultFund %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Default Fund Based On Age</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[defaultFundBasedOnAge]" value="1" {% if autoEnroll.defaultFundBasedOnAge %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoEnroll[defaultFundBasedOnAge]" value="0" {% if not autoEnroll.defaultFundBasedOnAge %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="autoEnrollDefaultFundName">Default Fund Name</label>
        <input type="text" class="form-control" id="autoEnrollDefaultFundName" name="autoEnroll[defaultFundName]" value="{{ autoEnroll.defaultFundName }}">
    </div>
    <div class="form-group">
        <label for="autoEnrollDefaultFundTicker">Default Fund Ticker</label>
        <input type="text" class="form-control" id="autoEnrollDefaultFundTicker" name="autoEnroll[defaultFundTicker]" value="{{ autoEnroll.defaultFundTicker }}">
    </div>
    <div class="form-group">
        <label for="autoEnrollMoneyHolderFundName">Money Holder Fund Name</label>
        <input type="text" class="form-control" id="autoEnrollMoneyHolderFundName" name="autoEnroll[moneyHolderFundName]" value="{{ autoEnroll.moneyHolderFundName }}">
    </div>
    <div class="form-group">
        <label for="autoEnrollMoneyHolderFundTicker">Money Holder Fund Ticker</label>
        <input type="text" class="form-control" id="autoEnrollMoneyHolderFundTicker" name="autoEnroll[moneyHolderFundTicker]" value="{{ autoEnroll.moneyHolderFundTicker }}">
    </div>
    <div class="form-group">
        <label for="autoEnrollDaysInMoneyHolder">Days In Money Holder</label>
        <input type="text" class="form-control" id="autoEnrollDaysInMoneyHolder" name="autoEnroll[daysInMoneyHolder]" value="{{ autoEnroll.daysInMoneyHolder }}">
    </div>
    
    <h3>Auto Escalate</h3>
    <div class="form-group">
        <label>Enabled</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoEscalate[enabled]" value="1" {% if autoEscalate.enabled %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoEscalate[enabled]" value="0" {% if not autoEscalate.enabled %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="autoEscalateStartDate">Start Date</label>
        <input type="text" class="form-control datepicker" id="autoEscalateStartDate" name="autoEscalate[startDate]" value="{{ autoEscalate.startDate is empty ? "" : autoEscalate.startDate|date('Y-m-d') }}">
    </div>
    <div class="form-group">
        <label for="autoEscalateFundName">Fund Name</label>
        <input type="text" class="form-control" id="autoEscalateFundName" name="autoEscalate[fundName]" value="{{ autoEscalate.fundName }}">
    </div>
    <div class="form-group">
        <label for="autoEscalateFundTicker">Fund Ticker</label>
        <input type="text" class="form-control" id="autoEscalateFundTicker" name="autoEscalate[ticker]" value="{{ autoEscalate.ticker }}">
    </div>
    <div class="form-group">
        <label for="autoEscalatePercent">Default Amount</label>
        <input type="text" class="form-control" id="autoEscalatePercent" name="autoEscalate[percent]" value="{{ autoEscalate.percent }}">
    </div>
    <div class="form-group">
        <label for="autoEscalatePre">Pre</label>
        <input type="text" class="form-control" id="autoEscalatePre" name="autoEscalate[pre]" value="{{ autoEscalate.pre }}">
    </div>
    <div class="form-group">
        <label for="autoEscalateRoth">Roth</label>
        <input type="text" class="form-control" id="autoEscalateRoth" name="autoEscalate[roth]" value="{{ autoEscalate.roth }}">
    </div>
    <div class="form-group">
        <label for="autoEscalatePost">Post</label>
        <input type="text" class="form-control" id="autoEscalatePost" name="autoEscalate[post]" value="{{ autoEscalate.post }}">
    </div>
    <h3>Auto Increase</h3>
    <div class="form-group">
        <label>Enabled</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[enabled]" value="1" {% if autoIncrease.enabled %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[enabled]" value="0" {% if not autoIncrease.enabled %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="autoIncreaseStartDate">Start Date</label>
        <input type="text" class="form-control datepicker" id="autoIncreaseStartDate" name="autoIncrease[startDate]" value="{{ autoIncrease.startDate is empty ? "" : autoIncrease.startDate|date('Y-m-d') }}">
    </div>
    <div class="form-group">
        <label>Frequency Enabled</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[frequencyEnabled]" value="1" {% if autoIncrease.frequencyEnabled %}checked{% endif %}> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[frequencyEnabled]" value="0" {% if not autoIncrease.frequencyEnabled %}checked{% endif %}> No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="autoIncreaseFrequency">Frequency</label>
        <select class="form-control" id="autoIncreaseFrequency" name="autoIncrease[frequency]">
            <option value="monthly" {% if autoIncrease.frequency is empty or autoIncrease.frequency == 'monthly' %}selected{% endif %}>Monthly</option>
            <option value="quarterly" {% if autoIncrease.frequency == 'quarterly' %}selected{% endif %}>Quarterly</option>
            <option value="semi-annual" {% if autoIncrease.frequency == 'semi-annual' %}selected{% endif %}>Semi-Annual</option>
            <option value="annual" {% if autoIncrease.frequency == 'annual' %}selected{% endif %}>Annual</option>
        </select>
    </div>
    <div class="form-group">
        <label for="autoIncreaseAmountLimit">Amount Limit</label>
        <input type="text" class="form-control" id="autoIncreaseAmountLimit" name="autoIncrease[amountLimit]" value="{{ autoIncrease.amountLimit }}">
    </div>
    <div class="form-group">
        <label for="autoIncreasePercentLimit">Percent Limit</label>
        <input type="text" class="form-control" id="autoIncreasePercentLimit" name="autoIncrease[percentLimit]" value="{{ autoIncrease.percentLimit }}">
    </div>
    <div class="form-group">
        <label for="autoIncreaseTimeLimit">Time Limit</label>
        <input type="text" class="form-control" id="autoIncreaseTimeLimit" name="autoIncrease[timeLimit]" value="{{ autoIncrease.timeLimit }}">
    </div>
    <div class="form-group">
        <label>Type</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[type]" value="dollar" {% if autoIncrease.type is empty or autoIncrease.type == 'dollar' %}checked{% endif %}> Dollar
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[type]" value="percent" {% if autoIncrease.type == 'percent' %}checked{% endif %}> Percent
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Amount Decimal Places</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[amountDecimalPlaces]" value="0" {% if autoIncrease.amountDecimalPlaces is empty or autoIncrease.amountDecimalPlaces == 0 %}checked{% endif %}> 0
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[amountDecimalPlaces]" value="1" {% if autoIncrease.amountDecimalPlaces == 1 %}checked{% endif %}> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="autoIncrease[amountDecimalPlaces]" value="2" {% if autoIncrease.amountDecimalPlaces == 2 %}checked{% endif %}> 2
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="autoIncreasePre">Pre</label>
        <input type="text" class="form-control" id="autoIncreasePre" name="autoIncrease[pre]" value="{{ autoIncrease.pre }}">
    </div>
    <div class="form-group">
        <label for="autoIncreaseRoth">Roth</label>
        <input type="text" class="form-control" id="autoIncreaseRoth" name="autoIncrease[roth]" value="{{ autoIncrease.roth }}">
    </div>
    <div class="form-group">
        <label for="autoIncreasePost">Post</label>
        <input type="text" class="form-control" id="autoIncreasePost" name="autoIncrease[post]" value="{{ autoIncrease.post }}">
    </div>
    <div class="form-group">
        <label for="autoIncreaseIncreaseCap">Increase Cap</label>
        <input type="text" class="form-control" id="autoIncreaseIncreaseCap" name="autoIncrease[increaseCap]" value="{{ autoIncrease.increaseCap }}">
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script>
    $('#autosForm').on('submit', function(event) {
        event.preventDefault();
        {% set route = app.request.get('_route') == '_plans_autos' ? '_plans_autos_save' : '_settings_autos_save' %} 
        $.post('{{ path(route) }}', $(this).serialize(), function(response) {
            if (response === 'success') {
                showalert('saved-alert');
            }
        });
    });
    
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd"
    });
    function toggleAutosEnabled(id)
    {
        if($( id ).val())
        {
            $( id ).each(function() 
            {
                $(this).prop("checked",$(this).val() == "0");
            });
        }        
    }
    $( "[name='autoIncrease[enabled]']" ).change(function() 
    {     
        if ($(this).val() == "1")
        {
            toggleAutosEnabled("[name='autoEscalate[enabled]']");
        }
    });
    $( "[name='autoEscalate[enabled]']" ).change(function() 
    {       
        if ($(this).val() == "1")
        {
            toggleAutosEnabled("[name='autoIncrease[enabled]']");
        }
    });
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}