<div id="errormsg" class="alert alert-danger" role="alert"><b>Warning!</b> Please make sure this directory isn't in use before deleting.</div>
<table class="table">
	<tr class="active">
		<td>
			Directory Name
		</td>
	</tr>
	<tr>
		<td>
			{{ directory.directory }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deletedirectory({{ directory.id }})">Delete</button>
		</td>
	</tr>
</table>