<h3 id ="sponsorRequestDateHtml">{{sponsorRequest.datehtml | raw }}</h3>
    <input type='text' readonly placeholder ="Date" class="form-control sponsorConnectTextField" style ="width:30%;display:inline;cursor:pointer;background:white" id ="scheduledate" value ="{{sponsorRequest.date}}" required /> <input type='text' readonly placeholder ="Time" class="form-control sponsorConnectTextField" style ="width:30%;display:inline;cursor:pointer;background:white" id ="scheduletime" value ="{{sponsorRequest.time}}" required /> 
