{% set pagename = 'Employee Email List' %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
<h4>Uploaded by:  {{ sponsorUploadBy}}</h4>
<h3>{{ pagename }}</h3>
{% set table = "launchToolRecipients" %}
{% set tablename = table %}
{% set header = "<th>Id</th><th>List Date</th><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Enrolled</th>" %}
{% set types = "a.id,a.uploadDate,a.firstName,a.lastName,a.email,a.enrolled" %}
{% set findby = "a.planid" %}
{% set findbyvalues = plan.id %}
{% set template =  'PlansPlansBundle:SponsorConnect:Search/userlist.html.twig' %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<br/>
<button class ="btn btn-primary" onclick ="sponsorConnectExportList()">Export to Csv</button>  
<br/><br/>
<img src ="{{ asset('images/load-icon.gif') }}" id ="userListLoader" style ="display:none"  />
<h3>Upload <a href = "{{ asset('smartconnect/template.csv') }}"> <button class ="btn btn-primary pull-right">Format Csv</button></a></h3>
<form id ="uploadCsv" method= "post" action = "{{ path('_plans_sponsor_connect_emaillist') }}" enctype="multipart/form-data">
    <input type ="file" name ="csvFile" required />
    <br/>
    <button type ="submit" class ="btn btn-primary">Upload CSV</button>
</form>
<script>
function uploadEmailList()
{
    alert('email list uploaded');
}
function sponsorConnectExportList()
{
    var page = "{{ path('_plans_sponsor_connect_sponsorListExportToCsv') }}";
    window.location = page;
}
$("#uploadCsv").submit(function(event)
{
  event.preventDefault();
  var formData = new FormData($("#uploadCsv")[0]);
  $.ajax(
  {
    url:$(this).attr("action"),
    type: 'POST',
    data: formData,
    async: false,
    success: function (data)
    {
        launchToolRecipientsTable.fnDraw(false);
        modalMessage('Email List uploaded');
    },
    error: function (data)
    {       
        modalMessage('Email List failed to upload');
    },    
    cache: false,
    contentType: false,
    processData: false

  });
});
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}