<h3>From</h3>
{% set sections = fromSections %}
{{ include('PlansPlansBundle:SponsorConnect:viewpropertiesprintsection.html.twig') }}
<h3>To</h3>
{% set sections = toSections %}
{{ include('PlansPlansBundle:SponsorConnect:viewpropertiesprintsection.html.twig') }}