{% extends 'PlansPlansBundle:Outreach:Templates/group3/index.html.twig' %}
{% block footerimg %}catchup_firework_50.png{% endblock %}
{% block leftimg %}catchup_firework_50_left.png{% endblock %}
{% block rightimg %}catchup_firework_50_right.png{% endblock %}
{% block leftcolor %}#030100{% endblock %}
{% block rightcolor %}#030100{% endblock %}