{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >





        <tr>
<td width = "50%">

</td>
<td width = "800" >
<table width = "800" cellspacing="0" cellpadding = "0" >
<tr>
<td width = "98" bgcolor = "{% block leftcolor %}white{% endblock %}">
<img src = "http://b0e058340c7d07bdea1c-b456d22fab29a58d964e597ef85a0063.r11.cf1.rackcdn.com/{% block leftimg %}index-left.png{% endblock %}" alt = "header-left" width = "98" />

</td>
<td width = "604">
<table width = "604">
<tr>
<td align = "left">
{{ leftImage | raw }}</td>

<td align = "right">
{{ rightImage | raw }}
</td>
</tr>
</table>
</td>

<td width = "98" bgcolor = "{% block rightcolor %}white{% endblock %}">
<img src = "http://b0e058340c7d07bdea1c-b456d22fab29a58d964e597ef85a0063.r11.cf1.rackcdn.com/{% block rightimg %}index-right.png{% endblock %}" alt = "header-right" width = "98" />

</td>
</tr>

</table>

<a href = "{{ link }}"><img src = "http://b0e058340c7d07bdea1c-b456d22fab29a58d964e597ef85a0063.r11.cf1.rackcdn.com/{% block footerimg %}index.png{% endblock %}" border = "0" width = "800" alt = "body-image" /></a>





</td>
<td width = "50%">
</td>
</tr>



</table>

{% endblock %}
