{{ assets.name }}
<br/><br/>
<button class ="btn btn-warning" onclick = "deleteAsset()">Delete</button>
<script>
function deleteAsset()
{
    var page = "{{ path('_manage_outreach_assetmanager_delete_saved') }}";
    var querystring = "id={{assets.id}}";
    $.post(page, querystring).done(function(data) 
    {
        assetsTable.fnDraw(false);
        closeLightBox();        
    });
}
</script>