<form id ="editAsset" style = "line-height:15px">
    <input type ="text" name ="name" id ="fileName" value ="{{ assets.name }}" class ="form-control" placeholder ="Enter asset name" required />
    <br/>
    <input type ="file" name ="fileUpload" id ="fileUpload" style ="border:0"  />
    <br/>
    <button class ="btn btn-primary">Save</button>
    <div id ="assetLoader" style = "display:none"><br/><img src ="{{ asset('images/load-icon.gif') }}" /></div>

</form>
<script>
$( document ).ready(function()
{
    $( "#editAsset" ).submit(function( event ) 
    {
        event.preventDefault();
        var form_data = new FormData();
        $("#assetLoader").show();

        if ($("#fileUpload").val() != "")
        {
            var fileName = $("#fileUpload").prop("files")[0]["name"];
            var fileContent = $("#fileUpload").prop("files")[0];
            form_data.append("fileContent", fileContent);
            
        }
        form_data.append("name",$('#fileName').val());
        form_data.append("id","{{assets.id}}");
        $.ajax(
         {
            method: "POST",
            url: "{{path('_manage_outreach_assetmanager_edit_saved')}}",
            data: form_data,
            contentType: false,
            processData: false
        })
        .done(function (data) 
         {
             assetsTable.fnDraw(false);
             closeLightBox();
         });
    });
});
</script>
