{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Asset Manager'})) }}
{% include ("ManageManageBundle:Outreach:assetmanager/body.html.twig") %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

