<div id="error-message" class="bg-secondary">
	<div class="message-container center">
		<h2>Oops, something went wrong.</h2>
		<p>Please refresh the page.</p>
		<button id="refresh" class="button transparent">Refresh</button>
	</div>
</div>
