<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Type Name cannot include spaces.</div>
<table class="table">
	<tr class="active">
		<td>
			Type Name
		</td>
		<td>
			Display Name
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group" id="divTypeName">
				<input value = "" placeholder = "importantinformation" id = "typename" class = "form-control"  />
			</div>
		</td>
		<td>
			<div class="form-group" id="divDisplayName">
				<input value = "" placeholder = "Important Information" id = "displayname" class = "form-control"  />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-success" onclick = "addtype()">Add</button>
		</td>
	</tr>
</table>