<div id="errormsg" class="alert alert-danger" role="alert"><b>Warning!</b> Please make sure this video type isn't in use before deleting. All references to this type will be broken.</div>
<table class="table">
	<tr class="active">
		<td>
			Type Name
		</td>
		<td>
			Display Name
		</td>
	</tr>
	<tr>
		<td>
			{{ type.type }}
		</td>
		<td>
            {{ type.displayname }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deletetype({{ type.id }})">Delete</button>
		</td>
	</tr>
</table>